[2016-10-14 08:07] #147 closed

[2016-10-14 12:55] skipjack opened #246 "Fix Table Styling (esp. on mobile)"
As mentioned in #244, we need to figure out a way to better handle markdown tables.

I'm pushing a quick fix in 6a95c83 to #225 but if others have better ideas please discuss here.

[2016-10-14 12:56] skipjack opened #247 "Mobile Sidebar"
Stub to discuss the best approach and figure out who will finish this off.

[2016-10-14 13:40] SpaceK33z commented on #13
We could use the content of @jhnns's blog post about [how to cope with broken modules here](https://medium.com/webpack/how-to-cope-with-broken-modules-in-webpack-4c0427fb23a) (this was suggested on Slack).

[2016-10-14 14:35] TheLarkInn opened #248 "Add open collective banner information"
Open Collective has a nice [document](https://github.com/OpenCollective/OpenCollective/wiki/Website-banner) for how to add our open collective banner information to the webpage.

This would probably just live in the bottom of the landing page for now. If we would like to experiment with different badges or things in like the header or footer we could do so, but for now I would just like to have th

[2016-10-14 22:33] manekinekko commented on #50
@TheLarkInn sorry for the delay. I was preparing for some upcoming confs.
Here is the PR https://github.com/webpack/webpack.js.org/pull/249

[2016-10-15 03:09] TheLarkInn commented on #50
No pressure at all, just wanted to offer help if you need it.

[2016-10-15 03:25] TheLarkInn commented on #248
Looking into this further the script is probably not best suited for our needs. Rather, we should use the html inside that is being used.

[code]

[2016-10-15 08:43] SpaceK33z opened #251 "External links don't work in development"
When clicking on an external link, you get this message in the console:

[code]

... and nothing happens. This is because all links get fed to the router directly. We should detect if it's an external link and don't feed it to the router in that case.

[2016-10-15 08:46] SpaceK33z commented on #248
I agree with your last comment, less external scripts = better :).

[2016-10-15 08:48] bebraw commented on #248
Merged the PR, closing.

[2016-10-15 08:48] #248 closed

[2016-10-15 08:51] #251 closed

[2016-10-15 09:46] SpaceK33z commented on #66
Fixed in 610cf2515a4be760db1cd52a8b679f141dd7b86e

Also tested it myself and it works!

[2016-10-15 09:46] #66 closed

[2016-10-15 17:03] skipjack commented on #66
Works on develop with @bebraw's 610cf2515 but doesn't isn't hooked up to the button in the Sidecar but instead adds that button at the bottom, it seems what @SpaceK33z did, using the special class, should work or using:

[code]

Yet I tried both of these and neither did. I think it might have something to do with the fact that the element is rendered after that script runs. For some reason even th

[2016-10-15 17:20] bebraw commented on #66
@skipjack Can you try against the current `develop` version? Works for me if I build it (`npm run build`).

[2016-10-15 17:27] skipjack commented on #66
@bebraw Ah you're right! so it's just an issue on the dev-server then. We should get rid of the extra "Open Chat" button at the bottom though, I believe we can do that by adding:

[code]

Not too big a deal if it doesn't work on the dev-server for now.

[2016-10-15 17:29] bebraw commented on #66
@skipjack It actually works during development for me. But yeah, production matters the most. I'll add that flag there. Good point.

[2016-10-15 17:36] bebraw commented on #184
@dzello Could you provide us the api key + webpack id for Algolia API? It should be straight-forward to set up after that once you have indexing going (just did integration of my own).

[2016-10-16 04:49] NejcZdovc commented on #239
So, should I start working on this?

[2016-10-16 04:50] TheLarkInn commented on #239
Love it lets do it!

[2016-10-16 05:10] NejcZdovc commented on #247
1. Align hamburger with a content (add spacing), increase size of it
2. Align logo to the center of the header
3. Increase font size, add more spacing between
4. Add active state for the current page
5. When clicking on link side menu should close
6. Increase clicking area for arrow (increase size of the icon) so it's easier for click on it
7. Remove sliding effect when resizing to mobile screen
8

[2016-10-16 05:26] skipjack commented on #247
@NejcZdovc it's completely different now, closer to @KyleAMathews design. I'll add a screenshot soon, but definitely feel free to run it on the dev-server and tell me what you think.

[2016-10-16 05:43] NejcZdovc commented on #247
@skipjack I see it now I was working on wrong branch will check out #254.

[2016-10-16 05:54] NejcZdovc commented on #246
I would do something like this:

**Desktop:**

![image](https://cloud.githubusercontent.com/assets/9574457/19415594/ef439d80-9374-11e6-9d6b-9189351bba50.png)

**Mobile:**

![image](https://cloud.githubusercontent.com/assets/9574457/19415483/fa35696a-9371-11e6-891f-aa01b67c3378.png)

One thing that can maybe improve table also on desktop. On page we have a lot of tables with very important data (AP

[2016-10-16 06:07] NejcZdovc commented on #247
As I already said in my first comment I would change header to something like this:

![image](https://cloud.githubusercontent.com/assets/9574457/19415666/69d36696-9377-11e6-9ca1-7d85c44db437.png)

Other than that I will wait for the full functionality and then take it for another spin 😃

[2016-10-16 09:04] NejcZdovc commented on #247
I would also add donate button on the right side if proposal from #246 will be accepted (mobile first approach).

[2016-10-16 10:08] pksjce commented on #246
@NejcZdovc - This is the problem table that @skipjack  is trying to fix.
Its a table of how values in `resolve.alias` are resolved in relative and module path requires.
Can you think  of some alternate way to show this data?
<img width="991" alt="screen shot 2016-10-16 at 3 35 59 pm" src="https://cloud.githubusercontent.com/assets/417268/19416753/6d3ea2fc-93b6-11e6-95fe-68a265f1aa79.png">
<img wid

[2016-10-16 10:32] NejcZdovc commented on #246
@pksjce My suggestion is that we move side menu out, so that we have a lot more space. Also set max-width to the 1200px from 1024px. For mobile we create alternative table (almost the same HTML as now, just some CSS magic).

### When your screen is bigger then 1200px
![image](https://cloud.githubusercontent.com/assets/9574457/19416858/1ceb9216-939c-11e6-958e-7503d0066b9d.png)

### When is around 8

[2016-10-16 10:40] NejcZdovc commented on #246
We can playaround with break points when should we move to the alternative table.

[2016-10-16 15:13] NejcZdovc opened #256 "Menu rendering"
Created based on #255.

[2016-10-16 15:38] NejcZdovc commented on #256
Some other improvements:

- When you click on menu with submenu, submenu should open
- When you switch to other menu (for example from DevServer to DevTool), previous submenu should close

[2016-10-16 17:21] #239 closed

[2016-10-16 19:27] dzello commented on #184
@bebraw Yes, will provide once I have indexing going. In the meantime for development or testing you could use the DocSearch index for the existing site. App Id: `bh4d9od16a`, API Key: `93950c6eda05068a6f0649e4a7f7546e`, Index name: `webpack`.

[2016-10-16 20:51] skipjack commented on #247
Yea I think centering the logo on smaller viewports is definitely a good idea.

[2016-10-16 21:13] skipjack commented on #246
Personally I think keeping the Sidebar on the side is better, however we are planning to make it sticky so the user can always navigate despite where they are on the page. Maybe we have one bigger breakpoint than the current `large` one but honestly I think it's fine the way it is right now. For readability I think keeping all content at a max width of about 90 - 95 characters is best (see #191).

[2016-10-16 21:30] SpaceK33z commented on #246
Agreed completely, this is very [important for readability](https://www.smashingmagazine.com/2014/09/balancing-line-length-font-size-responsive-web-design/).

[2016-10-16 22:20] danez opened #257 "devServer.contentBase can also be a domain or port number"
Currently the `contentBase` docs only say that `contenBase` should be a path or array of paths, but it can also be a full domain or a port number. At least according to the source-code, not sure if there are plans to remove this.

https://webpack.js.org/configuration/dev-server/#devserver-contentbase
https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L241..L256

[2016-10-16 22:30] SpaceK33z commented on #257
Good point. It is still present in the source code, but honestly, I don't even know if it works. I recently removed the feature to use contentBase as a proxy (https://github.com/webpack/webpack-dev-server/issues/582), and I'm not sure yet if we should also remove the feature to use it with a full domain or port number. With the `proxy` option you can do almost the same + it's way more powerful.

I

[2016-10-17 05:03] rmccue opened #258 "Document electron-main (previously electron) and electron-renderer"
Per https://github.com/webpack/webpack/issues/1463 `electron-renderer` is the target to use for the content, but this isn't documented anywhere.

[2016-10-17 10:26] pksjce commented on #12
Is there anything more to be done on the issue?

[2016-10-17 10:29] bebraw commented on #12
Yeah, looks like this one is safe to close. Thanks!

[2016-10-17 10:29] #12 closed

[2016-10-17 11:21] bebraw commented on #181
Made some progress on this. Waiting for https://github.com/Munter/hyperlink/issues/104 and https://github.com/Munter/hyperlink/issues/105 to be resolved. After that we are good to go with link checking.

[2016-10-17 11:34] bebraw commented on #25
Time to close this one given there's an entire section on configuration now.

[2016-10-17 11:34] #25 closed

[2016-10-17 11:37] bebraw commented on #10
[Online already](https://webpack.js.org/concepts/output/). Just forgot to close this one.

[2016-10-17 11:37] #10 closed

[2016-10-17 11:38] pksjce commented on #13
@SpaceK33z - I will pick this up. Thats a great article!

[2016-10-17 11:38] bebraw commented on #153
Closing in favor of #13.

[2016-10-17 17:38] wearhere commented on #13
That article appears to be a good resource for shimming browser globals (tip 2) and module systems (tips 3 and 4). I would love to also see documentation for shimming Node globals/built-ins—I think that's one of the most magical parts of Webpack (in a not-entirely good way) insofar as it happens without the developer telling Webpack to do so. See #153.

Excerpted from that issue, some topics to co

[2016-10-17 21:54] montogeek opened #259 "Backers design"
Hi!

Currently splash page shows backers list, like this:
![screen shot 2016-10-17 at 16 50 25](https://cloud.githubusercontent.com/assets/1002461/19456998/e87c5bb6-9489-11e6-8ea3-39c745a1f20a.png)

I checked Splash design https://github.com/skipjack/webpack-design/blob/master/Splash.psd, but not found information about how should it look.

I want to help fixing it!

[2016-10-17 22:46] skipjack commented on #259
@montogeek yea it definitely needs fixing. The design is pretty outdated at this point so I wouldn't refer to it anymore and the sponsor's section was added recently.

Did you have an idea about how to fix it? I was thinking about trying to wrap them but since it's an svg it's not easy fix. Let me know your thoughts, and check out #260 for the latest splash page design.

[2016-10-17 22:48] skipjack commented on #32
#260 is finally up! Let's move this conversation over there, other issues can be created down the road to discuss further changes.

[2016-10-17 22:48] #32 closed

[2016-10-18 06:14] NejcZdovc commented on #256
@skipjack Will #254 address this things or should I go for it and also can I add sticky menu as discussed in #246?

[2016-10-18 08:18] Munter commented on #181
Hyperlink 2.5.0 should have what you need now

[2016-10-18 08:20] bebraw commented on #181
Yeah, working great. Just setting this up. 👍

[2016-10-18 08:24] #181 closed

[2016-10-18 11:58] skipjack commented on #256
#254 is more for the mobile sidebar. Once that one's merged I'd be happy for you to take a stab at finishing off the normal Sidebar component.

I'm about to push some commits to that now so I think we'll have it merged either today or tomorrow.

[2016-10-18 14:35] SpaceK33z opened #262 "Update url's to webpack.js.org"
When we release webpack v2 and these new docs, we need to update `https://webpack.github.io` to `https://webpack.js.org` in many places. This issue exists to keep track of those places:
- [x]  [webpack repo](https://github.com/webpack/webpack) description
- [x] webpack core code
- [x] [JS Foundation Projects page](https://js.foundation/projects/)
- [x] [webpack-dev-server readme](https://github.co

[2016-10-18 14:40] bebraw commented on #262
What if we cheated a bit and added rerouting on the landing page? We can add a link to the new site pointing to http://webpack.github.io/docs/ for legacy users.

[2016-10-18 14:58] SpaceK33z commented on #262
Okay, that's a short term solution. Still a bit nicer to actually fix the url though :).

[2016-10-19 05:00] NejcZdovc commented on #259
@skipjack I think this can be closed.

[2016-10-19 05:20] #259 closed

[2016-10-19 09:38] SpaceK33z commented on #257
I've officially deprecated the domain and port usages now in https://github.com/webpack/webpack-dev-server/commit/61b46bac419fc496852cb1b94e0b49451631a0e6.

I searched through the commits to find out why this was introduced at all, but apparently this was before the `proxy` option was a thing.

[2016-10-19 09:38] #257 closed

[2016-10-19 09:42] bebraw commented on #130
Closing in favor of #37 as plugin error handling should get covered in that doc.

[2016-10-19 09:42] #130 closed

[2016-10-19 09:43] bebraw commented on #121
@pksjce Do you want to give it a go with the current docs? Curious about the results.

[2016-10-19 09:45] bebraw commented on #117
This shouldn't be an issue in the current docs as far as I understand. Closing.

[2016-10-19 09:45] #117 closed

[2016-10-19 09:47] bebraw commented on #91
Merged so closing.

[2016-10-19 09:47] #91 closed

[2016-10-19 09:47] danez commented on #257
Nice, then I can also remove it from grunt-webpack now for the upcoming v2

[2016-10-19 09:47] bebraw commented on #89
There are plenty of linters in place already. Closing.

[2016-10-19 09:47] #89 closed

[2016-10-19 09:49] SpaceK33z commented on #257
Awesome. I hope not too many people will complain about this. `proxy` does essentially the same and is wayyy more powerful, but it *may* work a bit different in the details. This is a situation where I would really wanted to have usage stats...

[2016-10-19 09:49] bebraw commented on #31
Probably safe to close now that most of the infrastructure is done. We are missing that gordon bit, but that can be discussed later.

[2016-10-19 09:49] #31 closed

[2016-10-19 09:53] bebraw commented on #45
@ahfarmer Would it make sense to join forces here given you maintain [a list like this](http://andrewhfarmer.com/starter-project/) already? It would push the scope a notch (not just React), but at least we would have it all in one place then.

[2016-10-19 09:55] #23 closed

[2016-10-19 09:55] bebraw commented on #240
Closed via #234.

[2016-10-19 09:55] #240 closed

[2016-10-19 10:42] SpaceK33z commented on #137
This would be covered by #13, so closing.

[2016-10-19 10:42] #137 closed

[2016-10-19 10:46] SpaceK33z commented on #105
This would be covered by #3.

[2016-10-19 10:46] #105 closed

[2016-10-19 10:47] SpaceK33z commented on #63
Note that this topic has huge overlaps with #13.

[2016-10-19 10:50] pksjce commented on #121
Sure! Sounds interesting.

[2016-10-19 11:02] bebraw commented on #13
Please take a note of https://github.com/webpack/webpack.js.org/issues/63#issuecomment-237858705 . That's fitting info for this article.

[2016-10-19 11:02] bebraw commented on #63
Yeah. Closing this in favor of #13. I added a mention there that we won't forget that comment.

[2016-10-19 11:02] #63 closed

[2016-10-19 11:09] pksjce commented on #13
Will be sure to include it.

[2016-10-19 13:01] TheLarkInn commented on #258
Thank you we should definitely have information on each target. If I point you to the right place in the src would you have interest in documenting it and submitting a PR?

[2016-10-19 13:14] montogeek commented on #262
Can I fix this?

[2016-10-19 16:42] kborchers commented on #262
@bebraw Moving over here from https://github.com/JSFoundation/js.foundation/pull/20

Is there any reason to not use a project specific domain now that the JS Foundation owns webpackjs.org, would maintain it and could also provide other services around DNS management, DDoS protection, etc.?

[2016-10-19 17:05] jhnns opened #263 "Add LICENSE"
@bebraw @TheLarkInn @SpaceK33z What license do we choose for our docs page? If we add a license, we need to make sure that the fonts and the logo are excluded. See #173.

[2016-10-19 17:06] jhnns commented on #173
Awesome, thank you @skipjack :)

[2016-10-19 17:06] #173 closed

[2016-10-19 17:08] bebraw commented on #263
One of the [Creative Commons](https://creativecommons.org/) variants might work. I might pick CC BY myself so people can reuse the content however they like while having to attribute. There are more restrictive options too if you prefer those.

[2016-10-19 17:12] jhnns opened #264 "Integrate webpack bin"
Have we talked about integrating [webpack bin](http://www.webpackbin.com/EkWNOqxyG) yet? I think it would be cool to get an interactive playground on the site without needing to install anything. We talked about that a little bit at #32 already.

Maybe @christianalfoni wants to join that discussion?

[2016-10-19 17:15] bebraw commented on #264
Related commentary: https://github.com/webpack/webpack.js.org/pull/222#issuecomment-253502068 .

[2016-10-19 17:16] bebraw commented on #264
If you check #222, you can see we can get something limited fairly easily up and running. It's not the same, but I have a feeling it would get us close to a cool solution without having to rely on a third party service and while keeping it light.

[2016-10-19 17:18] TheLarkInn commented on #262
@kborchers when the core team meets next week, we will officially vote one this. The due process allows us to document any place that we have used the old link (to change if needed) and setup redirects from our current domain to the new one. Once we have that process we can go through with switching (if thats the direction want/need to take).

[2016-10-19 17:19] jhnns commented on #264
(Sorry, I forgot that I mentioned it already ^^. I searched for webpack bin in our issues but couldn't find anything)

Can you bundle webpack with webpack 😀 ?

[2016-10-20 09:07] SpaceK33z commented on #263
CC BY seems like a good idea, it should not be too restrictive.

[2016-10-20 11:13] #15 closed

[2016-10-20 16:56] #13 closed

[2016-10-20 17:14] jrvidal commented on #13
Did  7950c8f tackle the original request in https://github.com/webpack/webpack.js.org/issues/153 / https://github.com/webpack/webpack/issues/2871?

[2016-10-20 17:20] bebraw commented on #153
Let's re-open. We need to cover the Node bits in greater detail. Missed that on the first pass.

[2016-10-20 17:21] bebraw commented on #13
@jrvidal Thanks for the heads up. Looks like we missed the Node bits on the first pass.

[2016-10-20 18:03] pksjce commented on #13
@jrvidal - I did not have a full understanding of the node shims you mentioned above. Maybe you could add to what's done already?

[2016-10-21 09:09] NejcZdovc commented on #247
@bebraw I think this can be closed.

[2016-10-21 09:13] #247 closed

[2016-10-23 01:07] ahfarmer commented on #45
@bebraw possibly - most of the projects on my list use Webpack but many use other bundlers like *browserify* or *rollup*

I'd be happy to provide the starters from my list that do use Webpack - but do you want to list all of them in the guide? There are over 80.

[2016-10-23 04:37] bebraw commented on #45
@ahfarmer Yeah, good point.

One option - we'll push the data to some repo in JSON format (you can maintain this if you want to). Then we'll consume the webpack specific one here and you can accept PRs against it. This repo could be consumed as a npm dependency at the sites and it would push the problem to the right place while allowing sharing work.

After this we would hook up some way to visual

[2016-10-23 18:25] octref opened #273 "Config - Elaborate on Source Map Options"
While browsing webpack's `devtool` section, I found this stub:

I agree 100%. For general users, most of them only know sourcemap is a mapping between transpiled and un-transpiled code, and allows them to debug in un-transpiled code.

I come to this section with one question:

Which one should I use?

Which boils down to:
- Which one work with Chrome/FF debugger?
- What's the major difference betw

[2016-10-24 03:32] skipjack commented on #195
Closing this as we recently simplified the tagline to "Who said front-end code can't be modular?".

[2016-10-24 03:32] #195 closed

[2016-10-25 01:46] rmccue commented on #258
@TheLarkInn Happy to send a PR!

[2016-10-25 03:02] pksjce opened #275 "How does System.import() work?"
**Premise**
System.import() allows `webpack` to define split points for code splitting using es6 modules. It is a replacement for `require.ensure()`

**Findings**
- Multiple dependencies cannot be imported using `System.import()` alone. We need to `Promise.all[System.import(), System.import()]`. But as per https://github.com/webpack/webpack/issues/3141, that does not work as expected as well.
- Na

[2016-10-25 07:37] SpaceK33z commented on #275
The workaround is to create a new module that contains the modules you want to lazy load.

[2016-10-25 12:36] TheLarkInn commented on #258
Thanks yes please we would love that!

[2016-10-25 19:40] NejcZdovc opened #276 "Development"
There was new task introduced `init:generated` with [commit](https://github.com/webpack/webpack.js.org/commit/be5ffe93d1fc4cb4691ba8566c39d51c8ebdee9f) . Inside there is `cp `command which is not recognised on windows. For now I executed, what this task should do, by hand.

@bebraw Can you please check it out.

`'cp' is not recognized as an internal or external command, operable program or batch f

[2016-10-25 19:51] bebraw commented on #276
Fix welcome. I don't have a Windows box to test with.

[2016-10-25 20:00] NejcZdovc commented on #276
My suggestion is to use some kind copy cli which can handle environments.

https://www.npmjs.com/package/ncp
https://www.npmjs.com/package/cpy-cli

What do you think?

[2016-10-26 06:41] #276 closed

[2016-10-26 06:42] bebraw commented on #276
@NejcZdovc I hooked up ncp so it should work now. `scripts/fetch.sh` is problematic still unless you use something like cygwin. I would welcome a PR that would port that script to pure node.

[2016-10-26 10:48] #3 closed

[2016-10-26 11:08] skipjack commented on #256
Closing with merge of #277.

[2016-10-26 11:08] #256 closed

[2016-10-26 13:09] skipjack commented on #184
@bebraw @dzello Started working on a branch to add the interface bits (e.g. a togglable input in the Navigation bar) for you to hook into, haven't it pushed it yet by I should be able to open a PR for that sometime tonight or tomorrow.

[2016-10-26 14:21] SpaceK33z opened #280 "Organization page table looks broken"
The [organization](https://webpack.js.org/organization/) page is a bit broken:

![webpack](https://cloud.githubusercontent.com/assets/533616/19729706/3639cc16-9b98-11e6-89ba-0f241a02d456.png)

[2016-10-26 17:44] NejcZdovc commented on #280
The only solution without changing tables completely is to set fixed width of the cells.

I personally would change this to card layout. We don't need a table here. We just need to display all projects. This can be easily solved by different layout.

http://thenextweb.com/wp-content/blogs.dir/1/files/2015/06/Screen-Shot-2015-06-16-at-08.57.56.png

https://material.google.com/components/cards.html

[2016-10-26 21:39] SpaceK33z commented on #280
Using cards is fine with me, but is there no way to fix it so that it uses the minimum width available?

[2016-10-27 02:17] skipjack commented on #280
I just pushed fa8c6616e which contains a fix for this. The issue was a `max-width` declaration on all images.

I agree with @NejcZdovc that we should consider using something other than a table to lay this out. This relates to our discussion in #246.

Maybe a custom `Stats` component and an `organizations.json` sheet would make the most sense for this. It could map the data to cards, a table, or w

[2016-10-27 04:26] bebraw commented on #280
Moving the logic could be a good idea. 👍

[2016-10-27 10:58] dzello commented on #184
Good to know @skipjack, thanks!

[2016-10-28 21:45] dangodev commented on #50
I’d love to know the preferred syntax going forward—`rules` or `loaders`? `query` or `options`? Or just understanding what to use where.

[2016-10-28 21:54] TheLarkInn commented on #50
We have kept backwards compatibility to loaders and query but going forward you should use rules and options.

[2016-10-29 00:44] dangodev commented on #50
@TheLarkInn thanks for clarifying. That was my assumption based off the fact they seemed like new additions to 2.x, but wasn’t totally sure.

[2016-10-29 14:55] skipjack commented on #280
This is fixed for now although I know tables still aren't perfect. Let's move this conversation back over to #246.

[2016-10-29 14:55] #280 closed

[2016-10-29 15:44] skipjack commented on #264
If anyone wants to see a quick example of what webpackbin would look like on the splash page, or maybe in Getting Started would be better, you can grab the iframe that I removed in 2c6c1563609 to get a general idea. I know we don't want to go with an `<iframe>` long term but it just gives a rough idea of what an embed might look like.

If we do decide to go custom, I think we'd just have to flesh

[2016-10-31 20:26] ahfarmer commented on #45
@bebraw mulled it over - sounds like a great idea. Will just take a couple days to get the repo and npm package up. I'll post a comment here when I'm done.

[2016-10-31 22:57] SpaceK33z commented on #131
Note that @jhnns's https://github.com/jhnns/webpack-hash-test will help a lot with documenting this.

[2016-11-01 05:10] ahfarmer commented on #45
@bebraw I've published the npm package [tool-list](https://www.npmjs.com/package/tool-list) ([github](https://github.com/ahfarmer/tool-list)). Data can be accessed with JSON or JavaScript. Please let me know if this is useful or if you were picturing something else.

Right now there are 107 React starter projects, 81 of which use Webpack. I'll work on filling it out with more non-React starters so

[2016-11-01 05:26] bebraw commented on #45
@ahfarmer That looks great. Maybe it would be nice to expose a mechanism to update stats (stars etc.) at consumer side so you don't have to worry about releasing new versions. This way I could refresh the data on build.

[2016-11-01 05:27] bebraw commented on #45
Never mind. That's the way it rolls. Nice. 👍

[2016-11-01 10:42] pastelsky opened #285 "Proposal for a fresh look and better information hierarchy"
I'm happy to see webpack.js.org shaping up, although it could certainly be better in terms of design / ux and the way information is presented to the user. While I know that the current priority is on finishing up existing documentation, here are a few deficiencies I noticed -

1. The tone and use of grammar isn't consistent across pages and there are quite a few grammatical / spelling errors.
2.

[2016-11-01 11:00] bebraw commented on #285
We are operating with a very limited resources here (lots of authors, zero budget). That's why we provided the "edit" button so people can fix if they spot something obvious.

Can you provide a better design?

The assumption is that the user doesn't understand the difference yet. I'm going with the lowest common denominator here. I have written an expanded article on the topic elsewhere so I tried

[2016-11-01 11:17] pastelsky commented on #285
I'll see how I can help proofread it in my free travel time.

Well, I've tried to do so in the sketches.

Maybe a "prerequisites" section would be less overwhelming option than a yellow warning box.

I'd love to send out PR's for improving the design /information structure, but before that, I wanted to know if the webpack team is open to this change and if at all this is going to affect the releas

[2016-11-01 11:27] bebraw commented on #285
Ok, great. 👍

The sketches are cool. I was more worried about the information architecture (high level layout).

I did the prerequisite change (section of its own now). That will get deployed after some design work has been merged (mainly search).

I think @skipjack will comment better on the design related issues.

[2016-11-01 11:36] pastelsky commented on #285
A good design can help address that to a certain extent. For. eg. compare  the current side navigation on the configuration page with the one in the sketch.

[2016-11-01 11:47] bebraw commented on #285
The hierarchy looks nice, yeah. 👍  for that.

[2016-11-01 12:58] skipjack commented on #285
I'm not sure an entire redesign is necessary at this point, however I do agree that there are some pieces that need work. Here are my thoughts:

1. The (non-mobile) side navigation definitely needs work. It's not strong visually yet and could probably use a little functionality cleanup as well. I like your design for it. You'd be more than welcome to open a PR for this, I probably should have alre

[2016-11-01 14:42] sokra commented on #285
@pastelsky thanks for your great work. I like the direction of this. It would be great if you could split your work into multiple PRs so the details could be discussed there. I would propose these parts, but feel free to choose your own splitting:

* Styling change: colors, font
* Slashpage: new svg, getting started button
* Sidebar
* Getting started guide
* Other spelling/grammar changes

[2016-11-01 18:17] pastelsky opened #291 "Fresh Look: Colors & Fonts"
As discussed in #285 — discussing this first since it is a perquisite for other changes.
## 1. Colors
<img src="https://cloud.githubusercontent.com/assets/8946207/19899432/21c043bc-a086-11e6-90eb-b0e25d534cea.png" width="350" />

- The blues are picked up from the logo.
- Cools greys have a slight blue tint and are used in the sidebar, level 2 text etc.
- Neutrals are used as body copy (dark) or b

[2016-11-01 18:21] bebraw commented on #291
Green is complement. Have you considered some orange or would that be pushing it?

[2016-11-01 18:33] pastelsky commented on #291
@bebraw I did try orange ( which is infact a literal complement of blue), but the warm and cold color combination didn't seem to go to well.

[2016-11-01 18:36] skipjack commented on #291
Yea honestly I was thinking maybe we can get away with a blue grey scheme and then a separate one for syntax highlighting. I'm not in love with the current yellow-orange but I'm also not sure if the green is better. What color were you thinking for links?

[2016-11-01 19:03] pastelsky commented on #291
Honestly, I'm a little inspired by the green in  [Vue JS docs](https://vuejs.org/guide/#Relation-to-Custom-Elements) a. The link color,  in body copy, is blue with a light blue underline

---

![link](https://cloud.githubusercontent.com/assets/8946207/19903190/af9fb098-a093-11e6-80f3-7279ed6e3d75.png)

.

[2016-11-01 19:09] skipjack commented on #291
Actually, seeing it in those docs, I do kind of like the green for links.

[2016-11-02 03:44] pastelsky commented on #291
That's cool. What about the typography?

[2016-11-03 02:29] skipjack commented on #291
Native fonts for code sound good 👍. Again I'm not sure I'm really sold on changing the base font, if we were to choose one of the others maybe Source Sans Pro but honestly they're all fairly similar.

If we get rid of Geomanist, we could just use an SVG or PNG for the logo (which I believe @jhnns already mentioned switching back to). However, as suggested by a few people, it's also being used for

[2016-11-03 11:47] lcxfs1991 opened #294 "Chinese Version"
@bebraw  @TheLarkInn

Hi, is it a good time to start translate the new doc into Chinese? If yes, I will start working on it with the help of a few friends.

Best regards,

Lee

[2016-11-03 12:05] bebraw commented on #294
@lcxfs1991 Hey, I'm waiting for an issue related to that. We might get a specific service to enable this type of work. Stay tuned. I hope we see it in a day or two.

Basically the system would be the same web based one that Node.js uses.

[2016-11-03 12:16] lcxfs1991 commented on #294
Thx!

I am from [AlloyTeam](https://github.com/AlloyTeam), Tencent. I have great interest in webpack and spend time on promoting it not only in Tencent but also in China.

Here are some articles about webpack written by me. I also deliver two publich sharing on Sep. and Oct. respectively. I guess the first article below could be the initial version of the new doc for  _"How to Improve Build Perfor

[2016-11-03 12:39] lcxfs1991 commented on #294
By the way, if the visiting speed for the Chinese version site is slow, we will also provide a free server node near China for the Chinese docs.

[2016-11-03 17:52] chikathreesix opened #295 "Localize Webpack docs with Locki"
Hi, I am Ryo, a creator of Locki.
Thanks @bebraw for allowing me to open this issue.

Locki(https://locki.io) is a website localization tool that enables your localization community to easily translate your docs on your website. Check out [this video](https://youtu.be/c21-ac_26sk) to learn more about how it works.

Now Node.js is also considering using Locki(nodejs/node#8798) and [here is the test

[2016-11-03 18:05] bebraw commented on #294
@lcxfs1991 #295 is the issue I had in mind. Feel free to check that out.

[2016-11-04 01:43] lcxfs1991 commented on #295
@chikathreesix hi Ryo, this is interesting.

1. I have a question for this. Is the owner has the right to approve or reject the translation?
2. Where is the translation data? Is it stored in locki's server?

[2016-11-04 03:36] chikathreesix commented on #295
Thanks @lcxfs1991!

We don't have an approval process for everytime. But you can take 2 types of approaches for this.

a) The owner can restrict the edit only to the specified members so it will be fully under the control of the team. And we will enable users out of the team to suggest translations so that the owner and the team can approve or reject those suggestions (this is under the developmen

[2016-11-04 09:30] sokra commented on #295
Any plan to tackle the FOUC (here: Flash Of Unlocalized Content)? (You see the english version for a second)

---

Have you considered using a git repo as backing store for the translation. Each change is commited to a repo of the users choice, permissions from repo are used. This would make intergration pretty easy and looks safer as data storage from user perspective.

[2016-11-04 09:38] lcxfs1991 commented on #295
@sokra  @sokra
Agree.

Guess we can create a folder/content/ lang/zh, /content/ lang/jp for contributors to translate the doc.  And nominate someone responsible for reviewing the translation version.

Then after Locki resolve the above problems, we can consider migrate to that system.

[2016-11-04 09:42] bebraw commented on #295
Organization-wise it might be interesting to push the translations to repositories of their own and consume them as a dependency to the main project. Easier to handle perhaps as you can keep language specific issues there.

[2016-11-04 09:47] sokra commented on #295
@lcxfs1991 Maybe I wasn't clear. I like Locki, for reason that we don't have to maintain localized versions of the pages in our repo. My comments were just general ideas for locki. I think it's fine for us in the current state too. I don't care much for the FOUC in our case, but it could be an issue in a more serious application.

[2016-11-04 09:51] lcxfs1991 commented on #295
So the first step is to wait for Locki's setup then we can kick off. That would be good too.

[2016-11-04 12:56] chikathreesix commented on #295
@sokra Thanks for your questions!

Yes, we are planning to implement server-side rendering in order not only to solve FOUC but also support SEO for language versions. How do you guys host your website?

We are storing all changes on translations as a history so that users can eventually go back and forth between the versions. We are making Locki as like a github for localization but using git itse

[2016-11-04 13:13] bebraw commented on #295
@chikathreesix The current version is hosted on top of GitHub Pages. The site follows progressive enhancement so that you get content even when JavaScript is not enabled.

[2016-11-04 14:01] sokra commented on #295
I meant push and pull your locations from github. An edit pushs a commit to a specified github repo. When fetching localization locki will fetch them from github (using your server as cache). Basically locki syncs with a github repo, while the repo is authoritative.

[2016-11-04 14:45] SpaceK33z commented on #143
Closing this in favor of webpack/webpack/issues/3165

[2016-11-04 14:45] #143 closed

[2016-11-04 19:05] SpaceK33z opened #297 "Host webpack/media logo's on webpack.js.org"
The webpack logo's should be available somewhere on a hosted place. This way we can use the logo in README's etc.

It looks like the path to the logo at the top-left of the website [is a hash](https://webpack.js.org/7291f7007988120cc0b20372736970c2.png), so this is too tricky. Also it should be a SVG version.

We need this feature in relatively short-term for the new loader README's (webpack/webpa

[2016-11-04 19:35] skipjack commented on #297
Yea I can take this up this weekend, already had the update for the logo component in mind after seeing @jhnns comment a while ago, just hadn't gotten around to it.

For this issue, basically we just want a webpack branding page where people can just go download the logo and icon files for easy inclusion anywhere, correct? If so, assign this to me and I'll pick it up this weekend.

[2016-11-04 19:48] SpaceK33z commented on #297
Very nice :). Yeah a webpack branding page would be even better, initially I meant purely hosting the files, but a page dedicated to it is much better. https://github.com/webpack/media currently also serves as a branding page, so you might use that.

Are you talking about updating the logo + text to be a SVG? That would be nice. Let me know, I can help you test if it looks good on some devices.

[2016-11-04 20:32] skipjack commented on #297
Ah good point, yea maybe I'll just link there to start. I need shift things around in the Navigation component as it's starting to get a bit cluttered with the current layout. At the very least I can add a link to the media repo there or in Footer.

Exactly, I think @jhnns mentioned he'd prefer that as opposed to using geomanist directly.

Sounds good 👍

[2016-11-04 21:52] bebraw commented on #297
Adding `package.json` to `webpack/media` would allow that to be consumed as a npm dependency. That might be a nice way to manage it.

[2016-11-05 00:31] addyosmani opened #298 "Guides - PRPL (Web Performance)"
I wrote up a more general version of the PRPL pattern over on https://developers.google.com/web/fundamentals/performance/prpl-pattern/ but would love to put together a version for the Webpack docs.

Going to throw together a draft.

[2016-11-05 09:09] chikathreesix commented on #295
@sokra
That's interesting. Since Locki can work as like github, we are not currently considering integrating with github itself. But if you have some use cases that can be solved with github integration, we can consider implementing something to support it, but maybe in a different way. :)

[2016-11-05 10:30] SpaceK33z commented on #273
Note that there are a some open questions about source maps for us also, which is why it's hard to write these docs. With https://github.com/webpack/webpack/issues/3165 we hope to get more insights.

If you have anything specific to improv

[2016-11-05 10:32] SpaceK33z commented on #184
Fixed with PR #284.

[2016-11-05 10:32] #184 closed

[2016-11-05 13:19] skipjack commented on #297
@bebraw that's a good idea, I was thinking maybe via a submodule but maybe sticking with npm for everything is simpler. Maybe we should create another issue to start discussing how we can break parts of this repo out (as we were discussing with the components) and consume other repos like `webpack/media`.

I'm also interested in what the team's plans are for the analyze tool. Ideally maybe we coul

[2016-11-05 13:21] skipjack commented on #297
Or maybe things like the voting app and analyze tool can be separate SPAs that this site consumes and displays under one of it's routes?

[2016-11-05 13:36] SpaceK33z commented on #297
Seems like a good idea. If we go that way, it'll probably take a while before the webpack logo's are hosted. Is it possible to temporarily upload the logo's somewhere on the site meanwhile? @michael-ciniawsky needs this for a huge refactoring of README's from webpack repo's.

[2016-11-05 16:37] skipjack opened #301 "Repo Structure - Modularizing and Consuming other Webpack Repos"
Opening a discussion for how we can break parts of this repo out (as we were discussing with the components) and consume other repos like `webpack/media`.

From #297:

@bebraw that's a good idea, I was thinking via a submodule but maybe sticking with npm for everything is simpler...

I'm also interested in what the team's plans are for the analyze tool. Ideally maybe we could have shared repo of c

[2016-11-05 16:40] skipjack commented on #297
@SpaceK33z yea should've just created a new issue... done at #301.

Definitely. Still planning to address this today or tomorrow. I'll be opening a PR soon.

[2016-11-07 01:42] TheLarkInn opened #305 "Fixing backer layout breaks Sponsor listings."
It looks like since the latest merge the master, we have broken the sponsors showing up on the splash page. We probably need to get that prioritized if possible.

Any thoughts on where specifically that could have happened?

[2016-11-07 01:46] skipjack commented on #305
It looks like more than that was broken, the top nav on mobile is all shifted as well and the mobile sidebar looks empty. Not sure what's going on yet, but I'll take a look.

[2016-11-07 07:48] sokra commented on #298
Great, send a PR. This fits great in the how-to section.

[2016-11-07 20:59] SpaceK33z commented on #305
Tried to debug this. It looks like it's happening because the `Interactive` components set an `id` on the `div` with a path to the component in it. This works fine if the component only appears once on a page, but JavaScript really doesn't like it if you use the same value in `id` twice.

I'm not really sure if this is it btw, but it's very suspicious at least. I tried to change the `antwar-intera

[2016-11-07 21:10] SpaceK33z commented on #305
Andddd scratch that. Fixed the issue I was having, but this was not it :(.

[2016-11-07 21:27] SpaceK33z commented on #305
Okay I was partially wrong. The issue is in that antwar uses `document.getElementbyId` to find the interactive component, but since there are two divs with the same id the first one gets overridden.

Haven't found a solution, @bebraw, ideas?

[2016-11-08 02:13] pksjce commented on #134
Doesnt [this file](https://github.com/webpack/webpack.js.org/blob/develop/content/how-to/cache.md) solve this issue?

[2016-11-08 04:06] bebraw commented on #134
Yup. Time to close.

[2016-11-08 04:06] #134 closed

[2016-11-08 13:04] skipjack commented on #305
Ok finally had a chance to test this, with `npm start` the site runs fine but `npm run build-test` does fail with the mentioned issues.

@TheLarkInn still looking into the sponsors/backers issue, which is only broken after a full build. I think it has something to do with the double use of Interactive as @SpaceK33z mentioned. Working on a fix today.

The shifted nav issue I mentioned seems only to

[2016-11-08 13:12] bebraw commented on #305
I could change the algorithm to include some kind of order index since the ids have to be unique. The fix could be something simple like that.

The next few days might be a little busy. Maybe as a hackfix you could create a duplicate component with a different name (solves id) and we'll patch that once there's better id resolution algorithm in place.

[2016-11-08 13:14] skipjack commented on #305
I got the fixes ready, working on opening a PR now. One benefit of this happening is I realized we can actually remove the use of Interactive for the Support component.

[2016-11-08 13:17] bebraw commented on #305
Ok, cool. 👍

[2016-11-09 08:12] bebraw opened #308 "Issue with `currentPage` variable in Sidebar"
Example: https://webpack.js.org/how-to/code-splitting/splitting-vendor/ . Notice the sidebar. This has likely something to do with the way it resolves the status.

[2016-11-09 08:14] bebraw opened #309 "Landing page gradient gets banding on lower quality displays (think TN panel)"
I'm not sure if there's much we can do about that but I would thought to raise an issue. Maybe tweaking the gradient curve a notch would make it less noticeable?

[2016-11-09 08:17] bebraw commented on #301
There's [an effort going on for renewing the analyse tool](https://github.com/webpack/analyse-tool). Integration is going to be interesting. Maybe we could consume it as a dependency (React component) and push it within an `Interactive` container somehow? That would allow us to retain main site navigation and all that.

Any thoughts @Bartekus?

[2016-11-09 08:20] bebraw opened #310 "There's no way to exit/cancel search after opening the widget"
Activating search works just great. The problem is that there's no way to exit it once you activate it on the landing page (might apply to other pages too). I would expect "return" on an empty field or "esc" to work. Likely blur should close it too so you can click outside of the field and make it closed.

[2016-11-09 08:42] Bartekus commented on #301
@bebraw I definitely agree about keeping things modular and the way the current analyze tool is structure should allow the whole component to work as either part of a bigger set or as an individual SPA.
Certainly flexibility, modability and extensibility are the ways of the webpack and as such, they should be our aim too.
Keeping the webpack brand consistent and coherent to itself is in my opinion

[2016-11-09 08:46] bebraw commented on #301
@Bartekus Awesome. Good design would make it possible to run it through Electron and so on. Actually wrapping the site within Electron would be feasible (not sure of the exact benefit unless we add some features), but still. 👍

[2016-11-09 09:34] sokra opened #314 "Concepts Review"
I'll review all pages in the concepts section...

* [x] Introduction
* [x] Entry Points
  * [ ] Scenarios > Separate App and Vendor Entries: Consider removing
* [x] Output
  * [ ] Rewrite!
  * [ ] Merge the content with the configuration page
* [ ] Loaders
  * [x] Write content! (Empty)
* [x] Plugins
  * [ ] node.js API should recommend the `plugins` property for plugins
* [ ] Configuration
* [ ]

[2016-11-09 12:45] skipjack commented on #309
I think this will be moot if we move to the darker background as suggested by @patelsky. Once we update the color scheme I'd be happy to help make these changes.

[2016-11-09 13:22] bebraw opened #318 "Frontpage navigation is broken on iPad Chrome"
Example:

![img_0045](https://cloud.githubusercontent.com/assets/166921/20139747/f401702e-a687-11e6-8f30-b588aa58ab77.PNG)

[2016-11-09 13:29] SpaceK33z commented on #318
I think @skipjack fixed this with #306.

[2016-11-09 13:36] skipjack commented on #318
Yea I think this should be fixed but honestly I'm going to simplify the splash page soon and probably remove the `.navigation--transparent` state (which has been the cause of a few issues) once we update the color scheme as I feel it's causing more problems than good. Plus I think the dark background for the visualization will look better and we shouldn't have to customize the navigation state for

[2016-11-09 13:45] bebraw commented on #318
Ah, ok. Better get faster deployment flow in place. 👍

[2016-11-09 13:45] #318 closed

[2016-11-09 18:18] Bartekus commented on #301
@bebraw I think the benefit in and of itself would be to push the envelope further and further and to keep trying new ways of utilizing the power that webpack based development affords so that we continue to lead and advance the javascript community.

[2016-11-09 18:28] SEAPUNK commented on #310
You can exit it by clicking on the search icon again, from what I've tried, but yeah, that's not very useful.

[2016-11-09 22:07] skipjack commented on #310
Yea so as mentioned the only way currently is by clicking the search icon again. I can add a blur handler and maybe a clear button? Would that work?

[2016-11-09 22:08] SEAPUNK commented on #310
Does blur get called when switching windows to copy a string?

[2016-11-09 22:11] skipjack commented on #310
It gets called on window, not sure if it does on the input.

[2016-11-09 22:14] SEAPUNK commented on #310
It looks like it does, at least on Chrome. I think that's fine anyway, since it shouldn't be too much of a hassle, and it's how MDN's search box works.

[2016-11-10 05:04] NejcZdovc commented on #308
I am testing this on the latest version from develop branch and it's working correctly.

[2016-11-10 12:50] michael-ciniawsky commented on #297
ping :)

[2016-11-10 13:07] skipjack commented on #297
#303 fixed this issue and was merged so I'm closing. @michael-ciniawsky there's a branding link in the footer which will bring you to a page to download the logos or icon although we still may need to do a deployment before it's actually live.

[2016-11-10 13:07] #297 closed

[2016-11-10 15:23] michael-ciniawsky commented on #297
Maybe not right here, but is it not possible to host it by simply enable gh-pages in webpack/media? Sure I can download it, but then each loader repo still most enable gh-pages to serve it.

[2016-11-10 15:29] michael-ciniawsky commented on #297
sry I misunderstood 'to download' 😛 , thought there is a download link only but got the url
@skipjack thx 👍

[2016-11-10 15:54] skipjack commented on #297
@michael-ciniawsky haha no problem. Yea we could definitely create a gh-pages branch to host the branding guidelines page from the media repository or submodule the media repository within all of our other repositories to easily keep dependent repos up to date. Probably a good thing to discuss more in #301.

[2016-11-13 10:11] pastelsky opened #324 "npm run build fails: Cannot find module '<...>/bundleStaticPage.js'"
I'm trying to setup this repo locally, but I'm not able to start a development server.
After I run `npm run build`, the process exits with the following error:

[code]

Node v7.1.0
Mac OS 10.10

[2016-11-13 14:35] SpaceK33z commented on #324
I can't reproduce this with a fresh install. Could you try if `rm -rf .antwar` fixes it?

[2016-11-13 22:04] skipjack commented on #305
#306 fixed this, closing.

[2016-11-13 22:04] #305 closed

[2016-11-13 22:05] skipjack commented on #309
Leaving this open until the landing page updates get done.

[2016-11-14 08:03] bebraw commented on #324
Maybe it has something to do with Node 7. Any chance you could try against Node 6 to see if that makes any difference?

[2016-11-14 08:04] bebraw opened #326 "Address user complaints about webpack 2 site visibility"
To quote @dmitriid from https://github.com/webpack/webpack/issues/3275#issuecomment-260241927

* update docs to clearly state which version of webpack they refer two
* create page clearly detailing what 2.x is, how to get it etc.
* update docs to reflect changes in plugins, loaders etc. (there are already people asking how to use, say, `LoaderOptionsPlugin`, see comments here
* move information on

[2016-11-14 08:05] pastelsky commented on #324
@bebraw I did try with 6.5.0 too. Same issue. Will try doing `rm -rf .antwar` as @SpaceK33z suggested.

[2016-11-14 08:08] bebraw commented on #324
Ok. One fairly scary option is that the recent webpack 1.13.3 broke something. So removing `^` from the deps would be one direction. In any case being stricter about version ranges might not be a bad move.

[2016-11-14 08:09] dmitriid opened #327 "Link to the doc site from existing docs"
The full summary is here: https://github.com/webpack/webpack/issues/1545#issuecomment-255618736 and perhaps here: https://github.com/webpack/webpack/issues/3275

tl;dr version: People would love to learn more about webpack 2 (even if it's a WIP) and help with improving documentation etc. However: there is absolutely no way to discover that the new doc site exists or that it needs help.

Request:

[2016-11-14 08:11] bebraw commented on #326
Closing in favor of #327.

[2016-11-14 08:11] #326 closed

[2016-11-14 16:29] dmitriid commented on #327
Additionall request: add a link to the webpack blog (in the old website, in the new website, in the README)

I only learned about the blog's existence today via a comment in an issue somewhere

[2016-11-14 16:55] skipjack commented on #327
There is a link to the blog in the fixed Sidecar on the right although maybe it's not prominent enough:

![image](https://cloud.githubusercontent.com/assets/8988697/20273779/9e9e30a4-aa60-11e6-9da5-d33201f00f83.png)

In order -

Github icon links to mains repo
Gitter icon opens webpack room in gitter as an overlay
Medium icon links to blog
SO icon links to webpack tag on stack overflow

[2016-11-14 17:27] dmitriid commented on #327
I'd say it's completely undiscoverable :) This entire block looks just like some social media icons for sharing or something :)

[2016-11-14 17:31] skipjack commented on #327
@dmitriid any ideas for a more prominent location/design?

[2016-11-14 19:15] dmitriid commented on #327
It's quite common to have the link to the blog in the header, to the right of all other links. Since you'll probably want to include the other links as well, I think it would be enough to move the icons there.

That is, you could end the header menu with the icons for Github, Medium, SO.

And add a plain text "Blog", "Github", "Stackoverflow" in the footer as well

[2016-11-14 23:24] SpaceK33z opened #330 "Disable nyan cat test reporter for CI"
As much as I like the nyan cat reporter, it is a living hell when you need to quickly find out which test broke in the CI.

See e.g. this [build failure at Travis](https://travis-ci.org/webpack/webpack.js.org/builds/175563417). It contains **4370 lines of nyan cat particles** my poor browser has to scroll through 🎱 .

So I'd suggest to either disable it for CI, or fully remove it.

[2016-11-15 05:26] bebraw commented on #330
It could be conditional on Travis. So you get the default there (separate npm script).

[2016-11-15 19:39] donaldpipowitch opened #334 "Question about "plugins/#node-api" - When should this pattern be used?"
Hi, I currently read the new docs and saw this pattern for the first time ([here](https://webpack.js.org/concepts/plugins/#node-api)):

[code]

When should anyone ever want to use `compiler.apply(new webpack.ProgressPlugin());`? What are the advantages of this pattern opposite to just do something like `configuration.plugins.push(new webpack.ProgressPlugin()` before calling `webpack(configuration)

[2016-11-16 21:23] alanhussey opened #337 "Design is broken on Safari"
The redesign looks great! …but it's a bit broken on Safari :(

- the dependency graph is offset, and is missing the files
- the navigation in the top-right overflows off of the screen

![screen shot 2016-11-16 at 1 17 24 pm](https://cloud.githubusercontent.com/assets/383725/20366288/30781180-abff-11e6-9b84-dd801c858fc4.png)

In addition, the menu button is a bit off-screen when the viewport is sma

[2016-11-16 21:44] TheLarkInn opened #339 "Invalid Syntax for Splash Page Snippets"
![image](https://cloud.githubusercontent.com/assets/3408176/20367038/60c9809e-ac13-11e6-9ab3-76198122e348.png)

I believe this needs to be a `default export` rather than regular export.

[2016-11-17 04:12] NejcZdovc commented on #339
This issue is the same as #338

[2016-11-17 05:56] skipjack commented on #337
@alanhussey thanks for pointing this out, we'll try to address it soon and let you know if we can't reproduce. We have some other updates planned for this section of the splash page so this can fit right in to those 👍

[2016-11-17 06:04] skipjack commented on #324
@pastelsky were you able to resolve this? Sounds similar to some issues we were having early on (see #54). I'm on Node 6.2.2 / Mac OS 10.12 and not seeing any issues.

[2016-11-17 08:45] dwelle opened #345 "Search unicode doesn't render on windows"
Search button unicode symbol on main page isn't rendered correctly on Windows 7, chrome 54 (not on default `Western (Windows1252)`, nor `Unicode (UTF-8)` encoding).

![image](https://cloud.githubusercontent.com/assets/5153846/20381902/d5e68dd6-aca9-11e6-9169-f8f631467286.png)

[2016-11-17 13:09] sokra commented on #339
We should use `import { bar }` because this promotes named imports.

[2016-11-17 13:13] sokra commented on #334
Ignore the code snippet. Use the configuration.

On the develop branch there is already a TODO https://github.com/webpack/webpack.js.org/blob/358a966b198618ff2c7d7bbc5b638688e539c378/content/concepts/plugins.md#node-api

[2016-11-17 13:14] #334 closed

[2016-11-17 13:15] sokra commented on #330
I vote for full remove...

[2016-11-17 13:18] bebraw commented on #330
Ok, PR welcome.

[2016-11-17 13:23] sokra opened #348 "Make master the default branch, remove develop"
* faster updates on live page
* simpler

[2016-11-17 13:23] pastelsky commented on #324
I did a `rm -rf` and followed all steps again, and things are working fine now.
Not sure what was causing this error.

[2016-11-17 13:30] bebraw commented on #324
Ok, feel free to re-open if you run into it again.

[2016-11-17 13:30] #324 closed

[2016-11-17 16:07] mxstbr opened #350 "Code blocks on homepage"
The four code blocks on the homepage should be two in one row, instead of wasting a bunch of space:

<img width="1048" alt="screen shot 2016-11-17 at 18 03 09" src="https://cloud.githubusercontent.com/assets/7525670/20396846/3a93f4d0-acf0-11e6-9316-2590a4a96245.png">

Those code blocks could easily fit next to each other instead of having a massive amount of horizontal space, like this:

| Write y

[2016-11-17 17:41] skipjack commented on #350
Good point, you'd be welcome to PR this if you're interested. Maybe the best way to go would be a flex box and have them at 50% on larger screens and 100% on mobile?

[2016-11-18 02:11] markerikson opened #352 "Better handling of page zoom / visibility of category links?"
I normally have my browser's zoom level bumped up to about 120% or 130%.  When looking at the splash page for the new docs ( https://webpack.js.org/ ), I see two issues:

- When viewed at 1920x1080 but with 120% or 130% zoom, the links in the upper-right corner ("Documentation", "Guides") are pushed off the right side of the screen
- Even when at 100% zoom, those links are _very_ hard to see.  The

[2016-11-18 02:15] markerikson opened #353 "Add background info on NODE_ENV to "how-to" pages?"
I've read a fair number of articles on Webpack build optimization.  They frequently mention that "`process.env.NODE_ENV` should be set to `"production"`, and you should use DefinePlugin", but rarely mention how those two pieces fit together.

I recently wrote a blog post that was published on Packt, which tries to clarify what `NODE_ENV` is, how it's used in a build process, and why it is importan

[2016-11-18 08:25] SpaceK33z commented on #353
Great, a PR is definitely welcome!

[2016-11-18 08:31] sokra opened #354 "Mobile sidebar doesn't include link to index.md page"

[2016-11-18 08:53] sokra opened #355 "Page title doesn't reflect page"
The title is always "webpack", but should be the title of the page.

[2016-11-18 09:44] mxstbr commented on #350
I tried to do it, but the Markdown + HTML handling didn't work as I expected and I don't have time to dig in further. For somebody who's used to this setup, this should be a five minute operation!

[2016-11-18 10:38] mxstbr opened #357 "Homepage file images not showing"
![screen shot 2016-11-18 at 11 37 24](https://cloud.githubusercontent.com/assets/7525670/20427300/8c665b66-ad83-11e6-9c76-06933b8684fd.png)

No errors in console, disabled ad blocker. Firefox 47.0 on MacOS Sierra.

[2016-11-18 12:46] skipjack commented on #350
Ok, I can pick this up.

[2016-11-18 13:43] skipjack commented on #352
Hoping to get started on some updates to the color scheme this weekend, and then various components throughout the site to increase contrast, see #285, so hopefully that will address the contrast issue.

Not sure I agree with moving the links though, it looks like the breakpoints are working fine even when zooming I wasn't able to get to a state where any links were hidden. @SpaceK33z what do you

[2016-11-18 13:45] skipjack opened #359 "Hide Navigation's children section on mobile screens"
All navigation should be done through the mobile sidebar and that child section should be hidden.

![image](https://cloud.githubusercontent.com/assets/8988697/20432010/34e60200-ad6b-11e6-991d-175b02c71769.png)

[2016-11-18 13:54] SpaceK33z commented on #352
I'm definitely +1 on changing the color schemes, the color scheme in #285 is definitely better and feels more "webpack-y" (and with that I mean that it matches more with the logo). I can give some feedback this weekend :).

About moving the links, even when zooming in it also worked fine for me. That said, moving it to the left might make a bit more sense because the sidebar is also on the left. L

[2016-11-18 18:49] TheLarkInn commented on #36
Alright created a new set of documents https://github.com/webpack/webpack.js.org/pull/242/files This should allow us once merged to tackle individual tapable instances etc.

[2016-11-19 00:41] markerikson commented on #353
Afraid I don't have time to do a docs-specific writeup myself atm, but definitely feel free to use that article as a starting point for fitting the info into the docs.

[2016-11-19 02:50] pastelsky commented on #291
Should I go forward and make a PR for the color related changes then?

[2016-11-19 02:52] pastelsky commented on #309
The banding is because grey is one of the hardest colors for monitors to reproduce correctly. Switching to a different color might help.

[2016-11-19 02:58] skipjack commented on #291
Yea definitely, once you update the base color scheme in _vars I'll help update the rest of the site.

[2016-11-19 04:54] silvenon commented on #121
[Here it is](https://github.com/silvenon/webpack-docset)! Now I just have to get it submitted to Dash…

[2016-11-19 11:57] juangl opened #367 "Installation documentation sould be for v2.x"
Installation documentation should cover the steps to install v2.x explicitly and not v1.x.  👍

[2016-11-19 13:30] skipjack commented on #345
@dwelle thanks for pointing this out!

Any one have an idea of what we can do to fix this? I chose to use the unicode glyph over an icon from our icon-font (which I'm about to update) because @bebraw and I had discussed decoupling some of these components into their own repos. However we could always use the icon font for the time being and just extract the necessary svg if we ever make that move.

[2016-11-19 13:58] silvenon commented on #121
Kapeli/Dash-User-Contributions#1175

[2016-11-19 14:05] SpaceK33z commented on #345
@skipjack agree with you, probably best to extract when we make that move.

[2016-11-19 14:06] skipjack commented on #345
Ok I'm about to try to introduce the fontgen-loader so I'll address this there as well.

[2016-11-19 20:27] #330 closed

[2016-11-19 21:35] TheLarkInn commented on #21
Fixed with #364 😍😍😍😍

[2016-11-19 21:35] #21 closed

[2016-11-19 23:28] TheLarkInn commented on #327
@dmitriid @bebraw we now have both docs site linked from our core repo? I'd like to get a check list of items that fulfills this issue so we can get it done

[2016-11-20 00:11] dmitriid commented on #327
I think the checklist in my original post is quite ok:

- [x] update webpack's README with a link to the new documentation
- [ ] on the front page of webpack 1.x documentation put the same info:
- [ ] on the front page of 2.x documentation clearly state the version the site refers to (as in "Documentation site for Webpack 2 (WIP)"

Because most people searching for webpack (any version) will end u

[2016-11-20 11:17] SpaceK33z commented on #6
Closing since this was fixed a while ago: https://github.com/webpack/webpack.js.org/blob/develop/content/guides/development.md

[2016-11-20 11:17] #6 closed

[2016-11-20 14:01] SpaceK33z opened #373 "Target option documentation is duplicated"
The values for the `target` option are explained twice. In the [Concepts section](https://webpack.js.org/concepts/targets/) and in the [Configuration section](https://webpack.js.org/configuration/target/).

Perhaps we should move the content under the "Options" heading in the Concepts section to the configuration page, since options are not really a concept.

I didn't make a PR for this yet since

[2016-11-20 15:23] TheLarkInn commented on #373
I think there's some validity to maybe have a general overview of what the targets are and then we can link to more information.

[2016-11-20 15:24] TheLarkInn commented on #373
Really the docs in concepts are ment to be smaller consumable pages that first time users will come across.

[2016-11-20 16:30] #310 closed

[2016-11-20 16:30] #345 closed

[2016-11-20 16:30] #357 closed

[2016-11-20 16:30] #359 closed

[2016-11-20 16:42] skipjack commented on #309
Closing as I believe this was fixed by the new background added in #374.

[2016-11-20 16:42] #309 closed

[2016-11-20 16:47] skipjack commented on #337
Once 809739a1168 is cherry picked to develop this should be fixed.

[2016-11-20 22:08] JamieMason opened #382 "Github etc buttons cover the article text"
Loving the new docs, excellent work. One small issue I noticed though is that the buttons to the side slightly obscure the article text. The attached screenshot is taken from Safari on an iPad.

![img_0033](https://cloud.githubusercontent.com/assets/320492/20466556/6eb75534-af6d-11e6-92c6-2d5d15725563.PNG)

[2016-11-21 08:11] #373 closed

[2016-11-21 09:57] SpaceK33z opened #386 "Continue redesign splash page"
In #374, @skipjack cleaned up the splash page to allow for a redesign. He added a temporary screenshot of @pastelsky's mock-up of the splash page. This screenshot is low quality, so we should preferably fix this soon.

This is a ticket to ensure that we don't forget that.

@pastelsky, do you plan on working on the splash page?

[2016-11-21 10:03] SpaceK33z commented on #339
#338 fixed the export, and I fixed the invalid `:` in app.js with #387, so closing.

[2016-11-21 10:03] #339 closed

[2016-11-21 10:48] SpaceK33z commented on #115
I'm going to close this since this issue isn't clear at all. We rewrote the entire docs and have much clearer docs on loaders and the development of loaders / plugins.

[2016-11-21 10:48] #115 closed

[2016-11-21 11:31] SpaceK33z commented on #50
I'm going to close this since #383 was merged, which covers the loader concepts good enough I think. I used huge parts of @manekinekko's content, so props to him!

[2016-11-21 11:31] #50 closed

[2016-11-21 14:32] SpaceK33z commented on #337
Should be fixed now.

[2016-11-21 14:32] #337 closed

[2016-11-21 14:39] SpaceK33z commented on #308
Not sure, but looking at webpack.js.org (which was just deployed) it seems like this issue was fixed?

[2016-11-21 14:46] skipjack commented on #308
Weird. It does look fixed, however yesterday when I was testing other stuff with `build-test` this was still broken.

[2016-11-21 14:47] SpaceK33z commented on #308
Yeah I noticed that too, but I think @sokra fixed it in Antwar yesterday and updated the Antwar version this morning.

[2016-11-21 14:50] skipjack commented on #308
awesome 👍

[2016-11-21 14:56] skipjack commented on #386
@pastelsky happy to help out with this, if you're very busy this week we could always just add a higher res modules image for the time being. Didn't mean to put pressure on you to jump on this right away.

Just for reference here's @pastelsky's design from #285:

![image](https://cloud.githubusercontent.com/assets/8988697/20487087/1a8eba8e-afd0-11e6-81d2-9052b962fb61.png)

I think we should also q

[2016-11-21 16:53] sokra opened #391 "Links to Anchors doesn't work"
i. e. https://webpack.js.org/configuration/module/#rule-exclude

This link should scroll to the sections, but it doesn't.

[2016-11-21 16:54] #391 closed

[2016-11-21 16:54] sokra commented on #391
I was wrong

[2016-11-21 17:19] SpaceK33z commented on #201
What is exactly the purpose of this issue? To answer the questions above? There are quite some docs now about resolvers.

[2016-11-21 17:20] SpaceK33z commented on #169
@TheLarkInn, just an idea, perhaps we could use the scheme that you used for readthesource here?

[2016-11-21 17:22] sebastiandeutsch commented on #201
@SpaceK33z I think you can close it. All questions regarding wording and functionality has been resolved.

[2016-11-21 17:24] SpaceK33z commented on #201
All right!

[2016-11-21 17:25] #201 closed

[2016-11-21 17:25] SpaceK33z commented on #258
Closing since there is documentation about `electron-renderer` now.

[2016-11-21 17:25] #258 closed

[2016-11-21 17:53] TheLarkInn commented on #327
![screen shot 2016-11-21 at 11 49 40 am](https://cloud.githubusercontent.com/assets/3408176/20494106/1531834e-afe1-11e6-85bf-57ae804fd6d5.png)

Landing page updated.

[2016-11-21 17:58] TheLarkInn commented on #169
@sebastiandeutsch Can you make a web friendly png or jpeg of the UMD you created for me the other day?

[2016-11-21 18:21] dmitriid commented on #327
WOOOHOOO. This is awesome!

[2016-11-21 18:22] TheLarkInn commented on #327
![screen shot 2016-11-21 at 12 21 38 pm](https://cloud.githubusercontent.com/assets/3408176/20495043/2137287a-afe5-11e6-8fa7-b7e3b5f4b3e4.png)
Deployed docs splash page header changes to call out v2.

[2016-11-21 18:24] TheLarkInn commented on #327
Eventually we are going to migrate away from the old site if possible completely down the road and all documentation will live in this state. I'm not sure if we have a way besides heavily calling out webpack 2 docs being somewhere else.

@bebraw @skipjack Where would be the most appropriate place to call out that webapack.js.org is v2 docs only.

[2016-11-21 18:25] TheLarkInn commented on #327
@dmitriid would you mind submitting a separate issue for this. I agree that it is nice to have and shouldn't block our milestone. Then we can discuss the design etc. there.

[2016-11-21 18:31] SpaceK33z commented on #327
@TheLarkInn awesome work. We could do it like [vue.js](https://vuejs.org/v2/api) and put it at the top of the sidebar. For now maybe put it there as static text, and later we can make a fancy selector. An alternative would be to put it just right of the logo, but I feel like that would be less "clean".

[2016-11-21 18:36] #308 closed

[2016-11-21 18:43] bebraw commented on #327
Would it work to have "2" right next to webpack? That's the simplest solution I can think of. There can also be a big fat disclaimer somewhere.

![screenshot 2016-11-21 20 42 31](https://cloud.githubusercontent.com/assets/166921/20495750/0f73bc5c-b02b-11e6-9e4f-2b8446687300.png)

[2016-11-21 18:48] SpaceK33z commented on #327
@bebraw, what do you think of doing it like this?

<img width="248" alt="webpack" src="https://cloud.githubusercontent.com/assets/533616/20495945/6929ad4a-b023-11e6-9b72-72096f79f2cb.png">

It has the advantage that we can later easily turn it into a selector.

[2016-11-21 18:54] bebraw commented on #327
Looks good to me.

[2016-11-21 19:04] dmitriid opened #394 "Create and display links to webpack blog"
Basically copying it from https://github.com/webpack/webpack.js.org/issues/327 (see [comment](https://github.com/webpack/webpack.js.org/issues/327#issuecomment-262023743) ):

Feature request:

- update webpack README, webpack 1.x doc site with a link to the [official webpack blog](https://medium.com/webpack)
- on webpack.js.org, possibly:
  - move the icons into the top header
  - add a footer wit

[2016-11-21 19:33] sebastiandeutsch commented on #169
@TheLarkInn yes sure. What's the width that you need?

[2016-11-21 20:14] TheLarkInn commented on #327
Getting a PR here soon for that. We will need a bit more work to display it on mobile but I think this could suffice.

[2016-11-22 00:33] sebastiandeutsch commented on #169
Here you go: https://webpack.slack.com/files/sippndipp/F367L1ABH/webpack_2_-_uml.png

[2016-11-22 00:34] sebastiandeutsch commented on #169
@TheLarkInn here you go: http://imgur.com/a/JQIxm

[2016-11-22 16:17] jhnns commented on #291
Sorry for being unresponsive. It's hard to filter the important issues :)

Thx @pastelsky for your work. I like the proposed color scheme 👍 . Especially the green is a nice accent. Where can I find it on the current site?

![bildschirmfoto 2016-11-22 um 17 13 20](https://cloud.githubusercontent.com/assets/781746/20531419/019c52ea-b0d7-11e6-8c65-eb74b354976c.jpg)

I'm not quite happy with the shade

[2016-11-22 17:13] #327 closed

[2016-11-22 17:13] #354 closed

[2016-11-22 18:20] jhnns commented on #285
Can we close this issue as it has been split into sub-issues?

[2016-11-22 18:30] #85 closed

[2016-11-23 05:17] pastelsky commented on #386
Here are the vector assets for homepage. Feel free to use them as you like —
https://www.dropbox.com/sh/fktsoaqcgt6r0mr/AADMSXL0dtzvpn1VWAi8HyGHa?dl=0

[2016-11-23 10:15] SpaceK33z opened #399 "Contributors heading is included in search results"
As you can see below, the "Contributors" heading is included in the search results. This is not a huge problem, but can be confusing when it's the first result, such as in this case:

![webpack](https://cloud.githubusercontent.com/assets/533616/20557909/e4030048-b16d-11e6-83e4-448c1625f824.png)

@dzello, is this something that can be easily fixed in our Algolia config?

[2016-11-23 12:31] e-cloud opened #400 "sticky sidebar when scrolling down the pages"

[2016-11-23 13:42] dzello commented on #399
Yes! I've fixed it by adding an entry to `selectors_exclude` in [webpack's DocSearch config](https://github.com/algolia/docsearch-configs/pull/95). I also updated the `start_urls` property to reflect the recent navigation changes. The config has been deployed and the live search reflects the changes.

[2016-11-23 14:01] SpaceK33z commented on #399
Thanks for the quick fix!!

[2016-11-23 14:01] #399 closed

[2016-11-23 14:06] bebraw commented on #121
Thanks. 👍

[2016-11-23 14:06] #121 closed

[2016-11-23 14:06] bebraw commented on #52
There's a writer's guide. Probably not perfect but good enough to close this.

[2016-11-23 14:06] #52 closed

[2016-11-23 14:07] bebraw commented on #35
@jackfranklin Any thoughts on this? There's quite a bit of information on loaders now so please review.

[2016-11-23 14:07] bebraw commented on #33
Time to close.

[2016-11-23 14:07] #33 closed

[2016-11-23 14:08] SpaceK33z opened #401 "Documentation: Passing a Configuration page"
https://webpack.js.org/configuration/passing-a-config/

This page is not finished yet.

[2016-11-23 14:09] SpaceK33z opened #402 "Documentation: External Configurations page"
https://webpack.js.org/configuration/external-configs/

This page is not finished yet.

[2016-11-23 14:10] SpaceK33z opened #403 "Documentation: Finish "Entry and Context" page"
https://webpack.js.org/configuration/entry-context/

Needs an introduction. Also the `entry` option is only documented partially, it should have more examples.

[2016-11-23 15:03] jackfranklin commented on #35
Hey sorry, as you can tell I didn't make much progress on this. I'd be happy to try to but I don't know when I'll get there. Happy to let someone else have a stab in the mean time. Sorry :

[2016-11-23 16:10] juangl opened #406 "Missing documentation target option."
I notice in [this commit](https://github.com/webpack/webpack.js.org/commit/ffb96199c6e0dd9706eb90310edaa24caad99112) was deleted `electron-main` from [target docs](https://github.com/webpack/webpack.js.org/blob/develop/content/configuration/target.md). I wonder if this was intentional. Sorry, I'm just curious.

[2016-11-23 18:13] TheLarkInn opened #409 "[Vote] Design Vote Page"
@skipjack So it looks like our voters page got leaked and now has a crap ton of traffic. Do you think you could come up with a creative design for this as top priority for webpack.js.org?

[2016-11-23 18:14] TheLarkInn opened #410 "[Vote] Poly/Ponyfill Fetch for Cross-Browser Supportability"
Safari doesn't support `fetch`. We should probably poly/ponyfill it.

[2016-11-23 18:17] skipjack commented on #409
Sure I can start working on that.

[2016-11-23 18:19] TheLarkInn commented on #410
Looks like this is pending a PR already. Let's review that as we see it in #408

[2016-11-23 18:19] jhnns opened #411 "Randomize Open Collective sponsors and backers"
The [current implementation](https://github.com/webpack/webpack.js.org/blob/0fe4e32067940ebd106ed73b591a56ea2d912048/components/support/support.jsx) just asks Open Collective for the first 5 sponsors and the 20 first backers. Unfortunately, the order is unclear. It's not alphabetical, it's not chronological – but it's also not random.

Although this might be a small detail, it's quite important fo

[2016-11-23 18:27] #410 closed

[2016-11-23 19:09] dmitriid commented on #409
Add a notice: "this as an alpha page, not complete, go away, follow our blog for announcements [here]"

Make sure it's visible on all browsers.

It's a much more effective way to mitigate this than to frantically design the page and try to respond to everyone on twitter

[2016-11-23 19:42] prashantpalikhe opened #412 "Sidebar mobile gets stuck on iOS safari"
![2016-11-23 20_41_28](https://cloud.githubusercontent.com/assets/2657709/20576207/44dbc8ce-b1bd-11e6-9dfa-15bc93380c4d.gif)

[2016-11-23 19:46] dmitriid commented on #409
Also: once the page is done, reset all counters and then open up to the public

[2016-11-23 19:53] sokra commented on #411
It's by donation amount

[2016-11-23 19:54] sokra commented on #406
No it wasn't intentional. You could send a PR which adds it again.

[2016-11-23 20:09] SpaceK33z commented on #406
It was semi-intentional. I removed `electron-main` because `electron` does exactly the same it seems. @sokra, is it recommended to use `electron-main` or `electron`? We should mention one of the two.

[2016-11-23 20:14] #412 closed

[2016-11-23 20:17] TheLarkInn commented on #411
Technically we can pull this information in via new JSON api's. If possible I'd love to just pull them all in. And if it gets too large, to then have a separate page, or something.

[2016-11-23 20:17] TheLarkInn commented on #409
Yes. I agree. I'm submitting some basic content on a branch, and then merging to develop for a deploy.

[2016-11-23 20:18] TheLarkInn commented on #409
This can be the baseline for @skipjack to work off of.

[2016-11-23 20:32] TheLarkInn opened #416 "Clarify ExtractTextPlugin Better, Review Externals Section"
This was someone who took the time to express their concerns about where and how to find the information listed below.

[code]

Easily Summarized. I think its fair we should create issues for ExtractTextPlugin and document it a little more thoroughly I think some don't realize there is no such thing as a css entry and that everything is a js bundle in the end besides emitted assets. (like a css bu

[2016-11-23 20:52] parkerault commented on #416
Awesome, thanks. If the answer to my confusion is "you're doing it wrong and here's what you should be doing" I'm open to that. 😄  Also, the new docs really are fantastic. Keep up the good work!

[2016-11-24 07:24] pksjce commented on #416
Hi,

Do the following links help? I think they are misnamed though.
[Code splitting libraries](https://webpack.js.org/guides/code-splitting-libraries/) - Explains multiple entry points.
[Code splitting with CSS](https://webpack.js.org/guides/code-splitting-css/) - Explains the extract text plugin
[Externals config](https://webpack.js.org/configuration/externals/) - Explains externals configuration

[2016-11-24 17:43] GeorgeAnagnostopoulos opened #427 "Documentation: Get Started with Webpack"
The new docs are really awesome!
In the getting started-mentioned index.html file with the bundle.js couldn't get it to work as it is. When I move the script tag inside the body tag everything works fine.

[2016-11-24 18:02] SpaceK33z commented on #427
Would you be interested in doing a PR?

[2016-11-24 18:57] GeorgeAnagnostopoulos commented on #427
If you could be kind enough to tell me how :)

On Thu, Nov 24, 2016 at 8:02 PM, Kees Kluskens <notifications@github.com>
wrote:

[2016-11-24 19:05] SpaceK33z commented on #427
Of course, you can find it here: https://github.com/webpack/webpack.js.org/blob/develop/content/get-started/index.md. If you click on the 'edit' button on the top-right, you can make edits. After saving the file, the GitHub UI will help you to make a PR.

[2016-11-24 19:11] GeorgeAnagnostopoulos commented on #427
Thank you very much for your time!

[2016-11-24 19:24] SpaceK33z commented on #427
Thank you too!

Fixed by #428

[2016-11-24 19:24] #427 closed

[2016-11-24 23:47] jhnns commented on #411
Oh ... that seems fair, as long as we have less then 5 sponsors with the maximum amount :)

I think we really need to be careful on the splash page to not make things slow.

---

Unfortunately, I'm biased here because my company Peerigon is a sponsor (and currently **not** visible anymore). However, I would rather have a random order instead of showing the most generous all the time while hiding t

[2016-11-24 23:49] skipjack commented on #291
@jhnns agreed on the syntax highlighting issues. Even the other color, tussock, didn't work very well for links within the code blocks. Personally, I like the darker schemes for syntax highlighting a bit more but maybe going with a lighter one as you, @pastelsky, had in your mockups and picking a new prism theme wouldn't be such a bad idea. We could even customize a theme if someone wants to dig i

[2016-11-25 10:50] jhnns commented on #291
I like dark color themes too :)

[2016-11-25 17:12] bebraw commented on #355
@montogeek fixed this in `0.8.1-alpha.edb2b960` so the built results get titles. If you update to that, it would be safe to close this issue I think.

The dev mode doesn't show the titles, but that's minor compared to this.

[2016-11-25 18:40] #355 closed

[2016-11-25 23:38] TheLarkInn opened #435 "Document new performance budgets feature"
Now that most of the details are stamped out for https://github.com/webpack/webpack/pull/3350#pullrequestreview-9743611, we need to ensure that we are documenting the new configuration features, as well as specify what they represent.

Here is the schema for the new information:

[code]

Performance property:
Default recommendations about web practice and performance.

Reference https://github.com

[2016-11-26 08:56] sokra commented on #411
Sounds fair. This would motivate even small sponsors to donate.

Another idea: Show the top 5, and make a slideshow of the remaining ones.

[2016-11-26 09:01] sokra commented on #411
btw. after deploy we show the top 20 sponsors, so everyone should be visible as we have 9 sponsors currently...

[2016-11-26 11:39] pastelsky opened #438 "Dev - Information Architecture (Page Groups)"
The sidebar is getting quite long in a few pages. It would be nice if related items are grouped into some kind of a collection. I'm not sure if this requires a change in antwar or it's just a config change.

**eg.**
<img width="236" alt="screen shot 2016-11-26 at 5 04 24 pm" src="https://cloud.githubusercontent.com/assets/8946207/20640037/a801dab2-b3fa-11e6-98a5-14e42c8a1af0.png">

<img width="224

[2016-11-26 21:56] dmitriid opened #442 "Link to concepts from guides (or maybe rename some things?)"
Very few, if any, beginners (or even more advanced users) will go to the concepts page. Quite often "concepts" pages describe white papers, or system architecture, or some other deeply technical and/or philosophical thing.

People will be almost immediately drawn to the guides section, as they will expect the guides to be a gentle/easy/simple introduction and walkthrough to the system.

However, h

[2016-11-27 04:04] pastelsky opened #443 "Using `file-loader` to load fonts doesn't work in production build."
With reference to #430 , we currently load font files on the site as embedded data URI's using the `url-loader`. This may not be ideal as users have to download both `woff` and `woff2` versions of the font, which is blocking in nature.

We can use `file-loader` to solve this issue, but antwar / configuration doesn't support it currently. @bebraw would have a better idea perhaps.

[2016-11-27 09:25] SpaceK33z commented on #443
Don't know for sure, but this could be related to the hack I [had to do here](https://github.com/webpack/webpack.js.org/blob/develop/components/logo/logo.jsx#L3-L4). It seems that the `.svg` only works when you import it twice in different files. Very weird.

[2016-11-27 11:51] NejcZdovc opened #444 "Vote app"
Based on a talk with @sokra I am creating an issue for a new vote mechanism.

Here is an [initial implementation](https://output.jsbin.com/qunevoyuhe), just to demonstrate the behaviour (it's not working on mobile yet).

What I wanted to achieve here is to reduce number of arrows for voting and to be mobile friendly. With this new system there would be only two buttons, up and down. If you click o

[2016-11-27 16:45] MartinDelille opened #445 "bundle.js:47 Uncaught SyntaxError: Unexpected token import"
I'm following the steps in this tutorial: https://webpack.js.org/get-started/

Unfortunately when executing the following command:

    webpack app/index.js dist/bundle.js

I have the following error in my Chrome browser:

     bundle.js:47 Uncaught SyntaxError: Unexpected token import

Here is my `bundle.js` file:

[code]

[2016-11-27 17:13] SpaceK33z commented on #445
Thanks for your issue. This probably has to do with the Getting Started guide not pointing to the webpack v2 beta. There's an open issue for this: #367.

You can fix this by doing:

[code]

[2016-11-27 17:33] MartinDelille commented on #445
It works indeed. Thanks for the quick answer!

[2016-11-27 17:33] #445 closed

[2016-11-28 13:13] SpaceK33z commented on #444
I like this. It reminds me a bit more of UserVoice (or services like that), where you get 3 points you can divide between feature requests. They also allow you to spend those 3 points on 1 feature, and have a simple up and down vote button. If you vote twice, it will say "+2" between the vote buttons.

[2016-11-28 15:16] skipjack commented on #409
@TheLarkInn sorry for the delay on this... so I think @NejcZdovc has been working on this (see #444) so I don't want to overwrite any of his work. As mentioned in #430 I'm fairly busy this month but after I PR some current work I have locally I'll do whatever I can to help push this forward.

@NejcZdovc maybe you want to close #444 and move that discussion over here?

[2016-11-28 15:51] NejcZdovc commented on #409
@skipjack my issue is more focused on functionality of voting then on design. I am sadly not a designer, so I can't really help on design part, but I can help implement it if you do a quick mock.

We can discuss my suggestion here as well, but I think this are two different things. On the other hand I agree that my issue should be done before this issue can be done.

If you guys like my suggestion

[2016-11-28 16:29] sokra commented on #409
see also #447

[2016-11-28 16:34] NejcZdovc commented on #409
I saw it, and I think that I can work off this PR

[2016-11-28 17:31] TheLarkInn opened #449 "API - Pitching Loader Phases and More"
Reference https://github.com/webpack/webpack/issues/3311#issuecomment-263151426

[2016-11-29 13:10] bebraw commented on #443
This should be fixed now by #450. It's vanilla webpack setup now (antwar does less work).

[2016-11-29 13:10] #443 closed

[2016-11-29 13:29] bebraw commented on #285
Yeah, let's close and work in the sub-issues.

[2016-11-29 13:29] #285 closed

[2016-11-29 13:32] bebraw commented on #264
What would you think if we skipped this one? There are [tons of open issues](https://github.com/christianalfoni/webpack-bin/issues) and webpackbin would require update to webpack 2 for this to make any sense.

It would be likely smarter for us to build something limited for demonstration purposes like @pksjce did earlier. We can get something interactive going.

In any case this is a secondary iss

[2016-11-29 13:33] bebraw commented on #263
Good with CC BY? If so, let's update the readme and add a mention to the site (image + link at the footer would be enough).

[2016-11-29 14:17] pksjce commented on #264
Would definitely work on this if the decision made is favorable!

[2016-11-29 17:25] jhnns commented on #263
Sounds good 👍

[2016-11-29 17:31] jhnns commented on #444
I also like this 👍

[2016-11-29 19:51] NejcZdovc commented on #444
Great will implement it tomorrow

[2016-11-30 06:58] NejcZdovc commented on #444
I think that I should wait for #447 to be merged and then work based on this. @pksjce already assumed in her design that we will have one button.

[2016-11-30 12:33] e-cloud opened #451 "Navigation links in sidebar have poor user experience"
If memory serves me, this docsite is developed with React.

Obviously, it is supposed to be a SPA.

Navigating inside the SPA ought to be smooth, at least partial view update.

However, clicking on the links in sidebar will act like a traditional site. That's not what a SPA should behave.

[2016-11-30 14:41] DannyMcwaves opened #452 "webpack trying to parse @font-face urls"
webpack is trying to require or import the urls of the fonts in the CSS file
and consequently raises an error on the command line indicating build error.
This excludes the build of that particular file from the rest of the files.

Any solution or similar encounters?

[2016-11-30 14:53] dangodev commented on #452
@DannyMcwaves this might be a better issue for https://github.com/webpack/webpack. This is for the documentation. Unless you’re referring to specific doc content that needs correction?

Webpack does try to handle `@font-face` `src` files, and this behavior is intended for the most part. You can use either [file-loader](https://github.com/webpack/file-loader) if you want to simply keep that link to

[2016-11-30 15:09] DannyMcwaves commented on #452
Thanks @dangodev. The first one is exactly what I wanted.
And sorry for the issue misappropriation.

[2016-11-30 15:09] #452 closed

[2016-11-30 17:48] danez opened #454 "Note about System.import"
I was reading through the migration guide and noticed the section about `System.import`.
When reading it it sounds like `System.import` is already a thing and the new specified way of how to do dynamic loading, but it is not and probably never will be in its current form (see whatwg/loader#149, whatwg/loader#147 and https://github.com/tc39/proposal-dynamic-import).

I see that some users probably

[2016-12-01 17:07] pksjce commented on #4
@bebraw - You mean compatibility with?

[2016-12-01 17:09] pksjce commented on #9
Fixed by https://github.com/webpack/webpack.js.org/pull/229

[2016-12-01 17:17] bebraw commented on #4
The original stub had

That said, maybe we can close this one.

[2016-12-01 17:17] #9 closed

[2016-12-01 17:19] bebraw commented on #451
It's not SPA technically. It does progressive enhancement and a tiny bundle per each page if the pages have interactive elements in them.

It would be possible to get SPAish user experience if we wrote a routing layer (something to capture anchor clicks and update browser history).

[2016-12-01 17:21] pksjce commented on #90
@bebraw - So, now in node 7 this is available. I have used

`node --inspect=8888 --debug-brk ./node_modules/.bin/webpack`

But, I don't understand what I could profile and how it could be useful to me?

[2016-12-01 17:22] pksjce commented on #88
Isn't this covered by https://webpack.js.org/guides/hmr-react/?
Or is there more to be done?

[2016-12-01 17:38] bebraw commented on #88
Yeah. You can implement the interface for reducers like I have done [here](http://survivejs.com/webpack/advanced-techniques/configuring-react/#configuring-redux).

[2016-12-01 17:38] bebraw commented on #90
@TheLarkInn Any thoughts on this?

[2016-12-01 22:29] TheLarkInn commented on #90
Yeah so when builds are slow you can use the profile tab and record to find out what functions are taking up the most time from there. Should allow you to diagnose long running our use heap snapshots to capture memory allocations and see where leaks might be occurring.

[2016-12-02 02:43] e-cloud commented on #451
I am sorry for my misunderstanding. Hope it would get better. I haven't learn React yet, otherwise I may give some help.

[2016-12-02 02:49] bebraw commented on #451
The navigation problem is mostly outside of React. Literally pure JavaScript. It would be nice to tackle this, though. I might give it a quick go.

[2016-12-02 04:52] bebraw commented on #451
Here's the high level idea: http://neugierig.org/software/blog/2014/02/single-page-app-links.html .

In addition the site generator should be able to generate fragments (json?) that contains the script references and the content so the replacement process can be done. This might mean some level of separation between navigation and the actual content to replace.

[2016-12-03 17:08] SpaceK33z commented on #454
See https://github.com/webpack/webpack/pull/3413, support for `import()` will probably land in the next beta.

[2016-12-04 12:03] DanielaValero commented on #35
Hello guys, I am a new contributor to karma-webpack. The team decided to do a rewrite of the project. I have some time in the upcoming days, and I will be starting to setup some stuff. I did not write a loader in the past, so my starting point will be for sure reading the existing documentation, and setup some skeleton in karma-webpack.

I will check the current documentation for loaders here, plu

[2016-12-04 12:19] SpaceK33z commented on #35
sounds great @DanielaValero!

[2016-12-04 13:01] pastelsky opened #469 "Proposal: Adding illustrations to webpack documentation"
Webpack documentation can get a little text heavy at times. As discussed in several other issue threads, adding illustrations and screenshots would help add visual relief.

Starting with the concepts site section, we can identify critical topics that would benefit from visualisations, and I could help make them. After we identify such topics, I will post the graphic as a issue / PR which we can th

[2016-12-04 13:10] pksjce commented on #469
I love this! I think that the concepts documentation would benefit most
from these. Also this would be great to explain webpack internals, the
compiler, compilation, resolver life cycles.

On Sun, Dec 4, 2016 at 6:31 PM Shubham Kanodia <notifications@github.com>
wrote:

[2016-12-04 18:13] pastelsky commented on #469
Thanks @pksjce. Though including inline images in the current markdown setup wouldn't be a straightforward task. We'll probably have to host these images on webpack.js.org's server before we can link it in the markdown.

[2016-12-06 02:45] jessehattabaugh opened #473 "Guides - Add Decision Tree to Shimming Doc"
It can be difficult to know how to shim a dependency since there are multiple methods and considerations to take into account. I built a decision tree to help me. Might be useful to have in the docs.

![shim-decision](https://cloud.githubusercontent.com/assets/17991/20911148/ecb63816-bb1a-11e6-9e08-63132ffe8c2a.gif)

[shim-decision.pdf](https://github.com/webpack/webpack.js.org/files/632862/shim-d

[2016-12-08 19:43] donaldpipowitch opened #480 "API - Document MultiStats"
"By accident" I found out about [`MultiStats`](https://github.com/webpack/webpack/blob/f18989c712894bba13ebfb6dfb3f50fc44b0d12a/lib/MultiCompiler.js#L190) today. Looks like neither the old nor the new docs mention `MultiStats`.

This actually broke my code when I switched from a normal compiler config to the _multi compiler config_, because I tried to access `stats.compilation` which is `undefined

[2016-12-10 07:57] bebraw commented on #473
Great idea. Do you have the original file somewhere? Easier to tweak to fit the style better. 👍

[2016-12-10 08:02] pastelsky commented on #469
@bebraw @skipjack @SpaceK33z what do you guys think? should I go forward with this?

[2016-12-10 08:07] bebraw commented on #469
@pastelsky Yeah, sure. Would it be possible for you to share the style (push to `webpack/media`) so it's easier to keep it consistent across the documentation? #473 is related to this.

I wonder if it would be possible to create a nice style for [graphviz](http://www.graphviz.org/). That would allow even coders to generate nice graphics.

[2016-12-10 09:43] pastelsky commented on #469
@bebraw Sure. I can share the textures, fonts and shapes used. Although the graphic will still have to be created manually in a vector editor like sketch. I do not know much about `graphviz`.

[2016-12-10 15:43] NejcZdovc commented on #444
I added this vote app logic to PR #447

[2016-12-11 08:11] bebraw commented on #469
@pastelsky Essentially `graphviz` is based on a text based tree definition. It renders the images for you. Taken far enough it would be possible to make it so that you can write the definitions within Markdown and the system will render them as images while applying the project specific style.

The big advantage of going through a definition based approach like this is that then it's easier to get

[2016-12-11 20:03] jessehattabaugh commented on #473
It's an omnigraffle doc. Do you want that? The PDF I attached should be vector based, so it should work in Illustrator.

[2016-12-11 20:32] bebraw commented on #473
Yeah. If I remember right, you might be able to get svg export in the newest version (I have it). Anyway, push somewhere and I'll convert and hook it up with the site.

[2016-12-12 00:45] francispotter opened #486 "Various issues with Getting Started page"
I tried following the "Getting Started" steps from scratch, and ran into several problems, some of which may be newbie issues, or some might be actual flaws in the process.

1. "UNMET OPTIONAL DEPENDENCY" error on `npm install webpack --save`. It appears that webpack relies on something called fsevents, which only applies on OSX, so there's a warning message to us Linux users. Otherwise it seems t

[2016-12-12 00:53] francispotter commented on #486
My work is here; maybe someone can see the issues that I don't.

https://github.com/hgx/webpack-example/tree/not-working

[2016-12-12 00:54] francispotter commented on #486
Just to be clear - this is the instruction set I followed.

https://github.com/webpack/webpack.js.org/blob/959fe80b456eda77bfdbf1e28dbf13401c185252/content/get-started/index.md

[2016-12-12 00:58] francispotter commented on #486
Sure enough, if I change the `import` line to `var _ = require('lodash');` then it works (my issue 4 above). Is there some reason the example is using `import`?

[2016-12-12 17:02] bebraw commented on #486
`import` should work in webpack 2. The problem is that it's not out yet so you would have to install the beta. But once the final is out, the instructions should be valid.

[2016-12-12 17:03] bebraw opened #487 "Development - Add Class Hierarchy"
Here's a pic to add from @TheLarkInn:

![webpack_2_-_uml](https://cloud.githubusercontent.com/assets/166921/21108395/a3d4bef0-c09d-11e6-852f-5ef881559e5e.png)

[2016-12-13 11:28] bebraw opened #490 "Document placeholder slice option"
I.e. `[chunkhash:8]`. This should be mentioned somewhere.

[2016-12-13 11:39] bebraw commented on #295
FYI, there's a Chinese(?) translation [here](https://github.com/vuefe/webpack2).

[2016-12-13 12:21] chikathreesix commented on #295
@bebraw Looks cool, is this supported by your core community?

@sokra I am sorry for my late reply. What kind of file format are you expecting to be pushed as a commit with the github integration? I think it is possible to push html files to the specified repository.

[2016-12-13 12:31] bebraw commented on #295
@chikathreesix I found it my coincidence. Looks like the Chinese community did something on their own. Cool regardless.

[2016-12-13 14:48] bebraw commented on #454
Yeah, the current beta implements `import()`. `System.import()` can be considered deprecated now.

[2016-12-13 15:35] walfly opened #491 "API - Stats JSON Schema"
I'm working on some tools to help my company find areas to optimize our builds. I'm doing this primarily through traversing the stats file. There's documentation on the options I can toggle on my builds, but I haven't found any good descriptions of the structure of the json itself. For the most part it seems pretty straight forward, I imagine reasons is a list of modules that include a given modul

[2016-12-14 14:24] bebraw opened #494 "Document SourceMapDevToolPlugin"
Looks like `SourceMapDevToolPlugin` bits are missing from the new docs.

[2016-12-14 15:28] skipjack commented on #469
@pastelsky looks great, yea I definitely think we should go forward with this. I agree with @bebraw that enforcing a consistent style would be best (whatever method we choose for that). This is something @jhnns and I discussed a while back in regards to displaying modules in graphs/illustrations. He might be a good person to discuss this with as well -- any thoughts @jhnns?

[2016-12-14 20:48] rafaelrinaldi commented on #411
This might be useful to implement that: https://github.com/OpenCollective/OpenCollective/issues/271

[2016-12-15 07:49] prewk commented on #454
pull request #499 fixes the deprecated `System.import` stuff in the migration guide.

[2016-12-15 16:25] TheLarkInn commented on #435
[code]
this is the new schema, holding for my reference

[2016-12-16 07:36] sunyang713 opened #502 "Migrating Guide: Code Splitting inaccuracy?"
Hi, I was reading over the migrating documentation, and under the section for code-splitting it says:

[code]

https://github.com/webpack/webpack.js.org/blob/develop/content/guides/migrating.md#code-splitting-with-es2015

Shouldn't the function inside the `.then()` return `module.default`?
[code]

[2016-12-16 17:31] aem opened #505 "Increase accessibility for webpack newbies"
Webpack can be intimidating. I'm an experienced JS dev with years of experience but every time I had looked at webpack's docs before they were just a little too dense and intimidating to be useful for a beginner. Now I can attribute that to not having an understanding of basic webpack concepts.

Speaking at least for myself, when I first navigate to a library's page I immediately click on the firs

[2016-12-16 18:03] TheLarkInn commented on #505
Let's do it!!

[2016-12-16 20:23] TheLarkInn commented on #502
That is correct!!! Would love a PR for this!!!!

[2016-12-16 20:55] sunyang713 commented on #502
okay, super simple so I'm on it.

[2016-12-17 08:30] bebraw commented on #502
Merged.

[2016-12-17 08:30] #502 closed

[2016-12-17 08:30] bebraw commented on #505
Merged.

[2016-12-17 08:30] #505 closed

[2016-12-17 09:24] tarang9211 commented on #435
@TheLarkInn can i help on this issue?

[2016-12-17 16:13] TheLarkInn commented on #505
Awesome!!!

[2016-12-17 19:52] #444 closed

[2016-12-19 03:29] skipjack commented on #409
Lost track of this one, now that #474 is pretty much done I can try to help out more with the voting page. I'll start messing around with the design soon and open a PR.

[2016-12-19 18:58] timurtu opened #527 "React Hot MD guide app configuration won't hot reload"
After following the steps of [the React HMR guide](https://github.com/webpack/webpack.js.org/blob/develop/content/guides/hmr-react.md) I am left with an app that won't hot reload.

What happens is on every file change of the __App.js__ the browser does reload, and it seems from the webpack-dev-server log as if the module rebundles, but nothing happens.

__[HMR] Waiting for update signal from WDS..

[2016-12-20 02:57] laggingreflex opened #529 "Add title to pages"
All pages currently have the title "webpack".

https://webpack.js.org/configuration/dev-server/

It should have the title "Webpack DevServer".. or something. Helps in bookmarks and navigating :)

[2016-12-20 10:41] tsriram opened #530 "Sidebar item anchor links reloads the page"
This may be related to #451 but one thing that I thought could be fixed quickly is the links to anchors within the same page. In the current scheme of things, clicking on an anchor link reloads the entire page. Guess react-router's `Link` component is used to render the links and I couldn't find a way to fix it though the [documentation for `Link`](https://github.com/ReactTraining/react-router/blo

[2016-12-20 14:34] #435 closed

[2016-12-20 15:24] bebraw commented on #530
Hi,

The generated result doesn't actually use react-router at all. The routing solution is for development only.

[2016-12-20 15:25] bebraw commented on #530
That fix of your is sensible. Feel free to PR.

[2016-12-21 04:04] cntanglijun opened #533 "A minor mistake with 'Getting Started'"
![image](https://cloud.githubusercontent.com/assets/13279117/21376624/89672410-c771-11e6-8e23-01ad3ebd74d7.png)

![image](https://cloud.githubusercontent.com/assets/13279117/21376997/d04f7bb8-c774-11e6-8c08-33cf6507d0c8.png)

Use `./node_modules/.bin/webpack -h` instead?

[2016-12-21 06:17] lgh06 commented on #294
so,one month passed... any progress? I wanna join.

[2016-12-21 06:22] #530 closed

[2016-12-21 06:37] lcxfs1991 commented on #294
@lgh06 I have found this translation project so I am wondering whether we should do it officially.

https://webpack.vuefe.cn/index/

[2016-12-21 10:05] bebraw commented on #533
PR welcome.

[2016-12-21 14:46] Flimm commented on #486
@bebraw The fact that that webpack.js.org is for Webpack 2, which isn't even released yet, was not obvious at all. Your comment is very clarifying to me.

webpack.js.org is coming up in Google searches, so I think we need a banner on all webpack.js.org warning people about this (like the one in [Django dev docs](https://docs.djangoproject.com/en/dev/topics/forms/)).

[2016-12-21 14:48] bebraw commented on #486
@Flimm Can you PR that? There's `W>`. Another change for it - instead of `npm install webpack` do `npm install webpack@beta` in the quick start and add a little note there too.

[2016-12-21 22:07] TheLarkInn opened #540 "Fix vert scrolling marquee on splash page for Safari Mobile"
Looks like this has issues on mobile safari. ![image](https://cloud.githubusercontent.com/assets/3408176/21407911/84740e8e-c797-11e6-86e1-6e48b74f13f4.png)

[2016-12-23 09:54] sokra opened #545 "remove `commonjs-module` from documentation"
It has no special effect. Replace it with `commonjs2`

[2016-12-23 13:09] #533 closed

[2016-12-23 13:11] bebraw commented on #529
I think this should be fixed by now. The meta title should map to page title. That could be improved if needed.

[2016-12-23 13:11] #529 closed

[2016-12-23 13:12] bebraw commented on #454
Closing since #499 was merged.

[2016-12-23 13:12] #454 closed

[2016-12-23 13:14] bebraw commented on #4
Yeah, let's close. Too vague.

[2016-12-23 13:14] #4 closed

[2016-12-23 13:14] bebraw commented on #5
Time to close as the docs have moved quite a bit.

[2016-12-23 13:14] #5 closed

[2016-12-24 11:25] CasperVonPfaler commented on #540
The same issue is also on desktop safari.
<img width="1141" alt="screen shot 2016-12-24 at 13 23 30" src="https://cloud.githubusercontent.com/assets/15709469/21466705/474e3fd8-c9dc-11e6-8a59-d52eb76d067a.png">
I could take a crack at fixing it over the holidays.

[2016-12-24 22:02] macbem commented on #527
I also have an issue with this guide, I'm getting an `You may need an appropriate loader to handle this file type.` error for my index.js for some reason.

[2016-12-25 05:52] #367 closed

[2016-12-26 00:43] wyuenho opened #552 "Discourage mixing CJS and ES6 module syntax in docs"
Moved from https://github.com/webpack/webpack/issues/3571

Experience has shown that it is easy to fall into a trap like this:

[code]

Much code has been written like this and it used to work in Webpack 2 beta, which only exacerbates the problem of spec-incompliant code like above. Webpack's doc seems to [advertise the ability to mix and match](https://webpack.js.org/concepts/modules/) [different

[2016-12-26 00:51] wyuenho commented on #552
@Kovensky You are absolutely correct. As it happened, when migrating from Node style ES5 code to ES6, we did have a lot of mixed `import/module.exports` in a bunch of files. I think the gotchas warrant some documentation.

[2016-12-26 01:19] wyuenho commented on #552
Or if Webpack 2 RC implements this [bahavior](https://github.com/nodejs/node-eps/blob/master/002-es6-modules.md#54-es-consuming-commonjs), pointing to it might be helpful.

[2016-12-26 20:23] TheLarkInn commented on #435
Looks like we missed this just a few days before closing this!!! Sorry I submitted and merged the PR for this feature. There are some other issues I'd be happy to assist you with. Feel free and @ mention me again next time (I should actually get it now), and I'll assist where needed.

[2016-12-26 20:45] tarang9211 commented on #435
No problem @TheLarkInn
Could you point me to some beginner friendly issues for this repo? I'm completely new to the webpack repo and looking to help!

[2016-12-26 20:51] TheLarkInn commented on #435
Sure well just looking at the issue list on here and finding something you are already comfortable with is a great start. Otherwise you can goto the webpack/webpack repo also and look at issues with a D* label which will tell you what the degree of difficulty will be.

[2016-12-26 20:58] tarang9211 commented on #435
D0 being the easiest contributions, right?

[2016-12-27 20:48] TheLarkInn commented on #435
Yes :)

[2016-12-27 22:58] marcofugaro opened #557 "Searching for "CLI" does not show you the CLI page"
Here is the page I was trying to access to: https://webpack.js.org/api/cli/

I don't know how search works, but I think just adding `(CLI)` to the page title would suffice

[2016-12-29 07:37] gitanupam opened #561 "'Edit this page' link broken"
It seems that 'Edit this page' link is broken throughout the documentation site (like on https://webpack.js.org/configuration/)

[2016-12-29 08:01] pelotom opened #562 "Graphic on front page depicts a CSS module depending on a TypeScript module?"
Minor detail perhaps, but kinda silly:

<img width="215" alt="screen shot 2016-12-28 at 11 55 07 pm" src="https://cloud.githubusercontent.com/assets/128019/21539240/ca7cc4c6-cd59-11e6-829f-e9a517444f6c.png">

[2016-12-29 09:30] kennyjacob opened #563 "Wrong line highlighting in source code"
On https://github.com/webpack/webpack.js.org/blob/develop/content/concepts/plugins.md at the bottom there is a link to a code sample highlighting a specific section of code (https://github.com/webpack/webpack/blob/master/bin/webpack.js#L290-L292). Due to changes in that file, the highlight has become wrong.

You might need a way to link to a commit's version of the file or else update these doc li

[2016-12-29 17:51] dzello commented on #557
APIs, loaders and plugins weren't being picked up. That's been [fixed](https://github.com/algolia/docsearch-configs/commit/fa6c750cdd4a8673a0f5e1597dbf6f325fd3056e) and deployed.

Searching for `command line interface` works as expected now. Adding `(CLI)` to the header tag on that page should make it a top match for the short `CLI` form also.

[2016-12-30 09:33] bebraw commented on #563
Yeah, it would be far better to link to a specific commit. GitHub allows that. PR welcome.

[2016-12-30 09:36] bebraw commented on #561
[Here](https://github.com/webpack/webpack.js.org/blob/develop/components/page/page.jsx#L11). `page.url` should be `trimEnd(page.url, '/')`. PR welcome.

[2016-12-30 19:53] bdougie commented on #563
I can PR real quick, already have a cloned version locally.

[2016-12-30 19:57] #563 closed

[2016-12-30 20:22] bdougie commented on #178
I have had problems with marked in the past for an app at work, but figured out a workaround. I was unable to find a better solution than marked and curious to know if there is something better.

Is there an example of reference linking already being used somewhere, if not I can play around with this and look into [remarkable](https://github.com/jonschlinkert/remarkable) or [common mark](https://g

[2016-12-30 20:29] bebraw commented on #178
The problem is that we've extended the parser with some custom syntax. That would need to be ported over to some other solution. That said, replacing marked with something maintained could be a good move.

[2016-12-30 20:34] skipjack commented on #178
Yea I was thinking about closing this as it doesn't seem to bother others too much and I haven't had the time to dig into it myself. However, @bdougie if you want to take a stab at using another parser or debugging this, that would be awesome. As @bebraw mentioned though, I would take a look at the [markdown utility](https://github.com/webpack/webpack.js.org/blob/develop/utilities/markdown.js) we'

[2016-12-31 08:30] idiotWu commented on #151
Same for `.ts|.tsx` too. It took me a whole day to figure out the problem 😢

[2016-12-31 09:37] dmitriid opened #569 "General - Clarify Loader Configuration"
Recently (during a discussion of https://github.com/webpack/webpack/issues/2797) I went to see how loaders are configured in Webpack 2. I found it in the end, but the journey was a long one:

- [Concepts -> Loaders](https://webpack.js.org/concepts/loaders/) only mentions they can accept query parameters without describing what that is
- [Guides](https://webpack.js.org/guides/)... May be there are

[2016-12-31 09:51] dmitriid opened #570 "Links to subsections in sidebar should be full URIs"
## Reproduce:

- Go to any section in Guides, e.g. [Dependency Management](https://webpack.js.org/guides/dependency-management/)
- Expand `Hot Module Replacement - React` by clicking on arrow down next to it
- Click on `Code`

## Expected:

Browser loads https://webpack.js.org/guides/hmr-react#code

## Actual behaviour:

We stay in https://webpack.js.org/guides/dependency-management/ attempting to

[2016-12-31 12:36] #570 closed

[2016-12-31 19:31] bebraw commented on #561
The PR was merged (not deployed yet, though).

[2016-12-31 19:31] #561 closed

[2017-01-01 13:38] Flimm commented on #486
@bebraw Looks like pull request #546 does what you requested.

[2017-01-01 18:53] #382 closed

[2017-01-01 18:56] JamieMason commented on #382
Thanks @NejcZdovc

[2017-01-01 19:11] bebraw commented on #557
Thanks for the fix. Closing.

[2017-01-01 19:11] #557 closed

[2017-01-02 07:13] bebraw opened #577 "Documentation on recordsPath"
I am looking for a bit of insight on how to use the recordsPath file.

We are using code splitting and the commons chunk plugin and we would love to have long term caching of our bundles.

What we don't know or understand is how we get this with our recordsPath file.  We would like to know when/if we should be persisting this file.  Should it change for each developer on each build?  Does the webp

[2017-01-02 10:53] kasperpeulen opened #578 "My bundle is 500 times bigger than in tutorial?"
I just followed the steps here:
https://webpack.js.org/get-started/

According to the tutorial, I should get this output:
[code]

But the output I'm getting is:

[code]

I was a bit suprised by this.

[2017-01-02 12:28] bebraw commented on #578
Hi,

I think that output at the page is not up to date. That lodash dependency alone explains most of the size since it appears to bundle whole lodash there.

It probably would be a better idea to import only smaller parts of lodash and update the tutorial output accordingly.

[2017-01-03 14:11] simon04 opened #587 "Git flow and develop branch?"
When reading through recent comments on PRs, such as https://github.com/webpack/webpack.js.org/pull/580#issuecomment-269969137 or https://github.com/webpack/webpack.js.org/pull/573#issuecomment-269904137, the `develop` is no longer in use.

Thus, [CONTRIBUTING.md](https://github.com/webpack/webpack.js.org/blob/master/CONTRIBUTING.md) should be adapted accordingly. The git flow branching model is n

[2017-01-03 14:19] bdougie commented on #178
I first tried Remarkable and found it works fine with reference linking, I did have some trouble trying to match the Markdown Utility customizations and did not proceed with it.

I did find the point of failure in [Marked](https://github.com/chjj/marked/blob/master/lib/marked.js#L635) and it correctly parses that there are reference links, if just can't parse the reference link list, specifically

[2017-01-03 14:50] skipjack commented on #587
Yep, the whole git flow section should be removed and "Branching your Changes"/"Submitting Changes" should be tweaked as well.

[2017-01-03 15:09] bebraw commented on #587
@skipjack I would drop the naming part to keep it simple. The focus is on content after all.

I'll tweak and merge in a bit. Thanks for the heads up.

[2017-01-03 16:32] #587 closed

[2017-01-03 18:36] dmackerman opened #589 "Document usage of `import()` for code splitting"
Instead of the deprecated `System.import`.

As requested by @TheLarkInn. 😄

[2017-01-04 09:47] simon04 opened #595 ""Edit this page" fails for fetched loaders/plugins"
Clicking "Edit this page" on https://webpack.js.org/plugins/i18n-webpack-plugin/ leads to a non existing file/page.

This affects all [fetched](https://github.com/webpack/webpack.js.org/blob/master/scripts/fetch.sh) loaders/plugins.

[2017-01-04 11:11] simon04 opened #598 "Bad loader rendering"
Due to special styling of the README from https://github.com/webpack/less-loader/pull/119, the [`less-loader` documentation](https://webpack.js.org/loaders/less-loader/) rendering is rather unfortunate:
- the badges are being displatyed as `[![npm][npm]][npm-url] [![node][node]][node-url] [![deps][deps]][deps-url] [![tests][tests]][tests-url] [![coverage][cover]][cover-url] [![chat][chat]][chat-ur

[2017-01-04 11:32] SpaceK33z commented on #598
Good point. This will probably not be easy to fix though, since the readme's are auto-generated :(. Do you have any suggestions how to tackle this?

[2017-01-04 12:16] simon04 commented on #598
In [scripts/fetch_package_files.js](https://github.com/webpack/webpack.js.org/blob/3450c22/scripts/fetch_package_files.js#L72-L75), one could:
- delete all lines until encountering `<h2 align="center">Install</h2>`
- replace any `<h1 align="center">` and `</h1>` with `#` (likewise for `h2` and `##`)

[2017-01-04 13:41] bebraw commented on #595
Good point. I guess we should point to the package README editors then.

[2017-01-04 18:49] souptown commented on #122
@SpaceK33z The PR you reference when closing this says you can freely mix ES6, AMD, CommonJS.

Webpack 2.2.0-rc.3 (correctly?) breaks the case of mixing CommonJS `module.exports = function (){}` and ES6 `import foo from ...`.

In this case `foo` will be undefined because `module.exports.default` was not set.

I'm unsure now if this is a webpack 2 bug or a documentation error.

[2017-01-04 19:49] chrisVillanueva commented on #486
I read through the "Getting Started" page and noticed some areas that could use a little more explanation. I made small text additions to help clarify the tutorial.  My changes can be viewed here:

https://github.com/chrisVillanueva/webpack.js.org/commit/97c0f2bfa07405c575551ddfb57a44e286dc7860

[2017-01-05 00:49] Kovensky commented on #122
@souptown both. Your code is supposed to crash with ReferenceError instead :)

The node interop spec says that ES modules _do not_ have either a `module` or `exports` "global".

[2017-01-05 07:15] bebraw commented on #486
@chrisVillanueva Can you PR those changes? Thanks.

[2017-01-05 07:25] #598 closed

[2017-01-05 14:56] halt-hammerzeit commented on #589
A follow-up
https://github.com/webpack/webpack/issues/3777

The [migration guide](https://webpack.js.org/guides/migrating/) says:

At the same time, seems that it has been added recently:
https://github.com/babel/babel/issues/4944

I'm now running my project without that babel syntax plugin and it seems to work.
So maybe reflect that in the migration guide, that the syntax plugin is not needed for

[2017-01-05 17:15] chrisVillanueva commented on #486
@bebraw PR is submitted.  Open to feedback.  Please let me know what I can do to help.  Thx

[2017-01-05 20:08] ntrrgc commented on #578
Same issue here: https://github.com/webpack/webpack/issues/3794

[2017-01-05 20:39] jouni-kantola commented on #589
@halt-hammerzeit: I'm doing `import()` in this branch:
https://github.com/jouni-kantola/webpack-output-by-build-type/tree/webpack2

Without `plugins: ["syntax-dynamic-import"]` options to `babel-loader` I get:
[code]
This tells me code splitting with import doesn't work without `syntax-dynamic-import`.

[2017-01-05 20:42] halt-hammerzeit commented on #589
@jouni-kantola Did you reinstall node_modules?

[code]

[2017-01-05 21:03] jouni-kantola commented on #589
Can you give me an example of your code? If you try this in babel's REPL, it throws:
[Dynamic import](https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=stage-3&code=import%20lodash%20from%20'lodash'%3B%0A%0Aconst%20module%20%3D%20import('.%2Fmodule')%3B%0A)

[2017-01-05 22:40] drewdeal opened #612 "bundle file gets considered a module!"
v 1.14 - getting error: Module not found: Error: Cannot resolve module 'dist/pixDBundleWP.js'

Config has:
[code]
So on second run of `webpack --display-error-details ./pixiDrew/index.js dist/pixDBundleWP.js`
I get no error, but the bundle file grows by 1.2Mb!

Using ES6 mods, and here are the imports:
[code]

Ok, I think it is because I have files as args and they are repeated in config file.
I t

[2017-01-06 09:26] bebraw commented on #578
Yeah, let's keep this one open as that's for the main repo.

[2017-01-06 09:28] bebraw commented on #486
@francispotter The quick start has received quite a few changes. Feel free to review again.

[2017-01-06 10:53] #263 closed

[2017-01-07 11:23] michael-ciniawsky opened #615 "Document Asset Bundling (Files/Images/Fonts)"

[2017-01-08 08:54] chrisVillanueva commented on #527
@timurtu @macbem

I ran through the React HMR guide and it ran fine on my local.  I'm running:

- ubuntu 16.04 LTS
- node v6.1.0
- npm v4.0.5
- "devDependencies": {
    "babel": "^6.5.2",
    "babel-core": "^6.13.2",
    "babel-loader": "^6.2.4",
    "babel-preset-es2015": "^6.13.2",
    "babel-preset-react": "^6.11.1",
    "babel-preset-stage-2": "^6.13.0",
    "css-loader": "^0.23.1",
    "postc

[2017-01-08 09:16] lcxfs1991 opened #617 "yarn install error"
hi there,

I clone the project and use yarn install. It has following errors:
[yarn-error.txt](https://github.com/webpack/webpack.js.org/files/692006/yarn-error.txt)

![webpacjs](https://cloud.githubusercontent.com/assets/3348398/21748705/2154faec-d5c6-11e6-9e57-5015e2c47d73.jpg)

[2017-01-08 11:21] macbem commented on #527
You ran the HMR guide, because my PR with fixes has already been merged to the docs - sorry, I forgot to mention it here.

[2017-01-09 00:53] timurtu commented on #527
What were the fixes?

[2017-01-09 04:55] bebraw commented on #617
The error log seems to point at https://www.npmjs.com/package/httperrors. Beyond that it's hard to tell what's going on as the site wasn't designed to be used with yarn (no official support, pr welcome).

[2017-01-09 04:59] lcxfs1991 commented on #617
I create a pull request yesterday. Upgrade `gh-pages` to the latest version would resolve the issue.

[2017-01-09 06:14] bebraw commented on #617
Ok, looks like it was merged already. This might be safe to close then. Please verify that yarn works and close. 👍

[2017-01-09 08:15] macbem commented on #527
I have changed the required Webpack version.

[2017-01-09 11:31] dmitriid commented on #491
+1 to that. I've been looking for a definition, and the only "documentation" is a 1.1 MB [JSON file](https://github.com/webpack/analyse/blob/master/app/pages/upload/example.json) linked from node.js API in 1.x docs

[2017-01-09 19:36] #617 closed

[2017-01-11 08:07] sokra opened #624 "Edit button on index.md pages point to wrong URL"
https://webpack.js.org/concepts/

Edit button points to https://github.com/webpack/webpack.js.org/edit/master/content/concepts.md

But should point to https://github.com/webpack/webpack.js.org/edit/master/content/concepts/index.md

[2017-01-12 00:48] jaydenseric commented on #469
My thoughts on the graphic style is that it would not work well as SVG, due to the grungy smudges. Where possible all logos and diagrams should be SVG. I suggest changing the watercolor fills to a flat color, the borders should be ok as outlines.

[2017-01-12 01:09] pastelsky commented on #469
You're right. It's not just the background, but the casual look of the
strokes and fonts that'll make the svg version a bit heavy.

But then png's can look reasonably sharp on retina devices as well. And
png's are easier to share / reference / save. So it's a trade-off here.

The grunge fill was inspired in part by the graphic style on yarnpkg.org.

On 12 Jan 2017 6:18 a.m., "Jayden Seric" <notifi

[2017-01-12 15:56] zzzgit opened #627 "more info needed to understand output.publicPath"
![image](https://cloud.githubusercontent.com/assets/1060733/21894514/7515db86-d91a-11e6-9dd6-2649bc0f00fc.png)

this is from the documentation on [webpack.github.io](http://webpack.github.io/docs/configuration.html#output-publicpath)

i‘ve found that there are many people who are wondering about `output.publicPath` in the configuration file.i think to a certain degree it's because the documentatio

[2017-01-13 14:25] dmethvin commented on #262
@TheLarkInn I talked to @kborchers and he says the JSF owns webpackjs.org and we could use that. I'm not sure about the long-term goals or stability of js.org.

[2017-01-13 14:40] TheLarkInn commented on #262
Could we mirror for now? My only concern is the SEO and indexing we've gotten already will have to start over with a new domain. Unless that is not a concern to the other core team members.

[2017-01-13 14:44] bebraw commented on #262
Any chance JSF could buy webpack.com (owned by webpac corporation), webpack.org, or a similar root domain?

[2017-01-13 15:30] kborchers commented on #262
@TheLarkInn I don't really have too much concern there but the sooner you switch, the sooner that corrects itself.

@bebraw I will reach out on both but I have never had an org even respond when we have reached out about other domains in the past and if they do, my guess is they will ask an amount we won't be willing/able to pay but I will definitely try and let you know. Even if we can't get one

[2017-01-14 20:27] stsiarzhanau opened #634 "resolve.resolveToContext should be removed from docs cause webpack doesn't use this prop."
resolve.resolveToContext should be removed from docs cause webpack doesn't use this prop.

See response to [issue](https://github.com/webpack/webpack/issues/3954) opened in webpack repo.

[2017-01-14 21:34] SpaceK33z commented on #634
Okay, would you be interested in making a PR for this?

[2017-01-14 21:35] dmethvin commented on #262
Also if you are going to have multiple domains serving the content, make sure there is a `<link rel="canonical" ...>` on the page. https://yoast.com/rel-canonical/

[2017-01-14 22:50] stsiarzhanau commented on #634
I'd be glad to contribute (not only to fix this issue, but possibly in future).
But I've never made PRs and it's not clear for me how I can do it.
Do I need to fork this repo? Next steps?
Please, give me some guideline or link to resource where I can read about how to contribute.

[2017-01-14 22:55] TheLarkInn commented on #634
Here's a great link!!! https://github.com/webpack/webpack.js.org/blob/master/CONTRIBUTING.md

[2017-01-15 08:20] stsiarzhanau commented on #634
PR #640

[2017-01-15 09:34] #634 closed

[2017-01-15 15:43] #350 closed

[2017-01-16 06:41] doberkofler opened #645 "The BannerPlugin has no documentation in webpck 2"
There is no documentation of the BannerPlugin on https://webpack.js.org/plugins. How would I add a new plugin page as a PR?

[2017-01-16 17:06] AlexanderTserkovniy opened #649 "HMR add simple Production section"
In order to get it work without errors and warns in console on production, it is required to add simple Production section for [HMR page](https://webpack.js.org/guides/hmr-react/).

In process of doing pull request...

[2017-01-16 21:16] jouni-kantola opened #652 "Guides - Explain Hash Changes in Caching Guide"
I got a scenario here, that I would like to discuss and hopefully create a source for docs, for what a developer should really think about to prevent causing hash changes.
I'm making something, that might seem like a very small change in my code, which has quite large effect on long-term caching.

I'm writing this issue in docs, because I'm sure it's expected, just that I want to be able to unders

[2017-01-16 22:39] jouni-kantola commented on #652
If I replace `require('webpack-chunk-hash')` with `webpack.HashedModuleIdsPlugin()` all seems to play nice.
Only changed bundle hash after that is `1.f948e0e64b866b43bc18.dev.js` to `1.41c92261bb86681d218a.dev.js`. Rest stays the same.

So I removed the inlining of the `manifest` to generate a manifest file, and it seems like it updates fine.
`1.41c92261bb86681d218a.dev.js` -> `1.f948e0e64b866b43b

[2017-01-16 23:09] jouni-kantola commented on #652
Btw, the reason why I extracted the manifest is because of this issue, when manifest has _not_ been inlined:
https://github.com/erm0l0v/webpack-md5-hash/issues/9

[2017-01-17 05:00] bebraw commented on #652
@jouni-kantola `HashedModuleIdsPlugin` does most of the work (easier than module ids). I would recommend using `NamedModulesPlugin` (same but without hashing) during development (better output). Extracting manifest in a way or another becomes crucial when you split bundles (otherwise manifest changes can invalidate something you don't want).

There's one more option - `records`. Storing records ac

[2017-01-17 11:48] yuyang041060120 opened #655 "code-splitting-css demo throw error"
[code]

os: macOS Sierra 10.12.2
node: 7.4.0
webpack: 2.2.0-rc.7

webpack.config.js

[code]

app/index.js

[code]

app/index.css

[code]

[2017-01-17 12:22] simon04 commented on #655
Which version of `extract-text-webpack-plugin` are you using? Make sure to install a 2.x version, e.g., via `extract-text-webpack-plugin@beta`.

[2017-01-17 12:27] simon04 commented on #645
Go to https://github.com/webpack/webpack.js.org/new/master/content/plugins and input `banner-plugin.md` as filename. Make sure to include a minimal yaml header at the top of the file:
[code]

[2017-01-17 12:32] simon04 commented on #627
You are referring to the webpack 1 documentation. Please review the [webpack 2 docs on output.publicPath](https://webpack.js.org/configuration/output/#output-publicpath) since this section has already been extended.

[2017-01-17 13:22] yuyang041060120 commented on #655
<img width="757" alt="2017-01-17 9 18 53" src="https://cloud.githubusercontent.com/assets/6648248/22021989/f7e29d40-dcfa-11e6-99d3-64b98d4d3815.png">

Maybe update doc to npm i --save-dev extract-text-webpack-plugin@2.x.x

[2017-01-17 15:49] timurtu commented on #527
I tried the [guide](https://webpack.js.org/guides/hmr-react/) again and ran into a small issue, and that was destructuring __resolve__ from __path__ in the __webpack.config.js__. `const { resolve } = require('path')`

I'm not sure which node version has destructuring, I'm running v4.6.1, but after changing it to a normal require statement everything seems to be working.

[2017-01-17 15:49] #527 closed

[2017-01-17 22:43] jouni-kantola commented on #652
I'm working with updating the docs at the moment. I realised I got things a bit backwards after-all yesterday.

Yes, use `HashedModuleIdsPlugin` to generate IDs that preserves over builds. However,  `webpack-chunk-hash`/`webpack-md5-hash` needs to be used to base the file hashes on file contents.

So this is the simplest config I'm suggesting:
[code]

[2017-01-18 06:08] #624 closed

[2017-01-18 07:04] SimenB opened #667 "After logging in on `/vote`, I get errors on the site"
https://webpack.js.org/vote/

This list of issues was available until I logged in

![image](https://cloud.githubusercontent.com/assets/1404810/22054057/3b85d87e-dd54-11e6-856e-c4cd358074d1.png)

![image](https://cloud.githubusercontent.com/assets/1404810/22054072/4854c0c4-dd54-11e6-8098-217ddb41d7ac.png)

Prettifying the minified source code (you should include sourcemaps :P) gives med this render

[2017-01-18 07:05] SimenB commented on #667
Digging through the source, the error is here: https://github.com/webpack/webpack.js.org/blob/83473c675161792339ea2a55f0eb768201ffdb58/components/vote/app.jsx#L166

[2017-01-18 07:42] frederikprijck opened #668 "Incorrect migration docs regarding 'rule'"
**Do you want to request a feature or report a bug?**
bug

**What is the current behavior?**
Looking at the migration docs, it looks like `use` is a property on `module` now (http://prnt.sc/dx2yjt).

[code]

[code]
and

[code]

Link to docs: https://webpack.js.org/guides/migrating/#what-are-options-
But the module docs doesn't say anything about this: https://webpack.js.org/configuration/module/

[2017-01-18 08:09] frederikprijck commented on #668
I'd thing it has to be:

[code]

[code]

and

[code]

On top of that, I'm unsure if `use` is allowed to be assigned with a string. Docs indicate it has to be an array.
https://webpack.js.org/configuration/module/#rule-use

[2017-01-18 08:33] dmitriid opened #670 "Proper Webpack 2 release announcement"
This issue is meant to discuss and construct a proper announcement for the release of Webpack 2

I’m a bit under pressure to write this quickly, so there are bound to be typos and I probably sound more terse than I intend to. Feel free to ping me to change wording, and feel free to edit the issue to your heart’s content.

----

Webpack 2 has finally been released and this is the announcement: http

[2017-01-18 08:35] dmitriid commented on #670
I also just realised it's in `webpack.js.org`, not in `webpack`. It's still fitting? If not, I can recreate it in `webpack`

[2017-01-18 09:28] #668 closed

[2017-01-18 10:22] bebraw commented on #667
Yeah. Better do

[code]

or so.

Maybe the question is, why can `possibleVotes` be missing?

[2017-01-18 12:10] SimenB commented on #667
I'm guessing because of the 401s

[2017-01-18 12:12] SimenB commented on #667
Mapping to 0 is weird though, should just `new Array(listInfo.possibleVotes.length).fill(0)`.

[2017-01-18 14:25] Jonwheeler commented on #655
I think that a note in the docs regarding this makes sense, though it should probably be updated once ExtractTextPlugin 2.X is released. I'm happy to make PR for this if folks agree?

Seems that there are may also be plans to address this in the ExtractTextPlugin project itself. https://github.com/webpack/extract-text-webpack-plugin/issues/280

[2017-01-18 14:49] calaveraDeluxe opened #674 "output.path is documented as "must be absolute", but can be relative"
The config option [output.path](https://webpack.js.org/configuration/output/#output-path) is documented as "must be absolute" (see also [https://webpack.js.org/configuration/#options](https://webpack.js.org/configuration/#options) and [https://webpack.js.org/concepts/output/#output-path](https://webpack.js.org/concepts/output/#output-path)). however, the following configuration containing  a relat

[2017-01-18 20:34] redonkulus opened #677 "Caching Guide: ManifestPlugin vs ChunkManifestPlugin"
In the Caching guide, the [Deterministic Hashing](https://webpack.js.org/guides/caching/#deterministic-hashes) section discussing using the `ChunkManifestPlugin` plugin to extract the manifest. However, in the final output of the code it also shows the `ManifestPlugin` plugin being used, but it was never mentioned in the guide.

Do we still need the `ManifestPlugin` or is it just a mistake in the

[2017-01-19 03:37] lcxfs1991 opened #678 "Missing documentations"
hello,

We found there are several missing docs in `master` branch, however, they can be compiled in `gh-pages`branch.

Could you explain the relationship here?

![408202265117772168](https://cloud.githubusercontent.com/assets/3348398/22092816/b1d25650-de3b-11e6-8899-58b8ef89d8f0.jpg)

![694612570446993594](https://cloud.githubusercontent.com/assets/3348398/22092817/b6f75f40-de3b-11e6-9e39-20aff3f

[2017-01-19 04:30] bebraw commented on #678
Those are fetched from GitHub repositories below webpack organization. They are literally the README files. It also picks up some local files.

[2017-01-19 04:36] lcxfs1991 commented on #678
we are trying translate this part into Chinese. Could you tell me where I can locate the source?

[2017-01-19 04:40] bebraw commented on #678
It picks up plugins and loaders from https://github.com/webpack .

If you write files with the same slugs to loaders/plugins directories, the setup might pick those instead (needs testing and possibly a tweak). That would work for translating.

[2017-01-19 04:48] lcxfs1991 commented on #678
We are using master for translation. Could we just copy those readme files from github and drag them into the folder?

[2017-01-19 05:11] bebraw commented on #678
Yeah. That was the point.

[2017-01-19 05:21] lcxfs1991 commented on #678
thank u!

[2017-01-19 05:21] #678 closed

[2017-01-19 06:59] #677 closed

[2017-01-19 07:16] bebraw commented on #469
@pastelsky Another option, https://github.com/knsv/mermaid . We could integrate that to markdown quite easily.

[2017-01-19 07:54] jouni-kantola commented on #652
Directly related issue: https://github.com/webpack/webpack/issues/1479
(which in-turn links to the resource: https://github.com/dmitry/webpack-hash-test)

[2017-01-19 20:44] tarang9211 commented on #403
@SpaceK33z can i help with this? im completely new to the repo, so some guidance would be great!

[2017-01-19 21:05] TheLarkInn commented on #403
@tarang9211 https://github.com/webpack/webpack.js.org/blob/master/CONTRIBUTING.md

Start here. And then you can look in the content folder. :-D

[2017-01-20 02:13] yuyang041060120 opened #685 "file-loader outputPath doesn't work"
file-loader: 0.9.0

<img width="342" alt="2017-01-20 10 11 24" src="https://cloud.githubusercontent.com/assets/6648248/22133045/da779e54-def8-11e6-9100-595be1e11eab.png">

I doesn't find any "outputPath" word in source code. And It doesn't work in my config.

[code]

[2017-01-20 05:52] bebraw commented on #685
What's that supposed to do? Are you sure you didn't mean to include the path to `name`?

[2017-01-20 07:31] tarang9211 commented on #403
@TheLarkInn got everything set up! I need to come up with the descriptions right?

[2017-01-20 08:09] TheLarkInn commented on #403
Yup, really just a nice paragraph for how entry and context interact with eachother, what their purpose is etc.

[2017-01-20 09:49] SpaceK33z commented on #685
That's because `outputPath` hasn't been released yet... (see [commits](https://github.com/webpack/file-loader/commits/master)).

[2017-01-20 09:49] #685 closed

[2017-01-20 10:39] tarang9211 commented on #403
**Entry and Context describe where the application must begin execution and also resolve any loaders from the configuration.**

sounds good?

[2017-01-20 10:40] dmitriid commented on #670
Additionally: a proper release announcement will with website itself. For example: webpack 2 introduces tree shaking. There is no info on the current documentation site about this feature (it's only mentioned twice in the docs [here](https://webpack.js.org/configuration/output/#output-pathinfo) and [here](https://webpack.js.org/guides/hmr-react/#code)

There are undoubtedly other features.

[2017-01-20 13:17] Torwori opened #686 "Config - Add Missing Devtool Options"
https://webpack.js.org/configuration/devtool/

`inline-source-map` is listed under "For development", but it's missing from the summary table above it.

[2017-01-20 13:18] Torwori commented on #686
Same with `hidden-source-map`. :smile:

[2017-01-20 14:13] tbrisbout opened #687 "Upgrade Plugins in migration guide"
The first step in my project in order to upgrade to webpack 2 is to fix unmeet peer dependencies with already installed plugins (eg `extract-text-webpack-plugin`).

The migration guide on the website starts with API changes in configuration.
Documentation for this one is not immediately obvious.

It may be interesting to begin with installation change for each *official* plugin to use with webpack

[2017-01-20 19:16] TheLarkInn commented on #403
I believe it may be any paths from the configuration

[2017-01-20 19:22] tarang9211 commented on #403
@TheLarkInn

**The entry object provides an entry point for the application to begin execution.
The context object is an absolute path that resolves loaders and entry points.
**

That better?

[2017-01-22 00:58] johnstew commented on #394
PR for this here, [#700](https://github.com/webpack/webpack.js.org/pull/700).

Added in the blog link to the top navigation only for now. The footer looks pretty balanced and wasn't sure where this should go down there. Will defer to @bebraw or @TheLarkInn on if it should be added there.

[2017-01-23 11:10] tsm91 opened #709 "http 404 for site css"
https://webpack.js.org/048c7d20138eed316cc2.css is not found

http://imgur.com/a/s8NfX

[2017-01-23 11:56] bebraw commented on #709
Works for me. Can anyone confirm?

[2017-01-23 11:57] NejcZdovc commented on #709
Works for me

[2017-01-23 11:58] montogeek commented on #709
Works here

[2017-01-23 11:59] tsm91 commented on #709
works for me too now

p.s also tried it in another browser before submitting the issue. i can confirm at that time it didnt work

[2017-01-23 11:59] #709 closed

[2017-01-23 12:01] bebraw commented on #709
It must have been some temporary glitch (GitHub Pages or CDN?). It's very hard to debug, though, as we have literally zero access to the server side.

[2017-01-23 12:02] bebraw commented on #687
`extract-text-webpack-plugin` is problematic as it's still running in beta, yeah.

If you don't mind crafting a little PR to amend this issue, that would help. 👍

Agreed. That would be a great change too.

[2017-01-23 12:04] tsm91 commented on #709
It was giving me 404 for like ~10minutes

because of 404 and the filename of css i thought there was a new release and the index.html referencing the css in the old cache busted name

[2017-01-23 15:33] tarang9211 commented on #403
@TheLarkInn or @bebraw can we close this issue since it seems to be deployed to production?

[2017-01-23 15:34] #403 closed

[2017-01-23 16:31] dmitriid opened #710 "Better visibilty for sidecar icons on smaller screens"
## Problem

The sidebar icons on the right-side of the screen:

![](http://dmitriid.com/i/gm2tmnrrgq2danry.png)

They are only visible on viewport sizes 1085px and up. It means that there's no way to get to the source, the blog and other links, unless you are on a desktop, with browser at at least 60% of the screen.

Additionally: they are not visible on the front page

Additionally: they are at t

[2017-01-23 19:47] tarang9211 commented on #402
@SpaceK33z @TheLarkInn im interested in helping on this. Is there some place I can read about external configurations first? That would help me put it down in easy-to-read words!

[2017-01-24 00:24] jouni-kantola commented on #652
All right. I went through a whole bunch of scenarios to check what updated hash.

I use:
- `HashedModuleIdsPlugin`
- `WebpackChunkHash`
- `CommonsChunkPlugin` for vendor chunk
- code splitting with `import()`

This is what I came up with:
https://gist.github.com/jouni-kantola/1c1e2bfaebf30de50d1b6a71b869da13

I'll try to document it in docs, in some kind of overview. I'm probably leaving out the f

[2017-01-24 01:12] jouni-kantola commented on #652
I also tried adding recordsPath, `recordsPath: path.resolve(__dirname, './recordsPath.json')`.

- reordering code splits
- renaming sub modules dir names
still have large effects on long-term caching.

[2017-01-24 01:32] jouni-kantola commented on #652
@sokra: Wouldn't at least the long-term caching problems caused by renamed code splitted chunks, be fixed if they weren't prefixed with the ordering number?

[2017-01-24 04:40] johnstew commented on #686
Also it looks like `cheap-eval-source-map` is listed in the table but missing in the `development` description beneath it.

[2017-01-24 04:47] johnstew commented on #710
I like this idea, but honestly its really more a matter of how important the webpack team considers those links. That being said, I have a PR in right now to add the [blog link to the main menu](https://github.com/webpack/webpack.js.org/pull/700). So that PR might want to be reconsidered. Either way, interested to see how the team feels.

[2017-01-24 04:58] johnstew commented on #674
I've had this working as a relative path as well in one of my configs. Doesn't seem to be an issue. I would think that it should be called out in the docs.

[2017-01-24 05:20] alencool commented on #652
@jouni-kantola would making sure that a chunkId doesn't change in combination with HashedModuleIdsPlugin, fix most of these problems?

When using WebpackChunkHashPlugin and an entry is added or removed, the chunkId's would change, but the ChunkHash generated by WebpackChunkHashPlugin would not and the function call **webpackJsonp** inside the chunk, is providing different chunkIds even though its

[2017-01-24 07:14] dmitriid commented on #710
@johnstew Awesome! Anything that increases visibility is great!

[2017-01-24 10:31] SpaceK33z commented on #674
The recommendation is to use an absolute path ([source](https://github.com/webpack/webpack/issues/1908#issuecomment-174172001)). webpack-dev-server and dev-middleware will throw an error if you use a relative path (see [this code](https://github.com/webpack/webpack-dev-middleware/blob/master/lib/Shared.js#L87-L89)).

[2017-01-24 13:35] johnstew opened #720 "Dev - Title Missing on Voting Page"
The title is missing on the [vote page](https://webpack.js.org/vote/).

~Small~ issue but good for SEO.

[2017-01-24 15:03] johnstew commented on #649
My 2 cents here.

I think there does need to be some mention on the [HMR page](https://webpack.js.org/guides/hmr-react/) stating that this is only meant to be used for development. This might seem obvious to some but it is important to explicitly state this in the docs in a couple different places.

IMO, it should be mentioned somewhere within the first opening paragraph in bold perhaps. Then at t

[2017-01-24 15:04] johnstew commented on #710
Agreed!

It looks like we got the blog link in the header but I do agree with you on how those other links kind of get lost.

[2017-01-24 15:27] krisimmig commented on #196
There is this [page](https://webpack.js.org/guides/webpack-and-typescript/), but if you follow the standard install procedure and don´t use the **@beta** tag to install webpack, this config for typescript doesn´t work. It would be nice to have a hint to which version of webpack is used for the example.

[2017-01-24 15:50] johnstew commented on #674
I can confirm that in webpack-dev-server v2.2.0 it **does** throw an error if you do not use an absolute path.

What can be a bit confusing though is that webpack v2.2.0 it **does not** throw the error.

Since the recommendation is to have the absolute path then the docs should be updated to reflect that.

So the [getting started](https://webpack.js.org/get-started/#using-webpack-with-a-config) pa

[2017-01-25 06:31] lcxfs1991 opened #722 "Chinese doc translation issue."
Hi @bebraw and @TheLarkInn.

We are recently having trouble with managing our translation docs. As we know, `webpack` doc repo does not keep loader and plugin docs itself. So we have to translate docs under `generated` folder which  makes us harder to make a diff.

Would you think of keeping those docs under `content` folder ? i.e., run a program to regularly update docs from each loader and plugi

[2017-01-25 07:22] TheLarkInn commented on #722
There's also the possibility to doing Kron jobs on Travis. Thoughts?

[2017-01-25 07:28] bebraw commented on #722
A cron job would have to perform sync commits against master. I'm not sure if that's a smart idea.

Would it make sense to set up an intermediate repository like that? You would generate the directory there, and whenever you want to update the translation, you would trigger the generation script against that, get a diff, and then translate. I think this might give you the information you need to k

[2017-01-25 08:02] lcxfs1991 commented on #722
We are having this [repo](https://github.com/webpack-china/webpack.js.org) for translation.
That would be great if we could have such an intermediate repo. Then we could run a script to update the content ourselves.  I think it would also help if other developers want to translate the doc into other languages.

[2017-01-25 08:06] bebraw commented on #722
@lcxfs1991 Ok, I'll try to set up one below `webpack-contrib` once I find a bit of time. I'll add you to the project too so you can update it etc.

[2017-01-25 08:15] lcxfs1991 commented on #722
Thank you so much.

Please also add `dear-lizhihua` who also leads the translation project.

[2017-01-25 08:24] TheLarkInn commented on #722
Thanks @bebraw. 🙇

[2017-01-25 11:06] lcxfs1991 commented on #722
hey @bebraw.

We have another suggestion  that a new branch `translation` can be created under `webpack.js.org` based on branch `master`.

In branch `translation`, we can manage a script to update docs from loaders/plugins manually. On the one hand, we can update major docs of `webpack` if `master` branch is updated. On the other hand, once there is an update from loaders/plugins doc, we can merge

[2017-01-25 11:12] bebraw commented on #722
@lcxfs1991 Is it enough if I set up a branch with proper rights for you to handle then? That sounds simpler, yeah.

[2017-01-25 11:26] lcxfs1991 commented on #722
yes man.

[2017-01-25 11:30] bebraw commented on #722
@lcxfs1991 Ok. I set up the branch and sent you an invite. You should be able to write to the branch.

[2017-01-25 11:31] lcxfs1991 commented on #722
thanks!

[2017-01-25 11:32] #722 closed

[2017-01-25 14:26] ssylvia commented on #122
So if I reading this thread right, when using the following syntax to import an es6 module, I will always need to execute the default method instead of just calling the module directly?

[code]

[2017-01-26 01:59] johnstew opened #727 "Update output.path references using relative path to recommended absolute path"
As discussed in #674 there are references of output.path on the site using relative path. Since the recommendation is to use absolute path then that should be reflected throughout the docs.

**List of `output.path` references using relative path:**
- [/concepts/index.md](https://github.com/webpack/webpack.js.org/blob/master/content/concepts/index.md) - [/concepts/#plugins](https://webpack.js.org/c

[2017-01-26 03:21] johnstew commented on #578
**Possible solutions:**
- Take the output from the actual tutorial and display that instead of what's there.
- OR add a tip stating "Output may vary, but if build is successful you are good to go."

Thoughts?

[2017-01-26 03:24] bebraw commented on #578
@johnstew Latter would work for me. Easier to maintain.

[2017-01-26 07:51] patrickkettner opened #729 "Add TODO: prefix to ?> bits (CSS solution)"
https://github.com/webpack/webpack.js.org/blame/124651da0a495f788ffdce68f6152b27dc7d4da7/content/guides/migrating.md#L299

![image](https://cloud.githubusercontent.com/assets/465414/22323658/307c985e-e359-11e6-8c78-09a2866ab611.png)

[2017-01-26 08:05] bebraw commented on #729
Yeah. That should probably link [here](https://webpack.js.org/configuration/module/#module-contexts). That `?>` syntax means it's a TODO. PR welcome.

[2017-01-26 08:08] #727 closed

[2017-01-26 08:09] bebraw commented on #674
#728 was merged. Now the documentation should use absolute paths to avoid confusion.

[2017-01-26 12:33] bebraw opened #732 "(easy) - Fix loader API link"
1. https://webpack.js.org/development/how-to-write-a-loader/
2. ` [[loader API | loaders]]` should point to `api/loaders/`.

[2017-01-26 14:48] johnstew commented on #578
@bebraw agree

[2017-01-26 15:02] johnstew commented on #674
@bebraw should this be closed now?

[2017-01-26 15:15] bebraw commented on #674
Yeah. Let's do that.

[2017-01-26 15:15] #674 closed

[2017-01-26 21:16] rouzbeh84 commented on #729
[module-contexts](https://webpack.js.org/configuration/module/#module-contexts) section has been marked as `deprecated`. Should it just be removed as well as the marking the deprecated line with a `W>`?

[2017-01-26 23:45] patrickkettner commented on #729
@bebraw should the parser be made aware to ignore lines that begin with `?>`?

[2017-01-27 05:20] bebraw commented on #729
@rouzbeh84 Good point. The context bit is weird and feels a little out of place. I agree a warning would work better there. I guess the intended article doesn't exist yet.

@patrickkettner No need. It works that way by design. There's some custom syntax in place.

[2017-01-27 07:23] bebraw commented on #732
This should be fixed now.

[2017-01-27 07:23] #732 closed

[2017-01-27 08:10] patrickkettner commented on #729
@bebraw not sure I follow. the website shows the exact text, which seems like a mistake

[2017-01-27 08:17] bebraw commented on #729
@patrickkettner Ok. Feel free to PR. I'm missing something obvious here. The TODOs are visible at the site on purpose.

[2017-01-27 08:27] patrickkettner commented on #729
ah! my misunderstanding then. I meant as a user it feels like a mistake. but if it is intentional, then no worries! feel free to close :]

[2017-01-27 08:31] bebraw commented on #729
@patrickkettner It could be cool to add **TODO:** prefix to make this clearer. I think it would be possible to pull that off with a bit of CSS. I'll leave this open till that is done. 👍

[2017-01-27 13:52] dmitriid commented on #670
Any love for this issue?

[2017-01-27 14:48] johnstew commented on #578
@bebraw this should be good to close now, correct?

[2017-01-27 14:59] bebraw commented on #578
Yeah, let's do that.

[2017-01-27 14:59] #578 closed

[2017-01-27 16:04] simon04 opened #743 "Getting Started cannot be accessed from the menu nor search"
The whole documentation part https://webpack.js.org/get-started/ can only be accessed from the "Get started" link from the index page. Neither the navigation menu (on non-mobile browsers) nor the documentation search will bring you there.

[2017-01-27 16:35] simon04 commented on #486
I'm referring to the items from the issue description:
1. has been clarified in #546
2. has been fixed in 4d041ae3b988d705bda44b29c7e8de2a7d195219, will be improved in #744
3. has been fixed in #512
4. this is an issue with using ES6, tracked as #713
5. a HTTP server is not needed; loading html/js files in the browser from the filesystem works.

So I think your issues are fixed, or tracked in more

[2017-01-27 16:35] #486 closed

[2017-01-27 16:57] TheLarkInn commented on #670
We are planning on a medium article for when we switch tags from beta to latest, but candidly speaking, this article will be more focused on the infrastructure changes we are adding to the organization. This includes:

* github.com/webpack-contrib
* webpack adopts continuous deployment. (Can get nightly releases on `@next` tag.
* webpack-china (just a recap)
* and a second contributor spotlight
*

[2017-01-27 17:06] bebraw commented on #743
The footer link is a bit hidden. Maybe we should just add a new entry below "Guides" (new subnavigation). Guides could be more granular anyway as it has grown quite a bit.

[2017-01-27 17:21] dmitriid commented on #670
But... But... Why?

Why not do a proper release announcement?

Argh. Nevermind. I'm tired of trying to teach programmers that they must communicate their intents clearly.

I still rememer when "`package.json` in `master` is set to 2.x, so it's clearly version 2" :-\ It's a losing battle

[2017-01-27 17:22] dmitriid commented on #670
One thing though.

There's not even a list of features of webpack 2 (such as tree shaking etc.). So there, my last attempt at improving webpack communication.

[2017-01-27 17:24] TheLarkInn commented on #670
No I understand what you are saying. Think of the optics of releasing what would appear a duplicate announcement from us. It dilutes the quality of the publication. I agree that we need to (looking forward) take into action some of the exact points you mention.

In terms of feature list, we can cover that, I think thats more than reasonable. And when I make the draft I will link it here for you to

[2017-01-27 17:33] dmitriid commented on #670
Appear to whom?

There's no quality in your current publication. See original post, I won't re-iterate.

Looking forward to *what*? Webpack 3?

How can I, as a developer, know:

- that 2.2 === 2,
- that v1 is deprecated,
- what webpack 2 does, and why I should ever go to the trouble upgrading?
- etc.etc.etc.

?

Because the "release announcement" contains the word "finally"?

I  *only* know this b

[2017-01-27 17:33] dmitriid commented on #710
Closing this. Webpack communication team coudn't care less about info visibility

[2017-01-27 18:18] TheLarkInn commented on #710
I'm sorry you got this impression but we absolutely care. I'm going to leave this open as this is a great idea.

[2017-01-27 18:22] dmitriid commented on #710
@TheLarkInn You showed in #670 that clearly communicating what webpack is etc. is the much less of a concern than letting people know about a voting update :-\

I'm surprised you merged the blog pull request. As it took me only two months or so to even get you to get links to documentation visible.

All of a sudden this is "a great idea" etc.

Yes, I'm bitter.

[2017-01-27 18:34] dmitriid commented on #670
The problem is, as always, the bubble. A.k.a. textbook example of developers failing to understand the need to communicate.

"I work on project X, my buddy works on project X. Thus, everybody in the world is intimately familiar with project X".

- What does X do? — Oh, we tweeted about it a month or so ago
- What are the features? — Oh, it's in the changelogs, duh
- Where can I learn about?... — O

[2017-01-27 18:53] TheLarkInn commented on #670
Okay, a bunch of points here.

Everything you are saying is valid and I agree with. This is what we are going to do:

* Announce that webpack 2 final is moved to `latest` tag.
* Describe the features that are different between 1 and 2 (briefly)
  * explain why you want to upgrade
  * mention that webpack 1 is deprecated
* Describe the other things happing in the webpack ecosystem
* Talk about the

[2017-01-27 19:04] dmitriid commented on #670
Yes, thank you!

"I agree with everything you say", "you make excellent points", "I agree with your points" and then... "We are not going to do any of your points that I so agree with". Until I basically have to scream to make myself heard :-\

I didn't event know anyone paid any attention to this issue until today.

Please re-read the issue.

Please re-read the issue.

Please re-read the issue.

[2017-01-28 00:00] pllearns commented on #720
Hey @johnstew, I can take this PR. What should the title be? Influence or Vote? I agree that this is good for SEO.

[2017-01-28 17:54] johnstew commented on #743
@bebraw I think I follow. So should guides be broken up into different parent sections?

If thats the case then there should probably be a ticket dedicated to figuring out what those sections are.

In the short term to solve this ticket, should this be added to the Guides navigation for now?

[2017-01-28 17:58] bebraw commented on #743
@johnstew Yup. That would be enough short term.

I think we may want to split the guides between development and production at least. This would mean three subs once you add "get started" there.

[2017-01-28 18:02] johnstew opened #749 "Break up Guides into different parent sections"
Breaking out the conversation from #743 into its own ticket to discuss possible parent sections and if this is a good idea. Plus need to decide the UI/UX around having a parent section.

**Parent Section Ideas:**
- Introduction
- Getting started
- Production
- Caching
- Migration
- Code Splitting
- Tree Shaking
- Contributing to Webpack
- React
- Angular
- Extras

[2017-01-28 19:59] dmitriid commented on #670
Old documentation update: https://github.com/webpack/docs/pull/93

[2017-01-28 21:32] dmitriid commented on #670
I could not wrap my head around the new doc site's structure, but it would by nice to add [Typescript](http://www.typescriptlang.org)-like bar at the top of all pages annnouncing webpack 2's release (with relevant links)

[2017-01-28 21:38] dmitriid commented on #442
Closing this in favour of #749

[2017-01-28 21:38] #442 closed

[2017-01-29 02:07] Kovensky commented on #122
that is only if your module _has_ a default export to begin with.

[2017-01-29 06:21] zzzgit opened #756 "not clear enough in the paragraph devtool"
![image](https://cloud.githubusercontent.com/assets/1060733/22402327/9a7f731c-e62d-11e6-8f68-48da09bf0cb0.png)

https://webpack.github.io/docs/configuration.html#devtool

it is not clear enough for the configuration of `devtool`
what does generated code mean?
transformed code,original source as well
and i found that,no map file will be generated if you set a value which contain "eval"
it is very n

[2017-01-29 06:47] rafde opened #757 "Development Chrome DevTools Workspace"
I posted https://medium.com/@rafaelideleon/webpack-your-chrome-devtools-workspaces-cb9cca8d50da#.m7bm2gcmi a while back to guide people on how to let chrome read webpack's source map during watch mode.

Ideally, the guide for here would narrow down to
- setting `devtool: 'inline-source-map'`
- Map your Chrome DevTools Workspace to the directory with your webpack build files and your source directo

[2017-01-29 16:42] simon04 commented on #743
Related: Right now, we have two installation pages:
* https://webpack.js.org/get-started/install-webpack/
* https://webpack.js.org/guides/installation/
My suggestion: keep the content from the first one.

[2017-01-29 16:44] simon04 commented on #756
You link to the webpack 1 docs. The [docs for webpack 2](https://webpack.js.org/configuration/devtool/#devtool) do not define "quality" neither.

[2017-01-29 16:46] bebraw commented on #743
@simon04 Great point. PR welcome. 👍 Btw, you should have access to the Slack now (check your gmail).

[2017-01-29 16:46] bebraw commented on #743
@simon04 I would merge the latter article with the first.

[2017-01-29 16:48] zzzgit commented on #756
yes,thanks
but i still don't know what does `transformed code` mean

[2017-01-29 17:48] simon04 commented on #720
Why does this change not set the HTML title in `build/vote/index.html`?
[code]

[2017-01-29 20:24] #400 closed

[2017-01-29 20:27] skipjack commented on #743
Closing this as @johnstew's PR (#750) added this to the sidebar. It sounds like some of the other problems discussed may be moved to new tickets.

[2017-01-29 20:27] #743 closed

[2017-01-29 20:47] johnstew opened #764 "Document tree shaking"
So after doing some research and chatting on twitter with @TheLarkInn I think it might be beneficial to include a guide on tree shaking.

This guide should discuss the following:
- how to use tree shaking in your app
- what exactly tree shaking is
- how webpack v2 handles tree shaking currently

Thoughts?

[2017-01-29 20:58] rafde commented on #764
rollup has a good example

[code]

[code]

result after bundling
[code]

☮️

[2017-01-29 21:09] johnstew commented on #764
@rafde yeah, I was taking a look at that earlier. However, how webpack handles it is different then rollup and tree shaking is a sought after feature of webpack v2 so I think it might serve the community if we had a section in the guides of how to use it in webpack, what it means, and how webpack handles tree shaking.

[2017-01-29 21:17] rafde commented on #764
I meant for my post to be a quick copy and paste example for

[2017-01-29 21:20] johnstew commented on #764
ahh okay yeah that makes sense. sorry for confusion

[2017-01-29 21:26] dmitriid commented on #764
Probably not just tree-shaking.

Quoting myself from here: https://github.com/webpack/webpack.js.org/issues/670#issuecomment-274040658

Perhaps reproducing the entire blog content from http://www.2ality.com/2015/12/webpack-tree-shaking.html ?

[2017-01-29 23:10] johnstew commented on #764
@dmitriid I think having something similar to http://www.2ality.com/2015/12/webpack-tree-shaking.html would be good. Some of the info from that post seems to be old.

[2017-01-29 23:25] pllearns commented on #720
Agreed with the idea @simon04, but it appears from what I see (exposing some ignorance) that the vote is not set-up in the paths/section area of the config. It may be a file structure thing too. But again, exposing ignorance. I'll submit two PRs to address through styling and HTML.

[2017-01-30 03:47] skipjack commented on #667
@SimenB are you still seeing this? I tried to replicate by logging in and out a few times with no luck... just seeing some logged objects (which we should probably get rid of).

[2017-01-30 04:00] skipjack commented on #612
This would be a better a question for the [gitter channel](https://gitter.im/webpack/webpack) or SO but in case you haven't already resolved it...

[code]

Here you've already defined your entry and output so there's no need to pass any of the filenames/paths to the CLI call. That is, just running:

[code]

should pick up all the necessary info from your config. I'm also unsure if the `path` defin

[2017-01-30 04:00] #612 closed

[2017-01-30 04:04] skipjack commented on #612
I think there should be an override in this case, as user expects one argument to prevail.

Ah just noticed the end... if this is still an issue with the latest version of webpack please open a ticket on [the main repo](/webpack/webpack) to file a bug.

[2017-01-30 04:17] skipjack commented on #655
@Jonwheeler I think updating the guide to reflect this would be great. Not sure on the timeline for the first official v2 release of the ExtractTextPlugin -- @bebraw do you know?.

If that release isn't coming soon (like within the next week or so) then yeah it's probably worth a quick PR.

[2017-01-30 04:24] skipjack commented on #540
Pretty sure this was fixed in #549 as I remember reviewing that. Feel free to re-open if anyone is still seeing this bug.

[2017-01-30 04:24] #540 closed

[2017-01-30 04:33] skipjack commented on #627
Closing this for now, as @simon04 mentioned `publicPath` is defined much better in the new docs. @zzzgit if you still think the new section is missing something feel free to re-open and highlight exactly what needs updating/adding.

[2017-01-30 04:33] #627 closed

[2017-01-30 04:43] bebraw commented on #655
@skipjack No idea of timeline. That depends on Tobias and his schedule.

[2017-01-30 06:05] SimenB commented on #667
Yep, still getting it

![image](https://cloud.githubusercontent.com/assets/1404810/22413729/78a01872-e6ba-11e6-9de8-4cd5d04e9b4e.png)

[2017-01-30 23:21] skipjack commented on #386
Closing as @pastelsky tackled this in #510.

[2017-01-30 23:21] #386 closed

[2017-01-30 23:27] skipjack commented on #411
@rafaelrinaldi would you be interested in PR-ing this? The example in that issue you linked to does look like the right solution.

[2017-01-30 23:32] skipjack commented on #394
Closing as #700 was merged.

[2017-01-30 23:32] #394 closed

[2017-01-30 23:36] skipjack commented on #314
@sokra is this still in progress or was it finished in #315 and other subsequent PRs?

[2017-01-30 23:44] skipjack commented on #275
Maybe this can be merged with the discussion in #589? (or at least tackled in the same PR)

[2017-01-30 23:56] skipjack commented on #264
Closing this for now as we've moved away from this idea a bit. I really like webpackbin and am even starting to use it instead of codepen from time to time, but, as mentioned before, there [hasn't been much activity in that repo recently](https://github.com/christianalfoni/webpack-bin/commits/master). I think we should re-open down the road if anything.

@pksjce let me know if you start working on

[2017-01-30 23:56] #264 closed

[2017-01-30 23:58] rafaelrinaldi commented on #411
@skipjack Sure thing, I can give it a shot

[2017-01-31 00:02] skipjack commented on #411
@rafaelrinaldi awesome! If you're not already aware, the related code is in [`components/support`](https://github.com/webpack/webpack.js.org/tree/master/components/support).

[2017-01-31 00:05] rafaelrinaldi commented on #411
@skipjack Great stuff. Will try to play with it this weekend and give an update here.

[2017-01-31 00:17] skipjack commented on #246
Related PR - #440. @NejcZdovc look at your "alternative table" suggestion again I realize this is really similar to what the [CSS Tricks Article](https://css-tricks.com/responsive-data-tables/) suggests. That seems like a it would be the best approach for sure.

[2017-01-31 05:13] skipjack commented on #148
[Same section under discussion on webpack.js.org](https://webpack.js.org/configuration/other-options/#bail) -- editable [here](https://github.com/webpack/webpack.js.org/blob/master/content/configuration/other-options.md).

[2017-01-31 06:14] skipjack commented on #95
I think this is fixed with our [contributors component](https://github.com/webpack/webpack.js.org/tree/master/components/contributors) and the contributors list at the top of each markdown file. @bebraw closing this for now, but what you described does sound like a better solution instead of manually maintaining the list. Feel free to re-open if you were thinking about tackling this soon.

[2017-01-31 06:14] #95 closed

[2017-01-31 06:27] sokra commented on #314
It was not finished. I had too few time...

[2017-01-31 06:52] NejcZdovc commented on #246
@skipjack sure I can tackle this, but only in few days, right now I need to finish some things. Is this ok, if not you are more then welcome to take it?

[2017-01-31 06:58] skipjack commented on #246
Yep that'd be great, take your time... definitely plenty of other ones I can work on resolving.

[2017-01-31 07:03] NejcZdovc commented on #246
Then you can assign this issue to me

[2017-01-31 09:12] bebraw commented on #95
Yeah, the contributors could be dug automatically later on. I recall Tobias was explicitly against that, though.

[2017-01-31 09:13] bebraw commented on #148
Let's close.

[2017-01-31 09:13] #148 closed

[2017-01-31 10:22] simon04 commented on #720
https://webpack.js.org/vote/ still has no HTML title set:
[code]

Help on https://github.com/webpack/webpack.js.org/issues/720#issuecomment-275931720 is appreciated.

[2017-01-31 10:26] bebraw commented on #720
@simon04 Look into `antwar.config.js`. It picks up the static title from there. There are sections like `vote: {`. If you add `title: 'foobar'` etc., the build should work. It's the same idea for the other sections too.

[2017-01-31 10:41] simon04 commented on #720
That's what I tried in https://github.com/webpack/webpack.js.org/issues/720#issuecomment-275931720. Am I missing/overlooking something?

[2017-01-31 10:42] bebraw commented on #720
@simon04 The titles are taken into account only for the final build.

[2017-01-31 10:44] simon04 commented on #720
Final build is `npm run build`? I did that. Afterwards `build/vote/index.html` does contain an empty `<title></title>`.

[2017-01-31 10:47] bebraw commented on #720
@simon04 Ok, it might be a bug in the generator then. It probably applies the template a little differently in this particular case (different `path()` definition).

[2017-01-31 11:07] simon04 commented on #764
There's also a nice example in webpack's example collection: https://github.com/webpack/webpack/tree/master/examples/harmony-unused

[2017-01-31 14:38] skipjack commented on #246
Yep, once you accept the collaborator invite I sent, I can assign you.

[2017-01-31 14:39] NejcZdovc commented on #246
Accepted, thank you

[2017-01-31 16:54] agoldis opened #772 "Code splitting using require.ensure improvements"
https://webpack.js.org/guides/code-splitting-require/ is great, but there're some caveats that I've discovered while following the documentation.

In the current implementation the `callback` method of `require.ensure(dependencies: String[], callback: function(require), chunkName: String)` must use 'require' method name to actually require modules.
During the compilation phase, webpack parses the

[2017-01-31 16:55] pllearns commented on #720
Agreed, my approaches were cosmetic, but, a different path definition should work. Is there a way that the vote page could be added to the section in `antwar.config.js` where the other sections live (i.e. `concepts`, `guides`, `configuration`? Apologies I couldn't help more right now. I'll check in later this week.

[2017-01-31 17:54] TheLarkInn commented on #670
https://medium.com/@TheLarkInn/webpack-2-and-beyond-40520af9067f

As promised here is the medium draft. Because webpack 2.2.1 is already in latest as we speak, I am going to just release this information and focus on webpack-canary and webpack-contrib in a separate post.

[2017-01-31 18:03] simon04 commented on #670
The performance budgets are off by default? https://github.com/webpack/webpack/pull/3604

[2017-01-31 18:58] dmitriid commented on #670
This is absolutely brilliant 👍💪 Can't wait to see this published!

I was going to grumble about not including the deprecation info :) , but then realised it's already there in the old docs (+ pending this minor pull request: https://github.com/webpack/webpack.github.com/pull/13)

[2017-01-31 19:06] dmitriid opened #777 "Add a bar to announce new releases/important info"
It would be nice to have a small bar below the top menu for feature/milestone/release/etc. announcements. It may include relevant links to blog posts or to documentation.

A similar feature is implemented on http://www.typescriptlang.org:

![](http://dmitriid.com/i/gm2tknzvgu4dqmzy.png)

The reason is simple: increase visibility of certain types of announcements (especially important new releases

[2017-02-01 03:36] TheLarkInn commented on #670
@simon04 the console warnings are off by default but there is still some general feedback inline by highlighting the modules and a `[big]` statement.

[2017-02-01 07:15] samvloeberghs commented on #416
Added function example to externals: https://github.com/webpack/webpack.js.org/pull/783

[2017-02-01 10:16] pksjce commented on #275
Sure!

[2017-02-01 10:16] #275 closed

[2017-02-01 11:48] #757 closed

[2017-02-01 16:00] skipjack commented on #777
I can PR this over the weekend if nobody does sooner.

[2017-02-01 16:00] dmitriid commented on #777
Awesome!

[2017-02-02 00:26] TheLarkInn opened #790 "Need to document better using --env in object format and not = syntax"
I plucked the following out of a medium article https://blog.flennik.com/the-fine-art-of-the-webpack-2-config-dc4d19d7f172#.yk2bx4gum

<img width="793" alt="screen shot 2017-02-01 at 4 24 31 pm" src="https://cloud.githubusercontent.com/assets/3408176/22532274/19d73716-e89b-11e6-93da-26ee7fd0a617.png">

[2017-02-02 02:27] johnstew commented on #790
Only mention I was able to find of this currently was in webpack issue [#2254](https://github.com/webpack/webpack/issues/2254#issuecomment-203528744).

Should this live under guides?

[2017-02-02 02:28] TheLarkInn commented on #790
I think thats a great start. Maybe bundling for production also, but guides is a good start, what do you think @bebraw

[2017-02-02 05:28] bebraw commented on #790
PRs welcome. It's a good default.

[2017-02-02 08:06] bebraw opened #793 "Dev - Speed Up Build Checks"
Currently it builds the entire site and runs all the checks against all the files. It would be far faster to perform at least some of the checks against partial data that is figured out based on the changes made by the PR (just pick the changed files). Running proselint against changed files like this would be a good starting point.

It gets trickier with link validation as those can point anywher

[2017-02-02 11:25] simon04 commented on #645
BannerPlugin docs have been added in #779.

[2017-02-02 11:25] #645 closed

[2017-02-02 13:47] jroitgrund commented on #151
Thank you so much for this @anvish

[2017-02-02 14:17] simon04 commented on #764
Documentation added through #781.

[2017-02-02 14:17] #764 closed

[2017-02-02 16:19] #729 closed

[2017-02-02 19:34] aight8 opened #796 "strictModuleExceptionHandling missing in documentation of webpack 2"
Source in master:
https://github.com/webpack/webpack/blob/master/lib/MainTemplate.js#L69

Release info:
https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.28

[2017-02-02 23:02] skipjack commented on #291
Closing as the [_vars.scss partial](https://github.com/webpack/webpack.js.org/blob/master/styles/partials/_vars.scss) has been updated to reflect the new color scheme.

[2017-02-02 23:02] #291 closed

[2017-02-02 23:06] skipjack commented on #352
Closing as the site has changed significantly since this was posted and we weren't able to reproduce the main issue. If anyone feels this is still a problem, feel free to re-open.

[2017-02-02 23:06] #352 closed

[2017-02-03 06:56] bumbleblym opened #800 "Watching.invalidate does not accept a callback."
[Docs](https://github.com/webpack/webpack.js.org/blob/5a206ecc6afa544f91a7ac76708d15d458f72411/content/api/node.md#invalidate-watching) suggest that `Watching.invalidate` accepts a `callback` parameter, but [code](https://github.com/webpack/webpack/blob/91c1f35e05698444b5262305dc4804e99cb734b8/lib/Compiler.js#L112) does not.

[2017-02-03 12:03] bebraw opened #802 "Fix compilationParams formatting"
1. https://webpack.js.org/pluginsapi/compiler/
2. `compilationParams` has an extra `.
3. Fix.

[2017-02-03 22:25] simon04 opened #805 "Brief summary for all webpack-contrib/*-loaders"
I would like to have every `webpack-contrib/*-loader` repository a brief summary what the corresponding loader does. The text could be obtained from https://github.com/webpack/webpack/blob/2ed6448/README.md#loaders or #804.

For one example, see https://github.com/webpack-contrib/css-loader/pull/404.

Any thoughts? How to concertedly reach all ≈30 loaders?

[2017-02-03 23:31] aight8 opened #811 "More visualizations"
More visualization to explain different sub architectures.

For example:
- Explain assets, bundles, modules visually
- The plugin architecture, it hooks etc.

UML like visualization:
- A class diagram for stats, compilation, compilation etc. object - even when js is not a OO language, class are made to understand the whole and how it interact together
- A flow like diagram which explains the webpa

[2017-02-03 23:34] aight8 opened #812 "Changelog"
I like to read more about webpack and how it's internal works.
But because the docs are in heavy development I never know if some new docs are added.
Is there a way to make some notes in a changelog file or so some bigger changes?

[2017-02-03 23:55] aight8 commented on #811
ps: which open source visualization tool you guys recommend for this kind of taks?

[2017-02-04 01:22] skipjack commented on #811
Can you take a look at #469? I think that's the discussion you're looking for.

[2017-02-04 04:34] skipjack commented on #438
Adding @pastelsky's design from #285 for reference:

![](https://cloud.githubusercontent.com/assets/8946207/19885971/86dea91c-a047-11e6-9654-022e5c6f63ad.jpg)

I really like the look of the sidebar here, and I think between this design and some way to better group the pages, we'd definitely have a more fluid ux. Will try to get started on this soon.

[2017-02-04 04:59] gonzoyumo opened #814 "Document NormalModuleReplacementPlugin"
Add documentation for NormalModuleReplacementPlugin

[2017-02-04 05:03] gonzoyumo commented on #814
As suggested by @TheLarkInn I'm willing to help with this. I'll submit a PR soon.

[2017-02-04 05:54] TheLarkInn opened #815 "Document the concept and value value range of LimitChunkCountPlugin."
Looks like there is a nice PR opportunity with low hanging fruit for someone in webpack/webpack#4178. I'm going to leave this issue here as a stub so that once we stamp down the desired behavior then we can log the defaults and a PR here can accompany a PR in the original issue

[2017-02-04 07:17] skipjack commented on #777
Started playing around with something:

![image](https://cloud.githubusercontent.com/assets/8988697/22616661/7f513d86-ea7f-11e6-8a40-8ac5c31597b2.png)

If this looks good I can open a PR. The way I implemented this for now, it would only be displayed on landing page. I could do something similar for all pages (like how TypeScript does it) but it would have to go elsewhere for the landing page as o

[2017-02-04 07:19] skipjack commented on #777
P.S. the "announcement" link points to @TheLarkInn's [post](https://medium.com/webpack/webpack-2-and-beyond-40520af9067f#.ojp0x5ls1) and "install it" points to [npm](https://www.npmjs.com/package/webpack).

cc @bebraw @TheLarkInn what are your thoughts on this?

[2017-02-04 07:32] bebraw commented on #777
The new header looks good.

Btw, we could push all the blog bits to the site itself. That would avoid the pain of linking to Medium etc. It would not be hard to add a section just for that and we could do custom things like tagging easily. A lot what's needed is in place already.

[2017-02-04 09:50] SpaceK33z commented on #812
You could read the commits? I don't think we'll ever have time to make a changelog for docs...

[2017-02-04 10:50] aight8 commented on #812
Yeah sure I can read the commits on every repo ;) but okey, I understand it that this would be to much extra work than

[2017-02-04 18:04] TheLarkInn commented on #777
How about for mobile? Would this appear as dismissible top banner above toolbar or down below still. Having at the top feels like a great call to action on mobile.

[2017-02-04 18:31] skipjack commented on #777
Yea let's do that site wide -- that is, a similar bar, at the top, mobile-friendly and dismissible. I'll create a PR soon.

[2017-02-04 20:48] simon04 opened #822 "API content not indexed in search"
The content below https://webpack.js.org/api/ cannot be found using the on-page-search. Possibly www.algolia.com needs to be configured to index this tree?

[2017-02-04 23:36] bumbleblym opened #824 "Missing LoaderContext.resolve path param?"
[Docs](https://github.com/webpack/webpack.js.org/blob/88e3f83a94cb7de804fc28657c144ab29b373910/content/api/loaders.md#resolve) missing a [path param](https://github.com/webpack/enhanced-resolve/blob/739339de492e5d10023b48e6e8cf0edcedc5f6b5/lib/Resolver.js#L30-L33)?

[2017-02-04 23:43] #824 closed

[2017-02-05 12:35] bebraw opened #826 "Document the CLI and its options"
I.e., `-p` and all that. The old docs likely have bits to port over.

[2017-02-05 12:35] bebraw commented on #822
@dzello Can you look into this?

[2017-02-05 19:08] #802 closed

[2017-02-06 00:24] dzello commented on #822
Yes, will have a look tomorrow

[2017-02-06 15:24] simon04 commented on #826
See also discussion in #820.

[2017-02-06 18:07] TheLarkInn opened #836 "Why fund webpack?"
We should give developers and CTO's a reason to really support and fund our open source efforts and community. To do this, I believe we could provide an entire section for this information targeted and tailored to multiple communities. Below is a very rough outline for how this information could be broken out into individual sections/pages.

# Why fund (support?) webpack?
First and foremost, the p

[2017-02-06 18:20] #790 closed

[2017-02-06 18:26] bebraw commented on #836
There's other side to pitch too - potential contributors. It would be good to open up the funding model and show explicitly it's not just some club. Instead of only supporting a tight knit core group of people we also support downstream projects and can support individual maintainers. You'll most likely end up with some onion style visualization to explain this idea.

Broadly interpreted funding c

[2017-02-06 18:35] TheLarkInn commented on #836
@bebraw Totally agree. I think those are _must haves_ on this page.

[2017-02-06 22:50] rouzbeh84 commented on #749
So is this one a wrap?

[2017-02-06 23:03] rouzbeh84 commented on #812
Is there a tagging structure or minimum required amount of updates that would involve a full change log? Perhaps chunking issues into block of 10 or so that are tagged as 'major' or 'significant' updates or possible even just a 'last updated' auto block that goes under the title block and for sections that involve `loaders || modules || plugin` with a 'last updated' comparison next to one another?

[2017-02-06 23:08] skipjack commented on #811
@aight8 I'm going to close this as I believe #469 addresses what you're talking about. Feel free to re-open if I'm wrong but I would suggest you make some of the same comments you've made here on that thread.

[2017-02-06 23:08] #811 closed

[2017-02-07 02:46] dear-lizhihua opened #841 "i can't find "moduleTemplates" property in resolveLoader object"
[code]
---
Hi, my question is:
in the last section, i can't find "moduleTemplates" property in [resolveLoader](https://webpack.js.org/configuration/resolve/#resolveloader) object.
there are three properties in resolveLoader object, they are "modules", "extensions", "packageMains"

[2017-02-07 16:22] Graham42 opened #845 "404 CSS not loading for https://webpack.js.org/"

[2017-02-07 16:30] SpaceK33z commented on #845
I can't reproduce this, can you give some more info?

[2017-02-07 16:35] jadekler commented on #845
I'm seeing this too

[2017-02-07 16:35] jadekler commented on #845
![screen shot 2017-02-07 at 9 35 34 am](https://cloud.githubusercontent.com/assets/3584893/22700729/cce5c972-ed18-11e6-9853-6dfd0d60abbe.png)

[2017-02-07 16:36] jadekler commented on #845
![screen shot 2017-02-07 at 9 36 07 am](https://cloud.githubusercontent.com/assets/3584893/22700749/ddb64768-ed18-11e6-871d-0aa6ca2b444a.png)

[2017-02-07 17:02] Graham42 commented on #845
This looks to be fixed now

[2017-02-07 17:02] #845 closed

[2017-02-07 18:52] garmjs commented on #845
This has been fixed, i also push #844 fixed on loading resources in pages

[2017-02-07 21:49] dzello commented on #822
@simon04 I do see some of the content is indexed, `pitching loader` returns results in `/api/loaders page` for example. Do you have a few queries that didn't return any results?

[2017-02-08 07:37] skipjack commented on #749
@johnstew so just to make sure I understand this correctly: you're talking about grouping the page links in sidebar and potentially creating folders within `/content/guides` (or any of the other `/content/...` directories) for each group?

For the UI/UX it would be good to tie this into #438 which, if I understand correctly, is a similar discussion.

[2017-02-09 11:55] garmjs opened #856 "webpack.js.org domain with www cannot resolve"
Add CNAME www to point to domain
[code]

[2017-02-09 14:02] zzzgit opened #857 "require.ensure's callback"
I'm wondering that is it webpack or the application which will execute the callback?

[2017-02-09 15:35] simon04 commented on #857
For questions use https://gitter.im/webpack/webpack or https://stackoverflow.com/questions/tagged/webpack

[2017-02-09 15:35] #857 closed

[2017-02-09 15:40] simon04 commented on #822
Ahh, this is a prefix search on the **page title**:
* Searching for "api" does neither return "Loader API" nor "Plugin API"
* Searching for "Loader API" or "Plugin API" returns the corresponding results
* Searching for "cli" does not return "Command Line Interface (CLI)"
* Searching for "command line" returns the result

Interestingly, for **page sections** a substring search is applied:
* "compil

[2017-02-09 19:44] dzello commented on #822
Ahh I see. I'll look into this.

[2017-02-10 06:29] bebraw commented on #856
There's not much we can do about that as we don't manage the domain.

@indus Any thoughts on this?

[2017-02-10 10:45] simon04 commented on #856
In my opinion it's uncommon to have `www.[subdomain].[domain].org`. https://www.webpack.github.io/ (GitHub pages, webpack 1 docs) does not work neither.

[2017-02-10 10:47] bebraw commented on #856
Yeah. I think @indus might need to do custom config to enable the `www` prefix. Or we would have to get a domain (discussed earlier, but it didn't go through).

I think I'll close this as `wontfix` as there's not much we can do about it here.

[2017-02-10 10:47] #856 closed

[2017-02-10 15:00] johnstew commented on #749
@skipjack yes exactly

Looks like #438 is talking about the same thing as well.

[2017-02-10 21:22] shri3k commented on #826
I would love to have cli alternative to configs (where applicable) in the docs too. I don't tend to write config file for quick POC or just for hacking. +1

[2017-02-10 23:27] skipjack commented on #777
Closing... added in #847.

[2017-02-10 23:27] #777 closed

[2017-02-10 23:32] skipjack commented on #749
@johnstew ok great, closing this in favor of that one and quoting you there.

[2017-02-10 23:32] #749 closed

[2017-02-10 23:33] skipjack commented on #438
@johnstew from #749 (closed in favor of this issue):

**Parent Section Ideas:**
- Introduction
- Getting started
- Production
- Caching
- Migration
- Code Splitting
- Tree Shaking
- Contributing to Webpack
- React
- Angular
- Extras

[2017-02-11 09:34] bebraw opened #865 "Clamp table width to page width?"
Tables like the one [here](https://webpack.js.org/configuration/target/#target) don't read that well as there's overflow. It might be better if the table scaled to the content width and grew vertically instead.

[2017-02-11 14:34] skipjack commented on #865
Yea I believe this is what @pastelsky's PR #440 would do, however it would also cause tables on mobile to look a bit funky (as grow a huge amount and become unreadable). We could maybe fix that with a `@include break {...}` and only scale them vertically on larger screens.

This might be a better fix after #246 is addressed by @NejcZdovc. However, as multiple people have mentioned in all these pla

[2017-02-11 14:38] bebraw commented on #865
Ok, cool. Mobile tables come with problems of their own, yeah. Maybe a media query or two would be in order.

[2017-02-11 15:11] TheLarkInn opened #866 "Guides - Using Middleware w/ Express, Koa, Hapi"
After speaking with @pdjota at ngVikings, it turns out we don't have any documentation for using webpack-dev-middleware with express.

@SpaceK33z Do you have any docs hidden anywhere already? Otherwise, we can leave this as low hanging fruit for a first time contributor.

[2017-02-11 15:15] skipjack commented on #710
Closing as we finally got #816 across the finish line. The icons should look better with #858 merged too!

[2017-02-11 15:15] #710 closed

[2017-02-11 15:31] skipjack commented on #812
Yea idk about this one, @rouzbeh84 something like that might not be bad but, as @SpaceK33z mentioned, there's a ton of other work to be done that I would say is much higher priority than this. To get "high-level" overview of the most recent stuff going on in the docs I would say options include:

* Watching this repository
* Subscribing to issues that concern some piece of documentation you're wai

[2017-02-11 15:31] #812 closed

[2017-02-11 15:42] SpaceK33z commented on #866
There are docs on the repo, https://github.com/webpack/webpack-dev-middleware/

[2017-02-11 19:40] skipjack commented on #409
Ok finally got a few rough drafts together for this... interested in some feedback before I go too much further. I made three states, one for what the page would look like logged out, one logged in as a normal user, and one as an admin.

**Logged Out**

![voting_0000_logged-out](https://cloud.githubusercontent.com/assets/8988697/22856780/7dcc4716-f066-11e6-99f9-8d8f6552ec14.png)

**Logged in as a

[2017-02-11 19:42] simon04 commented on #841
This sentence has been added in #383 and originates from the [webpack 1 docs](https://webpack.github.io/docs/using-loaders.html#resolving-loaders). In [webpack/enhanced-resolve](https://github.com/webpack/enhanced-resolve) `moduleTemplates` is not listed. Is this an outdated content?

[2017-02-11 19:43] simon04 commented on #814
Added in 7a6540b via #840.

[2017-02-11 19:43] #814 closed

[2017-02-11 19:44] NejcZdovc commented on #409
@pksjce I love it :+1:

[2017-02-11 20:47] simon04 commented on #670
This has been done using https://medium.com/webpack/webpack-2-and-beyond-40520af9067f#.hx4i1hv12 and #847.

[2017-02-11 20:47] #670 closed

[2017-02-11 20:51] simon04 commented on #262
webpack core code has been done via https://github.com/webpack/webpack/pull/4224.

[2017-02-11 20:56] simon04 commented on #262
* webpack-dev-server readme has been done via https://github.com/webpack/webpack-dev-server/commit/cb98dd989ec3b7998f879446a5d2044623967af6
* sent an email for updating https://js.foundation/projects/

[2017-02-11 20:58] simon04 commented on #652
Related: #131.

[2017-02-11 21:00] #110 closed

[2017-02-11 21:04] simon04 commented on #353
https://webpack.js.org/guides/production-build/ has been updated in #584. Also related and added in the meanwhile: https://webpack.js.org/configuration/environment/

[2017-02-11 21:04] #353 closed

[2017-02-11 21:08] simon04 commented on #416
The pages listed in https://github.com/webpack/webpack.js.org/issues/416#issuecomment-262707459 have gotten updates in the meanwhile. What remains to be done/clarified?

[2017-02-11 21:46] simon04 commented on #490
From my findings, there are (at least) three possibilities:
* https://github.com/webpack/webpack/blob/master/lib/TemplatedPathPlugin.js#L7-L8
* https://github.com/webpack/webpack/blob/master/lib/HashedModuleIdsPlugin.js#L30
* https://github.com/webpack/webpack/commit/44f8709fbd47cb67ac138478ff4348b9d6745d96#diff-7473dd12403a310ad8cf18d0ab9f10b9R25

[2017-02-11 22:37] dmitriid commented on #710
Perfect!

[2017-02-11 22:38] dmitriid commented on #670
Perfect!

[2017-02-11 23:36] skipjack commented on #562
@pastelsky hey I tried fixing this one but can't open the `modules.svg` file in illustrator. I think it's because we optimized it somehow, but if you share the original file I should be able to pick this up.

[2017-02-11 23:53] SpaceK33z commented on #562
@skipjack here is the file you can open in Illustrator: https://webduck.nl/playground/homepage-modules.svg

I opened the file from the repo in Sketch and exported it again as svg. Then tested it with Illustrator and it worked :).

[2017-02-12 00:22] tschaub opened #872 "API - Trouble w/ Parser"
I'm putting together a plugin that extracts strings for localization (assuming I should use a plugin since one new "dictionary" file will be emitted based on call expressions in many modules).  I'd like to visit call expressions on a subset of the modules in a dependency tree.

Seeing the docs for plugging into the parser, I was hopeful I could provide a callback that would get called for call exp

[2017-02-12 01:34] bebraw commented on #490
Sidenote: this does **not** work with `[name]`. I got bitten by that a while ago.

[2017-02-12 02:02] davidtheclark opened #873 "require.ensure chunkName example does not seem to illustrate usage of chunkName"
https://webpack.js.org/guides/code-splitting-require/#chunkname is supposed to document the `chunkName` argument. But the usage of `require.ensure` in the example does not actually seem to include a `chunkName` argument:

[code]

It also says "we can make sure all the dependencies are collectively put in the same bundle" — but does not illustrate the usage of any dependencies.

The end result is t

[2017-02-12 02:33] bebraw commented on #873
The basic rule is that chunks that have the same name are bundled together. That's what the sentence is trying to say.

[2017-02-12 07:56] #490 closed

[2017-02-12 08:05] simon04 commented on #406
How do `atom`/`electron`/`electron-main` differ from each other? According to https://github.com/webpack/webpack/blob/9380bd4/lib/WebpackOptionsApply.js#L115-L117 they are handled equally, and I cannot find any other reference to those identifiers in the source code.

[2017-02-12 11:10] sokra commented on #406
There are equal. It has historical reasons. atom, renamed to electron, splitted into electron-main and renderer. Prefer `electron-main` and `electron-renderer`.

[2017-02-12 17:41] pastelsky opened #877 "Dev - Bundles Contain Duplicate Code"
The output of `npm run build` generates a bunch of `.js` split points, and each of them seem to have a copy of `preact` and other npm libs.

I tried introducing `CommonsChunkPlugin` in `webpack.config`, but don't find any commons file being generated. This is pretty inefficient and perhaps loading a single commons bundle upfront would be better.

@bebraw Any clue if this config comes from antwar s

[2017-02-12 17:56] bebraw commented on #877
It generates a build per each page (the interactive bits). To fix this, you would have to dig into Antwar around [here](https://github.com/antwarjs/antwar/blob/cdcb81571a180498cdae988d4d41d77c3cadac17/packages/antwar/src/build/build_worker.js#L47). PRs welcome. 👍

[2017-02-12 20:03] simon04 commented on #406
Thanks for the clarification. I submitted a PR.

[2017-02-12 20:20] simon04 commented on #873
See https://github.com/webpack/webpack/tree/master/examples/named-chunks for an example regarding `chunkName`. I'll submit a PR to link to a few examples.

[2017-02-12 21:51] #406 closed

[2017-02-13 00:00] davidtheclark commented on #873
Thanks for the hints. I submitted a PR in which I tried to clarify some points as best I could.

[2017-02-13 01:53] TheLarkInn opened #882 "Certs expired"
Just checked this out right now, and it appears that the `webpack.js.org` certs have expired. We probably want to get that renewed ASAP, but I assume that is with the `js.org` folks?

[2017-02-13 05:53] bebraw commented on #882
https://github.com/js-org/js.org/issues/14

[2017-02-13 05:55] #589 closed

[2017-02-13 07:39] #826 closed

[2017-02-13 08:32] bebraw commented on #877
I think I know how to handle this now. Basically the interactive build has to treat preact/preact-dom as externals (cuts most of the size). preact/preact-dom have to be bundled separately by the main config and then wired to the template (`HtmlWebpackPlugin` might do this automatically). That would solve it.

[2017-02-13 12:47] pastelsky commented on #877
Great. However it's not just preact. Around 95% of the code between these split points is the same. The only thing that differs is the rendering of the items in the sidebar and top nav depending on page.

[2017-02-13 12:51] bebraw commented on #877
That would need a different approach entirely.

[2017-02-13 13:13] pastelsky commented on #877
Yeah, I guess. I tried looking at the code you linked, but I'm not sure I
entirely understand what's going on there.

Was looking to add PWA support to the site, but the caching of all of these
bundles might exceed the cache storage quota.

On 13 Feb 2017 6:21 p.m., "Juho Vepsäläinen" <notifications@github.com>
wrote: