[2018-02-06 07:19] TheLarkInn opened #1824 "[Large] - Codebase Overview / Contribution Guide"
After a great suggestion from a contributor, I've decided to open this issue to any contributors who would like to create a section completely devoted to contributing to the webpack source code, and an overview of the code.

- [ ] Codebase Overview - https://reactjs.org/docs/how-to-contribute.html
- [ ] Contribution Guide - https://reactjs.org/docs/codebase-overview.html

Both links show a great b

[2018-02-06 07:19] iamclaytonray commented on #1824
I shall help 😄

[2018-02-06 08:37] samundrak commented on #1824
Hope to see this soon on webpack website :smile:

[2018-02-06 14:12] skipjack commented on #1824
Please add these pages to the __Contribute__ section, which already exists. You can create a subgroup(s) in the __Contribute__ section if necessary using the `group` key in each page's YAML frontmatter. This will cause a set of pages to be grouped in the sidebar on the left.

[2018-02-06 17:54] iamclaytonray commented on #1824
I'm not sure what the timeline is for this. I can help out some in the next 2(ish) weeks until a contract of mine is finished, and then I can spend a lot more time on this. @skipjack @TheLarkInn - is that okay? I'm happy to pass this off for someone who has more time and contribute to something else in the future.

@skipjack - Will do. Thanks for advising me!

[2018-02-06 19:39] TheLarkInn commented on #1824
@iamclaytonray this is more then okay! This is not a release blocking set of documentation, but is still pretty important! So I think it's best for anyone involved in this thread to do the following:

* Pick one piece (that is small enough to chip off in nor more then an hours worth of work) that you want to work on.
* Create an issue for that piece, tag the original issue here with it. (ill tie i

[2018-02-06 19:41] TheLarkInn commented on #1706
Has this already landed in next branch? If not, I will create an issue so that first time contributor can tackle just this work (creating the group).

[2018-02-06 19:45] iamclaytonray commented on #1824
Cool. Thanks for your understanding! Will revisit this later when I get some more work done and decide which portion I'd like to tackle 😄

[2018-02-06 23:39] s1iqbal commented on #1824
Ill start working on it too!

[2018-02-07 03:28] skipjack commented on #1823
I think the following link to the old wiki would be a better place to link to:

https://github.com/webpack/docs/wiki/contents

Feel free to submit a PR to add a brief sentence to our landing page, as such:

[2018-02-07 03:44] skipjack commented on #1822
Isn't the `CommonsChunkPlugin` removed in `v4`?

[2018-02-07 05:13] skipjack commented on #1505
Created an issue over at webpack/enhanced-resolve#133 and rewrote the `resolvers` page on the next branch in #1754 to make things a little more clear and offset much of the actual documentation to the package's README to avoid duplication.

We can look into creating that __Utilities__ section later on.

[2018-02-07 05:13] #1505 closed

[2018-02-07 05:15] skipjack commented on #1458
See [my comment](https://github.com/webpack/webpack.js.org/issues/1505#issuecomment-363659542) on #1505. The page is rewritten on the `next` branch and a ticket was created to track this in `enhanced-resolve`.

[2018-02-07 05:15] #1458 closed

[2018-02-07 05:18] skipjack commented on #940
This is partially resolved by the rewrite of this section I did on the `next` branch and should be fully resolved once webpack/tapable#48 is addressed. I recommend taking a look at the next branch and submitting more targeted PRs or issues for anything else that you think can be improved.

[2018-02-07 05:18] #940 closed

[2018-02-07 15:09] iamclaytonray commented on #1824
I'll tackle contributing docs. @s1iqbal @TheLarkInn

[2018-02-08 02:55] s1iqbal commented on #1823
I will get to it by this week.

[2018-02-08 12:05] vinzruzell opened #1826 "Translation - Filipino Contribution"
I would like to contribute Filipino translation thru github as per utopian rule.

[2018-02-13 08:28] iamclaytonray commented on #1824
Hey @TheLarkInn @skipjack - Finally caught up a bit and working on this. It seems as if each sub-section is still located in the same `Contribute` section, on the same page. Just so I have this correct, that is okay, right? `How To Contribute`, `Codebase Overview`, etc are all supposed to be on the same page?

[2018-02-13 09:04] skipjack commented on #1824
@iamclaytonray you can break things out into multiple pages if it feels like it’s getting long. We can use the `group` key in the YAML front matter to group the pages within the __Contribute___ section as it discusses contributing to more than just the core repo.

That said, we can also discus this more once you’ve submitted a PR. Sometimes it’s easiest to focus on a solid story/well-written conte

[2018-02-14 05:18] skipjack commented on #1826
@vinzruzell that would be fantastic. We don't officially support translation at the main repo yet however #295 exists to discuss that. I've never heard of Utopian before but it looks interesting so I'm making an account to check it out. You may want to suggest that on the other thread and see what others think. _If it's free for open source_ and more mature than GitLocalize, it may be a good optio

[2018-02-14 05:18] #1826 closed

[2018-02-15 04:03] davidjb opened #1832 "Guides - Author Libraries text finishes abruptly"
At https://github.com/webpack/webpack.js.org/blame/master/src/content/guides/author-libraries.md#L310 the text reads:

and that's it, ending abruptly.  What's missing?

[2018-02-15 23:22] stowball opened #1834 "Plugins - 404 in CommonsChunkPlugin"
The final 2 example links (Multiple Common Chunks & Multiple Common Chunks) in https://webpack.js.org/plugins/commons-chunk-plugin/ 404

[2018-02-16 16:35] montogeek commented on #1834
That plugin was removed for the upcoming version of webpack, a new option `optimization.runtimeChunk` replaces it.

You can find more documentation about it here https://github.com/webpack/webpack/blob/798eaa834af59835eedbd01ea9e2f4a6175ae9a1/examples/chunkhash/README.md#L3

[2018-02-18 08:23] hangpark opened #1838 "Include recognition sections for translators"
Contributors of each page of documents are listed at the bottom. I'm starting to translate the doc into Korean at [webpack-korea/webpack.js.org](https://github.com/webpack-korea/webpack.js.org) and I have a plan to add recognition sections for translators just as contributors.

This enhancement can be applied in that repo only, but it seems good if this change applied into `translate` branch so th

[2018-02-19 07:35] skipjack commented on #1832
Good catch... I believe it's supposed say something like:

Would you be willing to submit a PR with that fix?

[2018-02-19 23:19] davidjb commented on #1832
@skipjack Done, thanks for the text.  I adjusted the link to "tree shaking" to point at the Tree Shaking guide (https://webpack.js.org/guides/tree-shaking/) as the link was originally to the same Authoring Libraries article.

[2018-02-20 14:18] EugeneHlushko commented on #1823
@s1iqbal still planning to put up a PR?

[2018-02-20 14:18] EugeneHlushko commented on #1822
Yes, this is redundant

[2018-02-20 14:21] EugeneHlushko commented on #1400
@hulkish are the checkboxes up to date, anything can be done ?

[2018-02-20 16:01] drKnoxy opened #1843 "Contribute - Donate Link Broken in Production"
The link around the image on the `/contribute/` is broken.
It seems to work fine when you run `npm start` but not when you run `npm run build`.

I was going to try and help but the custom lexer implementation for finding markdown in html was a little tough for me to understand.
FYI multi-line html blocks work as expected in the marked lexer.

Anyway, the bit of code that is leading to the bug `web

[2018-02-20 16:20] montogeek commented on #1843
Will take a loot at this one

[2018-02-20 18:10] iamclaytonray commented on #1824
Should I be using content from the current `webpack/webpack` `CONTRIBUTING.md` or writing my own content, and then iterate with the reviewer(s)? Just thought of that. I've been writing content myself but I suppose it would make more sense to use what's already here.

[2018-02-21 12:52] skipjack commented on #1834
@montogeek could you submit a PR that simply repoints these links to an older blob of the repo that still contains those examples?

[2018-02-21 12:53] montogeek commented on #1834
@skipjack will do

[2018-02-21 13:24] Lutece opened #1845 "Broken images in backer list"
I found broken images in the sponsor list so i think it should replaced these images.
because broken images is not good for a website and sponsors.

The path to the avatar image was passed through the API, but the resource was rejected to load.
I think that It looks like the 'opencollective' API did not send the sponsor data list correctly.

[2018-02-23 00:44] skipjack commented on #1706
@jeremenichelli @TheLarkInn here's the start of the list of todos as I understand it:

- [ ] Rewrite plugin API section according to the new `tapable` interface and hooks (#1754)
- [ ] Finish hook descriptions and see if anything else is missing re plugin interface
- [ ] `CommonsChunkPlugin` removal and new `splitChunks` / `minimize` configuration opts (#1812)

@EugeneHlushko can you share some of

[2018-02-23 04:51] #1832 closed

[2018-02-23 04:51] #1834 closed

[2018-02-23 08:59] EugeneHlushko commented on #1706
1. Profiling plugin you've referenced #1830
2. info-verbosity #1817 isnt really v4 its just a feature that landed already
3. nonce #1833 also isnt v4 but wasnt documented and is not in a great state as having dynamic nonce requires re-compilation and complex ssr setup, but at least it documents what it currently does.
4. custom hash function documented #1761

[2018-02-23 12:58] skipjack commented on #1706
Perfect, thanks @EugeneHlushko. Let us / @jeremenichelli know if there's anything else you notice that is missing from this list (whether it's already landed in `next` or needs to).

@jeremenichelli so you're thinking about closing this ticket and starting a new issue or pr that lists these out at the top? I think that makes sense to keep things clean.

[2018-02-23 12:59] evenstensberg opened #1849 "Contribute - Google Summer of Code Page"
- [x] Check the current issues to ensure you aren't creating a duplicate.
- [x] Consider making small typo fixes and such directly as pull requests.
- [x] For the voting application, go to https://github.com/webpack-contrib/voting-app.
- [x] For loader/plugin docs, consider opening an issue in the corresponding repository.
- [x] No existing issue? Go ahead and open a new one.

Webpack is participa

[2018-02-23 13:03] #1845 closed

[2018-02-23 13:06] jeremenichelli commented on #1706
Not closing it @skipjack, leave this one for Migration, and creating one to track all v4 Docs. Just redirecting and gardening directions so they don't derail and it's easier to track progress on docs 😊

[2018-02-23 13:07] skipjack commented on #1849
@ev1stensberg that page looks pretty well thought out so whenever you think it's pretty much ready to go just submit a PR to add it to the __Contribute__ section (`/src/contribute`) of the site. Then I would recommend treating that page as the source of truth for it (instead of the google doc) and you/others can submit more PRs as things change.

[2018-02-23 13:10] skipjack commented on #1706
Makes sense, then maybe we re-title and tag it so it's clear it's specific to writing the migration guide.

[2018-02-23 13:29] jeremenichelli commented on #1706
Yeap, sounds good.

[2018-02-24 02:13] xmoyKing opened #1851 "Guides - Incorrect Diff in "Code Splitting"?"
Should it show the diff on code section of [code-splitting/#dynamic-imports](https://webpack.js.org/guides/code-splitting/#dynamic-imports) ?

screenshot like blow:

![tim 20180224100716](https://user-images.githubusercontent.com/4265421/36624475-b94572aa-194a-11e8-8dc3-88726298c1b3.png)

[2018-02-24 11:19] webpack-bot opened #1852 "Add page to documentation that tracks webpack ecosystem status"
[On the Twittersphere, I recently tweeted](https://twitter.com/lencioni/status/966857043058425856):

People seem to think this would be useful as a page in the webpack documentation. I think maybe having a table that lists each plugin or loader or whatever and how ready it is for any given webpack release would be awesome. I think relevant statuses might be unstarted, in progress, merged, and publ

[2018-02-24 14:18] skipjack commented on #1852
I think maybe creating a page at `./src/content/status.md` (or `ecosystem-status.md`) could work. The only thing to keep in mind is that this will take some serious effort to keep up to date. It might be a good opportunity for automation, e.g. reading `peerDependencies` in the `latest` versions of `webpack-contrib` packages and seeing which `webpack` version they support.

I'm going to leave this

[2018-02-24 15:00] jeremenichelli commented on #1852
I'm a little hesitant about this because of the maintainance a file like this would require. If we are not automating the generation of the file by scrapping the `peerDependencies` required like @skipjack suggested there's a high chance the file gets easily unsync and out to date, not serving to its purpose.

[2018-02-25 02:17] TheLarkInn commented on #1852
I started a bit on something like this. Although I agree with @jeremenichelli I think depending on something like peerDependencies would be the best way. Here's the work I started for it. https://github.com/webpack/webpack.js.org/commit/1df6f608b4834e27d53990da846650fcd5a36741

[2018-02-25 10:23] jeremenichelli commented on #1852
That's a really good start @TheLarkInn, will see if I have time before v4 release, if not I can get into it after the big day.

[2018-02-25 16:33] #1802 closed

[2018-02-25 19:47] estaub opened #1854 "Access to v3 doc?"
While we wait for all the V4 plugins and issues and docs to settle down, folks still need to get work done with V3.  It would be nice to have access to the docs.

[2018-02-26 13:56] montogeek commented on #1854
@estaub It is something missing in the official website?

[2018-02-26 13:58] montogeek commented on #1851
@xmoyKing What is missing in that page?

[2018-02-26 14:11] estaub commented on #1854
@montogeek I don't know what the current state is.  AFAICT, most of the changes needed for 4 aren't there yet, which is one of the things I'm waiting for before switching.

It will be very difficult to maintain doc that works well for both, though; everything different will need to be labeled 3-only or 4-only somehow, e.g. CommonsChunkPlugin, UglifyjsWebpackPlugin, the new optimization config, etc

[2018-02-26 14:27] montogeek commented on #1852
I am working on it, from @skipjack idea, there are some packages that does not specify its `peerDependencies`, so first we should updates those packages:
[code]

Also, some other packages specify `peerDependencies` but not `webpack`:
`[ 'coffee-loader', 'url-loader', 'jshint-loader', 'mocha-loader' ]`

I could go on each of those packages and start adding it

[2018-02-26 15:10] montogeek commented on #1852
This is how it looks at this moment:
![image](https://user-images.githubusercontent.com/1002461/36677823-79b7e00c-1b0f-11e8-81a6-ad2e99afee4a.png)

[2018-02-26 15:12] jeremenichelli commented on #1852
Looks great @montogeek, are you working inside a PR? Throw the link reference here, and tell us when you are ready so we can review it.

[2018-02-26 15:13] jeremenichelli commented on #1852
We should ignore packages with no peerDependencies declared or put something like _unkown webpack compat version: check out the package repository_

[2018-02-26 15:15] xmoyKing commented on #1851
It's not about missing something in this code section.

The question I want to know that are the diff labels and change logs of the code deliberate

or are these labels unnecessary?

PS: may be the question I asked is confusing.

[2018-02-26 15:19] xmoyKing commented on #1851
May be the question I asked is confusing.

What I mean is that are these diff code (or change logs) deliberate.  I thought they're incorrect (unnecessary) before.

[2018-02-26 15:21] montogeek commented on #1852
@jeremenichelli There is not PR, I am afraid to open one since it was @TheLarkInn work.
Branch is https://github.com/webpack/webpack.js.org/tree/feature/compatibility-page

@jeremenichelli When the user goes to the package repository, What would they find different from this page?

[2018-02-26 15:23] montogeek commented on #1851
Yes, they are deliberate there for guiding purposes. It is a way to show the user that is following the guide what should be deleted and what should be updated in each step.

[2018-02-26 15:28] jeremenichelli commented on #1852
Well first, lol no, don't be afraid. Sean will appreciate you are working on it. Create a branch his and whenever you have something in place post it. No one will have a negative comment about and intend of contribution as long as you communicate you are working on it 😉

Second, they will have the README and history of commits which should be enough information to know if the module has been updat

[2018-02-26 15:37] montogeek commented on #1852
@jeremenichelli @skipjack made me a contributor so I think it would be ok to opening a PR directly from @TheLarkInn branch.

Yeah, that sounds good, problem is majority of developers don't read commits history, releases pages, releases.md, history.md or even a readme. Maybe we could find some way to link an issue or branch or something that shows what is the status of the package.

[2018-02-26 15:37] xmoyKing commented on #1851
I see, Thanks a lot. : )

[2018-02-26 15:39] lencioni commented on #1852
@montogeek looks great, thanks for working on this! 💃 Here are some thoughts:

- I think labeling anything where the semver range for webpack peerDep is not explicit (either missing or something like `*`) we should say "unknown".
- It would be great to provide some clear guidance on this page to help the maintainers of these packages clearly understand the path they need to take to go from (0) not

[2018-02-26 16:45] jeremenichelli commented on #1852
We could contact all teams in Slack and see if they can help adding the `peerDependency` value or propose a way for the script to detect the current status of the package regarding the current webpack version. We need ideas for sure, to avoid issue spamming and to help @montogeek build the script.

[2018-02-26 16:47] montogeek commented on #1852
@jeremenichelli I already did that script, that is how I got that list: https://github.com/webpack/webpack.js.org/pull/1857/files#diff-f442a5314c6923d4650227050bd66738R35

[2018-02-26 17:41] jeremenichelli commented on #1852
@montogeek I meant the definitive version, since apparently just scrapping the peer dependencies of the packages is not enough and could case negative effects

[2018-02-26 17:45] webpack-bot opened #1858 "Webpack 4.0.0 command tutorial"
Report a bug.

I followed the steps from your official "Getting started" page. The latest version is 4.0.0. but the page is referring to version 3.9.1. When i followed the steps with version 4.0.0. the output of the "npx webpack " command was not the same as the one with 3.9.1.The bundle was produced in file "main.js" not "bundle.js". When i followed the tutorial with the 3.9.1 version installed a

[2018-02-26 19:03] lencioni commented on #1852
What negative effects?

I think we should stick with peerDependencies, list everything that can't be determined as "unknown" and provide clear guidance on how to take your package from "unknown" to ✅

[2018-02-26 22:55] jeremenichelli commented on #1852
Sorry maybe I misunderstodd one part of the conversation. If the list with peerDependencies satifies our needs I'm good. But I would suggest reaching out maintainers of the modules so they can update with time the package data and avoid confusion in the users.

[2018-02-26 23:05] jeremenichelli opened #1859 "Add migration to v4 document into Guides section"
Create a document to migrate to webpack v4 (legato).

The document should be in a new _Migrations_ subsection from **Guides** page.

[2018-02-26 23:36] jeremenichelli commented on #1812
@kingdaro are you working on this? If not I can take care of it :)

[2018-02-27 00:38] kingdaro commented on #1812
@jeremenichelli Go for it, I'm busy.

[2018-02-27 03:25] TheDutchCoder opened #1861 "Guides - update to webpack 4"
- [ ] Installation (WIP)
- [ ] Getting started
- [ ] Asset Management
- [ ] Output Management
- [ ] Development
- [ ] Hot Module Replacement
- [ ] Tree Shaking
- [ ] Production
- [ ] Code Splitting
- [ ] Lazy Loading
- [ ] Caching
- [ ] Authoring Libraries
- [ ] Shimming
- [ ] Progressive Web Application
- [ ] TypeScript
- [ ] Migrating Versions
- [ ] Environment Variables
- [ ] Build Performance

[2018-02-27 03:54] sqfbeijing commented on #1861
- [ ] 当前

[2018-02-27 03:55] sqfbeijing commented on #1861
- [ ] Code Splitting

[2018-02-27 09:13] TheLarkInn commented on #1852
Please feel free to make any changes you want. What I had was a start, by
all means you can make any changes you need!! <3

On Mon, Feb 26, 2018 at 2:55 PM Jeremias Menichelli <
notifications@github.com> wrote:

[2018-02-27 09:50] jderijke commented on #1854
missing v3 doc too. Can a snapshot be made accessible in something like https://webpack.js.org/3?

[2018-02-27 09:58] montogeek commented on #1852
@lencioni
1. Yes, a label should be added, "Unknown" or a link to a PR or Issue with further details about the state.
2. Yes, we could add a message pointing to migration guides.
3. I think the same, but it is not completely necessary, we could start submitting issues or PR directly adding `peerDependencies` and clarifying that is ecosystem effort.
4. What a list dead package for you? No longer us

[2018-02-27 10:06] montogeek commented on #1854
Everything in the website is for webpack 3, AFAIK nothing has been deleted.
CommonsChunkPlugin does not longer exists in webpack 4, but the page is available (https://webpack.js.org/plugins/commons-chunk-plugin/), the plan is to add a deprecation warning linking to its replacement, never remove it.

Making a snapshot of the docs would be good, but I am afraid it would require a lot of work since i

[2018-02-27 10:40] montogeek commented on #1861
On https://github.com/webpack/webpack.js.org/issues/1854 was suggested to put them under a new URL, that would require a lot of work but it is better than adding deprecation notes (where it is possible) or redirections.

[2018-02-27 11:58] jimblue commented on #1861
I've spend a lot of time on webpack yesterday to move to webpack 4 without success because of the lack of information.

I searched on https://webpack.js.org/configuration, in the release note, on medium and here on github issues. I read some interesting stuff but nothing really helped me out solving all new issue due to migration.

For exemple how can I configure `uglify js v1` now it's part of we

[2018-02-27 13:38] TheDutchCoder commented on #1861
@sqfbeijing Do you mean you want to tackle code splitting?

[2018-02-27 15:27] estaub commented on #1854
@montogeek The black-and-blue chip in the upper corner of the doc saying "webpack v4.0.1" leads readers (like me) to think that it at least attempts to doc v4.

[2018-02-27 15:35] montogeek commented on #1854
That shows the latest version, but I see your point

[2018-02-27 16:56] iamclaytonray commented on #1824
@TheLarkInn @skipjack

[2018-02-27 23:49] jeremenichelli commented on #1812
Here's the PR for it: https://github.com/webpack/webpack.js.org/pull/1863

[2018-02-28 07:52] rikschennink opened #1866 "Add `<!doctype html>` to html snippets"
Yesterday I blindly copied the Webpack "Getting Started" index.html page to build a quick prototype. The next 50 minutes I'm debugging weird layout bugs. It seems the example snippet does not contain a DOCTYPE and I forgot to add it myself.

Maybe have it there by default?

[2018-02-28 08:32] montogeek commented on #1866
webpack website shows in its examples the minimal requirements to wort with it, specify details about other technologies are no essential.

[2018-02-28 09:09] rikschennink commented on #1866
@montogeek I understand that examples need to be kept as concise as possible. It worries me that a DOCTYPE is considered a "specific detail". Following that reasoning, the `<title>` attribute could also be removed.

If other devs are building their products/prototypes based on these examples they could find themselves in unnecessary trouble.

[2018-02-28 09:15] montogeek commented on #1866
`title` is part of the guide. HTML knowledge is out of the scope of webpack documentation

[2018-02-28 09:27] timseverien commented on #1866
I'm with @rikschennink here. If you're providing an entire HTML file, I would those to be complete.

[2018-02-28 09:46] bramsmulders commented on #1866
+1

[2018-02-28 09:46] montogeek commented on #1866
We are not providing an entire HTML file, just the minimal HTML to show how webpack works

[2018-02-28 09:52] rikschennink commented on #1866
@montogeek A minimal HTML file (that is still valid) really should have a `<!doctype html>` at the top.

I'm [reading here](https://gist.github.com/cmalven/1885287) that it should also have a `<title>` tag, my earlier statement about removing it seems to be incorrect.

[2018-02-28 09:54] montogeek commented on #1866
Can you please submit a PR to add it in all necessary examples? Not those generated by plugins.

[2018-02-28 10:08] rikschennink commented on #1866
@montogeek happy to do that somewhere this week or the next.

[2018-02-28 20:19] wldcordeiro commented on #1854
@estaub yeah the version pill is problematic and misleading because the docs are definitely 3.x but users will end up getting 4.x if they just run `npm i webpack`. I'd say we should have a version selector similar to something like [Django](https://docs.djangoproject.com/en/2.0/) or [Ember](https://guides.emberjs.com/v3.0.0/)

[2018-02-28 20:20] wldcordeiro commented on #1858
Part of this https://github.com/webpack/webpack.js.org/issues/1861?

[2018-02-28 20:21] wldcordeiro commented on #1861
Which of the guides would be lowest hanging fruit? I'm glad to help where I can but this will be a learning experience of its own. 😄

[2018-02-28 20:40] TheDutchCoder commented on #1861
@wldcordeiro you can take a look at the current Guides and see which one's you would be comfortable with.

They pretty much go in chronological order (i.e. they "expand" on top of each other, so they'll progressively will get more advanced).

Something like Asset Management or Output Management are somewhat basic and easy to get into.

Let me know if you need a hand!

[2018-03-01 03:50] TheDutchCoder commented on #1866
@rikschennink this is a really good point. I'm probably responsible for this mishap, so I've taken the liberty to include it for our v4 Guides (https://github.com/webpack/webpack.js.org/pull/1862) and I will open a quick PR for the current docs as well.

You're totally right: the examples should be working and correct, even if they're minimal examples.

Thanks for the good catch!

[2018-03-01 03:55] #1851 closed

[2018-03-01 06:47] rikschennink commented on #1866
@TheDutchCoder Fantastic! Thanks for taking the time to fix it Reinier. I'll remove it from my todo list 🙂

[2018-03-01 07:03] mihai011 commented on #1858
I wrote this before #1861 was written. But now, yes it is related to it.

[2018-03-01 08:28] jeremenichelli commented on #1866
It would b good to check the rest of the site and try to spot places where this was also happening and fix it.

[2018-03-01 08:40] jeremenichelli opened #1869 "Update the Configuration section with webpack v4 configuration"
In the Configuration section we still have old config snippets and we also are not reflecting the fact that webopack is now cero config out of the box.

Some content might also need to be change so it's compatible with the new webpack default behavior.

[2018-03-01 08:40] jeremenichelli opened #1870 "Update the Concepts section with webpack v4 configuration"
In the Concepts section we still have old config snippets and we also are not reflecting the fact that webopack is now cero config out of the box.

Some content might also need to be change so it's compatible with the new webpack default behavior.

[2018-03-01 14:41] dbkaplun commented on #1854
I second having a version selector. I frequently look for nonexistent old docs and am forced to do `git blame` to find the right version, and read source code itself.

[2018-03-01 14:46] montogeek commented on #1854
Thinking more about this I am not sure if it is worth to have an entire version of the website for each version, although it is a major release, not a lot of things changed, there is 113 pages of documentation from which approximately only 25 (22%) would need an update for webpack 4

[2018-03-01 18:30] estaub commented on #1854
@montogeek At the risk of seeming snarky...  why do folks do all that forking with git?  Most of each of the forks are all the same.

Like forking, the advantage to having separate versions is complete unambiguity.  Otherwise, for any page that has no reference to 3 or 4, the reader is left wondering:

- Is it 3, not updated yet?
- Is it the same in both?
- Is it 4-only, and the author of the v4 c

[2018-03-01 18:39] TheDutchCoder commented on #1854
I'm usually a proponent of having versioned docs.
It might feel a bit verbose, but I think it's critical to have at the very least major versions split out in the docs as they usually differ significantly.

We could opt for latest release of each major version?
We'd have to find a way to (re)structure this on the website, but a simple dropdown should suffice and maybe adding versioned sub-director

[2018-03-01 22:51] montogeek commented on #1854
I am in as well!

[2018-03-02 09:17] arjendeblok commented on #1870
Also the home page of the web site still reflects that you need a config file. Should be changed too.

[2018-03-02 09:18] jeremenichelli commented on #1870
Yeap. From above:

[2018-03-02 10:32] janjaap opened #1876 "Prevent warnings for optional modules"
I'm working on an application (for which the configuration is based on ejected create-react-app) that imports configuration files to construct the app's global configuration object. Some of the files that can be imported, are optional. I've wrapped the inclusion commands for those files in a try-catch block, but Webpack still throws a warning and when `CI=true`, turns them into errors. Note that I

[2018-03-02 13:22] janjaap commented on #1876
Using `react-dev-utils`' `formatWebpackMessages` function I managed to filter out warnings that I wanted to suppress, but I'm not sure if this is the way to go.

Code:
[code]

[2018-03-03 18:17] skipjack commented on #1824
@iamclaytonray if you think parts of the `CONTRIBUTING.md` file are useful then yes you should probably include that content or at least make sure the same topics are covered. One of the tougher things when writing docs is to maintain a consistent voice and flow so if you think things should be re-worded, then by all means do so.

That said, we should try to avoid duplicate documentation. So, once

[2018-03-03 19:41] TheDutchCoder commented on #1866
This was solved by https://github.com/webpack/webpack.js.org/pull/1868

Thanks everyone!

[2018-03-03 19:41] #1866 closed

[2018-03-04 11:37] webpack-bot opened #1881 "Documentation improvements"
Hello guys,

I am just beginner with webpack and I fall in love to that. I would like to use edge version(v4). After many days I finally composed config file. I already worked with other bundlers(grunt, gulp, browserify) and now I can say that it was quite confusing intro into webpack. Most of time spent by googling.

In compare with other bundlers, configuration is more complex and require some n

[2018-03-04 16:05] kswedberg opened #1882 "American vs British English?"
I started looking through the v4 documentation to fix some typos and clean up some punctuation/style/grammar issues, and I noticed that some spellings switch between the American variant and the British variant of a word. For example I see both "optimize/optimization" and "optimise/optimisation" used.

Does this project have a preferred standard spelling for such words? From a cursory glance, it l

[2018-03-05 09:27] EugeneHlushko commented on #1870
@jeremenichelli u on it or i can pick up both concepts configuration and homepage?

[2018-03-05 09:53] montogeek commented on #1882
I am rather new to the repository, but I would say that USA English should be used. @ChrisChinchilla could know better

[2018-03-05 09:59] montogeek commented on #1881
Hi @mysuf

Regarding your webpack-dev-server experience, in its repo readme it says: `It uses webpack-dev-middleware under the hood, which provides fast in-memory access to the webpack assets.`, if you follow webpack-dev-middleware link you will find its readme says:

I advice trying to click and read readmes thoughtfully.

About our webpack documentation:
1. We are working on creating this guide,

[2018-03-05 10:03] montogeek commented on #1876
This issue belongs to webpack main repo, this repository is about its website documentation and documentation.

[2018-03-05 10:30] jeremenichelli commented on #1870
Go for it @EugeneHlushko! Assign the issues to yourself so we don't overlap (this one and the homepage and configuration).

Here's a list of things to look at on the config files or warnings:
* update node.js to 8
* install webpack-cli
* upgrade loaders and pluginsConfig
* add `mode: "development"/"production"` to config files
* remove DefinePlugin process.env.NODE_ENV
* remove NoEmitOnErrorsPlugi

[2018-03-05 10:57] mysuf commented on #1881
Regarding dev-server, it was quite bad example. The point is that as begginer, I thought that dev-server is extension of webpack (like plugins, loaders - it shares webpack config and you can start it by npm webpack command right?). So I thought that webpack will serve everything as usual and as bonus it runs dev-server. But later I found out that webpack forward it to different binary (npm webpack

[2018-03-05 13:46] TheDutchCoder commented on #1882
I'd vote for US English, as that's also the language used in JavaScript itself and probably the best "common ground".

[2018-03-05 13:55] kswedberg commented on #1882
Thanks for the replies, @montogeek and @TheDutchCoder . I'd vote for US English, as well, but as an outsider with zero contributions to the repo so far, I thought it would be undiplomatic of me to forge ahead without at least raising the question.

@montogeek , would you like me to wait until we hear from @ChrisChinchilla ? Or shall I just submit a  pull request and let him and others weigh in on

[2018-03-05 14:21] EugeneHlushko commented on #1870
@jeremenichelli there are not enough privileges i suppose to assign it on myself :(

[2018-03-05 15:00] jeremenichelli commented on #1870
Whenever you want to grab some issue just be verbose in the comment thread and I will proceed to assign it to you 😊

[2018-03-05 16:38] montogeek commented on #1882
A PR would be a good start :)

[2018-03-05 19:03] TheDutchCoder commented on #1876
Yes please take this up in the webpack repo :)

[2018-03-05 19:03] #1876 closed

[2018-03-05 19:05] TheDutchCoder commented on #1858
Duplicate of https://github.com/webpack/webpack.js.org/issues/1861

[2018-03-05 19:05] #1858 closed

[2018-03-07 01:57] harperj1029 commented on #970
I appreciate the discussion but there are literally conflicting responses in here - even from some of the webpack people themselves. TheLarkInn says a chunk is a bundle, while bebrawb says bundles contain chunks. Also, this post [https://github.com/webpack/webpack.js.org/issues/970#issuecomment-305216411 ] from TheLarkInn unfortunately confuses me further by bringing up new terminology and raises

[2018-03-07 12:42] EugeneHlushko commented on #1869
Hi @jeremenichelli

I can take this if u hadn't started yet. Please feel free to assign at me at will

[2018-03-07 19:14] lencioni commented on #1852
All of the above?

Your table looks pretty good to me

[2018-03-08 06:49] webpack-bot opened #1891 "https://webpack.js.org/configuration/resolve/#resolve-alias"
alias:{ xyz: "modu/dir" }
**import 'xyz/file.js' => ///abc/node_modules/*dir*/file.js**
alias:{xyz:"xyz/dir"}
**import 'xyz/file.js' => ///abc/node_modules/*xyz/dir*/file.js**

---

This issue was moved from webpack/webpack#6705 by @sokra. Original issue was by @chinazhaghai.

[2018-03-08 12:03] nikunjg commented on #1706
any updates in providing webpack 4 documentation

[2018-03-08 12:06] jeremenichelli commented on #1706
@nikunjg we are working on it 😊 you can see the progress in the conversations in the Issues and Pull requests and in the `next` branch where we are merging all the changes.

Sadly, we don't have the dates, but we hope to have it as soon as possible. Let us know if you would like to collaborate.

[2018-03-08 12:09] nikunjg commented on #1706
@jeremenichelli, that means documentation provided in the link https://webpack.js.org/guides/asset-management/ is for webpack 3. if yes, Should I use webpack 3 then?

[2018-03-08 12:12] jeremenichelli commented on #1706
Particularly for that section, I don't any issues with webpack v4 besides possible issues in the loaders mention there. I suggest you to go to the loader repository and see if it has been updated to work with v4.

[2018-03-08 19:56] webpack-bot opened #1897 "Webpack 4 Documentation"
Is it just me or is there no documentation yet for Webpack 4? I am trying to read more about this "splitChunks" thing but I can't find crap on the website. Hell the website shows version 4.1.1 but still says to use CommonsChunkPlugin

---

This issue was moved from webpack/webpack#6711 by @ooflorent. Original issue was by @bannostookaylo.

[2018-03-08 20:07] montogeek commented on #1897
No, documentation for webpack 4 it is not ready neither a date of being done. You can read more about new `splitChunks` in our Medium publication https://medium.com/webpack, which is linked from everypage in our website via `Blog` link at the top of the page.

You can follow webpack 4 documentation progress at #1856.

Website version is a badge that shows latest release, it doesn't indicate websit

[2018-03-08 20:07] #1897 closed

[2018-03-09 07:53] WouterVanherck commented on #645
Followed the above link and instructions. Have only found the commit for the banner-plugin.md file which actually points to older documentation of the banner-plugin? Searched it myself which resulted in the following link:  https://github.com/webpack/webpack.js.org/blob/master/src/content/plugins/banner-plugin.md

Posting this so it could help others in the future when searching for the banner-plu

[2018-03-09 09:07] WouterVanherck opened #1900 "Use of BannerPlugin.js results in error: str.indexOf is not a function"
I'm using BannerPlugin in `webpack.config.prod.js` / `webpack.config.dev.js`:

[code]

Which results in the error: `str.indexOf is not a function`

[code]

How does one resolve this without having to modify BannerPlugin.js?
[Asked on StackOverflow](https://stackoverflow.com/questions/49189804/react-use-of-bannerplugin-js-results-in-error-str-indexof-is-not-a-function)

[2018-03-09 10:36] montogeek commented on #1900
This is not an issue with webpack website documentation.
Please submit it to BannerPlugin repository.

[2018-03-09 10:36] #1900 closed

[2018-03-10 02:12] MythicalFish commented on #1801
I bookmarked that comment because it was so good, and now that I want to refer to it again, it's gone! Deleted. :(

Did anyone here save it somewhere per chance?

[2018-03-10 20:25] ARDivekar commented on #1897
-1 @montogeek
The documentation should be ready _before_ the release is added to NPM for people to consume. Especially if it is a major version upgrade (i.e. with breaking functionality).

On top of that, you could have at least linked the relevant Medium articles:

- [splitChunks](https://medium.com/webpack/webpack-4-code-splitting-chunk-graph-and-the-splitchunks-optimization-be739a861366)

- [We

[2018-03-11 00:07] gezeta-id commented on #1801
Oh, sorry, sorry! I forgot to tell you.

My reddit content is usually deleted after a time, so I just moved it _without modification_ to a more _stable_ location: [That thing about why webpack](http://www.tinselcity.net/reddit/webpack).

This is probably going to be kept there for a long time. Still, let me remind you that you're free to copy it, if you so prefer.

[2018-03-11 23:05] ApolloTang commented on #1854
@TheDutchCoder, thinking of what @montogeek said: since there are only less than 1/4 of the documentation need v4 update -- may be we can have version section in the same page, place V4 at the top section, which follow by V3 section, that way we can have this up quickly without having to add a drop down or restructure the entire website.

But however the decision to be, the the version pill has to

[2018-03-13 11:37] Pixelatex opened #1908 ""Property 'mode' is not allowed" warning shows in webpack config"
When calling webpack using the node api like so:

` webpack(webpackConfig, (error, stats) => {
          // Do stuff
    });`

I can't find any documentation on how I'm supposed to pass along the mode env (--mode) that has been added in V4.

[2018-03-13 12:02] montogeek commented on #1908
It is part of the `webpackConfig` object

[2018-03-13 12:05] Pixelatex commented on #1908
Yeah I just now figured that out, what confused me was that setting mode: '..' in the config will throw a warning saying that webpack doesn't allow this. I assume this hasn't been updated?

[2018-03-13 12:12] montogeek commented on #1908
Could you please post your webpack version and warning message?

[2018-03-13 12:16] Pixelatex commented on #1908
the link to 'webpack Options schema' also returns a 404 :)

[2018-03-13 12:20] montogeek commented on #1908
What is that? We don't have control over IDE Integrations.
But guessing I would say that is IntelliJ https://www.jetbrains.com/help/idea/webpack.html and it is using https://github.com/webpack-contrib/schema-utils to validate webpack options, in that case, Could you please send a PR to https://github.com/webpack-contrib/schema-utils adding that new option?

Thanks!

[2018-03-13 12:27] montogeek commented on #1908
I explored Jetbrains issue tracker and found https://youtrack.jetbrains.com/issue/WEB-14019#u=1497141261503, it never mentions exactly what is used :/

[2018-03-13 12:31] montogeek commented on #1908
@Pixelatex What is the link?

[2018-03-13 12:32] Pixelatex commented on #1908
https://github.com/webpack/webpack/blob/master/schemas/webpackOptionsSchema.json

[2018-03-13 12:34] Pixelatex commented on #1908
I took a look at the node modules folder of webpack, in 'schemas' the WebpackOptions.json doesn't have 'mode'

[2018-03-13 12:35] montogeek commented on #1908
Yep, just found it https://github.com/webpack/webpack/blob/master/schemas/WebpackOptions.json, the current file have `mode` option documented, so, it is an error from Jetbrains.

That file was renamed on https://github.com/webpack/webpack/commit/cdd593b8472526ebb46edb85f43e6f414240f122#diff-03af1a9344cf93838ad925ff61de02aa (Nov 11, 2017), maybe you have an outdated version of your editor?

[2018-03-13 12:39] Pixelatex commented on #1908
latest version of webstorm but I guess I might have to make a bug report on their end then. Bit strange that the validation seems to be using an older version.

[2018-03-13 12:39] montogeek commented on #1908
Are you sure you have the latest version of webpack installed, that file have `mode` option on my computer using webpack 4.1.1
![image](https://user-images.githubusercontent.com/1002461/37342109-e2686648-26c3-11e8-99bb-3803d6573ee0.png)

[2018-03-13 12:42] Pixelatex commented on #1908
Yeah, it's the latest one but it seems like I misread, mode is indeed in there.

[2018-03-13 12:44] montogeek commented on #1908
So it seems that they are using the wrong file to validate the schema, maybe from a global installation?
Check your IDE Webpack Settings for any related option that could affect it.

[2018-03-13 12:54] denofevil commented on #1908
IntelliJ-based products are using bundled copy of the schema. 2017.3.* and lower use schema from webpack 2 which is missing that attribute. 2018.1 will use proper schema depending on the webpack version ([WEB-31469](https://youtrack.jetbrains.com/issue/WEB-31469)).

[2018-03-13 13:14] lafe commented on #1897
I concur: The documentation should be finished (or at least be ready in a preview form) once the new version goes live. To make matters worse: On the webpage there is a big indicator stating "webpack v4.1.1" which indicates (at least to me) that the documentation I am currently reading is for exactly that version.

[2018-03-13 14:02] Pixelatex commented on #1908
So many things that won't be fixed until 2018.1, hope they release it soon

[2018-03-13 14:02] #1908 closed

[2018-03-13 14:13] denofevil commented on #1908
@Pixelatex we're releasing Public Preview this week with the full release around the end of month.

[2018-03-13 14:25] Pixelatex commented on #1908
@denofevil didn't realise you were part of intelij :p thanks for that info. Been waiting a while for some things!

[2018-03-14 00:32] evenstensberg opened #1910 "Documentation: Update CLI arguments"
We've got some new arguments in the CLI, which would need need to be shown in the documentation. Is there anyone that would do that? Have a look at  the arugments [here](https://github.com/webpack/webpack-cli/blob/master/bin/config-yargs.js) and [here](https://github.com/webpack/webpack-cli/blob/master/bin/webpack.js).

[2018-03-14 09:57] montogeek commented on #1910
I will

[2018-03-16 06:06] airtonix commented on #1854
Isn't ironic that for a build system that seems to do very well in fingerprinting output assets fails in applying this to it's own documentation.

[code]
Something that really needs to be thought about.

[2018-03-16 18:47] ARDivekar commented on #1897
I think this should be reopened until the documentation is ready, as a tracking ticket (or identify another ticket where the Webpack 4 documentation is tracked).

[2018-03-16 18:55] montogeek commented on #1897
Is this ticket, and also from my first comment:

[2018-03-16 19:06] Pokom commented on #1861
@TheDutchCoder if @sqfbeijing isn't taking that, I could take a stab at it.

[2018-03-16 19:16] TheDutchCoder commented on #1861
@Pokom Go for it! ;)

[2018-03-18 01:24] augbog opened #1924 "Broken image on website"
Looks like the image is no longer available for this person's image

`https://opencollective.com/proxy/images/?src=https%3A%2F%2Fimages.githubusercontent.com%2Fandrewvieyra&height=96`

<img width="422" alt="screen shot 2018-03-17 at 6 21 29 pm" src="https://user-images.githubusercontent.com/2054339/37561623-3cbb859a-2a10-11e8-86f4-ecd4f810d30a.png">

[2018-03-18 19:10] Youngestdev commented on #1924
Probably he's changed it or he's no more part of open collective or a manual error.

[2018-03-19 11:06] montogeek commented on #1924
We added an `onError` handle to deal with broken images (https://github.com/webpack/webpack.js.org/pull/1846), but for some reason it is not working in the website, it works locally

[2018-03-19 12:45] anseki opened #4482 "Webpack 4 ignores `resolve.mainFields` in the global configuration"
Hi, thank you for the great tool.

I have a question. It might be a bug.

To import modules with `pkg.module` field (not `main` field) if possible, I wrote a `webpack.config.js` like:

[code]

That worked fine in Webpack 3.
However, in Webpack 4, it seems that the specific is ignored when nested importing. That is, for example, a mod-A is imported with `module` field correctly, but a mod-B that th

[2018-03-20 11:05] RonanQuigley opened #1931 "Compiler page is not found."
Currently if you open up https://webpack.js.org/api/compiler/ the page returns the following:

![capture](https://user-images.githubusercontent.com/33596237/37650963-73a29b96-2c2e-11e8-892d-77a110ea89b6.JPG)

Any chance of a fix? I'm resorting to using a cached version at present.

[2018-03-20 11:18] montogeek commented on #1931
Use https://webpack.js.org/api/compiler-hooks/, we are updating broken links

[2018-03-20 11:38] RonanQuigley commented on #1931
Got it, thanks!

[2018-03-20 11:38] #1931 closed

[2018-03-20 15:25] jessegavin commented on #1854
Lodash does a great job of providing access to multiple versions of their docs both via url and through a UI control that lets you easily switch versions. This should be the standard way of doing things for any documentation.

Example.
https://lodash.com/docs/4.17.5

[2018-03-20 18:50] TheLarkInn opened #1933 "[Dependency: Guides] - Create "Migrating" section and move content from Guides"
Dependency for #1859

Goal: As a user I would like to be able to easily find (starting from the homepage), how to upgrade to the latest version of webpack.

- [ ] Create a new Section called "Migrate", it's creation should be at the same tier as "Guides"
  - [ ] The url to access this page should be `webpack.js.org/migrate`
- [ ] Move existing Migrating (v1 => v2/3) Guide and place it inside of ne

[2018-03-20 18:51] TheLarkInn opened #1934 "[Dependency: Guides] - Add v4 Migration Guide"
Dependency for #1859

Goal: As a user looking to upgrade to webpack 4, I would like step by step instructions for any changes I need to make from my v3 configuration to update to webpack 4

MVP
========================
- [ ] Create new v4 Migration guide and place in "Migrating" section.
- [ ] The url should be `webpack.js.org/migrate/4`
- [ ] The migration guide should be formatted in the same wa

[2018-03-20 18:59] TheLarkInn opened #1935 "[Dependency: Guides] - Add v4 Plugin and Loader Migration example - Place in Migrating/4 - Post MVP"
Dependency for #1859 (POST MVP)

As a plugin author, I would like to know how to upgrade my webpack loader or plugin to support version 4.

- [ ] Inside of the `webpack.js.org/migrate/4` guide, we should include (at the bottom of the content), how to upgrade a webpack loader and plugin.
- [ ] Instructions should resemble the same diff style as rest of document
- [ ] This part of the guide should l

[2018-03-21 08:11] onstash commented on #1934
Hey Sean and the rest of the amazing contributors of Webpack! I would like to give back to the webpack community by contributing to the migration guide from v3 to v4 but I'm not sure where to start. Could you please help me get started with that? Thank you. :)

[2018-03-21 12:12] montogeek commented on #1910
Also https://github.com/webpack/webpack-cli/issues/361#issuecomment-374915440

[2018-03-21 12:17] dhruvdutt commented on #1934
Hey @onstash. :wave:
One of the best places to look for v4 changes is [this release note](https://github.com/webpack/webpack/releases/tag/v4.0.0).
I'd also recommend reading our [medium blog's](https://medium.com/webpack) latest blogs as well as looking over [v4 docs](https://webpack.js.org).
Welcome aboard. :shipit:

[2018-03-21 15:51] Legends opened #1938 "Section for optimization is missing under webpack.js.org/configuration/#options"
Section for `optimization` is missing in [https://webpack.js.org/configuration/#options](https://webpack.js.org/configuration/#options).

Has to be added.

[2018-03-21 17:00] TheLarkInn commented on #1934
@onstash It looks like @sokra started a PR that you could review!!! What might be a great intro into the repo is https://github.com/webpack/webpack.js.org/issues/1933 which will let you get familiar with how the content is laid out in the source. How does that sound?

[2018-03-21 17:09] onstash commented on #1934
@dhruvdutt Thank you for listing those links. It actually helped me get started with the migration docs. :)

@TheLarkInn Ah. I just raised a PR that had a skeletal version of the migration docs. It's alright. Is it possible to contribute in a different way with respect to documentation?

[2018-03-21 17:15] onstash commented on #1933
How about we add a link "Migration" section in the home page in this "It's that simple" section? Or probably something similar? Please let me know your thoughts on this. @TheLarkInn 😅

<img width="1182" alt="screen shot 2018-03-21 at 22 42 09" src="https://user-images.githubusercontent.com/4272832/37725561-3c9276f4-2d59-11e8-8e64-3c39f607e924.png">

[2018-03-21 17:23] TheLarkInn commented on #1933
We can link to it from that page certainly, but this is just scoped to creating the section itself, and moving the existing guide to the new section location, and then with the PR that @sokra lands with #1939, then we can move that also into this section.

[2018-03-21 18:22] dhruvdutt commented on #1934
@onstash, There are opportunities for everybody to contribute to webpack. :)

There are some minor issues in v4 docs PR #1856 which we haven't addressed yet. You can see the review comments to resolve them.
Also, take a look at the open issues with [Help Wanted](https://github.com/webpack/webpack.js.org/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Help+Wanted%22) label.

[2018-03-22 23:36] janswee opened #1945 "ExtractTextWebpackPlugin should be removed from v4.2.0 docs"
ExtractTextWebpackPlugin is not supported up to webpack >= v4.0.0

See issues thread: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/749

Please cleanup Webpack 4.2.0 Asset Management, Code Splitting, and Production guides. This is causing a lot of confusion.

Delete here: https://webpack.js.org/plugins/extract-text-webpack-plugin/
and here: https://webpack.js.org/guides/ass

[2018-03-22 23:49] montogeek commented on #1945
Send a PR

[2018-03-23 15:12] EugeneHlushko commented on #1945
@janswee if u need help or dont have time i can put up a PR this weekend

[2018-03-23 15:14] EugeneHlushko commented on #1938
There is a page under concepts/mode, maybe that should be moved under configuration section?

[2018-03-23 16:36] Legends commented on #1938
I mean [optimization](https://medium.com/webpack/webpack-4-code-splitting-chunk-graph-and-the-splitchunks-optimization-be739a861366).

[2018-03-23 17:22] EugeneHlushko commented on #1924
@montogeek i suspect its an issue with preact's `onError`

[2018-03-23 17:27] EugeneHlushko commented on #1924
Maybe it makes sense to update react to 16 and stop aliasing?

[2018-03-23 17:39] EugeneHlushko commented on #1938
Oh my bad, misread that one 👍

[2018-03-23 17:52] edmorley opened #1947 "Concepts - Mode: Add missing differences between production and development"
From:
https://github.com/webpack/webpack.js.org/pull/1856#discussion_r173507062

The `production` mode enables a few more plugins than currently listed, eg `FlagIncludedChunksPlugin`, `OccurrenceOrderPlugin`, `SideEffectsFlagPlugin`, `FlagDependencyUsagePlugin`:
https://github.com/webpack/webpack/blob/4f399322ad1922ae7bafdeea1c4d83bf9c9851a7/lib/WebpackOptionsDefaulter.js#L192-L207
https://github.

[2018-03-23 17:56] EugeneHlushko commented on #1933
@montogeek can you assign this on me, will implement over this weekend

[2018-03-23 18:21] EugeneHlushko commented on #1933
@TheLarkInn pls see PR open for any additions

[2018-03-23 23:51] webpack-bot opened #1949 "Errors in 'Getting Started' documentation"
**Do you want to request a *feature* or report a *bug*?**
Documentation error

**What is the current behavior?**
The browser fails to load the compiled .js as the resource can not be found

**If the current behavior is a bug, please provide the steps to reproduce.**

Follow the [**Getting Started**](https://webpack.js.org/guides/getting-started/) guide

**What is the expected behavior?**

The comp

[2018-03-23 23:52] TheLarkInn commented on #1801
Thank you for publishing this to keep it accessible!! I think it is a perfect start for our documentation. Just need to figure out how we want to structure the message we send and find out where it would be sent 💯

[2018-03-24 01:34] transitive-bullshit commented on #1854
This is really, really confusing at the moment. I am required to use v3, and it's not stated anywhere that the docs for v4 are largely compatible with the docs for v3. Keeping snapshots of old docs for a project as large as webpack would be a huge plus.

[2018-03-25 18:05] FrozenHearth opened #1952 "What color theme is used for the webpack docs?"
Really love the color theme used for the docs. I'm interested in knowing what it is.

![fontcolor](https://user-images.githubusercontent.com/27160715/37878336-19005c86-3085-11e8-9011-08d5f25fc5d6.PNG)

[2018-03-25 18:56] EugeneHlushko commented on #1947
please close this one @montogeek

[2018-03-26 00:30] jeremenichelli opened #1956 "Improvements on SplitChunks article"
Besides the fact that the document might need some gardening and organization, there are some stuff that I couldn't completely get from the codebase or the config so there are some requests and gaps that might need to be filled.

Specially these:
 - include the different things that you can pass to runtimeChunk. _It can be a boolean, 'single', 'multiple' or an object that has property name whose v

[2018-03-26 00:31] jeremenichelli commented on #1956
As always, I can help, but need the knowledge 😄

[2018-03-26 07:12] bebraw commented on #1805
The issue for reference, https://github.com/webpack/webpack/issues/6439 .

[2018-03-26 19:48] webpack-bot opened #1961 "Old documentations (3.8)"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Can't find the documentation of old Webpack versions (3.8). - Especially the API for the webpack.config.js file.

**If the current behavior is a bug, please provide the steps to reproduce.**
[Go to documentation](https://webpack.js.org/configuration/devtool/), and don't find the 3.x documentation.

[2018-03-27 03:57] dcworldwide commented on #1854
Where is the v3 docs??? Some enterprises move very slowly on upgrades. We will be v3 for a few months yet.

[2018-03-27 06:57] Erowlin commented on #1961
Author here :)

[2018-03-27 07:17] EugeneHlushko commented on #1870
@montogeek @jeremenichelli this seems done now, can close i guess

[2018-03-27 11:14] NafaaBout opened #1965 "Documentation site styles not found, site broken."
The webpack documentation site styles are broken. Here what I get when I visit it.

![getting started page](https://user-images.githubusercontent.com/1812732/37963638-d020c0a4-31b6-11e8-98cc-ff1a8de8c221.png)

[2018-03-27 11:56] montogeek commented on #1965
Thanks for your report, could you please tell us:
Which browser?
Which OS?
Are you using an adblocker?

[2018-03-28 06:30] EugeneHlushko opened #1967 "Migrate to React 16"
Migrating to latest react increases overall website performance and eases the further maintainability of the project. Also We possibly have an issue with Preact event system mock which sometimes doesn't fire `onError` for the image see #1924

Considering overall bundle size reductions and GZIP it doesnt make much sense to keep preact, also @bebraw dropper preact in antwar's latest versions as it w

[2018-03-28 06:45] bebraw commented on #1967
@EugeneHlushko Preact works just fine. You have to tune it like this: https://github.com/antwarjs/antwar/blob/master/smoketest/antwar.config.js#L9 . See the smoketest example configuration.

[2018-03-28 06:49] EugeneHlushko commented on #1967
But do we still need it when react's async rendering lands? 16.3 RC is already on npm so that might be too soon

[2018-03-28 07:00] bebraw commented on #1967
@EugeneHlushko I had some troubles with Preact until I realized I have to implement that render hook. I would go with Preact for now given it's so much smaller than React. I wouldn't worry about the new async rendering semantics yet. I would optimize for bundle size.

[2018-03-28 07:15] EugeneHlushko commented on #1967
I am not totally convinced that 32.6 kb GZ react 16.2 vs 3kb GZ preact makes difference when we include avatar based widgets on pages where each picture can be 4-32kb and the content is responsive on initial render as antwar already generated the markup during build.

As github pages does GZ by default i would still try to move out for React 16, which might also solve our current issue with <img>

[2018-03-28 07:27] bebraw commented on #1967
Ok. Even better, we should find a neat way to separate React and react-dom to a shared vendor bundle. I have a feeling it's quite easy to pull this off through webpack configuration (`externals`) though I may have to extend Antwar somehow to do this in a neat way.

If we do this, the size difference doesn't matter as the outcome is more or less the same.

[2018-03-28 07:44] EugeneHlushko commented on #1967
Or that might be a `cachingGroup` in optimization.splitChunks ? I will look to it in this Issue when webpack 4 migration is merged

[2018-03-28 07:49] bebraw commented on #1967
@EugeneHlushko That's what I mean. It's good to remember Antwar bundles twice which makes this a little tricky. The first phase generates a bundle it calls in different ways to render individual pages. During this second phase it bundles the interactive bits. Maybe `cachingGroup` for React and react-dom during the first phase would be enough as long as there's a way to inject a reference to the re

[2018-03-28 07:57] EugeneHlushko opened #1968 "Webpack 4 - optimization section under configuration"
- [x] (#2053) Create the section itself
- [x] (#2053) minimize
- [x] (#2053) minimizer (for custom options reference webpack/webpack#6879)
- [x] (#2053) splitChunks
- [x] (#2112) runtimeChunk
- [x] (#2112) noEmitOnErrors
- [x] (#2271) namedModules
- [x] (#2271) namedChunks
- [ ] (#2456 WIP) portableRecords
- [x] (#2139) nodeEnv (also closes #2138)
- [x] (#2273) removeAvailableModules
- [x] (#2295)

[2018-03-28 07:59] EugeneHlushko commented on #1869
this specific bit can be close i guess? @jeremenichelli @montogeek

[2018-03-28 08:03] EugeneHlushko commented on #1967
ok thats why you mentioned externals, didnt realize at the start 👍 i will ping you when PR is up if you dont mind

[2018-03-28 08:09] #1869 closed

[2018-03-28 09:08] bebraw commented on #1967
@EugeneHlushko Ok. Open an issue at Antwar repo and I'll try to setup a small example to follow.

[2018-03-28 17:50] EugeneHlushko commented on #1945
@montogeek pls assign on me for transparency, picking it up

[2018-03-29 01:04] kinyat commented on #1961
Sorry, due to some of the plugins we are using not yet support version 4, we need to keep staying in version 3. However, out teams have difficulty looking for the version 3 documents.

Please provide the old 3.X documents. Thanks.

[2018-03-29 13:56] skipjack commented on #1525
I started a `rebuild` branch using pure webpack and the `static-site-generator-webpack-plugin` that builds the site much faster (i.e. ~30s) and gives us more control over the whole build process. If you're interested in helping, please ping me and we can discuss one of the remaining items to tackle.

[2018-03-29 16:28] adamdonahue commented on #1961
Agreed.  Where are the older docs?  How asinine.

[2018-03-30 07:30] EugeneHlushko commented on #1961
Guys if this is an urgent matter you can clone the repo, checkout older revision and then do:
[code]
Browse to localhost:3000 and there are your docs for any older version just switch the revision

[2018-03-30 11:41] montogeek commented on #1961
Please use https://webpack.js.org/v3/ for webpack 3 docs.

[2018-03-30 11:41] montogeek commented on #1854
Please use https://webpack.js.org/v3/ for webpack 3 docs.

[2018-03-30 13:19] Erowlin commented on #1961
@montogeek amazing. I believe this should be somewhere on the github page. Thanks a lot.

[2018-03-30 14:44] jeremenichelli commented on #1968
Is the intention to tackle some examples on best solutions? Or simply explain configurations of each option? I'm getting the feeling that this could generate duplicated content easily if we are not careful.

[2018-03-30 15:09] transitive-bullshit commented on #1854
@montogeek that link is perfect -- thanks!

Are there plans to add a version selector to the docs? (right now it's not really discoverable)

[2018-03-31 06:36] antonreshetov commented on #1897
I understand that documentation is for version 4 will be released after version 5? Keep it up!

[2018-03-31 20:06] jderijke commented on #1854
Great!
Little remark: the doc at https://webpack.js.org/v3/ still indicates it's v4.4.1.

[2018-03-31 20:32] montogeek commented on #1854
https://github.com/webpack/webpack.js.org/issues/1854#issuecomment-368919143

[2018-04-01 08:50] Munter opened #1975 "The docs build is broken due to invalid json response from opencollective"
The Travis build of the docs is failing due to invalid responses from the opencollective API during the supporters fetching stage.

Example: https://travis-ci.org/webpack/webpack.js.org/builds/360812190

Related issue: https://github.com/opencollective/opencollective-api/issues/1205

[2018-04-01 11:04] Munter commented on #1854
If you [tag the the v3 releases](https://docs.npmjs.com/cli/dist-tag) you should be able to reference the tag with the shields.io badge:

https://img.shields.io/npm/v/webpack/legacy.svg: ![](https://img.shields.io/npm/v/webpack/legacy.svg)

https://img.shields.io/npm/v/webpack/v3.svg: ![](https://img.shields.io/npm/v/webpack/v3.svg)

[2018-04-01 22:47] montogeek commented on #1975
@TheLarkInn It is mandatory to show backers in the homepage? We could fail silently to these errors and don't show them.

[2018-04-02 06:34] EugeneHlushko commented on #1968
The plan was to mention these things and what they are doing, what options are available and what the defaults are. Do you think the list should be extended or shortened @jeremenichelli ?

[2018-04-02 11:17] jeremenichelli commented on #1968
My fear is to have duplicated references for the same content, but we can always give it a try and see if it does work. There are config that naturally are already present like the plugins for example, so it owuld be good to breifly describe them and link to their proper page, but extend the content on the ones that actually have no other explanation on the site.

[2018-04-02 21:28] montogeek commented on #1975
Fixed: https://github.com/opencollective/opencollective-api/issues/1205#issuecomment-377960686

[2018-04-02 21:28] #1975 closed

[2018-04-03 01:49] developit commented on #1924
Looks like this isn't actually being rendered on the client. Since it's just SSR, there's no event attached to those images at all.

[2018-04-03 19:10] rayshan commented on #1854
This doesn't seem to work now: https://webpack.js.org/v3/

[2018-04-03 19:17] edmorley commented on #1947
@EugeneHlushko why was this closed?
The issue still applies to `master` and `next`.

[2018-04-04 06:01] EugeneHlushko commented on #1968
I got your point, yes everything that has its core page from the list above will be only briefly mentioned and linked to 👍 i did not understand your concern from the first time 😓 😆 @jeremenichelli
P.S. picking this up soon, was busy IRL

[2018-04-04 08:13] webpack-bot opened #1979 "Can't find the documents for SplitChunks"
Is there any SplitChunks's document In https://webpack.js.org?

I found that CommonsChunkPlugin is still in the document.

https://webpack.js.org/plugins/commons-chunk-plugin/#src/components/Sidebar/Sidebar.jsx

Can someone update the document?

---

This issue was moved from webpack/webpack#6949 by @montogeek. Original issue was by @Shurlormes.

[2018-04-04 08:26] montogeek opened #1980 "Document entry defaults"
https://github.com/webpack/webpack/pull/6941#issuecomment-378296169

[2018-04-04 09:24] jeremenichelli commented on #1968
@EugeneHlushko don't worry man, all good. Let me know when you have something, I'll checkout the PR and give it a look locally to see how the final content looks.

[2018-04-04 13:34] EugeneHlushko commented on #1947
Hmm you are right, my mistake here @edmorley
Will fix this asap

[2018-04-04 13:52] the-spyke commented on #1706
Is there documentation for `optimization` section?

[2018-04-04 21:27] benmonro commented on #1859
dear universe please let this get worked on soon. 👍

[2018-04-05 07:38] the-spyke commented on #1706
I'm upgrading an app to the 4.5 version from 3.11, and after a day I can say that a big chunk of the documentation is outdated or missing. Looks like `#0CJS` turned out to be `#0DJS`.
`¯\_(ツ)_/¯`

[2018-04-05 08:32] jeremenichelli commented on #1979
👉 https://webpack.js.org/plugins/split-chunks-plugin/

[2018-04-05 08:32] #1979 closed

[2018-04-05 08:36] jc231321 commented on #1965
Same for me. disabling adblock didn't help. The homepage itself is broken as well for example.  I get this in the console:
`[Error] Failed to load resource: the server responded with a status of 400 () (images, line 0)
[Error] Failed to load resource: the server responded with a status of 404 () (images, line 0)
[Error] Failed to load resource: the server responded with a status of 404 () (images,

[2018-04-05 08:45] montogeek commented on #1965
@jc231321 Could you please post a screenshot from the Console logs?

[2018-04-05 08:46] jc231321 commented on #1965
<img width="1436" alt="screen shot 2018-04-05 at 10 46 03" src="https://user-images.githubusercontent.com/23641681/38355931-99f2095c-38be-11e8-8ab4-38d6b7e070bf.png">
thanks for looking into it

[2018-04-05 08:48] jc231321 commented on #1965
The same in Chrome console:
<img width="1431" alt="screen shot 2018-04-05 at 10 48 08" src="https://user-images.githubusercontent.com/23641681/38356042-ef758660-38be-11e8-8e89-386f9a1bca31.png">

[2018-04-05 08:50] jc231321 commented on #1965
More info here:
<img width="1435" alt="screen shot 2018-04-05 at 10 49 46" src="https://user-images.githubusercontent.com/23641681/38356105-1e024dba-38bf-11e8-9bca-231bb320db9c.png">

[2018-04-05 08:51] jc231321 commented on #1965
looks like some cloudflare IP got banned or something. I'm based in czech repubic (europe).

[2018-04-05 08:51] montogeek commented on #1965
@jc231321 Thanks, could you please open Network tab in Chrome, search for the CSS request and show Headers tab content, like this:
![image](https://user-images.githubusercontent.com/1002461/38356144-3c8fc3ac-38bf-11e8-9528-7658067cf524.png)

[2018-04-05 08:51] montogeek commented on #1965
We have no control over OpenCollective responses. We could fix our CSS request.

[2018-04-05 08:54] jc231321 commented on #1965
<img width="1440" alt="screen shot 2018-04-05 at 10 53 22" src="https://user-images.githubusercontent.com/23641681/38356304-ab4037a0-38bf-11e8-82d5-56acdf1fb4f6.png">
<img width="1440" alt="screen shot 2018-04-05 at 10 53 33" src="https://user-images.githubusercontent.com/23641681/38356309-aec205ca-38bf-11e8-8ea4-f029bee4a8ec.png">

[2018-04-05 08:55] montogeek commented on #1965
Thanks, Can you please hard reload the page or try in Incognito mode or even in a different browser?

If it fails in Incognito mode, Could you please submit the same screenshot?

Thank you

[2018-04-05 08:55] jc231321 commented on #1965
After clearing cache:
<img width="1552" alt="screen shot 2018-04-05 at 10 55 04" src="https://user-images.githubusercontent.com/23641681/38356376-dcc97228-38bf-11e8-91cd-6b7033c80e5a.png">
<img width="1440" alt="screen shot 2018-04-05 at 10 53 22" src="https://user-images.githubusercontent.com/23641681/38356377-ddec5616-38bf-11e8-978f-c5dcde7b9fae.png">

[2018-04-05 08:56] jc231321 commented on #1965
Just tried incognito mode as well and I see the same thing

[2018-04-05 08:57] montogeek commented on #1965
Thanks, I will investigate this, first time I see it, sorry.

[2018-04-05 08:57] jc231321 commented on #1965
Clearing all site data (incl cookies, etc) didn't help. Just tried that now as well. Thanks for looking.

[2018-04-05 08:57] jc231321 commented on #1965
no problem. If you need further tests feel free to ask, thanks.

[2018-04-05 09:01] jc231321 commented on #1965
I get:
![screen shot 2018-04-05 at 11 00 52](https://user-images.githubusercontent.com/23641681/38356695-b388b4ea-38c0-11e8-8353-7f0858ca1dd6.png)

[2018-04-05 09:03] jc231321 commented on #1965
In the console I see the response comes from cloudflare. This really looks like some proxy cache issue.

[2018-04-05 09:04] montogeek commented on #1965
Yeah, I guess you can see its src code (https://github.com/webpack/webpack.js.org/blob/gh-pages/5741b873d63bd283fa34.css)

It is definitely something out of our hands, it was updated 34 mins ago, maybe you haven't received it, yet.

I am in Germany, it works here

[2018-04-05 09:05] jc231321 commented on #1965
Yep, I see the code from this link. I have some colleagues from Karlsruhe, I can ask them to look as well.

[2018-04-05 09:07] jc231321 commented on #1965
Colleague in Karlsruhe confirms it looks fine for him. Another colleague in czech republic confirms it's broken for her as well.

[2018-04-05 09:10] montogeek commented on #1965
@jc231321 It used to work fine for you in the past?

[2018-04-05 09:10] jc231321 commented on #1965
@montogeek yes

[2018-04-05 09:13] montogeek commented on #1965
It is updated daily, I wonder if redeploy them would fix it

[2018-04-05 09:14] CorwinCZ commented on #1965
Broken for me too, same behavior as @jc231321 is describing.

[2018-04-05 09:14] jc231321 commented on #1965
Can you please try? I could use having access to the documentation. Thanks a lot :)

[2018-04-05 09:16] montogeek commented on #1965
You can always clone the repo and run `yarn start`

[2018-04-05 09:16] jeremenichelli commented on #1812
Closing since we have an issue for optimization section and we already merged splitChunks docs.

[2018-04-05 09:16] #1812 closed

[2018-04-05 09:18] jeremenichelli opened #1984 "Add twitter card metadata"
I think we could easily introduce some metadata to display better content when docs are shared on twitter, nothing big but a nice to have I guess.

[2018-04-05 09:19] montogeek commented on #1984
Definitely, always nice to have.

[2018-04-05 09:25] jc231321 commented on #1965
ah, looks like I've downloaded the wrong zip file then.

[2018-04-05 09:26] montogeek commented on #1965
How are you cloning it? run
1. `git clone https://github.com/webpack/webpack.js.org.git`
2. `yarn install`
3. `yarn start`
4. Open http://localhost:3000 in your browser

More info: https://github.com/webpack/webpack.js.org/blob/master/.github/CONTRIBUTING.md

[2018-04-05 09:29] jc231321 commented on #1965
sorry, my fault trying to save some time. Yep, yarn install and yarn start worked for me. Good to know that this is possible in the future.

[2018-04-05 09:30] jc231321 commented on #1965
Also the redeploy helped. The site is back up for me, thanks for resolving 👍

[2018-04-05 09:32] #1965 closed

[2018-04-05 12:04] montogeek opened #1985 "Document CLI config types"
https://github.com/webpack/webpack/issues/6960#issuecomment-378912928

[2018-04-05 13:59] ApolloTang commented on #1961
https://webpack.js.org/v3/  does not seem to work !

[2018-04-05 14:26] montogeek commented on #1961
Please read the errors, something else is using port 3000

[2018-04-05 14:44] ApolloTang commented on #1961
@montogeek thank you
and I apologize for my carelessness. and not reading !!

[2018-04-05 14:50] ApolloTang commented on #1961
for other who try to get v3 documentation running locally, instruction are:

[code]
note, should be `start` not `start-only`

navigate to http://localhost:3000/

[2018-04-05 15:15] ematipico opened #1987 "--build-delimiter to add to the cli options"
We recently added `--build-delimiter`

https://github.com/webpack/webpack-cli/blob/master/bin/webpack.js#L207-L210

I can make a PR to add it to the documentation but I would like to know which section we should add it to.

[2018-04-06 07:35] kinyat commented on #1854
For the love of God pls provide v3 doc.

Im crying for it...

[2018-04-06 11:34] glen-84 commented on #1956
What is the signature for this function?

[2018-04-06 13:34] jeremenichelli commented on #1956
@glen-84 that's a missing thing right now.

[2018-04-06 13:51] ApolloTang commented on #1854
@kinyat  i cloned it locally:
https://github.com/webpack/webpack.js.org/issues/1961#issuecomment-378963332

[2018-04-06 14:17] montogeek commented on #1854
@kinyat Try again please

[2018-04-06 16:42] estaub commented on #1854
@montogeek https://webpack.js.org/v3/ is still 404, I'm afraid.

[2018-04-06 20:19] unilynx opened #1994 "Rule.type not documented ?"
https://webpack.js.org/configuration/module/#module-rules does not seem to document that there is a 'type' option. Is this intentional (ie illadvised or deprecated?) or just missing ?

I needed to add `type: 'javascript/auto'` as documented here: https://stackoverflow.com/questions/49187802/how-to-disable-loader-in-webpack-4 to suppress the now-builtin json-loader from interfering with '.lang.json

[2018-04-06 20:32] estaub commented on #1854
@montogeek It's up!

[2018-04-07 07:02] nickbae91 commented on #1934
@onstash @TheLarkInn  I lack a bit of expertise to make good sense of the docs, which has prevented me from upgrading (barely got the webpack to do what I need ><). So props to you for driving this initiative! Will look forward to what's coming 👏👏👏

[2018-04-07 14:33] kinyat commented on #1854
@estaub It is down (404) again  😭😭😭😭😭

[2018-04-09 09:17] montogeek opened #2000 "Document browser compatibility"
https://github.com/webpack/webpack/pull/6993

[2018-04-09 12:07] Bezilon opened #2001 "No mention of the deprecation of in the Migration Notes extract-text-webpack-plugin"
Hi, there's a lack of mentioning that `extract-text-webpack-plugin` was deprecated in here for example.
https://webpack.js.org/guides/migrating/#extracttextplugin-extract

I started running into issues because I couldn't find adequate info on this until someone responded to a stack trace of mine.

Please mention this in the appropriate places.

[2018-04-09 12:09] montogeek commented on #2001
Related #1859

[2018-04-10 06:38] hojas opened #2009 "the docs update so slow and the new version of webpack is v4.5.0"
the same as the title

[2018-04-10 15:19] jonnybot0 opened #2013 "Split Chunks Plugin documentation presumes a lot of prior knowledge about now-deprecated Common Chunks"
Sparked by this Twitter thread:
https://twitter.com/TheLarkInn/status/983569227352178689?s=19

The SplitChunksPlugin is the replacement for the CommonsChunkPlugin. The [documentation for SplitChunks](https://webpack.js.org/plugins/split-chunks-plugin/) assumes a fairly deep amount of understanding about chunking. For new users getting started with webpack 4 or later, this is a bit annoying. The Sp

[2018-04-10 16:18] webpack-bot opened #2014 "Document pathinfo is on for dev builds."
Current docs [state it defaults to `false`](https://webpack.js.org/configuration/output/#output-pathinfo ) but it is [enabled for dev builds](https://github.com/webpack/webpack/blob/b30de38eb5311051388db05287aa3fd951fa41de/lib/WebpackOptionsDefaulter.js#L147-L150).

---

This issue was moved from webpack/webpack#7008 by @montogeek. Original issue was by @jdalton.

[2018-04-10 17:03] webpack-bot opened #2015 "Webpack Parser API is not comprehensibly documented and the example does not work."
Hello

Your [API documentation](https://webpack.js.org/api/parser/#hooks) is not understandable. We tried again and again to read the own written functions in the parser but none of it is understandable or properly documented.

`compiler.hooks.normalModuleFactory.tap(factory => {
  factory.hooks.parser.tap((parser, options) => {
    parser.hooks.someHook.tap(...)
  })
})`

After several attempts w

[2018-04-10 20:04] #1924 closed

[2018-04-10 22:24] Munter opened #2016 "mini-css-extract-plugin is missing from plugins"
less-loader is linking to https://github.com/webpack-contrib/mini-css-extract-plugin which is rewritten to `/plugins/mini-css-extract-plugin` by `fetch.sh`

I think mini-css-extract-plugin isn't downloaded as part of the documentation because it doesn't match the `webpack-plugin` pattern

[2018-04-10 22:52] #1947 closed

[2018-04-10 23:05] Munter opened #2018 "Build time is insufferably long"
This is my laptop building the documentation site:

![image](https://user-images.githubusercontent.com/331790/38588038-18772e10-3d24-11e8-89ce-38737f446bec.png)

This total resource consumption has been going on for around 20 minutes now.

Further more I see the build times tripling in travis:

![image](https://user-images.githubusercontent.com/331790/38588108-6154e776-3d24-11e8-86db-287d68d98399.

[2018-04-10 23:13] montogeek commented on #2018
Build times have been always big, that's one of the reasons we are rebuilding it on `rebuild` branch.

[2018-04-10 23:28] montogeek commented on #2018
This regression is bad, now it takes 8 mins to build it on my Mac, it used to take up to 3 mins :/
@EugeneHlushko @bebraw Any idea what could be causing this?

[2018-04-11 01:53] xgqfrms-gildata commented on #1706
# webpack 4

https://medium.com/webpack/webpack-4-released-today-6cdb994702d4

https://github.com/webpack/webpack/releases/tag/v4.0.0

[2018-04-11 04:06] renzhentaxi opened #2019 "Documentation bug"
On some pages  the "concepts|configuration|api..." menu is missing. I don't think this is intentional but I might be wrong.

![screenshot from 2018-04-10 23 57 30](https://user-images.githubusercontent.com/6445762/38595779-92a7d756-3d1b-11e8-89ac-26ab7f674563.png)

![screenshot from 2018-04-11 00 00 58](https://user-images.githubusercontent.com/6445762/38595780-92b3979e-3d1b-11e8-936b-9c8e41f4b620

[2018-04-11 07:25] EugeneHlushko commented on #2019
doesn't look right indeed, guess it needs a fix

[2018-04-11 07:30] montogeek commented on #1924
@EugeneHlushko It would be nice to have.

[2018-04-11 07:31] montogeek commented on #2019
@renzhentaxi Please tell us which browser and also post Console errors, if any.

[2018-04-11 07:32] EugeneHlushko commented on #2019
I am able to reproduce too on latest chrome, land on documentation the menu is missing, switch on left-hand side to any subsequent section and menu appears

[2018-04-11 07:35] EugeneHlushko commented on #2018
Will profile this in evening asap

[2018-04-11 07:40] bebraw commented on #2018
@montogeek I sped up Antwar considerably a while ago (webpack 4 upgrade and other tuning). I don't know which version or setup your are using, though.

[2018-04-11 07:44] montogeek commented on #2018
@bebraw 0.28.3 https://github.com/webpack/webpack.js.org/blob/master/package.json#L44

[2018-04-11 07:48] bebraw commented on #2018
@montogeek Ok, hard to say without profiling. There are some optimizations I could do but I don't have time.

[2018-04-11 08:06] EugeneHlushko commented on #2018
BTW it did not look worse than original locally when i tested it initially, didn't expect to grow the build time with this PR. Maybe there is an extra iteration going on? 17min => 35 min looks very very bad

[2018-04-11 08:08] EugeneHlushko commented on #2018
the 44 min was probably due to change of packages cached vs not cached somewhere under .../.npm/cache/ next builds are very close 2x vs 3x of first build with updated packages and wp4

[2018-04-11 08:10] EugeneHlushko commented on #2018
Can we set node to ^8.9.0 here ? https://travis-ci.org/webpack/webpack.js.org/jobs/364985003/config

[2018-04-11 08:15] Munter opened #2020 "Navigation links are invalid"
All navigation links from https://github.com/webpack/webpack.js.org/blob/master/src/components/Navigation/Links.json get a `/` prepended in https://github.com/webpack/webpack.js.org/blob/master/src/components/Navigation/Navigation.jsx#L33 and https://github.com/webpack/webpack.js.org/blob/master/src/components/Navigation/Navigation.jsx#L87

Since some Urls in the json are protocol relative links (

[2018-04-11 08:16] Munter opened #2021 "Main navigation submenu doesn't show"
The main navigation has logic to show a submenu when a certain section of the page is active. This seems to never be triggered. https://github.com/webpack/webpack.js.org/blob/master/src/components/Navigation/Navigation.jsx#L76

[2018-04-11 08:50] jeremenichelli commented on #2018
I was about to mention the Node version. We can check locally first if everything works as expected from a fresh install, and it everything looks good, then change it.

[2018-04-11 09:08] EugeneHlushko commented on #2018
i cannot check until tonight, if anyone willing to give it a shot before that pls do

[2018-04-11 09:25] montogeek commented on #2018
I have Node 8.10, still takes 8 minutes

[2018-04-11 09:30] montogeek commented on #2021
Duplicate of https://github.com/webpack/webpack.js.org/issues/2019

[2018-04-11 09:30] #2021 closed

[2018-04-11 12:13] #2019 closed

[2018-04-11 13:34] renzhentaxi opened #2023 "css loader page bug"
when you click on one of the options on this page: https://webpack.js.org/loaders/css-loader/.

![1](https://user-images.githubusercontent.com/6445762/38619927-4b66b7ae-3d6b-11e8-8877-768ccb1a07f3.PNG)

it takes u to the actual md file at https://raw.githubusercontent.com/webpack-contrib/css-loader/master/README.md#root.
![2](https://user-images.githubusercontent.com/6445762/38619931-4e29e42a-3d6b

[2018-04-11 13:45] skipjack commented on #2018
@EugeneHlushko @montogeek @jeremenichelli I'm fine with whatever you all want to use in terms of the latest node engine. On `rebuild`, I'm using the latest stable version of node and the pure webpack build using the `SSGPlugin` amounts to ~30s (and there's probably more opportunities for optimizations).

At this point, `rebuild` is getting much closer as @montogeek has helped to tackle a few of th

[2018-04-11 13:49] montogeek commented on #2023
@Munter I think this is related to your change

[2018-04-11 15:13] Munter commented on #2023
I have a fix in #2017

Can't do anything from my phone right now

[2018-04-11 15:49] EugeneHlushko commented on #2018
I am looking at TODO list now and may help with things. Would be nice to get invite to slack @skipjack we had pinged Sean with @montogeek multiple times but he seems to ignore those notifications :D

[2018-04-11 18:16] EugeneHlushko commented on #1967
done in rebuild

[2018-04-11 18:16] #1967 closed

[2018-04-11 18:26] #2023 closed

[2018-04-11 18:27] montogeek commented on #1967
@EugeneHlushko `rebuild` branch uses React 15.6.1

[2018-04-11 18:36] augbog commented on #1924
If it helps, I don't consistently see it because I imagine it only happens to opencollective related images so if it needs to be prioritized for later then that's fine. As of right now I don't see the issue anymore.

I don't think it makes sense to close the issue if it is an actual issue though but I leave that up to you :)

[2018-04-11 18:40] skipjack commented on #2018
@EugeneHlushko actually I can invite you to slack myself, feel free to share your email here, send it to me privately on gitter or send me an email (use the one on my profile).

[2018-04-11 19:44] montogeek commented on #1952
A custom one https://github.com/webpack/webpack.js.org/blob/master/src/styles/prism-theme.scss

[2018-04-11 19:44] #1952 closed

[2018-04-12 01:57] thejohnfreeman opened #2027 "Out-of-date documentation leads to broken build"
I didn't spend much time searching, but couldn't find if this was a duplicate.

- [The issue.](https://github.com/webpack/webpack/issues/6858)
- [The out-of-date docs](https://webpack.js.org/guides/production/#setup), specifically these lines:
[code]
- [The fix](https://github.com/webpack/webpack/issues/6858#issuecomment-378430698), specifically changing to this line:
[code]

[2018-04-12 05:39] EugeneHlushko commented on #1967
@montogeek it says ^16.2.0 for both `react` and `react-dom` on latest rebuild branch in package.json

[2018-04-12 05:58] EugeneHlushko commented on #1924
I'm trying to fix this by not rendering the images during "SSR" render pass, but only clientside, means html will be up and events will be bound on time. you can check it here @augbog https://github.com/webpack/webpack.js.org/pull/2026/files#diff-9f531bc074d3219cdba0c558ba8350aeR98
CC @developit

[2018-04-12 05:59] montogeek commented on #1967
@EugeneHlushko Correct, no idea what I read last night

[2018-04-12 06:12] Munter commented on #1924
Another improvement could be to style the images to their known width and height, so they don't break the layout of missing or make the layout jump while they are loading

[2018-04-12 07:35] Erowlin commented on #1961
https://webpack.js.org/v3/ is down again.
Thanks @ApolloTang for the explanations :)

[2018-04-12 08:52] #1933 closed

[2018-04-12 10:08] montogeek commented on #2027
webpack [accepts](https://webpack.js.org/configuration/configuration-types/) configuration objects or a function which returns a configuration object, if `webpack.common.js` returns a function, you have to call it: `()` at the end.

In the docs, it returns an object, hence you don't have to call it.

[2018-04-12 10:08] #2027 closed

[2018-04-12 11:54] thejohnfreeman commented on #2027
I see, then perhaps `webpack-merge` should call the function if it is passed one.

[2018-04-12 19:59] eric-blue opened #2031 "Linebreaks showing on home"
`/n` line break characters showing on home page of [webpack.js.org](webpack.js.org)

<img width="1028" alt="screen shot 2018-04-12 at 12 56 42 pm" src="https://user-images.githubusercontent.com/19786312/38700867-3f786046-3e51-11e8-8641-443a1092311e.png">

[2018-04-13 08:42] montogeek commented on #2031
@EugeneHlushko @munter Any idea about this?

[2018-04-13 08:46] Munter commented on #2031
I think https://github.com/webpack/webpack.js.org/pull/2026 might be causing this. But I'm so unfamiliar with the build system that I can't be sure. After the build times regressed it's impossible for me to build the docs on my home machine any more, so I can't bisect it.

I do note that the supporters are also not showing, which is what gets me thinging of https://github.com/webpack/webpack.js.or

[2018-04-13 09:10] montogeek commented on #2031
Fixed in https://github.com/webpack/webpack.js.org/pull/2033, would take ~1h to be deployed.

[2018-04-13 10:14] montogeek commented on #2031
Fixed, thanks for you report.

[2018-04-13 10:14] #2031 closed

[2018-04-13 18:09] leandrojk opened #2035 "using webpack without config file: can't resolve ./src message error"
Hi,

webpack 4.x.x can be used without configuration file (as said at https://webpack.js.org/concepts/  - "Since v4.0.0 webpack does not require a configuration file").
What is not said  explicitly is that the root file must be **index.js**. If you put any other file name at src folder the error message is :
[code]
My sugestion: Alter docs and error message to let explicit the real cause of the pr

[2018-04-14 13:20] jeremenichelli opened #2038 "Refactor homepage?"
Shouldn't we rethink the homepage? Looks like it could use some change.

- Expose a summary of features with some links
- Emphazise on zero config situation from v4
- Maybe remove the one hundred images from backers and add a link for them

I think VueJS homepage is a good example www.vuejs.org, I would even add a little more content.

[2018-04-14 17:50] webpack-bot opened #2047 "EvalSourceMapDevToolPlugin is not working as described in documentation"
**Do you want to request a *feature* or report a *bug*?**

BUG

**What is the current behavior?**

EvalSourceMapDevToolPlugin is not working as described in documentation (https://webpack.js.org/plugins/eval-source-map-dev-tool-plugin/) - it is not supporting options the same way as SourceMapDevToolPlugin.

**If the current behavior is a bug, please provide the steps to reproduce.**

Use following

[2018-04-15 22:44] jeremenichelli commented on #2035
Taking over this

[2018-04-16 08:14] EugeneHlushko commented on #2016
This is already fixed in #2028

[2018-04-16 08:27] #2016 closed

[2018-04-16 08:50] EugeneHlushko commented on #1859
i would quesstion v2 -> v4 migration guide necessity. Lets maybe do v3 -> v4? I've tackled the first item and probably can pick up next after `rebuild` gets merged

[2018-04-16 11:53] EugeneHlushko commented on #2013
Hi @jonnybot0
The migration guide is progressing very slowly, we did split up migration section into pages and now starting on the migration guide v3->v4 itself

Although as a quick help could you clarify what could be better on [splitChunks](https://webpack.js.org/plugins/split-chunks-plugin/#optimization-splitchunks) page? Because titles already say `optimization.splitChunks`.

Maybe examples sh

[2018-04-16 15:33] EugeneHlushko commented on #1945
I am closing this one for now as #2028 was merged in already.

I did not remove ETWP and did not push a redirect from it to `mini-css-extract-plugin` as it is still a working plugin and its use case is being revisited in next major release. I have filed a PR to ETWP to say that it shouldnt be used for css in webpack 4 +
webpack-contrib/extract-text-webpack-plugin#777

[2018-04-16 15:33] #1945 closed

[2018-04-17 11:08] edmorley opened #2055 "Document [contenthash]"
Hi!

Support for a new `[contenthash]` template parameter was added in webpack/webpack/pull/6839, however it's not yet documented on any of:
https://webpack.js.org/configuration/output/#output-filename
https://webpack.js.org/guides/caching/#output-filenames

[2018-04-17 13:08] edmorley opened #2056 "Improve naming section of SplitChunksPlugin docs"
Hi

The naming section of the [SplitChunksPlugin docs](https://webpack.js.org/plugins/split-chunks-plugin/#naming) has a few omissions:
* what the `filename` option ([source](https://github.com/webpack/webpack/blob/v4.5.0/lib/optimize/SplitChunksPlugin.js#L100)) does and how it compares to `name`
* what `name: false` does (it falls back to ID, and is recommended for production long term caching to

[2018-04-18 02:50] mrchief commented on #1897
This should have been a high priority item. What's the point in releasing minor versions if the general populace isn't even moving to Webpack 4 (due to lack of docs)?

Worse, the existing docs are misleading - they should be labeled as v3 to avoid the confusion.

[2018-04-19 13:06] webpack-bot opened #2064 "Is documentation not updated with new releases?"
I've just started to implement webpack on our project and a bit frustrated following this guide for SASS but apparently it's not working because of compatability issues with plugins, could the maintainers please keep the docs updated?
https://webpack.js.org/loaders/sass-loader/

---

This issue was moved from webpack/webpack#7076 by @montogeek. Original issue was by @edarioq.

[2018-04-20 05:02] webpack-bot opened #2065 "DOCUMENTATION: migrating configuration from several CommonsChunkPlugin to SplitChunksPlugin"
**Do you want to request a *feature* or report a *bug*?**

FEATURE REQUEST: improve documentation to migrate from webpack 3 and CommonsChunkPlugin to webpack 4 and SplitChunksPlugin

**What is the current behavior?**

Documentation only addresses very simple cases.

**What is the expected behavior?**

I have a two heavy pages with loads of components called 'editor' and 'player' and a multitude of

[2018-04-20 09:45] parit commented on #2013
Hi @EugeneHlushko ,

I completely agree with @jonnybot0 .. documentation seems to be all over the place right now. For starters could we please list all the options/flags/properties available for splitChunks plugin? In one blog post I read there is a test property for cacheGroups.common but not sure if there is an exclude one too or not...

[2018-04-20 14:07] glen-84 opened #2068 "Document afterCompile hook"
There's currently just an ellipsis [here](https://webpack.js.org/api/compiler-hooks/#aftercompile).

I've written 3 plugins for webpack 4, 2 of which use this hook. When introducing `mini-css-extract-plugin`, these hooks started being executed multiple times (possibly once per CSS file?).

I need to know if this is the expected behaviour, and if so, I'd like to better understand the full life cycl

[2018-04-20 16:42] ferrao opened #2069 "webpack-serve not documented"
The `webpack-dev-server` repo clearly states:

I do not need to test on old browsers, so the choice seems obvious to me. But for some reason, I find no mention of `webpack-serve` on the docs.

Which project should I currently use on my frontend javascript development with Webpack 4? `webpack-dev-server` or `webpack-serve`?

[2018-04-20 20:35] webpack-bot opened #2070 "output.chunkFilename cannot be a function"
#### Bug report

**What is the current behavior?**
When using a function for `output.chunkFilename`, this error is returned:
[code]

**What is the expected behavior?**

As per the docs, configuration.output.chunkFilename [can be a function](https://webpack.js.org/configuration/output/#output-chunkfilename).

I would expect this to work in the same way as an `output.filename` function:
[code]

####

[2018-04-20 20:36] ooflorent commented on #2070
Quoting Tobias:

[2018-04-21 13:02] montogeek commented on #2069
@shellscape ping!

[2018-04-22 00:34] shellscape commented on #2069
The `webpack-serve` README is and will always be up to date. I'm positive the docs project would accept a PR syncing the README here, but I have no current plans to submit that as the project already had solid documentation.

[2018-04-22 02:15] jonnybot0 commented on #2013
I think having the full module would be helpful. If you're _new_ to webpack, you aren't going to intuit from the title where the splitchunks configuration should go. Show it in context. People go to docs trying to solve, "How do I..." type of problems when they're ready for the next step in their build, so providing an example with the context matters.

[2018-04-22 08:09] ferrao commented on #2069
I agree that the project is well documented, but the documentation style at `webpack.js.org` is at another level with its concepts, configuration, guides and api sections.

But my main problem is not on how to use any of the two.  My problem is that as a webpack user I am confused and do not know what is the recommended way to go. It seems these are my choices:

`webpack-dev-server` - README says

[2018-04-23 14:42] sergiubologa commented on #1961
`start` script is missing in package file...

[2018-04-24 13:54] sergiubologa commented on #1961
Ohh, I see. I cloned the `webbpack/webpack` instead of `webpack/webpack.js.org`.
Sorry for the misunderstanding. Thanks.

[2018-04-24 23:24] FadySamirSadek opened #2075 "CONTRIBUTING.md uses npm while the project has a yarn.lock file"
Currently the project is using yarn instead of npm but the CONTRIBUTING.md file is using npm for everything so we should either edit it in the CONTRIBUTING.md or u npm instead as suggested in #2039

[2018-04-25 08:48] montogeek opened #2077 "Document webpackIgnore option"
https://github.com/webpack/webpack/pull/7034

[2018-04-25 16:44] Josh68 commented on #1854
@montogeek, the URL you provided still (or again) returns 404.

[2018-04-26 08:11] Maximaximum opened #2080 "Documentation should be explicit about the default configs for development and production modes"
**Do you want to request a *feature* or report a *bug*?**
*documentation*

**What is the current behavior?**
I've spent quite some time trying to figure out what is the exact configuration that is used when `mode` is set to `production`, but haven't found a clear answer yet.

I need to tweak a single config option (`collapse_vars`) for the `UglifyJsPlugin` and, as far as I see, there is no way to

[2018-04-26 08:17] Maximaximum opened #2081 "Documentation lacks information about optimization.minimizer option"
The only place I could find information about `optimization.minimizer` option was on https://webpack.js.org/plugins/mini-css-extract-plugin/#minimizing-for-production page.

Because the page header says `MiniCssExtractPlugin`, I skipped that altogether, as I'm interested in setting options for `UglifyJSPlugin` which, in my case, is used only for JS minification, **NOT CSS**.

Generally speaking, I

[2018-04-26 08:42] montogeek commented on #2081
Please, before submitting issues use search before, there is a PR for it already: https://github.com/webpack/webpack.js.org/pull/2053

[2018-04-26 08:42] #2081 closed

[2018-04-26 08:56] edmorley commented on #2080
@montogeek - I believe the OP is referring to these defaults, which are not documented anywhere other than in the source (I had to resort to the source too; so I agree with the OP's point):
https://github.com/webpack/webpack/blob/v4.6.0/lib/WebpackOptionsDefaulter.js#L273-L289

[2018-04-26 08:58] montogeek commented on #2080
@edmorley Thanks for clarification, I agree, we should add complete documentation for all the options used by these plugins.

Send a PR.

[2018-04-26 09:47] Maximaximum commented on #2080
@edmorley thanks for your help; indeed, that is what I mean

[2018-04-26 10:03] Maximaximum commented on #2081
Oops, sorry for that. Thanks for the merge :smiley:

[2018-04-26 15:20] montogeek opened #2082 "Document named configs"
https://github.com/webpack/webpack/pull/5331

[2018-04-26 16:35] rommguy opened #2083 "Externals value as array"
Hi,
Thanks for the wonderful work you guys are doing.
I've encountered a problem with externals configuration
The documentation [here](https://webpack.js.org/configuration/externals/#array) says the value of a property under the externals object can be an array - the path to the resource.
However, webpack fails if an array is used.

[2018-04-27 04:32] FadySamirSadek commented on #2055
I will pick this one up

[2018-04-29 19:21] rowild opened #2091 "Documentation still mentions Uglify"
Using Uglify throws an error (in v4.6, and it should do so since 4.0):
`Error: webpack.optimize.UglifyJsPlugin has been removed, please use config.optimization.minimize instead.`
But the docu still shows its usage still as a valid example:
`https://webpack.js.org/concepts/plugins/`
This should be removed AND - since there are many who struggle with webpack - there must be a better explanation abou

[2018-04-30 01:15] mike3run commented on #1947
This has been added properly on text but not on the code-diff that appears below

[2018-04-30 07:57] #2014 closed

[2018-04-30 09:27] peterjhart commented on #1854
https://webpack.js.org/v3/ is still 404 for me. I am going to be on v3 for a while, so easy access to the documentation would be a big help.

[2018-04-30 11:30] FadySamirSadek commented on #2055
#2085

[2018-05-01 21:28] outoftime commented on #1861
Just wanted to shout out that the [caching guide](https://webpack.js.org/guides/caching/) might be a good one to look at early, as it includes a bunch of information that has changed utterly in Webpack 4 (`SplitChunksPlugin` etc.) Especially confusing as the banner in the top-left says Webpack 4.6.0.

[2018-05-01 23:31] grantm opened #2094 "Getting started guide: confusion between main.js vs bundle.js"
Just working my way through https://webpack.js.org/guides/getting-started/ .

Paragraph 2 of #modules talks about dist/bundle.js, but I think if I've followed the instructions correctly that should say dist/main.js

The next section uses a config file that specifies dist/bundle.js as the output, but there's no mention of changing dist/index.html to point to it instead of dist/main.js

[2018-05-02 03:47] Aqours opened #2095 "Illustrate the lifycycle of webpack hooks by using graph"
![image](https://user-images.githubusercontent.com/8586286/39504373-c44ffd90-4dfd-11e8-991b-8189eac17acf.png)
Maybe like above graph ([here](https://developer.chrome.com/extensions/webRequest)).

It's vague lifecycle of webpack in here https://webpack.js.org/api/compiler-hooks/.

[2018-05-02 14:37] evilebottnawi opened #2096 "Use `[contenthash]` over `[hash]` and `[chunkhash]` for better long term caching"
For long term caching better use `[contenthash]` over `[chunkhash]`.

From slack
[code]

Ref on issue in `webpack` https://github.com/webpack/webpack/issues/7138.
Example of problem https://github.com/webpack-contrib/mini-css-extract-plugin/issues/117.

[2018-05-03 08:52] FadySamirSadek commented on #2096
@evilebottnawi @montogeek does this mean chunkhash should be removed from the exampled in the guide and replaced with contenthash with only a mention that sometime it existed so people know it is still supported ?

[2018-05-03 09:06] evilebottnawi commented on #2096
@FadySamirSadek alright, just backward compatibility

[2018-05-03 12:11] gkatsanos commented on #1333
could you guys define whats the unit for minsize? bytes? so, 1000 = 1KB?

[2018-05-03 23:25] FadySamirSadek opened #2099 "commons-chunk-plugin should be removed from guide"
I understand that the commons-chunk-plugin page still exists for backward compatibility but in the getting started guide users are going to be downloading webpack using this command
`npm install webpack webpack-cli --save-dev
`
which will install automatically webpack 4.6 which will break the demo app both in
  https://webpack.js.org/guides/code-splitting/ and https://webpack.js.org/guides/output-

[2018-05-04 08:17] montogeek commented on #2099
Please see https://github.com/webpack/webpack.js.org/pull/2090#issuecomment-385347800

[2018-05-04 10:10] webpack-bot opened #2103 "splitChunks : none of the options is self-explanatory and documentation is cryptic"
I know this ticket might not conform with the issue creation policy but I will try to compile a list of questions here hoping that they can be addressed (I am willing to make PRs to improve the documentation)

**1. optimization.runtimeChunk**
I guess this makes sense if you have more than one entry points.  In any other case, the appropriate value should be `'false'` , correct?

**2. optimization.

[2018-05-05 02:42] tdondich commented on #2094
Confirmed as an issue.  This should instead be referencing the output bundle of main.js.

Great catch @grantm !

[2018-05-05 06:36] alfredking1988 opened #2105 "Single page or PDF version of the doc ?"
Hi, the current doc is very good. It would be even better if they can be printed.

Is it possible to have the pdf version or single page version of doc ?

Just like the Node.js offical doc, it does provide a [view on single page](https://nodejs.org/dist/latest-v8.x/docs/api/all.html) link, so it can be printed easily.

Thanks

[2018-05-07 07:50] EugeneHlushko commented on #2103
We are in progress with adding `optimization` section to the configuration section of the docs (which hopefully resolves couple of your questions). Please see #2112 #1968 and current state at https://webpack.js.org/configuration/optimization/

I know this isn't a life saver answer, just to give you the rough idea on whats going on with `optimization` section documentation. Everyone is welcome to c

[2018-05-07 08:36] gkatsanos commented on #2103
I appreciate the answer. I read on reddit that the release of 4.x with regards to documentation is something that "was not supposed to happen" so looking forward for the updated documentation so we can improve our configs incrementally.

[2018-05-07 10:43] jeremenichelli opened #2117 "Delete logs from code snippets"
As discussed in this PR https://github.com/webpack/webpack.js.org/pull/2115, we should eliminate logs from code snippets (unless they provide some specific feedback related to the current article) because they are super hard to keep up to date as the core changes.

[2018-05-07 11:16] montogeek commented on #2117
The reason I brought this issue is because an user could see an example using webpack 3.2 and the next link example would use webpack 4.5, this will confuse the user a lot.

I would say that all examples should work with the latest stable webpack version.

We also have to take into account docs versioning.

[2018-05-07 11:38] jeremenichelli commented on #2117
That's true @montogeek, we could also turn this issue into _Update all logs to 4.x.x_, I'm fine with both.

[2018-05-07 14:39] EugeneHlushko commented on #2064
it is done, will be updated on next re-reploy.

[2018-05-07 14:39] #2064 closed

[2018-05-08 06:57] webpack-bot opened #2122 "what reuseExistingChunk: true means, can give a sample?"
**Do you want to request a *feature* or report a *bug*?**
document not clear

**What is the current behavior?**
what optimization.splitChunks reuseExistingChunk: true means, can give a sample?
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
can give a sample?  `reuseExistingChunk`: true or false,  what different?

**If this is a feat

[2018-05-08 07:32] EugeneHlushko commented on #2122
@sokra

I suggest saying in the doc that:

[code]

I dont really see how to provide an example better, can you maybe advice @ooflorent

[2018-05-08 09:45] #2001 closed

[2018-05-08 09:47] EugeneHlushko commented on #2001
PR merged, change will be visible in docs after re-deploy

[2018-05-08 16:07] #2094 closed

[2018-05-08 19:13] montogeek opened #2129 "Document webpackInclude and webpackExclude"
https://github.com/webpack/webpack/pull/5809

[2018-05-09 09:15] evilebottnawi commented on #2096
@FadySamirSadek friendly ping, can we solve this problem faster? Looks like many people faced with this

[2018-05-09 09:20] FadySamirSadek commented on #2096
@evilebottnawi will finish it by the end of today

[2018-05-09 10:40] montogeek opened #2131 "Gitter widget"
![image](https://user-images.githubusercontent.com/1002461/39810650-13b160e4-5386-11e8-974a-993349555db7.png)
We are mounting our gitter widget on every page load, it should be mounted once.

[2018-05-09 12:36] montogeek commented on #2131
Forgot to mention this is happening on `rebuild` branch.

[2018-05-10 14:00] ooflorent opened #2138 "Document optimization.nodeEnv"
**Feature to document**

`optimization.nodeEnv`

**Additional information**

Possible values:

- _not specified_: defaults to `mode` or `"production"`
- _any string_: the value to set `process.env.NODE_ENV`
- `false`: disable the optimization

[2018-05-10 14:47] EugeneHlushko commented on #2138
This is WIP under #2053

[2018-05-10 14:52] #2129 closed

[2018-05-10 20:45] klick-barakgall opened #2141 "webpack.js.org/src/content/concepts/mode.md does not define precendence"
Hey maybe it's defined elsewhere but if so I think it bears repeating in this section of the documentation.

It says that we can define the `mode` entry to dictate the mode to webpack, and that we can also define it in the command line using `--mode=` flag.

However it doesn't say which will be in effect if both the command line and webpack.config.js entry are defined.

Also does anyone know which

[2018-05-11 10:13] EugeneHlushko commented on #2141
cc @ev1stensberg

[2018-05-11 16:58] stephan-v commented on #1706
No wonder you have such a bad reputation if you keep pulling stunts like these.

[2018-05-11 17:36] icopp commented on #1961
I find it pretty wild that there's no v3 docs available without running your own dev server when create-react-app (and all the bajillions of people who use that project) are still on Webpack 3.

[2018-05-11 19:38] ev1stensberg commented on #2141
Let me check & update the docs

[2018-05-13 04:42] BeniCheni commented on #1823
Hi dear maintainer(s), gave this issue an attempt by the [webpack/webpack #7286 PR](https://github.com/webpack/webpack/pull/7286). Looking forward to your review feedback. Thanks in advance!

Posted a simple question about the necessity of updating the same content of _Webpack 1_ wiki reference in the [landing page](https://github.com/webpack/webpack.js.org/blob/master/src/content/index.md) mentio

[2018-05-13 08:10] sokra commented on #2122
Here is an example:

Chunk 1 (named one): modules A, B, C
Chunk 2 (named two): modules B, C

With the splitChunk configuration of

[code]

it would create a new chunk containing the common modules B and C:

Chunk 1 (named one): modules A
~Chunk 2 (named two): no modules~ (removed by optimization)
Chunk 3 (named one~two): modules B, C

With the splitChunk configuration of

[code]

it would reuse th

[2018-05-13 19:21] webpack-bot opened #2149 "Documentation error new webpack.optimize.CommonsChunkPlugin"
# Bug report

https://webpack.js.org/guides/code-splitting/

**What is the current behavior?**
new webpack.optimize.CommonsChunkPlugin({
removed or distribute by version. deprecated.
Example of using the latest version of the plugin.
https://github.com/isopen/ngx-cable/blob/master/webpack.config.js

**If the current behavior is a bug, please provide the steps to reproduce.**
Go to the site https:/

[2018-05-13 19:53] #2000 closed

[2018-05-14 12:47] byzyk opened #2151 "Fix linter: throw on broken formatting in code examples"
Code examples formatting seem to be broken in some places (eg. #2150 #2111 etc).

I suggest linter could attempt to fix code formatting automatically or at least throw during CI.

[2018-05-15 06:26] webpack-bot opened #2154 "Need update docs: Dynamic import doesn't work as shown in the docs"
# Bug report

**What is the current behavior?**
As shown in the [documentation](https://webpack.js.org/guides/code-splitting/#dynamic-imports) about dynamic imports, we should get lodash from `import(/* webpackChunkName: "lodash" */ 'lodash').then(_ => doSomething());` but instead the lodash value is wrapped inside a namespace with default property.

**If the current behavior is a bug, please prov

[2018-05-15 12:21] webpack-bot opened #2155 "Document webpack change: Improve pull request template and add automatic issue to docs"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7307

---

**What kind of change does this PR introduce?**
bot and template

**Did you add tests for your changes?**
N/A

**Does this PR introduce a breaking change?**
no

**What need to be documented once your changes are merged?**
nothing (but I still

[2018-05-15 12:21] #2155 closed, assigned to nobody

[2018-05-15 13:45] #2138 closed

[2018-05-15 15:10] webpack-bot opened #2156 "Document webpack change: Allow serve property in webpack configuration"
*A pull request by @kleinph was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7310

---

Allow to specify `serve` property in webpack configurations. This is used to configure [webpack-serve](https://github.com/webpack-contrib/webpack-serve).

Fixes #7306

**What kind of change does this PR introduce?**

bugfix

**Did you add t

[2018-05-15 19:12] #2103 closed

[2018-05-16 06:37] webpack-bot opened #2157 "Document webpack change: feat(cli): support `webpack-command`"
*A pull request by @evilebottnawi was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7252

---

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

looks not required

**If relevant, link to documentation update:**

not required

**Summary**

Allow install `webpack-command`

**Does

[2018-05-16 09:27] EugeneHlushko commented on #2157
@evilebottnawi i am not sure what needs to be documented on this one. Webpack already shows list of available recommended CLIs to install after your PR was merged.

[2018-05-16 09:45] montogeek commented on #2157
@EugeneHlushko Maybe mention that it exists https://github.com/webpack/webpack.js.org/search?utf8=%E2%9C%93&q=webpack-cli&type=

[2018-05-16 10:17] evilebottnawi commented on #2157
@EugeneHlushko it is create automatically, @sokra left a tick on checkbox what it is require documentation

[2018-05-16 12:07] evilebottnawi commented on #2096
/cc @FadySamirSadek

[2018-05-16 13:48] EugeneHlushko commented on #2157
Seems like there isnt much to update in that case, if we are just mentioning it 👍

[2018-05-17 11:15] #2157 closed

[2018-05-17 12:09] montogeek opened #2165 "Document selector function as optimization.splitChunks.chunks"
https://github.com/webpack/webpack/pull/6791

[2018-05-17 19:32] webpack-bot opened #2166 "Document webpack change: add split chunks example"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7332

---

**What kind of change does this PR introduce?**
example

**Did you add tests for your changes?**
N/A

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
This example could be linked

[2018-05-17 22:51] tynes commented on #1854
It would definitely be really helpful having the old docs hosted someplace

[2018-05-18 04:30] kimballjohnson commented on #970
I too, agree not to understand, in case my understanding should somehow become 'an understanding'... or fail to become one.

The fact that plugin writer's toss these terms about as well, but do so with more apparent assurance that this chain, indicates to me that chunk and bundle have an input/output relationship. But 'asset' merely 'is an instance', as in 'object is an instance'. However, an asse

[2018-05-18 06:41] ev1stensberg opened #2168 "Documentation Page should have a search page for webpack-addons / generators"
It would be nice if we had a page where people could search prior generators. The page shows the most relevant searches or popular ones.

## Needs to be resolved:

- Where should this be?

- Can we reuse Agnolia logic?

- Other questions?

[2018-05-18 09:20] montogeek commented on #2168
What is webpack addons/generators?

[2018-05-18 10:34] ev1stensberg commented on #2168
Its a way to scaffold your own webpack config

[2018-05-18 10:34] montogeek commented on #2168
Do you have a format/list or something? Do you have an example?

[2018-05-18 10:40] ev1stensberg commented on #2168
https://www.npmjs.com/package/webpack-addons-demo

On Fri, May 18, 2018 at 12:34 PM, Fernando Montoya <notifications@github.com

[2018-05-18 10:52] montogeek commented on #2168
We could create a list of it somehow, maybe a static JSON file with some info.
I haven't worked with Algolia but it seems it indexes your documentation, so we would have to create docs for each generator (not sure about it).
I don't know if it is possible to give Algolia a JSON file to be added to its index.

[2018-05-19 03:09] dear-lizhihua opened #2170 "`antwar.config.js` contains Chinese and causes the build to fail"
In this [`pull-request`](https://github.com/docschina/webpack.js.org/pull/494), [docschina/webpack.js.org CI](https://travis-ci.org/docschina/webpack.js.org/builds/378299960) reported an error:
[code]

After troubleshooting, it was found to be [`antwar.config.js`](https://github.com/docschina/webpack.js.org/pull/494/commits/916a942104a818df79bb75c09f3968c372acb4a0#diff-454cc7d35544d042a685f267fef1

[2018-05-19 03:14] dear-lizhihua commented on #2170
You can paste this code into `antwar.config.js` directly under the master branch of the [webpack/webpack.js.org] repository to reproduce the problem.
[code]

[2018-05-19 10:36] montogeek commented on #2170
cc @bebraw

[2018-05-19 16:06] nveenjain opened #2172 "Update `writing a plugin` page"
The current [writing a plugin](https://webpack.js.org/contribute/writing-a-plugin/) and [plugin patterns](https://webpack.js.org/contribute/plugin-patterns/) page is out of date.. It uses plugin method, which is deprecated. Moreover it doesn't uses ES6 classes, now that webpack has dropped support for node 4, we can safely use classes. I'll send PR, once we're sure, that we are good to use ES6 cla

[2018-05-20 04:59] Streemo commented on #2096
I had this config and was running into the issue where a change in `./src/styles.css` would cause the `chunkhash` for the main output js file to change, even if `./src/index.js` was constant:
[code]
Changing the output to `{filename: [contenthash].js}` fixed the issue, causing the browser to only reload the changed css file, as expected.

[2018-05-20 05:10] FadySamirSadek commented on #2096
@Streemo  I am working on fixing the documentation of `[contenthash]` but it has not been published yet

[2018-05-20 22:23] Legends opened #2175 "Suggestion: Feedback System?"
Is it possible to establish a Feedback System for webpack.js.org?
Like [here](https://docs.microsoft.com/en-us/dotnet/api/system.uri.tostring?view=netframework-4.7.2#feedback) for example?

We have many contributors with different perceptions and explain things from their point of view, which is sometimes too high-level for beginners.

With such a system we could easier spot issues in the document

[2018-05-21 12:17] Legends commented on #2131
Just want to mention another little issue here.
When I visit [webpack.js.org](https://webpack.js.org/) the "Sponsor webpack bar" at the top appears and disappears immediately every time I load the page.
When it was clicked away by the user, it should not appear again or if it should appear every time then it should stay there.

[2018-05-21 12:57] thw0rted commented on #1956
Would this be a good place to request documenting how to pass a function to `splitChunks.cacheGroups[xxx].test` or should that be its own ticket?  The documentation only mentions it in passing, and I haven't been able to reverse-engineer what the callback parameters are on my own at this time.

[2018-05-21 12:59] thw0rted commented on #2103
The PR that got merged addresses some of the bullet points in the OP but not all of them.  Re-open?  (I'm particularly interested in more details on `test`.)

[2018-05-21 13:15] thw0rted commented on #1956
Actually I'm not 100% clear what the regex version of `test` is testing against, and I'm sure that's complicated by my build chain where I start with Typescript and wind up with `name-shorthash.ext`.  Maybe just a little more detail on `test` generally?  Also: trackback to #2103.

[2018-05-21 14:33] thw0rted opened #2176 "The Module configuration interface does not document defaultRules"
The [docs for Module options](https://webpack.js.org/configuration/module/) make no mention of the `defaultRules` option.  I only know it exists at all because of [this super-obscure fix](https://github.com/webpack/webpack/issues/6725#issuecomment-372182505); I have no idea how or why that works because the option being used isn't documented at all.

Once the docs are updated, I can add the option

[2018-05-21 19:50] webpack-bot opened #2177 "Document webpack change: Record relative dynamic-require paths"
*A pull request by @jdelStrother was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7350

---

**What kind of change does this PR introduce?**

This avoids records like:

`"src/dependencies sync ../../../../^/.//.*$": "./src/dependencies sync recursive ^\\.\\/.*$"`

when using dynamic requires (eg `require("./foo/" + file)`), wi

[2018-05-21 21:31] montogeek commented on #2175
I like it, no sure if worth it.

[2018-05-21 22:20] mikegreiling opened #2178 "Raw markdown appearing on some loader pages."
Some raw markdown tags are appearing on a few webpack loader pages, like [raw-loader](https://webpack.js.org/loaders/raw-loader/) and [file-loader](https://webpack.js.org/loaders/file-loader/).  These appear to be links to build/stat badges from the GitHub readme.

<img width="729" src="https://user-images.githubusercontent.com/812328/40332777-f4a59226-5d1a-11e8-8c64-588677d9938c.png">

[2018-05-22 11:53] EugeneHlushko commented on #2175
I am not sure its worth it, webpack doesn't have FT contributors for monitoring and answering to such feedback outside of github.com
Even if we spend time implementing it and defining a useful process for it.

webpack is an open source tool for developers to use free of charge. It would be good that if users (read: developers) after finding a lacking piece of documentation would:
- file an issue a

[2018-05-22 12:10] Legends commented on #2175
I assume, that most **new** users don't open issues for webpack.js.org. They try it out like depicted, it works or it doesn't work... giving up... switching to something else.. and you wouldn't know.
Feeback would be easy (click button and comment) and if the docs are fine, there shouldn't be much work otherwise something is wrong, right !? :-)

Of course, if the overhead of implementing and maint

[2018-05-22 12:10] #2175 closed

[2018-05-22 12:12] montogeek commented on #2175
Today I realize we could to this:
Implement a Medium-like selection that would allow the user to select a part of text, then write some feedback and it would get posted as an issue on GitHub.

[2018-05-22 12:14] montogeek commented on #2175
For example:
https://github.com/webpack/webpack.js.org/issues/new?title=%22new%20issue%22&body=%22my%20description%22

[2018-05-22 12:48] EugeneHlushko commented on #2178
this might be ok on `rebuild` branch, needs confirmation

[2018-05-22 13:52] Legends commented on #2175
Can you point me to a Medium like selection section, I want to take a look... I only know this "clap" thing :-)

The only problem I see with your suggestion is, that it can create double, triple... threads for the same issue.
Feedback could be given in repect to a certain section, if the user clicks feedback, then the feedback app should check for open issues regarding this section.
If issues alre

[2018-05-22 14:06] montogeek commented on #2175
https://camo.githubusercontent.com/1a028beccc7fdebeaee6d1c02f778956fd3e5ae1/68747470733a2f2f6d6178617274323530312e6769746875622e696f2f73686172652d746869732f6578616d706c652e676966

https://github.com/MaxArt2501/share-this

Your related issues idea is implemented by this extension https://github.com/sindresorhus/refined-github

Maybe one day it would be part of GitHub, one can dream :D

[2018-05-22 19:18] #2091 closed

[2018-05-23 07:56] EugeneHlushko commented on #2103
Test's regexp can be both directory and file like any regexp, you provide what to match against, but how do you want to split chunks from your single file? That doesnt make much sense, can you please (@thw0rted) or anyone willing open a separate issue in a format of `[] things unclear with detail` and we will go through them together and update the docs where necessary. I will gladly try to help a

[2018-05-23 07:59] EugeneHlushko commented on #2175
yep i like that 👍

[2018-05-23 08:06] EugeneHlushko commented on #2131
Any chance you could reproduce this locally on `rebuild` branch @Legends ?

[2018-05-23 08:07] EugeneHlushko commented on #2131
BTW initial issue fixed @montogeek if other thing mentioned here is ok on `rebuild` we can close

[2018-05-23 08:16] thw0rted commented on #2103
The OP in this issue is pretty clear about what lacks detail.  I can open a separate issue if it helps but I'll capture some thoughts here:

1. It would be helpful to have an example of when/why it would be appropriate to use separate `runtimeChunk` vs when the default behavior should be left alone.
2. The docs state that `test` can be a function but don't describe the call signature of that funct

[2018-05-23 12:31] Legends commented on #2175
Yes, `share-this` in combination with [Avoid opening duplicate issues](https://user-images.githubusercontent.com/29176678/37566899-85953e6e-2abf-11e8-9f0e-52d18c87bbe3.gif) would be fantastic.

As I am not a github geek rather noob, but is there an api available for this `prevent duplicate` feature?

[2018-05-23 12:35] #2013 closed

[2018-05-23 12:35] #2149 closed

[2018-05-23 12:39] montogeek commented on #2175
@Legends Probably not, but we can check refined github extension to see what it does

[2018-05-23 12:42] montogeek commented on #2131
@Legends
1. Clone this project
2. `git checkout rebuild`
3. `rm -rf node_modules && yarn/npm install`
4. `yarn start` or `npm run start`

[2018-05-23 13:19] Legends commented on #2131
Not sure, but I am on windows :-)

[2018-05-23 13:21] montogeek commented on #2131
@Legends You are non on `rebuild` branch:
https://github.com/webpack/webpack.js.org/blob/rebuild/package.json#L27

[2018-05-23 13:22] Legends commented on #2131
I am not ?

![image](https://user-images.githubusercontent.com/966368/40427128-18d040e6-5e9d-11e8-9270-37e604a282e1.png)

[2018-05-23 13:40] Legends commented on #2131
How do I fetch the code from the `rebuild` branch only?
I tried ` git fetch upstream rebuild`..?

If I figure out how this works, I could check the issue mentioned above and take a deeper look at the Feedback System

[2018-05-23 13:43] montogeek commented on #2131
I am not sure if Git allows you to fetch only one branch.
Usually I fetch everything, then checkout:
1. `git fetch`
2. `git checkout rebuild`

[2018-05-23 19:07] Legends commented on #2131
On windows I have to use `Git Bash` it doesn't work with `cmd.exe`.
I got it running and the issue above does not appear.

Thanks montogeek!

[2018-05-23 20:17] Legends commented on #2175
I have downloaded the source code of the chrome extension, thanks for the link.
But now I see, that you have built the docs using React....
I've no clue about React, soooo... if someone wants to implement this in the future, feel free to do it :-)

Over and out :D

[2018-05-23 22:20] Izhaki commented on #1854
https://webpack.js.org/v3/ is still 404 for me.

Need access to hook names for v3 plugins.

[2018-05-24 08:51] montogeek opened #2184 "Document specific entrypoints for `splitChunks.chunks` option"
https://github.com/webpack/webpack/issues/6717

[2018-05-24 12:08] EugeneHlushko commented on #1854
Hi Guys, we are thinking to create a sub-domain strategy for versions and probably add a dropdown switch to walk between the versions on the website frontend. This would result at first in v3.webpack.js.org and so on.

There is no ETA for this feature as we are still trying to agree terms and requirements with hosting provider.

[2018-05-24 12:32] warpdesign opened #2185 "404 on plugins list page"
On the [plugins](https://webpack.js.org/plugins/) the link to [NoEmitOnErrorsPlugin](https://webpack.js.org/plugins/no-emit-on-errors-plugin) is broken.

I had a look at the [source code] (https://github.com/webpack/webpack.js.org/tree/master/src/content/plugins) to fix it myself but couldn't find the related file: is it missing?

[2018-05-24 12:35] warpdesign commented on #2185
Seems like it was accidentaly removed here #2112

[2018-05-24 12:52] EugeneHlushko commented on #2185
Yeap that link needs update, will fix 👍

[2018-05-24 12:58] EugeneHlushko commented on #2185
Thanks mate, PR is up @warpdesign @montogeek

[2018-05-24 13:11] EugeneHlushko commented on #2184
is this related: https://github.com/webpack/webpack.js.org/pull/2183/files#diff-e08b426c523b9305ce571576d5b640d0R72

#2183

[2018-05-24 13:21] montogeek commented on #2184
Yeah, it is there.

[2018-05-24 13:21] #2184 closed

[2018-05-25 06:22] amakhrov opened #2189 "optimize.minimizer example uses deprecated"
https://webpack.js.org/configuration/optimization/#optimization-minimizer

The config example listed there is:
[code]

However, when I try to run this, I'm getting an error:
[code]

I guess, instead of using webpack.optimize.UglifyJsPlugin, the docs should suggest `require`ing the plugin directly (that's how it was done originally, but then changed in a more recent [commit](https://github.com/webp

[2018-05-25 07:32] amakhrov commented on #2189
@EugeneHlushko please go forward with that :)

[2018-05-25 08:48] webpack-bot opened #2192 "Document webpack change: feat: support tree shaking in DllPlugin"
*A pull request by @asapach was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7344

---

As discussed in #7333, this change introduces a new `entryOnly` flag to the `DllPlugin` options which limits the exposed modules to only those configured as entry points. This allows module concatenation and dead code removal optimizations

[2018-05-25 10:39] BeniCheni commented on #1823
Hello, @s1iqbal (original issue creator) & deal maintainer(s),

[webpack/webpack #7286 PR](https://github.com/webpack/webpack/pull/7286) has been merged to add a brief description & a link to Webpack 1 "Old" Wiki in the [Support Section](https://github.com/webpack/webpack/blob/master/README.md#support) of the [_webpack/webpack_ README](https://github.com/webpack/webpack/blob/master/README.md).

It

[2018-05-26 11:24] #2189 closed, assigned to EugeneHlushko

[2018-05-26 11:40] #2185 closed

[2018-05-26 19:34] chrisdothtml commented on #2122
PR here - #2199

[2018-05-26 19:40] chrisdothtml commented on #1956
Fixed by #2183? Or are there still some parts that are unclear?

@glen-84

[relevant section](https://github.com/webpack/webpack.js.org/blob/fbffefd0e50bc05c1553c897e166146199a7ad1d/src/content/plugins/split-chunks-plugin.md#splitchunksname)

@thw0rted

[relevant section](https://github.com/webpack/webpack.js.org/blob/fbffefd0e50bc05c1553c897e166146199a7ad1d/src/content/plugins/split-chunks-plugin

[2018-05-26 20:44] jeremenichelli commented on #1956
@chrisdothtml do you feel you've covered what was mentioned in my initial description? If that's the case we can close it for sure.

[2018-05-26 20:51] #2122 closed

[2018-05-26 21:07] chrisdothtml commented on #1956
I think these ones were covered by my PR

Looks like this mostly already exists on [the optimization page](https://webpack.js.org/configuration/optimization/#optimization-runtimechunk). Only thing I can see missing is the function signature

Don't think this exists anywhere currently. Perhaps it could be provided in a tip somewhere on the splitChunks page?

[2018-05-27 11:10] thw0rted commented on #1956
Thanks @chrisdothtml , it's a bit more fleshed out, but I'm not sure it's done.

The updated docs say that the function takes one argument, "chunks" (without any description of the type of that argument!). In my testing (webpack 4.8.3) it looks like the callback is actually invoked with two arguments.  I logged the prototype of each argument and I see output like `NormalModule, [Chunk]`, where the

[2018-05-29 03:40] in19farkt opened #2204 "Recommendations from chapter "Extracting Boilerplate" do not work for webpack 4"
For webpack 3 it works, but after updating to version 4 I get the error `"Error: webpack.optimize.CommonsChunkPlugin has been removed, please use config.optimization.splitChunks instead"`. And I can't find in the documentation how it doing in version 4.

[2018-05-29 13:39] webpack-bot opened #2205 "Document webpack change: create better namespace objects"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7177

---

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**If relevant, link to documentation update:**
N/A

**Summary**
also avoid using Object.assign (fixes #7162)

**Does this PR introduce a brea

[2018-05-29 15:54] EugeneHlushko commented on #2122
Thanks for tackling this one @chrisdothtml , im on road trip across europe till 11th of june thats why it got stalled on my side 👍

[2018-05-31 18:44] mikegreiling opened #2208 "The search icon should automatically focus the search input"
This is a minor nitpick, but it would save me a click and I reference the webpack documentation often enough for this to be a nuisance.

When you click the search (magnifying glass) icon at the top of the page, it does not highlight the search input that appears.  So I need to click on the icon, then click on the input field, and then start typing my query.  It would be nice if that second click w

[2018-06-01 07:49] montogeek commented on #2208
What is your browser?
What is your operating system?
What scripts blocker extensions are you using?

Because it works on latest Firefox, Chrome, Edge, Internet Explorer and Brave on Windows.

[2018-06-01 17:14] mikegreiling commented on #2208
Sorry I should have mentioned, I'm using Safari 😆

I suppose that's my problem then.  Still, it would be nice to get a fix for that browser.

[2018-06-01 17:48] montogeek commented on #2208
Safari on Windows or OSX?

[2018-06-01 18:32] mikegreiling commented on #2208
macOS 10.13.4
Safari 11.1

[2018-06-02 10:58] Legends opened #2210 "Clarification/grammar - concepts-loaders"
[Section-concepts-loaders](https://webpack.js.org/concepts/loaders/#loader-features)
Didn't get the bolded part, perhaps it could be rephrased or made more clear??

What means: At the end loader..?
Should it mean, Webpack expects JavaScript to be returned by the last loader in the chain?

[2018-06-03 00:46] Swivelgames commented on #1706
With documentation being so imperative, you would think this would get a "beta" release until its been completed. I don't see how something could be released, specifically something whose usage depends on the education of its consumers, without the documentation. They go hand-in-hand with something like this.

Webpack is the only thing that does what it does; and it does it well. But documentation

[2018-06-03 11:13] jeremenichelli commented on #2151
I think is worth, though it's true that some examples will not be valid js, like for example the one in configuration index page. Basically this requires an audit on how many places we have this situation and if it's worth re-writing those examples to some other format that will allow linting inside markdown articles.

I kinda feel it's a little overkill.

[2018-06-03 11:57] byzyk commented on #2151
There were around 250 invalid code issues last time I checked, but most of them are easy to fix. Same as the example above, you just wrap code chunk with `module.exports` declaration and you're good to go. We don't have to rewrite all code examples completely, so it won't affect the content. On the other hand, it will make docs look more consistent and user-friendly. I should be able to submit a P

[2018-06-03 12:02] jeremenichelli commented on #2151
That would be awesome @byzyk, tag me as a reviewer :)

[2018-06-03 14:27] skipjack commented on #2151
Note that we did have this functionality before and decided to move away from it. If we do add this again I recommend using a different eslintrc file as the requirements for example code should be much less stringent than the actual code that powers the site.

[2018-06-03 14:56] byzyk commented on #2151
@skipjack thanks for sharing your concern. The way I implemented it is through ESLint `overrides` property which allows us to define rules specifically for `.md` files, thus not affecting actual source files.

[2018-06-03 15:01] mwanago opened #2211 "Missing definition of initial and async chunk"
In SplitChunksPlugin there is a property called "chunks" in which you can define which chunks will be selected for optimization. It can be a string, where possible values are 'all', 'async' and 'initial', but what does that exactly mean is not specified anywhere.

[2018-06-03 16:02] skipjack commented on #2151
Yeah that makes sense. As long as it’s possible to delineate the two in certain ways.

[2018-06-04 11:09] webpack-bot opened #2215 "Document webpack change: Add matchResource feature (for loaders)"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7462

---

Match rules with custom resource name
Also use this name as rule.issuer or splitChunks test
Show nicely in stats

cc @xtuc (holyc-loader)
cc @yyx990803 (vue-loader)
This is interesting for you.

**What kind of change does this PR introduce?**

[2018-06-04 13:06] montogeek commented on #2210
Yes, send a PR

[2018-06-04 18:07] webpack-bot opened #2217 "Document webpack change: Prefetch and preload from entry chunk."
*A pull request by @MLoughry was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7444

---

Following up on @sokra's work in #7056, this change addresses #7084 to have webpack prefetch and preload designated chunks from the entry chunk. It adds a function (with its name configurable by `output.entryPrefetchFunction`) that can be

[2018-06-04 19:07] #2210 closed

[2018-06-04 20:10] tryzniak commented on #2208
Turns out it's a safari "feature", check out [here](https://caniuse.com/#search=autofocus) and [here](https://medium.com/@brunn/autofocus-in-ios-safari-458215514a5f). Safari won't let to focus input neither with `autofocus` attribute nor programmatically like `document.querySelector("input").autofocus = true`.

Looks like this issue can be closed.

[2018-06-04 20:20] mikegreiling commented on #2208
@tryzniak I am reporting this issue in regards to macOS Safari, _not_ iOS.

Also is there anything stopping us from just attaching an event handler to the `click` event of the icon and then focusing the input from there?  It’s more code than, `autofocus="true"`, but it’s not _that_ cumbersome

[2018-06-04 20:39] tryzniak commented on #2208
@mikegreiling I only tested on MacOS Safari 11.1.
But it looks to me like your approach has already been implemented, [check this out](https://github.com/webpack/webpack.js.org/blob/95fed9f37a71b6c5fcf25623156b487c8f11bc04/src/components/Navigation/Navigation.jsx#L161). Safari is super stubborn about not letting inputs to focus without user interaction.

[2018-06-04 22:06] mikegreiling commented on #2208
one would think clicking on a button on the page constitutes “user interaction” 🤔

[2018-06-05 22:13] edmorley opened #2221 "output.chunkFilename out of date regarding defaults and [name] replacement"
In this section:
https://webpack.js.org/configuration/output/#output-chunkfilename

It currently says:

From code inspection this doesn't appear to be correct:
https://github.com/webpack/webpack/blob/e2fe2009d9f2b26a8d751ea89e184d6ec96e37d7/lib/WebpackOptionsDefaulter.js#L91-L104

For example:
* If `filename` is set to its default value, then `chunkfilename` is set to the same value, rather than `

[2018-06-05 22:28] montogeek commented on #2221
Send a PR

[2018-06-05 23:10] edmorley commented on #2221
Hi! Thank you for the reply.

Just as a bit of feedback (mainly for other PRs where issue authors may not be as used to the webpack project) - the wording "Send a PR" can come across as a bit abrupt. The kind of phrasing that I've seen used to good effect in open source projects (Mozilla's or otherwise) is something like:

"Thank you for the issue. We're pretty swamped with XYZ at the moment (/thi

[2018-06-06 06:34] webpack-bot opened #2222 "Document webpack change: allow to disable wasm import mangle"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7487

---

disable it by default (temporary)

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
existing test

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your change

[2018-06-06 06:53] nehz opened #2223 "Flow diagram overview of all stages of webpack"
For people coming into making plugins a flow diagram of the webpack process would be invaluable, e.g:

Compiler -> (All pipelines, parse, compile, optimize and order in which they happen) -> Emit

[2018-06-06 08:38] Legends opened #2225 "Treeshaking- sideEffects package.json <--> webpack.config.js"
The `sideEffects` entry under package.json is explained in the [treeshaking section](https://webpack.js.org/guides/tree-shaking/).

**What is the difference between:**
the `sideEffects` entry in `package.json` **and**
the `sideEffects` entry in `webpack.config.js` under optimization

I think this should be added to the docs...

[2018-06-06 08:58] montogeek commented on #2223
cc @TheLarkInn

[2018-06-06 09:54] Legends commented on #2225
Perhaps also make clear, how `sideEffects` is different when user is:
application dev vs. library dev...

Little use cases as examples would be nice

[2018-06-06 14:12] webpack-bot opened #2230 "Webpack 4 chunking different runtime behaviour compared to Webpack 3"
**Do you want to request a *feature* or report a *bug*?**

Bug / Change in behaviour compared to Webpack 3

**What is the current behavior?**

When telling Webpack which chunk the runtime should be in (via `runtimeChunk.name`), it doesn't appear to change the order of execution - see below example.

**If the current behavior is a bug, please provide the steps to reproduce.**

### vendor.js
[code]

[2018-06-06 14:13] evilebottnawi commented on #2230
Please read post in original issue, a lot of question about undocumented options, feel free to close and break it down into several issue, thanks!

[2018-06-06 14:20] ARDivekar commented on #2230
## Re-posting from the original issue:

---

### Just adding some more examples of using Webpack 4's `optimization.splitChunks`:
I discovered that Webpack 4 easily allowed me to create awesome modularized bundles from my TypeScript-based project. I was wondering if it might help someone else 😄

Here is the dependency graph of my project:
![module-dependency-graph](https://user-images.githubusercon

[2018-06-06 14:20] ARDivekar commented on #2230
I stumbled upon such a configuration after trying many many variations. Conceptually, I'm not 100% sure why it works (e.g., what is a `cacheGroup`? How does `splitChunks` work from a beginner's perspective? What is the `initial` parameter?)

Better documentation for Webpack 4 would be an enormous help.

[2018-06-06 16:33] Legends commented on #2230
@evilebottnawi documentation updates for wp4 go into which branch? `rebuild`?

[2018-06-06 16:56] evilebottnawi commented on #2230
@Legends I don't know, i am not maintain this repo

[2018-06-06 17:39] montogeek commented on #2230
@Legends `master` branch

[2018-06-06 19:32] webpack-bot opened #2231 "Document webpack change: Add loader name to error message. Resolves #2878"
*A pull request by @mc-zone was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/6542

---

**What kind of change does this PR introduce?**
Feature.

**Did you add tests for your changes?**
Yes.

**If relevant, link to documentation update:**
N/A

**Summary**
Add loader name to Error message so that people can actually realize whi

[2018-06-07 11:05] stephan-v commented on #1854
Yet again you manage to surpass my expectations of having the most shitty documentation website while having all the resources in the world to do this right.

I come here because I struggle to find the v3 documentation website only to find out that people are already talking about Webpack v5 while your documentation website has been in shambles since day one.

[2018-06-07 11:13] Munter commented on #1854
@stephan-v If you think you are solving anything by talking like that to people who are donating their spare time for you to have a free tool, you are sorely mistaken. Literally any minute I spend on this, including writing this answer, is spare time taken away from me being a parent to my daughter and a husband to my wife. Tell me how this equals "all the resources in the world" please?

[2018-06-07 11:59] stephan-v opened #2233 "Incorrect documentation for webpackModes"
On this page the following incorrect statement is being made:

https://webpack.js.org/api/module-methods/

It lists:

* lazy
* lazy-once
* eager
* weak

This makes no sense because "lazy-once" is not even available in Webpack 3.11.0:

There is even an error being thronw in Webpack 3.11.0 because lazy-once is not available:

https://github.com/webpack/webpack/blob/310cf6cb04dd8972ce0dbe11fc4e233fd8

[2018-06-07 12:04] stephan-v commented on #1854
Don't know perhaps the 400k in funding Webpack receives yearly? That is even besides contributors like yourself.

[2018-06-07 12:05] #2233 closed

[2018-06-07 12:38] transitive-bullshit commented on #1854
@EugeneHlushko that gameplan sounds perfect. Hoping you guys get a solid deal from your hosting provider.

@stephan-v let's try to keep this conversation civil and constructive. The unfortunate reality is that for even the most popular open source projects like webpack, 95-99% of contributor's time is voluntary and unpaid. I sincerely wish this weren't the case, but that's how open source works fo

[2018-06-07 13:29] montogeek opened #2234 "Update webpackMode documentation"
https://github.com/webpack/webpack.js.org/issues/2233

[2018-06-07 20:51] webpack-bot opened #2236 "Comparison Page Table is Very Difficult to View"
**What is the current behavior?**

Goto https://webpack.js.org/comparison/ see a giant table ... but you can't actually see most of the table because the scroll bars are several pages down, and if you try to use them you've already lost whatever it was you were trying to scroll to see at the top of the table.

**If the current behavior is a bug, please provide the steps to reproduce.**
See above.

[2018-06-07 21:06] Legends opened #2237 "`another-module.js` --> Entry point?"
Section: [Guides - Code Splitting - Entry-Points](https://webpack.js.org/guides/code-splitting/#entry-points)

AFAIK, in webpack 4 only real entry points to the application are entry points.
If `another-module.js` is another entry-point it should be renamed to `another-entry-point.js`, otherwise  one could think that any module could be added here.
Or should this section show a way of how not to d

[2018-06-08 11:20] webpack-bot opened #2242 "error in webpack get start document"
node version:

[code]

webpack version:

[code]

[webpack get start document](https://webpack.js.org/guides/getting-started/#creating-a-bundle)

In dist/index.html,

[code]

I follow your commands, and after I run `npx webpack`.

[code]

webpack output a js file named **main.js**. But in dist/index.html, **bundle.js** is included.

Conclusion: **replace bundle.js with main.js.**

---

This issue w

[2018-06-08 11:22] montogeek commented on #2242
Fix https://github.com/webpack/webpack.js.org/pull/2232

[2018-06-08 14:04] FadySamirSadek commented on #2236
Will pick this one up

[2018-06-08 15:07] Legends commented on #2236
@FadySamirSadek :

This would be nice:

- Vertically fixed header columns, whereas the `Feature Column` is fixed horizontally too.
- Feature table-body columns (blue): fixed horizontally, but not vertically
- Bundling tools content columns (green): scrolling vertically and horizontally allowed.

![image](https://user-images.githubusercontent.com/966368/41165296-8a2af3b0-6b3d-11e8-9024-85a56eefe890

[2018-06-08 15:11] FadySamirSadek commented on #2236
@Legends sounds like a plan, thank you so much for the diagram

[2018-06-08 18:18] Josh68 commented on #1854
@Munter, I wish more people would lay out the realities of OSS projects like this. Also, while I can still get lost in the complexity (and power) of Webpack and its configs, I think the docs have improved immensely since I first used it.

FYI, [this](https://github.com/webpack/webpack.js.org/issues/1961#issuecomment-378963332) still appears to work (be sure to get the correct tag). The version bad

[2018-06-08 22:40] Legends commented on #2236
yaeh, but I am not sure if this works on mobile...

[2018-06-08 22:43] FadySamirSadek commented on #2236
@Legends it will work if I separated the header row and the features column from the table content and put them in another table but I feel there is definitely nicer solutions that I am not aware of but will do my research ,try to play around and test on multiple devices

[2018-06-08 22:47] Legends commented on #2236
That makes sense... one of the best html table libs I am aware of is `datatables`, don't know if it works with React..

[2018-06-08 22:51] FadySamirSadek commented on #2236
@Legends there is something similar in react : react-table.js.org/ will give it a try

[2018-06-08 22:58] Legends commented on #2236
@montogeek Do we have a contingent of testing hours on `browserstack` or similar for webpack/webpack.js.org ? Or how do you test cross-browser support?

[2018-06-08 23:12] machineghost commented on #2236
I kind of think DataTables, or any plug-in, might be a bit much here.  The desired effect can be created vertically just by using the correct HTML elements (thead, tbody, th, etc.) and the horizontal scrolling can be achieved with a relatively small amount of CSS: https://stackoverflow.com/questions/1312236/how-do-i-create-an-html-table-with-fixed-frozen-left-column-and-scrollable-body

[2018-06-08 23:17] Legends commented on #2236
@machineghost You're totally right. Another lib for a simple table is too much...

[2018-06-09 00:40] montogeek commented on #2236
@Legends I am building some tests for rebuild branch

[2018-06-09 01:15] FadySamirSadek commented on #2236
![](https://github.trello.services/images/mini-trello-icon.png) [Fix features table issue](https://trello.com/c/vce41FJz/1-fix-features-table-issue)

[2018-06-09 10:40] tryzniak opened #2244 "Let's improve the accessibility of the website"
Hello. I ran Google Chrome's audit on accessibility and it turns out there are a number of issues. A lot of them it looks to me can be easily fixed like missing `alt` attributes, buttons without a name, low contrast.
I can work on a PR btw :)

[2018-06-09 11:14] montogeek commented on #2244
Send them :)

[2018-06-09 19:49] Wikiki opened #2246 "output.libraryExport and import"
Hi,

I need some help please, I'm trying to biuld a library that could be used both by ES5 and ES6 javascript source. I mean I want to be able to directly call my library in script file and also able to use import to use it.

I have the following output configuration:
[code]

but when doing
[code]
 I get the following error <code>SyntaxError: import not found: default</code>

And if I remove the <

[2018-06-10 09:53] #2151 closed

[2018-06-10 10:53] montogeek commented on #2246
Please use Stackoverflow for questions, this repository is only for webpack documentation issues,
Also, check this issue for more info https://github.com/webpack/webpack/issues/3929.

[2018-06-10 10:53] #2246 closed

[2018-06-12 14:20] EugeneHlushko commented on #2231
Hi @sokra i am not sure what we can update from this one, can you point out please?

[2018-06-12 16:20] Aqours commented on #1968
`sideEffects` section is very puzzling.

[code]
The above content is my TypeScript code.

[code]

[code]
The bundle file include `polyfills.ts` and `promise-polyfill` and `reflect-metadata` npm packages when I use `config1`, but exclude `polyfills.ts` and `promise-polyfill` and `reflect-metadata` npm packages when I use `config2`.

I think `sideEffects` section should account for why `config1` inc

[2018-06-13 11:03] webpack-bot opened #2258 "website visit 404"
# Bug report

**What is the current behavior?**
![default](https://user-images.githubusercontent.com/16619996/41344980-0159be8a-6f35-11e8-94fa-4c002463df0c.png)
![2](https://user-images.githubusercontent.com/16619996/41344981-0193f1c2-6f35-11e8-9f3b-2de43e450b6a.png)
and `https://www.webpackjs.com/configuration/` is OK

**If the current behavior is a bug, please provide the steps to reproduce.**

[2018-06-13 12:09] montogeek commented on #2258
Please open it at https://github.com/docschina/webpack.js.org

[2018-06-13 19:49] jeremenichelli commented on #1968
@Aqours can you put this in a separate issue, I don't it belongs to this discussion and tell us what would work for you better as content in that section. Thanks in advance!

[2018-06-14 09:59] #2166 closed

[2018-06-14 14:55] Legends opened #2267 "AutomaticPrefetchPlugin not documented"
I cannot see the AutomaticPrefetchPlugin under [plugins](https://webpack.js.org/plugins/prefetch-plugin/).
If it is very similar to the `PrefetchPlugin` we can add it there, create a separate menu entry and deep link it...

[2018-06-15 13:29] EugeneHlushko commented on #2267
@sokra by looking at plugin code it seems that it will do prefetch to all `NormalModule`s after compilation was done, can you provide any additional context/info we might add to docs for that?

[2018-06-15 13:51] webpack-bot opened #2272 "[docs] more information / code comments for plugin devs"
I know this is quite general, but are there any plans to extend the plugin development docs and/or add more comments in the source code?

I'm currently working on my first webpack plugin (precisely it's about splitting a css file from mini-css-extract-plugin into multiple files).
The docs have been a good starting point but after getting into more details I'm missing many information (e.g. how to

[2018-06-15 16:40] EugeneHlushko commented on #2272
I know that @TheLarkInn was holding some videos or/and workshops on plugins, maybe he can provide more info on how its best to expand the official docs

[2018-06-16 14:59] EugeneHlushko commented on #2221
Very nice, didn't know there are saved replies in github :) thank you mate

[2018-06-17 22:36] Legends opened #2275 "ConstPlugin - Internal plugins"
I saw this [wiki-page ](https://github.com/webpack/docs/wiki/internal-webpack-plugins) which describes internal plugins.
Could this page be enriched with infos and added to the official docs?

What does [ConstPlugin ](https://github.com/webpack/docs/wiki/internal-webpack-plugins#constplugin)actually do?
The wiki says:

But this [issue ](https://github.com/webpack/webpack/issues/7519 )says that it

[2018-06-18 06:30] EugeneHlushko commented on #2177
@montogeek after looking at code and the issue, i suggest to close this one, probably accidentally ticked "needs doc" on wp repo side?

[2018-06-18 06:34] EugeneHlushko commented on #2204
@montogeek there are no PRs on that files recently? i am missing github feature (search PRs that touch xxx file)... I will take on this if not

[2018-06-18 06:51] montogeek commented on #2177
Yeah, it seems so. Maybe @ooflorent have a different idea

[2018-06-18 07:11] SassNinja commented on #2272
some videos about plugin developement would be awesome!

I haven't been able yet to find sth on youtube (in general not much stuff and definitely nothing regarding plugin development)

[2018-06-18 08:01] tylerlong commented on #1870
According to [the list](https://github.com/webpack/webpack.js.org/issues/1870#issuecomment-370376418), I guess `NamedModulesPlugin` is no longer required.

But it is still mentioned in the documentation:
- https://webpack.js.org/guides/hot-module-replacement/
- https://webpack.js.org/plugins/named-modules-plugin/

[2018-06-18 12:22] EugeneHlushko opened #2279 "remove NamedModulesPlugin and references"
According to the [list](https://github.com/webpack/webpack.js.org/issues/1870#issuecomment-370376418): NamedModulesPlugin is no longer required.

But it is still mentioned in the documentation:

https://webpack.js.org/guides/hot-module-replacement/
https://webpack.js.org/plugins/named-modules-plugin/

=====================================================
Originally spotted by @tylerlong https://gi

[2018-06-18 18:16] ooflorent commented on #2177
Looks like this issue can be ignored. The PR was a bugfix.

[2018-06-18 19:08] #2177 closed

[2018-06-19 13:42] gabaum10 commented on #2070
Question: if this is true, how can you determine if you need one chunk to skip the hash, and the rest to have the hash?  The problem is we're loading one single common file first, before any of the other entry files in a JSP which doesn't konw anything about the hash.  What's the recommended solution in that case?

For example:
[code]

In that instance, I don't want the webpack.common.js to have t

[2018-06-20 00:12] thedonquixotic commented on #674
It seems to me that this should be reopened. I'm very new to development and webpack but following a tutorial I have run into this absolute/relative path issue multiple times and the official documentation STILL shows the use of relative path in many of it's examples. This is very confusing as a newcomer.

[2018-06-20 06:36] km-tr commented on #295
@sokra  I tried to translate Japanese by GitLocalize, but because the part of webpack.js.org original notation could not be translated, it is under consideration in another way.

[2018-06-22 07:44] kasperpeulen opened #2286 "Confusing docs around webpack-cli, webpack-dev-server and CommonsChunkPlugin"
I'm reading the docs of webpack 4. But I find it confusing.

Here webpack-cli is recommanded:
https://webpack.js.org/guides/getting-started/

Here it is says to use webpack-command:
https://medium.com/webpack/webpacks-new-cli-hotness-d6a2063168a8

In the docs webpack-dev-server is recommended:
https://webpack.js.org/guides/development/#choosing-a-development-tool

But on the webpack-dev-server rea

[2018-06-22 14:02] EugeneHlushko commented on #2272
Maybe those were private workshops, unfortunately @TheLarkInn havent seen this thread yet due to notification spam i guess

[2018-06-22 14:11] EugeneHlushko commented on #1823
This is pretty much resolved, thanks @BeniCheni

If anyone feels different please re-open

[2018-06-22 14:11] #1823 closed

[2018-06-22 17:37] #2279 closed

[2018-06-22 23:45] elliottsj opened #2289 "Document plugin `context` / `context.reportProgress` usage"
Following up on https://github.com/webpack/webpack/pull/7442, it would be useful to have some documentation for plugin authors on the `reportProgress` function, and more generally, the `context` object that's available when tapping into a hook with `context: true`.

I'd like to make a PR for this; would https://webpack.js.org/api/plugins/ be the best place to add this documentation?

[2018-06-23 00:09] montogeek commented on #2289
@elliottsj Yes, that would be very welcome

[2018-06-24 13:44] #1987 closed

[2018-06-24 18:01] #2141 closed

[2018-06-25 09:52] #2204 closed

[2018-06-25 12:52] EugeneHlushko commented on #2286
This is solely IMO but i suggest to follow current version of the docs regarding the bleeding edge suggestion to use `webpack-command`, as soon as `webpack-command` is settled and documented in the guides you would make the switch for your current projects.

CommonsChunkPlugin is no longer recommended by the guide, there was a pr that was merged yesterday. Please visit the page again to see the la

[2018-06-25 13:00] EugeneHlushko commented on #2275
This is not exactly tree shaking but dead branches elimination. The source code has good comments on the strategy, but i would suggest adding this to the /plugins/const-plugin page. If you wish to file a PR please do, otherwise ping me here and i'll pick this one up @Legends

[2018-06-25 13:01] EugeneHlushko commented on #2231
@ooflorent can you pls check this ?

[2018-06-25 15:16] kasperpeulen commented on #2286
Thanks @EugeneHlushko.

[2018-06-25 15:16] #2286 closed

[2018-06-25 15:18] kasperpeulen opened #2296 "Further reading and Module Identifiers sections in Caching guide are out of date"
See:
https://webpack.js.org/guides/caching/#conclusion

All the links talk about webpack 2 or webpack 3.

[2018-06-25 15:19] kasperpeulen commented on #2296
Module identifiers is also out of date. It uses CommonsChunkPlugin in the configuration:
https://webpack.js.org/guides/caching/#module-identifiers

[2018-06-25 15:19] EugeneHlushko commented on #2286
@kasperpeulen glad i could help, cheers

[2018-06-25 15:28] ooflorent commented on #2231
Yeah, @montogeek is right. This issue has been open because the error messages used in the documention may require an update.

[2018-06-25 15:41] EugeneHlushko commented on #2296
Yeap this needs a good cleanup and update, up for a pr or should i grab it @kasperpeulen

[2018-06-25 17:54] mc-zone commented on #2231
Sorry for my late. Just let me try to update this tomorrow ☺

[2018-06-25 19:07] Legends commented on #2275
Dead branches = unreachable code, like `if(false){....}`?
Treeshaking = removing unused exports of imported modules.

Not sure, but I would put it under
`Plugins-> Internal `  // internal plugins
and
`Plugins-> External ` // other plugins

 It's more interesting perhaps for webpack devs, than standard webpack users...

@EugeneHlushko It's yours, pick it up.

[2018-06-26 06:46] EugeneHlushko commented on #2275
Okay i will CC you in PR when something is up

[2018-06-26 10:11] kasperpeulen commented on #2296
@EugeneHlushko I don't think I'm the good candidate for the PR, because I don't have much knowledge on this topic.

The reason I post this is because I was searching for more "Further Reading" on this topic and I could not find it, I could just remove "Further Reading" section of course.

About the Module Identifiers, would removing the CommonsChunkPlugin references and replacing it with a webpack

[2018-06-26 11:50] EugeneHlushko commented on #2258
Closing this one up due to resolution above

[2018-06-26 11:50] #2258 closed

[2018-06-26 13:31] EugeneHlushko commented on #2296
Yes i already did that for `Extracting boilerplate` section above so you could take that as a reference. Also you would need to re-run the demo project with latest webpack after you've up with configs and update output log(s). I would also ask to state at least one sentence why each of the item is getting deleted in the PR so everyone could have an idea without investigation. If you feel more comf

[2018-06-26 14:26] webpack-bot opened #2300 "Document webpack change: Remove Tapable compatibility"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7592

---

Remove deprecated Tapable API.

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

yes

**What needs to be documented once your changes

[2018-06-27 06:29] byzyk opened #2302 "Document default values"
### Problem

Default config values are sometimes mentioned in property description (this is not very readable and clear) or not mentioned at all. Users need to dive into the source code to see what default value really is, which is not very handy.

### Solution

Mention default values where possible, perhaps alongside the types:

![screenshot at jun 27 10-24-03](https://user-images.githubuserconte

[2018-06-27 09:19] webpack-bot opened #2305 "Document webpack change: Drop node 6"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7593

---

**What kind of change does this PR introduce?**

build related change

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

yes

**What needs to be documented once your changes are merged?**

Node.js

[2018-06-27 10:52] webpack-bot opened #2307 "Document webpack change: Disable legacy plugins"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7597

---

- Disable RequireJS support by default
- Disable `System.import()` by default

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

yes

[2018-06-27 16:47] webpack-bot opened #2309 "Document webpack change: Fix: entrypoints use filename when runtimeChunk is used"
*A pull request by @SevInf was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7401

---

**What kind of change does this PR introduce?**

Fix for #6598. Achieved by forcing `ChunkTemplate` to use filename tempalte if chunk contains entry module. So, chunks without runtime will still use `ChunkTemplate`,  but filename will stay t

[2018-06-27 17:45] byzyk opened #2311 "Add spellcheck to tests"
Consider adding [`github-spellcheck-cli`](https://github.com/tbroadley/github-spellcheck-cli) instead of or complimentary to `alex`.

See discussion in #2303

[2018-06-27 19:46] madhavarshney commented on #2311
Based on their online demo, it seems that `alex` does not catch spelling mistakes.  `spellcheck-cli` would probably be a good tool to compliment `alex`.

[2018-06-28 01:05] dandv opened #2312 "Add comparison with Parcel"
Just learned about Parcel from [Tensorflow](https://github.com/tensorflow/tfjs#getting-started), which mentions it before webpack.

Would be interesting to see Parcel at https://webpack.js.org/comparison/, since it claims half the bundling time of webpack at https://parceljs.org.

[2018-06-28 08:23] webpack-bot opened #2313 "Document webpack change: feat: implement option for `HashedModuleIdes` plugin"
*A pull request by @evilebottnawi was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7399

---

New option for future long term caching in `webpack@5`.

Ref: https://github.com/webpack/webpack/issues/4913

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

yes, also add test for `n

[2018-06-28 08:24] sokra commented on #2313
`optimization.hashedModuleIds`

Like HashedModulesIdsPlugin

[2018-06-28 10:11] byzyk commented on #2311
Yeah, I see, those two serve a slightly different mission so I guess we should consider `spellcheck-cli` as an addition rather than a replacement.

Regardless, the CLI is really cool and I think we should move forward with it. Although, from what I understood while reading the docs, it works in interactive mode. Meaning the moment it finds an opportunity to fix the typo it prompts for user input w

[2018-06-28 12:01] webpack-bot opened #2314 "Document webpack change: DefinePlugin: add ability to use function return values"
*A pull request by @ronkorving was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/6793

---

**What kind of change does this PR introduce?**

This adds the following API to DefinePlugin:

[code]

**Did you add tests for your changes?**

Yes

**If relevant, link to documentation update:**

Not yet

**Summary**

I wanted to inject

[2018-06-28 15:05] webpack-bot opened #2315 "Document webpack change: upgrade enhanced-resolve"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7621

---

**What kind of change does this PR introduce?**
upgrade

**Did you add tests for your changes?**
N/A

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
You can now put absolute pat

[2018-06-28 15:06] sokra commented on #2315
Example:

[code]

[2018-06-28 17:16] tbroadley commented on #2311
Hey! https://github.com/tbroadley/spellchecker-cli would be the tool to use for spellchecking documentation in CI. It does exactly what @byzyk described: it prints out any typos and exits with a non-zero error code if any are found.

If that sounds interesting to you, I'm happy to do the work to add `spellchecker-cli` to this repo. 😄

[2018-06-28 20:05] jeremenichelli commented on #2311
I'm not sure honestly. I can see the benefits of course, but also I saw this going south because this gathers a lot of technical words and names that aren't real dictionary words. It might easily become something more to maintain or be unnecessary in the way when trying to collaborate. I have mixed feelings as you might see, so I wanna hear the rest :)

[2018-06-29 11:46] montogeek commented on #2312
Send a PR

[2018-06-29 12:00] webpack-bot opened #2319 "Document webpack change: hook into dependency reference"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7585

---

add Compilation.getDependencyReference and hooks to override it

**What kind of change does this PR introduce?**
refactoring, feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs

[2018-06-30 12:49] byzyk commented on #2311
I guess we can always wrap those too techy words in code blocks and spellchecker will skip them, right?

[2018-06-30 16:10] madhavarshney commented on #2311
There's actually a custom dictionary that you can maintain or generate automatically to make spellchecker-cli skip those words.  Check [the documentation](https://github.com/tbroadley/spellchecker-cli#personal-dictionary) for more information.

[2018-07-01 13:14] Legends opened #2321 "yarn build --> 100% CPU + RAM usage goes towards its limits"
When I try to build the `webpack.js.org` project I get 100% CPU usage constantly and RAM is rising.
My lap is not the slowest Win10 x64, 16GB RAM and 8 x i7 cores.

[code]
I have to quit the `build` during execution otherwise my lap gets non-responsive and I do have to do a hard-reboot.

In task manager I can also see several dozens of `node.exe` processes running, count is rising...

![image](htt

[2018-07-01 16:29] byzyk opened #2323 "[webpack 5] SplitChunksPlugin defaults - documentation update"
see webpack/webpack#7599

[2018-07-01 16:54] atrauzzi commented on #1861
Out of curiosity, have any of the processes/steps for TypeScript changed?  Especially as it pertains to tree shaking?

I'd like to avoid having babel in my project, but if it's an absolute requirement, I'd like to make sure I do so without creating any redundant config.

[2018-07-01 18:13] Legends commented on #2321
No, I didn't want to contribute currently.

But this is not a really clever solution. After 5 builds the lifetime of my CPU`s decreases by 50% haha :D
I mean, if my laptop gets unresponsive, it cannot be good. During the build above I was able to do some screenshots and kill the relevant processes.

Is there an alternative? Or do I have to accept 100% CPU usage when doing `yarn build`?

P.S.: What

[2018-07-01 19:01] montogeek commented on #2321
@Legends You can change this parameter: https://github.com/webpack/webpack.js.org/blob/master/antwar.config.js#L5, but it would make it even slower but will only whatever you pass as number.

Rebuild: https://github.com/webpack/webpack.js.org/pull/2039

[2018-07-01 19:41] Legends commented on #2321
I set it to:
` maximumWorkers: 1,` but no much success.

After every "Finished writing pages" it again jumps to 100%.

I see it's getting handled, I hope that the grand rebuild takes this issue into account..

[2018-07-01 19:41] #2321 closed

[2018-07-02 10:09] lloydjatkinson commented on #1934
Any updates? With 4 being the recommended and advertised version, a migration could is really needed for users of webpack 3...

[2018-07-02 10:53] webpack-bot opened #2324 "Document webpack change: rename optimization.splitChunks.cacheGroups.vendors -> defaultVendors"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7637

---

* rename optimization.splitChunks.cacheGroups.vendors -> defaultVendors
* add automaticNamePrefix option
* ~allow automaticNameDelimiter on cacheGroup level~ (it is already that way in the doc)

**What kind of change does this PR introduce?**

[2018-07-04 07:18] webpack-bot opened #2332 "Document webpack change: Rename parser and its helpers"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7640

---

⚠️ Best reviewed with whitespaces ignored

- Rename `Parser` into `JavascriptParser`
- Rename `ParserHelpers` into `JavascriptParserHelpers`
- Destructure helpers for _better_ readability

**What kind of change does this PR introduce?**

[2018-07-04 12:11] EugeneHlushko commented on #2332
@sokra i am not sure there is anything to update, we dont seem to have any direct parser mentions. Please double check here: https://webpack.js.org/api/parser/ we could change the title if that is needed...

[2018-07-04 12:23] ooflorent commented on #2332
Yes, the title should be changed. These hooks are for the `JavascriptParser`. I could be a good idea to update since other parser types may be exposed.

[2018-07-04 12:39] Gecko222 commented on #2015
+1

[2018-07-04 19:37] webpack-bot opened #2335 "Document webpack change: add `splitChunks.maxSize` option"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7651

---

add `splitChunks.fallbackCacheGroup`
add `splitChunks.hidePathInfo`
move `contextify` into utils
add some types

fixes #6991
see also #7455 #7456 #4908

This makes AggressiveSplittingPlugin obsolete.

**What kind of change does this PR introd

[2018-07-06 11:29] #2275 closed

[2018-07-11 09:51] prusswan commented on #1854
Another way is to look up the actual source code, like the default options:

https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefaulter.js#L73-L93

[2018-07-11 12:29] EugeneHlushko commented on #2311
I dont see why not, when introducing this, a dictionary should be created so that lint passes after merge to master

[2018-07-11 18:04] #2083 closed

[2018-07-12 18:49] #2319 closed

[2018-07-14 12:13] #2335 closed

[2018-07-15 07:40] webpack-bot opened #2354 "Document webpack change: Default 'source' to 'false' for stats"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7724

---

**What kind of change does this PR introduce?**

config

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

yes

**What needs to be documented once your changes are merged?**

`source` now defaults

[2018-07-15 18:30] #2354 closed

[2018-07-17 07:12] kremerd commented on #2080
There's also the devtool setting, which is automatically [set to 'eval'](https://github.com/webpack/webpack/blob/v4.6.0/lib/WebpackOptionsDefaulter.js#L29) in development mode.

[2018-07-17 07:22] byzyk commented on #2311
I agree. That dictionary shouldn't be hard or time-consuming to maintain.

[2018-07-17 13:02] tbroadley commented on #2311
I spent a little time to add `spellchecker-cli` to this repo, here's the result: https://github.com/webpack/webpack.js.org/pull/2360 Let me know what you think!

[2018-07-17 18:01] webpack-bot opened #2362 "Expose the documentation for older versions"
With four versions of webpack alive and kicking on tens of thousands -if not more- production instances, it would be incredibly valuable to have a way to quick get to the documentation for whatever modern or ancient version of webpack developers are faced with. Currently the webpack docs seem to only cover the most recent version, but the olds docs hopefully still exist somewhere... if so, can the

[2018-07-18 07:04] EugeneHlushko commented on #2362
This is duplicate of #1854, worth keeping separately? @montogeek

[2018-07-18 10:13] montogeek commented on #2362
We can only support v3 and forwards.

[2018-07-18 10:13] #2362 closed

[2018-07-18 16:01] Pomax commented on #2362
This is not about which version you actively support - this is about having the old documentation online for consultation. Put all the old versions up with a banner "this is for a deprecated version of webpack, please click [here]() for the current version's documentation" and you're good to go: people who are getting hired today and are hitting webpack 1/2 setups are currently in way more trouble

[2018-07-18 16:12] montogeek commented on #2362
We are working on it, in the future you could select which version in the website, similar to lodash docs.
Sadly, this is something that wasn't thought back in the day.
We can offer v3, v4 and v4, for webpack v1 or v2 you could use http://webpack.github.io/.

[2018-07-19 06:35] sokra commented on #2267
prefetch comes with two meanings in webpack:

* (web) prefetch: adding a prefetch `<link>` tag.
* (build) prefetch: discovering a module in the graph earlier to start building these module (and dependencies) earlier (in parallel).

This is about (build) prefetch. The PrefetchPlugin discovers a single module earlier. The AutomaticPrefetchPlugin discovers all modules from the previous compilation ea

[2018-07-22 23:37] TheLarkInn opened #2378 "Drop "it's that simple""
Let's switch up the header to something that might leave a first timer feeling frustrated if they didn't end up getting webpack working on the first try.

This is something I had brought to me as a small but really impactful change! Some suggestions:

* Let's dive in/deeper!!!
* <Open for suggestions>

[2018-07-23 06:34] EugeneHlushko commented on #2378
Suggest changing it to `Next steps: `

[2018-07-23 10:55] D19cannon opened #2379 "Custom compress/minified functionalities for javascript packages."
Hi guys! I am having some trouble for the last 2 days with webpack.

For my project I tried to use the "development" and "production" mode which resulted in a problem in my code.

My packages look basically like this:

`var myPackage = (function () {
  test: funtion(){
    ....
  }
})`

However, whenever I run development or production the bundle looks like this:

`(function(modules) { ...`

// we

[2018-07-23 11:20] montogeek opened #2380 "Rebuild doesn't work"
@Legends Following your comment https://github.com/webpack/webpack.js.org/pull/2039#issuecomment-406821825,
Could you please post content of your `./_content.json` file?

[2018-07-23 11:21] montogeek commented on #2379
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2018-07-23 11:21] #2379 closed

[2018-07-23 11:57] D19cannon commented on #2379
@montogeek May I issue it as  feature so that webpack is able to handle:
`var myPackage = (function () {....}(this)`

It seems like a useful feature?

[2018-07-23 12:32] montogeek commented on #2380
Yep, i get the error on Windows too :/

[2018-07-23 13:11] Legends commented on #2380
`findInContent`  internally flattens the tree and gets passed the filter handler `item => item.url === trimmed` where `trimmed` is `/`.
The function should return `src/content`, but it doesn't.  But if it would, in the next line it would be replaced by `''`., which would result in `entryPath` being an empty string.

The import would then be:

`import(`./content/).then(...`

If I set `entryPath` vi

[2018-07-23 16:42] montogeek commented on #2380
Our past maintainers didn't use Windows, I will solve it :)

[2018-07-23 16:42] dhruvdutt commented on #2321
@Legends Any way to contact you? Can you please email me at dhruvdutt.jadhav@gmail.com

[2018-07-24 04:05] dear-lizhihua commented on #2170
Hello, @bebraw
How is this problem? If it is not fixed, chinese documents can only display english navigation.

[2018-07-24 12:06] webpack-bot opened #2387 "Documentation confusion: manually configure DefinePlugin with `mode` present or not?"
As the [docs on Mode concept](https://webpack.js.org/concepts/mode/#usage) goes, when `mode` is set, webpack automatically configures some plugins like `DefinePlugin`.
![image](https://user-images.githubusercontent.com/8225666/43136750-3389b3d0-8f7c-11e8-9d48-2cb596f4142c.png)

But as the [production guide](https://webpack.js.org/guides/production/#specify-the-environment) goes, even with `mode` s

[2018-07-24 12:07] montogeek commented on #2387
Could you send a PR removing it from the production guide?

[2018-07-24 12:31] SevenOutman commented on #2387
@montogeek I'd love to help. PR sent here https://github.com/webpack/webpack.js.org/pull/2388

[2018-07-24 15:46] afontcu commented on #2296
Hi! I'm willing to help, and this looks like a good first issue!

To recap, after I downloaded and ran the demo project in local, i should:

1. Rerun the latest webpack and update the logs.
2. Remove the outdated references
3. In the PR, justify why things are getting removed.
4. anything else?

Thanks 😄

[2018-07-25 06:32] rouzbeh84 commented on #2378
<details>
  <summary>Before beginning, prepare carefully. (cicero)
</summary>
  <img src="https://dha4w82d62smt.cloudfront.net/items/3D2b1A3M412D2p272J2W/Image%202018-07-24%20at%2011.17.02%20PM.png?X-CloudApp-Visitor-Id=2881526&v=c1a8a05c" />
</details>
---
<details>
  <summary>The beginning is always today. (mary shelley)
</summary>
  <img src="https://dha4w82d62smt.cloudfront.net/items/1J2R2F093

[2018-07-25 12:57] webpack-bot opened #2393 "Document webpack change: add some types"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7786

---

**What kind of change does this PR introduce?**
types

**Did you add tests for your changes?**
N/A

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
Migration guide:
`Module.name

[2018-07-25 13:44] TheLarkInn commented on #2378
These are all super awesome folks. I'm pretty proud of the variety here. I'm going to get some external opinions also!!!

[2018-07-25 13:46] TheLarkInn commented on #2378
I really love then Fernando Montoya reference. Haha there's my official vote for now.

[2018-07-26 00:47] mistrykaran91 opened #2396 "Ignore Plugin on Files"
I'm having an angular app which is quiet big, so I'm lazily loading chunks and just want to ignore few chunks. So, using IgnorePlugin but unable to match the specific folder/directory. Currently my folder structure is src/app/modules/platform, so I want to ignore platform folder in ng-build but unable to achieve it. I', lazily loading that module so the lazy loading code is in src/app/modules/app-

[2018-07-26 08:36] montogeek commented on #2396
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2018-07-26 08:36] #2396 closed

[2018-07-26 23:30] #2380 closed

[2018-07-27 09:43] EugeneHlushko commented on #1821
There is no progress on this one for a while, suggest closing it as webpack 5 will land soon. CC @TheLarkInn @skipjack @montogeek

[2018-07-27 09:44] #1822 closed

[2018-07-27 09:48] EugeneHlushko commented on #1843
@montogeek this is not the case anymore right? we can just close?

[2018-07-27 10:07] montogeek commented on #1843
It is working now.

[2018-07-27 10:07] #1843 closed

[2018-07-27 10:07] montogeek commented on #1821
@TheLarkInn What was your plan?

[2018-07-27 14:53] #2387 closed

[2018-07-30 12:45] #2296 closed

[2018-07-30 19:34] Legends opened #2410 "Rebuild:bug --> Refresh Vote page"
Happens ins dev and prod build.

Steps to reproduce:

1. Navigate to "Vote" (Main menu) page.
2. Refresh the page (on windows hit `F5` to refresh)
3. In prod build I get a 404, in dev build I get error:

![image](https://user-images.githubusercontent.com/966368/43419069-3bed27aa-9440-11e8-9b69-ba442992f075.png)

[2018-07-30 20:47] webpack-bot opened #2411 "Document webpack change: Freeze hooks to prevent deopts"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7813

---

**Note:** there is no speed penalty introduced by `Object.freeze`

This PR is a follow up of:

- #7672
- #7672

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

no

**Does this PR intr

[2018-07-30 21:26] Munter commented on #2410
This is fixed on the rebuild-hyperlink branch, which is just waiting to be merged once enough maintainers agree

[2018-07-30 21:28] Legends commented on #2410
Good! Closing...

[2018-07-30 21:28] #2410 closed

[2018-07-31 21:29] Legends opened #2413 "NotificationBar appears when refreshing page, even it's dismissed"
[Here is a short video](https://drive.google.com/open?id=1-50KD9WhKy9Cks8NzTziDKfY0Xj5FqVq) that demonstrates the issue

[2018-07-31 21:34] Legends commented on #2225
Fixed by #2392

[2018-07-31 21:34] #2225 closed

[2018-07-31 23:14] montogeek commented on #2413
Relevant code https://github.com/webpack/webpack.js.org/blob/rebuild/src/components/NotificationBar/NotificationBar.jsx#L7-L14

[2018-08-01 06:45] EugeneHlushko commented on #1984
@jeremenichelli hi man, i hope you dont mind i've put up a PR for this as it was kinda stalled for a while (last action 5th of April)

[2018-08-01 08:41] Legends commented on #2413
[This part](https://github.com/webpack/webpack.js.org/blob/rebuild/src/components/NotificationBar/NotificationBar.jsx#L68) is responsible for showing/hiding the `MessageBar`.
But your code looks good, wonder why it appears after hitting the refresh button ??
I put a `console.log(barDismissed())` and it always returns `true`, so `MessageBar` shouldn't render at all...

[2018-08-01 09:37] montogeek commented on #2413
This is a hybrid app (universal), when you hit F5 it is getting a entirely new single HTML from the server, that file contains the notification bar, then it loads the JS, which starts React, React will mount that component then it would access localStorage, all of that takes some time.

[2018-08-01 11:47] Legends commented on #2413
I just did a fresh `git fetch` now the notificationbar doesn't popup anymore...
Wonder what has changed, because `NotificationBar.jsx` did not!

Caching issue in ` webpack-dev-server` ?

[2018-08-01 11:47] #2413 closed

[2018-08-01 15:25] EugeneHlushko commented on #1984
in rebuild now 🎉

[2018-08-01 15:25] #1984 closed

[2018-08-02 02:30] codeudan opened #2416 "Render error in document of raw-loader, val-loader, url-loader, file-loader"
<img width="784" alt="2018-08-02 10 29 47" src="https://user-images.githubusercontent.com/16059383/43558977-830bc970-963e-11e8-8a8d-03924cc00ef5.png">
<img width="644" alt="2018-08-02 10 29 51" src="https://user-images.githubusercontent.com/16059383/43558978-838eee54-963e-11e8-8436-eba49dadb51c.png">

Is caused by markdown error? The README.md in their repo is work correctly, but [https://webpack.

[2018-08-05 02:06] #2267 closed

[2018-08-06 11:23] webpack-bot opened #2421 "Document webpack change: Move optimizationBailout into ModuleGraph meta information"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7850

---

**What kind of change does this PR introduce?**
refactor

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
`module.optimiz

[2018-08-06 19:25] 1j01 opened #2424 "Docs refer to deprecated webpack.optimize.UglifyJsPlugin"
https://webpack.js.org/configuration/plugins/#plugins

I don't know if there's other stuff that needs to be updated here, or if maybe the documentation's been updated but it's just not published...

[2018-08-06 19:33] webpack-bot opened #2425 "Document webpack change: Move Module.used and Module.usedExports into ModuleGraph"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7852

---

**What kind of change does this PR introduce?**
refactor

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
Module.used and

[2018-08-06 22:56] 1j01 commented on #2424
The `UglifyJsPlugin` itself isn't, but accessing `webpack.optimize.UglifyJsPlugin` is, because you're supposed to add it as a dependency and pass it to [`optimization.minimizer`](https://webpack.js.org/configuration/optimization/#optimization-minimizer)

[2018-08-06 23:01] montogeek commented on #2424
Uhmm, using it as a plugin triggers a warning or something?
I think it works just fine as a plugin.

[2018-08-06 23:27] Munter commented on #2018
This is fixed on the  `rebuild` branch

[2018-08-06 23:27] #2018 closed

[2018-08-06 23:34] michael-ciniawsky commented on #2424
`webpack.optimize.UglifyJsPlugin` isn't exposed anymore, one has to explicitly import it since `webpack >= v4.0.0`

[code]

It ships with `webpack` and options can be passed to the 'build-in' plugin via `config.optimization.minimize` removing the need to import it at all in most cases

[2018-08-06 23:38] montogeek commented on #2424
Please send a PR to this page (https://webpack.js.org/configuration/plugins/#plugins) updating it with your findings.

[2018-08-07 03:49] liz282907 commented on #143
i ran into the same problem...

[2018-08-07 08:02] EugeneHlushko commented on #2424
You just need to remove it from the plugins https://webpack.js.org/configuration/plugins/#plugins page
It is documented here btw: https://webpack.js.org/configuration/optimization/

[2018-08-07 12:51] webpack-bot opened #2428 "Document webpack change: remove originModule from Dependencies and add parent module to ModuleGraph"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7861

---

**What kind of change does this PR introduce?**
refactor

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
Some dependenci

[2018-08-07 17:38] kilmc opened #2430 "Update Plugin Patterns page to reflect Webpack 4 conventions"
I went to play around with some of the sample code in here and got deprecation warnings.

**Feature to document**
https://webpack.js.org/contribute/plugin-patterns/

**Author(s)**
I couldn't seem to find authors associated with this section. If folks know how to source them, could you tag them on this issue.
**Additional information**

[2018-08-07 17:50] ctsstc commented on #2035
I'm still getting this error as well when using a config file.

[2018-08-07 21:27] montogeek commented on #2430
There is some work at this moment https://github.com/webpack/webpack.js.org/pull/2200/files

[2018-08-08 16:38] 1j01 commented on #2424
Also presumably the `CommonsChunkPlugin` usage should be updated to show `require`ing it, and likely other stuff is outdated. I don't want to work on this; I've never used the `plugins` option, and so I hope someone with at least that qualification can pick this up.

[2018-08-09 12:11] EugeneHlushko commented on #2424
@1j01 ok, in that case im picking it up

[2018-08-09 15:27] webpack-bot opened #2436 "Document webpack change: move Module.issuer into Module.getIssuer(moduleGraph)"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7870

---

**What kind of change does this PR introduce?**
refactor

**Did you add tests for your changes?**
N/A

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
Module.issuer is now Modul

[2018-08-09 19:12] webpack-bot opened #2437 "Document webpack change: Hide orphan modules in Stats"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7812

---

A module is an _orphan_ if it is not included in any chunk. Orphans modules are now hidden by default in `Stats`.

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

yes

**Does this PR intr

[2018-08-09 20:39] moos commented on #1854
All I have to say is:
![screen shot 2018-08-09 at 1 36 28 pm](https://user-images.githubusercontent.com/233047/43924376-5961b706-9bd9-11e8-9485-c0cc908e84a1.png)
 and https://api.jquery.com/category/version/1.0/.  Doh!

[2018-08-10 07:19] stephan-v commented on #1854
@moos So we are comparing asset bundlers to JavaScript libraries now?

[2018-08-10 10:42] mwanago opened #2440 "Documentation of tree shaking does not mention the ModuleConcatenationPlugin"
**Feature to document**
Tree Shaking

**Additional information**
Even though the documentation of the tree shaking does mention the mode: "production", it is not specified that the important part of it is the ModuleConcatenationPlugin. In case someone does not use the predefined production configuration and wants to use tree shaking, he might encounter problems.

[2018-08-10 16:14] jacksonrayhamilton commented on #1854
If anyone wants to see this fixed, pay someone to do it: https://www.bountysource.com/

[2018-08-10 19:42] #2440 closed

[2018-08-11 22:43] mwanago opened #2443 "The Mode documentation page does not mention optimization.usedExports"
**Feature to document**
Mode

**Additional information**
The Mode documentation page does not mention that the production mode turns on optimization.usedExports, but the Optimization page does. It causes inconsistency and can be confusing.

[2018-08-12 00:09] mwanago commented on #2443
@montogeek I will look into it and send a PR

[2018-08-13 14:30] charrondev commented on #2070
What is the actual technical reason blocking this? I've seen it referenced a few times. We don't necessarily need our chunknames to need to be a function, but having the path capable of being a function would work fine.

**The use case:**

We have multiple repos being joined together at build time and are generating 1 common chunk, and 1 library chunk using splitChunks.

For the moment these files

[2018-08-14 14:24] webpack-bot opened #2445 "Document webpack change: add ChunkGraph"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7889

---

* chunk modules and module chunks are no longer sorted while compiling. Instead they are sorted when requesting it with order.
* connectChunkAndModule, disconnectChunkAndModule have moved from GraphHelpers into ChunkGraph
* moved common compa

[2018-08-14 15:47] huaplusplus commented on #2095
I tried to print the hook name in tapable, then I got a file contains 26000+ lines. so...

[2018-08-16 08:43] webpack-bot opened #2449 "Document webpack change: allow multiple entryModules per chunk"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7896

---

* MultiModule was removed
* webpack can now handle multiple entrypoints natively and don't need to create a MultiModule for this
* move entry modules into ChunkGraph
* allow to specify ChunkGroup to depend on for entry modules

**What kind of

[2018-08-16 14:07] webpack-bot opened #2450 "Document webpack change: Replace Basic and Advanced optimzation hooks by stages"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7824

---

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

yes

**What needs to be documented once your changes are merged?**

Some hooks have

[2018-08-17 08:49] ghetolay commented on #2070
I'll add my use case where we want to protect some code behind authentication inside an SPA. So we need to move some lazy loaded chunk into a protected folder (based on modules it contains) and keep the rest public.

Current workaround is using a plugin to edit chunk name like above to include full path and using `chunkFilename: [name].js`.