[2016-06-29 18:01] bebraw opened #1 "Drop sudos from npm `scripts`?"
I noticed the npm scripts run through sudo. I don't think that's needed so might as well drop those bits.

You actually need to change the output path to form `path: 'dist/build',` at `config/dev-config.js` as otherwise it will try to write to root. One reason why sudoing isn't a good idea here.

[2016-06-29 18:04] gregvenech commented on #1
Yea definitely should... I updated npm on my macbook and for some reason I'm getting an error when the local installation of Webpack tries to `mkdir`. Just added it as a temporary fix, but I can try to debug the issue I was seeing later tonight.

[2016-06-29 18:05] bebraw opened #2 "How to - Cache"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/cache.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:06] bebraw commented on #1
It was probably that `output.path`. I think you'll find something at your system `/dist/build`. 👍

[2016-06-29 18:06] bebraw opened #3 "How to - Split code"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/split-code.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:07] #1 closed

[2016-06-29 18:08] bebraw opened #4 "How to - Handle compatibility"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/handle-compatibility.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:08] bebraw opened #5 "How to - Handle dependencies"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/handle-dependencies.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:09] bebraw opened #6 "How to - Develop"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/develop.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:09] bebraw opened #7 "How to - Handle dependencies"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/handle-dependencies.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:10] bebraw opened #8 "Concepts - Entry points"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/concepts/entry-points.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

Reference: https://webpack.github.io/docs/multiple-entry-points.html .

[2016-06-29 18:10] bebraw opened #9 "How to - Author libraries"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/author-libraries.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:10] bebraw opened #10 "Concepts - Output"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/concepts/output.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:11] bebraw opened #11 "How to - Generate a production build"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/generate-production-build.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:11] bebraw opened #12 "API - Module resolution"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/api/module-resolution.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:11] bebraw opened #13 "How to - Shim"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/shim.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:12] bebraw opened #14 "Concepts - Targets"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/concepts/targets.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:13] bebraw opened #15 "Guide - Get started"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/get-started.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

---

To quote @logaretm from #29:

Maybe it should cover:
* What is Webpack? (in a small paragraph)
* Establishing Mindset (JavaScript file as entry point) or how it works at its highest levels, some colle

[2016-06-29 18:14] bebraw opened #16 "Guides - Improving Build Performance"
[Stub](https://github.com/webpack/webpack.js.org/blob/master/content/guides/build-performance.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:14] bebraw opened #17 "Changelog"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/changelog.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:14] bebraw opened #18 "Support - Common Problems"
[Stub](https://github.com/webpack/webpack.io/blob/master/src/content/support/common-problems.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:15] bebraw opened #19 "Support - FAQ"
[Stub](https://github.com/webpack/webpack.io/blob/master/src/content/support/faq.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:15] bebraw opened #20 "How to - Upgrade from webpack 1"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/upgrade-from-webpack-1.md).

- [ ] include changes to the resolver
- [ ] babel/treeshaking
- [ ] ...

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:15] bebraw opened #21 "API - Loaders"
[Stub](https://github.com/webpack/webpack.io/tree/develop/content/api).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

Reference: https://webpack.github.io/docs/loaders.html

[2016-06-29 18:16] bebraw opened #22 "API - Plugins"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/api/plugins.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:16] bebraw opened #23 "API - Node"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/api/node.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:16] bebraw opened #24 "API - CLI"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/api/cli.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:17] bebraw opened #25 "API - Configuration"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/api/configuration.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

This is to stub and rewrite the [existing page](http://webpack.github.io/docs/configuration.html)

[2016-06-29 18:17] bebraw opened #26 "How to - Develop"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/develop.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-06-29 18:20] bebraw opened #27 "Generate through Antwar site generator?"
I'm using a custom site generator of my own known as [Antwar](https://github.com/antwarjs/antwar) to generate [the SurviveJS site](https://github.com/survivejs/site). It's actually based on Webpack and React and is fairly feature complete. I'm running it in a private beta at the moment but wouldn't mind pushing it a little further.

What would you think of porting the project to use it? I don't mi

[2016-06-29 19:00] gregvenech commented on #27
Sounds like it might be a nice middle ground between what we have now and a static build. I realize static generation probably does make more sense than parsing markdown on the fly, especially since we can't see the whole directory of markdown files from the client.

Definitely open to it. In that case would it make sense for me to keep working on the components, if we're sticking with react, and

[2016-06-29 19:10] bebraw commented on #27
Yeah, keep doing what you are doing. I can adapt based on that.

It actually uses react-router underneath. It just outputs static files and ironically there's not much left of React in the output.

[2016-06-29 19:13] gregvenech commented on #27
Works for me, it sounds like an interesting tool. Looking forward to seeing it in action.

[2016-06-30 16:43] Awk34 commented on #15
Note: Apparently the ['What is webpack?'](http://webpack.github.io/docs/what-is-webpack.html) section of the current 'Getting Started' is confusing to many. Maybe it needs to be simplified *even more* from where it is now?

[2016-06-30 16:47] bebraw commented on #15
Yeah. That's a valid point.

I took a historical approach in my [intro chapter to webpack](http://survivejs.com/webpack/webpack-compared/). Maybe a similar idea would work here so you get the context before digging into webpack itself. If you don't understand the past, it's hard to appreciate the ideas.

[2016-06-30 16:49] Awk34 commented on #15
@bebraw Nice article! I think that is spot on. Many people don't understand what Webpack is meant for.

[2016-06-30 17:00] bebraw commented on #15
I'm thinking a structure like this would work:

1. Bit of history for context (adapt from above and link if someone wants to read more).
2. Basic features of webpack. This would be a good place to link elsewhere in the documentation and show how the bits go together (loaders, plugins, entries, output) on a basic level.
3. Brief comparison to show what tool to use and when. This shows webpack in co

[2016-07-02 05:19] bebraw opened #29 "Guide - 10 Minute Introduction"
[Stub](https://github.com/webpack/webpack.io/blob/master/src/content/10-minute-introduction.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-07-02 05:20] bebraw commented on #15
FYI, I added [a stub for 10 minute introduction](https://github.com/webpack/webpack.io/issues/29).

[2016-07-02 10:59] sokra opened #30 "Infrastructure - windows support"
Please make sure that I can build this project too.

* no linux tool in npm script
* `path.join` instead of `a/b`

[2016-07-02 11:15] sokra opened #31 "Infrastructure - complete plan"
The complete plan is:

* For development this is just a normal react application (client-side rendered).
* For production this repo builds into a prerendered site with client-side javascript applied.
  * Why? search engines should be able to index the documentation.
  * How? react-router with async routes, [static-site-generator-webpack-plugin](https://github.com/markdalgleish/static-site-generato

[2016-07-02 14:02] gregvenech commented on #30
The `sudo` was in the npm scripts was a hack on my part because of something I misconfigured in the dev-config. Luckily @bebraw [took care of that][1].

I think [this commit][2] will fix the windows' issue, if not feel free to push whatever I missed.

[1]: https://github.com/webpack/webpack.io/commit/aa40c8b809d879549b2292b4afdde4f4ac40a630
[2]: https://github.com/webpack/webpack.io/commit/700915c

[2016-07-04 20:35] gregvenech commented on #1
@bebraw definitely just found and deleted a `/dist` folder in my system's root 😑

[2016-07-06 04:42] skipjack opened #32 "Splash Page"
Just merged a feature into develop containing some preliminary work on the splash page. Here's some thoughts:

#### Header Section

I found, [forked][1] and tweaked the floating squares animation from a [pen I found][2]. I kind of like where it's going but I think we should probably use the SplashNode components (used in the visualization) as the floating squares instead of the blank ones. I'm als

[2016-07-06 09:54] bebraw opened #33 "Guide - Concepts"
[Stub](https://github.com/webpack/webpack.io/blob/master/src/content/concepts.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-07-09 16:00] bishopZ opened #34 "Common Errors Index"
Searching for webpack errors on stackoverflow is more difficult than with other libraries because the error messages are often very opaque, and they use common words that are also used by other build systems and libraries.

I would love to write a document like "twenty possible reasons you might get the error 'Module could not be built'".

I envision the page as a list of common error message. Und

[2016-07-09 16:37] pksjce commented on #34
Have you considered [webpack-validator](https://www.npmjs.com/package/webpack-validator)? It is supposed to statically analyse the config and show possible errors in the build.

[2016-07-10 00:25] TheLarkInn commented on #33
Have talked a few times on this. I think the learning cam be structured into:

 * entry
 * output
 * loaders
 * plugins

Ideally we'd stub these out separately. Maybe

[2016-07-10 13:54] bebraw commented on #27
There's a [proof of concept](https://github.com/webpack/webpack.io/tree/antwar) now. It's all about content, no styling yet. Do you want me to whip up something or would you be comfortable building on top of that? I've exposed layout files just for this purpose.

[2016-07-10 15:59] bebraw commented on #27
I ended up porting the styling scheme as well. It should be easier to build the final style on top of that.

[2016-07-10 16:35] mxstbr commented on #33
Any snippets written somewhere @TheLarkInn? I recon those would be really helpful.

The TL;DR as far as I understand is:

- `entry`: Specifies the files that webpack starts from and builds a dependency tree. Each of these can (must?) build a separate bundled file with all of the dependencies included.
- `output`: Specifies the format of the bundled file, including naming, exports, etc.
- `loaders`

[2016-07-10 16:42] mxstbr commented on #26
TL;DR of contents:

The `webpack-dev-server` allows users to run a web-server from the command line that's enhanced with some webpack-specific events which enable certain features like hot-module-reloading.

The watch mode, as the name suggest, watches your filesystem for changes in the files that webpack cares about in its bundle. If a file is changed, webpack automatically rebuilds the bundle an

[2016-07-10 16:44] bebraw commented on #26
I ended up stubbing [how to develop?](https://github.com/webpack/webpack.io/blob/antwar/content/how-to/develop.md) kind of article at my Antwar based prototype. It would cover `--watch`, `HMR`, `webpack-dev-server`.

I actually have a related chapter [here](http://survivejs.com/webpack/developing-with-webpack/automatic-browser-refresh/).

If we can keep the site pages simple and link to external r

[2016-07-10 16:45] mxstbr commented on #26
Yeah that sounds very reasonable

[2016-07-10 16:46] bebraw commented on #33
My current prototype has [an entire section for concepts](https://github.com/webpack/webpack.io/tree/antwar/content/concepts).

[2016-07-10 16:46] mxstbr commented on #33
Ooooh nice, I love the `Everything is a module` section, that took me a while to get!

[2016-07-10 16:49] TheLarkInn commented on #33
https://docs.google.com/presentation/d/10mIapWjv1pyUQaMv6G8MCdoe9OK2Ey8zz-CLkHuFdRI Also has my slides with maybe valuable details or metaphors etc.

[2016-07-10 17:15] TheLarkInn opened #35 "Develop - Webpack Loader API"
(Stub probably needed.)

**Story**
As a webpack user and developer, I would like to understand how to create & implement a custom loader using the webpack loader API.

**Scenario**
Given I visit the page:
- A. I'm presented with clear indication this document contains info on the webpack loader API.
  - What is a loader? (Via link or short description)
  - What arguments can a loader be provide?

[2016-07-10 17:16] TheLarkInn commented on #35
@mxstbr @bebraw thoughts?

[2016-07-10 17:19] TheLarkInn opened #36 "Develop - Plugin API - Tapable: The Building Blocks"
WIP

[2016-07-10 17:24] bebraw commented on #35
Yeah, definitely needed. I added a [site section for API](https://github.com/webpack/webpack.io/tree/antwar/content/api) and pushed bits there.

[2016-07-10 17:28] TheLarkInn opened #37 "API - Plugins"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/api/plugins.md).

Overview Page: Give Overview of what this section will cover.
- Explain Schema and Type notation used in guide.
- Tapable
- Compiler instance
- Compilation instance
- Module
  - Module vs ModuleFactory
  - NormalModuleFactory
  - ContextModuleFactory
- NMF instance
- CMF instance
- Maintemplate instance
- Parser in

[2016-07-10 17:29] TheLarkInn commented on #37
Can use this to link to individual issues I will create for each of these bullet points.

[2016-07-10 18:41] mxstbr commented on #37
We use those in Carte Blanche too (@jantimon helped us build it, so that's why :grin:) so I can document that!

[2016-07-10 18:42] mxstbr commented on #35
Sounds good though I'm not sure the migration should be that prominent, not that many people are going to look for it.

[2016-07-10 18:47] bebraw commented on #35
My branch has a separate "how to" for migration so maybe it's best handled there.

[2016-07-10 19:44] pksjce commented on #33
Wow! That's a very good explanation of how plugins and loaders work.

On Sunday 10 July 2016, Sean Larkin <notifications@github.com> wrote:

--
Regards,
Pavithra.K

[2016-07-10 20:20] jantimon commented on #37
Well webpack is very modular - the custom plugin hooks are exactly the same as the "standard" hooks.

[2016-07-10 20:36] TheLarkInn commented on #37
@jantimon Exactly. I think one we start educating developers about Tapabale etc. Plugins and how they work will be way easier.

[2016-07-10 20:44] jantimon commented on #37
Tapable is very simple - you can just read the source it contains only very small helper functions.

It is similar to event emitter however it allows plugins to queue up and modify the given value.
Unfortunately it doesn't allow to listen to a single event or unbind events.

[2016-07-10 21:06] TheLarkInn commented on #37
@jantimon would you be willing to tackle the Tapable page? Like explain how it works, even though it's pretty simple code we want to explain it to somone in a clear and consice way. I was thinking about writing the schema/typescript definition for it as well.

[2016-07-11 01:29] e-cloud commented on #26
Including the documentation about the API of webpack-dev-server would be better.

[2016-07-11 05:49] jantimon commented on #37
I am on vacation for the next 3 weeks but maybe afterwards.

[2016-07-11 10:25] scarlac commented on #21
Assumption: We'll want to keep "Getting started" simple and targeted (mostly) for newbies. If that assumption is wrong, these suggestions will not be relevant.

**Avoid mixing of syntax**
Webpack syntax is generally complex, more than necessary. In general I would recommend newbies are recommended **a** (one) normal syntax and the advanced syntax would be hidden away for a dedicated section or adv

[2016-07-11 11:56] bebraw commented on #21
👍  It's good if we can be opinionated. We can even go as far as to deprecate some ways of doing things in the future (say `loader`) and recommend good ways here. Currently the API is even too flexible in some ways and that tends to lead to confusion fast.

Yup. I've defaulted to `loaders` on my own material. The only expection is `ExtractTextPlugin` that forces you to use `loader` for extraction.

[2016-07-11 17:47] bendman commented on #3
Based on my experience with code splitting for different single page and multi page apps, here's an idea on how it can be structured to be more applicable to a developer looking for info on code splitting (and the different types and reasons).

*Note: Is `CommonChunkPlugin` or the vendor chunk concept something that belongs with code splitting, or is this more specific to the concept of on-demand

[2016-07-11 17:52] bebraw commented on #3
Great outline and ideas! Thanks.

I can see there are bits like `Improving development build times (is this a thing?)` that could easily become little articles of their own.

I've been prototyping [an enhanced structure](https://github.com/webpack/webpack.io/tree/antwar/content) that would handle that through a "how to" style miniguide. In that structure this issue would map as "how to split code"

[2016-07-11 18:18] pksjce commented on #3
@bendman - How about info on [ExtractTextPlugin](https://github.com/webpack/extract-text-webpack-plugin) here? It collects all the css chunks and puts them into a single file right?

[2016-07-12 19:32] pksjce commented on #36
[Tapable](https://github.com/webpack/tapable) is small module that allows you to add and apply plugins to a javascript module. It can be inherited or mixed in to other modules.

Provides two kind of functions

- `plugin(name,handler)`  - This function registers a plugin under a hash of `name`.
- `apply*(...)` - The consumer can apply all the plugins under a particular hash using these functions.

[2016-07-12 21:39] markerikson commented on #33
Had an extended discussion in Reactiflux with someone who was struggling with the idea of `process.env.NODE_ENV`, how it's used in optimizing client-side libs, and how it actually relates to Node itself.  Seems like this would be an excellent set of concepts to add to Webpack's docs.  I realize it's not strictly a Webpack-specific concept, but it definitely shows up in most "real" Webpack configs,

[2016-07-13 06:47] TheLarkInn commented on #36
Awesome start @pksjce !!!! Id love to see things like How does this tie to webpack. What `consumers` do webpack provide. Maybe even mentioning that this is a fundamental piece of webpacks functionality. Love what you have so far.

[2016-07-13 07:55] pksjce commented on #36
Thanks for the feedback! How about something like.

Tapable is fundamental to the working of webpack. This is because all the moving components of webpack like `Compilation`, `Compile`, `Parser` use this to push all its side effects to plugins. Webpack is structured such that its internal modules read the configuration, and define a lifecycle. The lifecycle or state machine expects different behav

[2016-07-13 20:58] jhnns commented on #32
Thx for your work @gregvenech.

I finally found some time to check out the current state:

- I really like the floating squares animation 👍
- Remove the catch phrase 👍
- I feel like the section above the fold (do you call this the header section?) should be combined with the visualization. We should not use the actual language logos because lots of tiny colored logos always look disturbing. I thin

[2016-07-13 21:02] jhnns commented on #34
I really like this idea. Many confusing error messages and warnings can have simple answers, like:

- Module build failed
- Module not found
- Critical dependencies

However, we should also think about changing the actual error messages. If they can be improved, that's the first step.

[2016-07-14 02:18] logaretm commented on #29
Maybe it should cover:
* What is Webpack? (in a small paragraph)
* Establishing Mindset (JavaScript file as entry point) or how it works at its highest levels, some colleagues had issues understanding how it works since they were using gulp.
* Files and Loaders (in two or three lines).

Then move on to a small example:
* Installation.
* Basic html page with an entry point, that just logs something

[2016-07-14 05:50] bebraw commented on #29
Good ideas. We can likely defer some of those `Then move on to a small example:` bits to specific "how tos" assuming we follow that kind of structure. It's more than ten minutes of effort then, but that doesn't hurt.

The main goal of this article is to help the user to go from level zero to level one after all and even guide to the documentation so the person knows how to use it effectively.

We

[2016-07-14 14:33] yuridevx commented on #16
Brunch, for example, claims that they use caching and process only those files that were not changed. In addition to that I know that gulp if configured properly will process only changed files rather then reprocess all of the files in a glob pattern. When I've read webpack documentation I had no idea on how could I structure my build so it will be fast. Does it somehow optimize one .less file tha

[2016-07-14 14:38] yuridevx commented on #16
And what about eslint in loader chain? How does that affect overall build/rebuild performance.

[2016-07-14 14:45] bebraw commented on #16
Great ideas and topics to study. Thanks!

[2016-07-14 15:00] yuridevx commented on #16
@bebraw I'm looking forward to become an open source participant. I would like to contribute perhaps I could do some kind of investigation and write about it.
The challenge is I'm new to the open source world as well as I'm new to the English documentation writing (not native speaker). Is there any way I might be helpful? If yes then could you give me advice on how to start with webpack docs?

[2016-07-14 15:05] bebraw commented on #16
@yuridevx Language won't be an issue as long as the content is solid and well researched. If you can comment around at the issues and help to craft outlines, that would help quite a bit. We'll be developing the content based on this work.

I hope to make another, more focused blog post in two weeks after the direction is clearer and there's a site prototype to show.

[2016-07-16 09:31] bebraw commented on #32
Did you push the repo somewhere?

[2016-07-16 19:25] ojacobson commented on #33
I'd be tempted to start at a much earlier point than bundles and chunks. People coming into Webpack from browser-only development don't have all of the intermediate concepts yet:

* introduce the idea of a module and the use of the `require` function to express dependencies,
* explain some of the rationale and demonstrate that it's useful (possible examples: jquery-as-a-library, maybe?)
* introduc

[2016-07-16 19:39] TheLarkInn commented on #33
I agree with @ojacobson. Having a visual analogy even that depicts that dependencies in a web application are not limited to javascript files. Urls referenced in css, url's referenced in html, @imports in css to other files, etc. (Because webpack treats everything as a module). Explaining that webpack helps solve a web applications _complete_ dependency tree etc.

@ojacobson, if I make a "sub"-iss

[2016-07-16 19:40] ojacobson commented on #33
I can take a crack at it during the week, I think.

[2016-07-16 19:45] gregvenech commented on #32
@jhnns that's odd, everything was running fine last time I checked. Pretty sure I was `@import`ing all the fonts but I'll take another look at it to make sure nothing was changed accidentally. In terms of your other comments I think we're pretty much on the same page. Sounds like we'll just have two sections: Visualization/Header as the opening screen and a Quick Start section below it?

I'm prett

[2016-07-16 19:48] TheLarkInn opened #38 "Guide - Concepts - Introduction"
This will be the either the splash page for the Guide Concepts page. Linkable sections to each "Core Concept". On this page we need to present to users a first time approach to why webpack is needed to solve the common problems with dependencies in web apps.

* What is a dependency (1-2 sentences)
* What is a dependency to webpack? (2-3 sent. ?)
* What is a dependency tree? (1-2 sent.)
* How does

[2016-07-16 19:48] TheLarkInn commented on #38
CC @ojacobson for this issue.

[2016-07-16 19:54] TheLarkInn commented on #33
#38 For you!

[2016-07-17 04:28] gregvenech commented on #27
Hey I finally got everything installed but I'm seeing an error when trying to run the dev-server or build scripts:

<img width="596" alt="screen shot 2016-07-17 at 12 20 31 am" src="https://cloud.githubusercontent.com/assets/8988697/16898741/79395ad8-4bb4-11e6-8391-44018ab9e491.png">

I definitely have all the new npm packages installed and tried reinstalling them with no luck. Let me know if I'm

[2016-07-17 06:51] bebraw commented on #27
@gregvenech Alright. Can you make sure there's no `.babelrc` hanging around at the project root?

I added better error logging to Antwar 0.6.1 so that we can get a better trace. If you want to avoid reinstalling antwar, copy [build/dev_index.js](https://github.com/antwarjs/antwar/blob/master/build/dev_index.js) to `node_modules/antwar/build/dev_index.js`. That `if(stats.hasErrors()) {` is the sign

[2016-07-17 11:54] logaretm commented on #20
I guess we can start by pointing out that babel's transform CommonJS should not be used with *tree shaking* since Webpack can handle it now. This preset [babel-preset-es2015-webpack](https://github.com/gajus/babel-preset-es2015-webpack) makes it easier to install dependencies instead of "babel-preset-es2015".

having said that, maybe we could structure the chapter into features, and what does it t

[2016-07-17 12:16] bebraw commented on #20
Yeah, that sounds good.

I have specific how-tos and conceptual discussion at my PR (#39) so that sort of info would fit there.

[2016-07-17 15:54] gregvenech commented on #27
No babelrc hanging around. Pulled your new commits, here's some more details:

`npm run build` throws the same error screenshot-ed above.

-------

`npm run deploy` failed initially with this error:

<img width="577" alt="screen shot 2016-07-17 at 11 49 29 am" src="https://cloud.githubusercontent.com/assets/8988697/16901524/98cedf0c-4c14-11e6-9dff-f9a24b68f3da.png">

but seemed to work once I chan

[2016-07-17 16:02] gregvenech commented on #30
Closing this for now as I think it's fixed, I don't have a windows box to test on so if anyone is still having issues please comment with the error and we'll reopen it.

[2016-07-17 16:02] #30 closed

[2016-07-17 16:10] bebraw commented on #27
`npm run deploy` literally deploys the built result to the gh-pages branch so it's probably better not to touch that.

The latter issue is more relevant. It's saying it's failing to find the es2015 preset. I guess I'll refactor antwar core so that it doesn't depend on Babel directly to fix that.

[2016-07-17 16:19] gregvenech commented on #27
Yea I figured, just discarded that deploy change. I've dealt with that babel preset issue for other reasons but not really sure how to debug it in relation to antwar. Keep me posted, I'm excited to get the antwar setup working so I can finish porting and start developing more.

[2016-07-17 18:04] bebraw commented on #27
@gregvenech I did a little update at the branch/PR. The site manages Babel and CSS configuration now. If you could give that a go, that would be great.

I can still push that a step forward but it's enough to test the approach. For some reason it starts a bit slower now (probably doing more work).

We can also hook up React hot loader with that to improve the solution further. I'll probably push t

[2016-07-19 04:09] gregvenech commented on #27
@bebraw still seeing the same errors on `npm run build` and `npm start`. I saw your changes to the antwar config, I'm guessing antwar was managing Babel behind the scenes before.

The `require.resolve`s you added look like they should work, I even logged out the path string it generated to make sure it was correct, which it was, but I'm still seeing the `Error: Couldn't find preset "es2015" relati

[2016-07-19 04:17] gregvenech commented on #27
Just downloaded a zipped of antwar branch to make sure there was nothing hanging around and causing issues after checking out to it from the other branches but unfortunately still seeing the same errors.

[2016-07-19 05:12] bebraw commented on #27
@gregvenech Ok, I have one more change in mind that might help. I guess we'll see then. Which npm/Node are you using? Maybe I could repro somehow.

[2016-07-19 13:05] gregvenech commented on #27
@bebraw npm@3.9.5 and node@6.2.2

[2016-07-19 16:32] johnnyreilly opened #40 "Make it obvious how easy it is to improve the docs"
Because it's very easy indeed!

[2016-07-19 16:39] bebraw commented on #40
The new docs will have an "edit" button as well. Instead of going through wiki, we'll be going through PRs at least at the beginning to keep it controlled.

[2016-07-19 17:38] Scarysize opened #41 "Guides - Migrate from Browserify"
I think this would help a lot of people. Both tools try to accomplish similar things, though using very different concepts.

_User story_
As browserify user I want to easily be able to migrate over to webpack. I want to generate (transpiled) javascript bundles and set up a local development environment.

_Hints_
- Keep it simple
- How to generate a production bundle
- How to setup webpack-dev-serv

[2016-07-19 17:52] okbel opened #42 "Bundle size issue due to unordered plugins"
## **Situation**
People are using Webpack because every React tutorial have Webpack as its module bundler. Some of them are beginners, some others come from Angular with experience in browserify.
I've seen a lot of beginners struggle with bundle sizes. And even though everything looked fine. Something was off. Some sorting in the plugins array messes up the final size.
I detected this from people

[2016-07-19 20:14] bendman commented on #3
@pksjce I feel like that should be linked to from code-splitting, but maybe discussed in detail on its own page or section with plugins.  What about briefly discussing it here along the lines of "Code Splitting Non-JS Sources".

[2016-07-20 03:59] TheLarkInn opened #43 "Guides - Use ContextReplacementPlugin"
This is probably the best example on how to use this Plugin with webpack 2. (Thanks to @sokra).

https://github.com/webpack/webpack/issues/2783

Document needs:
- Link to "What's a ContextModule? ContextModuleFactory?"
- Explain this scenario in a generalized term, then reference the example above, (or create a new one).
- Explain what each of the properties represent and how it relates to webpack

[2016-07-20 05:24] d3viant0ne opened #44 "Guides - Use with Docker"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/use-with-docker.md).

**Goal:** Guide to setup & configuration of both Docker & Webpack2 with examples covering all aspects of the development workflow using Webpack2 from dev build to prod bundling as well as dev server, watch, hmr, tree shaking & so on.

@bebraw - Assuming you like the idea, could i get a stub for `How To -

[2016-07-20 05:48] bebraw commented on #44
Sounds good to me. I don't mind adding a stub.

I still have some work to do with my PR. Hopefully we get that merged soon.

[2016-07-20 06:03] d3viant0ne commented on #44
That's fine, all the docker stuff will take a bit of time

[2016-07-21 00:04] ojacobson commented on #38
Are we still calling individual nodes in the dependency graph "modules"?

[2016-07-21 00:06] TheLarkInn commented on #38
@sokra? I think I can speak for this and say a chunk is "a sub-tree of modules" a module in Webpack is anything you tell webpack to load through loaders ( because webpack treats everything as a module )

[2016-07-21 00:39] ojacobson commented on #38
I tried working on the `develop` branch of this repo, but I got hung up fighting with React. So, [here](https://gist.github.com/ojacobson/a33951fc320099564d6393624ac3b1ef)'s a gist with the first draft. I believe this covers the key points; the flow's not great, and I think it needs elaboration in a bunch of places and maybe some narrative, but I wanted to start getting feedback early.

[2016-07-21 00:44] TheLarkInn commented on #38
Awesome!!! You can checkout the antwar branch which is in PR I believe. That will land in master here in the next weekish (@bebraw). That should actually work for you. I'll check out the gist right now.

[2016-07-21 13:54] jackfranklin commented on #35
@TheLarkInn as discussed I'm happy to take a stab at this as a good learning exercise for myself.

My plan of attack is something like:

1. Read through https://webpack.github.io/docs/how-to-write-a-loader.html and try to write my own basic loader
2. Refer to other loaders and dig through them
3. Start documenting the process
4. Push up to GitHub for your review once I have a rough outline.

How d

[2016-07-21 14:21] Awk34 opened #45 "Guides - Starter Kits"
A curated list of starter kits that get you started for a Webpack-based project:
- [Angular Full-Stack Generator](https://github.com/angular-fullstack/generator-angular-fullstack)
- [Angular2 Webpack Starter](https://github.com/AngularClass/angular2-webpack-starter)
- [NG6 Starter](https://github.com/AngularClass/NG6-starter)
- [React Starter Kit](https://github.com/kriasoft/react-starter-kit)

[2016-07-21 15:38] bebraw commented on #27
Closing this given we managed to get it to run (env issue). Better continue at the PR (#39).

[2016-07-21 15:38] #27 closed

[2016-07-21 17:15] TheLarkInn commented on #35
Love it!!!

[2016-07-22 17:29] TheLarkInn commented on #45
@mxstbr Hey the more boilerplates the better.  However I think its extremely important to note SOMEWHERE, that:

Boilerplates should be used as Proof of Concepts to help you learn different webpack techniques for respective frameworks to apply to your own.

Should not be used to copypasta everything and try to fit your flow around it. Or something like that. Anyone disagree?

[2016-07-23 00:15] mover96 opened #46 "How to - Improve build performance"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/how-to/improve-build-performance.md).

Here is a great write up on a lot of the features of the DLL Plugin (I cannot figure out how to anchor to specific posts on bountysource, but it's near the bottom)

https://www.bountysource.com/issues/28615391-webpack-incremental-builds-are-slow

The biggest point for me is that it cannot be us

[2016-07-23 03:03] TheLarkInn commented on #42
Thanks!!!

[2016-07-23 03:04] TheLarkInn commented on #38
@ojacobson ITS IN MASTER! So feel free and make a real PR if you would like. If you are unsure where to place the .md file @bebraw can guide you.

[2016-07-23 03:05] TheLarkInn commented on #46
We're pretty free form here for right now. Once things get more fleshed out I'm sure we might have a github issue template. But for now: Think of it like an agile user story:

As a user, why do I want this page:

Heres how we answer these questions:

[2016-07-24 05:35] bebraw opened #47 "Set up automatic deployment for the `master` branch"
Whenever we merge something to the `master` branch, it should run `npm run deploy` to make the changes visible. Here's the [basic idea on how to achieve that with Travis](https://gist.github.com/domenic/ec8b0fc8ab45f39403dd).

[2016-07-24 06:17] bebraw commented on #18
The current structure doesn't have a specific page for this. I'm hoping "how tos" can cover these adequately. If it looks like a specific page is needed, that can be added later.

[2016-07-24 06:17] #18 closed

[2016-07-24 06:18] bebraw commented on #19
There is no specific page for FAQ at the current structure. I'm hoping "how tos" and "concepts" cover this need well enough.

[2016-07-24 06:18] #19 closed

[2016-07-24 06:22] bebraw commented on #7
Closing given this is a duplicate of #5. The "how to" article can cover both.

[2016-07-24 06:22] #7 closed

[2016-07-24 06:24] bebraw commented on #29
I'm merging this with #15. We need just one good intro to the topic. The rest of the documentation supports that. I'll move your synopsis there so we don't lose it.

[2016-07-24 06:24] #29 closed

[2016-07-24 06:27] bebraw commented on #33
I split this up into [an entire section](https://github.com/webpack/webpack.io/tree/develop/content/concepts). There's also [a tag](https://github.com/webpack/webpack.io/issues?q=is%3Aopen+is%3Aissue+label%3A%22documentation%3A+concepts%22).

Let's leave this issue open for discussion, though.

[2016-07-24 06:29] bebraw commented on #22
Closing in favor of #37.

[2016-07-24 06:29] #22 closed

[2016-07-24 06:31] bebraw commented on #44
There's a stub now. So I would say it's safe to PR against the `develop` branch once you look into it.

[2016-07-24 06:34] bebraw commented on #46
Let's maintain this under [How to improve build performance](https://github.com/webpack/webpack.io/blob/develop/content/how-to/improve-build-performance.md).

[2016-07-24 06:36] bebraw opened #48 "Concepts - Compared to Other Systems"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/concepts/compared-to-other-systems.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-07-24 06:37] bebraw opened #49 "Concepts - Modules"
[Stub](https://github.com/webpack/webpack.js.org/blob/develop/content/concepts/modules.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-07-24 06:38] bebraw opened #50 "Concepts - Loaders"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/concepts/loaders.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-07-24 06:39] bebraw opened #51 "Concepts - Plugins - Index"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/concepts/plugins.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-07-24 06:41] bebraw opened #52 "Contribution documentation"
[Stub](https://github.com/webpack/webpack.io/blob/develop/content/contribute.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-07-24 06:42] bebraw commented on #16
To quote @mover96 from #46.

[2016-07-24 06:42] bebraw commented on #46
I'm closing this in favor of #16 since it's about build performance too. Let's continue there.

[2016-07-24 06:42] #46 closed

[2016-07-24 06:44] bebraw opened #53 "Guides - Integrate with Third Party Tools"
[Stub](https://github.com/webpack/webpack.io/blob/master/content/guides/integrations.md).

Feel free to comment here if you have ideas on what this guide should cover. Link to potential resources too.

[2016-07-24 06:46] bebraw commented on #51
To quote @okbel from #42:

[2016-07-24 06:46] bebraw commented on #42
I'm closing this in favor of #51 ("Concepts - Plugins" article) as that's the perfect place to discuss the topic. Feel free to continue there.

[2016-07-24 06:46] #42 closed

[2016-07-26 03:13] ojacobson opened #54 "MacOS build failures on master & develop"
OS: Mac OS 10.11.6 (Darwin Dashie.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64)

Node: v6.3.0 (via Homebrew)

Did:

[code]

Expected: running development server on port 3000.

Actual result:

[code]

[2016-07-26 03:14] ojacobson commented on #38
Awesome! Unfortunately, [it's not working out for me](https://github.com/webpack/webpack.io/issues/54), so I'll continue on the Gist for now. I did see your comments there; I'll update the gist in place and nudge here.

I did see that @bebraw split this up into more task-specific issues - is there anything I should do there, or is coordinating through here fine for now?

[2016-07-26 03:50] TheLarkInn commented on #54
Are you missing a dep from node modules? Something an `npm install` could fix?

[2016-07-26 03:55] ojacobson commented on #38
Gist updated.

[2016-07-26 03:56] TheLarkInn commented on #38
Do you have a link to the gist? I couldn't see it from here.

[2016-07-26 03:57] ojacobson commented on #38
Whups! I thought the link was already in this thread. [Here you go!](https://gist.github.com/ojacobson/a33951fc320099564d6393624ac3b1ef)

[2016-07-26 04:01] ojacobson commented on #54
Manually installing `webpack-extract-text-plugin` changes the failure, so that's progress:

[code]

Adding `npm install json` to the mix does allow `npm start` to actually start the dev server. It looks a bit crap, though - see attached screenshot. (Also, all the links point to `https://webpack.github.io/webpack.io/…path…`, rather than to resources served by the local server.)

![screen shot 2016-

[2016-07-26 04:53] bebraw commented on #54
I can't repro this on `develop` (did a fresh install of deps). Node v5.11.1, npm 3.8.6.

I synced `master` with `develop` so they should be up to date now.

Can someone else confirm the issue?

[2016-07-26 12:03] gregvenech commented on #54
So on develop I added those missing deps to the package.json (extract-text... and the json-loader) however the `module.js:442` is the same one I've been seeing if I have the repo on my desktop or nested anywhere within.

Somehow moving it to my user folder allows the scripts to run fine. I still haven't been able to figure out the cause of those failures, I'll try again tonight.

[2016-07-28 03:33] gregvenech commented on #32
@jhnns lemme know if this is heading in the right direction:

<img width="602" alt="screen shot 2016-07-27 at 11 24 26 pm" src="https://cloud.githubusercontent.com/assets/8988697/17200269/c00689c2-5451-11e6-9e2a-f487d62a54cc.png">

That one gets the idea across, I am working on a cleaner version though:

<img width="802" alt="screen shot 2016-07-27 at 11 26 04 pm" src="https://cloud.githubusercont

[2016-07-28 08:22] pksjce commented on #32
@gregvenech- wow. The animating idea sound very cool. You could have
jumbled up files and then show them being converted into queues for
bundling and then the cube could suck them up. :)

On Thursday, July 28, 2016, Greg Venech <notifications@github.com> wrote:

--
Regards,
Pavithra.K

[2016-07-28 11:48] jhnns commented on #32
Haha, that's a nice idea! 👍 The animation should not be too fast and annoying, but an unobtrusive animation would be cool.

I really love the fine, black lines. I think we should use them throughout the design. I like the first screenshot better, although it has logos with different colors and styles. Maybe it's ok if they're contained within a white box. From a design point of view, we should emp

[2016-07-28 11:54] mxstbr commented on #32
Agree with everything @jhnns said, except I'd maybe say

to emphasise that everything is a module?

[2016-07-28 12:06] jhnns commented on #32
Yep, that's good

[2016-07-28 18:52] gregvenech commented on #32
Definitely can add in the description although I think we should keep it pretty small (we can always elaborate more in the Quick Start section below).

I agree, I think done right it could communicate the core concepts well, but we need to be careful not to go overboard.

So in the second one I just hadn't gotten back to redrawing the links (hairlines) between the modules. The main point of that o

[2016-07-30 02:34] gregvenech commented on #54
@ojacobson I was able to start the [develop branch](https://github.com/webpack/webpack.io/tree/develop) above my desktop finally yesterday with no issue. I'm running a fairly similar environment, Mac OS 10.11.5 with Node 6.2.2.

Have you tried pulling a fresh copy of the branch and rerunning the scripts?

[2016-08-01 14:08] TheLarkInn commented on #38
@ojacobson There is a PR I have listed with a few slight changes to the document you provided in the gist. I will get this started in the PR, but welcome any edits or changes.

[2016-08-02 00:28] bishopZ commented on #34
I am on [Webpack Gitter Chat](https://gitter.im/webpack/webpack) right now. There are two people getting the error "Cannot find module." Both have exhausted all troubleshooting options. I have found multiple unanswered stack questions with the same error.

[2016-08-02 03:46] gregvenech opened #60 "Checking location when running the dev server"
Opening this for @bebraw

For the Splash page I'd like to tweak the styling Navigation bar. The cleanest way to do this through React/React-Router is usually to check `props.location` like so:

    let { section, location, config } = props,
          { pathname } = location,
          { home = '/' } = config;

    ...
        <Navigation home={ home } pages={ pages } splash={ pathname === '/' } />

[2016-08-02 21:55] virgenherrera opened #62 "how to work win windows, laravel/homestead and webpack?¡"
anyone can tellme how to configure this amazing product to work together with virtualbox-vagrant (laravel/homestead)???

i have a project that runs well locally, but when i tryed to run it in vagrant it gives me this error:

vagrant@homestead:~/Code/react$ npm start

/home/vagrant/Code/react/node_modules/.bin/webpack-dev-server: 1: /home/vagrant/Code/react/node_modules/.bin/webpack-dev-server: ../

[2016-08-03 00:10] TheLarkInn commented on #62
This is the documentation repository. Issued posted here are for generating documentation on a specific topic.

Please submit an issue on stackoverflow tagged 'webpack' or visit our gitter chat.

However in the future if you learn how to do this and want to share the wonderful amazing joys of using webpack with laravel and friends, please feel free to contribute to our documentation. You will be r

[2016-08-03 00:10] #62 closed

[2016-08-04 10:58] bebraw commented on #60
Maybe it would be cleanest to go through the DOM [location API](https://developer.mozilla.org/en-US/docs/Web/API/Location)? That wouldn't tie us to react-router. Maybe we could avoid bundling it to the final build altogether.

[2016-08-04 16:35] gregvenech commented on #60
Works for me, I'll use that for now on the splash-page branch.

[2016-08-04 16:35] #60 closed

[2016-08-05 13:38] bebraw commented on #12
Great starting point at https://webpack.github.io/docs/resolving.html . Copy over to the docs and go from there.

[2016-08-05 14:03] TheLarkInn opened #63 "Concepts - Using Third Party Libraries that Are not CJS/AMD/ES6 Modules"
Need to have doc created.

[2016-08-05 14:03] TheLarkInn commented on #63
You've mixed different approaches how to include legacy vendor modules. This is how I'd tackle it:

## 1. Prefer unminified CommonJS/AMD over `dist`

Most modules link the `dist` version in the `main` field of their `package.json`. While this is useful for most developers, for webpack it is better to alias the `src` version because this way webpack is able to optimize dependencies better (e.g. whe

[2016-08-05 14:19] bebraw commented on #38
@TheLarkInn Safe to close given this was merged?

[2016-08-05 16:27] TheLarkInn commented on #38
Yup!

[2016-08-05 16:27] #38 closed

[2016-08-06 09:47] kentcdodds commented on #17
This could be automated if the project follows a commit message convention. You could encourage contributors to follow it, but because of GitHub's squash and merge feature, you can change the commit message of people's contributions if they don't follow the convention, which means it wont be a barrier to contributing.

It's incredibly nice to be able to automate the creation of a changelog using g

[2016-08-06 09:49] bebraw commented on #17
Yup. I'm not sure if we end up maintaining a changelog at the site even. Perhaps the easiest thing to do would be to link to GitHub releases page and solve it there.

I agree automation would be good, but this is up to @sokra to figure out.

[2016-08-06 18:03] d3viant0ne commented on #17
@bebraw - conventional-changelog + semantic-release + enforcing commit message formatting ( Committizen does this) === Automated changelog generation and versioning.

Nothing to figure out here as the path forward is pretty standard. Angular / Material2 and a host of other major libs have already blazed this trail.

The above is currently being implemented in karma-webpack

[2016-08-10 02:56] gregvenech commented on #54
Closing this issue as I am no longer able to replicate it. If anyone sees a similar issue, feel free to reopen with details...

[2016-08-10 17:25] bebraw opened #66 "Site - Hook up the Gitter Button to Open Gitter Sidecar"
* Sidecar - https://sidecar.gitter.im/.

Probably need to handle this at template level (`Body.jsx`) and write JavaScript to open it when the Gitter button is clicked.

[2016-08-11 01:25] ericclemmons commented on #66
This looks done already:

[2016-08-11 03:53] bebraw commented on #66
@ericclemmons The site is not up to date (no automated deployment process or staging yet). The design is a bit different now.

[2016-08-12 02:51] ojacobson commented on #54
Hi! Sorry about the delay, I've been travelling.

I'm still able to reproduce it (or, if you prefer, unable to run the docs server locally) as of a clean copy of 7616b73bbfeffc518496c0b47830fa36f244db66, commit dated yesterday.

I've preserved my source tree in case I can be of any assistance.

[2016-08-14 13:50] SpaceK33z commented on #40
Agree, issues like webpack/webpack-dev-server#553 constantly appear in all package repo's.

[2016-08-15 14:54] jcreamer898 commented on #51
I'd be happy to help out on some of the CommonsChunkPlugin stuff. I've been doing an advanced webpack series here... http://jonathancreamer.com/advanced-webpack-part-1-the-commonschunk-plugin/

Let me know if and how you would want me to get started!

[2016-08-15 15:06] bebraw commented on #51
@jcreamer898 Cool to hear. I have the rough ideas [here](https://github.com/webpack/webpack.io/blob/develop/content/writers-guide.md) (article structure, available custom syntax). I imagine `CommonsChunkPlugin` specific how to could work. There could be something in the existing structure already.

You could pick a stub you find interesting or create your own. Propose an outline for an article and

[2016-08-15 15:23] TheLarkInn commented on #51
I was creating an issue for him to work off of. And both of you are willing to edit the "Goals" etc.

[2016-08-15 15:23] bebraw commented on #51
@TheLarkInn Sure, that works.

[2016-08-15 15:23] TheLarkInn opened #67 "Usage - Plugins - Optimize - CommonsChunkPlugin"
We would ideally have a "Usage" page which contains a way for users to see a single page devoted to one plugin. (Can be accessed from List of Plugins).
- [ ] Has the same [general API usage information](https://webpack.github.io/docs/list-of-plugins.html#commonschunkplugin)
- [ ] We expand on this with multiple ways to use CommonsChunk.
- [ ] References Code snippets from the [examples section](ht

[2016-08-15 15:25] TheLarkInn commented on #51
https://github.com/webpack/webpack.io/issues/67

Part of me wants to preserve the more higher level "List of Plugins" because its recognizable and comfortable for users, and then a single page devoted to each plugin with more understandable syntax, etc. Feel free to update

[2016-08-15 15:26] TheLarkInn commented on #67
@bebraw @jcreamer898

I think that this would be a nice single page approach to these plugins, if this isn't what you imagined @bebraw for plugins usage. (This also makes documenting the individual plugins easier than having to pull in the entire `list of plugins` page IMO).

[2016-08-15 16:03] bebraw commented on #67
Yeah, I agree having `plugins/` namespace could be sensible. Small, focused articles over big, chunky ones. There is going to be some overlap between different sections (think how tos, conceptual info), but that's ok.

[2016-08-15 17:27] pksjce commented on #24
Can I take this one up?
Played around with the cli and have found a few limitations and one bug in its usage.
1. config, entry, output options worked pretty well.
2. I was able to add babel loader through --module-bind. But this was limited because we cannot add any other params than test and loader name.(esp excludes)
3. I tried out the --provide option. This has a bug because
`options.plugins.pu

[2016-08-15 17:33] bebraw commented on #24
@pksjce Sure. The [current documentation](https://webpack.github.io/docs/cli.html) would be a good starting point. I agree the CLI is difficult and poorly documented at the moment and I see a lot of problems around it as people don't understand what kind of configuration it generates. Often I end up checking the source to find the answers.

@sokra @TheLarkInn Any thoughts on this? How do you see t

[2016-08-15 17:57] pksjce commented on #24
@bebraw - Yes, I was exploring each of the options mentioned in the current documentation to see if I could add anything useful to the info already present.
Meanwhile, progress, profile, stats and watch flags fall into the advantages of using the cli. They are great features and I really learnt a lot about my codebase exploring these flags.
I'll wait for more info on the direction for this.

[2016-08-16 14:43] TheLarkInn opened #68 "Whats New In Webpack 2 - Resolvers"
This will be a sub issue, under "Whats New in Webpack 2"

[2016-08-16 14:44] TheLarkInn commented on #68
We can stub this out. In a "Whats New in Webpack2" folder? Any opinions on this? @bebraw

[2016-08-16 15:08] bebraw commented on #68
Maybe start with a section at #20 given that's a priority item. If it looks like the ideas can be split into separate articles, then we'll split.

[2016-08-16 16:58] TheLarkInn commented on #68
Perfect I like. Absolutely.

[2016-08-17 10:17] pksjce commented on #53
What does it mean to use third party tools? As webpack plugin? Or in the bundle?

[2016-08-17 10:20] bebraw commented on #53
Grunt, Gulp, Mocha, Karma. I guess it would be better to have specific how to for each. This is more like a seed article that can be split up.

[2016-08-17 11:00] pksjce commented on #53
Ok got it. Thanks.

[2016-08-17 17:38] gregvenech commented on #32
Here's another version:

![Splash Revision](https://cloud.githubusercontent.com/assets/8988697/17746462/24a2b2b6-647e-11e6-8325-fc0cb581eec5.png)

I added that description and highlighted **modules** as I think we should link to the "Everything is a Module" article from there. Working on another option for the modules now. I've also pushed updates to the [design repo](https://github.com/gregvenech

[2016-08-17 18:53] sebastiandeutsch commented on #68
# Webpack 2.0 Resolving

Webpack 2.0 has an updated enhanced resolving mechanism:

[code]

This is a complete list of all possible fields within `resolve`:

| Field                    | Default                     | Description                                                                        |
| ------------------------ | --------------------------- | ----------------------------------------

[2016-08-18 05:20] bebraw commented on #68
Looks great. 👍

[2016-08-18 05:25] mxstbr commented on #32
Not a fan of the "Quick start", doesn't look very quick to me :wink: I'm quite busy for the next week or so, will see what I can do!

[2016-08-18 05:32] bebraw commented on #32
Yeah, maybe link to that dedicated page we'll have instead over having quick start there. It would be better to focus on highlighting the content and basic features perhaps.

[2016-08-18 05:54] sokra commented on #32
We should use and promote ES6 import/export all over the documentation and use CommonJs only when neccessary.

[2016-08-18 05:56] sokra commented on #68
The defaults in webpack are different: https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefaulter.js#L73-L93

[2016-08-18 12:55] sebastiandeutsch commented on #68
Would it make sense to align these defaults in this repo - I could work on this.

[2016-08-18 13:01] pksjce commented on #24
*Bump*

[2016-08-18 13:07] TheLarkInn commented on #68
Yes I think it would.

[2016-08-18 13:12] TheLarkInn commented on #24
I agree with @bebraw, start by taking the existing documentation, and then replace any of your findings to update the current functionality.

[2016-08-22 17:18] gregvenech commented on #54
Hey @ojacobson no worries... I'm re-opening, are you seeing the same errors as before?

[2016-08-22 19:59] gregvenech commented on #32
@mxstbr, @bebraw, @sokra thanks for the feedback, yea I kinda figured that would get replaced by one of the new howto guides. As @bebraw mentioned, maybe we just have a short description of the tool and concepts with links to more detailed sections of the site?

If we did provide a short Quick Start, I guess the "quickest" way to start would be to use Webpack from the command line and pass it the

[2016-08-23 04:12] TheLarkInn commented on #68
@sebastiandeutsch I'd love to see a PR on this. If you aren't already working on it. We can provide some direction if needed.

[2016-08-23 09:14] SpaceK33z commented on #26
I'm helping maintaining WDS, and looking through the issues, these occur the most:

- Using it with Docker.
- Using it with a proxy, and after they get that working, CORS.
- Getting it to work with vagrant (need to use `--watch-poll`, and a custom 'public' url).
- Wanting to use `[hash]` in file, which causes a memory leak and many other weird issues (make clear that cache busting is not necessary

[2016-08-23 09:18] bebraw commented on #26
@SpaceK33z There's a separate issue related to Docker (#44). I expect similar articles for the rest (proxying, Vagrant) would work too. Small, focused "how tos" would be great.

[2016-08-23 23:19] sebastiandeutsch commented on #68
@TheLarkInn You can see it here: https://github.com/webpack/enhanced-resolve/pull/39 I'll update the docs accordingly when it's accepted.

[2016-08-24 02:41] #14 closed

[2016-08-24 02:51] TheLarkInn opened #74 "[Styling]: Need to use Monospaced font for code blocks."
Currently code blocks are looking a bit lacking and harder to read because the typeface that is being used is not monospaced. Therefore, things to not appear to be lined up. Seen below is an example.

<img width="1534" alt="screen shot 2016-08-23 at 9 50 11 pm" src="https://cloud.githubusercontent.com/assets/3408176/17916732/a5a8b34a-697b-11e6-9445-99c8f80635f2.png">

[2016-08-24 11:35] sebastiandeutsch commented on #68
# Webpack 2.0 Resolving

Webpack 2.0 has an updated enhanced resolving mechanism:

[code]

This is a complete list of all possible fields within `resolve`:

| Field                    | Default                     | Description                                                                        |
| ------------------------ | --------------------------- | ----------------------------------------

[2016-08-24 11:37] sebastiandeutsch commented on #68
I've updated the defaults as @sokra pointed out.

[2016-08-24 13:04] gregvenech commented on #74
Sorry completely blanked on this when I was refactoring the css, just pushed 5a2e228d657681624c04a4bae4586cc96fd8b4ea which contains the fix.

[2016-08-24 13:04] #74 closed

[2016-08-26 01:45] ojacobson commented on #54
Yeah, it's the same apparently-incorrect behaviour. The latest transcript is below, and produces this when browsed under `npm start`:
![screen shot 2016-08-25 at 9 43 45 pm](https://cloud.githubusercontent.com/assets/160985/17991484/0b5e0568-6b0d-11e6-9b9f-bf5e59cd9458.png)

Commit:

[code]

NPM installation from `git clean -fdx`:

[code]

Output of `npm start`:

[code]

[2016-08-26 02:27] gregvenech commented on #54
I'm seeing the `Failed to highlight...` errors as well however I still see the site come up fine:

<img width="1440" alt="screen shot 2016-08-25 at 10 15 35 pm" src="https://cloud.githubusercontent.com/assets/8988697/17991993/80536292-6b11-11e6-9330-9e026d7fbed7.png">

I see a flash of un-styled content for about a second or two at most and then it the CSS loads and everything looks fine. I've act

[2016-08-26 03:01] ojacobson commented on #54
Browser console output, `All` category, Safari Version 9.1.2 (11601.7.7):

[code]

[2016-08-26 03:23] gregvenech commented on #54
Ah that seems to be what's going wrong. Btw just pushed 838c5bb70865aacabd308e7e5870281fd8bd7a54 which should fix the build, `Failed to highlight...`, errors. Let me see if I can reproduce what you're seeing with safari, and you might try using chrome or firefox in the meantime.

[2016-08-26 03:33] gregvenech opened #76 "Safari Error on Dev Server"
@ojacobsen noticed this in #54

[code]

[2016-08-26 03:33] ojacobson commented on #54
Chrome works (with the same FOUC you're seeing), so I'll assume Firefox does, as well. I'm actually glad it's browser-dependent!

[2016-08-26 03:34] gregvenech commented on #54
Confirmed your issue with Safari, same error. Moving to #76 and closing this one. Tested in the latest versions of FF and Chrome which both seem to work fine.

[2016-08-26 03:34] #54 closed

[2016-08-26 03:35] TheLarkInn commented on #54
Is everyone using node v6 atleast, if not I would recommend trying it

[2016-08-26 03:35] gregvenech commented on #54
@TheLarkInn yea we're both on 6.2+

[2016-08-26 03:35] ojacobson commented on #54
I am (v6.3.0 as of my last `brew update`).

[2016-08-26 03:41] gregvenech commented on #54
I'm on 6.2.2, originally we had thought being on 6+ was what was causing these things but it turned out to be a variety of other stuff (i.e. missing deps, browser issues, etc.) At least we finally got most of it nailed down.

[2016-08-26 03:51] gregvenech commented on #76
Possibly related to [this issue](https://github.com/gaearon/react-hot-loader/blob/master/docs/Troubleshooting.md#syntax-error-unexpected-token-). However a lot of this is behind the scenes in antwar so it's hard to tell. @bebraw any thoughts?

[2016-08-26 05:13] bebraw commented on #76
Hi,

I pushed `0.8.1` that should fix the issue. Feel free to close after confirming it works.

The problem was that Safari doesn't support ES6 that well yet so I rewrote the code in ES5 style. Precompilation would solve it as well, but that's something I can think about later.

[2016-08-26 05:15] bebraw commented on #54
By the looks of it, this was something Safari related. The problem is that it doesn't support ES6 features that well. I rewrote the offending bits in ES5 so you could try again after `npm update`.

We didn't notice this earlier as we were testing using the wrong browser.

[2016-08-26 06:36] #76 closed

[2016-08-26 06:38] gregvenech commented on #76
Looks good 👍.

[2016-08-26 16:08] ojacobson commented on #76
Verified! Thanks a ton.

[2016-08-27 13:59] SpaceK33z commented on #26
So in #78 I've written some documentation on how to use it with Vagrant.

I noticed that the current documentation of WDS is not yet ported. Is this something I could work on? If yes, where would this documentation live? Maybe in `api/dev-server-cli.md`, `api/dev-server-node.md` and put the examples etc. in `how-to/develop.md`?

[2016-08-28 05:06] bebraw commented on #26
Yeah, that would be great. The suggested articles would work well.

[2016-08-28 05:31] gregvenech commented on #25
Can I take a stab at this one? I already started playing around with this when I was doing the [documentation mockup](https://github.com/webpack/docs/issues/69). Might need a some advice on certain sections but at this point I'm familiar with and have used most of the configuration options...

[2016-08-28 05:39] bebraw commented on #25
Sure, that would be great.

[2016-08-28 05:57] gregvenech commented on #25
Ok great, I'll start this week.

[2016-08-29 12:17] bebraw opened #80 "Concepts - Manifest"
It would be useful to discuss the concept of manifest a bit. It's one of those ideas that's ignored often and if you aren't aware of it you can end up in troubles when hashing. There's perhaps not that much to explain, but it's good to cover still.

The article should go below `concepts/manifest.md`. If you have ideas/references in mind, feel free to comment.

[2016-08-29 18:36] bebraw opened #82 "Figure out how to migrate documentation issues from the main repo to here"
Issues: https://github.com/webpack/webpack/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-asc+label%3Adocumentation .

Ideally comments should be retained. Labels can be lost.

[2016-08-30 09:35] #2 closed

[2016-08-30 09:53] bebraw commented on #82
Reference by @danez:

* https://gist.github.com/jonmagic/5282384165e0f86ef105
* https://github.com/babel/phabricator-to-github/blob/master/src/github/api/importIssue.js

[2016-08-30 10:15] danez commented on #82
The only advantage of this new API is that there are no notifications triggered, and comments/issues will be dated like the real ones. If that is not a requirement, then the normal issue API might be better, as there are tools and libraries implementing it.

[2016-08-30 10:17] bebraw commented on #82
Given there are about sixty issues to move, a little notification storm doesn't hurt. Losing dates isn't a problem, but it would nice to retain the threads.

[2016-08-30 12:49] bebraw commented on #11
Done. Closing.

[2016-08-30 12:49] #11 closed

[2016-08-30 15:49] #24 closed

[2016-08-31 14:15] pksjce commented on #49
Trying to understand what would go under this topic? Isn't the chapter on loaders enough to get across the point? Could you give some pointers on the expected content here?

[2016-08-31 14:23] bebraw commented on #49
Yeah, that's a valid point. I renamed the issue to simply `Concepts - Modules`.

From webpack's point of view everything is literally a module. That's where the initial name came from.

Considering expected content, there probably isn't that much. This would be a good place to explain what type of modules webpack supports and what modules are.

[2016-08-31 18:39] bebraw opened #85 "Concepts - Hot Module Reloading"
Reference: https://stackoverflow.com/questions/24581873/what-exactly-is-hot-module-replacement-in-webpack/24587740#24587740 .

[2016-08-31 18:40] bebraw opened #86 "API - Hot Module Reloading"
Describe the hot module reloading interface and how it works in this article.

[2016-08-31 18:42] bebraw opened #87 "How to - Set Up HMR with React"
Vanilla React setup for with HMR.

PR #64 does this. Just need to simplify name a bit.

[2016-08-31 18:43] bebraw opened #88 "Guides - Set Up HMR with Redux"
Redux specific HMR setup.

[2016-08-31 18:46] #87 closed

[2016-09-02 05:05] bebraw opened #89 "Lint content"
I.e., use [markdownlint](https://github.com/DavidAnson/markdownlint) to capture most common issues (easier PRs). We should also check against `shell` and other highlighting options we support.

Related https://github.com/webpack/webpack.io/commit/27ac88298b2fc961e4bda388d71d7cca6c45a8e3 .

[2016-09-02 05:31] bebraw opened #90 "Contribute - Debugging with V8 Inspector"
**I'm submitting a feature request**

**Webpack version:**
1.10.x/2.x

**Current behavior:**
We don't have any documentation on how to use the new `node-nightly --inspect --debug-brk` feature with webpack. There are a few little details to implement so it is worth having documentation on it.

**Expected/desired behavior:**
Having a small section in documentation explaining how to leverage the powe

[2016-09-04 18:28] bebraw opened #91 "Integrate proselint with Travis"
[proselint](https://github.com/amperser/proselint/) can catch quite a few issues. It's not fool proof and it will give false positives, but it could be nice to set up regardless as it would save some effort.

[2016-09-05 06:53] ClementVidal commented on #12
Hi, I'd like to contribute to this page.
Appart from copy/pasting/formatting the above page, where can i get webpack2 specific informations ?
If the only way to go is to explore the code base, can you please direct me to a starting point for this topic ?
Thank you !

[2016-09-05 06:54] bebraw commented on #12
@ClementVidal Great! You can find the new resolution options [here](https://gist.github.com/sokra/27b24881210b56bbaff7#resolving-options). So you would have to port that over. 👍

[2016-09-05 06:59] ClementVidal commented on #12
@bebraw Thanks, Were can i ask for questions (if any) regarding that topics ? Directly in this issue ? Or is there a slack/gitter channel for that ?

[2016-09-05 08:51] bebraw commented on #12
@ClementVidal You should have mail. Thanks. 👍

[2016-09-05 14:11] bebraw opened #92 "Run ESLint against the code examples"
1. Glob all Markdown files.
2. Hook into marked lexer and extract code fragments. [Example](https://github.com/webpack/webpack.io/blob/develop/utilities/markdown.js).
3. Eliminate any custom markup (i.e., ellipsis).
4. Run eslint against the code fragments.

[2016-09-05 14:53] TheLarkInn opened #93 "Be able to sort articles inside of a folder (indexing system, etc.)"
As a documentation writer, I should have the ability to change the sorting display on the sidebar, so that articles that flow together can be adjacent to each other.  cc @bebraw

[2016-09-05 14:57] TheLarkInn opened #94 "Ability to tie related articles via metadata or md metadata."
As a content author, I would like to tie relevant API documentation, and further readings on pages. so that they show up in a consistent manner simply by updating markdown metadata.

[2016-09-05 15:01] TheLarkInn opened #95 "Add the ability to auto generate recognition information at the bottom of each document."
As a docs maintainer, I would like to incentivize people to write more documentation via public recognition on the documents they author.

This would probably be done through a script that finds which users have 'contributed' towards a certain document, and display this near the bottom of the page.

[2016-09-05 15:21] bebraw commented on #93
Yeah, we should agree on a way to approach this. A linked list would work. If you could add `next` field to meta and point to slug through that, that would be enough for sorting. Other ideas are welcome.

[2016-09-05 15:25] bebraw commented on #95
First part towards solving this would be to write a little snippet that digs the information from git history. There's likely a npm package that can do this. I remember using one in the past.

Once you have the information, you can generate a md5 based on email addresses attached to a file commits like this `crypto.createHash('md5').update(email).digest('hex')`. This in turn can be used to generat

[2016-09-05 16:16] bebraw commented on #92
It's likely best to adapt [eslint-plugin-markdown](https://github.com/eslint/eslint-plugin-markdown) for this purpose by the looks of it.

[2016-09-05 18:12] TheLarkInn commented on #91
Awesome! Yeah definitely.

[2016-09-05 18:17] bebraw commented on #91
If someone wants to give it a go, steps:

1. Figure out which rules to disable and set up proselint configuration accordingly.
2. Set up Travis to install and run proselint. You can install proselint through **pip**.

That's it.

I guess we can't expect contributors to have Python installed. At least PRs will get feedback from Travis, though, so there's that.

[2016-09-06 04:00] gregvenech commented on #93
Yeah I noticed this issue too when working on the Sidebar component. `next` might work or maybe an `order` field with the `title` in each article with a number determining the position. I can update #79 with a fix for this once the `pages` array is updated.

[2016-09-06 04:13] gregvenech commented on #25
@bebraw while working on this section, I noticed that our markdown parser doesn't accept:

[code]

Is this intentional? I find this feature super helpful when adding long external links... it doesn't bother me as much to inline the in-site links.

[2016-09-06 04:20] bebraw commented on #25
Yeah. Footnotes aren't a good idea on the web. Hard to lay out, bad UX. It's better to use `T>` and `W>` for secondary information.

[2016-09-06 04:26] gregvenech commented on #25
I don't mean actually having the links at the bottom of the page, I just mean separating out long links to make the markdown more readable. What the user sees is unchanged by this, i.e. `[link][1]` and `[link](http://example.com/path/to/my/page)` yield the same result when used in markdown but the first makes paragraphs containing multiple links much easier to read and edit.

[2016-09-06 04:29] bebraw commented on #25
Ah, like that. If [marked](https://www.npmjs.com/package/marked) doesn't support that syntax by default, then you'll probably need a syntax extension for that purpose.

[2016-09-06 04:30] gregvenech commented on #25
Ok I'll try to look into that.

[2016-09-06 04:41] gregvenech commented on #25
Looks like a [bug](https://github.com/chjj/marked/issues/310) which isn't fully addressed yet (although that issue says it was in `0.3.2`).

[2016-09-06 05:06] TheLarkInn commented on #8
@bebraw before I start actively tackling this doc. I was curious, do we want to give the three ways to define the entry points as seen in the stub?

* Single Entry (`string`)
* Multi-main entry (`string[]`)
* Multi-entry (`{[key string: string|string[]]}`)

Since this document is supposed to help people understand _why_, my opinion is always to use the object syntax, so I'm having a hard time expl

[2016-09-06 05:08] TheLarkInn commented on #8
I suppose the typedef would look more like:

`entry: string|string[]|{[key: string]: string|string[]}`

[2016-09-06 05:26] TheLarkInn commented on #92
<img width="913" alt="screen shot 2016-09-06 at 12 24 39 am" src="https://cloud.githubusercontent.com/assets/3408176/18262567/6e853fee-73c8-11e6-85e7-128a1d67a416.png">
Looks like I was able to get it to run. Pretty slick.

[2016-09-06 05:45] bebraw commented on #8
I would default to object syntax unless there's some serious handicap I'm not aware of (check with Tobias). Convenience forms can be mentioned at the entry concept docs.

[2016-09-06 11:15] pksjce commented on #91
Can you check #96 ? I'm not really sure how to integrate with Travis properly. Ideally I want it to show the warnings on Travis but not fail there.

[2016-09-06 18:31] TheLarkInn commented on #92
I'm going to PR this. Pretty minor.

[2016-09-06 18:39] #92 closed

[2016-09-07 11:33] pksjce opened #98 "Need of more user friendly info about chunking"
_From @budarin on August 7, 2015 9:28_

There are lot of samples without usefull info fo novices in WebPack.
The information is short and not understandable for novices
There are plenty of questions out of the board...(

Please do not use abstract modules for samples - use real cases fo review

_Copied from original issue: webpack/webpack#1330_

[2016-09-07 11:33] pksjce commented on #98
_From @shama on August 21, 2015 2:15_

Just want to point out the documentation is freely editable here https://github.com/webpack/docs/wiki/contents if you wanted to help out with this effort. Thanks!

[2016-09-07 11:34] #98 closed

[2016-09-07 11:36] pksjce commented on #98
This was created using [https://github-issue-mover.appspot.com/](https://github-issue-mover.appspot.com/)

[2016-09-07 11:38] bebraw commented on #98
@pksjce Looks good enough for migrating issues.

[2016-09-07 11:47] pksjce commented on #82
#98 is something I was able to create with [https://github-issue-mover.appspot.com/](https://github-issue-mover.appspot.com/) . Is that something that you expected?
It also adds a comment and ref to the original issue [#1330](https://github.com/webpack/webpack/issues/1330)

[2016-09-07 11:50] pksjce commented on #98
Okay then, I ll leave this issue out for now and try to migrate the rest.

[2016-09-07 11:51] pksjce opened #99 "Docs: "How to write a plugin""
_From @IngwiePhoenix on April 23, 2015 22:2_

I just noticed, that the "How to write a plugin" page was not linked yet, having me guess it wasn't done just yet. So I thought I'd give in a few questions that I, as a user/developer, would have when asking about how this is done:

- Which phases of the compiler can we tap into?
- What can we manipulate and how?
- Can we inject loaders? This would be

[2016-09-07 11:51] pksjce commented on #99
_From @mtscout6 on April 24, 2015 1:16_

:+1:

[2016-09-07 11:51] pksjce commented on #99
_From @sokra on April 24, 2015 6:48_

There is a some information here: http://webpack.github.io/docs/plugins.html but propably a bit out-of date

[2016-09-07 11:51] pksjce commented on #99
_From @lemmy- on April 27, 2015 8:56_

:+1:

[2016-09-07 11:51] pksjce commented on #99
_From @IngwiePhoenix on May 5, 2015 18:55_

Bump o.o

[2016-09-07 11:52] pksjce opened #100 "Improve docs"
_From @shlomiassaf on November 14, 2015 1:37_

This is a proposal to improve documentation in the code.

Currently the documentation addresses "users" and not developers, this is great for spreading the word but it leaves an unmapped gap for contributors wanting to help.

Docs should be implemented in code comments.

We need several steps done:
* Decide on the documentation system
* Build document

[2016-09-07 11:52] pksjce commented on #100
_From @sokra on November 14, 2015 23:27_

:+1:

[2016-09-07 11:53] pksjce opened #101 "Need docs for plugin error handling"
_From @jasonkuhrt on April 4, 2015 17:8_

I am trying to write a plugin for Webpack but unable to find documentation regarding how its error handling is supposed to work. For example if my plugin has a compile error on some file type I presumably should catch it and give it to webpack to present to the user. I cannot find guides or docs about this.

_Copied from original issue: webpack/webpack#945

[2016-09-07 11:53] pksjce opened #102 "Profile Timings Question"
_From @iliakan on March 25, 2015 18:56_

I compile with `--profile` enabled.

Then `module.profile` stat equals an object like this `{ factory: 19265, dependencies: 166, building: 2288 } }`.

What does it mean? What denotes factory? dependencies? building?

_Copied from original issue: webpack/webpack#915_

[2016-09-07 11:53] pksjce commented on #102
_From @sokra on March 25, 2015 21:54_

factory = resolving
building = loaders + parsing
dependencies = time to process dependencies

[2016-09-07 11:53] pksjce commented on #102
_From @iliakan on March 25, 2015 21:57_

Can resolving take a lot?

[2016-09-07 11:53] pksjce commented on #102
_From @iliakan on March 26, 2015 7:13_

Recently my webpack build became very slow. Like 5 times slower.
I'm trying to discover why.

Resolving paths must be fast, not take 19 seconds.

[2016-09-07 11:54] pksjce opened #103 "Calling webpack(options, function(error) {}) never returns error, silently fails"
_From @DelvarWorld on March 12, 2015 0:6_

If your source JS is invalid (either from a syntax error or from a missing require), running webpack on the command line will correctly show the error, for example `Unexpected token`. However, when running something like this:

    webpack(config, function(err) {
        if(err) {
          console.log(err);
          throw err;
        }
    });

nothing

[2016-09-07 11:54] pksjce commented on #103
_From @sokra on March 12, 2015 11:27_

http://webpack.github.io/docs/node.js-api.html#error-handling

[code]

[2016-09-07 11:54] pksjce commented on #103
_From @DelvarWorld on March 12, 2015 21:46_

Ah, thank you! That didn't seem obvious since the very first example on that page makes it look like you can just do `function(err)`, with the "correct" way being a footnote :( that you wouldn't even know to look for. Either way, this doesn't seem properly "node-y" which passes *any* error as the first argument - I don't know what the webpack desired co

[2016-09-07 11:54] pksjce opened #104 "How to make the whole gulp abort when webpack has an error?"
_From @binarykitchen on February 17, 2015 21:11_

Hello guys

I have the gulp (pseudo)code below. But when an error occurs, i.E. a module couldn't be found due to a wrong path, then the error is shown on gulp BUT the gulp task continues.

What change is required to make the gulp task stop?

Thanks!

[code]

_Copied from original issue: webpack/webpack#797_

[2016-09-07 11:54] pksjce commented on #104
_From @sirlancelot on February 18, 2015 7:33_

Pass `err` in to `cb`

[code]

[2016-09-07 11:54] pksjce commented on #104
_From @binarykitchen on February 18, 2015 20:56_

Oh right, thanks man! You might want to add that to the documentation. Because I believe this is better behavior than `throw new gutil.PluginError('webpack', err);`?

[2016-09-07 11:54] pksjce commented on #104
_From @jhnns on February 18, 2015 23:58_

Go ahead, the documentation is editable for everyone :)

[2016-09-07 11:55] pksjce opened #105 "Automatic generated require.ensure() wrapper"
_From @cowwoc on January 28, 2015 23:52_

Looking at the `require.ensure()` code found at https://github.com/webpack/docs/wiki/code-splitting, is there a tool that will automatically generate a `require.ensure()` wrapper on behalf of the user?

Meaning, given:
[code]

the tool would scan for `require()` statements, and generate the following `output.js`:

[code]

This way, the end-user codes in te

[2016-09-07 11:55] pksjce commented on #105
_From @sirlancelot on January 29, 2015 1:15_

Webpack does it automatically, you can write `require.ensure([], function() { var a = require("module-a") })` and it will work just fine.

[2016-09-07 11:55] pksjce commented on #105
_From @cowwoc on January 29, 2015 1:18_

Excellent. Please add this to the documentation (ideally on https://github.com/webpack/docs/wiki/code-splitting).

On a sidenote, is it possible to omit `require.ensure()` altogether and have Webpack add that? In other words, what is the significance of the user adding this code himself/herself? Does it denote something to Webpack?

[2016-09-07 11:55] pksjce commented on #105
_From @sirlancelot on January 29, 2015 3:20_

You have to tell webpack where to split the bundle.

[2016-09-07 11:55] pksjce commented on #105
_From @cowwoc on January 29, 2015 4:42_

@sirlancelot Okay. Why/when would users want to populate the dependencies array of `require.ensure()` manually (instead of leaving it empty)? Is there a legitimate use-case for doing so?

[2016-09-07 11:55] pksjce opened #106 "API - "External requires" Clarification"
_From @ghostwords on December 3, 2014 14:30_

Hi, could you please expand on "do it like this" in the [docs for requiring modules at-will from outside the bundle](http://webpack.github.io/docs/webpack-for-browserify-users.html#external-requires)? I think an explanation of what the code snippets are and what they do would be great.

Do you suggest to build a bundle that will produce something like

[2016-09-07 11:56] pksjce opened #107 "require("child_process")"
_From @cowwoc on January 31, 2015 6:35_

I was attempting to package `stripe.js` when I ran across this line: https://github.com/stripe/stripe-node/blob/master/lib/stripe.js#L24

[code]

If I understand correctly, these are two built-in modules that ship with node.js. Isn't webpack supposed to be able to provide a web-equivalent?

What do you recommend I do in this case?

_Copied from original iss

[2016-09-07 11:56] pksjce commented on #107
_From @sokra on January 31, 2015 15:56_

Pretty difficult to spawn a process and access the filesystem in the web... So there is no replacement for these modules. Propably means you can't use this module in a browser...

[2016-09-07 11:56] pksjce commented on #107
_From @cowwoc on January 31, 2015 16:7_

What is the proper course of action?

I read elsewhere that I can do this:

[code]

but is there a better approach (keeping in mind that I can't modify the 3rd-party library)?

[2016-09-07 11:56] pksjce commented on #107
_From @sokra on January 31, 2015 16:11_

yes you can do that and hope that the module doesn't use any of the methods from this modules.

The proper course is the ask the module author to make the module browser compatible. The author can add `browser: { fs: false, child_process: false }` to the `package.json` to tell webpack that it's ok for the module to get an empty object for these modules.

[2016-09-07 11:56] pksjce commented on #107
_From @cowwoc on January 31, 2015 16:54_

Sounds good.

Is it possible to add this to the official documentation (i.e. "How to handle 3rd-party libraries with unresolved dependencies")? Otherwise, I assume other users will open issues asking the same question for different libraries.

[2016-09-07 11:56] pksjce commented on #107
_From @sheerun on November 26, 2015 13:58_

If you build for electron, you can add child_process to external modules

[2016-09-07 11:57] pksjce opened #108 "CHANGELOG.md ?"
_From @Ceane on January 23, 2015 20:3_

The Changelog is buried away on the site, would you consider moving it to the top of the repo?

_Copied from original issue: webpack/webpack#715_

[2016-09-07 11:58] pksjce commented on #108
_From @jkimbo on January 27, 2015 14:17_

+1

[2016-09-07 11:58] pksjce commented on #108
_From @DarkPark on February 2, 2015 9:33_

would be very nice to add such information in each [release](https://github.com/webpack/webpack/releases) as it's not clear how to migrate from version to version and are there any breaking changes

[2016-09-07 11:58] pksjce commented on #108
_From @warrenrumak on February 6, 2015 23:45_

+1, changelogs and release notes are vital to the principles of open source software. It should be considered a point of pride to show off the work you've done, not a chore.

[2016-09-07 11:58] pksjce commented on #108
_From @warrenrumak on November 18, 2015 4:3_

Is closing this with no comment an acknowledgement that the webpack authors have chosen to not have a CHANGELOG.md file like most other popular open-source projects?

[2016-09-07 11:58] pksjce commented on #108
_From @DarkPark on November 18, 2015 8:14_

very strange decision

[2016-09-07 11:58] pksjce commented on #108
_From @Ceane on November 20, 2015 23:21_

I closed it because no one took it up. I should have done this a while back but now I am submitting two top level CHANGELOGs to the repo, one for 1.12.0 and above and one for pre 1.12 releases. The regular CHANGELOG.md is will mirror the format of Babel's CHANGELOG and the other one with older releases will mirror the existing CHANGELOG. Seeing that there

[2016-09-07 11:58] pksjce commented on #108
_From @sokra on November 21, 2015 20:32_

Is it really a problem for you that the changelog is a [wiki page](http://webpack.github.io/docs/changelog.html) instead of a markdown in the repo?

For me it is easier to have it in the wiki, because a changelog in the repo would force me to update it with every release and I don't have the time to do this. I would rather update it in batches when I have

[2016-09-07 11:58] pksjce commented on #108
_From @DarkPark on November 22, 2015 9:20_

It's not a problem as long as there is a changelog somewhere.
Though there is a common way to have `changelog.md` in the project root or history details in each release (e.g. https://github.com/DarkPark/stb/releases)

[2016-09-07 11:58] pksjce commented on #108
_From @warrenrumak on November 22, 2015 19:45_

@sokra Whether it's easy for you to maintain is not the issue here.  You're building software that other people use and depend on.  It's time to think about how the work you do is presented and understood by others, not just what is personally convenient and saves you, what, a few minutes a month, if that?

Those of us who build applications for a li

[2016-09-07 11:58] pksjce commented on #108
_From @sapegin on November 23, 2015 13:48_

And don’t forget about tools like [npm-upgrade](https://github.com/th0r/npm-upgrade) which open change logs automatically. They couldn’t find change log somewhere in unusual location like a wiki on a site.

[2016-09-07 11:58] pksjce commented on #108
_From @mik01aj on November 23, 2015 15:50_

+1. Release notifications from [Sibbell](https://sibbell.com/about/) will get more meaningful then. Right now they show the package description instead of the changes:

![image](https://cloud.githubusercontent.com/assets/3027415/11341357/78b3fe86-9202-11e5-8e17-5f31fb3353f7.png)

[2016-09-07 11:58] pksjce commented on #108
_From @Ceane on November 23, 2015 16:49_

@sokra The reason I introduced it is because it mirrors other open source projects and I think that the community here welcome this change, as I see less and less projects using Github Wiki pages. I really would like to thank you for this project, webpack has been a great tool. We're here to help, if allowed.

[2016-09-07 11:58] pksjce commented on #108
_From @leoselig on November 27, 2015 9:19_

+1 from our side too
webpack is awesome, maybe we can adjust the "public relations work" a little :P

[2016-09-07 11:58] pksjce opened #109 "Clarification for "output.libraryTarget" documentation"
_From @Daniel15 on December 1, 2015 5:20_

The documentation for `output.libraryTarget` says:

The "Except amd, ...." at the end confuses me, since `var`, `amd`, `commonjs2` and `umd` are four of the six available library targets, and they're all listed in the same sentence :smile: . Does it actually mean this:

Or does it mean that  `amd`, `commonjs2` and `umd` are treated some different way alto

[2016-09-07 11:58] pksjce commented on #109
_From @sokra on December 2, 2015 17:50_

`amd`: anonymous amd module.
`umd`:  not useful
`commonjs2` ignores the `output.library` property.

[2016-09-07 11:58] pksjce commented on #109
_From @sokra on December 2, 2015 17:50_

Could you update the documentation?

[2016-09-07 11:58] pksjce commented on #109
_From @Daniel15 on December 2, 2015 18:9_

Sure :) The reason I posted this issue was to make sure I completely understand how the `libraryTarget` option works, before updating the documentation. I didn't want to add any incorrect information.

[2016-09-07 11:59] pksjce opened #110 "Document a proper way to debug applications bundled by webpack"
_From @adamziel on November 19, 2015 12:12_

As far as I understand, right now the recommended way to debug are source maps in this mode:
`eval - Each module is executed with eval and`
There are a number of problems with using source maps in development:
1. Only some stacktraces are mapped using a source maps. Other are looking like this: `at eval (eval at <anonymous>  http://localhost:8082/js/app

[2016-09-07 11:59] pksjce commented on #110
_From @adamziel on November 19, 2015 16:21_

Similar issues:
https://github.com/webpack/webpack/issues/740
https://github.com/webpack/webpack/issues/1360

Related chrome issue:
https://code.google.com/p/chromium/issues/detail?id=376409

[2016-09-07 11:59] pksjce commented on #110
_From @adamziel on November 19, 2015 16:33_

Related firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=583083

[2016-09-07 11:59] pksjce commented on #110
_From @sokra on November 20, 2015 7:59_

That's something browser vendors have to solve. SourceMaps are made for this.

[2016-09-07 11:59] pksjce opened #111 "Duplicate loader test sections with alternate include/exclude paths"
_From @brandon-arnold on January 9, 2016 17:2_

Does anyone know why this isn't working?

I'd like Webpack to load one directory of```.scss``` files with ```sass-loader```, and the rest to use ```postcss-loader```. I figured I could just have two sections in my Webpack config that would test for ```/\.scss$/```, using ```exclude: [...bootstrap folder...]``` in the one that uses postcss and ```incl

[2016-09-07 11:59] pksjce commented on #111
_From @brandon-arnold on January 9, 2016 21:47_

I def think that @bebraw should have the final say in tagging these, but this seems like a bug with Webpack as I know numerous people find the description in the doc to be counter to how ```include```/```exclude``` actually works.

[2016-09-07 11:59] pksjce commented on #111
_From @bebraw on January 10, 2016 9:46_

@brandon-arnold Ok, changed to a bug. At the very least this is something that should be documented. Changing the behavior could break things for people.

[2016-09-07 11:59] pksjce commented on #111
_From @sokra on January 11, 2016 19:41_

You are `@import`ing "bootstrap" from `./src/components/App/App.scss`. `@import` is handled by postcss and is not handled by webpack.

[2016-09-07 11:59] pksjce commented on #111
_From @brandon-arnold on January 13, 2016 0:54_

@sokra: Well, it isn't supposed to be. My postcss configuration object has PostCSS-Import forwarding everything to Webpack. But I will ask the PostCSS guys, then.

[2016-09-07 11:59] pksjce opened #112 "[Doc] is there a design document about webpack philosophy?"
_From @e-cloud on February 26, 2016 13:35_

i have been using webpack for a while and learned a lot of tutorial about how to use webpack and config it.
Now, i want to **dive** into its core and figure out its **excellent philosophy**.  But, yet i haven't found any blog or document with deep explanation in general.

So, i want to learn it from source code. However, i also found the `sloc` are nearl

[2016-09-07 12:00] pksjce commented on #112
_From @JohnnyZhao on March 2, 2016 6:38_

I need this documentation, too. Any suggested articles? Thanks.

[2016-09-07 12:00] pksjce opened #113 "Create Webpack.config.js file for users to learn from"
_From @ev1stensberg on March 14, 2016 19:47_

Create A webpack.config file for users to know how to set up a loader from the config and compile from the config.js file. [https://github.com/webpack/webpack/tree/master/examples/code-splitting-bundle-loader]

_Copied from original issue: webpack/webpack#2184_

[2016-09-07 12:00] pksjce opened #114 "Create a tutorial on how to set up a boilerplate"
_From @ev1stensberg on March 14, 2016 19:52_

Create an offical example of a multiple page App with css loaders, json loaders and so on with detail on walkthrough, for user to understand content from a regular aspect (not that abstract)

_Copied from original issue: webpack/webpack#2185_

[2016-09-07 12:00] pksjce opened #115 "Maybe, there needs some code analysis direction in wikis or docs."
_From @whtoo on March 24, 2016 7:51_

Thanks to your work on webpack.In fact,I'd like to use it and write a bit of loaders.
But when I dig up,I find **the code logic of webpack is so _twisted_**!
Therefore,please give some attention to this issue and write some wikis for introducing
webpack to dev.

_Copied from original issue: webpack/webpack#2227_

[2016-09-07 12:02] pksjce opened #116 "API - Clarify Pitch vs Normal Loader"
_From @gaearon on July 15, 2014 8:10_

I'd submit a PR but honestly, having written two loaders, I'm not sure I really understand what a pitch loader is.

Is my understanding correct here:
- normal loaders always transform the source and thus rely on previous loader's output
- pitch loaders don't depend on the source itself and are happy with being given just a module name (that they can require),

[2016-09-07 12:02] pksjce commented on #116
_From @jhnns on July 15, 2014 10:2_

The loader api is pretty confusing imho. Maybe it should be streamlined someday? :smile:

[2016-09-07 12:02] pksjce commented on #116
_From @sokra on July 15, 2014 13:12_

@gaearon correct.

It's like the two phases of event bubbling...

`a!b!c!resource`

* pitch `a`
  * pitch `b`
    * pitch `c`
      * read file `resource` (adds `resource` to dependencies)
    * run `c`
  * run `b`
* run `a`

When a loader return something in the pitch phase the process continues with the normal phase of the next loader... Example:

* pitch `a

[2016-09-07 12:02] pksjce commented on #116
_From @jhnns on July 15, 2014 13:57_

What's the use-case for this behavior?

[2016-09-07 12:02] pksjce commented on #116
_From @dashed on July 15, 2014 18:14_

@jhnns If I recall, better documentation is one of the objectives of webpack 1.0, if not 1.x. So it's good to address it asap.

Perhaps if we create an issue to consolidate any and all terminology used in the docs/source code?

I've yet to thoroughly use all the loader concepts. From @sokra's clarification, it seems 'pitch loader' is something of a 'staging'

[2016-09-07 12:02] pksjce commented on #116
_From @sokra on July 15, 2014 19:0_

@jhnns You can/should use it if you don't want to modify the source code, but just insert a module in front for the module. i. e. the `bundle-loader` uses this.

@Dashed yes, `pitch` is propably a bad word here... maybe `capture` is the better word (similar to the capturing phase of DOM events). I think we can rename it if we can agree on a name...

[2016-09-07 12:02] pksjce commented on #116
_From @jhnns on July 15, 2014 19:53_

`capture` and `bubbling` phase seems pretty straight-forward - at least to me. But it might be confusing since loaders are not DOM objects :wink:. What do the others say?

[2016-09-07 12:03] pksjce commented on #116
_From @gaearon on July 15, 2014 20:40_

I get the capture/bubbling metaphor but I'm not sure I understand the use cases yet. It would help to have a page explaining how several different loaders work together and why having these different phases is useful.

[2016-09-07 12:03] pksjce commented on #116
_From @dashed on July 15, 2014 22:37_

I think, overall, the loader docs needs some overhaul.

Concepts and ideas are pretty much introduced as examples, and assumes prior knowledge: http://webpack.github.io/docs/loaders.html#examples

The loader docs should have sub-sections as follows:
- **execution flow:** async and sync
- **loader stages/phases:** pitch and run (normal loader)
- **content feed

[2016-09-07 12:03] pksjce commented on #116
_From @gaearon on October 28, 2014 9:34_

I feel loaders are most naturally explained as middleware for `require`.

[2016-09-07 12:03] pksjce commented on #116
_From @adjavaherian on July 30, 2015 17:46_

I've been writing a plugin and a loader and its nearly impossible to understand how to do this given the current documentation, that's probably why there around 10x as many browserify plugins in comparison.  It took me a day to write a meaningful browserify plugin and a week to do the same in webpack, and I'm still stuck.  I've literally been writing th

[2016-09-07 12:03] pksjce commented on #116
_From @mik01aj on November 12, 2015 14:24_

+1 +1 +1. Have the same experience. I would love to read some better documentation about it.

[2016-09-07 12:03] pksjce commented on #116
_From @IngwiePhoenix on November 12, 2015 14:53_

Yup. The docs are usually what people actually leads into mislead information. I have been doing a lot of supportive work on Gitter lately - and i would find myself grabbing paragraphs of docs and link these specific paragraphs, and the uses would be like "Oh! I _totally_ oversaw that."

Loaders are generally OK with their explanation, but the deep

[2016-09-07 12:03] pksjce commented on #116
_From @jhnns on November 12, 2015 14:58_

I totally agree :+1:

[2016-09-07 12:03] pksjce commented on #116
_From @amireh on March 30, 2016 10:59_

Sorry to resurrect an old thread. Sokra's comment in this thread on how the pitch phase works is invaluable and I believe should be added to the docs!

I'm trying to add support for pitching loaders in happypack (see https://github.com/amireh/happypack/pull/15) and now I realize after reading this thread and receiving some comments that there are also `preLo

[2016-09-07 12:04] pksjce opened #117 "webpack-dev-server example code requires JADE plugin"
_From @dkts on April 11, 2016 18:11_

The following webpack-dev-server example from the [documentation](https://webpack.github.io/docs/webpack-dev-server.html)
[code]
may not work in standard configurations because the (implicitly used) `index.js` file needs a jade processor to compile properly.

Since the webpack-dev-server package already has a prepublish hook to generate an `index.bundle.js` in

[2016-09-07 12:04] pksjce opened #118 "webpack -d devtool default is not overridden in config"
_From @javascriptjedi on April 11, 2016 19:36_

From the docs it states:

"Note: With the next major version the default for -d will change to cheap-module-eval-source-map"

The behavior I'm seeing is the devtool config is ignored if I run webpack -d, it is honored if I just run webpack. The docs make it sound like cheap-module-eval-source-map is just a default and I would expect the config to be

[2016-09-07 12:05] pksjce commented on #118
_From @sokra on April 13, 2016 7:26_

CLI options override the configuration options. So `-d` overrides `devtool: ...`.

`--devtool eval` overrides `-d`.

[2016-09-07 12:05] pksjce opened #119 "webpack watch doesn't work with cifs share windows folder"
_From @hellolwq on April 18, 2016 1:23_

development enviroment under linux,use cifs  share  windows folder,webpack watch does not work.

_Copied from original issue: webpack/webpack#2351_

[2016-09-07 12:05] pksjce commented on #119
_From @sokra on April 20, 2016 21:13_

Yeah the normal watching doesn't work on shares. You need to use the polling mode on shares...

[2016-09-07 12:05] pksjce opened #120 "Pragma style with eval-source-map devtool does not follow documentation"
_From @keirlawson on January 8, 2016 10:14_

Documentation states that the pragma style for source maps defaults to #, yet I'm finding with Webpack 1.12.10 with devtool set to eval-source-map, the pragma style seems to default to @, causing Firefox to complain:

`Using //@ to indicate sourceMappingURL pragmas is deprecated. Use //# instead`

_Copied from original issue: webpack/webpack#1865_

[2016-09-07 12:06] pksjce commented on #120
_From @sokra on January 8, 2016 16:23_

Propably already updated for webpack 2...

You can specify: `devtool: "#eval-source-map"`

[2016-09-07 12:06] pksjce commented on #120
_From @cageygee3 on March 30, 2016 19:5_

I'm also seeing this. Adding a hash to the front of the `devtool` setting string does fix the problem, but indicates that the documentation is wrong about the default.

[2016-09-07 12:07] pksjce commented on #120
_From @irnc on May 4, 2016 14:47_

I updated documentation to clarify defaults for each major version. Change could be seen at https://github.com/webpack/docs/wiki/configuration/_compare/207d9e5b0e8d69b1bdd15675e1fb5a40ab29457c...3c4be00157ddad325e3aa52e2d99a01accfcb6b2

@sokra Could you please review and publish that change?

[2016-09-07 12:10] pksjce opened #121 "No Dash Docset available"
_From @likeabbas on May 19, 2016 23:9_

This isn't _that_ high priority but it would be wonderful if the docset could be ported to Dash :)

https://kapeli.com/docsets

_Copied from original issue: webpack/webpack#2521_

[2016-09-07 12:10] pksjce commented on #121
_From @TheLarkInn on May 21, 2016 0:43_

@bebraw I think one we restructure the initial documentation this could be a future down the road.

[2016-09-07 12:10] pksjce opened #122 "Webpack 2 + System.import: default export has to be read with .default"
_From @Kovensky on March 15, 2016 7:12_

Snippet demonstrating the issue:

[code]

The following code gets generated in webpack's chunk containing `test.js`:
[code]

This behaves differently from when you use `import Test from './test'`, as when you use such a static import you can then call `new Test()` instead of having to call `new Test.default()`.

I also considered this might be an issue with

[2016-09-07 12:10] pksjce commented on #122
_From @Kovensky on March 15, 2016 7:24_

Hm, I just noticed that this basically has the same behavior as `import * as Test from './test'`. In this case, I would still have to access `Test.default` to get at the default export.

Thus, I suppose this is only a documentation (or expectation) issue.

[2016-09-07 12:10] pksjce commented on #122
_From @helloyou2012 on March 17, 2016 9:4_

@Kovensky ,  I use this plugin to solve this problem: https://github.com/59naga/babel-plugin-add-module-exports

[2016-09-07 12:10] pksjce commented on #122
_From @sokra on March 30, 2016 17:31_

Yep, working as intended.

[2016-09-07 12:10] pksjce commented on #122
_From @sokra on March 30, 2016 17:32_

I don't recommend this. babel had good reasons for no longer doing so.

[2016-09-07 12:10] pksjce commented on #122
_From @hkrutzer on May 31, 2016 23:18_

Take a look at https://medium.com/@kentcdodds/misunderstanding-es6-modules-upgrading-babel-tears-and-a-solution-ad2d5ab93ce0

[2016-09-07 12:10] pksjce opened #123 "If omitted all chunks are used?? Could you explain what do you mean?"
_From @wzup on August 1, 2016 9:27_

Could you please elaborate what you actually meant?

**CommonsChunkPlugin**

At first read this, bold and italic part:

Now read this, bold and italic part:

And a question is.
How can you create a child of something that is omitted, that doesn't exist?
1. If `options.name` or  `options.names`  is omitted and `options.async` is set
2. If  `options.async` is `tr

[2016-09-07 12:10] pksjce commented on #123
_From @sokra on September 1, 2016 19:9_

If
* `name`(s) is not set
* `async` or `children` is true

then

all chunks are used by the CommonChunkPlugin.

The CommonsChunkPlugin iterates over all chunks of the compilation and does it job. It checks for common modules in the children of the chunk and creates an async chunk with the common modules.

[2016-09-07 12:12] pksjce opened #124 "Docs need to force https. Disqus tracks both separately."
_From @k-funk on July 11, 2016 19:13_

Bug:
Current behavior: Different Disqus comments depending on usage of http/https.
Reproduce: visit both links, view Disqus comments

* https://webpack.github.io/docs/usage-with-gulp.html
* http://webpack.github.io/docs/usage-with-gulp.html

_Copied from original issue: webpack/webpack#2758_

[2016-09-07 12:12] pksjce opened #125 "compiler watchOptions are ignored in compiler.watch"
_From @DarkPark on January 29, 2016 9:12_

I have a compiler with watch options:

[code]

then I start watching:

[code]

it would be nice to be able to just start watching as it has all the necessary info:

[code]

or even without callback as I may not need error/stats info:

[code]

_Copied from original issue: webpack/webpack#1951_

[2016-09-07 12:12] pksjce commented on #125
_From @sokra on January 30, 2016 8:53_

You don't need the `watchOptions` in the configuration. You only need to provide it in the watch call.

`watchOptions` in configuration is only used by the CLI. Just like the `devServer` key which is only used by the dev server CLI.

[2016-09-07 12:12] pksjce commented on #125
_From @DarkPark on January 30, 2016 9:17_

@sokra quote from documentation:
"(only used when using CLI or simple node.js API)"
and I exactly use it in simple node.js API.

From architectural point of view maybe it's reasonable to split page configuration to a couple of config files.

[2016-09-07 12:12] pksjce commented on #125
_From @sokra on January 30, 2016 10:52_

yep thanks, I changed the documentation.

[2016-09-07 12:12] pksjce commented on #125
_From @DarkPark on January 30, 2016 12:23_

It is still confusing.
The whole page https://webpack.github.io/docs/configuration.html is clearly about the single configuration object passed to webpack.
It's rather strange to describe some options among compiler options but forbid to use these options for compiler.

[2016-09-07 12:13] pksjce opened #126 "Plugins - Document the PrefetchPlugin"
_From @halt-hammerzeit on October 29, 2015 12:30_

It says:

[code]

I don't see how it can boost performance.
Why is a nested `require()` much slower than the same root level `require()`?

_Copied from original issue: webpack/webpack#1566_

[2016-09-07 12:13] pksjce commented on #126
_From @aackerman on October 29, 2015 12:35_

The plugin is for prefetching assets over the wire before the require is executed. For example prefetching code to render a different view in a single-page app. So while a user is looking at the current page the code for another page that is not in the original page payload is downloaded before the user attempts to navigate to that page.

[2016-09-07 12:13] pksjce commented on #126
_From @halt-hammerzeit on October 29, 2015 13:0_

@aackerman oh, that makes sense. But how does it boost Webpack build performance? (as per Analyse Tool hints)

[code]

[2016-09-07 12:13] pksjce commented on #126
_From @aackerman on October 29, 2015 13:8_

That part is pretty unclear to me, check this out. http://stackoverflow.com/questions/32923085/how-to-optimize-webpacks-build-time-using-prefetchplugin-analyse-tool

[2016-09-07 12:13] pksjce commented on #126
_From @halt-hammerzeit on October 29, 2015 13:10_

@aackerman
ha ha, actually, I've already linked this discussion from that stackoverflow question:
http://stackoverflow.com/a/33415019/970769

I thought that maybe @sokra would answer if he wrote that thing

[2016-09-07 12:13] pksjce commented on #126
_From @eladmoshe on February 1, 2016 12:45_

+1

[2016-09-07 12:13] pksjce commented on #126
_From @loopmode on May 12, 2016 0:12_

+1

[2016-09-07 12:13] pksjce commented on #126
_From @pizza2code on June 30, 2016 13:48_

+1

[2016-09-07 12:13] pksjce commented on #126
_From @octatone on July 1, 2016 19:18_

+1

[2016-09-07 12:13] pksjce commented on #126
_From @DontRelaX on July 5, 2016 9:26_

+1

[2016-09-07 12:13] pksjce commented on #126
_From @elektronik2k5 on July 6, 2016 7:15_

+1

[2016-09-07 12:13] pksjce commented on #126
_From @pigcan on August 3, 2016 8:51_

+1

[2016-09-07 12:13] pksjce commented on #126
_From @TheLarkInn on August 18, 2016 17:6_

@sokra heh I think we need more than a few lines to explain how this one works on our docs.

[2016-09-07 12:13] pksjce commented on #126
_From @epikhighs on September 3, 2016 0:24_

uhm... so does this really do anything?  does it help w/ recompile times?

[2016-09-07 12:13] pksjce commented on #126
_From @jakwuh on September 3, 2016 17:16_

@sokra please, write a small note on this

[2016-09-07 12:13] pksjce commented on #126
_From @Kovensky on September 5, 2016 5:2_

I tried reading through the code, but all I can find is it setting some flags in the internal module object (prefetch or prefetched), but nothing that actually _reads_ those flags 😕

The only guess I can make for what it's supposed to do, from the documentation, is that if the specified module would've been split into a separate chunk (via e.g. `require.e

[2016-09-07 12:13] pksjce commented on #126
_From @jakwuh on September 5, 2016 8:8_

@Kovensky from what I see that's not totally correct.

Actually, PrefetchPlugin does nothing with bundles and chunks. It only `prefetches` module during compilation (as well as in watch mode) but does not include them into any chunks. I guess this is for the sake of performance. AutomaticPrefetchPlugin is a great example of usage prefetching.

[2016-09-07 12:13] pksjce commented on #126
_From @Kovensky on September 5, 2016 8:22_

I am not sure what kind of gain would that sort of prefetching do, unless you're compiling in a distributed filesystem or some other case where I/O is the bottleneck in the compilation...

[2016-09-07 12:13] pksjce commented on #126
_From @jakwuh on September 5, 2016 8:33_

@Kovensky sure, that's the question for @sokra

[2016-09-07 12:13] pksjce commented on #126
_From @andreypopp on September 5, 2016 9:58_

I think prefetching would shine if we are able to achieve CPU saturation: what about trying this with happypack?

[2016-09-07 12:13] pksjce commented on #126
_From @sokra on September 5, 2016 10:50_

[2016-09-07 12:13] pksjce commented on #126
_From @Kovensky on September 5, 2016 11:2_

@sokra but how does what it does help performance?

[2016-09-07 12:13] pksjce commented on #126
_From @sokra on September 5, 2016 11:51_

long chains of requires can form a chain where webpack will know about the last module very late. This could slow down the compilation because webpack has to wait for I/O (esp. resolving). The PrefetchPlugin starts modules earlier so I/O is less an concern.

[2016-09-07 12:13] pksjce commented on #126
_From @Kovensky on September 5, 2016 12:47_

I also realized that, for my speculated use case of prefetching chunks, you can just do that without needing any plugins by doing a `require.resolve` call that does nothing with the resolved modules.

PS: I never actually used `require.resolve` 😕

[2016-09-07 12:13] pksjce commented on #126
_From @sokra on September 5, 2016 13:29_

`require.resolve` include the module in the chunk.

[2016-09-07 12:13] pksjce opened #127 "Need of more user friendly info about chunking"
_From @budarin on August 7, 2015 9:28_

There are lot of samples without usefull info fo novices in WebPack.
The information is short and not understandable for novices
There are plenty of questions out of the board...(

Please do not use abstract modules for samples - use real cases fo review

_Copied from original issue: webpack/webpack#1330_

[2016-09-07 12:13] pksjce commented on #127
_From @shama on August 21, 2015 2:15_

Just want to point out the documentation is freely editable here https://github.com/webpack/docs/wiki/contents if you wanted to help out with this effort. Thanks!

[2016-09-07 12:13] pksjce opened #128 "How to write a plugin"
_From @IngwiePhoenix on April 23, 2015 22:2_

I just noticed, that the "How to write a plugin" page was not linked yet, having me guess it wasn't done just yet. So I thought I'd give in a few questions that I, as a user/developer, would have when asking about how this is done:
- Which phases of the compiler can we tap into?
- What can we manipulate and how?
- Can we inject loaders? This would be h

[2016-09-07 12:13] pksjce commented on #128
_From @mtscout6 on April 24, 2015 1:16_

:+1:

[2016-09-07 12:13] pksjce commented on #128
_From @sokra on April 24, 2015 6:48_

There is a some information here: http://webpack.github.io/docs/plugins.html but propably a bit out-of date

[2016-09-07 12:13] pksjce commented on #128
_From @lemmy- on April 27, 2015 8:56_

:+1:

[2016-09-07 12:13] pksjce commented on #128
_From @IngwiePhoenix on May 5, 2015 18:55_

Bump o.o

[2016-09-07 12:13] pksjce commented on #128
This issue was moved to webpack/webpack.io#99

[2016-09-07 12:13] pksjce opened #129 "Improve docs"
_From @shlomiassaf on November 14, 2015 1:37_

This is a proposal to improve documentation in the code.

Currently the documentation addresses "users" and not developers, this is great for spreading the word but it leaves an unmapped gap for contributors wanting to help.

Docs should be implemented in code comments.

We need several steps done:
* Decide on the documentation system
* Build document

[2016-09-07 12:14] pksjce commented on #129
_From @sokra on November 14, 2015 23:27_

:+1:

[2016-09-07 12:14] pksjce commented on #129
This issue was moved to webpack/webpack.io#100

[2016-09-07 12:14] pksjce opened #130 "Need docs for plugin error handling"
_From @jasonkuhrt on April 4, 2015 17:8_

I am trying to write a plugin for Webpack but unable to find documentation regarding how its error handling is supposed to work. For example if my plugin has a compile error on some file type I presumably should catch it and give it to webpack to present to the user. I cannot find guides or docs about this.

_Copied from original issue: webpack/webpack#945

[2016-09-07 12:14] pksjce commented on #130
This issue was moved to webpack/webpack.io#101

[2016-09-07 12:15] pksjce opened #131 "Document what changes a hash/chunkhash"
_From @virajsanghvi on September 30, 2015 23:5_

I've been encountering some weirdness with hashes. They always seem to change with content changes, but not always with loader/plugin changes (e.g. BannerPlugin). This leads to problems when pushing to CDNs. There are many issues that have been opened related to this, but I'm just wondering: what is the expectation for when hashes change? Should any

[2016-09-07 12:15] pksjce commented on #131
_From @virajsanghvi on October 1, 2015 23:38_

I got around my problem by adding a part to filenames that I control (e.g. an incrementing counter) that I can use to bust caches.

My main problem now, though, is that it looks like the UglifyJS plugin is not determinate in how it minifies the output. In one instance, the chunkhash is the same, and the only difference is that the top closure has diff

[2016-09-07 12:15] pksjce commented on #131
_From @bebraw on October 2, 2015 5:14_

This might be related to #1479, #1461, and #1315. There's something going on with hashing unfortunately.

[2016-09-07 12:15] pksjce commented on #131
_From @dmitry on October 2, 2015 14:48_

That would be great to document what changes a hash and chunkhash. I've tried to debug, but I found not all the points which are affecting. Main modificators are located here: https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L765

[2016-09-07 12:15] pksjce commented on #131
_From @virajsanghvi on October 13, 2015 1:32_

Opened #1510 to deal with UglifyJsPlugin issues.

Outside of this, it does seem like any plugin after 'after-hash' will not contribute to the hash/chunkhash, but I'm handling those issues via an incremented cache buster that I plan to use on webpack configuration changes.

[2016-09-07 12:15] pksjce opened #132 "Config - Auxiliary Comments for UMD Builds"
_From @TheLarkInn on June 9, 2016 5:53_

This is a reminder/placeholder to add documentation for https://github.com/webpack/webpack/pull/2113

Can assign to me or PR's welcome.
- [ ] Add documentation on githubio page
- [ ] Add examples in examples page
- [ ] Add to wiki

_Copied from original issue: webpack/webpack#2623_

[2016-09-07 12:16] pksjce opened #133 "Add an option to disable compilation of source code into sourcemap."
_From @baseten on June 20, 2016 13:24_
# I'm submitting a...
- [ ] bug report
- [x] feature request
- [ ] support request

**Webpack version:**
1.12.14

**Please tell us about your environment:**
OSX 10.11.3

**Current behavior:**
When creating sourcemaps with the `source-map` devtool, Chrome fails to parse them intermittently and even when it does, doesn't always load the correct source file duri

[2016-09-07 12:16] pksjce commented on #133
_From @sokra on June 20, 2016 16:37_

There is already an option: https://github.com/webpack/webpack/blob/master/lib/SourceMapDevToolPlugin.js#L117

`noSources: true`

[2016-09-07 12:16] pksjce commented on #133
_From @baseten on June 21, 2016 9:31_

Ah... We're running on a corporate npm registry which doesn't have the latest webpack in it!

I even spent a while looking through (our local copy of) this file looking for this option. Looks like it was only added a couple of months ago?

Might be helpful if it was added to [the docs](https://webpack.github.io/docs/list-of-plugins.html#sourcemapdevtoolplugin

[2016-09-07 12:16] pksjce opened #134 "docs on bundles, chunks, long term caching"
_From @greaber on June 25, 2016 17:15_

I'm posting this because I think I understand something about webpack, but I'm not sure, and whether I am right or not, I think the docs could be improved.

I have been using webpack for several months, and I was hazy for a long time about the difference between chunks and bundles.  As I now understand it, though, it is pretty simple.  a chunk is just any ou

[2016-09-07 12:16] pksjce opened #135 "Issue with absolute path resolved as relative"
_From @hackfaq on July 15, 2016 8:59_

Hello, I have found that issue #109  is not resolved.

Have expirienced the same problem as author of #109 , please update docs for resolve.alias, as path with "/.../ not works as relative.

_Copied from original issue: webpack/webpack#2773_

[2016-09-07 12:17] pksjce opened #136 "[StackOverflow] Uncaught RangeError: Maximum call stack size exceeded"
_From @despairblue on November 3, 2015 19:39_

[code]

What happens is that after a successful hot reload, [webpackHotUpdateCallback](https://github.com/webpack/webpack/blob/9f440e30ecac00bfc27b91d372a969d3414d194c/lib/JsonpMainTemplate.runtime.js#L7) keeps calling [hotAddUpdateChunk](https://github.com/webpack/webpack/blob/9f440e30ecac00bfc27b91d372a969d3414d194c/lib/HotModuleReplacement.runtime.

[2016-09-07 12:17] pksjce commented on #136
_From @despairblue on November 3, 2015 23:1_

This happens when starting the dev server with `--hot` and also having `webpack/hot/only-dev-server'` in your entry array in `webpack.config.js`. Then the hot loading snippet is sourced twice creating this ping pong effect that keeps calling those two functions.

[2016-09-07 12:17] pksjce commented on #136
_From @despairblue on November 3, 2015 23:6_

This also leads to things like:
[code]
compiling into:
[code]

[2016-09-07 12:17] pksjce commented on #136
_From @despairblue on November 3, 2015 23:15_

Only using one of them does also not work.

If only using `--hot` then the accept callbacks are never called. And only using the `webpack/hot/only-dev-server` entry point without `--hot` makes the dev server refresh the browser on every change instead of hot swapping the modules.

[2016-09-07 12:17] pksjce commented on #136
_From @despairblue on November 3, 2015 23:30_

Ok I found a combination that worked:

1. use the webpack-dev-server with `--hot`
2. do use the entry point `webpack/hot/only-dev-server` (with or w/o `only`) in the config
3. **DO NOT** add `new webpack.HotModuleReplacementPlugin()` to the config's plugin section

Is this intended behaviour? If yes, should there be something in the documentation warn

[2016-09-07 12:17] pksjce commented on #136
_From @damionvega on March 3, 2016 23:30_

We're using npm scripts to run webpack and came across the same problem. This is very confusing. Thanks @despairblue

[2016-09-07 12:17] pksjce commented on #136
_From @imrvelj on April 30, 2016 14:43_

Happens to me also. Thanks @despairblue for the quick fix.

[2016-09-07 12:17] pksjce commented on #136
_From @Delagen on June 9, 2016 8:7_

+1

[2016-09-07 12:17] pksjce commented on #136
_From @theoutlander on August 2, 2016 3:28_

@despairblue Thanks for the detailed follow-up and solution!

[2016-09-07 12:17] pksjce opened #137 "ProvidePlugin loads the module onto that module."
_From @dashed on November 15, 2014 20:27_

For example, I'm using the following config:

[code]
To load https://github.com/facebook/regenerator/blob/master/runtime.js for variable `regeneratorRuntime`. But the variable is also referenced in the file `runtime.js`.

It doesn't seem desirable to be loading the same module onto itself, if it happens to be using the same variable that `ProvidePlugin` i

[2016-09-07 12:17] pksjce commented on #137
_From @jhnns on November 17, 2014 14:57_

Maybe you shouldn't use the `ProvidePlugin` but make `regeneratorRuntime` global in an alias.

[2016-09-07 12:17] pksjce commented on #137
_From @sokra on November 18, 2014 6:57_

You could use `imports?regeneratorRuntime=>undefined` on `regenerator/runtime`.

[2016-09-07 12:17] pksjce commented on #137
_From @dashed on November 18, 2014 13:32_

@jhnns Thanks for the suggestion. I don't think that would work.

@sokra Oh man thanks! I've been struggling to figure this out. Works perfectly.

I'm guessing this is a nofix/wontfix then? One would need to be familiar with the `imports-loader` loader to hack around this type of behaviour.

[2016-09-07 12:17] pksjce commented on #137
_From @jhnns on November 18, 2014 14:56_

The `imports`- and `exports`-loader are indispensable for compatibility issues.

[2016-09-07 12:17] pksjce opened #138 "Does "usage with gulp" article needs update?"
_From @kamlekar on April 6, 2016 6:45_

Hi,

I was reading this [article](https://webpack.github.io/docs/usage-with-gulp.html) where there is no mention of `gulp-webpack` plugin. It is kind of confusing of what exactly I should use. I think the article needs update mentioning whether or not to use `gulp-webpack` plugin.

_Copied from original issue: webpack/webpack#2283_

[2016-09-07 12:17] pksjce commented on #138
_From @sokra on April 10, 2016 22:25_

yes, feel free to update it.

[2016-09-07 12:17] pksjce commented on #138
_From @kamlekar on April 11, 2016 4:51_

@sokra I don't think I am the right guy to update it as I just started using webpack with gulp,  I don't have much knowledge on it.

[2016-09-07 12:17] pksjce opened #139 "Contradictory Documentation of Resolve.Root"
_From @machineghost on August 5, 2016 21:34_

**I'm submitting a documentation bug report**

Your documentation at:
https://webpack.github.io/docs/configuration.html#resolve-root

reads as follows:

    It must be an absolute path! Don’t pass something like ./app/modules.

    Example:

    var path = require('path');

    // ...
    resolve: {
      root: [
        path.resolve('./app/modules'),

[2016-09-07 12:17] pksjce commented on #139
_From @jquense on August 5, 2016 22:45_

`path.resolve('./app/modules')` creates an absolute path. thats what the function does.

[2016-09-07 12:17] pksjce commented on #139
_From @machineghost on August 5, 2016 23:59_

It took me a second to get what you're saying, but I think I understand what the documentation is trying to say now.

If I understand correctly, the first reference is saying "don't pass something like `'./app/modules'` to `resolve.root`", while the second is saying "but do pass **the result of passing `'.app/modules'` to `path.resolve`** to `resolve.r

[2016-09-07 12:17] pksjce commented on #139
_From @jquense on August 6, 2016 0:56_

It seems like you may not quite be clear on the distinction between relative and absolute file paths, or didn't realize that node API path.resolve resolves relative paths to absolute ones?

 It seems clear to me, it says to not use a relative path e. g. './app/modules', and then demonstrates how to take that relative path and turn it into an absolute path to

[2016-09-07 12:17] pksjce commented on #139
_From @jquense on August 6, 2016 1:2_

Sorry if  I'm coming off annoyed sounding. that's not my intention, writing on a phone quickly. I'm sure we can make the doc more clear, however I don't think we want to use words like "paths like" vs relative and absolute which are well understand technical terms and used elsewhere in the documentation as well

[2016-09-07 12:17] pksjce commented on #139
_From @machineghost on August 7, 2016 16:35_

I didn't think you were annoyed, I thought you were trying to convince me that the documentation was ok because the standard for it was:

Since it meets that standard, close the ticket and stop trying to convince an internet stranger of anything ;-)

But then your second reply made it clear that you do want to support beginners with your documentation,

[2016-09-07 12:17] pksjce commented on #139
_From @Kovensky on August 9, 2016 0:39_

The good part is that `resolve.root` is completely gone in webpack 2. :tada:

[2016-09-07 12:17] pksjce commented on #139
_From @machineghost on August 9, 2016 17:13_

Heh, well the only thing that beats good documentation is not needing any documentation in the first place :)

[2016-09-07 12:18] pksjce opened #140 "Plugins - ContextReplacementPlugin Enhancements"
_From @mover96 on July 19, 2016 17:14_

**I'm submitting a feature request**

**Webpack version:**
2.1.0@beta.15

**Please tell us about your environment:**
Windows 10

**Current behavior:**
When using System.import (I am using webpack 2), webpack uses its context system (https://webpack.github.io/docs/context.html) to determine the path. In my case it is impossible for me to determine the URL bef

[2016-09-07 12:18] pksjce commented on #140
_From @sokra on July 19, 2016 20:16_

You are in luck, as there is already a plugin doing exactly this: The ContextReplacementPlugin.

It allows to configure a regexp like this:

[code]

Or it allows to set the exact mapping (webpack 2):

[code]

[2016-09-07 12:18] pksjce commented on #140
_From @mover96 on July 19, 2016 21:49_

I've read the docs on this plugin and I guess I am a little confused on how it actually works. What is the purpose of the `"./folder"` in your example? What if I have these resources in different folders? For example my understanding is I would set up a custom regex in my system import:
[code]
And then in the plugin, would it be setup something like this?
[c

[2016-09-07 12:18] pksjce commented on #140
_From @mover96 on July 20, 2016 0:52_

Ok after spending some time with it I understand how your first example is working, but how would I get it to work with something like this:
[code]
Where the path info is gotten from the window, so it has basically 0 context. How to I target just that system import (so that it isn't redirecting every resolve in my app)?

I figured out that using the first met

[2016-09-07 12:18] pksjce commented on #140
_From @TheLarkInn on July 20, 2016 3:53_

Awesome. This is really relevant question for Angular2 users with the dynamic AppModule resolver. Will need to add this to documentation for sure.

Also @mover96, thank you for the thoughtful and detailed question. This really helps us solve/answer things. You deserve some 🎉 🎉 .

[2016-09-07 12:18] pksjce commented on #140
_From @mover96 on July 20, 2016 19:19_

I feel like what would solve my issue is the ability to use something like `require.context()` but with system import, so I could just use `System.import.context().then()` and apply my context on a per System.import basis. But then I would also need the ability to chain contexts together so I can specify multiple folders. So maybe the plugin is better, but I

[2016-09-07 12:18] pksjce commented on #140
_From @sokra on July 20, 2016 20:17_

Here is an example: https://github.com/webpack/webpack/blob/master/test/configCases/context-replacement/System.import/webpack.config.js

It should match the absolute path of the directory. yes it's a bit weird. We better write a new plugin for context information with a better API.

[2016-09-07 12:18] pksjce commented on #140
_From @mover96 on July 21, 2016 2:7_

I'm going to summarize my findings in case anyone runs into this thread, and I will also explain why the current system, even with `ContextReplacementPlugin` is inadequate.

## The Goal:
First let me better explain what exactly I am trying to accomplish. I have a 600 module core app, most of which are Angular 2 components. This app already takes around 90 seco

[2016-09-07 12:18] pksjce commented on #140
_From @TheLarkInn on July 21, 2016 3:0_

First and foremost. I cannot thank you enough for this write-up and the time you took to explain your scenario. Not only is this an invaluable learning source for other developers, but contains some very awesome suggestions and enhancements that we can consider for webpack and `ContextReplacementPlugin`.

Also we'd like to use this writeup for our documenta

[2016-09-07 12:18] pksjce commented on #140
_From @mover96 on July 21, 2016 3:10_

I am glad that it is useful! Feel free to use the write up and make whatever tweaks necessary. I was onboarded to a new company 3 weeks ago, and my first task was to get their preexisiting Angular 2 app working with webpack. I've spent almost 80 hours with it now (I am somewhat new to Angular as well, which explains some of the extraneous time) but webpack is

[2016-09-07 12:18] pksjce commented on #140
_From @TheLarkInn on July 21, 2016 3:14_

I'll ping you in the very near future. Thank you so so so so so so so so so so so so much.

[2016-09-07 12:18] pksjce commented on #140
_From @datapimp on August 2, 2016 11:26_

Thanks @mover96 for writing this up.  I think the resolver / context system is by far one of the most interesting features of Webpack and I have also been struggling with the exact same things you described.

The solution I have wandered towards involved developing my own registry of file paths, defining regex style routes, using `path-to-regexp` to turn e

[2016-09-07 12:18] pksjce commented on #140
_From @TheLarkInn on August 11, 2016 3:49_

@datapimp I just saw this!!! Awesome. Would you also consider writing documentation for this as well? And yes, any time anywhere you let me know when you'd like to walk the webpack code. (But it may cost you some documentation :smirk:)

[2016-09-07 12:18] pksjce commented on #140
_From @datapimp on August 11, 2016 4:1_

@TheLarkInn ha man i was feeling salty for a minute!

[2016-09-07 12:18] pksjce commented on #140
_From @TheLarkInn on August 11, 2016 4:46_

Sorry lots of things thrown my direction these days and no good way to see the notifications. But yes just let me know. Context and the parser are two very high priority learning topics that if documented could really be useful to the community. So the more people I can try to teach the better.

[2016-09-07 12:18] pksjce opened #141 "API - Using Preloaded Assets with the Compiler"
_From @danschumann on March 11, 2015 14:0_

I have all my files in memory, for various reasons I won't get into ( maybe one is because I wrote a loading module `loaddir` and tend to use it ), but part of it is re-using code on the front end and back end.

My loaded files look like this (`asObject: true`):

[code]

or, my loaded files look like this (`asObject: false`)

[code]

How do I give a mani

[2016-09-07 12:18] pksjce commented on #141
_From @sokra on March 13, 2015 13:44_

You can provide a custom `inputFileSystem` to the `Compiler` instance.

[2016-09-07 12:18] pksjce commented on #141
_From @danschumann on March 16, 2015 17:29_

Is it documented anywhere?  Or, what structure does it need to be in?

[2016-09-07 12:18] pksjce opened #142 "[DOC] Loader sequence does matter, especially when using uglifyJSPlugin"
_From @coodoo on March 15, 2015 1:39_

@sokra Might worth adding this to the doc somewhere to save people's time in the future :)

**tl;dr:** if you use both `babeljs` and `react-hot` loader, put `react-hot` loader before `babeljs`, otherwise when uglifying the source you will run into errors.

Here's the correct way to do it:

[code]

Errors you might run into looks like this:
`
RROR in ./app/js/

[2016-09-07 12:19] pksjce commented on #142
_From @sebastienbarre on March 16, 2015 17:51_

Thanks a lot @coodoo, I had been googling for this "```Cannot read property 'match' of undefined```" error for a while now, until your post popped up. My issue here is that I was putting ```react-hot``` *in front* of ```babel``` but inside the ```loader``` property, as in ```loader: "react-hot!babel"```; this does not work, you have to use the ```loa

[2016-09-07 12:19] pksjce commented on #142
_From @bdefore on May 1, 2015 21:49_

I also had this issue where the loader sequence mattered. Only the output `Cannot read property 'match' of undefined` leading me here led me to the solution.

[2016-09-07 12:19] pksjce opened #143 "Sourcemaps contain invalid source webpack/bootstrap"
_From @frapontillo on November 27, 2015 8:0_

When generating external sourcemaps (`'source-map'`), the resulting map files has, as first element in the `sources` array, something like `"webpack:///webpack/bootstrap 170846d63e93fb4a12c6"`.
This causes the impossibility to further reprocess the sourcemaps with other tools, as it introduces an invalid file that doesn't exist on the file system.

Is

[2016-09-07 12:19] pksjce opened #144 ""stay in the same language in pre and post loaders"?"
_From @dwiyatci on April 2, 2016 22:10_

I'm about to create my first custom Webpack loader, but I'm not sure I understand well what the [loaders doc](http://webpack.github.io/docs/loaders.html#recommendations) stated:

Hasn't the non-JS to JS transformation already happened before post-loaders kick in? So, what's "stay in the same language" supposed to mean there?

_Copied from original issue: we

[2016-09-07 12:19] pksjce commented on #144
_From @dwiyatci on May 3, 2016 20:5_

🆙

[2016-09-07 12:19] pksjce opened #145 "Build error when using npm link for a dependency"
_From @donasaur on November 6, 2015 0:21_

Hi, there exists an issue currently where if I npm link a module, e.g., [mds](https://github.com/stanford-gfx/mds.js), and then inside of webpack.config.js, I have a line of the form:

[code]

under loaders

And then I try to build with webpack, it will say:

[code]

even though I have d3 installed my source directory(e.g., `modulesDirectories: ['client/j

[2016-09-07 12:19] pksjce commented on #145
_From @jokeyrhyme on November 9, 2015 8:32_

I had this error as well.

As soon as I replace the `npm link` dependency with a normal `npm install` dependency, everything works fine.

[2016-09-07 12:19] pksjce commented on #145
_From @kpdecker on November 10, 2015 16:19_

When using `npm link`, the resolve is done relative to the actual files on disk, not the path of the link, i.e. `../mds.js` not `./node_modules/mds.js`. Due to this, require isn't going to be able to find `./node_modules/d3`. There are a number of ways around this, but they all depend on the exact configuration that you are working with. The simplest li

[2016-09-07 12:19] pksjce commented on #145
_From @jokeyrhyme on November 10, 2015 17:14_

So, this is an npm/node issue and not a webpack issue?

[2016-09-07 12:19] pksjce commented on #145
_From @kpdecker on November 10, 2015 17:29_

You'd see similar behaviors if using native node `require`. There is an recent open issue on this but this behavior has been like this for many years so I'm doubtful that the node behavior will change. https://github.com/nodejs/node/issues/3402. Webpack could do something different if they choose to, but that would be a decision for the maintainers of w

[2016-09-07 12:20] pksjce opened #146 "Fails when inculding regular json ~ Unexpected token ":" is just JSON"
_From @govpack on May 29, 2015 1:52_

i did add  [C:\Z\N\node_modules\webpack] "C:/Z/N/iojs.exe" "C:/Z/N/node_modules/npm/bin/npm-cli.js"   install json-loader --save

why shouldn't that json-loader be included by default?
but still webpack can't even include json without errors

[code]

_Copied from original issue: webpack/webpack#1125_

[2016-09-07 12:20] pksjce commented on #146
_From @karlnp on May 30, 2015 20:36_

Did you add the "json!" prefix to those files' requires, or to the [modules.loaders](http://webpack.github.io/docs/configuration.html#module-loaders) config entry, so that the program knows to apply "json-loader" to `/\.json$/` extensions? It's not enough to just install the loader - webpack doesn't recognize it automatically so you have to invoke it. I ran in

[2016-09-07 12:20] pksjce commented on #146
_From @govpack on June 5, 2015 2:3_

@karlnp  no, i'd probably need an example, i  searched for "json!" and "json$" on that link
http://webpack.github.io/docs/configuration.html#module-loaders
and that wasn't mentioned. Even from your kind reply i wouldn't know how.
next time i want a bit of configuration hell, i'll give it another try

i see it now in

https://github.com/webpack/webpack/blob/mast

[2016-09-07 12:20] pksjce commented on #146
_From @karlnp on June 9, 2015 18:6_

Oh, it's per-project, @govpack . For example, I have a few different config files in the project root: `webpack.config.dev.json`, `webpack.config.staging.json`, and `webpack.config.production.json` (which for us is empty.) That's where you define your entry points, include modules and plugins, loader pipelines, etc, etc.

When I next have some time I'll make so

[2016-09-07 12:20] pksjce opened #147 "Suppress warnings in console"
_From @natew on March 15, 2015 0:18_

We do dynamic route requires in a library that's used by people, and a lot of them are confused by this messaging:

[code]

Beyond some sort of console.log override, is there a way to suppress this warning even if only in the server-side output?

_Copied from original issue: webpack/webpack#887_

[2016-09-07 12:20] pksjce commented on #147
_From @dnutels on May 26, 2016 6:46_

Is there no response? At all?

Having the ability to control the tool's logging level/output seems instrumental, yet there is currently no way to show only errors, while skipping (or folding) warnings...

[2016-09-07 12:20] pksjce commented on #147
_From @jorilallo on June 5, 2016 1:6_

I would like to see a way to suppress warnings as well. As per #1617 many popular libraries (e.g. Quill, localforage) come build with Browserify, I don't really see the point of repackaging them and installing random loaders in the process. I would much rather use the original if it works and not see the warning contantly.

[2016-09-07 12:20] pksjce opened #148 "Unexpected behaviour during error handling"
_From @s-panferov on July 8, 2015 14:42_

I am the author of https://github.com/s-panferov/awesome-typescript-loader and I have a problem with my async loader:

Pseudo-code:

[code]

Console output:

[code]

Versions:

[code]

The big problem here is that compilation freezes in webpack-dev-server

_Copied from original issue: webpack/webpack#1232_

[2016-09-07 12:20] pksjce commented on #148
_From @shama on July 14, 2015 21:59_

It is because you're informing the loader that it is async. Which means it will wait for you to call `callback()` to continue. Upon an error, you're not calling the `callback()` so it hangs waiting for it.

The 1st argument of the callback is for errors: `callback(err)` instead of `null`. Although it is likely you can just remove that `try catch` and let webpa

[2016-09-07 12:20] pksjce commented on #148
_From @s-panferov on July 15, 2015 7:56_

@shama 	you don't understand the problem. I **call** the callback, but **the call throws an exception** that takes place in some other loader or inside webpack core (e.g. if syntax error is in the file) and the error propagates inside my loader (I can catch it with try-catch or with Bluebird's catch handler). But I can't call the callback another one time

[2016-09-07 12:20] pksjce commented on #148
_From @shama on July 15, 2015 15:25_

Ah you're right sorry. Could you post a full stack trace or even better an example repo that duplicates the issue so I can take a look? Thanks!

[2016-09-07 12:20] pksjce commented on #148
_From @s-panferov on July 15, 2015 16:45_

@shama, ok, I'll try to provide some example.

[2016-09-07 12:20] pksjce commented on #148
_From @s-panferov on July 18, 2015 9:39_

I was because `bail: true` was written in my config file.

So I have to write https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/index.ts#L357-L362 inside my async loader. The problem is solved, but I thing that the behaviour of the `callback` function in bail mode must be documented somewhere.

[2016-09-07 12:20] pksjce commented on #148
_From @shama on July 18, 2015 15:2_

@s-panferov Oh nice find! The documentation is openly editable to anyone. Would you mind adding a note about it here http://webpack.github.io/docs/configuration.html#bail? Thanks!

[2016-09-07 12:20] pksjce commented on #148
_From @bebraw on November 14, 2015 18:5_

@s-panferov Can you look at that documentation bit so we can get this closed?

[2016-09-07 12:21] pksjce opened #149 "[Plugins] Wrong path in compiler.options"
_From @frantic on October 28, 2015 19:34_

x-post from https://github.com/gajus/write-file-webpack-plugin/issues/1:

Seems like for some reason [this plugin](https://github.com/gajus/write-file-webpack-plugin/) gets a wrong path in `compiler.options`. In the following case instead of `./dist` I just get `/`. It seems to just use webpack's API so I suspect it's webpack issue.

My config:

[code]

b

[2016-09-07 12:21] pksjce commented on #149
_From @gajus on October 29, 2015 20:48_

This appears to be either a bug or undocumented behaviour (https://github.com/gajus/write-file-webpack-plugin/issues/1#issuecomment-152236151).

Regardless, how do I get the original `output.path`?

[2016-09-07 12:21] pksjce commented on #149
_From @sokra on November 14, 2015 21:43_

This happens with the webpack-dev-server. It compiles in-memory so there is no need for a output path.

[2016-09-07 12:21] pksjce opened #150 "Wrong proxy documentation"
_From @0x80 on March 8, 2016 11:25_

In the current documentation it is suggested that you configure the proxy using a path as key. I could only get it to work when you pass it an array of objects like this:

[code]

_Copied from original issue: webpack/webpack#2152_

[2016-09-07 12:21] pksjce commented on #150
_From @sokra on March 9, 2016 7:34_

You can edit the documentation with the button on the top right corner.

[2016-09-07 12:22] pksjce opened #151 "Plugins - Test Option in the SourceMapDevToolPlugin"
_From @awong-dev on February 20, 2016 0:30_

This makes handling jsx annoying, especially in Karma.  See
  https://github.com/webpack/karma-webpack/issues/104

_Copied from original issue: webpack/webpack#2078_

[2016-09-07 12:22] pksjce commented on #151
_From @af7 on March 15, 2016 9:30_

+1

[2016-09-07 12:22] pksjce commented on #151
_From @bebraw on August 29, 2016 7:15_

As mentioned in the linked issue, the problem is at https://github.com/webpack/webpack/blob/5b5775f9e2fc73fea46629f2d6a3ed7a1f8424d3/lib/SourceMapDevToolPlugin.js#L35 . By the looks of it you should pass custom `test` that includes `jsx` somehow.

[2016-09-07 12:22] pksjce opened #152 "Comparison - Talk About webpack vs SystemJS"
_From @TheLarkInn on July 1, 2016 12:47_

**I'm submitting a feature request**

**Webpack version:**
1.10.x/2.x

There has been a lot of community confusion in regards to SystemJS and Webpack. This issue is a stub to add some documentation talking about the difference between a module bundler and a module loader and how they perform 2 different things.

**Please tell us about your environment:**
O

[2016-09-07 12:22] pksjce commented on #152
_From @jackfranklin on July 1, 2016 16:6_

👍 awesome stuff - pinging @guybedford who is the authority here rather than me.

I think we can take some inspiration from Guy's talk yesterday at PolyConf which talked through the reasons and motivations behind jspm / SystemJS, which I think will clarify to a lot of users where and how Webpack/SystemJS differ.

I don't think it matters if this lives on t

[2016-09-07 12:22] pksjce commented on #152
_From @sokra on July 8, 2016 8:40_

https://github.com/webpack/webpack.io/blob/develop/content/concepts/compared-to-other-systems.md

[2016-09-07 12:22] pksjce commented on #152
_From @TheLarkInn on July 8, 2016 12:25_

Although it's clear to me we need just a paragraph or so differentiating a bundler and loader.

[2016-09-07 12:22] pksjce opened #153 "Shimming: Node Built-Ins"
_From @wearhere on August 14, 2016 22:53_

**I'm submitting a feature request**

**Webpack version:**
1.13.1

**Please tell us about your environment:**
OSX 10.11.5

**Current behavior:**
Webpack's automatic shimming of Node built-ins is not documented [so far as I can tell](https://www.google.com/search?espv=2&q=webpack+shim&oq=webpack+shim&gs_l=serp.3..0i71k1l8.0.0.0.1514941.0.0.0.0.0.0.0.0..0.0

[2016-09-07 12:22] pksjce commented on #153
_From @wearhere on August 14, 2016 23:35_

Some further niceties:

* It might also be nice for Webpack to log, in its build output, what modules were shimmed, just so the developer can double-check what they expected to happen.
* I think Webpack should suggest that developers use browser APIs where available rather than relying on the shims. For instance, [`SubtleCrypto`](https://developer.mozilla

[2016-09-07 12:22] pksjce commented on #153
_From @TheLarkInn on August 18, 2016 15:3_

@wearhere you mind posting this issue also on [Our new docs repo](https://github.com/webpack/webpack.io/issues/new). This will help us track it in both places.

[2016-09-07 12:22] pksjce opened #154 "Config - ES2015 Imports in Configuration"
_From @telekid on July 26, 2016 22:13_

**I'm submitting a bug report**

**Webpack version:**
2.1.0-beta.20

I'm running into what seems like a bit of a Catch-22 when trying to use ES6 Modules within my `webpack.config.babel.js` file.

Webpack 2 introduces native support for ES6 modules. As such, I've followed the recommendations found in [What's new in webpack 2](https://gist.github.com/sokra/27b

[2016-09-07 12:22] pksjce commented on #154
_From @sokra on July 26, 2016 23:35_

A structure like this could help if your web source code is in an app folder.

[code]

[2016-09-07 12:22] pksjce commented on #154
_From @mover96 on July 27, 2016 1:0_

Isn't this more of node's issue for not support ES6 yet, than a webpack issue? Just use `require` in your webpack config unless you want to transpile just that file with babel beforehand. But once node supports ES6 it will be fine.

[2016-09-07 12:26] #101 closed

[2016-09-07 12:26] #100 closed

[2016-09-07 12:27] #99 closed

[2016-09-07 12:46] bebraw commented on #82
Completed. Thanks @pksjce.

[2016-09-07 12:46] #82 closed

[2016-09-07 16:59] sirlancelot commented on #105
I would imagine pre-populating the `require.ensure` array is for when you have deeply nested/split bundles and you want to tell webpack that certain modules should go in to a certain bundle. You would pre-populate the `require.ensure` array for the same scenarios you would use `require.include`; it just includes it in the bundle without evaluating it.

[2016-09-07 17:36] wearhere commented on #153
@TheLarkInn do you still want this on the docs repo too?

[2016-09-07 18:20] dreyks commented on #154
You should also migrate solution provided by @hung-phan [here](https://github.com/webpack/webpack/issues/2806#issuecomment-242916690) because the `.babelrc` method does not work if there's a need to access the code outside webpack. Tests and linters for example

[2016-09-08 02:58] TheLarkInn opened #159 "Update Travis for new repo name."
It appeared CI is failing with the new repo name. Can't find the repo/project, etc.

[2016-09-08 02:58] TheLarkInn commented on #159
@bebraw do I have access to modify travis?

[2016-09-08 03:00] bebraw commented on #159
@TheLarkInn You would have to ask Tobias for rights. I don't know how it works out with Travis.

[2016-09-08 08:03] sokra opened #160 "Add GA"
`UA-46921629-2`

[2016-09-08 15:10] TheLarkInn commented on #159
Looks like this is happening now correctly, I think it was just a stale testt.

[2016-09-08 15:10] #159 closed

[2016-09-09 13:31] sokra opened #166 "Fix build issues on CI"

[2016-09-12 02:39] gregvenech opened #168 "Styling Updates"
I'm going to start working on a PR soon to work on...

- [x] Markdown styling and typography
- [x] Playing with PrismJS themes and possibly customizing our own
- [x] Adding a few icons
- [ ] Start working on breakpoints/responsiveness
- [x] Make the minimum height of the application the height of the screen
- [x] Better tip styling (i.e. these... `?>`, `W>`, `T>`)

If anyone has noticed any issues

[2016-09-12 14:57] sokra commented on #166
@bebraw could you take a look?

[2016-09-12 14:59] bebraw commented on #166
Sure. Most likely updating Antwar to a newer version will fix it once it's good enough. I'll do the styling fix while at it too.

[2016-09-12 22:11] sokra commented on #168
Responsive size, mobile devices.

Footer should be on bottom of page, even if there is only very few content.

[2016-09-12 22:35] wheresrhys opened #169 "API - Compilation Lifecycle"
i.e which compilation stages/events happen in which order, what they do by default, what properties are available within the handler, what they _can_ be used to do, what they _should/shouldn't_ be used to do, and how they relate to other bits of the lifecycle.

Flow diagrams (which really aid understanding of complex flows, and are sorely lacking in webpack 1 docs) would be a great addition too

P

[2016-09-13 02:43] TheLarkInn commented on #169
Yes I think this would be a great companion to the API - Plugins section, maybe a secondary companion to the complete API hooks.

@bebraw thoughts?

[2016-09-13 02:49] bebraw commented on #169
Go for it. Great addition to plugin docs.

[2016-09-13 09:04] akomm commented on #68
Where does `DirectoryNamedWebpackPlugin` come from? could not find it in source.

[2016-09-13 09:06] sebastiandeutsch commented on #68
@akomm it's an example Plugin that can be used.

[2016-09-13 09:06] sebastiandeutsch commented on #68
It's not in the source.

[2016-09-13 09:08] akomm commented on #68
Okay. I was just looking for a reason, why [this](https://github.com/webpack/webpack/issues/2708#issuecomment-246620893) does not work and thought that the plugin is responsible to provide the descriptionFiles functionality.

[2016-09-13 23:31] floatingLomas commented on #107
Hey!  So, I just wanted to point out that the `stripe` Node module is only meant to be used server-side, as it requires using a secret key that should never be shared into the wild (on the web).

If you're looking to capture card details and other things from customers, [Stripe.js](https://stripe.com/docs/stripe.js) can help you do that.

[2016-09-14 12:14] gregvenech commented on #168
@sokra yea I can definitely start addressing breakpoints on this update.

Just updated the list above.

[2016-09-14 14:02] bebraw commented on #20
Done. Closing.

[2016-09-14 14:02] #20 closed

[2016-09-15 05:32] TheLarkInn commented on #17
Wow I really like @d3viant0ne suggestion of Committizen. That could take a lot of leg work out of the process for some folks. Could be highly useful

[2016-09-16 16:29] jhnns opened #173 "Add refactored logo + new font"
@bebraw @gregvenech I've refactored the current logo, you can find it [here](https://github.com/webpack/media). I've replaced the gradients with solid colors, refactored the shape of the cubes and changed the font. I think, the new logo works better with small sizes, because now the icon has a recognizable shape and the font has a strong character (can you say that in English? At least in German i

[2016-09-16 16:40] gregvenech commented on #173
Haha yea I get what mean.

That's fine, I believe @bebraw still has some work to do on antwar before we can add scripts easily use the `<interactive>` feature anyway (see [this issue](https://github.com/antwarjs/antwar/issues/103)).

I'm about to make another big push to get the styling of this repo in good shape, see [this issue](https://github.com/webpack/webpack.js.org/issues/168). If you guys

[2016-09-16 17:08] jhnns commented on #173
No, I just meant that if we push any content to the repo, we must make sure that our license does not conflict with the other license. And if it does conflict, we must explicitly exclude these files from the license.

Speaking about the license, I just saw that we don't have any? @bebraw

Where do you want to put the mockups? In case you wanted to put it into the media repo, I'm not sure. I though

[2016-09-17 00:11] gregvenech commented on #173
@jhnns ah ok. I thought you might have been trying to centralize all the design assets in one repo.

[2016-09-18 18:10] #160 closed

[2016-09-18 18:20] bebraw commented on #166
Updated. It should build now. I can see the CI expects to deploy from `master` branch. The script gets triggered when you push to `develop`, though. I think we might want to add a check against that and run the deploy script *only* when you push to `master`.

[2016-09-19 05:02] bebraw commented on #166
And fixed. There were some nasty `^`s around so it tried to install wrong version.

[2016-09-19 05:02] #166 closed

[2016-09-19 06:20] sokra commented on #166
awesome

[2016-09-19 06:40] bebraw opened #176 "Dev - Archive Versions"
The build should copy earlier version below `archives` or so. This would allow us to maintain documentation for older versions online with minimal effort.

Apparently `add` option of [gh-pages](https://www.npmjs.com/package/gh-pages) should be enough for this. More info: https://github.com/tschaub/gh-pages/issues/93 .

[2016-09-19 14:29] sokra commented on #176
or a git submodule to itself in an earlier version ^^

[2016-09-19 16:16] michael-ciniawsky commented on #10
@bebraw @TheLarkInn Working on it, loaders aswell, when the basic document structure stands a open PR for review

[2016-09-19 17:51] michael-ciniawsky commented on #10
# Output

[Intro]

## Usage
[Description]

**webpack.config.js**

[Example (basic)]

## Options
  - path
  - publicPath
  - library (maybe separated ?)
  - libraryTarget (maybe separated ?)
  - filename
  - chunkFilename
  - sourceMapFilename
  - jsonpFunction (maybe advanced ?)

## Advanced Options
### devtool
   - devtoolLineToLine
   - devtoolModuleFilenameTemplate
   - devtoolFallbackModuleFil

[2016-09-19 18:01] gregvenech commented on #10
@michael-ciniawsky structure looks good to me 👍 , just a heads up though: you might want to take a look #157, as all these options you're listing already have at least a start there. See the comments, we're currently trying to figure out how to divvy each section out. We're you planning on documenting each on this page or just linking to it?

@bebraw aside from the overlap here we should probably

[2016-09-19 18:15] gregvenech commented on #10
The structure @michael-ciniawsky laid out above looks like it could work very well for the split up we've been talking about #157.

[2016-09-19 18:35] bebraw commented on #10
Yeah, there's some definite overlap. The point is that you can go into great detail in this document if we agree that the configuration page is an overview (quick reference).

[2016-09-19 21:00] gregvenech commented on #10
@bebraw but then we should just port all those detailed options from #157 to the individual Concepts pages like this one. I'm just going to go ahead and do that and merge #157 before any more overlap is created. If we want to rename the top-level nav items down the road we can. That work?

[2016-09-20 03:33] bebraw commented on #10
Yeah, merge is ok I think.

[2016-09-20 11:39] michael-ciniawsky commented on #10
@gregvenech

Depending on how you guys plan to do it :), it's the intended structure + document each on the page, but yes I noticed early that it would get 'a smell' of the current docs quickly. The organisation/layout must be different somehow.

Is it possible to display the advanced options + example programmatically on the concept pages e.g via user selection

[code]
which hides all advanced op

[2016-09-20 13:42] gregvenech commented on #10
@michael-ciniawsky

Yea I do like the structure you described but it could get a bit lengthy having the full documentation for all of those options there. I really like that you tied in the other options that relate to `output` but aren't nested as options under output. I definitely think these ties should at least be linked to from the various configuration, concept, and api pages.

Anything's po

[2016-09-20 14:34] bebraw commented on #10
@gregvenech Yeah, we can sync after #157 is in a good shape and split up. I wouldn't get too stuck on the structure. It's easier to make judgment calls once there's something visible. I don't mind editing things into shape. 👍

[2016-09-20 14:36] gregvenech commented on #10
@bebraw perfect.

[2016-09-20 15:41] michael-ciniawsky commented on #10
@gregvenech @bebraw  👍 i wait until the split up is done, preparing contents meanwhile.

[2016-09-20 19:48] manekinekko commented on #50
Hi @bebraw can you assign this one to me?

[2016-09-20 20:33] TheLarkInn commented on #50
Done

[2016-09-20 22:01] skipjack opened #178 "Reference Style Links | Re-consider Marked"
For some reason [marked](https://github.com/chjj/marked) isn't parsing these correctly (see the [markdown spec](https://daringfireball.net/projects/markdown/syntax#link) if you're not familiar with them). I find them very useful to keep paragraphs uncluttered for easy review and editing. [This issue](https://github.com/chjj/marked/issues/310) says they they should work, however this:

[code]

alwa

[2016-09-21 04:35] bebraw commented on #178
We might want to look into some other parser as marked isn't that maintained. It would have to be possible to customize the alternative, though, as there's certain custom syntax in place.

[2016-09-21 06:52] sjatkins commented on #110
Chrome guys pushed it to here and now you are trying to push it back?  Sigh.  What is a poor working dev to do to get beyond frustration over this?

[2016-09-21 06:58] bebraw commented on #110
@sjatkins Isn't this a correct place for a documentation task? Feel free to re-open as a bug at the main repo if you believe this is something to be fixed at webpack core.

[2016-09-21 15:30] gregvenech commented on #10
@michael-ciniawsky it's been split and merged. @sokra already started revising the new **Configuration** section in #180. So I guess anything on how to use specific `output` options would go in `/configuration/output` while the why and what is `output` would go in `/concepts/output`... would you agree @bebraw, @TheLarkInn?

[2016-09-21 15:40] bebraw commented on #10
Sounds good to me.

[2016-09-21 18:36] bebraw opened #181 "Set up 404 checker"
1. Generate RSS (antwar rss plugin).
2. Run build with RSS.
3. Run hyperlink against the build.

[2016-09-21 22:34] michael-ciniawsky commented on #10
@gregvenech 👍

Off topic but are there any notes besides the release note about the changes in modules (loaders -> rules) etc.? So I can update it and commit (concepts/modules, concepts/loaders)

[2016-09-22 03:31] gregvenech commented on #168
Creating a new issue (and soon a PR) for breakpoints.

[2016-09-22 03:31] #168 closed

[2016-09-22 03:34] gregvenech opened #183 "Responsiveness - Create Breakpoints"
Need to play around with the [design](https://github.com/gregvenech/webpack-design) a bit, maybe create a mockup for mobile devices, and then update the css.

- [x] Add mobile mockup
- [x] Update screen sizes in `_vars.scss` if necessary
- [x] Create `styles/_breakpoints.scss` and begin!

Note that I only added a mockup for mobile screens, everything in between the largest screen size and mobile I

[2016-09-22 04:45] bebraw opened #184 "Set up search for the site"
Algolia would work.

I'm opening this based on Twitter discussion.

[2016-09-22 05:04] bebraw commented on #10
@michael-ciniawsky Two sources for now: [migration guide](http://webpack.js.org/how-to/upgrade-from-webpack-1/), [gist](https://gist.github.com/sokra/27b24881210b56bbaff7).

[2016-09-22 05:09] dzello commented on #184
Great! Per the comment on Twitter, what thoughts did you have in mind for the design?

[2016-09-22 05:10] bebraw commented on #184
@dzello Mostly fine. The structure of the site is completely different now, though, so that might affect your side. The search control needs a good location. Maybe header? See http://webpack.js.org/ .

[2016-09-22 05:18] dzello commented on #184
Ok, good to know. If the new content structure is different that's ok, I will have to make some config changes but should be mostly painless. From clicking around on the new site it looks like some content isn't there yet. Should I hold off on trying to index it until there's more there?

The header is good for location, that's what we did on the React docs.

[2016-09-22 05:20] bebraw commented on #184
You can index it, but it's correct it won't yield a lot of results yet. But then, I assume you index it regularly so going with the new structure can't hurt.

[2016-09-22 05:23] dzello commented on #184
Right, once the config is live we re-index every 24 hours to pick up any changes. I will play with indexing the new site and see where I get. Any ideas for timeline on having all the new content up?

[2016-09-22 05:26] bebraw commented on #184
All content - months.

Minimum will take less. There's a [target](https://github.com/webpack/webpack.js.org/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Webpack+2+-+Documentation+MVP%22) for that.

[2016-09-22 05:31] dzello commented on #184
Sounds good, no problem to get new indexing configuration done by then.

In the meantime, for the sake of asking, do you think it's worth deploying search for the existing docs since the PR is ready to go? I don't want to make extra work but one upside of deploying for the existing docs is that we'll have more data to improve search for V2.

[2016-09-22 05:39] bebraw commented on #184
@dzello Yeah, getting the search on the old site could be worthwhile. Just poked about that so we get a decision made.

[2016-09-22 12:08] e-cloud commented on #36
One thing is missing -- the `apply` method of the `Tapable` class.

And the explanation is a little misleading:

@pksjce , i borrow some concepts from yours. Here is another version of my understanding:

`Tapable` is a variant of `EventEmitter` conceptually.

It doesn't have full implementation as the `EventEmitter` in node.js. It just focuses on event emission manipulation.

Basically, it has fou

[2016-09-22 16:27] bebraw commented on #36
Could someone aggregate the ideas of this thread into a PR? Good to review there.

[2016-09-24 15:09] arcanis opened #188 "Ctrl+F awareness"
The current documentation works really well with in-page search tools, since every configuration option is on the same page. The new website breaks this by splitting every option inside multiple pages. It's a good idea from a discovery viewpoint, but when looking for help about a particular option, it makes it quite harder to find the right place. Maybe a page should be setup with a link for each

[2016-09-24 16:31] oliverturner commented on #183
@gregvenech so, prompted by @SurviveJS on Twitter, stepping up to offer any help I can on this. Let me know!

[2016-09-24 18:52] gregvenech commented on #183
@oliverturner awesome, yea definitely. Planning to get at least a rough mockup going for mobile done this weekend so we have something to work off. If you have any suggestions re design feel free to take a look at the [design repo](/gregvenech/webpack-design).

[2016-09-24 19:20] montogeek commented on #183
I want to help too!

[2016-09-24 19:30] sokra commented on #188
We could add it to the bottom of this page: http://webpack.js.org/configuration/

Do you want to send a PR?

## List of all options

(For easy Ctrl+F 😄 )

* [resolve](http://example.org/resolve)
* [resolve.root](http://example.org/resolve#root)
* [resolve.module](http://example.org/resolve#module)
* [resolve.fallback](http://example.org/resolve#fallback)
* [output](http://example.org/output)
* [ou

[2016-09-24 19:35] sokra commented on #184
google custom search can work too...

[2016-09-24 19:43] sokra opened #190 "duplicate page / and /index"
The sidebar currently links to `/configuration/index` but it should link to ``/configuration/`.

`/configuration/index` should never be used.

[2016-09-24 21:56] dzello commented on #184
The Google custom search UX isn't great for docs. No autocomplete, irrelevant suggested searches, clumsy modal dialog for displaying results. Also there's ads and you have to pay to remove them.

[2016-09-25 00:58] bebraw commented on #190
Yeah, I think I'll filter `/index` out of there at core. Good point.

[2016-09-25 05:06] gregvenech commented on #183
@oliverturner added a rough draft of the mobile version [here](/gregvenech/webpack-design). It has a few layer comps (normal, search, and sidebar) but to start we can ignore search. I also added a small high-level checklist that we can add to above. Feel free to open a PR whenever if you want to start working on it.

@montogeek sure, let's give @oliverturner a chance to start it and then enumerate

[2016-09-25 13:54] #93 closed

[2016-09-25 13:54] #190 closed

[2016-09-25 14:06] bebraw commented on #8
Closing as the related PR was merged.

[2016-09-25 14:06] #8 closed

[2016-09-25 14:16] montogeek commented on #183
@gregvenech I have Photoshop :)

[2016-09-25 18:22] oliverturner commented on #183
@gregvenech please do add those screenshots: it's been a while since I let Photoshop pollute my machines ;)

[2016-09-25 21:14] gregvenech commented on #183
@montogeek great! Feel free to poke around that design repo if you're interested and let me know if you have any suggestions.

@oliverturner jeez, I didn't know there was such anti photoshop sentiment out there 😁  ! Just out of curiosity what's your preference, sketch?

Threw together a quick demo with each comp:

![mobile-demo](https://cloud.githubusercontent.com/assets/8988697/18818224/0d66b5e2-

[2016-09-26 11:56] alexanderwallin opened #191 "Give paragraphs a max-width"
Great to see new docs in the makings!

One thing I think the old and new docs alike are suffering from is readability, the biggest problem being the number of characters per line (120+ on my 13" MacBook).

Attaching an example of paragraph width constraits and use of system font.

**Before**

<img width="956" alt="webpack1" src="https://cloud.githubusercontent.com/assets/6952455/18833352/1d7da8a4-

[2016-09-26 12:38] gregvenech commented on #191
Hi @alexanderwallin, I definitely agree that we should have an optimal width for reading. However I just double checked the deployed version and found that even at our widest screen width we're under 960px (currently) for the content section. We are planning to bring that down for smaller screens, see #183, but isn't 960px the recommended max for readability?

Either way I'm fine with bringing it

[2016-09-26 12:48] gregvenech commented on #188
What do you guys think about hijacking the CMD / CTRL + F behavior and piping it to our own search bar? See #184 and [this issue](/gregvenech/webpack-design/issues/1). Working on finishing mockups for search on large and small screens, based off @patelsky's original concept.

[2016-09-26 13:41] alexanderwallin commented on #191
I think the key metric is the number of characters per line, where anything between ~45 and ~95 seem to be recommended. 720px results in about 120 characters per line on my machine.

Thanks for the quick reply!

[2016-09-26 14:16] bebraw commented on #188
Worth a go.

[2016-09-26 16:39] gregvenech commented on #191
No problem, I'll play around with it and tonight and try to get it down in a clean way, probably shooting for 90 - 95 characters per line to start.

[2016-09-26 19:45] oliverturner commented on #183
@gregvenech yep: Sketch is my new jam. Was never a PS fan: Fireworks always seemed the more intuitive and flexible option (showing my age I know...)

Thanks for posting the comps :)

[2016-09-26 20:19] oliverturner commented on #183
I have a few questions that would possibly be better hashed out in a quick chat than via GH issues... is there a chance you'd be free to catch up?

[2016-09-26 20:21] gregvenech commented on #183
Haha, yea no problem pm me on gitter. I should be on in 45 min or so.

[2016-09-26 20:36] oliverturner commented on #183
@gregvenech pinged you :)

[2016-09-27 00:39] dzello commented on #188
As long as the search bar is nice and visible at the top I don't think we would have to hijack the keyboard, which would mean less surprises for new documentation visitors :)

The [React documentation](https://facebook.github.io) is likewise separated out onto a number of smaller pages, but we've seen that visitors are able to find what they're looking from with the search box, since all pages are

[2016-09-27 05:05] gregvenech commented on #188
@dzello yea I guess my main point is that having a prominent search bar should resolve this issue whether we hijack the behavior or not.

[2016-09-27 13:04] gregvenech commented on #191
Closed via 46dbf283. Taking the screen size down 1024 still leaves the sidebar with a decent amount of room and yields around 95 characters per line.

[2016-09-27 13:04] #191 closed

[2016-09-27 13:09] gregvenech commented on #173
@bebraw let me know once the license is there and I can work on getting this done.

[2016-09-27 13:11] bebraw commented on #173
@jhnns I think we may have to wait @jhnns on that. I'll bring this up in the next meeting. Vacations are going to delay this. 😢

[2016-09-27 13:14] gregvenech commented on #173
Yea no rush. Just trying to knock the issues out that I can.

[2016-09-27 13:17] bebraw commented on #173
Ok, cool.

[2016-09-28 04:24] athyuttamre opened #195 "Consider simpler tagline"
While "webpack transforms your modules into production-ready bundles and assets" is accurate, I don't think it simply communicates what Webpack is or what use case it solves for.

One suggestion could be "webpack is a modern build tool for web applications", and we could expand more with a bullet point list or a grid of prominent features. (Think dependency graph, loaders and plugins, etc.)

Thoug

[2016-09-28 04:26] athyuttamre opened #196 "Documentation: talk about using webpack with TypeScript"
There is a large TypeScript community out there (especially with release of Angular 2.) It would be cool to have a page directed at creating a nice TS build with loader recommendations, best practices for performance, how to get typed CSS working (using [typed-css-modules-loader](https://github.com/olegstepura/typed-css-modules-loader) for example), and so on.

[2016-09-28 04:49] TheLarkInn commented on #195
I think this is a great start.

Why don't you update your issue with a few bulleted phrases that may capture a couple variations.

[2016-09-28 12:52] bebraw commented on #48
It would be enough to adapt this from the old docs and perhaps link to a couple of external comparisons for more.

[2016-09-28 13:28] anvish commented on #151
Workaround:
[code]

[2016-10-01 17:31] TheLarkInn opened #201 "Questions about resolvers"

[2016-10-01 17:32] TheLarkInn commented on #201
Stub

[2016-10-01 17:36] sebastiandeutsch commented on #201
@sokra if "raw-file" considered a hook and "before-raw-file" considered an phase of the hook. What exactly is an action?

[2016-10-01 17:38] sebastiandeutsch commented on #201
@sokra What would be the best way to model the "happy-path" of my graph? Currently there are some ifs and elses in the factory but I think the best way to educate the people is by just displaying the defaults in the graph.

[2016-10-01 17:42] sebastiandeutsch commented on #201
@sokra would it make sense to document the existing plugins by having an example input and output?

E.g. ParsePlugin usually listens to the "resolve" hook and emits a "parsed-resolve". The request is parsed and enriched by additional information like

[code]

[2016-10-02 22:26] SpaceK33z commented on #149
With old versions of webpack-dev-server, it forced `output.path` to `/`. This has been fixed with https://github.com/webpack/webpack-dev-server/issues/337, so I'm pretty sure this is no longer an issue.

[2016-10-02 22:27] SpaceK33z commented on #136
Side note, we are working on better config validation in webpack-dev-server that should prevent issues like this: https://github.com/webpack/webpack-dev-server/issues/615.

[2016-10-02 22:32] SpaceK33z commented on #125
I think with the new docs in #204 this has been made pretty clear. At the top, it specifies how you can pass webpack-dev-server or webpack-dev-middleware options. `watchOptions` is also correctly documented there.

[2016-10-03 02:49] #125 closed

[2016-10-03 02:50] bebraw commented on #136
Yeah, closing. Thanks.

[2016-10-03 02:50] #136 closed

[2016-10-03 02:50] #149 closed

[2016-10-03 07:44] TheLarkInn opened #208 "Broken Slideout Icon on Mobile"
My bad for merging this one into master without testing. Leaving here to track. Haven't looked at larger viewports.

Cc @gregvenech

[2016-10-03 08:08] oliverturner commented on #208
It looks like the React JS isn't being loaded

[2016-10-03 08:21] bebraw commented on #208
Yeah, we would need `Interactive` wrapper (on today's program) for that kind of bits since it relies on JavaScript.

[2016-10-03 08:24] oliverturner commented on #208
@bebraw is that an antwar-specific thing? If needed I can hack in a quick `:target` hack that would fix it without js...

[2016-10-03 08:31] bebraw commented on #208
@oliverturner Yeah, it's something I need to implement. Another way would be to go through jQuery and attach a custom script through the existing template.

[2016-10-03 08:46] oliverturner commented on #208
At this point the best solution is the quickest solution ;)

[2016-10-03 10:29] jfrolich opened #210 "Sourcemap urls without filename or path (only hash) in Chrome"
Sorry wrong project

[2016-10-03 10:32] #210 closed

[2016-10-03 10:32] bebraw commented on #210
No worries. 👍

[2016-10-03 12:11] SpaceK33z commented on #150
This has been fixed a while ago, the v1 docs are correct, and v2 also.

[2016-10-03 12:12] SpaceK33z commented on #138
This will be fixed with #53.

[2016-10-03 12:15] SpaceK33z commented on #26
I'm currently working on this, if anybody wants to help, please discuss first to prevent duplicate work.

[2016-10-03 12:16] #150 closed

[2016-10-03 12:16] #138 closed

[2016-10-03 12:19] SpaceK33z commented on #108
Dupe of #17.

[2016-10-03 12:24] SpaceK33z commented on #86
Also note that we need to be very clear on the differences in the CLI and the Node.js API. `--hot` automatically adds the HMR plugin, while `hot: true` in the API does not.

Ultimately, there shouldn't be [any differences](https://github.com/webpack/webpack-dev-server/issues/616). But meanwhile, we need to make this very clear.

[2016-10-03 12:31] SpaceK33z commented on #139
This can be closed since `resolve.root` is gone in webpack v2.

[2016-10-03 12:38] #108 closed

[2016-10-03 12:39] #139 closed

[2016-10-03 12:40] bebraw commented on #86
Yeah, problems like that become obvious with documentation. webpack 1 documentation actually covers these quite a bit, but I have a feeling we can be clearer on that. There are some related technical docs that should be ported over.

[2016-10-03 12:58] SpaceK33z commented on #110
What really is the issue here? If using `eval` as a devtool doesn't work for you, there are other options. Those are [also documented](http://webpack.js.org/configuration/devtool/).

[2016-10-03 13:00] SpaceK33z commented on #135
This is [documented now clearly](http://webpack.js.org/configuration/resolve/#resolve-alias).

[2016-10-03 13:00] #135 closed

[2016-10-03 13:04] SpaceK33z commented on #107
Closing this, what @floatingLomas said is right. You can't use a server side module on the web, and I don't think we can document this any clearer.

[2016-10-03 13:04] #107 closed

[2016-10-03 13:06] SpaceK33z commented on #104
In #53 usage with Gulp will be documented.

[2016-10-03 13:06] #104 closed

[2016-10-03 13:11] SpaceK33z commented on #44
@d3viant0ne, is this still something you're interested in? Otherwise I could work on this after I've finished #26. I've never used Docker before though (but this can be a good thing), so if anyone else wants to do it, that's fine.

[2016-10-03 13:20] SpaceK33z commented on #41
Great idea.

I think the guide should link to the "How to develop?" page for this. It isn't done yet, but will be in not too long (#6). That page will explain in layman terms the ways to setup a local dev environment.

[2016-10-03 13:23] gregvenech commented on #208
@TheLarkInn yea sorry I was asleep when you asked if my PR was safe to merge. I should have mentioned the toggling functionality only worked on the dev server. There are also some styling tweaks that still need to be made to get it into a more presentable state (in mobile and normal).

@bebraw @oliverturner yea obviously the preact solution would be best but yea we could also use vanilla js (if we

[2016-10-03 13:23] bebraw commented on #41
Yeah, better to mention specific differences here and link to other pages where possible.

[2016-10-03 13:43] SpaceK33z commented on #142
This has been documented in [Troubleshooting](https://github.com/gaearon/react-hot-loader/blob/master/docs/Troubleshooting.md) in react-hot-loader. The webpack docs shouldn't mention issues specific to loaders, and they already explain that the sequence matters, so I think that's enough.

[2016-10-03 13:43] #142 closed

[2016-10-03 18:51] SpaceK33z commented on #154
Note that it's now possible to use `babel-preset-es2015` with the modules part disabled:

[code]

You'd still need to have two `.babelrc` files, but at least not two packages :).

[2016-10-04 12:10] pksjce commented on #15
I would like to pick this up. Looks like its not been taken by anyone yet.

[2016-10-04 12:29] bebraw commented on #15
@pksjce Sure, do a quick draft at first of the planned structure so we can avoid a bit of effort. 👍

[2016-10-04 15:38] TheLarkInn commented on #51
Fixed with #198

[2016-10-04 15:38] #51 closed

[2016-10-05 11:32] graingert commented on #126
https://github.com/webpack/webpack/blob/master/lib/AutomaticPrefetchPlugin.js doesn't seem to be documented at all

[2016-10-05 12:45] TheLarkInn commented on #208
I believe @bebraw just finished the interactive bits

[2016-10-05 12:50] sallar commented on #23
I have some experience in this area, and @TheLarkInn pointed out that this doc needs some love. I’ll be working on it.
https://twitter.com/sallar/status/783629444695126016

[2016-10-05 12:51] bebraw commented on #208
Yeah, we should try a deploy.

[2016-10-05 13:27] pksjce commented on #32
@gregvenech - Have you seen the [rollupjs](http://rollupjs.org/) home page. They have a nice interactive way of seeing setting up files and seeing what the built output looks like. What do you think is the feasibility for this? I'm not sure how such a thing could be implemented though.

[2016-10-05 13:55] bebraw commented on #208
Works now (flashing during nav can be handled separately, limitation of the approach for now).

[2016-10-05 13:55] #208 closed

[2016-10-05 14:07] bebraw commented on #17
Let's solve this with a link to GitHub releases for the MVP.

[2016-10-05 14:10] #17 closed

[2016-10-05 16:15] gregvenech commented on #183
Closing via @oliverturner's #203. There's still some tweaks to be made but these can be opened as separate issues/PRs.

[2016-10-05 16:15] #183 closed

[2016-10-05 16:35] gregvenech commented on #32
@pksjce yea I do like that, definitely could work instead of the getting started section. Not sure in terms of feasibility, there's a lot of [options](http://codemirror.net/index.html) in [terms](https://ace.c9.io/#nav=about) of [text/code editors](https://kazzkiq.github.io/CodeFlask.js/) including [draft.js](https://facebook.github.io/draft-js/) which might be the best option seeing as we're usin

[2016-10-05 17:12] pksjce commented on #32
Did not know about CodeFlask. Will play around with codemirror and this. I'm wondering how I would set it up inside antwar. Would it need to be rewritten for gatsby?

[2016-10-05 17:28] bebraw commented on #32
@pksjce Assuming it goes outside of React, I could add a little hook for injecting custom JS scripts. I have it in the template but it hasn't been exposed yet. If it's inside React, then `Interactive` tag would work. I expect some amount of rework might be needed for other static site generators.

[2016-10-05 17:55] pksjce commented on #32
@bebraw -Do you have any file link where you are using either independent js or a react tag. I think codemirror can be used in a React Component. [React-codemirror](https://github.com/JedWatson/react-codemirror) looks like a good option to me.

[2016-10-05 18:07] bebraw commented on #32
@pksjce Independent js would need a bit of work from me (on my todo). To get something inline, look up `components/Page.jsx`. You can find `Interactive` wrapper there. The idea is that it generates a placeholder and an associated script during the build. I would start from there. You can reach me through Gitter for a better idea.

[2016-10-06 01:05] chrisdothtml commented on #129
To be honest, I don't think the docs are good for "users" either. A lot of developers I've talked to had no idea what Webpack was and never looked further into it because it was so confusing.

I indirectly found out what it does, and it wasn't until then that I found out how great of a tool it is. In my opinion, the docs are way too complex, and need a massive overhaul.

With docs, the best approa

[2016-10-06 18:31] SpaceK33z commented on #124
With the new docs this is still relevant, but not very important. I still would like to move to https if possible. Also allows us to use http/2, which is nice.

[2016-10-06 18:37] SpaceK33z commented on #129
@chrisdothtml, this is why we are working on a complete rewrite of the docs, as you may have noticed. There is a lot of work going on to make it easier to understand. It would be very much appreciated if you would be able to help us out! A lot of content is not ready yet.

[2016-10-06 18:41] SpaceK33z commented on #119
Closing this since I've documented this in #204 and added examples of when watching does not work.

[2016-10-06 18:41] #119 closed

[2016-10-06 18:49] SpaceK33z commented on #144
The new docs are being rewritten, and there aren't any pre and post loaders anymore, so closing this.

[2016-10-06 18:49] #144 closed

[2016-10-06 18:51] SpaceK33z commented on #113
Closing this issue since that is exactly what we dow now on the [Configuration page](http://webpack.js.org/configuration/).

[2016-10-06 18:51] #113 closed

[2016-10-06 18:55] SpaceK33z commented on #122
Closing since @TheLarkInn documented this in #213.

[2016-10-06 18:55] #122 closed

[2016-10-06 18:59] SpaceK33z commented on #146
Closing since there is not really a documentation issue here.

[2016-10-06 18:59] #146 closed

[2016-10-06 19:01] SpaceK33z commented on #103
Closing since #23 will also document this.

[2016-10-06 19:01] #103 closed

[2016-10-06 19:09] SpaceK33z commented on #106
This was actually something [I asked on StackOverflow](https://stackoverflow.com/questions/30648101/debugging-in-devtools-with-webpack). We could document the answer.

[2016-10-06 19:18] SpaceK33z commented on #120
Tested this, and webpack v2 uses `#` as default, which is correct.

[2016-10-06 19:18] #120 closed

[2016-10-06 19:28] SpaceK33z commented on #118
The new docs no longer have this note and clarify this more clearly in the [Shortcuts page](http://webpack.js.org/api/cli/#shortcuts).

[2016-10-06 19:28] #118 closed

[2016-10-06 19:33] SpaceK33z commented on #143
Hm this is not really a documentation issue, so not sure why it has been moved.

@frapontillo, do you still have this problem. It's been almost a year ;p.

[2016-10-06 19:41] SpaceK33z commented on #111
webpack v2 definitely improved a lot of things related to this problem. In #21 they're working on better documentation around this topic.

[2016-10-06 19:41] #111 closed

[2016-10-06 20:04] chrisdothtml commented on #129
@SpaceK33z I actually just now noticed that this repo is dedicated to the rewrite. Doh. I will see if there's anything I can help with!

[2016-10-07 07:19] bebraw commented on #124
@indus Any thoughts on this? Can js.org be forced to https somehow?

[2016-10-07 08:20] Kovensky opened #220 "configuration/resolve has invalid webpack 1 documentation"
The documentation at http://webpack.js.org/configuration/resolve/ explains the resolve settings, but they use the outdated webpack 1 format that will be a runtime error with webpack 2.

Relatedly, there is no documentation for resolveLoaders.

[2016-10-07 12:50] pksjce commented on #32
@gregvenech - Can you have a look at #222 ? What do you think?

[2016-10-07 14:35] indus commented on #124
It could - but -  only when i force everybody to https (and thats not what i want; it would propably break other pages).

I would suggest [this](https://coderabbi.github.io/posts/force-https-with-github-pages/) solution. Looks a bit hackish but works great. And when JavaScript is disabled in a browser, there would be no Disqus anyway, or am I wrong?

[2016-10-07 15:12] indus commented on #124
Forget about my last post. Its 2016 and enforcing SSL is a good thing. This only affects all requester that opted-in to use Cloudflares "Universal SSL" and all that requested after it became default, all others can still use http. I think that is the cleanest solution not only for your project.

So you should now notice enforced https when you serve your page.

[2016-10-07 15:20] bebraw commented on #124
Great work. Closing.

[2016-10-07 15:20] #124 closed

[2016-10-10 07:18] bebraw commented on #129
@shlomiassaf Could you open separate issues for the bits you think are missing in the new docs? Thanks.

[2016-10-10 07:18] #129 closed

[2016-10-10 14:01] danez opened #226 "Configuration options "stats" missing in docs"
I cannot seem to find any documentation about the stats option which seems to be valid according to the error message:

[code]

[2016-10-10 14:04] bebraw commented on #226
Sounds like your configuration has an extra property. Getting rid of that `failOnError` field might fix it.

That said, these fields need to be documented.

[2016-10-10 14:07] danez commented on #226
Yes I copied the error from webpack/grunt-webpack#81. Because i wanted to figure out what this option is doing, because if webpack is now printing the stats on it's own, when this option is set, I could remove the stats printing in the grunt plugin. But even after looking at the source I have no idea what it is doing. :D

[2016-10-10 14:10] SpaceK33z commented on #226
I documented it [here](https://webpack.js.org/configuration/dev-server/#devserver-stats-) for dev-server, but it seems to be also valid for webpack.

[2016-10-10 14:25] SpaceK33z commented on #226
Discussed with @bebraw: we'll move the current docs for `stats` in dev-server to a separate page, and refer to it from dev-server.

[2016-10-10 16:40] timdorr opened #228 "Valid configuration syntax/ordering?"
In examples throughout [the Concepts section of the docs](https://github.com/webpack/webpack.js.org/blob/master/content/concepts/index.md), this kind of pattern is used:
[code]

However, this appears to be invalid because the `config` variable is referenced for the export before it is defined. The result is errors like this (under Node 6.x):
[code]
A `var` works without errors, but returns `undefi

[2016-10-10 22:40] tizmagik commented on #228
I'd like to take this, if that's cool? I should be able to get a PR out tonight.

[2016-10-10 22:43] SpaceK33z commented on #228
@tizmagik, sure!

[2016-10-10 22:47] tizmagik commented on #228
Would you prefer:

[code]

Or

[code]

[2016-10-10 22:57] timdorr commented on #228
I think just `const config = {...` might be best, as you don't have to prescribe a module system, or even bring it up every time. Perhaps just once at the beginning to establish that you're building a config object and it needs to be exported as a module. But after that is established, no need to include it every time.

[2016-10-11 04:05] TheLarkInn commented on #50
@manekinekko do you need any help with this. Let me know!!

[2016-10-11 05:04] #228 closed

[2016-10-11 12:20] #26 closed

[2016-10-11 14:18] MarkPieszak commented on #21
@bebraw @TheLarkInn I can start taking a stab at this one if you guys would like! See it's not assigned to anyone yet.

I was thinking about making a simple combination of both the 1.* (https://webpack.github.io/docs/loaders.html & https://webpack.github.io/docs/using-loaders.html pages together) along with comments above. Overall, just trying to make it as readable & simple as possible.

Let me k

[2016-10-11 14:57] bebraw commented on #21
@MarkPieszak Sure! Go ahead. 👍

[2016-10-11 16:04] jhnns commented on #173
I've added the license for our logo (https://github.com/webpack/media/pull/3).

Now when we add the new logo and the geomanist font to the repository, we need to make sure that these are excluded from the docs license.

[2016-10-11 17:04] cynicaldevil commented on #48
I can take this up. Do you have any specific build systems in mind to be added or are the current ones enough for now?

[2016-10-11 17:10] bebraw commented on #48
Go with the current ones. Consider adding Brunch.

[2016-10-11 17:50] k-funk commented on #124
Is this deployed/fixed on the live site? The http link i posted still doesn't redirect to the https version.

[2016-10-11 17:51] SpaceK33z commented on #124
@k-funk, this is the repo for the new docs website for webpack v2. It was also an issue on the new website, which is fixed now.

[2016-10-11 21:08] SpaceK33z commented on #220
Working on this.

[2016-10-12 01:58] #220 closed

[2016-10-12 05:32] NejcZdovc opened #239 "Ordering"
I would suggest to order properties alphabetically, because now it's really hard to find what you are looking for when you are looking for a specific property. When you have them ordered alphabetically you can easily spot what you are looking for

For example
https://webpack.js.org/configuration/module/#rule
https://webpack.js.org/configuration/dev-server/#devserver

Current order for dev-server o

[2016-10-12 05:37] bebraw commented on #239
Sounds like a worthwhile change to me.

Any thoughts @TheLarkInn, @SpaceK33z ?

[2016-10-12 06:47] SpaceK33z commented on #239
Jep, good idea!

[2016-10-12 08:43] bebraw opened #240 "Document stat options (presets + individual fields)"
Context: `configuration/stats`.

[2016-10-12 08:44] #226 closed

[2016-10-12 08:58] SpaceK33z commented on #240
Some more context if anyone wants to work on this:

We want to document the presets and individual fields for the `stats` option a bit more. For the individual fields, explain exactly what each field does. For the presets, explain what fields correspond to it.

This has not been documented before, so you'll need to look into webpack's source code. See [lib/Stats.js](https://github.com/webpack/webp

[2016-10-12 14:12] jhnns commented on #184
If a documentation site uses google custom search, I'm instantly annoyed ^^. I don't like the results.

[2016-10-12 14:13] SpaceK33z commented on #184
@dzello, are you still interested in adding search for this repo? We'd love it if you could do a PR :).

[2016-10-12 14:20] TheLarkInn commented on #10
Any update on this? Can help if anyone is stuck.

[2016-10-12 16:24] dzello commented on #184
@SpaceK33z yes, I will start getting that together :)

[2016-10-12 17:11] bebraw commented on #47
Done. Just forgot to close.

[2016-10-12 17:11] #47 closed

[2016-10-13 02:08] TheLarkInn commented on #49
Since we now have `concepts/modules` I'm going to close this. If anyone else disagrees we can open it back up. But I think the content that we have there get's us one step closer.

[2016-10-13 02:08] #49 closed

[2016-10-13 02:10] TheLarkInn commented on #21
@MarkPieszak no pressure just following up since we are about everyone assigned to issues and in progress on them. If you need help feel free to reach out.

[2016-10-13 10:40] MarkPieszak commented on #21
Great! Yeah I'll get moving on this one sorry have been crazy sick the past 2 days 😓
I'll talk to you slack about where I'm at to make sure I'm going in the right direction! @TheLarkInn

[2016-10-13 12:43] gregvenech commented on #173
@jhnns I've added the font (in regular and and medium) as well as the images in #225. The license is the last thing and then we can close this.

[2016-10-13 12:43] TheLarkInn commented on #36
Wow it had been awhile since I had reviewed this content I'll start adding this to my pr this week.

[2016-10-13 12:58] TheLarkInn commented on #21
Like i said it is no pressure and just reach out and I can give you some guidance.

[2016-10-13 20:11] SpaceK33z commented on #114
Not really sure if we still need this after the "Getting started" page, which will explain the basics. We could also add a link to external blogs on the "Getting started" page for extended tutorials.

[2016-10-13 20:12] SpaceK33z commented on #40
Closing since the new docs have an "edit" button now (don't know when that got implemented).

[2016-10-13 20:12] #40 closed

[2016-10-13 20:18] SpaceK33z commented on #188
So as discussed above, a prominent search bar is the way to go. This will be done in #184. Closing this in favor of #184.

Feel free to re-open if you think I have closed this too fast, but I really think it's not worth the extreme hacks we would need to do to get ctrl + f working "properly", and using the search bar is just as fast.

[2016-10-13 20:18] #188 closed

[2016-10-13 20:36] SpaceK33z commented on #109
Closing because looking into the new documentation, this has been fixed:

[2016-10-13 20:36] #109 closed

[2016-10-14 01:57] bebraw commented on #114
Yeah, valid point. Closing.

[2016-10-14 01:57] #114 closed

[2016-10-14 08:07] SpaceK33z commented on #147
This has actually been possible for a while, but it just hadn't been documented.

You can find the [documentation here](https://github.com/webpack/webpack.js.org/blob/develop/content/configuration/stats.md).

tl;dr:

[code]

in the "root" of your webpack config, OR if you are using webpack-dev-server, in the `devServer` object.