[2020-01-01 10:52] niravasher commented on #3244
According to my understanding, this is what I have written. Please suggest appropriate corrections here
![Screenshot from 2020-01-01 16-20-39](https://user-images.githubusercontent.com/32176296/71640594-d7877100-2cb2-11ea-9a99-b29172d577a3.png)

[2020-01-02 04:49] jeffin143 commented on #2920
@montogeek This is resolved

The point or points where to start the application bundling process. If an array is passed then all items will be processed.

[2020-01-02 09:54] montogeek commented on #3415
Please provide more information.

[2020-01-02 09:54] #3415 closed

[2020-01-02 09:54] montogeek commented on #3416
Please provide more information.

[2020-01-02 09:54] #3416 closed

[2020-01-02 10:13] montogeek commented on #3438
Please run `git commit -a -m "your message" --no-verify`

[2020-01-02 11:13] sokra opened #3444 "Make voting page accessible"
Currently the voting page (https://webpack.js.org/vote/) is unusable with out a mouse. This makes is unusable for some people.

The arrows to vote for the items should be usable with only a keyboard.

[2020-01-02 11:24] sokra opened #3445 "Filtering in the voting page"
The number of items on the voting page (https://webpack.js.org/vote/) increases over time. Some of the items are already done and may not be interesting for everyone.

Most items already have some kind of tag in front of the title, e. g. `[WEBPACK 5] PERSISTENT CACHE`.
This tag could be extracted and treated as tag (maybe multiple tags separated by `,`). Not locked items would also get the default

[2020-01-02 11:25] sokra commented on #3426
`eager` doesn't generate a chunk, but includes all referenced modules in the current chunk instead.

[2020-01-02 11:29] sokra opened #3446 "Voting page: Make it clear that items are locked"
The `PLACE YOUR VOTE` text on the voting page (https://webpack.js.org/vote/) is a little bit confusing for items that can't be voted on.

Maybe replace the `PLACE YOUR VOTE` text, with `VOTING ENDED` for locked items instead.

[2020-01-02 11:33] anshumanv commented on #3446
On it.

[2020-01-02 11:58] anshumanv commented on #3446
PR up - https://github.com/webpack-contrib/voting-app/pull/18

[2020-01-02 12:02] anshumanv commented on #3444
@montogeek have you started working on this? I'd like to pick this up if you haven't started.

[2020-01-02 12:41] montogeek commented on #3444
@anshumanv Feel free to do it :)

[2020-01-02 20:46] webpack-bot opened #3447 "Document webpack change: flag all modules as used for Dll"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10205

---

fix problem that modules were removed before they were flagged as used

fixes #10189

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes, DLL

[2020-01-02 20:46] webpack-bot opened #3448 "Document webpack change: change DllPlugin entryOnly default to true"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10206

---

**What kind of change does this PR introduce?**
change

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes, entryOnly is now true by default

**What needs to be documented once your changes are mer

[2020-01-03 05:42] niravasher commented on #3447
Solving this issue

[2020-01-03 10:24] Airkro opened #3457 "Document `options.devServer.features`"
- Operating System: Windows 10
- Node Version: 12.x
- NPM Version: 6.x
- webpack Version: 4.x
- webpack-dev-server Version: 3.10.x
- Browser: Chrome

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code

https://github.com/webpack/webpack-dev-server/blob/master/lib/options.json#L80

### Expected Behavior
Document `options.devServer.features` , add `enum` and code example.

##

[2020-01-03 11:55] niravasher commented on #3438
Works, thanks @montogeek

[2020-01-03 11:55] #3438 closed

[2020-01-03 21:55] blordpluto commented on #2217
It's been over a year now. Please oh please can someone tackle this?

[2020-01-04 20:33] EugeneHlushko commented on #3457
@Airkro not sure i understand the issue, can you provide more details?

[2020-01-06 16:38] Legends opened #3465 "ReferenceError: regeneratorRuntime is not defined"
__Feature to document__
[Writing a loader](https://webpack.js.org/contribute/writing-a-loader/)

What is the minimum supported version of node we have to support when writing a loader?
I have node v12.13.0 installed.

I can't make the example work following the babel setup in your example:
[code]
I get :
ReferenceError: regeneratorRuntime is not defined

What else has to be setup/installed here?

[2020-01-06 18:22] Legends commented on #3465
I made it compile using this setting in package.json and converting all import to use `require`

[code]

But what is the setup for using ES6 syntax?

[2020-01-07 08:43] anikethsaha commented on #3465
Ref any official loader like https://github.com/webpack-contrib/style-loader
They are written in es6

Also better use https://github.com/webpack-contrib/webpack-defaults to setup your webpack loader/plugin project

[2020-01-07 11:11] EmpireJones commented on #3426
Maybe I'm just not understanding the definition of 'includes' and 'current chunk'.

`const en = await import( /* webpackMode: "eager", webpackChunkName: 'english' */ './../../static/locales/en.json' );
`

In this case I still still get a separate chunk called 'english', so I'm not sure which "modules are included in the current chunk" in this case.

[2020-01-07 11:23] anikethsaha commented on #3457
https://github.com/webpack/webpack-dev-server/blob/master/lib/options.json#L80

seems like its a pending schema. I guess it would be more accurate to submit the issue in dev-server repo.

[2020-01-07 11:29] anikethsaha commented on #3321
Yes 👍

[2020-01-07 11:37] anikethsaha commented on #2864
👍 for this
I think it's important to document the lifecycle as well like the order of the hooks calling.

[2020-01-07 13:28] Legends commented on #3465
Thanks for the recommendation!
But adding the `webpack-defaults` does not insert a script command in` package.json`.

[2020-01-07 15:32] anikethsaha commented on #3465
I usually do

- npm init -y
- npm i --save-dev webpack-default
-  add the webpack default script in the package.json mentioned in the webpack-default docs
- npm run default.

This pretty much works for me. Then I do my own changes on top of that.

[2020-01-07 15:34] anikethsaha commented on #3465
And if you want to use es6, use `@babel/preset-env` , I saw your package.json and those packages are outdated.
Please update them as well.

[2020-01-07 17:23] Legends commented on #3465
There is only the readme page, I cannot find any docs?!

So what are the requirements for installing `webpack-default`, nothing is mentioned in the readme, so I assume none.

I will try with a new blank project from scratch.

[2020-01-07 17:27] Legends commented on #3465
It doesn't work...

[2020-01-07 17:49] anikethsaha commented on #3465
What doesn't work?

I meant readme

[2020-01-07 18:25] anikethsaha commented on #3465
btw, the package name is  `@webpack-contrib/defaults`.

[2020-01-07 21:24] Legends commented on #3465
The package only installs, no `default` command is created under scripts in package.json.
The package seems not to create this entry on windows.

I know, there are three different packages

1. webpack-contrib/default
2. webpack-contrib/defaults
3. @webpack-contrib/defaults  <-- this is the correct one

As a workaround I execute it myself:

[2020-01-07 21:25] #3465 closed

[2020-01-07 21:37] anikethsaha commented on #3465
the default script is this one

`default : webpack-defaults`

[2020-01-07 21:58] logandavis opened #3471 "docs(watch): watchOptions.ignored documentation is misleading"
__Feature to document__

watchOptions.ignored: https://webpack.js.org/configuration/watch/#watchoptionsignored

__Author(s)__

From the contributors list in watch.md:
@sokra @skipjack @SpaceK33z @EugeneHlushko @byzyk @spicalous

__Additional information__

The docs on watchOptions.ignored say this:

[code]

[code]
The second array-of-strings entry is very misleading, IMO. From the inclusion of 'no

[2020-01-07 22:12] Legends commented on #3465
One question:

Should there also be a `helpers.js` file generated or should this only be a suggestion:

![image](https://user-images.githubusercontent.com/966368/71933699-12057800-31a3-11ea-968c-8d48d3ce9429.png)

There is no helpers file generated.

[2020-01-08 08:48] #3448 closed

[2020-01-09 07:57] montogeek commented on #3471
Feel free to send a PR.

[2020-01-09 20:51] maicoqb opened #3479 "Documentation Fix"
Hi everybody,

I just found a mistake on documentation, but I don't know how fix it.

Into [Ouptut section](https://webpack.js.org/configuration/output/#outputmodule) of documentation, there is a reference to `output.libraryTarget` as `'module'`, but seems like `'module'` is not a valid option to `output.libraryTarget`.
I try to fix it, but then I realize that I don't know what value I should use

[2020-01-10 07:59] montogeek opened #3480 "Add how to write links to Writers guide"
We don't have any guides regarding how to write links, specially internal links in our internal guide, new contributors always assume by default that an absolute URL (https://webpack.js.org/concepts/mode/) should be used, but we use relative links to internal URLs (/concepts/mode/).

Last example: https://github.com/webpack/webpack.js.org/pull/3478

[2020-01-10 11:50] EugeneHlushko commented on #3480
Great stuff, looking forward

[2020-01-10 14:45] anshumanv commented on #3444
Sorry for the delay, PR up at - https://github.com/webpack-contrib/voting-app/pull/19

Have just included the vote keys in tab order.

[2020-01-12 16:09] jeffin143 commented on #3480
@montogeek What do you think would be the correct place to add that ?

[2020-01-15 21:23] Legends opened #3488 "Webpack includes app unrelated modules to build"
Can we add information to the docs:
Why does webpack include the following packages (target:'web').

Are they needed by the runtime? So this would be good to know.

![image](https://user-images.githubusercontent.com/966368/72472634-3c7bb480-37e5-11ea-8375-e15e17c72d68.png)

[2020-01-15 23:00] webpack-bot opened #3489 "Document webpack change: the pure annotation only applies to function calls"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10262

---

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes `/*#__PURE__*/` applies to only function calls now instead of expressions in general.

**W

[2020-01-17 08:01] #2324 closed

[2020-01-17 16:28] webpack-bot opened #3498 "Document webpack change: feat: getOptions util for loader"
*A pull request by @evilebottnawi was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10017

---

New `getOptions` util for loader (part of migration loader-utils into core)

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

Yes, after feedback i will add more tests

**Does this PR

[2020-01-21 07:26] #2393 closed

[2020-01-24 07:36] #3489 closed

[2020-01-24 12:02] leibowitz opened #3503 "(docs): externals array still referenced"
This PR https://github.com/webpack/webpack.js.org/pull/2100 didn't remove all references to array in externals.
https://github.com/webpack/webpack.js.org/blob/2eb1c0e3c355a52a10cc54dba2dab30958fb7758/src/content/configuration/externals.md#array
https://webpack.js.org/configuration/externals/#array
https://github.com/webpack/webpack.js.org/blob/2eb1c0e3c355a52a10cc54dba2dab30958fb7758/src/content/c

[2020-01-27 07:28] #3498 closed

[2020-01-28 10:29] anikethsaha commented on #3488
in which section you are thinking to add this ?

[2020-01-28 10:42] anikethsaha commented on #3479
I think this is a correct value for `output.libraryTarget` option .

[`refer-this`](https://github.com/webpack/webpack/blob/40074d308f784b0a736177b0aa5582a53e733345/lib/WebpackOptionsDefaulter.js#L274-L276)

[2020-01-28 13:51] Legends commented on #3488
Yeah, I had the same thought. But a first thought would be at the end of section `Concepts-->Output`  inside of an light-blue colored attention/info box...
I guess many ask themselves what these modules are for.

[2020-01-28 13:55] evilebottnawi commented on #3488
You are use node modules in browsers (`require('process')` and etc), maybe we can add it here https://webpack.js.org/configuration/node/, but we remove polyfilling for node modules in webpack@5

[2020-01-28 23:14] Legends commented on #3488
I don't use any `node` modules in my app, but I use `CommonJS `syntax only in my html template files, I don't know if I can use `import` here in this specific case?

`<link rel="apple-touch-icon" href="${require('../icons/icon.png').default}">`

 Is it possible to use `import` instead of the `require` above?

Aaah, I can set `  node: false,` then I don't have the polyfills for `node `anymore. Than

[2020-01-29 20:16] madilraza opened #3508 "sitemap update"
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2020-01-30 09:54] anikethsaha commented on #3508
Please fill the issue template

[2020-01-30 15:04] webpack-bot opened #3510 "Document webpack change: enable optimization.sideEffects, innerGraph and usedExports by default"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10317

---

**What kind of change does this PR introduce?**
change

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
optimization.sid

[2020-01-31 17:27] Legends commented on #3488
@evilebottnawi
Closing, cause you mentioned

It's nice to have information..

[2020-01-31 17:27] #3488 closed

[2020-02-02 06:32] danielthank commented on #2314
I would like to proceed this.

[2020-02-03 04:26] jeffin143 commented on #3446
@montogeek Let's close this since it is done

[2020-02-03 06:57] #3446 closed

[2020-02-03 06:58] #3471 closed

[2020-02-03 10:38] jeffin143 commented on #3057
friendly-ping @montogeek

[2020-02-03 10:40] #3510 closed

[2020-02-03 13:38] anikethsaha commented on #2939
I am -1 for this proposal.

cc @montogeek  @EugeneHlushko

[2020-02-03 13:39] evilebottnawi commented on #2939
Will be great to migrate on https://github.com/facebook/docusaurus

[2020-02-03 13:43] montogeek commented on #2939
This website doesn't need a component library, but thanks for the recommendation.

[2020-02-03 13:43] #2939 closed

[2020-02-03 13:45] evilebottnawi commented on #3457
No need, that option was removed in next version, also it is broken in many cases

[2020-02-03 13:57] anikethsaha commented on #2692
its good to close now as style-loader has updated its docs
cc @montogeek @EugeneHlushko

[2020-02-03 14:10] #2692 closed

[2020-02-03 14:10] #3457 closed

[2020-02-05 08:34] webpack-bot opened #3518 "Document webpack change: Add entrypoint descriptor with `import` property"
*A pull request by @smelukov was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10334

---

some preparations to other cool features

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

yes

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your c

[2020-02-05 09:09] webpack-bot opened #3519 "Document webpack change: add percentBy options to ProgressPlugin"
*A pull request by @smelukov was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10315

---

**What kind of change does this PR introduce?**

feature

**Motivation:** on huge projects, there is super incorrect percent value. This feature makes possible to specify the percent calculation algorithm. For example on huge projects `pe

[2020-02-05 10:14] smelukov commented on #3518
I'll do it later, after merge https://github.com/webpack/webpack/pull/10290

[2020-02-06 15:56] EugeneHlushko commented on #3324
via #3507

[2020-02-06 15:56] #3324 closed

[2020-02-07 14:50] G100g opened #3524 "contentBasePublicPath missing in the documentation"
- Operating System: Mac OS 10.14.6
- Node Version: v10.15.3
- NPM Version: 6.9.0
- webpack Version: 4.39.3
- webpack-dev-server Version: 3.10.3
- Browser: Chrome 79.0.3945.130

- [x] This is a **bug**

### Expected Behavior
`contentBasePublicPath` options is present in the documentation page https://webpack.js.org/configuration/dev-server/#devservercontentbasepublicpath

### Actual Behavior
`conte

[2020-02-07 14:55] evilebottnawi commented on #3524
You can create/update docs in that repo, thanks

[2020-02-07 20:25] G100g commented on #3524
PR #3525 is out!

[2020-02-07 20:28] #3519 closed

[2020-02-10 12:27] webpack-bot opened #3527 "Document webpack change: Add options arg to EnvironmentPlugin, fixes #10296"
*A pull request by @Logikgate was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10297

---

Currently, the EnvironmentPlugin adds a warning to the build if an environment variable is undefined and no default value was provided. This pull request changes webpack to error instead, if an expected environment variable is not found

[2020-02-11 09:57] webpack-bot opened #3528 "Document webpack change: Entry dependOn"
*A pull request by @smelukov was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10290

---

**What kind of change does this PR introduce?**

feature

closes #6977

**Did you add tests for your changes?**

yes

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

about

[2020-02-12 12:02] #3524 closed

[2020-02-12 18:48] anikethsaha commented on #2223
Here is the screenshot from Sean's talk

![image](https://user-images.githubusercontent.com/26347874/74366327-d3905800-4df5-11ea-9002-0918c85c0356.png)

Here is one flow diagram [here](https://medium.com/@imranhsayed/webpack-behind-the-scenes-85333a23c0f6) as well

These are the top-level diagram. A detailed diagram is not available as of now I guess

[2020-02-13 14:35] ashikmeerankutty commented on #3445
@montogeek have you started working on this? I'd like to pick this up if you haven't started.

[2020-02-14 17:26] plug-n-play opened #3538 "Documentation: Add keyboard shortcut to documentation to toggle sidebar navigation"
## Feature request
In the official documentation, it would be great to add keyboard shortcut which toggles sidebar navigation and helps people like me who get distracted easily from following existing view:
![image](https://user-images.githubusercontent.com/6245927/74553090-9b675180-4f7c-11ea-9441-ecb67b2523fb.png)

to this:

![image](https://user-images.githubusercontent.com/6245927/74553150-bafe

[2020-02-14 18:26] anikethsaha commented on #3538
did you zoom-out or its the default behavior of showing that sponsor banner.?

[2020-02-15 09:14] plug-n-play commented on #3538
I did not zoom out, but used only a portion of the screen as screen capture. Here is another full screen capture for comparison:

![image](https://user-images.githubusercontent.com/6245927/74585347-a1534600-5001-11ea-9b86-d5c1cc419119.png)

[2020-02-15 09:18] anikethsaha commented on #3538
I think the sponsor thing should not be there. !!!!!

even toggling sidebar seems fine enhancement !!

cc @montogeek

[2020-02-15 09:26] anshumanv commented on #3538
I don't think removing the sponsors is a good idea. Unsure about removing sidebar too.

[2020-02-15 09:28] anikethsaha commented on #3538
yeah...even I thought about the sponsor and it seems it should be there
and about the toggling, I guess the default will be it will be visible but we can add a toggle.
maybe...even the current is good....

[2020-02-15 22:16] SimonSiefke opened #3540 "Links don't scroll to correct position"
When clicking the anchor links in the sidebar, it doesn't scroll to the correct position

## Current Behaviour
It scrolls past the heading and past the description (actually it doesn't but it looks like it because the fixed topbar is covering the heading and the description).
![webpack](https://user-images.githubusercontent.com/23744935/74595783-22ccc780-5046-11ea-8551-c3f6900e9254.png)

## Expect

[2020-02-16 07:33] anshumanv commented on #3540
This is surely an issue, great catch!

[2020-02-16 07:35] anikethsaha commented on #3540
This style is working as expected. I guess you can submit a PR with this fix. But be sure it is not breaking any other styles !!!

[2020-02-16 14:41] #3527 closed

[2020-02-16 15:07] #2461 closed

[2020-02-16 16:10] gavinhenderson opened #3548 "Adding a link to loader template"
I recently followed the brilliant docs on how to write a loader to create my own loader:
https://webpack.js.org/contribute/writing-a-loader/

I was wondering if I was to create a [GitHub template](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository) based on the guide if it would be acceptable to add a link to it within the docs for others t

[2020-02-16 16:16] anikethsaha commented on #3548
I guess [this](https://github.com/webpack-contrib/webpack-defaults) might be useful for you

👍

[2020-02-16 16:38] gavinhenderson commented on #3548
Yup, even has a link to it in the docs. Thanks 👍

[2020-02-16 16:38] #3548 closed

[2020-02-17 08:53] webpack-bot opened #3549 "Document webpack change: disallow function for output.hotUpdateChunkFilename"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10393

---

#10389

**What kind of change does this PR introduce?**
schema fix

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no, a bugfix

**What needs to be documented once your changes are merged?**
webpack

[2020-02-17 10:56] #3549 closed

[2020-02-17 13:41] webpack-bot opened #3552 "Document webpack change: ProgressPlugin: save and restore total module count"
*A pull request by @smelukov was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10396

---

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**
ProgressPlugin uses th

[2020-02-17 15:55] #3552 closed

[2020-02-17 19:39] webpack-bot opened #3555 "Document webpack change: Refactor defaulting"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10401

---

Split options defaulting in normalization and defaults
Apply defaults after plugins are applied to allow plugins to feature their own defaults.
This allows to make preset plugins.

**What kind of change does this PR introduce?**
refactoring,

[2020-02-18 08:19] webpack-bot opened #3557 "Document webpack change: improve caching support for PnP version 3 (yarn 2 berry)"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10405

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes manually

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
We support yarn 2

[2020-02-18 09:28] plug-n-play commented on #3538
The default behaviour can stay as it is. Just a feature enhancement to make the docs more accessible to read. A keyboard shortcut which toggles between existing view and the Medium like, distraction free view.

[2020-02-18 09:34] CervEdin opened #3561 "'Getting Started' guide + Typescript guide default import build error"
**What is the current behavior?**
Following the steps in [Getting Started](https://v4.webpack.js.org/guides/getting-started/) everything works fine.
Moving on to the guide for [Typescript](https://v4.webpack.js.org/guides/typescript/), copying index.js into index.ts and following the steps results in a build failure
`ERROR in C:\webpack-demo\src\index.ts
./src/index.ts
[tsl] ERROR in C:\webpack-de

[2020-02-18 20:49] EverlastingBugstopper opened #3564 "Update blog"
It seems as if the [webpack blog](https://medium.com/webpack) has not been updated since webpack 4 was in beta - it might be worth making a post saying that the blog is stale and to read up on pinned issues in the webpack repo or something so folks don't head to the blog expecting up to date info.

[2020-02-18 21:59] yvele commented on #3313
What is the default value for `ecmaVersion` 🤔

[2020-02-19 05:52] webpack-bot opened #3565 "Document webpack change: improve schema and validation"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10406

---

* remove serve property from options
* Add "did you mean" to schema validation for common errors

**What kind of change does this PR introduce?**
feature, removal

**Did you add tests for your changes?**
yes

**Does this PR introduce a break

[2020-02-19 11:38] #3557 closed

[2020-02-19 17:38] EugeneHlushko commented on #3564
@TheLarkInn @sokra you guys have rights to post there maybe worth drop a post based on the webpack 5 talks?

[2020-02-19 18:07] #3508 closed

[2020-02-20 15:59] #3565 closed

[2020-02-20 16:00] montogeek commented on #3564
Also Medium is not longer that attractive to post information, our own blog would be better.

[2020-02-20 17:27] wardtwits commented on #1854
THis is gone, is there another way to view webpack 3 documentation ?  Thanks

[2020-02-20 17:58] jderijke commented on #1854
the links from @bendtherules still work: https://webpack-v3.jsx.app/, https://webpack-v3.netlify.com

[2020-02-20 19:15] #3561 closed

[2020-02-21 02:24] davidfregoli commented on #1854
This is beyond ridicolous...

[2020-02-21 09:23] #3528 closed

[2020-02-21 12:34] ScriptDevil opened #3572 "Getting started should pin webpack to a version"
https://webpack.js.org/guides/getting-started/ (which tracks v5-beta currently) and https://v4.webpack.js.org/guides/getting-started/ have identical installation instructions and so only one of them could be correct. My suggestion would be to either pin versions of webpack in the documentation or bring to the user's attention that the version in the doc may not match the current NPM release of web

[2020-02-21 12:40] anikethsaha commented on #3572
It should be fixed in `v4` docs with this content

[code]

cc @EugeneHlushko @montogeek

[2020-02-21 16:56] EugeneHlushko commented on #3572
@anikethsaha yeah sounds good, you can submit a PR to `webpack-4` branch

[2020-02-21 16:58] anikethsaha commented on #3572
@anikethsaha is [`webpack-4`](https://github.com/webpack/webpack.js.org/tree/webpack-4) branch source of v4 ?

[2020-02-21 18:44] anikethsaha commented on #3572
@ScriptDevil do you want to submit the fix at `webpack-4` branch or you want me/others to submit ? as it is reported by you.

We can help you with submitting the PR if you need it.

Thanks,  👍

[2020-02-23 08:53] SimonSiefke opened #3578 "don't make plus-signs selectable"
### Expected behavior:
I can copy and paste the code, the plus-signs are not copied with the code.

### Current behavior:
When I copy and paste the code, I manually need to remove each `+` because the the plus-signs are copied along with the code.

![webpack-select](https://user-images.githubusercontent.com/23744935/75109201-8300d200-5621-11ea-9ec4-cc61dd659b9c.png)

[2020-02-23 09:23] anikethsaha commented on #3578
Those `+` and `-` signs are required in order to make it better to understand how to change the code for migration or how to replace any deprecated APIs with the new one.

these are not usually long snippets so manually deleting should not be a much of work. 👍

[2020-02-23 17:14] jeffin143 commented on #3313
2015 (6) for `webpack 5` and for `webpack 4` it's 5

[2020-02-23 18:16] #3555 closed

[2020-02-24 04:18] snitin315 commented on #3518
@smelukov can i work on this?

[2020-02-24 11:31] SimonSiefke commented on #3578
I was thinking that maybe
[code]

would be a good solution.

I agree that it is not much work to manually remove the plus-signs but I think it is unnecessary and that the guides would be improved when the code can just be copied and pasted.

[2020-02-25 16:03] jorydotcom opened #3583 "[Info] OpenJS Conference & Collab Summit FYIs for Project Communities"
Hi webpack community 🤗

I've been asked to help make sure that all the OpenJS Foundation project communities are aware that the deadline for our [OpenJS Conference Call for Proposals](https://events.linuxfoundation.org/openjs-world/program/cfp/) has been extended through Feb. 28. Previously, this event was called 'Node + JS Interactive' and it leaned heavily toward Node.js. We're hoping to have a

[2020-02-26 02:15] snitin315 opened #3585 "bug: broken link for node.global source on /configuration/node/#nodeglobal"
The link for the souce is broken here [https://webpack.js.org/configuration/node/#nodeglobal](https://webpack.js.org/configuration/node/#nodeglobal)

![Screenshot from 2020-02-26 07-41-29](https://user-images.githubusercontent.com/46647141/75305281-b040c080-586b-11ea-8199-411f6bd85f49.png)

Steps to reproduce --

1. Visit [https://webpack.js.org/configuration/node/#nodeglobal](https://webpack.js.o

[2020-02-26 10:02] montogeek commented on #3585
It works for me. Maybe cache?

[2020-02-26 10:06] snitin315 commented on #3585
[https://github.com/webpack/webpack/blob/master/buildin/global.js](https://github.com/webpack/webpack/blob/master/buildin/global.js)

[2020-02-26 10:09] snitin315 commented on #3585
Can you share screenshot?

[2020-02-26 10:20] montogeek commented on #3585
I see it now, feel free to send a PR.

[2020-02-26 10:24] #3540 closed

[2020-02-26 10:40] snitin315 commented on #3585
@montogeek can you share the correct link?

[2020-02-26 11:00] montogeek commented on #3585
Should be this one https://nodejs.org/api/globals.html

[2020-02-26 11:34] #3585 closed

[2020-02-26 16:18] webpack-bot opened #3590 "Document webpack change: add output.uniqueName option"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10449

---

It defaults to library name or name from package.json in context

output.uniqueName will be used to generate unique globals for
* output.jsonpFunction
* output.chunkCallbackName
* etc.

fixes #10441

**What kind of change does this PR introd

[2020-02-26 16:49] smelukov commented on #3518
It was closed by #3553

[2020-02-26 16:49] #3518 closed

[2020-02-27 00:27] jtswartz commented on #1854
Looking for webpack 3 docs. How does such a big project drop the ball here?

[2020-02-28 16:56] tpetillot opened #3592 "Code Splitting: multiple entry points object schema not supported"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
- Setup multiple entry points with object schema
`object = { import string | [string], dependOn string | [string], filename string }`
- Run webpack command

**What is the expected behavior?**
Support [documented schema](https://webpack.js.org/guides/code-splitting/).

**Oth

[2020-03-02 01:43] Mistyyyy commented on #3592
![image](https://user-images.githubusercontent.com/37856353/75639058-e914d700-5c69-11ea-893a-d996c9d4fcf0.png)

I thought the version in the tag should be corrected.

[2020-03-02 20:27] EugeneHlushko commented on #3592
Hi @smelukov pushed a fix for this and unassigned you as there was no PR still

[2020-03-02 22:27] #3590 closed

[2020-03-03 13:30] snitin315 commented on #3503
Looking into it.

[2020-03-03 16:17] neemah opened #4479 "Provide underlying reason for a ChunkLoadError"
## Feature request

**What is the expected behavior?**

When a ChunkLoadError is thrown, you are able to catch it and determine the exact reason for it.

**What is motivation or use case for adding/changing the behavior?**

Knowing the underlying reason for that error, you will be able to make and appropriate action. For example, if the reason is 404 HTTP ERROR, that in our case mean, that applica

[2020-03-06 13:24] himanshu010 opened #3604 "docs: Angular Icon is missing in README.md"
**What is the current behavior?**

The angular icon is missing from the readme file.
![Screenshot (31)_LI](https://user-images.githubusercontent.com/43860289/76086608-704fab00-5fda-11ea-8e72-2da92e833cc8.jpg)

"Architects.io" logo is also missing from the file but I think that it is an invalid URL.

**What is the expected behavior?**

![Screenshot (30)_LI](https://user-images.githubusercontent.com

[2020-03-07 12:55] snitin315 commented on #3028
Looking into it.

[2020-03-07 19:50] himanshu010 opened #3605 "docs: Issue not linked in the Readme"
**What is the current behavior?**
Issue #3366 in Versioning heading in Readme is not linked.

![Screenshot (38)](https://user-images.githubusercontent.com/43860289/76151388-b7bd6080-60da-11ea-92d8-19f5017d30b7.png)

**What is the expected behavior?**

Linking the issue.

![Screenshot (39)](https://user-images.githubusercontent.com/43860289/76151411-eaffef80-60da-11ea-9659-848deb4eca26.png)

[2020-03-08 04:16] snitin315 opened #3606 "docs(writing-a-plugin): minor grammar error"
__Feature to document__

![Screenshot from 2020-03-08 09-45-01](https://user-images.githubusercontent.com/46647141/76156524-992e8800-6121-11ea-928f-61bc9f9111f5.png)
it should be `passed as an argument`

__Additional information__

I will work on this issue.

[2020-03-09 10:04] #3605 closed

[2020-03-10 15:45] #3606 closed

[2020-03-11 19:35] evilebottnawi opened #3614 "Union webpack.js.org repo and voting-app repo"
__Feature to document__

Move voting-app repo https://github.com/webpack-contrib/voting-app inside that repo

__Author(s)__

Don't known

__Additional information__

Pros:
- Easy to maintenance (all in one place)
- Easy to update
- Less repositories
- When a feature was released it will easy to update status for voting app

[ ] I am willing to work on this issue and submit a pull request.

[2020-03-11 23:29] montogeek commented on #3614
Which repo?

[2020-03-12 03:59] jeffin143 commented on #3614
I guess he meant in `this` repo

[2020-03-12 10:06] montogeek commented on #3614
If that is the case, why?
This repo should only host documentation, any external app, plugin, etc should be a dependency.

Initial discussion: https://github.com/webpack/webpack.js.org/issues/301
Initial implementation: https://github.com/webpack/webpack.js.org/pull/1717

[2020-03-12 11:29] evilebottnawi commented on #3614
@montogeek

Pros:

- Easy to maintenance (all in one place)
- Easy to update
- Less repositories
- When a feature was released it will easy to update status for voting app
- Sync with partial implemented features

It is not high priority

[2020-03-13 09:59] anshumanv commented on #3614
I'll pick this up 👍

[2020-03-14 06:35] QKflame opened #3619 ""https://www.webpackjs.com/" this website can't navigate to the English official website."
As the title, it did't work when I clicked the navigate button to the English website。

[2020-03-14 11:27] EugeneHlushko commented on #3614
I dont think this is necessary, its already easy to update: #3617

[2020-03-14 17:17] snitin315 commented on #3619
Actually that's because of the incorrect url , `https://www.webpackjs.com/https://webpack.js.org//`

This needs to be replaced with `https://weboack.js.org/`

I will work on this one

[2020-03-15 02:42] snitin315 commented on #3619
Can anyone tell me where is the code for `https://www.webpackjs.com/` ?

[2020-03-17 09:28] #3267 closed

[2020-03-17 13:23] evilebottnawi commented on #3614
@EugeneHlushko we want to move all repos from `webpack-contrib` in long term, some of repos will be migrated to monorepo `webpack/webpack-official`, some of repos will be deprecated, some of them move out from official support, so we start it process, we need move `voiting-app` to here or maybe `webpack/voting-app`, I prefer first

[2020-03-17 13:29] EugeneHlushko commented on #3614
we dont want any technical complexity in documentation repository, all modules that are abstractable should live in separate repositories. cc @skipjack

[2020-03-17 13:33] evilebottnawi commented on #3614
What about move it to `webpack/voting-app`?

[2020-03-17 13:50] montogeek commented on #3614
Definitely, that it better :)

On Tue 17. Mar 2020 at 14:33, Evilebot Tnawi <notifications@github.com>
wrote:

--
Fernando Montoya
montogeek.com

[2020-03-17 22:08] Parikshit-Hooda opened #3623 "add link to jsf code of conduct"
__Feature to document__

add jsfoundation code of conduct link to code_of_conduct.md

__Author(s)__
Parikshit-Hooda

__Additional information__

[x] I am willing to work on this issue and submit a pull request.

[2020-03-18 08:39] webpack-bot opened #3625 "Document webpack change: fix(#10552) remove test/include/exclude from rule set conditions"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10557

---

**What kind of change does this PR introduce?**

bugfix #10552

**Did you add tests for your changes?**

No

**Does this PR introduce a breaking change?**

Yes

**What needs to be documented once your changes are merged?**

Remove test/incl

[2020-03-18 08:42] anshumanv commented on #3625
On it

[2020-03-18 08:50] #3623 closed

[2020-03-18 10:32] evilebottnawi commented on #3614
@montogeek @EugeneHlushko moved to webpack org https://github.com/webpack/voting-app, need update https://github.com/webpack/webpack.js.org/blob/master/package.json#L170

[2020-03-18 10:40] anshumanv commented on #3614
I'll do it 👍

[2020-03-18 16:04] hnrchrdl opened #3630 "https options: docs are wrong"
- Operating System:
- Node Version: 10.17
- NPM Version: 6.11.3
- webpack Version:  4.41.6
- webpack-dev-server Version:3.10.3
- Browser: any

- [ ] This is a **bug**
- [x] This is a **modification** request

### Code
This is what the documentation says the https config with certs should look like:
[code]
This is what the config should actually look like:
[code]

### Expected Behavior
Should work

[2020-03-18 16:09] EugeneHlushko commented on #3619
I am not sure, could be this one? https://github.com/webpack-china/webpack-china-site

[2020-03-18 16:10] EugeneHlushko commented on #3614
@anshumanv dont forget to do it via `yarn` on node 10, ty in advance!

[2020-03-18 19:58] EugeneHlushko commented on #3614
its merged, ty all

[2020-03-18 19:58] #3614 closed

[2020-03-19 07:19] montogeek commented on #3619
It is

[2020-03-19 10:10] anikethsaha commented on #3630
working on it 👍

[2020-03-20 08:38] #3630 closed

[2020-03-20 08:39] EugeneHlushko commented on #3630
Thanks @hnrchrdl

[2020-03-22 03:53] mnpenner commented on #1268
This doesn't seem to work?

[code]

It can't handle `export default`:

[code]

[2020-03-24 13:04] anshumanv opened #3638 "Stats is missing detailed option"
__Feature to document__
Stats has a missing enum value called `detailed`

__Author(s)__

__Additional information__
https://github.com/webpack/webpack/blob/master/schemas/WebpackOptions.json#L2605

[x] I am willing to work on this issue and submit a pull request.

[2020-03-24 13:04] anshumanv commented on #3638
Will PR in some time.

[2020-03-24 16:49] #3447 closed

[2020-03-25 12:23] snitin315 commented on #3644
Looking into it.

[2020-03-25 19:48] #3638 closed

[2020-03-25 19:55] #3644 closed

[2020-03-26 14:36] snitin315 commented on #3420
Looking into it.

[2020-03-26 15:19] snitin315 commented on #3420
@rifler this value is implemented for webpack@5 [refer comment].(https://github.com/webpack/webpack/issues/10614#issuecomment-604485934)

I will update the docs accordingly

[2020-03-27 13:24] chenxsan commented on #3619
They host the [Chinese version](https://github.com/docschina/webpack.js.org) on https://webpack.docschina.org/, not `webpackjs.com`.

[2020-03-27 13:48] #3592 closed

[2020-03-27 15:06] #3503 closed

[2020-03-30 05:40] chenxsan commented on #3578
@SimonSiefke  It could be possible if we bring Prismjs plugin https://prismjs.com/plugins/diff-highlight/ support into [Refactor](https://github.com/wooorm/refractor)  which this doc site relies one.

[2020-03-30 06:09] snitin315 commented on #3250
It's been stale for a long time, looking into it.

[2020-03-30 06:13] anshumanv commented on #3444
This has been fixed and can be closed now, @EugeneHlushko @montogeek

[2020-03-30 13:11] #3420 closed

[2020-04-01 11:47] snitin315 opened #3662 "docs(plugins): splitChunks.automaticNameMaxLength still referenced"
__Feature to document__

[https://webpack.js.org/plugins/split-chunks-plugin/#splitchunksautomaticnamemaxlength](https://webpack.js.org/plugins/split-chunks-plugin/#splitchunksautomaticnamemaxlength)

`splitChunks.automaticNameMaxLength` has been removed in webpack5.

Ref [ https://github.com/webpack/webpack/blob/master/lib/optimize/SplitChunksPlugin.js#L499]( https://github.com/webpack/webpack/bl

[2020-04-02 08:50] rahultokase opened #3667 "splitChunksPlugin : Not able to create a common chunks between two laze loaded module"
Hi
I am having angular applicaiton. With default angular build, angular cli build is creating a common chunks for common code between two laze loaded modules and this common chunk is loaded lazily as well.
In the same angular application, if i use the custom webpack configuration with splitchunksPlugin,
I am not able to create a common chunks which is shared between two lazy loaded modules.

Pleas

[2020-04-02 08:59] #3662 closed

[2020-04-02 10:17] snitin315 opened #3668 "docs(devServer): add type array reference in contentBasePublicPath"
__Feature to document__
Recently DevServer added support of array type contentBasePublicPath.

Reference [webpack-dev-server#2489](https://github.com/webpack/webpack-dev-server/pull/2489)

Need to update the docs for same -
[https://webpack.js.org/configuration/dev-server/#devservercontentbasepublicpath](https://webpack.js.org/configuration/dev-server/#devservercontentbasepublicpath)
__Author(s)__

[2020-04-02 13:05] snitin315 opened #3670 "docs(devserver.open): add type object."
__Feature to document__

dev server now supports type object for `open` option with [PR#2492](https://github.com/webpack/webpack-dev-server/pull/2492)

__Author(s)__

__Additional information__

[2020-04-02 13:08] anshumanv commented on #3670
Fixed in https://github.com/webpack/webpack.js.org/pull/3671

[2020-04-02 15:20] jakearchibald opened #3672 "Document NormalModule"
__Feature to document__

From https://webpack.js.org/api/loaders/:

`NormalModule` links to the source, but it's difficult to figure out what some of this does, and which parts plugin authors can rely on. `module.buildInfo` seems very useful, for instance.

I don't know when this feature was introduced.

__Author(s)__

I don't know who introduced this feature.

__Additional information__

[ ] I am

[2020-04-04 19:46] #3668 closed

[2020-04-07 12:36] #3670 closed

[2020-04-09 06:44] patrykKlimczak opened #3683 "VUE sample: require('@/assets/sample.pdf')"
[code]

webpack
[code]

[2020-04-09 10:30] chenxsan commented on #3683
You have to set up a loader to handle `pdf` file just as the error message told. [file-loader](https://github.com/webpack-contrib/file-loader) might be good candidate. Since you're using vue-cli (I guess), you could configure it according to https://cli.vuejs.org/guide/webpack.html#adding-a-new-loader.

[2020-04-09 10:50] montogeek commented on #3683
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2020-04-09 10:50] #3683 closed

[2020-04-14 13:19] chenxsan opened #3686 "Invisible search results"
Search results have some unexpected invisible texts:

![image](https://user-images.githubusercontent.com/1091472/79229146-212c4e00-7e95-11ea-93d7-9305a579e778.png)

I can submit a pull request after https://github.com/webpack/webpack.js.org/pull/3682 is merged, or maybe you want me to push fix into that pull request?

[2020-04-14 13:24] EugeneHlushko commented on #3244
Closed via #3475

[2020-04-14 13:24] #3244 closed

[2020-04-14 13:31] montogeek commented on #3686
Please create a new PR.

[2020-04-15 16:21] Etheryte commented on #3672
If I'm not mistaken, it was a part of [compilation hooks](https://webpack.js.org/api/compilation-hooks/#normalmoduleloader) before, but the change wasn't widely reflected in the docs outside the given link afaik.

[2020-04-16 00:07] #3686 closed

[2020-04-17 02:39] hiroppy opened #3697 "Update Experiments page"
__Feature to document__

Currently, this page is too old. For example, we should add `asset`.

[code]

We need to organize some experimental features and update this documentation for users because it's hard to realize what a feature is experimental.

https://webpack.js.org/configuration/experiments/

__Author(s)__

N/A

__Additional information__

[ ] I am willing to work on this issue and submit

[2020-04-17 05:38] LowArmour opened #3698 ""Development" guide maybe broken?"
In the "Development" guide: the watch mode (i.e., webpack --watch), having the guide provided plugins (CleanWebpackPlugin and HtmlWebpackPlugin) leads to the deletion of the generated index.html when correcting the error in print.js.

The problem is in "Watch Mode" section of the "Development guide", where it says: "The only downside is that you have to refresh your browser in order to see the cha

[2020-04-17 11:28] EugeneHlushko commented on #3698
Hi @LowArmour
I think i know whats wrong, can you try adding this option to your webpack.config.js when passing a new instance of CleanWebpackPlugin: `cleanAfterEveryBuildPatterns` like so:
[code]

[2020-04-17 13:30] marcofugaro opened #3700 "It is unclear what the file-loader .esModule option does"
__Feature to document__

https://webpack.js.org/loaders/file-loader/#esmodule

__Author(s)__

-

__Additional information__

As said in the feature description:

I don't get what that means, does the file-loader generates a javascript module? Am I shipping a module in the browser? Or it generates a modules that is later webpack bundles?

[x] I am willing to work on this issue and submit a pull req

[2020-04-17 13:46] evilebottnawi commented on #3700
webpack support `import` and `require` statements, using `import` allow to concatenate modules (less modules and runtime).

esModule:
- `false` => `module.export = "path/to/file.ext";`
- `true` => `export default "path/to/file.ext";`

[2020-04-17 13:49] marcofugaro commented on #3700
The example cleared it up! I will make a PR and update the docs with it

[2020-04-17 13:56] webpack-bot opened #3701 "Document webpack change: add invalidate to HMR API"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10714

---

refactor HMR javascript part to reduce duplication

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once y

[2020-04-17 14:08] snitin315 commented on #3701
Looking into it.

[2020-04-18 20:49] marcofugaro commented on #3700
Nevermind it's on the README of file-loader

[2020-04-18 20:49] #3700 closed

[2020-04-24 14:11] penx commented on #2684
So, in your example above, if module B doesn't exist and module A looks like this:

`module-A.js`
[code]

If `module-X` is only being used by `module-A`, could a feature be added to webpack to statically analyse this and remove `exportE`?

[2020-04-26 22:13] nateUX commented on #3182
As of now (April 26, 2020) the LTS version is beyond 12.5 as the added disclaimer notes. It is currently 12.16.2.

No different versions worked for me either. I had to put it in development mode for the page to load properly.

It tried:
10.16.0
10.16.2
12.16.2
12.15.0

[2020-04-27 14:49] #3701 closed

[2020-04-27 14:50] #3698 closed

[2020-04-28 20:35] pushkar100 opened #3717 "Development guide has broken 'source map' introduction link"
The link explaining what "source maps" are in the **Development** page of the **Guides** documentation is broken.
File: https://github.com/webpack/webpack.js.org/blob/master/src/content/guides/development.md
Broken link: http://blog.teamtreehouse.com/introduction-source-maps

[2020-04-28 20:47] pushkar100 opened #3718 "Development config guide: watch section has unnecessary snippet changes"
The following code snippet changes (green) are not necessary for the webpack `--watch` example and they reappear in the "Using webpack-dev-server" where they are actually required:

[code]

[Document section link](https://webpack.js.org/guides/development/#using-watch-mode)

[2020-04-29 07:27] fankeke007 opened #3719 "docs(api):[example error]Command Line Interface--Usage without configuration file"
There is an example in docs as follows:

`webpack index=./src/index.js entry2=./src/index2.js -o dist/bundle.js`

This will result in a compile error：

Remove chunk name or use the same chunk name for each seprated module to get the expected output.

Like this:
`webpack ./src/index.js ./src.index2.js -o dist/bundle.js`
or:
`webpack bundle=./src/index.js bundle=src.index2.js -o dist/[name].js`

[2020-04-29 08:45] EugeneHlushko commented on #3719
Yes this is outdated example, i will update the doc

[2020-04-29 13:52] jeffin143 commented on #3717
It does work for me ? can you try from https://webpack.js.org/guides/development/

[2020-04-29 13:57] pushkar100 commented on #3717
Looks like the link was down for only a bit yesterday.

[2020-04-29 13:57] #3717 closed

[2020-04-30 09:07] webpack-bot opened #3721 "Document webpack change: support overridables in initial chunks"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10809

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* The limitation that overr

[2020-04-30 09:09] snitin315 commented on #3721
Looking into it.

[2020-04-30 18:18] 16oh4 commented on #3310
@ngodi @EugeneHlushko I had the same problem. It worked in Firefox, but in Chrome I got this error with the following HTML file:

**dist/index.html**
[code]

**src/index.js**
[code]

**package.json**
[code]

**error in chrome console Version 81.0.4044.129 (Official Build) (64-bit) for Windows 10**
[code]

**Fix by adding meta charset tag in dist/index.html**
[code]

**Please inform of this in the

[2020-04-30 19:08] #3719 closed

[2020-05-01 12:49] chenxsan commented on #3333
I agree with @rishabh3112 here. We can see the two version here https://github.com/webpack/webpack.js.org/pull/3706#issuecomment-619119074, the TypeScript one is much better. Also, when user reading docs, they won't read the writers guide first to figure out the difference. So it would be better to choose the popular notations.

We might use [`details`/`summary`](https://developer.mozilla.org/en-U

[2020-05-01 17:38] #3697 closed

[2020-05-01 19:36] eduard-malakhov commented on #2733
@aryzing, though this is an old issue, maybe this would still be useful. I've had the exact same issue and I managed to resolve it by adding `delete process.env.TS_NODE_PROJECT;` at the top of my `webbacp.config.ts` as suggested in  https://github.com/dividab/tsconfig-paths-webpack-plugin/issues/17. This hack basically clears the `TS_NODE_PROJECT` for any code inside the config, including `ts-load

[2020-05-02 15:56] malash commented on #2706
After this change, is there some best priactice to polyfill node libs ?

In my project I use:

[code]

[2020-05-03 06:17] ElvisWang27 opened #3726 "Suggestion for documentation about plugins."
To improve webpack user to find their wanted plugins in https://webpack.js.org/plugins/.
It's possibly to  arrange the plugins with types like in https://webpack.js.org/loaders/, such as Files, JSON, Transpliing？

Some of plugins have similar ability.  like babel-miniy-webpack-plugin,ugliyfyjs-webpack-plugin,terser-webpack-plugin are all about javascript minify., they can by arrange in the type ab

[2020-05-03 19:03] EugeneHlushko commented on #3721
@sokra "OverridablesPlugin is not yet exposed and should not yet be documentated", still true ?

[2020-05-03 23:49] sokra commented on #3721
It's not in the master branch yet, so you could ignore all documentation request until it is.

[2020-05-05 15:25] EugeneHlushko commented on #3721
ok i will hold this off until further notice

[2020-05-05 22:37] webpack-bot opened #3731 "Document webpack change: Merge Module Federation into webpack 5 beta"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10838

---

It's not yet perfect and there are probably many places where improvements can be made, but it stable enough to make it into the beta version as experimental feature.

**What kind of change does this PR introduce?**
feature

**Did you add te

[2020-05-07 20:37] boneskull opened #3734 "break out fetch-supporters script into its own package?"
Hi,

Over at [Mocha](/mochajs/mocha) we were wondering how Webpack displays the list of OC sponsors, so I took a look.  We'd like to move to a similar strategy, I think.

It looks as if [src/utilities/fetch-supporters.js](/webpack/webpack.js.org/blob/master/src/utilities/fetch-supporters.js) is generic enough to be applicable to other projects.

Is this something you'd be interested in publishing

[2020-05-09 18:58] chrisVillanueva commented on #3028
Is there any progress on this content?  I may should have time for contributions.

[2020-05-09 19:12] jeffin143 commented on #3028
@chrisVillanueva , since it is not being worked on by anyone , you most welcome to open a pr

Welcome :)

[2020-05-10 18:19] EugeneHlushko commented on #3734
Hi @boneskull,

We had little trouble with the script so no plans to publish it as a package, it required no maintenance so far iirc. Regarding copy-pasting and publishing you should probably check how the code is licensed here and maybe you need to include some disclaimer after copying and publishing as a package

[2020-05-11 17:24] #3731 closed

[2020-05-12 17:05] evilebottnawi opened #3740 "improve documentation about usage node options"
__Feature to document__

Improve documentation about usage node options, example:
[code]

__Author(s)__

Any

__Additional information__

https://github.com/webpack/webpack-dev-server/issues/1711

[ ] I am willing to work on this issue and submit a pull request.

[2020-05-12 17:30] jeffin143 commented on #3740
On it

[2020-05-13 15:36] pushkar100 commented on #3718
I was confused about the snippet example but I think after going through it again, I am quite confident that `devServer` example need not be there while the section is about watch (which comes before introducing webpack dev server)

<img width="622" alt="Screen Shot 2020-05-13 at 9 05 00 PM" src="https://user-images.githubusercontent.com/11087299/81833640-973bd780-955d-11ea-938f-b9cfcf9bb4db.png">

[2020-05-16 12:37] webpack-bot opened #3743 "Document webpack change: advanced configs for container plugins"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10893

---

* refactor options parsing to allow advanced config options
  * automatic scoping has been removed and a scope method is offered instead
* move shared schema definitions into a shared schema to allow to sync them
* allow to pass multiple mod

[2020-05-18 17:57] sokra commented on #3721
You can continue on all module federation related things. They have been merged to master and development will continue there.

[2020-05-19 19:31] EugeneHlushko commented on #3718
Hi @pushkar100
Yes its a mistake, not needed before dev server intro, please remove if willing to commit.

[2020-05-19 19:34] #3444 closed

[2020-05-19 19:34] #3480 closed

[2020-05-19 19:35] EugeneHlushko commented on #3322
This was fixed before, forgot to link issue. If anyone still able to reproduce please let me know

[2020-05-19 19:35] #3322 closed

[2020-05-19 19:42] pushkar100 commented on #3718
Hi @EugeneHlushko thank you, I will add a PR soon to remove it

[2020-05-19 20:12] pushkar100 commented on #3718
@EugeneHlushko I have a PR for the issue: https://github.com/webpack/webpack.js.org/pull/3746

[2020-05-20 16:14] webpack-bot opened #3748 "Document webpack change: add support for async externals"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10898

---

add `promise` external
add `import` external (uses import())

add `output.importFunctionName` option to change the `import()` function name

allow for inline external type when using arrays

fix some typings

fix namespace object behavior wh

[2020-05-22 14:21] #3721 closed

[2020-05-23 20:25] DanielRuf commented on #3718
I think we can close this issue since the PR is merged.

[2020-05-23 20:27] DanielRuf commented on #3578
Or render `:before` pseudo elements.

I think this issue can be closed as https://github.com/PrismJS/prism/pull/2281 is merged?

[2020-05-23 20:29] DanielRuf commented on #1891
I think we can close this very old issue which does not provide much context.

[2020-05-23 20:30] DanielRuf commented on #1910
Is this still relevant?

[2020-05-23 20:47] DanielRuf commented on #1949
This seems to be updated. The example states `<script src="main.js"></script>`.

I can not find any occurrence of `bundle.js` anymore.
I think we can close this issue as this seems to be resolved.

[2020-05-24 00:54] chenxsan commented on #3578
@DanielRuf That commit is not released in a new version PrismJS yet. Maybe we can keep this issue open if we do want to bring this feature into doc site.

[2020-05-24 06:04] pushkar100 commented on #3718
Thank you for merging the PR.

[2020-05-24 06:04] #3718 closed

[2020-05-24 15:04] #1891 closed

[2020-05-25 11:56] EugeneHlushko commented on #3748
It looks like we've missed a documentation request for this option: https://github.com/webpack/webpack/commit/e5b51235d7334526a1022513ffdc502cad1d12cf#diff-03af1a9344cf93838ad925ff61de02aa

[2020-05-25 16:02] #3748 closed

[2020-05-25 18:48] #3250 closed

[2020-05-25 18:49] #2483 closed

[2020-05-25 19:02] mitchell-frost commented on #3538
I am new to open source and github. Can I work on this?

[2020-05-25 19:07] #2499 closed

[2020-05-26 03:58] gilmoreorless opened #3754 "Better distinction between v4 and v5 docs"
I'm opening this because I've seen fragments of this request dotted around other issues, but I couldn't find a single issue that tied them together.

The current setup of the docs site is confusing and causing frustration. It looks like the main site now contains documentation for v5, which is still only in beta right now. The only indication that the docs are for the new beta version are small no

[2020-05-26 04:19] chenxsan commented on #3754
How about adding a version badge indicating which version of webpack has introduced that option?

For example:

![image](https://user-images.githubusercontent.com/1091472/82859996-f5e45680-9f4a-11ea-8462-9b3fb2753be1.png)

[2020-05-27 08:15] EugeneHlushko commented on #3754
Hi @gilmoreorless
Current live website is for webpack 5 which is the recommended version for the projects due to numerous improvements. The shield that has a beta on it, indeed does indicate the latest version of webpack that docs cover

[2020-05-27 14:46] evilebottnawi opened #3755 "remove all deprecated loaders from docs"
__Feature to document__

A lot of loaders from https://webpack.js.org/loaders/ are deprecated, please fix it **ASAP**, we receive a lot of requests for helping, because people think that they still exist and are supported

+ remove any mentions of deprecated loaders from docs

Remove `script-loader` from docs due https://github.com/webpack-contrib/script-loader

__Author(s)__

Any

__Additional in

[2020-05-27 14:50] snitin315 commented on #3755
I will take this up.

[2020-05-28 04:51] gilmoreorless commented on #3754
@EugeneHlushko Thanks for the response. But I feel you've just repeated my opening problem statement. Maybe I didn't list the problem clearly enough:

* Webpack v5 may be the "recommended version", but it's important to note that **it hasn't been released yet** — beta versions don't count as v5 being released. There are many, many teams out there who will refuse to use a beta version of a tool for

[2020-05-28 12:26] webpack-bot opened #3757 "Document webpack change: Versioned shared modules for Module Federation"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10960

---

This PR brings Module Federation to a whole new level. It's a complete reimplementation and redesign of the shared modules.

TL;DR: `shared` modules are now based on versions.

Before this PR hosts were able to override (overridable) modules

[2020-05-30 18:41] #3755 closed

[2020-06-01 14:04] evilebottnawi opened #3760 "remove note about `script-loader`"
__Feature to document__

https://webpack.js.org/guides/shimming/#other-utilities

__Author(s)__

Any

__Additional information__

`script-loader` deprecated

[ ] I am willing to work on this issue and submit a pull request.

[2020-06-01 14:05] anshumanv commented on #3760
wip

[2020-06-01 18:08] #3740 closed

[2020-06-02 12:09] nukeop opened #3762 "Restore documentation website"
Currently, the documentation website has been defaced with the following message:

![ArchLabs-38-949x896](https://user-images.githubusercontent.com/12746779/83518277-c6dd6000-a4c9-11ea-86d6-5d02e0689eed.png)

Some of us have day jobs and deadlines...

In the immortal words of Professor Oak:
![ArchLabs-26-489x155](https://user-images.githubusercontent.com/12746779/83536931-6eb35780-a4e3-11ea-98e3-a

[2020-06-02 12:12] fmad89 commented on #3762
DOCS LIVES MATTER!

[2020-06-02 12:14] snitin315 commented on #3762
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">The <a href="https://twitter.com/webpack?ref_src=twsrc%5Etfw">@webpack</a> documentation will be temporarily down for today to pay respects to George Floyd and countless others who are the victims of police violence in the Black community and around the world. <a href="https://twitter.com/hashtag/blackoutday?src=hash&amp;ref_src=twsrc%5Etfw"

[2020-06-02 12:34] chenxsan commented on #3762
Just open https://webpack.js.org/guides/getting-started/ or any other pages instead of homepage, you should be able to use docs as usual.

[2020-06-02 12:40] nukeop commented on #3762
Thanks for the tip

[2020-06-02 14:48] Ispen commented on #3762
You could do it normally, like put a popup or small window on the side, with blm info, but no, you prefer to hinder the work of millions of programmers, resulting the opposite effect to the intended one. Congrats webpack devs!

[2020-06-02 15:05] evilebottnawi commented on #3762
@Ispen Because it is very important for me and for others, tomorrow your family member can be killed by a psychopath policeman. How would you feel about this?

[2020-06-02 15:07] nukeop commented on #3762
Ah, a notice on webpack's website is sure to put a stop to this. Carry on!

[2020-06-02 15:14] Ispen commented on #3762
It is also important for me and probably for each of us. I agree that such problems should also be publicized in a programming environment, BUT not in this way! Without hindering other people's work! More understanding and empathy, less imposing your vision of the world.

[2020-06-02 15:20] evilebottnawi commented on #3762
Yes, if we do it together, we can change everything

This was done so that we all pay attention. Most would just close the pop-ups and pass by.

[2020-06-02 15:23] Ispen commented on #3762
It's their choice, instead you build an army of opponents making their work more difficult. Not this way.

[2020-06-02 15:32] nukeop commented on #3762
Because most of us don't care about american problems when we're programming, please keep us out of them, thank you.

[2020-06-02 15:52] devx97 commented on #3762
I am 100% sure that my family will not overdose fentanyl and metamphetamine as he did :)

[2020-06-02 18:05] kuskoman commented on #3762
if you really want to make people pay attention to it there are many different ways to do it. making our(software developers) work harder by removing docs will not create ANY positive associations with actions you are _trying_ to promote.

[2020-06-02 18:10] piotros commented on #3762
@evilebottnawi have you ever wondered how this situation looks like from a European point of view?

[2020-06-02 18:11] numb86 commented on #3762
Exactly so!
This way produces no attention or interest. It cause confusion and repulsion.
Coerced solidarity is not solidarity.

[2020-06-02 18:17] anikethsaha commented on #3762
People are protesting for justice even having a threat like COVID'19 around them. I guess this is the least we can do.

You have the answer above https://github.com/webpack/webpack.js.org/issues/3762#issuecomment-637512383 .

[2020-06-02 18:33] nierw commented on #3762
The United States isn't the world. People have deadlines and jobs - confusing them in favor of implicitly coerced solidarity with something that may not even be relevant to their location in the world is disappointing.

Put up a through-link to the documentation instead of being disrespectful and assuming you _represent the globe._

[2020-06-02 18:39] #3762 closed

[2020-06-02 18:54] TheLarkInn commented on #3762
@nukeop I've blocked you from contributing on our organization temporarily. Your vapid commentary is not welcome here. Allow this time to reflect on why this situation is not about you "having to do work" but rather focusing on more important justices, not only here, but all over the world.

Rather, like us, use your privilege to help voice the injustices across the world and fight for change.

[2020-06-02 23:45] mattleong opened #3763 "Restore/Allow Clickthough to Documentation"
![Screenshot from 2020-06-02 16-40-30](https://user-images.githubusercontent.com/3721204/83580130-12a30000-a4f0-11ea-8d3d-e5ce09a615c8.png)

Although, done for what I'm sure are good and heartfelt intentions, blocking access to documentation is actually counter productive. It is preventing people (**including people of color**) from the ability to complete their job. I understand the intention is

[2020-06-02 23:51] kuskoman opened #3764 "Request for making information about repression on civilian people in Hong Kong the main page of docs"
For some time webpack is informing about things related internal political situation of USA. I think that it's also worthy to inform people about (in my opinion) even bigger injustice happening currently in HK, where Chinese police unlawfully restricts freedom of protesters in many ways.

[2020-06-02 23:52] TheLarkInn commented on #3763
We hope that the destruction that you feel today conveys even fraction of a fraction of a fraction of what those who are being oppressed are feeling. This page will remain downed for now and I ask that you consider reflecting on why you feel uncomfortable inconvenienced and then use that reflection to empathize for others and rally for their support. I am closing and locking this issue.

[2020-06-02 23:52] #3763 closed

[2020-06-03 00:03] TheLarkInn commented on #3764
I tried to be as inclusive with our messaging as possible to not only include the current focused Black community, but also "others around the world".

This is not an injustice contest and they should not be compared. Both are condemnable and worth of protest. If you have links or resources that we can include for global funds for supporting injustice I welcome those contributions.

[2020-06-03 00:04] mattleong opened #3765 "Blacked out documentation hurts PEOPLE OF COLOR."
We hope that the destruction that you feel today conveys even fraction of a fraction of a fraction of what those who are being oppressed are feeling. This page will remain downed for now and I ask that you consider reflecting on why you feel uncomfortable inconvenienced and then use that reflection to empathize for others and rally for their support. I am closing and locking this issue.

_Original

[2020-06-03 00:08] TheLarkInn commented on #3765
I respect your opinion, but there is no room for discussion on this today. If you would like to reflect on ways to rally for people of color through our project in the future, we would happily welcome your contribution.

No show of solidarity is perfect, and to detract from the message by focusing on its imperfections vs the message itself defeats its purpose. I am going to close and lock this aga

[2020-06-03 00:09] #3765 closed

[2020-06-03 00:25] jeanlucaslima commented on #3764
Hey, @TheLarkInn, taking the risk of being publicly judged, but as a someone from around the world, but not from the US it really is hard to understand the decision. Hard to put into words, but I'm a bit conflicted given I don't even understand in details what is happening in the US.

Racism is an issue bigger than any country, indeed.

But it feels like people from other countries are being dragg

[2020-06-03 00:25] jeanlucaslima commented on #3764
And if this trends goes I hope we also include other movements. HK, Uyghurs, but also problems in my country like the Amazon issues were surely overlooked in the past.

[2020-06-03 00:33] TheLarkInn commented on #3764
Appreciate your honesty. We understand that it isn't a perfect form of solidarity but just a great call to action for civil injustice anywhere right now.

Even Brazil, struggles from deep roots of racism today and is just one of many countless examples. If you have causes you want to share. I'll leave this issue open to raise further awareness.

[2020-06-03 00:36] jeanlucaslima commented on #3764
We do have issues, yes, and each place has its own struggles. Not denying that.

Gonna leave here the NGO I support, ISA, that fights for the people of the Amazon forest and indigenous people from Brazil in general: https://filiacao.socioambiental.org/donate/

[2020-06-03 02:29] kagawagao commented on #3764
@kuskoman it's not same thing.

to be honest, have the “protesters” in Hong Kong really suffered violent by the police?

[2020-06-03 02:43] MrKou47 commented on #3764
People just believe what the had heard. No one will check the truth. It's not a good idea to include all politics

[2020-06-03 02:50] Niefee commented on #3764
香港主要是被一群香港废青搞得乌烟瘴气，甘愿做美国的走狗，也不懂做一个好好工作生活的年轻人。这种人去哪里都是祸害。

[2020-06-03 02:55] Lyanbin commented on #3764
香港是种族问题？你在说你🐴   呢？

[2020-06-03 02:59] XGHeaven commented on #3764
Please close this issue. @TheLarkInn

香港一是中国内政，二是外部势力教唆，和颜色革命类似。跟种族歧视、人权、自由完全是两回事。

[2020-06-03 03:04] HuShiyuFrontEnd commented on #3764
what happened in HongKong，just like some New York citizen said they are English people and want to be independent。No oppression， okay? We Chinese never be afraid of our policy, they potect us but not like american policy, kill people. It's not the same problem, don't mess they up.

[2020-06-03 03:05] HuShiyuFrontEnd commented on #3764
No， they are the violence itself

[2020-06-03 03:08] TheLarkInn commented on #3764
This is for a place to leave links to initiatives and funds for civil rights issues beyond that has been provided. I will lock discussion if continued. 大家明白吗？大哥们明白吗？

[2020-06-03 03:10] HuShiyuFrontEnd commented on #3764
but you guys truely know what happened in HongKong？

[2020-06-03 03:39] stopbeingcowards commented on #3764
many companies support #blackouttuesday because popularity. do not let this be a trend.

[2020-06-03 05:04] jinweijie commented on #3764
In my opinion, this is a nasty request. Just a humble suggestion that please understand the full story before taking action. Thanks. Hope everything get better soon. Thanks.

[2020-06-03 06:41] talktohebe commented on #3764
You are strongly biased against China. Are you the most vicious dogs?

[2020-06-03 06:44] supermariogo commented on #3764
@kuskoman Open your eyes, looks at the [video](https://www.youtube.com/watch?v=JTHG1lRuYSU)
Whoever talk about Hong Kong, please not only look at what western media said, please have a full view of HK.

[2020-06-03 06:48] cojack opened #3766 "All live matters"
Be speaking of Black Live Matters you show your self as a racist ignorant, farewell and be gone.

[2020-06-03 06:59] HermantNET commented on #3764
So many mainlanders never respect the vast majority of Honk Kong people's opinions, only their own... Anyways, I think an OSS project taking a political stance, no matter how obviously "correct" or "moral" it may be, is like jumping into a shark tank, much like this thread. Still, I respect the decision and hope something will be done to better social divides in the USA. I do hope you're prepared

[2020-06-03 07:22] kagawagao commented on #3764
@HermantNET

are you sure it was **vast majority of Hong Kong people's opinions**? is there statistic data support your opinion?

let's think this problem in another view

If Texas seeks independence from the United States, and "prosters" rob the store, burning buildings, throw petrol bomb, beating people who have different positions from them, and holding up "Chinese troops to save the people of

[2020-06-03 07:28] HuShiyuFrontEnd commented on #3764
The fact is, most mainland people do not care about anything abount HongKong. HongKong has independent finance, mainland goverment can't get one dollar tax from Hong Kong, what happened in HongKong can't influence our life. Who care about HongKong? Those people who hope HongKong prosperous and stable. Do you have a child? Will you hope your 16 years old, do not go to school everyday and become "pr

[2020-06-03 07:36] HuShiyuFrontEnd commented on #3764
Please, words just like swords, don't hurt us time by time. I heard people in California want to be independent every year. But will I support or be against then? I will not, because I can't know what's the true need of people in California. But why you always think you guys get the truth? Open source community should be pure, if you want politics, go to your twitter or facebook. Webpack is a grea

[2020-06-03 07:38] egoist commented on #3766
All lives matter, yes, because that's obvious to most people. #BlackLivesMatter is just a message to all racists who think only white lives matter.

[2020-06-03 07:54] jamezrin commented on #3766
https://twitter.com/dan_abramov/status/1267224910839066630

"It’s curious how software developers struggle with logic when applied to real world situations."

[2020-06-03 08:13] HermantNET commented on #3766
Not all racists are white, but I understand and agree with what you're saying

[2020-06-03 08:54] montogeek commented on #3538
@mitchell-frost Feel free :)

[2020-06-03 09:28] Pan-Bubr commented on #3764
@TheLarkInn , with due respect to the solidarity gesture, could you at least let people clickthrough to the docs? You can add checkboxes like "I understand the seriousness of the situation" "I agree with the protesters' cause" or anything you like.

Because for now, you are hurting mostly inexperienced developers that are trying to figure out your tool for the first time.

Experienced people will

[2020-06-03 10:31] kuskoman commented on #3764
I am closing this issue. I created it to draw you attention to the fact, that human rights are not being respected in many places around the world.
I still don't think that webpack documentation, and other similiar software documentation should be a place to inform about political situation and number of these injustices in the world is just one of reasons.
Don't understand me wrong. I appreciate

[2020-06-03 10:31] #3764 closed

[2020-06-03 11:01] EugeneHlushko commented on #3766
Should be up and running

[2020-06-03 11:01] #3766 closed

[2020-06-03 19:44] TheLarkInn commented on #3766
Thank you to all who speak up to original poster. Locking conversation.

[2020-06-04 10:07] anaaChacon opened #3769 "[WDS] Disconnected! net::ERR_CONNECTION_REFUSED"
# Bug report

**What is the current behavior?**
Hi, it took a few months to debug the adb in android gives me problems. I connect the device, accept the debugging authorization and every 20 minutes it disconnects alone, thus popping up again to accept authorization. I debug the apps with livereload, I use the ionic 4 framework. Does anyone know why that happens? Some time ago this was working corr

[2020-06-04 10:47] chenxsan commented on #3769
There's no need to duplicate it here when you've already opened the issue in https://github.com/webpack/webpack-dev-server/issues/2633.

[2020-06-04 11:07] #3769 closed

[2020-06-05 01:22] webpack-bot opened #3772 "Document webpack change: add script external"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10992

---

* move script loading into separate runtime module
* attach to existing script tags
* add script external
* change defaults of ModuleFederationPlugin to var library and script remoteType
* allow using empty entry in config
* add module-feder

[2020-06-05 05:56] pooomhfhfgsdfddf commented on #3772
Gdy

[2020-06-05 05:59] pooomhfhfgsdfddf commented on #3772
Output.chunkLoadTimeout

[2020-06-05 05:59] pooomhfhfgsdfddf commented on #3772
#
Duplicate of `

[2020-06-05 08:15] anshumanv commented on #3760
@evilebottnawi it seems it's already removed, can you verify?

[2020-06-05 08:18] snitin315 commented on #3760
I remember removing it in https://github.com/webpack/webpack.js.org/commit/4ebac1057567500f6a075a32095c9b9fbea2c667 .
Unless there is another note?

[2020-06-05 12:01] evilebottnawi commented on #3760
Yes, solved

[2020-06-05 12:01] #3760 closed

[2020-06-10 16:23] evilebottnawi opened #3775 "remove deprecated plugins from https://webpack.js.org/plugins/"
__Feature to document__

Need to remove:

- i18n-webpack-plugin
- extract-text-webpack-plugin
- babel-minify-webpack-plugin
- uglifyjs-webpack-plugin
- zopfli-webpack-plugin

__Author(s)__

Any

__Additional information__

No

[ ] I am willing to work on this issue and submit a pull request.

[2020-06-15 21:43] webpack-bot opened #3778 "Document webpack change: Refactor shared modules to allows multiple version in a single build"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11043

---

**What kind of change does this PR introduce?**
refactor, bugfixes

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
ModuleFederatio

[2020-06-16 11:34] momocow commented on #3619
FYI, clicking the **edit this page (编辑此页)** button leads me to the https://github.com/docschina/webpack.js.org.

Maybe it'd be better to open an issue there.

[2020-06-16 19:34] #3625 closed

[2020-06-17 23:26] webpack-bot opened #3785 "Document webpack change: add exportsFields and conditionNames options"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10953

---

**What kind of change does this PR introduce?**
closes #9509
exports field feature support

**Did you add tests for your changes?**

Yes

**Does this PR introduce a breaking change?**

No

**What needs to be documented once your changes are

[2020-06-17 23:27] sokra commented on #3785
I started on some documentation here: https://gist.github.com/sokra/e032a0f17c1721c71cfced6f14516c62

[2020-06-18 11:42] Jiang-Xuan opened #3788 "The behavior of `entry is array` should be described more specifically"
## Feature request

**What is the expected behavior?**

The behavior of `entry is array` should be described more specifically

![image](https://user-images.githubusercontent.com/13357301/84968185-7ceeae00-b148-11ea-9ace-4f3c039c6902.png)

**What is motivation or use case for adding/changing the behavior?**

When the user sees the document, it should be clear how to use it and what the usage scena

[2020-06-18 12:03] chenxsan commented on #3788
I think you're referring to https://webpack.js.org/concepts/entry-points/#single-entry-shorthand-syntax. There's another page https://webpack.js.org/configuration/entry-context/#entry which covers more cases.

[2020-06-19 01:22] Jiang-Xuan commented on #3788
Missing usage:
![image](https://user-images.githubusercontent.com/13357301/85086630-bb01d580-b20d-11ea-9831-734be53d0ed6.png)

[2020-06-19 06:38] #3778 closed

[2020-06-19 14:05] Jiang-Xuan commented on #3788
@chenxsan if you think i am wrong, feel free to close this issue 😉

[2020-06-21 04:50] bzioni opened #3794 "Multi page entries and groups of vendors chunks with SplitChunksPlugin"
I have a multi-page setup for Webpack 4 with multiple entries that works just fine.
[code]

The problem is with the SplitChunksPlugin that creates a group of vendors for shared imports
which makes me a problem to load them dynamically (by the name of the entry):

[code]

Is it possible to split the vendors chunks by the name of the entries to look like this?

[code]

[2020-06-22 18:21] evilebottnawi opened #3795 "remove `transform-loader` from docs"
__Feature to document__

Need to remove `transform-loader` from docs, because it is deprecated now

__Author(s)__

Any

__Additional information__

No

[ ] I am willing to work on this issue and submit a pull request.

[2020-06-22 18:31] anshumanv commented on #3795
wip

[2020-06-24 17:05] evilebottnawi opened #3797 "update `shimming` documentation"
Update https://webpack.js.org/guides/shimming/ page and examples for `import-loader`/`export-loader`/`expose-loader`, they all got the update and changed their options, so we need to update the examples, documentation of each loader can be found in their README

https://webpack.js.org/guides/shimming/

Don't know

[ ] I am willing to work on this issue and submit a pull request.

[2020-06-24 17:23] evilebottnawi opened #3798 "remove `bundle-loader` from do"
`bundle-loader` was deprecated in favor `import().then()` features

No

No

[ ] I am willing to work on this issue and submit a pull request.

[2020-06-25 01:42] snitin315 commented on #3797
Taking this up.

[2020-06-29 15:10] webpack-bot opened #3803 "Document webpack change: Implement Data URI imports"
*A pull request by @goganchic was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10719

---

Implement feature from #9445

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

Yes

**Does this PR introduce a breaking change?**

No

**What needs to be documented once your changes are

[2020-06-29 15:22] webpack-bot opened #3804 "Document webpack change: Feature/split chunk improvements"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11070

---

* cache CacheGroup objects in SplitChunksPlugin
* removed duplicate sort operation
* renamed chunks with `maxSize` only when really splitted
* fix #11026

**What kind of change does this PR introduce?**
performance, defaults, bugfix

**Did y

[2020-06-29 15:22] webpack-bot opened #3805 "Document webpack change: rename jsonScriptType to scriptType"
*A pull request by @smelukov was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11084

---

Closes [this](https://github.com/webpack/webpack/projects/5#card-39537013) card

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

just updated snapshots

**Does this PR introduce a bre

[2020-06-29 15:22] webpack-bot opened #3806 "Document webpack change: avoid collision in `data-webpack` by adding the uniqueName"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11065

---

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
* `data-webpack` has `outpu

[2020-06-29 15:39] jeffin143 commented on #3806
On it

[2020-06-29 15:40] jeffin143 commented on #3805
Will see this too

[2020-06-29 15:41] jeffin143 commented on #3804
Naive , will hand it too

[2020-06-29 17:00] #3795 closed

[2020-06-29 17:02] #3798 closed

[2020-06-30 22:04] montogeek commented on #3794
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2020-06-30 22:04] #3794 closed

[2020-07-02 05:31] chenxsan commented on #2918
I found it works fine under the latest PrismJS:

![image](https://user-images.githubusercontent.com/1091472/86307016-420c7000-bc48-11ea-88b9-9eb0d9afc997.png)
Might be a problem of [old version PrismJS](https://github.com/webpack/webpack.js.org/blob/master/yarn.lock#L10787).

[2020-07-06 21:18] webpack-bot opened #3820 "Document webpack change: add full Semantic Versioning for Shared Modules"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11105

---

* change storage format in the share scope
  * We have to lift the limitation of having only one version per version position, as complex ranges could select lower versions
  * Instead we walk through all version available while consuming to

[2020-07-07 06:58] #3804 closed

[2020-07-07 07:16] #3805 closed

[2020-07-07 12:31] simonbrent opened #3822 "Incorrect documentation or implementation for optimization.splitChunks.automaticNamePrefix"
# Bug report

**What is the current behavior?**

If optimization.splitChunks.automaticNamePrefix is set, an error occurs:

 object { automaticNameDelimiter?, automaticNameMaxLength?, cacheGroups?, chunks?, fallbackCacheGroup?, filename?, hidePathInfo?, maxAsyncRequests?, maxInitialRequests?, maxSize?, minChunks?, minSize?, name? }

**If the current behavior is a bug, please provide the steps to re

[2020-07-07 15:15] evilebottnawi commented on #3822
@simonbrent documentation problem

[2020-07-08 12:04] makuzaverite opened #3823 "Merge is not a function"
### Doc might be updated about how merge package is used on production section under guides

![image](https://user-images.githubusercontent.com/53856673/86916171-7d64de00-c123-11ea-8c61-a4d346e1a70a.PNG)

This example from docs didn't work for me

![more](https://user-images.githubusercontent.com/53856673/86916252-9ff6f700-c123-11ea-9624-a31ded8f5bce.PNG)

Source: https://webpack.js.org/guides/pro

[2020-07-08 12:17] anshumanv commented on #3823
Yep that's an issue, I'll update 👍

[2020-07-08 12:53] makuzaverite commented on #3823
I did a pull request

here https://github.com/webpack/webpack.js.org/pull/3824

[2020-07-08 12:57] evilebottnawi commented on #3823
No need close, it will be closed after merge

[2020-07-09 08:06] webpack-bot opened #3825 "Document webpack change: fix HMR bugs with hashing"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11140

---

remove Compilation.modifyHash
refactor HMR Plugin to better support module hashes

fixes bug that causes empty HMR manifest
remove HotModuleReplacementPlugin multiStep

**What kind of change does this PR introduce?**
bugfix, removal

**Did y

[2020-07-09 08:08] snitin315 commented on #3825
taking this up.

[2020-07-09 11:15] webpack-bot opened #3826 "Document webpack change: add roots option"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11143

---

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

updated snapshots

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

webpack

[2020-07-09 16:16] evilebottnawi opened #3828 "no examples how to use logging https://webpack.js.org/api/logging/"
__Feature to document__

Need add example how to use logger in loaders/plugins

__Author(s)__

Any

__Additional information__

There are two methods:
- `compilation.getLogger`
- `compiler.getInfrastructureLogger`

Need document them too

[ ] I am willing to work on this issue and submit a pull request.

[2020-07-10 11:15] linlinyang opened #3829 "How to write loader with HMR"
when develop a loader,
How I develop it in my demo with HMR.
`
  resolveLoader: {
    alias: {
      'my-loader': require.resolve('../lib/index.js')
    }
  },
`
I modify my loader files ../lib/index.js, demo do not update

[2020-07-10 11:16] evilebottnawi commented on #3829
I think we should improve docs and provide example how to write a simple loader/plugin (I think most popular is working with assets)

[2020-07-10 13:35] linlinyang commented on #3829
@evilebottnawi I read the loader api and try to write it, but it‘'s  inconvenient when id develop it. Cannot get the loader result immediate

[2020-07-11 04:56] MenaiAla opened #3830 "[Feature] Add 'Next' and `Back` buttons to switch between section on bottom of the page ?"
**Issue Description**
When I want to move forward or backward between sections ( pages ), I did not find the `Next` and `Back`  buttons on the bottom of the page.

**Current scenario**
Must select each selection on the left side.

**Featured scenario**
Two buttons that allow docs readers to switch between sections without scrolling on the top.

[2020-07-11 06:49] chenxsan commented on #3830
there's a pull request here https://github.com/webpack/webpack.js.org/pull/3793

[2020-07-11 14:30] MenaiAla commented on #3830
Yes, I check it out but why they did not approve it yet?

[2020-07-11 14:46] chenxsan commented on #3830
@MenaiAla We all do it in our free time :) So I guess it would take some time. Please be patient.

[2020-07-11 15:03] MenaiAla opened #3831 "Notify readers that module loaders arrangement is important."
When I was reading [Asset Arrangement](https://webpack.js.org/guides/asset-management/) I wrote the config manually like this :

[code]

The code was invoking an error but I COULD NOT find where's the error Then I figured out that the right arrangement of modules should be :

[code]

But the section of [Loading CSS](https://webpack.js.org/guides/asset-management/#loading-css) did not mention that

[2020-07-11 18:04] chenxsan commented on #3831
I think it's mentioned somewhere like https://webpack.js.org/concepts/loaders/#loader-features:

But I agree it's better to warn users here too.

Maybe you can submit a pull request.

[2020-07-13 03:32] Ji4ming opened #3834 "Display Problem on Chinese AssetManagement Website"
https://www.webpackjs.com/guides/asset-management/

The change from main.js to bundle.js(line 35-36) is not truly highlighted on the webpage which may lead to certain misunderstandings or omissions.
This change is supposed to be highlighted as it is crucial for all the changes we will make in latter sections.

[2020-07-13 04:15] chenxsan commented on #3834
Not a problem can be fixed in this repository. You might want to create an issue on the Chinese translation site https://github.com/docschina/webpack.js.org/issues

[2020-07-13 05:46] #3834 closed

[2020-07-13 09:23] sokra opened #3835 "Reference optimization.runtimeChunk in Code Splitting Guide"
__Feature to document__

On the https://webpack.js.org/guides/code-splitting/ page document that `optimization.runtimeChunk: "single"` is needed when multiple entry points are put on a single HTML page.

Similar to the note here: https://webpack.js.org/configuration/optimization/#optimizationruntimechunk

We should also add a note that using multiple entrypoints per page should be avoided when pos

[2020-07-13 09:42] jeffin143 commented on #3835
Will take a look

[2020-07-13 12:56] webpack-bot opened #3836 "Document webpack change: Http2 defaults for splitChunks"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11166

---

**What kind of change does this PR introduce?**
change, refactor, bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* new opti

[2020-07-13 13:05] anshumanv commented on #3836
on it

[2020-07-14 08:11] sokra opened #3838 "Note about compiling untrusted code"
__Feature to document__

Add a note about compiling untrusted code somewhere into the documentation.

__Author(s)__

@sokra

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2020-07-14 08:27] anshumanv commented on #3838
wip

[2020-07-14 12:40] #3828 closed

[2020-07-14 12:44] tomsonpl opened #3839 "Browser throws warning: "Export {name} was not found" while working with yarn berry workspaces"
- [x ] No existing issue? Go ahead and open a new one.

Hi, I am working with webpack 4 and yarn berry workspaces.

whenever I try to import a "package (workspace)" the browser console gives me a warning:
[code]

[2020-07-14 12:45] #3839 closed

[2020-07-14 12:49] aniketfuryrocks opened #3840 "webpackJsonp changes the chunkHash"
[code]
In the above cacheGroup I am trying to split each node_module, with the output file name of `c[chunkhash].js`

I expect 2 different pages having a common import, such as `axios` should have the same 'chunkHash', but to my surprise that is not the case.

After reviewing the chunks, i figured out that the 2 chunks have the same body, just their webpackJsonp different.

chunk1
[code]
chunk 2
[

[2020-07-14 14:27] aniketfuryrocks commented on #3840
Moved to [StackOverflow](https://stackoverflow.com/questions/62897452/webpackjsonp-changes-the-chunkhash)

[2020-07-14 14:27] #3840 closed

[2020-07-15 11:58] webpack-bot opened #3843 "Document webpack change: Create Cache facade to make it easier to use"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11176

---

add missing serializers for classes used in test suite

cc @evilebottnawi for terser-webpack-plugin

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
internal plugins now use the new API

**Doe

[2020-07-15 12:10] jeffin143 commented on #3843
Wip

[2020-07-15 13:18] webpack-bot opened #3844 "Document webpack change: Improve cleverMerge to respect byDependency order correctly"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11160

---

* Allow to use "..." in `option.resolve`, `cache.managed/immutablePaths`, `module.defaultRules`, `optimization.minimizer` to access the defaults
* Add "..." to schema when needed
* Apply dependency specific mainFields, aliasFields and condit

[2020-07-16 11:14] mitchell-frost commented on #3831
I would like to open a pull request. Where is the repository with the documentation?

[2020-07-16 11:15] anshumanv commented on #3831
@mitchell-frost it's this repository itself.

[2020-07-16 11:32] mitchell-frost commented on #3831
I can't find the code folder or the documentation.

[2020-07-16 11:37] snitin315 commented on #3831
You can click on the `Edit Document` button on webpack.js.org's page which you want to edit.

[2020-07-16 11:44] mitchell-frost commented on #3831
Thank you!

[2020-07-16 11:55] mitchell-frost commented on #3831
I have made a PR for this issue.

[2020-07-16 11:57] mitchell-frost commented on #3843
I would like to work on this issue.

[2020-07-16 11:58] mitchell-frost commented on #3838
I want to open a pull request. Where should this be added in the documentation?

[2020-07-16 12:33] mitchell-frost commented on #3835
I made a pull request. Please go through it

[2020-07-16 12:42] jeffin143 commented on #3843
I am currently working, if I am not able to you can take it

[2020-07-16 12:43] jeffin143 commented on #3838
@anshumanv , is currently working on this , so you would want to take some other issues to resolve :)

[2020-07-16 12:45] jeffin143 commented on #3835
I was working on it and was about to raise it , and that is why I said will take a look

[2020-07-16 12:47] mitchell-frost commented on #3835
Apologies. There was no pull request so, I thought maybe you got busy.

[2020-07-16 14:49] mitchell-frost commented on #3843
Okay :)

[2020-07-16 14:50] mitchell-frost commented on #3838
Okay! :)

[2020-07-17 14:01] vincaslt opened #3856 "SourceMapDevToolPlugin not finding files, but sourcemap exists"
I have this in my wrbpack config:
[code]

I'm getting errors like these in my console:

[code]

The library in question doesn't publish source as part of npm package, but they do publish sourcemaps:

[code]

Source maps do point to the sourcefiles, not sure how that relates to the issue though:
`{"version":3,"file":"polyfill.min.js","sources":["../src/stub/symbol.ts","../src/utils.ts"...`

Is it a

[2020-07-17 15:35] evilebottnawi commented on #3856
Please use stackoverflow for questions, also it is repo for docs

[2020-07-17 15:35] #3856 closed

[2020-07-17 18:34] #3836 closed

[2020-07-18 08:43] chess99 opened #3868 "confusion on optimization.runtimeChunk configuration"
document link: <https://webpack.js.org/configuration/optimization/#optimizationruntimechunk>

Is there a comma missing in this sentence:

which means "adds  chunk to ( entrypoint containing only the runtime ) "

maybe it should be:

means "adds ( chunk containing only the runtime ) to entrypoint"

[2020-07-18 20:56] shrivastava-prateek opened #3860 "CSS-Loader documentation update"
__CSS-LOADER documentation update__

The default value for esModule given in the grid is **false** which should be changed to **true** in options section of css-loader

PFB the screenshot:
![image](https://user-images.githubusercontent.com/24779354/87861781-10ddb080-c967-11ea-8f10-76fa775b46fe.png)

Link: [https://webpack.js.org/loaders/css-loader/](https://webpack.js.org/loaders/css-loader/)

[ ]

[2020-07-19 04:54] anshumanv commented on #3860
That option is not released yet, we can update the docs once released

[2020-07-20 08:09] #3803 closed

[2020-07-20 08:16] webpack-bot opened #3862 "Document webpack change: deprecate optimization.noEmitOnErrors in favor of optimization.emitOnErrors"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11193

---

**What kind of change does this PR introduce?**
deprecation

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`optimization.noEmitOnEr

[2020-07-20 08:18] webpack-bot opened #3863 "Document webpack change: use content hashes for assets"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11191

---

fixes #10119

**What kind of change does this PR introduce?**
improvement

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* for fil

[2020-07-20 08:19] snitin315 commented on #3862
Taking this up.

[2020-07-20 08:21] anshumanv commented on #3863
on it

[2020-07-20 08:29] montogeek commented on #3830
Released.

[2020-07-20 08:29] #3830 closed

[2020-07-20 10:18] webpack-bot opened #3866 "Document webpack change: improve compatibly with node.js ESM"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11188

---

improve experiments.mjs to be more compatibly with node.js ESM
  - add support for `type: "module"` in package.json
  - add support for `*.cjs`
  - enable strict ESM for data uris with `text/javascript` or `application/javascript`
  - disall

[2020-07-20 10:18] webpack-bot opened #3867 "Document webpack change: Backport of resolve.roots for webpack 4"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11207

---

backport of #11143
fixes #11206

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no
Invalid absolute paths that produced an error before may k

[2020-07-20 10:20] jeffin143 commented on #3867
Wip

[2020-07-20 10:20] jeffin143 commented on #3866
On it

[2020-07-20 11:14] evilebottnawi commented on #3860
Yes, ETA is the current week

[2020-07-21 08:13] #3826 closed

[2020-07-22 13:33] #3825 closed

[2020-07-22 13:41] #3868 closed

[2020-07-23 11:21] amirsaeed671 opened #3874 "confusion on under the hood chunks"
document link https://webpack.js.org/concepts/under-the-hood/#chunks

since in line 96 we are naming the file as index.jsx and talking about jsx

so the subtitle chunks > ./src/index.js should be changed to chunks > ./src/index.jsx

[2020-07-23 13:20] #3844 closed

[2020-07-24 11:51] rogerloo opened #3877 "Modify DevServer related documents to facilitate developers"
## Feature request

**What is the expected behavior?**
  Modify [devServer.open](https://webpack.js.org/configuration/dev-server/#devserveropen) related documents

**What is motivation or use case for adding/changing the behavior?**
  When the host is modified to `0.0.0.0`, the edited open parameter will open 0.0.0.0: port, and you need to manually modify the host.

**How should this be implemente

[2020-07-26 06:41] #3867 closed

[2020-07-27 12:56] slavafomin opened #3879 "Documentation for the latest stable release should be available on the official site by default"
# Bug report

According to the [Entry and Context](https://webpack.js.org/configuration/entry-context/#entry-descriptor) documentation, the entry could be represented as an object with an `import` key that references the module or modules (string or array). However, the Webpack fails to parse such configuration and shows the following error message:

[code]

---

**What is the current behavior?**

[2020-07-27 12:58] evilebottnawi commented on #3879
@slavafomin unfortunately we didn’t have enough time to design the documentation, so there were such problems, we will try to fix it in the future

[2020-07-27 13:21] slavafomin commented on #3879
@evilebottnawi I think I can propose a design for this in my spare time, if you guys are willing to go in this direction (i.e. visible drop-down version selector and a stable documentation displayed by default).

[2020-07-29 18:12] #3874 closed

[2020-07-30 01:42] Airkro commented on #2684
How about this pattern:

[code]

[code]

[2020-07-30 06:38] mitchell-frost commented on #3788
I am willing to work on this issue...is it open?

[2020-07-30 07:22] Jiang-Xuan commented on #3788
@mitchell-frost Thanks, It is open 🍻
@chenxsan

[2020-07-30 10:50] webpack-bot opened #3880 "Document webpack change: Runtime based optimization"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11235

---

This allows webpack to optimize modules differently depending on in which runtime they are used.
By default each entrypoint is a runtime, here this means a scope for optimization.

Used exports are tracked per runtime. Modules are concatenat

[2020-07-30 12:40] jamesgeorge007 commented on #3880
WIP

[2020-07-31 07:22] adajoy commented on #116
I still dont understand the pitching phase. I am reading source code of style-loader recently and it has a pitch method. that pitch method will always return a string. and we always use style loader with css-loader. the flow will be style-loader pitch -> css-loader pitch -> css-loader normal execution -> style-loader normal execution. but since the pitch method of style-loader returns a string. th

[2020-08-01 06:53] webpack-bot opened #3882 "Document webpack change: add useful error messages for runtime and dependsOn"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11253

---

**What kind of change does this PR introduce?**
DX

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `runtime` and `dependOn` can b

[2020-08-01 08:05] jeffin143 commented on #3882
WIP

[2020-08-01 16:36] evilebottnawi opened #3883 "Added css-minimizer-webpack-plugin to official plugins"
__Feature to document__

Need to add `css-minimizer-webpack-plugin` to official plugins https://github.com/webpack-contrib/css-minimizer-webpack-plugin

__Author(s)__
Any

__Additional information__

No

[ ] I am willing to work on this issue and submit a pull request.

[2020-08-01 16:43] jamesgeorge007 commented on #3883
On it.

[2020-08-03 03:21] sy0uta1k0n opened #3886 "Tree Shaking localization in Chinese has a grammar issue"
__Feature to document__

tree shaking: https://webpack.docschina.org/guides/tree-shaking/

multiple '代码' provided
It should be <这样会允许去掉这
'+段'
'-代码'
代码，但仍然会有一些导入的问题需要被包括/评估，因为它们包含了副作用。>

__Additional information__
<img width="1115" alt="tree shaking" src="https://user-images.githubusercontent.com/13308844/89142828-0fbd9d80-d57b-11ea-86e3-7741d6db7aff.png">

[Y] I am willing to work on this issue an

[2020-08-03 03:27] chenxsan commented on #3886
Please open an issue on https://github.com/docschina/webpack.js.org/issues, it can't be fixed in this repository.

[2020-08-03 06:22] sy0uta1k0n commented on #3886
Got it and I had open a new issue in the mentioned repo

[2020-08-03 06:22] #3886 closed

[2020-08-03 08:27] webpack-bot opened #3888 "Document webpack change: Related assets"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11254

---

* add related info to asset info
* display assets in stats in a list instead of a table
* group related assets below the parent asset

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Do

[2020-08-03 08:30] anshumanv commented on #3888
wip

[2020-08-03 23:38] logicbomb421 opened #3890 "EvalSourceMapDevToolPlugin filename option is ignored"
# Bug report

**What is the current behavior?**

I am attempting to use `webpack.EvalSourceMapDevToolPlugin` with the `filename` option (per [the docs](https://webpack.js.org/plugins/eval-source-map-dev-tool-plugin/)) to generate standalone source maps for a build artifact tool, but it appears the `filename` option is ignored, and all source maps are inlined with the generated bundles.

**If the c

[2020-08-04 09:50] anshumanv commented on #3890
wip

[2020-08-04 14:00] webpack-bot opened #3891 "Document webpack change: enable experiments.importAsync by default"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11267

---

and remove experiments.importAwait

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no, since all kinds of async modules require other experi

[2020-08-04 14:00] chenxsan commented on #3891
wip.

[2020-08-04 14:43] chenxsan opened #3893 "Document webpack change: support [query] for asset modules"
__Feature to document__

support `[query]` for asset modules

See pull request https://github.com/webpack/webpack/pull/10457

__Author(s)__

__Additional information__

[x] I'll submit a pull request documenting the change once a new version webpack is released.

[2020-08-06 11:57] #3893 closed

[2020-08-06 12:44] #3888 closed

[2020-08-06 12:58] #3838 closed

[2020-08-06 13:43] #3890 closed

[2020-08-06 18:07] #3883 closed

[2020-08-07 10:47] evilebottnawi opened #3900 "add `remark-loader` to official loaders"
__Feature to document__

Need to add `remark-loader` to official loaders for markdown files https://github.com/webpack-contrib/remark-loader

__Additional information__

Any

[ ] I am willing to work on this issue and submit a pull request.

[2020-08-07 10:49] anshumanv commented on #3900
wip

[2020-08-07 13:53] chenxsan commented on #3823
Could be closed now that the pull request was merged.

[2020-08-07 17:30] webpack-bot opened #3902 "Document webpack change: add Compilation.deleteAsset"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11288

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
Compilation.emitAsset, upda

[2020-08-07 17:46] jamesgeorge007 commented on #3902
wip

[2020-08-07 23:42] chenxsan commented on #3578
- [x] Wait for new PrismJS to be released ([1.21.0](https://github.com/PrismJS/prism/releases/tag/v1.21.0) is out)
- [ ] Wait for [refractor](https://github.com/wooorm/refractor) to update to PrismJS 1.21.0
- [ ] Wait for [remark-refractor](https://github.com/montogeek/remark-refractor) to update to then-latest refractor

[2020-08-08 08:48] #3891 closed

[2020-08-10 15:01] TangBii opened #3907 "Why is the default value SplitChunks.chunks is "all" instead of "async" in the document?"
# Bug report
![image](https://user-images.githubusercontent.com/51776310/89797319-5e5fce80-db5d-11ea-83f0-822a6b692549.png)

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
webpack version:
Node.js version:
Operating System:
Additional tools:

[2020-08-10 15:27] #3902 closed

[2020-08-10 16:45] z1811021 opened #3906 "website www.webpackjs.com changed to webpack.js.org/ have issue"
# Bug report

**What is the current behavior?**
Right now i am in the Chinese version website when i changed to English version the URL is wrong.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. link to https://www.webpackjs.com/
2. Click English Official website
3. Then URL changed to https://www.webpackjs.com/https://webpack.js.org//
![image](https://user-images.

[2020-08-11 10:27] evilebottnawi opened #3910 "This is working as intended. There is no technical problem with `import(expr)` and this used to work in I think webpack 1 and 2 or so, but we disabled this behavior as this is in 99% not the behavior you want. A fully dynamic expression includes many many modules and blow up your bundle. So we only handle partially dynamic imports by default."
This is working as intended. There is no technical problem with `import(expr)` and this used to work in I think webpack 1 and 2 or so, but we disabled this behavior as this is in 99% not the behavior you want. A fully dynamic expression includes many many modules and blow up your bundle. So we only handle partially dynamic imports by default.

But hey if you want to enable webpack handling unknown

[2020-08-11 10:28] evilebottnawi commented on #3910
I think it will be great to docs

[2020-08-11 11:07] chenxsan commented on #3910
I'll see if I can document it.

[2020-08-11 17:00] #3900 closed

[2020-08-11 19:14] psyduck1203 commented on #2020
hey can i work on this issue ?

[2020-08-12 09:39] #3907 closed

[2020-08-12 13:01] chenxsan commented on #3578
I've created a pull request here https://github.com/webpack/webpack.js.org/pull/3912 so anyone can check how it looks like now https://webpack-js-org-git-fork-chenxsan-feature-user-select-none-diff.webpack-docs.vercel.app/guides/asset-management/#loading-images.

[2020-08-12 13:35] chenxsan commented on #3906
If you're looking for Chinese version, please go to https://webpack.docschina.org/. Check this issue for more https://github.com/docschina/webpack.js.org/issues/809

[2020-08-12 16:00] chenxsan commented on #3910
Unfortunately I can't make the option work as I expected, if anyone are interested in documenting it, please go ahead.

And here's the related section https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import

[2020-08-13 15:18] webpack-bot opened #3914 "Document webpack change: track reexport target during providedExports analysis"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11315

---

* add error message when there are conflicting star exports (fixes #7562)
* use tracked reexport target for SideEffectsPlugin
  * improves handled cases regarding dynamic modules
* display reexport target in module info header (`output.pathi

[2020-08-13 15:24] chenxsan commented on #3914
It's already documented here https://webpack.js.org/configuration/optimization/#optimizationsideeffects:

[2020-08-13 17:02] sidneifjr opened #3915 "Translating the docs to Portuguese (PT-BR)"
Hello.

I'm a Front-End Developer from **Brazil**; I noticed a decent amount of colleagues/coworkers have a hard time reading the docs in English (not their mother language), so I intend to collaborate by offering to translate the docs.

I don't consider myself a pro, however I already managed to translate four articles/courses in the **Envato Tuts+ Translation Program** so far and I feel very con

[2020-08-15 03:52] husnusetiawan commented on #3374
i got same issue after split webpack.config.js with command `expo customize:web `..  i try downgrade webpack-config. and solve
`yarn add webpack-config@0.12.23`

[2020-08-17 09:07] sokra commented on #2314
Passing `true` as second argument instead of fileDependencies will flag the module as uncachable.

[2020-08-18 07:15] #3906 closed

[2020-08-18 18:12] EugeneHlushko commented on #3914
Yup looks like, CC @sokra

[2020-08-18 18:12] #3914 closed

[2020-08-18 18:14] #3806 closed

[2020-08-19 12:22] webpack-bot opened #3917 "Document webpack change: calculate real content hash for assets after asset processing"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11339

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes, hash is calculated differently

**What needs to be documented once your changes are merg

[2020-08-19 12:27] jamesgeorge007 commented on #3917
wip

[2020-08-19 20:46] webpack-bot opened #3921 "Document webpack change: Partial caching, expose webpack-sources"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11345

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
partially, existing tests

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
Plugi

[2020-08-19 20:50] webpack-bot opened #3922 "Document webpack change: add output.charset option"
*A pull request by @chenxsan was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11333

---

**What kind of change does this PR introduce?**

feature. closes https://github.com/webpack/webpack/issues/9327

**Did you add tests for your changes?**

Yes

**Does this PR introduce a breaking change?**

No

**What needs to be documente

[2020-08-20 00:49] chenxsan commented on #3921
I'll see where to document it.

[2020-08-20 12:54] evilebottnawi commented on #3915
Let's close in favor https://github.com/webpack/webpack.js.org/issues/295, we should think about translation

[2020-08-20 12:54] #3915 closed

[2020-08-20 12:55] evilebottnawi commented on #3860
Fixed

[2020-08-20 12:58] evilebottnawi commented on #2069
webpack-serve is deprecated, please use webpack-dev-server

[2020-08-20 12:58] #2069 closed

[2020-08-20 12:59] evilebottnawi commented on #1961
Close in favor https://github.com/webpack/webpack.js.org/issues/1854, same problem for webpack@5, we will try to find solutions in near future

[2020-08-20 12:59] #1961 closed

[2020-08-21 06:58] #2314 closed

[2020-08-21 07:18] EugeneHlushko commented on #2314
I am closing it but the mention of `true` instead of array is very cryptic, @sokra maybe you can help improving it? To me its not clear, what means `will flag the module as uncachable.`, which module? define plugin is used in the webpack config, so does it mean it flags the config itself?

Here's the link to the doc we added:

https://webpack.js.org/plugins/define-plugin/#runtime-values-via-runtim

[2020-08-24 15:17] jeffin143 commented on #3831
@montogeek : Let's close this

[2020-08-24 19:41] #3831 closed

[2020-08-24 21:48] jimblue opened #3934 "Progress Plugin Invalid Options"
# Bug report

**What is the current behavior?**

Following this [Webpack documentation](https://webpack.js.org/plugins/progress-plugin/#root) and using the provide code giving the following error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Adding the following code in the plugin section of **Webpack** config then run it.

[code]

But I don't change the c

[2020-08-25 07:04] #3917 closed

[2020-08-25 10:56] #3823 closed

[2020-08-25 10:58] montogeek commented on #3879
@slavafomin Yes, that is the idea

[2020-08-25 14:42] chenxsan opened #3933 "Page not scrolled to top when clicking sidebar menu"
When I open https://webpack.js.org/concepts/#environment and click `Concepts` menu on sidebar:

![image](https://user-images.githubusercontent.com/1091472/91187970-5b4f0b80-e723-11ea-8506-3d07521a15d5.png)

Nothing happens while I expect the page to scroll to top.

[2020-08-25 17:20] jimblue commented on #3934
Indeed my bad... Following Webpack 4 documentation and it's working like a charm.

Thanks for your help

[2020-08-25 17:20] #3934 closed

[2020-08-26 07:24] webpack-bot opened #3936 "Document webpack change: add "snapshot" configuration to allow to configure how snapshots are created"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11379

---

* expose snapshot options for module, resolve, buildDependencies and resolveBuildDependencies
* move managedPaths and immutablePaths from config.cache to config.snapshot
* add timestamp + hash snapshotting mode
* use timestamp + hash mode by

[2020-08-26 09:30] Herz3h commented on #126
@TheLarkInn you mean the PrefetchPlugin ? If so it should be specified somewhere in docs that it is used by default. I was about to start try using it my config.

[2020-08-26 10:24] chenxsan commented on #3936
I'll do it.

[2020-08-27 10:09] lionel-bijaoui opened #3938 "The current caching strategy explained on the documentation results in ChunkLoadError"
Hello,

I don't really know if this is considered a bug reports as it expand a little bit beyond webpack, so I used this "other" template. I hope it is a correct use of this template.

I have followed the [guide](https://webpack.js.org/guides/caching/) to setup my application and define a caching strategy.
In the following deployments, I (and my users) started to get ChunkLoadError.

I seem that n

[2020-08-27 14:20] lionel-bijaoui commented on #3938
This is temporary fix (most of the team is unavailable) but I plan to implement a real long term solution in the short term.

Yes this is a bit off topic, I'm sorry

That would be fantastic! Webpack is an amazing tool and the documentation is great, I can't thank you and everyone enough for it.
Thank you for your response !

[2020-08-28 13:31] webpack-bot opened #3940 "Document webpack change: Chunk loading method per entrypoint"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11385

---

This is preparation work to add support for
* `__webpack_entry__` to create a entrypoint from inside of source code. Returns the paths to the files needed for this entrypoint.
* `new Worker(new URL("./worker", import.meta.url), { type: "modu

[2020-08-28 13:33] anshumanv commented on #3940
wip

[2020-08-28 13:36] evilebottnawi opened #3941 "make `postcss-loader` official"
__Feature to document__

make `postcss-loader` official (now it under webpack-contrib) https://github.com/webpack-contrib/postcss-loader

__Author(s)__

No

__Additional information__

No

[ ] I am willing to work on this issue and submit a pull request.

[2020-08-28 13:39] anshumanv commented on #3941
wip

[2020-08-28 15:44] #3922 closed

[2020-08-28 18:49] anshumanv commented on #3941
I think already official

[2020-08-29 11:29] evilebottnawi commented on #3941
@anshumanv I think we need check url of `postcss-loader` in our docs, because it migrate to other organization

[2020-08-29 11:53] anshumanv commented on #3941
Already - https://github.com/webpack/webpack.js.org/pull/3909 😄

[2020-08-29 13:41] evilebottnawi commented on #3941
Great

[2020-08-29 13:41] #3941 closed

[2020-08-30 18:22] #3578 closed

[2020-08-31 11:19] #3775 closed

[2020-08-31 19:03] #3921 closed

[2020-09-02 10:08] QuentinLuc opened #3942 "jsonpFunction not available in webpack 5"
Hello!

I upgraded to webpack 5 and it seems jsonpFunction is not available anymore as an option in the Output section.  Has it been replaced or removed?  It still in the V5 documentation.

Here is the error I get during the build:
[code]

Thanks!

[2020-09-02 10:11] evilebottnawi commented on #3942
Duplicate of #3940

[2020-09-02 10:11] #3942 closed

[2020-09-02 12:07] evilebottnawi opened #3943 "[webpack 5]: adding example for toml/yaml/json5 files"
__Feature to document__

https://github.com/webpack/webpack/tree/master/examples/custom-json-modules

__Author(s)__

Any

__Additional information__

No

[ ] I am willing to work on this issue and submit a pull request.

[2020-09-02 12:50] chenxsan commented on #3943
I'll document it.

[2020-09-03 11:17] chenxsan commented on #3943
@evilebottnawi I found there was an example for `toml` here http://localhost:3000/configuration/module/#ruleparserparse, do you think it's still necessary to document them somewhere?

[2020-09-03 12:37] evilebottnawi commented on #3943
@chenxsan yes, we need to document this, because not all developers know about examples and they are poorly indexed in search systems

[2020-09-03 15:31] youssefsharief opened #3946 "Weird behaviour with dynamic imports"
# Bug report

**What is the current behavior?**
Replacing a static string to a variable string in the dynamic import path change build time and change the size of the resulting build files.

The code snippet below results in fast and smaller builds
[code]
![image](https://user-images.githubusercontent.com/21158003/92133464-475b7780-edbd-11ea-93fb-84cd8a6b775e.png)

The code snippet below results i

[2020-09-03 15:31] evilebottnawi commented on #3946
I think we should improve docs for this example

[2020-09-03 21:23] webpack-bot opened #3948 "Document webpack change: Stats/summary"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11426

---

improve stats text format to display a summary ala `[name] (webpack [version]) compiled with 12 errors in 123 ms` instead of multiple lines with this info.

The summary is in the end.

**What kind of change does this PR introduce?**
feature

[2020-09-03 21:31] webpack-bot opened #3949 "Document webpack change: Enable asset experiment"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11413

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes, `new URL`

**What needs to be documented once your changes are merged?**
* all the effec

[2020-09-03 21:31] webpack-bot opened #3950 "Document webpack change: Grouping of assets and modules in stats for readablility"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11409

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
existing tests updates

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
New opt

[2020-09-03 22:24] webpack-bot opened #3951 "Document webpack change: make entrypoints less verbose and add size info"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11420

---

make entrypoints less verbose and add size info

fix auxiliary files for Compilation.renameAsset

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a bre

[2020-09-03 23:29] chenxsan commented on #3949
i'll work on this.

[2020-09-04 04:09] jeffin143 commented on #3951
Taking this up

[2020-09-04 04:10] jeffin143 commented on #3951
Taking this up

[2020-09-04 04:11] jeffin143 commented on #3950
I will see if I can cover all of them

[2020-09-04 04:12] jeffin143 commented on #3948
Looks starlight forward , I will handle it

[2020-09-07 09:24] ogonkov opened #3958 "Loader API: addDependency after callback resolve?"
__Feature to document__

Document invocation order for `addDependency` and `callback`

__Author(s)__

__Additional information__

As a loader author i want to know can i execute `addDependency` after calling callback (`this.callback`) with loader result. It's not clear from documentation.

It seems to work (no error or warning), just to make sure.

[x] I am willing to work on this issue and submit

[2020-09-07 15:32] evilebottnawi commented on #3772
@chenxsan Can we close it or something need more docs?

[2020-09-07 15:38] chenxsan commented on #3772
@evilebottnawi The `Module Federation` part is not documented yet. It's a kinda advanced topic, would be great if someone familiar with it can help document it. Also it's an old issue, things might have changed.

[2020-09-07 20:02] andrew-pyle commented on #3366
@EugeneHlushko @montogeek Thank you for your work here.

I'm interested in working on these objectives for <https://v4.webpack.js.org/>. Can someone describe in a little more detail how the site is deployed from the `gh-pages` branch of the`v4.webpack.js.org` repo?

I see that the`v4.webpack.js.org` repo does not include the logic and application code—only the content for `webpack 4`.

Could someo

[2020-09-08 10:20] webpack-bot opened #3960 "Document webpack change: new Worker() support"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11439

---

* add support for async anonymous entrypoints from inside the codebase
* add worker example
* move entry options into Entrypoint and receive them from there

This adds support to create entrypoints from AsyncDependenciesBlocks. Might also be

[2020-09-08 11:28] chenxsan opened #3961 "Dogfood webpack 5?"
webpack 5 was going to be released at [2020-10-10](https://github.com/webpack/webpack/issues/11406), any interest in dogfooding it in this project?

Here's some benefits I can think of now:

1. It's more convincing for people who consider upgrading to webpack 5 if webpack document site is dogfooding webpack 5
2. We can hopefully improve the performance of production site and development environmen

[2020-09-08 11:31] evilebottnawi commented on #3961
@chenxsan Good idea :+1: I am for it

[2020-09-08 11:34] EugeneHlushko commented on #3961
Yes i was going to pick it up for hands on experience but since you are willing happy to review it later! Please go ahead

[2020-09-09 13:21] webpack-bot opened #3964 "Document webpack change: separate wasm loading from target"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11445

---

**What kind of change does this PR introduce?**
refactoring

**Did you add tests for your changes?**
existing test

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `output.was

[2020-09-09 14:31] webpack-bot opened #3965 "Document webpack change: move default externals from target into externalsPresets option"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11447

---

**What kind of change does this PR introduce?**
refactoring

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* new option

[2020-09-10 08:57] webpack-bot opened #3966 "Document webpack change: enable mjs experiment"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11412

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
* `.mjs` and `.js` with `t

[2020-09-11 18:13] #3936 closed

[2020-09-11 21:54] webpack-bot opened #3968 "Document webpack change: improve target option"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11454

---

**What kind of change does this PR introduce?**
refactoring, feature

**Did you add tests for your changes?**
yes + existing tests

**Does this PR introduce a breaking change?**
minimal -> terser-webpack-plugin uses `ecmaVersion`

**What nee

[2020-09-13 22:29] Dmitriy11111 opened #3972 "Webpack"
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2020-09-14 05:50] pranshuchittora commented on #3972
??

[2020-09-14 07:12] anshumanv commented on #3965
wip

[2020-09-14 07:39] pranshuchittora commented on #3968
Would love to work on this.

[2020-09-14 09:58] QC-L commented on #3960
Would love to work on this.

[2020-09-14 11:13] #3972 closed

[2020-09-14 11:43] chenxsan opened #3975 "Document resolve.fullySpecified"
__Feature to document__

Since webpack 5.0.0-beta.30, you're required to specify extensions when using `import`s in `.mjs` files or any `.js` files with a package.json with `"type": "module"`. You can still disable the behavior with `resolve.fullySpecified  set to `false` if you see any related errors in your project.

More info here https://github.com/webpack/webpack/issues/11467#issuecomment-691

[2020-09-15 11:09] chenxsan commented on #3966
Working on it.

[2020-09-16 06:38] webpack-bot opened #3979 "Document webpack change: update enhanced-resolve"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11478

---

- imports field support
- resolve.fallback option

recommend resolve.fallback for polyfills

**What kind of change does this PR introduce?**
deps, feature

**Did you add tests for your changes?**
in enhanced-resolve

**Does this PR introduce

[2020-09-16 07:38] jamesgeorge007 commented on #3979
Taking this up 🙌

[2020-09-16 15:09] chenxsan commented on #3966
@sokra Hi, can you clarify this for me?

As I tested locally, webpack would still add `__esModule` property to the module.

[2020-09-16 15:12] chenxsan commented on #3975
Working on it.

[2020-09-17 12:14] evilebottnawi opened #3982 "make `stylus-loader` official"
__Feature to document__

Need to add `style-loader` as official loader https://github.com/webpack-contrib/stylus-loader

__Author(s)__

Any

__Additional information__

No

[ ] I am willing to work on this issue and submit a pull request.

[2020-09-17 12:21] anshumanv commented on #3982
wip

[2020-09-17 23:21] Cronus1007 commented on #1796
@knitcodemonkey I would be obliged to work on this issue.

[2020-09-18 16:10] achenwei-chwy opened #3988 "[outdated doc] plz remove namedModules from 5.x doc"
__Feature to document__

namedModules for optimization config
__Author(s)__
I do not know

__Additional information__
It was traced to a doc update because a prop was not found when I was configuring webpack5
https://github.com/webpack/webpack-cli/issues/1809

[ x ] I am willing to work on this issue and submit a pull request. (but I am not sure if its just removing it? if so I can take on)

[2020-09-18 16:21] chenxsan commented on #3988
It's removed in this commit https://github.com/webpack/webpack/commit/5e72a6505a0a91024d82fa2e9e1a7d14c61c022d. I think removing it should be enough.

[2020-09-19 00:35] chenxsan commented on #3988
PR welcomed, let us know if you need any help.

[2020-09-19 07:03] anshumanv commented on #3933
Fixed in https://github.com/webpack/webpack.js.org/pull/3971

[2020-09-19 07:07] #3949 closed

[2020-09-19 07:08] #3943 closed

[2020-09-19 07:10] #3975 closed

[2020-09-19 07:15] #3863 closed

[2020-09-19 07:16] #3982 closed

[2020-09-19 07:26] #3948 closed

[2020-09-19 08:17] #3933 closed

[2020-09-19 09:49] rahul3v opened #3990 "Popover functionality not working in few links"
Steps to produce
1. go to https://webpack.js.org/configuration/
2. search (/* Advanced resolve configuration (click to show) */ on webpage, or find it as shown on image as highlighted one)
3. click on the link, the popup will not work,

tried browsers : Chrome and Mozilla  - latest
screen resolution : 1366 x 768

![popupWillNotWork](https://user-images.githubusercontent.com/24385409/93664274-18b2f

[2020-09-19 10:17] anshumanv commented on #3990
seems to work for me

[2020-09-19 10:25] rahul3v commented on #3990
well it will work in high screen resolution, try it in normal as specified 1366*768

[2020-09-19 11:08] anshumanv commented on #3990
Yep seems like an issue, feel free to PR

[2020-09-20 21:07] webpack-bot opened #3995 "Document webpack change: deprecate stats.warningsFilter in favor of ignoreWarnings"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11506

---

improve warnings and errors handling in stats
respect warningsFilter for warnings count
include child compilation warnings and errors in count
show hint for child compilation errors and warnings
add config.ignoreWarnings
deprecate stats.warn

[2020-09-21 01:32] snitin315 commented on #3995
Taking on this.

[2020-09-24 08:34] Chen-jj opened #4008 "ProvidePlugin can't tree shaking like the doc said"
# Bug report

**What is the current behavior?**

When using ProvidePlugin to provide `join` of `lodash` or `lodash-es`, the output bundle can't drop the rest of lodash as docs said: https://v4.webpack.js.org/guides/shimming/#shimming-globals

![image](https://user-images.githubusercontent.com/11807297/94120067-467ca980-fe82-11ea-9945-18f3888fde40.png)

**If the current behavior is a bug, please pr

[2020-09-25 10:01] webpack-bot opened #3998 "Document webpack change: allow to move modules to parent chunks"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11529

---

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`splitChunks.cacheGroups.*.n

[2020-09-25 10:48] evilebottnawi commented on #2070
Let's close in favor https://github.com/webpack/webpack/pull/11530, after merge we will open new issue

[2020-09-25 10:48] #2070 closed

[2020-09-25 12:34] rahul3v commented on #3998
I believe it's  `name: "entry-name"` to move modules into the `entry-name` chunk, right! , like inside `entry-name.js` file, this is my first time and i believe I can document this one

[2020-09-25 13:54] webpack-bot opened #3999 "Document webpack change: allow to pass custom worker syntax"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11531

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
for javascript files one ca

[2020-09-25 17:47] webpack-bot opened #4000 "Document webpack change: output.chunkFilename can be a function"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11530

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`output.chunkFilename` can

[2020-09-25 18:18] jamesgeorge007 commented on #4000
WIP

[2020-09-27 06:54] #3966 closed

[2020-09-27 07:04] #3965 closed

[2020-09-27 07:33] pranshuchittora commented on #3999
WIP

[2020-09-27 11:56] #3964 closed

[2020-09-28 09:59] evilebottnawi opened #4007 "remove `eslint-loader` from list of loaders"
__Feature to document__

Need to remove eslint-loader from official loader, because it is deprecated https://github.com/webpack-contrib/eslint-loader in favor eslint-webpack-plugin

__Author(s)__

Any

__Additional information__

Ref: https://github.com/webpack-contrib/eslint-loader
Ref: https://github.com/webpack-contrib/eslint-webpack-plugin

[ ] I am willing to work on this issue and submit a p

[2020-09-28 10:00] jamesgeorge007 commented on #4007
WIP

[2020-09-28 14:29] webpack-bot opened #4009 "Document webpack change: make browserslist the default target when browserslist config is available"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11541

---

**What kind of change does this PR introduce?**
defaults change

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
when browserslist

[2020-09-28 17:12] #4000 closed

[2020-09-28 17:46] #3951 closed

[2020-09-28 19:17] webpack-bot opened #4011 "Document webpack change: update enhanced-resolve and webpack-sources"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11542

---

add resolve.preferRelative
set preferRelative for new URL() and new Worker() to fix relative requests

fixes #11491

**What kind of change does this PR introduce?**
bugfix, feature

**Did you add tests for your changes?**
yes

**Does this PR

[2020-09-28 20:04] Slapbox opened #4012 "Passing ecmaVersion results in "Invalid configuration object""
# Bug report

**What is the current behavior?**

v4.44.2 crashes with "Invalid configuration object" telling me that `output.ecmaVersion` is not a valid option

**If the current behavior is a bug, please provide the steps to reproduce.**

Provide `output.ecmaVersion` of any value. Tested: `5` and `6`

**What is the expected behavior?**

No crash on using documented option https://webpack.js.org/co

[2020-09-28 20:28] Slapbox commented on #4012
The docs for that setting specifically mention Webpack 4, so it would be good to edit the docs in that case.

[2020-09-28 23:48] chenxsan commented on #4011
I'll document it.

[2020-09-29 07:39] pranshuchittora commented on #3999
@sokra I was writing the doc for the following PR but not sure about the `"..."` (worker: ["default from web-worker", "..."]).
Can you provide some more details regarding the same :)

[2020-09-29 08:16] EugeneHlushko commented on #4007
closed via #4013

[2020-09-29 08:16] #4007 closed

[2020-09-29 08:41] #3979 closed

[2020-09-29 08:50] #3999 closed

[2020-09-29 08:57] #3960 closed

[2020-09-29 14:24] melloc01 opened #4014 "Url loader default limit behavior isn't very clear"
What does this actually mean? No upper limit or limit: 0?

No upper limit: will transform every file to base64
Limit 0: will fallback to file-loader

[2020-09-29 15:47] evilebottnawi commented on #4014
https://github.com/webpack-contrib/url-loader#limit

[2020-09-29 15:47] #4014 closed

[2020-09-29 15:47] evilebottnawi commented on #4014
If you still want to improve it feel free to send a PR to https://github.com/webpack-contrib/url-loader#limit

[2020-09-30 10:03] #4008 closed

[2020-09-30 10:29] homobel opened #4020 "webpack@5.0.0-rc.3: unrecognized output.ecmaVersion option"
# Bug report

Doc says(https://webpack.js.org/migrate/5/) there is _output.ecmaVersion_ option to make webpack use es5 runtime.

**What is the current behavior?**

But when I use it I got validation error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

`npm i webpack@next webpack-cli`

**webpack.config.js**
[code]

in.js may be empty.

`npx webpack`

**What i

[2020-09-30 19:59] Cronus1007 commented on #4012
I want to work on this issue.

[2020-10-02 10:32] evilebottnawi commented on #4020
/cc @webpack/documentation-team need to solve ASAP

[2020-10-02 11:22] evilebottnawi commented on #4008
@montogeek do we update docs?

[2020-10-02 11:24] evilebottnawi commented on #4020
Close in favor https://github.com/webpack/webpack.js.org/issues/4012

[2020-10-02 11:24] #4020 closed

[2020-10-02 11:25] evilebottnawi commented on #4012
/cc @webpack/documentation-team high priority

[2020-10-03 18:58] rramaa commented on #4012
@evilebottnawi
https://github.com/webpack/webpack.js.org/pull/4017
Have raised a PR for the documentation

[2020-10-05 09:57] evilebottnawi opened #4024 "add `html-minimizer-webpack-plugin` to official plugins"
__Feature to document__

https://github.com/webpack-contrib/html-minimizer-webpack-plugin

__Author(s)__

Any

__Additional information__

No

[ ] I am willing to work on this issue and submit a pull request.

[2020-10-05 09:59] snitin315 commented on #4024
I will do this.

[2020-10-05 17:38] evilebottnawi opened #4025 "Add `json-minimizer-webpack-plugin` to official plugins"
__Feature to document__

https://github.com/webpack-contrib/json-minimizer-webpack-plugin

__Author(s)__

Any

__Additional information__

https://github.com/webpack-contrib/json-minimizer-webpack-plugin

[ ] I am willing to work on this issue and submit a pull request.

[2020-10-05 17:40] anshumanv commented on #4025
wip

[2020-10-06 12:41] snitin315 commented on #4024
I think now we don't need to do this manually after https://github.com/webpack/webpack.js.org/pull/4013

Only excluded plugins are -

https://github.com/webpack/webpack.js.org/blob/46d0ed3ed5380ee1cbc27eaffcfc4744c6a78d0c/src/utilities/constants.js#L18-L25

[2020-10-06 13:12] webpack-bot opened #4026 "Document webpack change: analyse source code for side effects"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11585

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `optimization.sideEffects

[2020-10-06 13:16] snitin315 commented on #4026
On it.

[2020-10-07 08:45] #3995 closed

[2020-10-07 09:23] sokra commented on #2468
obsolete

[2020-10-07 09:23] #2468 closed

[2020-10-07 09:32] sokra commented on #2217
Already done

[2020-10-07 09:32] #2217 closed

[2020-10-07 09:37] sokra commented on #3988
`namedChunks` must also be removed.

@achenwei-chwy Do you still want to do a PR? As there are only 3 days left, could you do that until tomorrow? Otherwise I will take it.

[2020-10-07 09:41] sokra commented on #3866
@jeffin143 Thanks for your interest. Do you still want to do a PR? As there are only 3 days left, could you do that until tomorrow? Otherwise I will take it.

[2020-10-07 09:43] sokra commented on #3178
done

[2020-10-07 09:43] #3178 closed

[2020-10-07 09:43] sokra commented on #2315
already done

[2020-10-07 09:43] #2315 closed

[2020-10-07 09:46] sokra commented on #2706
only https://webpack.js.org/api/module-variables/#process-nodejs is left to do for this issue

[2020-10-07 09:49] jeffin143 commented on #3866
Please @sokra go ahead , since I really don't want to block :)

[2020-10-07 09:51] sokra commented on #4012
This issue can be merged into #3968

[2020-10-07 09:51] #4012 closed

[2020-10-07 09:53] sokra commented on #4009
This should be merged into #3968

[2020-10-07 09:53] #4009 closed

[2020-10-07 09:53] sokra commented on #3968
partial PR to this: #4016

[2020-10-07 10:25] anshumanv opened #4030 "CLI: Update docs to v4"
__Feature to document__
New CLI

__Author(s)__
Me

__Additional information__
A lot has changed in the CLI v4 since v3 hence this issue is to track updates to the new CLI docs.

/cc @evilebottnawi

- [x] I am willing to work on this issue and submit a pull request.

[2020-10-07 11:20] EugeneHlushko opened #4031 "Failing build"
The build started to fail with missing supporters and starter kits

[code]

Sample failure: https://travis-ci.org/github/webpack/webpack.js.org/jobs/733593393

Need to investigate why it started to occur

[2020-10-07 11:35] #3862 closed

[2020-10-07 11:37] EugeneHlushko commented on #4031
Anyone able to pick up? i am busy cc @chenxsan @montogeek

[2020-10-07 12:02] chenxsan commented on #4031
@EugeneHlushko `yarn cypress:ci` would start the development server with the `yarn start` script, but in CI server we don't run `"fetch"` script to generate the `_supporters.json` and `_starter-kits.json` files before that.

Adding a `prestart` script should hopefully fix those warnings. Let me create a pull request to see if it will eliminate those warnings.

[2020-10-07 12:41] #4011 closed

[2020-10-07 12:41] #3950 closed

[2020-10-07 13:03] snitin315 commented on #4030
Main Highlights -

- [ ] Core flags
- [ ] Negated flags
- [ ] Multiple types fir stats -> `--stats (means stats: true)` , `--stats verbose (means stats: verbose)`
- [ ] Multiple entries `--entry a.js --entry b.js`
- [ ] --env flag
- [ ] --analyze
- [ ] out of box `serve` & `info`

[2020-10-07 13:23] astonizer opened #4034 "minor: Add links to documentation"
__Additional information__

On the [Asset Management](https://webpack.js.org/guides/asset-management/) page(third line), it would have been good to add links to the official website of the tools mentioned(grunt and gulp). Beginners having no idea of those tools can directly navigate to the website and know more about them.
![screenshot](https://user-images.githubusercontent.com/57724542/95334876-4

[2020-10-07 13:28] evilebottnawi commented on #4034
We can add links on these tool, It's enough?

[2020-10-07 13:36] astonizer commented on #4034
Well I'm just a beginner in this field, so I guess it should be enough

[2020-10-07 13:41] snitin315 commented on #4034
@astonizer do you want to send a PR for the same? It will be a good first contribution 😄 .

[2020-10-07 13:48] astonizer commented on #4034
@snitin315 Yes :smiley:

[2020-10-07 14:48] #3940 closed

[2020-10-07 15:35] #4034 closed

[2020-10-07 17:56] anshumanv commented on #4030
We've touched almost everything in the new CLI, need full rewrite 😄

[2020-10-08 05:12] chenxsan commented on #4024
Indeed, it's already included here https://webpack.js.org/plugins/html-minimizer-webpack-plugin/ automatically after https://github.com/webpack/webpack.js.org/pull/4013

[2020-10-08 05:14] chenxsan commented on #4025
The build stage in travis will include those plugins automatically now, you can check it here https://webpack.js.org/plugins/json-minimizer-webpack-plugin/. I think we only need to update those deprecated plugins in future.

[2020-10-08 09:34] #2706 closed

[2020-10-08 09:59] #4024 closed

[2020-10-08 13:08] #2634 closed

[2020-10-08 13:13] sokra commented on #3968
Still open:

* `target` option now allows an array of target
* `target` no longer allows to pass an plugin, but it allows `false` instead
* `target` allows more complex targets with versions now
  * web: Web browser.
  * webworker: Web Worker, SharedWorker or Service Worker.
  * `[async-]node[X[.Y]]`: Node.js in version X.Y. The 'async-' prefix will load chunks asynchronously via 'fs' and 'vm' ins

[2020-10-08 23:23] Lalitha-Iyer commented on #2492
Do we need to document this change
`webpack.NamedChunksPlugin -> webpack.ids.NamedChunkIdsPlugin`
Looks like in v5 we recommend using `optimization.chunkIds: 'named'` instead of `NamedChunksPlugin`

[2020-10-08 23:42] Lalitha-Iyer commented on #2425
Couldn't find this in the docs

[2020-10-09 11:57] evilebottnawi opened #4052 "remove svg-inline-loader from docs"
__Feature to document__

Remove svg-inline-loader, it is deprecated in favor `raw-loader` and `image-minimizer-webpack-plugin`

__Author(s)__

Any

__Additional information__

Ref: https://github.com/webpack-contrib/svg-inline-loader

[ ] I am willing to work on this issue and submit a pull request.

[2020-10-09 11:59] anshumanv commented on #4052
wip

[2020-10-09 12:29] #3961 closed

[2020-10-09 15:29] #3968 closed

[2020-10-09 18:09] QC-L opened #4055 "[Bug] Link Conversion Error"
![image](https://user-images.githubusercontent.com/13861040/95616781-f82ff300-0a9c-11eb-83aa-fe6caba1b80f.png)

I found a link exception and fixed it, when updating the Chinese document.

@EugeneHlushko

Fixed #4054

[2020-10-09 18:39] anshumanv commented on #4025
oh nice let's close this

[2020-10-09 18:44] #4025 closed

[2020-10-09 19:57] #3880 closed

[2020-10-10 00:39] chenxsan commented on #4055
Related page https://webpack.js.org/loaders/css-loader/#getting-started

[2020-10-10 07:18] anshumanv commented on #4030
@snitin315 I think I've covered most from your list, can you go over again and see what we've missed?

[2020-10-10 08:06] #2309 closed

[2020-10-10 08:06] #3988 closed

[2020-10-10 08:07] #3866 closed

[2020-10-10 10:34] snitin315 commented on #4030
I think only the last point is left from the list.

[2020-10-11 17:49] Bowser65 opened #4063 "WebpackManifestPlugin is no longer maintained"
The docs at https://webpack.js.org/guides/output-management/#the-manifest links to the [webpack-manifest-plugin](https://github.com/shellscape/webpack-manifest-plugin) plugin to extract manifest data in a JSON file, that can be used elsewhere.

I tried Webpack 5 on a project of mine and saw an error from this plugin, only to notice the maintainer put a notice on the repo 16 days ago saying the plu

[2020-10-14 03:34] proteriax commented on #2893
Would you accept a pull request for this?

[2020-10-14 12:53] #4030 closed

[2020-10-14 13:38] montogeek commented on #2893
@proteriax Sure!

[2020-10-14 13:40] #4052 closed

[2020-10-15 07:03] #2893 closed

[2020-10-15 20:28] mehdirahimi commented on #3310
Just change `<!doctype html>` to `<!DOCTYPE html>` (uppercase).
another solution is just adding <meta tag of charset as @16oh4  said.

[2020-10-16 07:37] madflow commented on #4063
@shellscape undeprecated the repo: https://github.com/shellscape/webpack-manifest-plugin/commit/49f34a5c56db85c5076d1fae7f7be980022f932c

Let's give them a chance ;)

There are also:

* https://github.com/webdeveric/webpack-assets-manifest
* https://github.com/ztoben/assets-webpack-plugin
* https://github.com/FormidableLabs/webpack-stats-plugin

[2020-10-16 18:17] Jokero opened #4072 "Allow to change site theme (light <-> dark)"
Currently theme is forced without possibility to change it. I prefer to use dark theme in MacOS, but I'm not very happy with dark theme of webpack site (it's too dark for me), so I'll be glad to use the light version (and maybe I'm not alone in this desire).

Toggle can be added next to language switch:
![image](https://user-images.githubusercontent.com/434135/96294695-74728b00-0ff5-11eb-8aae-6209

[2020-10-17 02:57] chenxsan commented on #4072
I second this, it would be great to give user an option.

[2020-10-17 12:33] u01jmg3 commented on #3995
@snitin315, @EugeneHlushko: is this correct? Shouldn't it be documented as `ignoreWarnings` and not `stats.ignoreWarnings`?

[code]

[2020-10-17 12:36] snitin315 commented on #3995
Indeed it should be `ignoreWarnings`. Can you send a PR fixing it ?

[2020-10-17 12:40] u01jmg3 commented on #3995
I can do but what file should this documentation live in? Currently it's in `stats.md` but this is no longer correct for the `ignoreWarnings` option.

[2020-10-17 13:12] snitin315 commented on #3995
I think `other-options.md` will be appropriate.

[2020-10-17 13:47] u01jmg3 commented on #3995
@snitin315: see #4076

[2020-10-18 02:26] PowerGlove commented on #3310
Thanks. This worked for me on Windows 10 64 bit. Added `<meta charset="utf-8"/>` and then the SyntaxError went away.

[2020-10-18 02:34] gilmoreorless commented on #3754
Closing this since v5 has been released.

[2020-10-18 02:34] #3754 closed

[2020-10-18 17:13] simon04 opened #4080 "/loaders/html-loader/ contains invalid link"
https://webpack.js.org/loaders/html-loader/#export-into-html-files

![2020-10-18-191316](https://user-images.githubusercontent.com/782446/96374917-fd183500-1175-11eb-9438-7da8c6c94ba8.png)

https://raw.githubusercontent.com/webpack-contrib/html-loader/master/README.md uses the correct Markdown syntax.

[2020-10-18 22:04] ryanlelek commented on #3310
Thank you fellow Internet travelers!
I can confirm this fix works and docs need to be updated.

For those that find this via search, make sure you do a Hard Reload / Empty Cache if a basic refresh doesn't work

[2020-10-19 06:46] montogeek commented on #4080
I think it will be fixed by https://github.com/webpack/webpack.js.org/pull/4054

[2020-10-20 04:42] vv13 opened #4081 "SyntaxError in minified js when build with getting started project."
# Bug report

**What is the current behavior?**
When I try [Getting Started Doc](https://webpack.js.org/guides/getting-started), after `npx webpack`, when open `index.html`, I got some error info:
[code]

in `dist/main.js`, it looks like have some odd chars:
[code]

The official docs explain it uncertainly， it says:

It work correctly in these way:
1. Run with `npx  webapck --mode=development`
2.

[2020-10-20 10:06] zhtangsh commented on #3310
Adding `<meta charset="utf-8"/>` fixed this issue for me

[2020-10-20 11:16] #4055 closed

[2020-10-20 15:34] chenxsan commented on #4081
There was a similar report here https://github.com/webpack/webpack.js.org/issues/3310.

[2020-10-20 15:40] evilebottnawi commented on #4081
@chenxsan Yes, it is the same, let's close. Fix is very simple, maybe you can do it

[2020-10-20 15:40] #4081 closed

[2020-10-20 15:40] evilebottnawi commented on #3310
Answer https://github.com/webpack/webpack.js.org/issues/4081#issuecomment-712918078

@zhtangsh right solution

[2020-10-20 15:44] chenxsan commented on #4081
@evilebottnawi We already had a PR here https://github.com/webpack/webpack.js.org/pull/4070

[2020-10-20 15:51] ArielGueta opened #4082 "Webpack target node doesn't emits the built in require function"
# Bug report

**What is the current behavior?**
Based on the official [docs](https://webpack.js.org/concepts/targets/), if we set the target to `node`, Webpack will compile for usage in a Node.js-like environment (uses Node.js require to load chunks and not touch any built-in modules like fs or path).

But when I use it, I still see in the output the `__webpack_require__` function, and not the ori

[2020-10-20 15:51] evilebottnawi commented on #4082
Read my answer again:

Only load Node.js modules

[2020-10-20 16:14] vv13 commented on #4081
Great job,  couldn't believe that I just missed such a simple problem.

[2020-10-21 12:53] jvmazagao opened #4083 "Print link isn't working"
__Feature to document__
The print section isn't open a dialog to print the section os save the section.

![After clicking the print section in documentation](https://user-images.githubusercontent.com/22477816/96721675-d8dd7380-1382-11eb-9aa2-bfa6039a3a9f.png)

__Author(s)__

__Additional information__

Steps -
1. Open [Webpack page](https://webpack.js.org/)
2. Go to the [documentation section](htt

[2020-10-21 12:55] jer-sen opened #4084 "ignoreWarnings not in stats"
# Bug report

**What is the current behavior?**
Using option `stats.ignoreWarnings` throws an error.

**If the current behavior is a bug, please provide the steps to reproduce.**
`webpack.config.js` with `stats.ignoreWarnings` defined.

**What is the expected behavior?**
No error, cf doc https://webpack.js.org/configuration/stats/#statsignorewarnings
Instead it works well with just `ignoreWarnings

[2020-10-21 13:32] evilebottnawi commented on #4084
@chenxsan feel free to close if it fixed

[2020-10-21 15:24] vbartusevicius opened #4085 "Missing documentation about the changes in the webpack-5 plugin development"
There is a plugin: https://github.com/mariusbalcytis/extract-file-loader/blob/master/Plugin.js - it's not webpack-5 compatible, but we want to make it one, sadly, there is no documentation about what should be used instead of deprecated or removed features:
* `[DEP_WEBPACK_CHUNK_MODULES_ITERABLE] DeprecationWarning: Chunk.modulesIterable: Use new ChunkGraph API`
* `TypeError: Cannot read property

[2020-10-22 02:02] chenxsan commented on #4083
Ah, I see, you mean the "Print Section" in the sidebar:

![image](https://user-images.githubusercontent.com/1091472/96809371-52da2f00-144d-11eb-91b1-694403fcd997.png)

I've misunderstood you as I thought it would be `Print Document`:

![image](https://user-images.githubusercontent.com/1091472/96809448-743b1b00-144d-11eb-8ccc-d90b79355e30.png)

Indeed, it's broken.

[2020-10-22 03:44] chenxsan commented on #4084
@evilebottnawi I can't as I have no authority doing it :)

[2020-10-22 03:49] chenxsan commented on #4083
Hi, I've pushed a pull request to fix it, can you please try the [preview url](https://github.com/webpack/webpack.js.org/pull/4086#issuecomment-714201670) over there?

[2020-10-22 08:10] chenxsan commented on #4082
@ArielGueta You can send a PR to improve it https://github.com/webpack/webpack.js.org/blob/master/src/content/concepts/targets.md.

[2020-10-22 09:30] webpack-bot opened #4089 "Document webpack change: add asset info for `sourceFilename` and `javascriptModule`"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11785

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
two more properties in `inf

[2020-10-22 10:12] jeffin143 commented on #4089
On it

[2020-10-22 11:25] jvmazagao commented on #4083
Working.

[2020-10-22 14:22] evilebottnawi opened #4090 "improve guides and other docs"
__Feature to document__

There are a lot of usage `file-loader`/`url-loader`/`raw-loader` in guides (and other docs), for example https://webpack.js.org/guides/asset-management/#loading-fonts, we need to rewrite it on https://webpack.js.org/guides/asset-modules/, because these loader will be deprecated in the near future

__Author(s)__

Any

__Additional information__

I think it is high priority

[2020-10-24 03:37] Lance-Guo opened #4094 "Cannot find module 'webpack-cli/bin/config-yargs'"
__Cannot find module 'webpack-cli/bin/config-yargs'__
When I run webpack-dev-server I got this error

my Version:
[code]
__Author(s)__
GuoRuiyang

__Additional information__
I want not to uninstall my webpack, So is there an other way to solve it?

[2020-10-24 04:24] Lance-Guo commented on #4094
I've worked it out.  use "start": "cross-env NODE_ENV=development webpack serve --mode development --env development --config ./build/webpack.config.js" replace "start": "cross-env NODE_ENV=development webpack-dev-server --config ./build/webpack.config.js",

[2020-10-24 04:24] #4094 closed

[2020-10-25 15:47] Kenludiaz opened #4095 "Webpack Dev Server command deprecated"
Hello,
The command for running webpack dev server on the [documentation page](https://webpack.js.org/guides/development/) is outdated.
Please see https://github.com/webpack/webpack-dev-server/issues/2029#issuecomment-585207461

It should be `webpack serve`, not `webpack-dev-server --open`.

Thank you
[ X] I am willing to work on this issue and submit a pull request.

EDIT: Sorry this command (`web

[2020-10-25 23:53] ashwanth1109 opened #4096 "The workbox-webpack-plugin setup in the documentation results in "bad-precaching-response" error"

[2020-10-25 23:54] ashwanth1109 opened #4097 "The "workbox-webpack-plugin" setup in the documentation results in "bad-precaching-response" error"
Hi, I followed the documentation in webpack [on how to setup  a web worker with workbox](https://webpack.js.org/guides/progressive-web-application/#root). But Im running into a bit of a snag.

This is the error I get:
![2020-10-26 05_05_22-Progressive Web Application](https://user-images.githubusercontent.com/32328857/97122164-a4cecd80-1749-11eb-85f2-a7d411a43185.png)

[These are the changes I mad

[2020-10-26 00:13] chenxsan commented on #4095
FYI, we did have a PR here https://github.com/webpack/webpack.js.org/pull/4091

[2020-10-26 00:25] chenxsan commented on #4090
I'll update them soon.

[2020-10-26 10:49] evilebottnawi commented on #4096
Duplicate https://github.com/webpack/webpack.js.org/issues/4097

[2020-10-26 10:49] #4096 closed

[2020-10-26 11:02] jerome-diver opened #4098 "documentation update and confusions around"
# Bug report

**What is the current behavior?**

Read a documentation about webpack-5 who is really talking about webpack-5.

**If the current behavior is a bug, please provide the steps to reproduce.**

Go to [webpack-5 official documentation page](https://webpack.js.org/guides/getting-started/) and look, code is about webpack-4 again. That's confusing new user like me.

**What is the expected be

[2020-10-26 11:03] evilebottnawi commented on #4098
/cc @webpack/documentation-team need fix, it is real misleading

[2020-10-26 12:54] #4095 closed

[2020-10-26 20:42] mmkal opened #4101 "Explicitly document removed polyfills"
Webpack 5 removed automatic polyfills - that's reasonable. Things might have broken in future because of secret polyfill magic. But for users that webpack 4 was working great for - can we get a list of the exact polyfills that _were_ being used, and what the recommended replacements are? Based on error messages I've got from the upgrade (which don't seem to appear all in one go, presumably because

[2020-10-27 08:40] #4084 closed

[2020-10-27 15:08] webpack-bot opened #4102 "Document webpack change: Fixed resolve.roots default value"
*A pull request by @Pyrolistical was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11831

---

**What kind of change does this PR introduce?**

#11207 intended for `resolve.roots` to have a default value, but was typo'd. See https://twitter.com/wSokra/status/1320840828412198913

This prevents `import Thing from '/thing-in-root'

[2020-10-27 15:08] webpack-bot opened #4103 "Document webpack change: generate code that executes depending on runtime"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11802

---

fixes #11770

**What kind of change does this PR introduce?**
bugfix, defaults-change

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?

[2020-10-28 09:38] AntonGordei opened #4105 "Add CDN for static files"
How can we add CDN to images, etc. But the scripts are loaded as before.
How it was possible for example in webpack 4 and url-loader.

![image](https://user-images.githubusercontent.com/49307594/97419125-bddaa880-191a-11eb-8790-c53557964c38.png)

How to do it using the assets module in the webpack 5?

**Other relevant information:**
webpack version:  "5.1.3"
Node.js version: v12.13.0
Operating Sys

[2020-10-28 10:30] AntonGordei commented on #4105
@evilebottnawi
publicPath: (chunk)=> string
?

[2020-10-28 10:46] AntonGordei commented on #4105
@evilebottnawi
Are there any other solutions to this problem?

[2020-10-28 10:50] evilebottnawi commented on #4105
No other solutions, you should use `publicPath`

[2020-10-28 10:51] AntonGordei commented on #4105
@evilebottnawi
you can write an example for PublicPath as Function?

[2020-10-28 10:56] evilebottnawi commented on #4105
[code]

[2020-10-28 11:15] maxwoo-houzz opened #4106 "now that `mtimes` has been removed from watchpack, how do we get all changed/removed files?"
## Feature request

**What is the expected behavior?**

It seems like the new version of WatchPack (v2.0.0) are getting rid of the [`mtimes`](https://github.com/webpack/watchpack/blob/v1.6.0/lib/watchpack.js#L21) variable. However, from my research it seems like that variable was the only way to get the list of changed files that triggered a re-compilation ([source](https://stackoverflow.com/quest

[2020-10-28 11:16] evilebottnawi commented on #4106
We have 4 variables here:
[code]

[2020-10-28 13:12] AntonGordei commented on #4105
@evilebottnawi

[2020-10-28 13:14] AntonGordei commented on #4105
@evilebottnawi
i wrote this test function
![image](https://user-images.githubusercontent.com/49307594/97440414-7b27c900-1938-11eb-92af-6b4b47c6f0a5.png)
 and i get strange object
![image](https://user-images.githubusercontent.com/49307594/97440503-97c40100-1938-11eb-940b-4755c44582cd.png)

[2020-10-28 23:56] JamesVanWaza opened #4109 "Webpack Caching Error"
# Bug report

**What is the current behavior?**
Shows Deprecated Warning

**If the current behavior is a bug, please provide the steps to reproduce.**
See screenshot
<img width="1379" alt="Screen Shot 2020-10-28 at 7 34 56 PM" src="https://user-images.githubusercontent.com/4000076/97508702-a9b49c80-1956-11eb-9c4e-cb7aeb1d32f7.png">

https://webpack.js.org/guides/caching/. - Change the moduleIDs fr

[2020-10-29 07:30] AntonGordei commented on #4105
@evilebottnawi

[2020-10-29 09:59] AntonGordei opened #4108 "output.publicPath as Function"
![image](https://user-images.githubusercontent.com/49307594/97553532-95b87b80-19e6-11eb-9646-d1d875310bc4.png)

[2020-10-29 10:42] evilebottnawi commented on #4109
Webpack support long term cache out box, maybe we should remove this guides now

[2020-10-29 11:33] barak007 opened #4127 "Asset modules in conjunction with url-loader/file-loader yields duplicate files with different hashes"
# Bug report

**What is the current behavior?**

When using `new URL('./asset.jpg', import.meta.url)` and have a url-loader setup the compilation will emit two assets with different hashes for the same file.

The output bundle does not contains the "loader module" (only the asset/* module) but the internal compilation does.

**If the current behavior is a bug, please provide the steps to reproduce

[2020-10-29 11:36] evilebottnawi commented on #4108
Stop spamming (it is the last warning), issue for improve this already open

[2020-10-29 11:36] #4108 closed

[2020-10-29 11:39] AntonGordei commented on #4105
@evilebottnawi

[2020-10-30 11:35] AntonGordei commented on #4105
@evilebottnawi I need answer. Because I have not found any information about this.

[2020-10-30 13:57] evilebottnawi commented on #4105
WIP on this, wait the new release

[2020-10-30 15:02] chenxsan commented on #3310
I'm closing this issue now as we've [updated the documentation](https://github.com/webpack/webpack.js.org/pull/4070) regarding `<meta charset="utf-8"/>`. If anyone still has a problem, consider filing a new issue, thanks.

[2020-10-30 15:02] #3310 closed

[2020-10-30 15:39] #4083 closed

[2020-10-30 18:51] ogonkov opened #4112 "Update Loaders testing docs"
__Feature to document__

Loaders testing examples is not valid anymore with webpack@5

__Author(s)__

__Additional information__

Developers already confused by docs inconsistency, see for example this [SO question](https://stackoverflow.com/questions/64548728/module-source-is-undefined-following-webpack-5-loader-guide)

[ ] I am willing to work on this issue and submit a pull request.

[2020-10-31 03:13] jandreola opened #4121 "resolverFactory.plugin method is not a function"
# Bug report

**What is the current behavior?**
I use a plugin called `webpack-concat-plugin` https://github.com/hxlniada/webpack-concat-plugin, which was working correctly with webpack version 4.
When trying to migrate to version 5 I've got this error
[code]
This is where the code is failing:  https://github.com/hxlniada/webpack-concat-plugin/blob/master/index.js#L121
Initially I thought there wa

[2020-11-01 03:47] jamesgeorge007 commented on #4103
WIP

[2020-11-02 04:33] #4103 closed

[2020-11-02 05:15] #4112 closed

[2020-11-02 11:54] LakinduK opened #4119 "ag-grid logo is not properly visible under Dark Mode"
![image](https://user-images.githubusercontent.com/38062348/97865563-4365ac00-1cbf-11eb-8f52-7cfd0fd3f629.png)

[2020-11-02 12:33] chenxsan commented on #4119
I've pushed a quick fix setting background color to `white`. If you have better idea, let me know.

[2020-11-02 12:41] anshumanv commented on #4119
I think we should provide an option to toggle bw dark and light mode.

[2020-11-02 12:50] chenxsan commented on #4119
@anshumanv We do have a plan here https://github.com/webpack/webpack.js.org/issues/4072

[2020-11-02 17:08] evilebottnawi commented on #4121
/cc @chenxsan need update https://webpack.js.org/api/resolvers/ page

[2020-11-03 00:15] chenxsan commented on #4121
WIP.

[2020-11-03 14:37] webpack-bot opened #4124 "Document webpack change: enable named exports for commonjs as node.js supports it now"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11885

---

fixes #11878

**What kind of change does this PR introduce?**
bugfix, feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
Even

[2020-11-03 21:12] Jokero commented on #4072
@chenxsan Do you maybe know what icon can be used for that?

[2020-11-04 00:00] chenxsan commented on #4072
@Jokero I saw people use icons like below (from https://dark-mode-class-toggle.glitch.me/):

![moon](https://googlechromelabs.github.io/dark-mode-toggle/demo/moon.png)

![sun](https://googlechromelabs.github.io/dark-mode-toggle/demo/sun.png)

[2020-11-05 00:37] AllieCR commented on #4109
@evilebottnawi seems like the problem of the contenthashes gettting changed, described in the "Module Identifiers" section of the Caching guide, is no longer there. After importing the new `print.js` module into `index.js`, upon rebuilding, only the main bundle's hash changed.

[2020-11-05 11:26] evilebottnawi commented on #4109
Yes

[2020-11-05 18:29] usmanbuilds opened #4130 "Webpack does not transpile arrow functions and template strings passed to higher order functions"
# Bug report

**What is the current behavior?**

Arrow functions (including those that contain template strings) are not transpiled down to ES5 _only_ when they are passed to higher order functions like filter() and map(). My setup uses browserslist to supply targets so I haven't included "web" and "es5" in my webpack config intentionally.

**If the current behavior is a bug, please provide the st

[2020-11-06 04:29] #4127 closed

[2020-11-06 10:40] evilebottnawi commented on #4130
@chenxsan I think we need update description about `target`, we don't transpile code, only generate code code for esX compatibility

[2020-11-06 10:47] evilebottnawi commented on #3797
/cc @chenxsan Can we focus on it, I get very much issues and DM message in twitter for this problem

[2020-11-06 14:19] usmanbuilds commented on #4130
I was looking at these [migration docs](https://webpack.js.org/migrate/5/) for reference.

This suggests webpack would transpile and based on my the code I've provided, it doesn't explain why one arrow function is being transpiled and only those passed to higher order functions aren't being transpiled.

I ended up using babel in this case but have other repos where webpack is able to do the job wi

[2020-11-06 14:22] evilebottnawi commented on #4130
yep, we need improve description about this

[2020-11-06 14:25] usmanbuilds commented on #4130
@evilebottnawi Is there any explanation why part of the JS provided is being transpiled?

[2020-11-06 14:46] evilebottnawi commented on #4130
Yes, we don't change your code, it is out of scope webpack, we just generate `es5` runtime in your case

[2020-11-06 15:45] chenxsan commented on #3797
@evilebottnawi Sure, I'll update it as soon as possible.

[2020-11-06 15:46] evilebottnawi commented on #3797
Big thanks for helping

[2020-11-06 15:46] #4121 closed

[2020-11-06 17:17] usmanbuilds commented on #4130
Thanks for your response. Just so I understand, this is the code webpack has generated based on the JS in the original post.

[code]

The thing that led me to believe webpack was transpiling was the arrow function around the console.log has been taken out. Can you tell me why that's the case?

Is webpack smart enough to realise that it's a redundant arrow function and the expression can be extract

[2020-11-06 17:26] evilebottnawi commented on #4130
bundler !== transpiler, what is the problem? You need `babel-loader` to tranpile your source to es5

[2020-11-06 17:49] PratishShrivastava commented on #4124
@webpack-bot @sokra  can I work on this issue.

[2020-11-06 17:51] evilebottnawi commented on #4124
Yes, feel free to send PR

[2020-11-06 17:53] PratishShrivastava commented on #4124
@evilebottnawi  ok

[2020-11-06 19:19] csvan commented on #4130
@usmanbuilds without being too informed about all the Webpack internals, my guess is that what is doing the above is the [Terser plugin](https://webpack.js.org/plugins/terser-webpack-plugin/). It is used automatically in production builds, and is extremely good at shaving down bundle sizes as much as possible. It's very possible that it's detecting (and removing) the redundant call.

[2020-11-07 01:45] chenxsan commented on #4130
We do have a warning here https://webpack.js.org/guides/getting-started/#modules:

But yeah, users might pay no attention to it. Maybe we can add a similar paragraph under `Target`.

[2020-11-07 01:47] chenxsan commented on #4130
If anyone's interested in helping, I think this file https://github.com/webpack/webpack.js.org/blob/master/src/content/concepts/targets.md is where we can edit. Otherwise I'll document it later.

[2020-11-07 12:12] #3797 closed

[2020-11-08 11:13] Jokero opened #4138 "Site does not work properly in IE11"
Looks like it's broken after update to webpack 5 which transpiles its internals now to es2015 instead of es5. Is this an intentional decision to not support IE 11?

![image](https://user-images.githubusercontent.com/434135/98463383-ec366e80-21cb-11eb-922b-204b3d01e44a.png)

[2020-11-08 11:19] chenxsan commented on #4138
Can you check this preview https://webpack-js-org-git-feature-use-bionic.webpack-docs.vercel.app/ under IE 11? It's a preview right before the upgrade of webpack 5.

[2020-11-08 11:28] Jokero commented on #4138
Syntax error in another place
![image](https://user-images.githubusercontent.com/434135/98463741-a4651680-21ce-11eb-8944-a07157ca4ffb.png)

[2020-11-08 11:32] chenxsan commented on #4138
Then it might not function well under IE 11 for some time. Feel free to send a PR.

[2020-11-08 11:34] Jokero commented on #4138
I personally do not use IE11, just noticed it when tested theme switch. If no one complains we can close the issue

[2020-11-09 10:21] evilebottnawi commented on #4138
@chenxsan Let's use `target: ['web', 'es5']` or adding IE11 to browserslist and update webpack to latest (we have bugs)

[2020-11-09 10:40] chenxsan commented on #4138
I'll fix it soon.

[2020-11-09 12:25] usmanbuilds commented on #4130
Thank you very much. Exactly what I was looking for.

[2020-11-09 12:53] evilebottnawi opened #4144 "remove cache-loader from loaders list"
__Feature to document__

cache-loader deprecated in favor https://webpack.js.org/configuration/other-options/#cache

__Author(s)__

Any

__Additional information__

Loader: https://github.com/webpack-contrib/cache-loader

[ ] I am willing to work on this issue and submit a pull request.

[2020-11-09 12:55] anshumanv commented on #4144
wip

[2020-11-09 13:13] dmitrysteblyuk opened #4148 "Misleading documentation on externals type or potential bug"
The [documentation](https://webpack.js.org/configuration/externals/#string) makes us believe that this example:
[code]

will result in `jquery` imports to be replaced with `jQuery` variable:
[code]
[code]

However it's not exactly true.
The default type of externals is defined by `externalsType` option. Which is by default defined as follows:

https://github.com/webpack/webpack/blob/master/lib/con

[2020-11-09 14:05] birdofpreyru opened #4146 "Improve "watchOptions.ignored" documentation"
__Feature to document__

[The existing documentation of `watchOptions.ignored`](https://webpack.js.org/configuration/watch/#watchoptionsignored) should mention that cache-related options effectively affect the watching, specifically the watching of stuff inside `node_modules` folder. See discussion in https://github.com/webpack/webpack/issues/11952 for additional context.

__Author(s)__

__Additio

[2020-11-09 14:07] evilebottnawi commented on #4146
There is not problems in `ignore`, this is exactly how webpack works with `managedPaths`

[2020-11-09 23:58] chenxsan commented on #4080
fixed by https://github.com/webpack/webpack.js.org/pull/4054

[2020-11-09 23:58] #4080 closed

[2020-11-10 04:50] #4090 closed

[2020-11-11 09:27] nurpais opened #4154 "Dark mode"
## Feature request

**What is the expected behavior?**

Please light version of the site.

**What is motivation or use case for adding/changing the behavior?**

**How should this be implemented in your opinion?**

**Are you willing to work on this yourself?**
yes

[2020-11-11 10:37] chenxsan commented on #4154
We have a PR here https://github.com/webpack/webpack.js.org/pull/4137 implementing this feature , would be great if you can add your opinion there.

[2020-11-12 19:50] jedwards1211 opened #4158 "Recommend how to deal with packages not being pure ES5 anymore"
__Feature to document__

From https://github.com/webpack/webpack/issues/11975

Now that Webpack 5 resolves conditional exports, it seems likely that it's going to be bundling a lot of non-ES5 code from dependencies.  It seems like there's no official standard for what ES version anyone should publish, and if people are publishing ES modules with `import` and `export`, they're probably going to use

[2020-11-12 20:21] testacode opened #4160 "[Webpack 5.4] Unit tests - Jest cannot find the imported federated module"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
https://gitter.im/webpack/webpack?at=5fad8fcdb86f64070448ee1c
The current behavior is that when running tests now 'imports' of components from federated modules being found because they're just a reference for webpack from the federated module entryPoint.js

**EDIT:** Here's the example! [http

[2020-11-13 00:50] #4089 closed

[2020-11-13 18:22] testacode commented on #4160
Thanks for the reply @evilebottnawi, Would you please show an example? I don't understand how to proceed.

[2020-11-13 22:29] testacode commented on #4160
Also added a[ stackoverflow question](https://stackoverflow.com/questions/64828837/cannot-find-module-when-trying-to-unit-test-an-import-from-a-federated-module)

[2020-11-14 05:58] chenxsan opened #4162 "Replace proselint with vale"
[Proselint](https://github.com/amperser/proselint) hasn't been updated for more than two years now. I did some research and found there's alternative to use, e.g., [vale](https://docs.errata.ai/vale/about/) . vale is used by github, homebrew, etc. as per https://docs.errata.ai/vale/about#open-source-configurations, and it [performs much better](https://github.com/errata-ai/vale#benchmarks) than pr

[2020-11-14 06:59] testacode commented on #4160
Adding the example! Finally I got it. https://github.com/testacode/basic-host-remote

[2020-11-14 13:21] #4119 closed

[2020-11-15 13:50] chenxsan commented on #3835
closed via https://github.com/webpack/webpack.js.org/pull/3847

[2020-11-15 13:50] #3835 closed

[2020-11-15 13:53] chenxsan commented on #4031
closed via https://github.com/webpack/webpack.js.org/pull/4032

[2020-11-15 13:53] #4031 closed

[2020-11-16 11:51] evilebottnawi commented on #4160
@testacode great, I think we can update docs for this, approach will be same for other test tools

[2020-11-16 12:30] evilebottnawi opened #4175 "weird/strange problems with rendered docs"
__Feature to document__

Looking at the plugins for brotli compression here: https://webpack.js.org/plugins/compression-webpack-plugin/#using-brotli

The example is meant to set the `zlib.constants.BROTLI_PARAM_QUALITY` value to be `11`. When this has been processed by whatever workflow to get it ready for the site, that line has now become:

    [zlib.constants.BROTLI_PARAM_QUALITY]: https://gith

[2020-11-16 14:14] chenxsan commented on #4175
Here's what I found so far.

First, It's expected  as the string `[zlib.constants.BROTLI_PARAM_QUALITY]: 11,` matches [`externalLinkRegex` ](https://github.com/webpack/webpack.js.org/blob/master/src/utilities/process-readme.js#L6):

![image](https://user-images.githubusercontent.com/1091472/99261270-6fecfc80-2857-11eb-89a2-de4e649e7489.png)

Second, It's valid to use the [below link syntax](https:

[2020-11-16 14:20] evilebottnawi commented on #4175
Thanks for helping

[2020-11-16 16:07] chenxsan commented on #4175
I just found another similar problem here https://webpack.js.org/plugins/css-minimizer-webpack-plugin/#using-custom-minifier-clean-css:

![image](https://user-images.githubusercontent.com/1091472/99277375-b39c3200-2868-11eb-8782-4d17ce576931.png)

Unfortunately, there're so many variants defined in https://github.github.com/gfm/#link-reference-definitions, it would be almost impossible to match al

[2020-11-16 16:27] testacode commented on #4160
I got it working by following the answer in this stackoverflow! https://stackoverflow.com/a/56052635/9231726

[2020-11-16 21:15] testacode commented on #4160
We can close it!

[2020-11-16 21:15] #4160 closed

[2020-11-16 23:32] poche1988 opened #4181 "New webpack feature DependOn doesn't work with multiple dependencies"
# Bug report

**Current Behavior**
I have a super simple react component, and I'm using moment to format a date:
[code]

in the webpack.config file I want to use the DependOn feature with the react vendors and moment to split it in three different bundles:

[code]

The three bundles are generated (moment.bundle.js, reactvendors.bundle.js, testapp.bundle.js), but the component is not displayed on s

[2020-11-17 05:00] chenxsan opened #4178 "Code sample for guides"
Most Chapters in guides have strict orders, for example, you should finish https://webpack.js.org/guides/getting-started/ first before https://webpack.js.org/guides/asset-management/, otherwise you don't have that code sample to work on.

Thus I think it would be great to provide users with code sample in the beginning of every guide, with which they can download and pick up any guides they want t

[2020-11-17 10:55] chenxsan commented on #4144
@anshumanv Do you need help?

[2020-11-17 10:58] anshumanv commented on #4144
ah this got misplaced in my todo, will PR today

[2020-11-17 13:34] evilebottnawi commented on #4181
Should be not hard to document

[2020-11-19 05:55] #4154 closed

[2020-11-22 02:25] #4144 closed

[2020-11-22 06:25] chenxsan opened #4196 "Upgrade alex"
The latest version of [alex](https://github.com/get-alex/alex/releases) is 9.1.0 while we have [5.1.0](https://github.com/webpack/webpack.js.org/blob/master/package.json#L90) which is quite outdated. We should consider upgrading it and fix any potential issues.

[2020-11-23 12:12] FlenoryR commented on #4105
@evilebottnawi

[2020-11-24 00:43] #4175 closed

[2020-11-24 04:14] chenxsan opened #4199 "Unnecessary `\` before `|`"
https://webpack.js.org/plugins/compression-webpack-plugin/

![image](https://user-images.githubusercontent.com/1091472/100032220-791b3200-2e32-11eb-83d9-b54796bdbfc2.png)

It shows fine in [github readme](https://github.com/webpack-contrib/compression-webpack-plugin#options).

[2020-11-24 04:15] chenxsan opened #4200 "Bug in remark-responsive-tables"
When there're more than 2 heads in table, https://github.com/montogeek/remark-responsive-tables won't work:

![image](https://user-images.githubusercontent.com/1091472/100047979-b8f01280-2e4e-11eb-9053-26f7e317a566.png)

![image](https://user-images.githubusercontent.com/1091472/101986184-899f2980-3cc7-11eb-8849-6cd27441b571.png)

[2020-11-24 10:14] chenxsan commented on #4199
Seems like remark@12 doesn't support this syntax https://github.com/remarkjs/remark/discussions/573.

[2020-11-24 11:15] #4162 closed

[2020-11-25 01:58] chenxsan opened #4205 "Migrate travis to Github actions"
We have migrated all CI for Pull Requests to [Github Actions now](https://github.com/webpack/webpack.js.org/blob/master/.github/workflows/testing.yml), there's still travis left for master branch https://github.com/webpack/webpack.js.org/blob/master/.travis.yml.

I was hoping travis to be faster after all those aforementioned changes, but I was wrong. It still takes a long time queueing:

![image]

[2020-11-25 03:06] chenxsan commented on #4205
And it's still queueing.

[2020-11-25 05:02] #4205 closed

[2020-11-26 10:58] #4199 closed

[2020-11-26 11:51] chenxsan opened #4211 "503 error when running `fetch:supporters` on CI"
We got a lot of 503 error from opencollective API when running `yarn fetch:supporters` on CI, and I have to rerun CI when failed. I've had a report on opencollective https://github.com/opencollective/opencollective/issues/3723.

We might need to improve `fetch-supporters.js`.

[2020-11-26 17:49] webpack-bot opened #4212 "Document webpack change: allow to process assets that are added during processAssets"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11956

---

fix and add processAsset stages

allow to hook into RealContentHashPlugin for custom hashing

#11822

**What kind of change does this PR introduce?**
feature, bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a br

[2020-11-28 04:22] #4211 closed

[2020-11-28 06:48] lili21 commented on #2974
I still have no idea what these do though, even with the documentation

[2020-11-28 19:01] webpack-bot opened #4218 "Document webpack change: fix problem when HMR and different runtimes"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12075

---

allow HMR to work in WebWorkers too

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no. There is a new warning when using a bad config which

[2020-11-28 20:52] jeffin143 commented on #4218
I can tag a go at this

[2020-11-29 13:40] lili21 commented on #3757
should update on webpack.js.org

[2020-12-03 05:09] chenxsan commented on #4063
Closed as webpack-manifest-plugin 3 was out https://github.com/shellscape/webpack-manifest-plugin/releases/tag/v3.0.0 which is compatible with webpack 5.

[2020-12-03 05:09] #4063 closed

[2020-12-03 11:50] #4218 closed

[2020-12-03 13:23] Domiii commented on #3757
Looking forward to proper API documentation for MF.

[2020-12-04 12:58] lukasgeiter commented on #2918
Looks like it's fixed now.

[2020-12-04 12:58] #2918 closed

[2020-12-04 18:51] kinetifex opened #4242 "Externals function signature change"
__Feature to document__

It appears the arguments for the externals function have changed. The docs should be updated to reflect this.

__Author(s)__

- @sokra per https://github.com/webpack/webpack/commit/4b15e204c06e55beb4023e2bbd57760b8e7f6173

__Additional information__

The description and examples for using a function with externals need to be updated.

[code]

[x] I am willing to work on th

[2020-12-04 19:19] webpack-bot opened #4243 "Document webpack change: improve rebuild performance"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12121

---

#12102

**What kind of change does this PR introduce?**
performance

**Did you add tests for your changes?**
n/a

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`output.pathinf

[2020-12-05 02:36] snitin315 commented on #4243
WIP

[2020-12-05 02:37] snitin315 commented on #4181
WIP

[2020-12-05 05:07] #4242 closed

[2020-12-05 05:28] #4181 closed

[2020-12-05 06:49] #4243 closed

[2020-12-05 14:06] chenxsan commented on #4138
I've spent some time tinkering with IE 11 support here https://github.com/webpack/webpack.js.org/pull/4247 but I don't think it will worth it. There're so many packages built without IE 11 support on npm:

[code]
And there could be more, hence I suggest dropping support for IE 11.

[2020-12-06 01:33] #4212 closed

[2020-12-08 13:53] #4026 closed

[2020-12-08 16:23] RyanCCollins opened #4283 "Webpack Module Federation Docs"
## Feature request
My company is evaluating micro-frontend frameworks for a platform. Webpack is high up on the list of potential frameworks, but unfortunately, the webpack module federation docs are not up to the standard of the more stable webpack docs.

**What is the expected behavior?**
- The docs for module federation are missing API Docs containing explanation of the properties on the Module

[2020-12-09 04:14] chenxsan commented on #3572
closed via https://github.com/webpack/webpack.js.org/pull/3577.

[2020-12-09 04:14] #3572 closed

[2020-12-10 08:14] loveover98 opened #4295 "Try 1"
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2020-12-10 08:14] loveover98 opened #4296 "Try1"
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2020-12-10 11:28] #4296 closed

[2020-12-10 11:28] #4295 closed

[2020-12-10 13:19] chenxsan opened #4297 "document webpack@5's support of workers"

[2020-12-10 15:19] jdmnd opened #4299 "EnvironmentPlugin handling of null/undefined for default values is inconsistent with docs"
# Bug report

**What is the current behavior?**
Using a `null` default value does not cause builds to fail if that environment variable is not defined.
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
https://webpack.js.org/plugins/environment-plugin/

**What is the expected behavior?**
In the [documentation for EnvironmentPlugin](https://webpack.js.org/plugins/

[2020-12-10 15:42] gauravdas014 opened #4298 "Wrong path name is mentioned in repositories/README.md"
The path name mentioned in repositories/README.md should be `src/utilities/fetch-package-repos.js` but currently, it's written as `src/utils/fetch-package-repos.js` which does not exist
<br/>
### Path mentioned in README.md
![Screenshot (581)_LI](https://user-images.githubusercontent.com/51530678/101793418-c7ffe180-3b2b-11eb-88e5-b0e28e3f1d24.jpg)
<br/>
### Path which actually exists
![Screenshot

[2020-12-10 16:02] snitin315 commented on #4298
PR Welcome

[2020-12-10 16:06] gauravdas014 commented on #4298
Should I consider it as a typo and commit as a typo fix? @snitin315

[2020-12-10 16:07] snitin315 commented on #4298
`docs: fix link`

[2020-12-10 16:08] snitin315 commented on #4298
We can always change commit message while merging so its not a big deal here.

[2020-12-10 16:10] gauravdas014 commented on #4298
Okay. Thanks. I just clarified being a new contributor to this repo.

[2020-12-11 11:29] #4298 closed

[2020-12-12 15:00] toddwong commented on #2684
can a comment annotation be supported? like:
[code]

[2020-12-12 18:56] sokra commented on #2684
Yes that was added in the meantime. It's called `/* webpackExports: "AO" */`

[2020-12-16 00:38] chenxsan opened #4314 "Document worklet support"
__Feature to document__

See https://github.com/webpack/webpack/issues/11543#issuecomment-745529334

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2020-12-17 00:56] #4200 closed

[2020-12-17 11:06] Jack-Works opened #4318 "[webpack-v5] Undocumented breaking change in configuration.target"
In webpack 4 it receives a Function as `target`.

https://github.com/webpack/webpack/commit/7e85649492a996ababa31eb73933e1d3edd476ee#diff-0cdb656a2796a80418de2964257360de642bd5a770102d52366890a65aa912a0L3453

This commit removed it from the configuration and it is not mentioned in https://webpack.js.org/blog/2020-10-10-webpack-5-release/#improved-target-option

By the way, how can I use a function

[2020-12-17 12:59] Jack-Works commented on #4318
Does webpack 4 receives `false` as `target` value?

[2020-12-17 13:28] alexander-akait commented on #4318
No

[2020-12-21 00:44] #4318 closed

[2020-12-22 21:03] estevaolucas commented on #4283
After digging into Module Federation codebase, I realized that https://webpack.js.org/concepts/module-federation/ is presenting outdated information.

With this PR https://github.com/webpack/webpack/pull/10960, `OverridablesPlugin` got replaced with `SharePlugin`. That means Overriding, OverridablesPlugin, Dynamic Remote Containers sections contain invalid information.

[2020-12-24 14:11] chenxsan opened #4340 "Cache First strategy is bad for a documentation site."
We have workbox to enable offline feature at the moment, unfortunately, the `precaching` function [only supports Cache-First](https://github.com/GoogleChrome/workbox/issues/1767), and I had to introduce a refresh button https://github.com/webpack/webpack.js.org/pull/4287 to work around the problem of stale page. Anyway, I think we should improve it, maybe change the strategy to others.

[2020-12-24 15:04] alexander-akait commented on #4314
Here example of usage https://github.com/webpack/webpack/issues/11543#issuecomment-745529334

[2020-12-24 15:06] alexander-akait opened #4341 "Add guide how to work with web workers"
__Feature to document__

We need to add small guide how to using web workers for webpack@5, here example https://github.com/webpack/webpack/tree/master/examples/worker

__Author(s)__

Any

__Additional information__

Just small example, because I want to deprecate `worker-loader` in near future

[ ] I am willing to work on this issue and submit a pull request.

[2020-12-24 15:07] alexander-akait commented on #4297
Let's close in favor https://github.com/webpack/webpack.js.org/issues/4341 (I think with example it will be easy to write)

[2020-12-26 01:18] #4297 closed

[2020-12-28 06:06] w345731923 opened #4348 "splitchunks.cachegroups[react] has an unknown property 'automaticNameprefix'"
# Bug report

**What is the current behavior?**
Feedback a bug.
`webpack --config webpack.proconfig.js`

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
https://webpack.js.org/plugins/split-chunks-plugin/
splitChunks.automaticNamePrefix
string = ''
Sets the name prefix for created chunks.
In the API description, use automaticN

[2020-12-28 12:58] alexander-akait commented on #4348
`automaticNamePrefix` was removed in webpack@5, we need to update dos, PR - https://github.com/webpack/webpack/pull/8477

[2020-12-29 01:51] w345731923 commented on #4348
Do I need to update the module or read the latest documentation?

[2020-12-29 04:31] #4348 closed

[2020-12-29 13:10] chenxsan commented on #4299
I believe the document is right although I'm not the one wrote it.

If you have a rule without specifying an environment variable:

[code]
Then `process.env.ENV_TYPE` would be `undefined`, which is same to:

[code]
In both cases, webpack will throw an error.

Hence the documentation recommends to use `null` to initialize ithe value if you don't care about the value of your variable at the beginnin

[2020-12-29 14:03] jdmnd commented on #4299
Ok I see your point.
I think the main part that was unclear to me was this sentence as it's ambiguous whether "an unset default value" means "a default value will not be set" vs "the default value shall be the unset value (ie undefined)":

The behaviour is actually the latter interpretation.

I'm not sure the docs should instruct people not to use it.
In my application I need to use both to suppor