[2020-12-29 14:19] chenxsan commented on #4299
@jdmnd Make sense. Would you love to file a pull request for it? Otherwise I can help.

[2020-12-30 11:40] #4299 closed

[2020-12-30 12:45] zshlomyz commented on #3757
Just to be sure - in case of a shared module that not marked as a singleton and the version of the module is the same at all of the modules, the shared module will be loaded only once?

[2020-12-31 18:29] Domiii commented on #3757
@zshlomyz Yes. And warnings will pop up if a different version is requested by any dependency. (Not sure how it is resolved in that case though.)

[2021-01-02 16:35] McDaddy opened #4363 "How to use callMemberChain？"
In the document，callAnyMember is in JavascriptParser Hooks. But actually I can't config callAnyMember in webpack 5. After check the source code I found new hook names callMemberChain, unfortunately, I still not find way to use it, my purpose is to listen to a callExpression. In my code below, I want to catch the `i18n.s` expression

[code]
so I config my plugin like this, but still no luck.
[code]

[2021-01-03 07:49] richardxia opened #4364 "webpack.js.org website doesn't load in Firefox private browsing mode (TypeError: navigator.serviceWorker is undefined)"
__Feature to document__

When I try to view any page on https://webpack.js.org/ in Firefox's private browsing mode, I see the site content flash for a split second before it goes black. When I open up the Firefox developer console, I see the following error:

[code]

I don't think I had any issue loading the site yesterday, so I believe this was a recent change. Looking through the recent commits,

[2021-01-03 07:54] chenxsan commented on #4364
@richardxia Wow, I didn't expect that! Thanks for heads-up, and I can confirm the problem. PR is welcomed!

[2021-01-03 08:12] chenxsan commented on #4364
And this seems to be firefox only as per https://bugzilla.mozilla.org/show_bug.cgi?id=1601916

[2021-01-03 08:18] richardxia commented on #4364
Thanks, I'll get a PR out shortly. I ran into a few issues with the development setup, but I have things working after I switched to `yarn`. I can file a separate ticket with the specific issues I ran into with `npm`.

[2021-01-03 08:32] richardxia commented on #4364
PR submitted: https://github.com/webpack/webpack.js.org/pull/4365

[2021-01-03 08:42] #4364 closed

[2021-01-03 08:49] richardxia opened #4366 "Building the website locally fails with npm"
__Feature to document__

I was following the instructions for getting the site setup locally in https://github.com/webpack/webpack.js.org/blob/8d4b9a0617a57c2175ffcfbaded99c5f3448521e/.github/CONTRIBUTING.md, but I was hitting issues with npm. `npm install` worked fine, but got the following errors from running `npm start`:

[code]

I even attempted to manually run `npm run fetch`, but still got t

[2021-01-03 08:58] chenxsan commented on #4366
I once tried to solve the `Module not found: Error: Can't resolve './_supporters.json'` issue here https://github.com/webpack/webpack.js.org/pull/4155, but it failed.

Actually I'm a little surprised that `npm` would work as we have `resolutions` field https://github.com/webpack/webpack.js.org/blob/master/package.json#L165 which I believe is yarn only.

I agree it's better to update `CONTRIBUTING.

[2021-01-03 09:06] snitin315 commented on #4366
yeah, `CONTRIBUTING.md` needs an update.

PR welcome.

[2021-01-03 09:21] duhbhavesh opened #4368 "404 page is Missing"
## Feature Request
404 page doesn't have header and footer for navigating through website & doesn't have link to homepage.

![webpack](https://user-images.githubusercontent.com/62742018/103475412-f1322b80-4dd2-11eb-9454-5bc4c74887bf.PNG)

[2021-01-03 09:33] richardxia commented on #4366
Yep, PR here: https://github.com/webpack/webpack.js.org/pull/4369

[2021-01-03 09:42] #4366 closed

[2021-01-03 16:34] elkhan opened #4370 "devServer.index documentation issue"
https://webpack.js.org/configuration/dev-server/#devserverserveindex

It should be:

[code]
https://github.com/webpack/webpack-dev-server/issues/2540#issuecomment-627463732

[2021-01-03 16:38] alexander-akait commented on #4370
webpack-dev-server@4 in beta, docs will be updated after stable release

[2021-01-03 16:38] #4370 closed

[2021-01-03 23:59] tlmii opened #4376 "output.libraryTarget: var with empty output.library gives error"
# Bug report

**What is the current behavior?**

If you specify `output.libraryTarget: 'var'` and  `output.library: ''`, an error:

[code]

or if you specify `output.libraryTarget: 'var'` and leave `output.library` out altogether, a different error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

in your webpack config, specify `output.libraryTarget: 'var'` a

[2021-01-04 00:37] #4341 closed

[2021-01-04 02:38] snitin315 commented on #4368
@duhbhavesh Thanks for the issue.

Actually, we do have a custom  404 page but it doesn't work on the-pages somehow for the reasons explained here - https://stackoverflow.com/questions/58228017/react-router-v4-cant-load-page-on-github-pages

I'm looking into it if I can find a potential solution.

![Screenshot at 2021-01-04 07-47-58](https://user-images.githubusercontent.com/46647141/103496348-e2e

[2021-01-04 04:19] snitin315 commented on #4368
I found either using `HashRouter` instead of `BrowserRouter` or adding a custom `404.html` at root is a workaround for this over the whole internet.

Using `HashRouter` will change URLs to something like `https://webpack.js.org/#/api` which I don't think is a good idea.

Or we can use `vercel` for deployment (given that we already have a PRO account).

[2021-01-04 08:27] montogeek commented on #4363
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2021-01-04 08:27] #4363 closed

[2021-01-04 14:05] duhbhavesh commented on #4368
Okay! 😅

[2021-01-05 03:26] McDaddy opened #4389 "callAnyMember is gone but document is not updated yet"
# Bug report

**What is the current behavior?**
As I searched whole webpack 5 source code I didn't find keyword `callAnyMember` , but the official documentation is still there. Can you please update the  official documentation and suggest how to replace this hook?

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I guess the substitut

[2021-01-05 04:49] #4376 closed

[2021-01-05 07:29] #4146 closed

[2021-01-05 07:37] montogeek opened #4388 "Configuration page chevron icons are broken"
![image](https://user-images.githubusercontent.com/1002461/103618917-13da5680-4f31-11eb-9863-8b1df143d4f1.png)

They appear as a square instead of arrows.
@chenxsan Maybe related to your changes about emojis or the font change?

[2021-01-05 07:50] henrylow97 commented on #3310
Cheers haha, thanks for the `<meta charset="utf-8"/>` answer. For my case I got the error when I'm using Webpack to build a React web widget with `mode: 'production'`, but when `mode: 'development'` it wont trigger such error.

[2021-01-05 07:59] montogeek commented on #4105
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2021-01-05 07:59] #4105 closed

[2021-01-05 10:01] McDaddy commented on #4389
I have tried
[code]
none of them worked for me ......

[2021-01-05 11:21] chenxsan commented on #4388
Could be related to the font change.

[2021-01-05 19:42] webpack-bot opened #4392 "Document webpack change: allow to configure parsers and generators globally"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12326

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* new option `module.parser

[2021-01-06 09:13] webpack-bot opened #4398 "Document webpack change: add experiments.layers"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12327

---

* add experiments.layers
* add layers to define different module layers
* support module layers in stats
* add layer support for NormalModules

fixes #11466

**What kind of change does this PR introduce?**
feature

**Did you add tests for yo

[2021-01-06 09:14] anshumanv commented on #4398
wip

[2021-01-06 14:49] webpack-bot opened #4399 "Document webpack change: byProperty functions, allow function for externals.byLayer"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12348

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`externals.byLayer` can be

[2021-01-06 14:50] anshumanv commented on #4399
wip

[2021-01-07 15:05] SimonSiefke opened #4404 "text too narrow in firefox"
![text-too-narrow](https://user-images.githubusercontent.com/23744935/103907592-bfd29c00-5101-11eb-9052-c320503b50c4.png)

https://webpack.js.org/plugins/mini-css-extract-plugin/

![gitter](https://user-images.githubusercontent.com/23744935/103907761-f7414880-5101-11eb-8327-10fe103ddd36.png)

There is a `<div class="gitter">` which takes up lots of space

[2021-01-07 15:38] SimonSiefke commented on #4404
seems to be fixed now

[2021-01-07 15:38] #4404 closed

[2021-01-07 20:01] abelmark commented on #3186
I don't see a jsonpFunction section under output for the Webpack 4 docs...

[2021-01-08 08:33] McDaddy commented on #4389
for more details...

If I replace `myFunc` with `console`, it can work as expected. so I guess the difference is callee information.
the user defined object can't be detected by this hook?

[code]

[2021-01-10 02:05] chenxsan opened #4414 "Notification bar causes a flash"
https://user-images.githubusercontent.com/1091472/104112558-3ef6e880-532b-11eb-9b70-053fa9646123.mp4

I think we should improve it.

[2021-01-10 02:43] #4398 closed

[2021-01-10 02:43] chenxsan commented on #4399
I believe this can be closed via https://github.com/webpack/webpack.js.org/pull/4401 as well? Am i right? @anshumanv

[2021-01-10 03:49] chenxsan commented on #4389
@McDaddy

It seems to me that `myFunc.s` won't trigger the `callMemberChain`.

![image](https://user-images.githubusercontent.com/1091472/104113897-5046f180-5339-11eb-8ec0-74c311d3c073.png)

 But I'm not familiar with the internal of webpack so I could be wrong, could you create a reproducible repository and post it to webpack repository? The author seldom shows up here.

[2021-01-10 03:51] #4392 closed

[2021-01-10 05:42] McDaddy commented on #4389
Yes！I've debugged into the same positon. I'm wondering whether author did it on purpose. Thank u! I'll create the reproducible repository later

[2021-01-10 06:17] anshumanv commented on #4399
Yes this is covered by that PR as well, let's close

[2021-01-10 09:04] chenxsan commented on #4399
Closed via https://github.com/webpack/webpack.js.org/pull/4401

[2021-01-10 09:04] #4399 closed

[2021-01-11 02:06] McDaddy commented on #4389
@chenxsan  Sorry I realized I don't know how to create a webpack reproducible repository... could u give me a guide  about how to create a runnable webpack repository and how to post it to webpack repository

[2021-01-11 04:17] chenxsan commented on #4389
There's a guide when you file an issue using the bug template https://github.com/webpack/webpack/issues/new?assignees=&labels=&template=Bug_report.md. Or you can check any issues over there to see how other people were making it, e.g., https://github.com/webpack/webpack/issues/12293

[2021-01-11 06:01] McDaddy commented on #4389
Thank u @chenxsan, I've created repository and raised an new issue [webpack/issues/12385](https://github.com/webpack/webpack/issues/12385)

[2021-01-11 07:42] #4389 closed

[2021-01-11 11:32] aaarichter opened #4421 "Documentation incomplete or links missing for new ChunkGraph APIs"
Hi,

I'm trying to figure out the deprecation warnings for ChunkGraph API (https://webpack.js.org/blog/2020-10-10-webpack-5-release/#other-minor-changes & https://webpack.js.org/blog/2020-10-10-webpack-5-release/#module-and-chunk-graph). It extremely hard to find the documentation for these new APIs:

- the documentation does not return any usable results for the terms `ChunkGraph` and `ModuleGrap

[2021-01-11 18:08] webpack-bot opened #4424 "Document webpack change: add resolve.preferAbsolute option"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12392

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
new option `resolve.preferA

[2021-01-11 21:48] tjbulick commented on #4368
@snitin315 Hey. My question is not related to this topic, but your screenshot above shows it perfectly:

Fonts for headings are wrong here, and this occurs across the whole website
Can we have some fix for this and are you aware of this problem?

[2021-01-11 23:50] chenxsan commented on #4368
Why would you think the serif font for headings is wrong? I did it on purpose because when headings share the same sans-serif font with body texts, there’s not enough contrast between them.

[2021-01-12 05:28] chenxsan commented on #4368
Regarding the 404 issue. This site is hosted on github pages, so it's possible to create a 404 html file https://docs.github.com/en/free-pro-team@latest/github/working-with-github-pages/creating-a-custom-404-page-for-your-github-pages-site. I'll see how we can add one under this single page application.

[2021-01-12 10:17] #3882 closed

[2021-01-13 05:01] chenxsan opened #4430 "Categorizing guides, plugins, loaders, etc."
There're so many guides, plugins and loaders listed in the sidebar now, and it's sort of overwhelming for users, especially new users of webpack.

<img src='https://user-images.githubusercontent.com/1091472/104399910-9a73e100-558c-11eb-9d7b-7c91658f7c5b.png' width='300' />

One thing I've been thinking about is that we can categorize them like what we have done with the [API page](https://webpack.

[2021-01-13 12:33] #4424 closed

[2021-01-13 13:11] marc-polizzi opened #4432 "Webpack 5.x: Module Federation shared/singleton w/ amCharts lib 4 broken?"
# Bug report

**What is the current behavior?**

The amCharts 4 lib chunk (defined as a shared/singleton module) is being loaded twice.

**If the current behavior is a bug, please provide the steps to reproduce.**

You can check the following small project:

[git](https://github.com/marc-polizzi/webpack-mod-fed-amcharts4.git)

1) npm start amcharts4  to export the module
2) npm start reporting to

[2021-01-13 13:13] alexander-akait commented on #4432
What we need to docs:

[code]

You need specify `import * as am4core from "@amcharts/amcharts4";` not `import * as am4core from "@amcharts/amcharts4/core";`, if you want to use `import * as am4core from "@amcharts/amcharts4/core";` you need:

[code]

[2021-01-13 13:14] alexander-akait commented on #4432
Can be documented here https://webpack.js.org/concepts/module-federation/#troubleshooting

[2021-01-14 21:33] srivsarthak commented on #4430
Hey I would like to take up the issue

[2021-01-15 15:07] webpack-bot opened #4438 "Document webpack change: offer getResolve to externals"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12429

---

improve types of externals configuration option
support promises in externals

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What nee

[2021-01-15 15:07] webpack-bot opened #4439 "Document webpack change: offer getResolve to externals"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12429

---

improve types of externals configuration option
support promises in externals

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What nee

[2021-01-15 15:08] alexander-akait commented on #4439
Duplicate https://github.com/webpack/webpack.js.org/issues/4438, something wrong with bot

[2021-01-15 15:08] #4439 closed

[2021-01-16 12:43] chenxsan commented on #4430
I just found a similar request here https://github.com/webpack/webpack.js.org/issues/3726

[2021-01-16 14:09] chenxsan opened #4441 "Proposal: remove contributors section in the web page"
I can understand benefits to show the `Contributors` section in the web page,

1. it might attract new contributors
2. it gives contributors credit for contributing

However, it becomes a problem when there're so many contributors on one page, for example, https://webpack.js.org/guides/code-splitting/

<img src='https://user-images.githubusercontent.com/1091472/104813385-dd131300-5843-11eb-925d-1d

[2021-01-16 16:57] snitin315 commented on #4441
But It makes me happy to see my name there.

[2021-01-16 16:59] snitin315 commented on #4441
Maybe we can limit it to recent 10-15 contributors name and display the rest with the help of a button labeled as `See more contributors`

[2021-01-16 22:16] strarsis opened #4448 "[Docs] ProfilingPlugin outputPath example is incorrect"
# Bug report

**What is the current behavior?**
In the current webpack documentation the [example for initializaing the `ProfilingPlugin`](https://webpack.js.org/plugins/profiling-plugin/#usage-custom-outputpath) is incorrect,
as the `outputPath` is assigned a relative, non-absolute path`profiling/profileEvents.json` that causes an exception when trying to run webpack:
[code]

**If the current beh

[2021-01-16 23:42] chenxsan commented on #4441
Let's talk from the perspective of common webpack users, is it beneficial to most common webpack users?

I can understand your frustration to remove the section as I am one of the contributors listed in those pages.

And regarding the 'See More' suggestion, sure it would lessen the pain here, but it would only hide the problem as one day in the future there may be 200 contributors listed on the pa

[2021-01-18 00:28] #4438 closed

[2021-01-18 03:45] zerustech opened #4444 "The `webpack.ProvidePlugin` does not tree shake code as documented"
# Steps to reproduce this issue

1.  Initialize the project structure:
[code]
2.  Create `src/index.js`:
[code]
3. Create `src/math.js`:
[code]

4. Create `webpack.config.js`:
[code]

5. Build the bundle:
[code]

6. Expected Result:
**ONLY** the `cube()` function is included in `dist/main.bundle.js`

7. Actual Result:
**BOTH** the `cube()` and the `square()` functions are included.

[2021-01-18 04:25] chenxsan commented on #4444
Could you share where the documentation stated that `ProvidePlugin` can be tree shaken?

[2021-01-18 04:36] zerustech commented on #4444
https://webpack.js.org/guides/shimming/#shimming-globals

[2021-01-18 05:19] alxndrsn commented on #4404
I still see this in Firefox 84.  The layout fixes if I hard-reload the page.

[2021-01-18 10:52] chenxsan commented on #4444
I can't help. If you think it's a bug, please post it on https://github.com/webpack/webpack so the author can take a look.

[2021-01-18 11:08] alexander-akait commented on #4441
I agree about it is unnecessary on every page, I think we can create separate page and move all contributors to there, also we can get them from github to avoid manually adding

[2021-01-18 11:19] zerustech commented on #4444
Thanks @chenxsan.

[2021-01-18 11:53] akgupta0777 commented on #4448
@strarsis I understood your issue. We should document that for better understanding.

[2021-01-18 11:59] akgupta0777 commented on #4448
@strarsis do you want to work on that OR will I send a PR ?

[2021-01-18 12:38] snitin315 commented on #4441
Single separate page sounds good 👌

[2021-01-18 16:44] strarsis commented on #4448
@akgupta0777: Added a fork branch with the fix: https://github.com/webpack/webpack.js.org/compare/master...strarsis:profilingplugin-outputpath-absolute
For creating a PR I have to sign a CLA and other things, I will probably do that, but currently have no time.
Could you create a PR out of that branch and merge it?

[2021-01-18 17:34] akgupta0777 commented on #4448
I can't create a PR out of that branch I don't have access and also can't sign CLA because it requires GitHub user email. You have to do it yourself.

[2021-01-19 05:04] #4072 closed

[2021-01-19 17:34] emkayy commented on #4121
@jandreola Did you manage to fix `webpack-concat-plugin`
I have the same issue.

[2021-01-19 18:31] webpack-bot opened #4451 "Document webpack change: feat: new dependency __webpack_is_included__"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10702

---

**What kind of change does this PR introduce?**

closes #8838

**Did you add tests for your changes?**

Yes

**Does this PR introduce a breaking change?**

No

**What needs to be documented once your changes are merged?**

New webpack speci

[2021-01-19 18:40] webpack-bot opened #4452 "Document webpack change: feat: libraryTarget add assign-properties"
*A pull request by @xiaoxiaojx was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11629

---

**What kind of change does this PR introduce?**

fixes #11571

**Did you add tests for your changes?**

yes

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

yes

[2021-01-20 07:30] pmrotule opened #4458 "Webpack documentation completely broken on Firefox"
# Bug report

**What is the current behavior?**

The page layout of the documentation is completely broken on Firefox.

<img width="755" alt="image" src="https://user-images.githubusercontent.com/10983258/105140938-b3364680-5af8-11eb-9006-d07ea7ae0d76.png">

I personally added "flex: 0" to `.gitter` to fix the issue on my end.

<img width="357" alt="image" src="https://user-images.githubuserconten

[2021-01-20 11:15] alexander-akait commented on #4458
@chenxsan Feel free to close, I think we need focus on changing cache strategy, a lot of problems with current strategy

[2021-01-20 11:18] pmrotule commented on #4458
@chenxsan It worked, thanks 🙌
No more gitter indeed. Feel free to close the issue.

[2021-01-20 12:47] chenxsan commented on #4458
Let's keep it open until Network-first strategy is implemented.

[2021-01-21 13:31] alexander-akait opened #4463 "watchOptions.ignored examples are wrong"
__Feature to document__

https://webpack.js.org/configuration/watch/#watchoptionsignored

__Author(s)__

Any

__Additional information__

we use `glob-to-regexp` package to convert glob to regexp and pass **absolute** path to ignore. Using:
- `node_modules/**` means `/^node_modules\/((?:[^/]*(?:\/|$))*)(?:$|\/)/` (i.e. all files starting with `node_modules`), so it should be `"**/node_modules/**"`

[2021-01-21 13:45] sokra commented on #4463
`"**/node_modules` would also work and is a bit shorter

[2021-01-21 16:40] matthias-ccri opened #4465 "[docs][v5] Has the -p option been removed?"
When running `webpack -p`, this error appears:
[code]

Repro: https://codesandbox.io/s/throbbing-smoke-z58iv?file=/package.json (ignore the code, but it has webpack v5 installed)
1. open the terminal, open a new tab (+ at the right)
2. Run `yarn test-p` or `npm run test-p` or even just `npx webpack -p`.
3. See the error appear.

Versions:
[code]

## Questions

Has the `-p` option been removed?

If

[2021-01-21 16:45] alexander-akait commented on #4465
It is in somewhere in changelog for `webpack-cli`, `-p` was removed in favor `--mode production`

[2021-01-21 16:48] matthias-ccri commented on #4465
Thanks for the quick response. Also on the Production page, `--optimize-minimize` seems to be renamed to `--optimization-minimize`. I'll see if I can note these things in the changelog-v5 repo if that's fine with you.

[2021-01-21 16:57] alexander-akait commented on #4465
Let's keep open, we need update docs here

[2021-01-22 05:07] #4448 closed

[2021-01-22 05:08] chenxsan commented on #4465
closed via https://github.com/webpack/webpack.js.org/pull/4466

[2021-01-22 05:08] #4465 closed

[2021-01-22 05:20] #4451 closed

[2021-01-22 13:41] webpack-bot opened #4470 "Document webpack change: feat(CommonJsPlugin): magic comment to ignore require calls"
*A pull request by @petermetz was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11316

---

A partial port of the same magic comments that are supported
for import() calls already via this commit:
https://github.com/webpack/webpack/commit/f65e9dac98a0531a46701f36bcdef4afd23c77a2

Fixes https://github.com/webpack/webpack/issues/

[2021-01-22 13:58] webpack-bot opened #4471 "Document webpack change: add experimental lazy compilation"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12469

---

This adds an experimental feature which allows to compile only the part of the application which is currently in use. Additional `import()`s and entrypoints which are currently not in use do not affect compilation performance when this featu

[2021-01-25 10:27] alexander-akait commented on #4479
@chenxsan need to docs only this https://github.com/webpack/webpack.js.org/issues/4479#issuecomment-595180374

[2021-01-25 15:07] alexander-akait commented on #4482
@chenxsan We need docs this https://github.com/webpack/webpack/blob/master/lib/config/defaults.js#L992, i.e. options for resolver can be configured by dependency, i.e. you can setup different options for `mjs`/`cjs`/`new URL('./file.ext', import.meta.url)`/etc. I think example with different options for `mjs` and `cjs` and `new URL()` will be enough (because popular)

[2021-01-25 15:55] alexander-akait opened #4483 "Document `watchOptions.followSymlinks`"
__Feature to document__

https://webpack.js.org/configuration/watch/

__Author(s)__

Any

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2021-01-26 04:58] #4463 closed

[2021-01-27 17:41] sagar-barapatre commented on #4178
Can you please tell me Exactly what do we need to do here ?

[2021-01-27 20:17] sokra opened #4491 "`output.publicPath: "auto"`"
__Feature to document__

`output.publicPath: "auto"`

Only works for web and web worker targets.

Determines the publicPath automatically from `<script>` tag.

__Author(s)__

@sokra

__Additional information__

Should be listed on:

* https://webpack.js.org/configuration/output/#outputpublicpath
* https://webpack.js.org/guides/public-path/

[ ] I am willing to work on this issue and submit a pull

[2021-01-27 20:20] sokra opened #4492 "webpackExports magic comment"
__Feature to document__

`import(/* webpackExports: "exportName" */ './utils.js')`
`import(/* webpackExports: ["exportNameA", "exportNameB", "default"] */ './utils.js')`

Allows to manually pick the exports which should be exposed. Allows to tree shake the others.

__Author(s)__

@pushkar100

__Additional information__

Should be listed here:

* https://webpack.js.org/guides/tree-shaking/
* https:

[2021-01-27 22:18] vvanpo opened #4493 "UseEntry function return value documented as "options object""
https://webpack.js.org/configuration/module/#useentry

In the documentation for the `function(info)` `UseEntry` type, it claims (emphasis mine):

But it should really be a non-function `UseEntry` object, right? In the ensuing example:

[code]

The `options` object is a property of the return value, but not the return value itself.

[2021-01-28 00:24] chenxsan commented on #4178
@sagar-barapatre I haven't yet figured out what to do here.

[2021-01-28 00:29] chenxsan commented on #4493
Yes, I believe it should return a non-function `UseEntry` object from the function `UseEntry`. Pull request welcome.

[2021-01-29 14:03] webpack-bot opened #4496 "Document webpack change: feat: support custom chunk name in container expose options"
*A pull request by @artchenamazon was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12527

---

Module federation generates async chunks for exposed modules, which by
default named after the internal module id. This change allows users to
assign a custom name so that the file can be statically referenced.

closes  https://githu

[2021-01-31 01:35] #4483 closed

[2021-01-31 11:52] #2646 closed

[2021-02-01 04:19] #4482 closed

[2021-02-01 11:42] montogeek commented on #4441
Another idea is to only show 3 (randomly picked) and put a link to the GitHub page to see the rest.
It will save:
- Space on mobile and desktop
- Load times
- Bandwidth

[2021-02-01 11:45] alexander-akait commented on #4441
I don't think anybody need to know contributors :smile: , no need unnecessary overload pages. But we should respect work of other contributors, so single page `Contributors` is maximum simple and good solution

[2021-02-01 11:45] montogeek commented on #4178
Yeah, not sure if worth it to maintain all that code.

Another solution is to explain that order at the very beginning of the guides, something like:

[2021-02-01 11:49] montogeek commented on #4441
It is an open source project, potential contributors will look for it, existing contributors can link their contributions to potential employers, friends, etc.

Yeah, of course everything is in GitHub, but having it in the webpage itself helps with the spirit of the community around webpack.

[2021-02-01 11:53] alexander-akait commented on #4441
But they can use this link to potential employers, friends, etc.

[2021-02-01 12:05] alexander-akait opened #4508 "fix shimming guide"
__Feature to document__

We change inline syntax for `exports-loader` (v2 in the new major release) and `[]` is not longer supported, new inline examples here https://github.com/webpack-contrib/exports-loader#inline, i.e. instead `[]`, we need to use `,`

__Author(s)__

Any

__Additional information__

https://webpack.js.org/guides/shimming/

[ ] I am willing to work on this issue and submit a pul

[2021-02-01 12:09] chenxsan commented on #4441
If we list random contributors, it would no longer make sense for existing contributors to share that page with their potential employers, friends, etc. as the contributors listed on the page could be different for every one.

[2021-02-02 04:39] #4452 closed

[2021-02-02 04:53] #4340 closed

[2021-02-02 04:53] #4458 closed

[2021-02-02 13:35] snitin315 commented on #4491
WIP

[2021-02-02 18:29] webpack-bot opened #4520 "Document webpack change: Add new options for lazyCompilation: imports and test"
*A pull request by @Knagis was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12553

---

**What kind of change does this PR introduce?**

New configuration options for lazy compilation.

**Did you add tests for your changes?**

Yes

**Does this PR introduce a breaking change?**

No

**What needs to be documented once your chang

[2021-02-02 19:31] webpack-bot opened #4521 "Document webpack change: (feat): add output.clean"
*A pull request by @smelukov was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/11561

---

**What kind of change does this PR introduce?**

feature
closes  https://github.com/webpack/webpack/projects/5#card-40756723

## usage

[code]

## dry-run

[code]
Not to delete the assets, just logging about

## ignore

### by property

[

[2021-02-02 19:32] webpack-bot opened #4522 "Document webpack change: log out module profile summary when profiling is enabled"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12557

---

fixes #2811

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`profile: true`

[2021-02-02 19:41] sokra commented on #4522
It's recommended to use `profile: true` together with `parallelism: 1` to get correct timings.

[2021-02-02 23:58] #4470 closed

[2021-02-03 02:38] snitin315 commented on #4521
I will document it.

[2021-02-03 04:27] #4508 closed

[2021-02-03 12:31] #4522 closed

[2021-02-04 00:10] matyasf commented on #2926
Is there any documentation?

[2021-02-04 00:35] chenxsan commented on #4492
Since the code examples in those guides are deeply coupled, it would be almost impossible to incorporate new contents into those guides without drastically changes. We'll see how we can improve the situation.

[2021-02-04 11:36] snitin315 commented on #4441
I would like to implement the new `/contributors` page if we reach an agreement.

Some pros that I can think of -

- No need to manually update the contributor list anymore.
- Better visibility than being shown at the bottom (If anyone wants to show potential employers)
- save load time, bandwidth for actual docs conten.

[2021-02-04 11:51] chenxsan commented on #4441
Sure, I'll assign it to you. But it would be great if you can finish issues you're still working at first because the `contributors` page is not that urgent to have.

[2021-02-04 11:53] chenxsan commented on #4441
Here's what I think needs to be done:

- [ ] Add a new `contributors` page
- [ ] Remove `Contributors` section
- [ ] Clean up `contributors` field in frontmatter of markdown file

[2021-02-04 19:57] sokra commented on #4441
When the list gets long we could show only small avatars similar to github:

![image](https://user-images.githubusercontent.com/1365881/106944411-d4b54600-6726-11eb-9e9f-e5328e8732ed.png)

Instead of the manual list we could get the information from the git log. We can get the last 100 commits to a file and show the authors. This would also keep the list shorter as contributors vanish after some m

[2021-02-05 00:17] #4491 closed

[2021-02-05 04:24] chenxsan commented on #4441
Any specific reason you want to retain the `Contributors` section? If we're referring to the benefits @montogeek listed before, then they're no longer available in your proposal version as the list would be dynamic then.

To common webpack users, `Contributors` section doesn't really benefit them. A `Last updated at 2022-2-22 2:22:22` message or `10 people have contributed to this page` would bene

[2021-02-05 15:03] webpack-bot opened #4550 "Document webpack change: fix: add typings for DefaultStatsFactoryPlugin, Stats, and MultiStats"
*A pull request by @davidhouweling was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12228

---

**What kind of change does this PR introduce?**

Add typings matching the JSON output.

Note: the types for output are defined as `Stats*` because the types are merged together into the root level `types.d.ts` which might cause issu

[2021-02-05 16:44] webpack-bot opened #4551 "Document webpack change: add `__webpack_base_uri__` to change base URI at runtime"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12602

---

fix missing runtime requirement for base uri

fixes #12589

**What kind of change does this PR introduce?**
feature, bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be do

[2021-02-05 18:58] webpack-bot opened #4552 "Document webpack change: Show error details automatically when only 2 or less errors are there"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12601

---

fixes #12456

* Show error details automatically when only 2 or less errors are there
* Show message that points you to errorsDetails when error details are hidden
* Improve some error messages
* Highlight important parts of error message wi

[2021-02-05 19:13] anshumanv commented on #4552
wip

[2021-02-07 00:27] #4552 closed

[2021-02-07 00:37] #4551 closed

[2021-02-09 07:21] lili21 commented on #3757
is this a valid approach?

[code]

[2021-02-09 07:44] lili21 commented on #3757
how to make shared modules "eager"?

[2021-02-09 14:15] #4471 closed

[2021-02-09 14:15] #4520 closed

[2021-02-10 12:55] alexander-akait opened #4575 "Document usage `__webpack_chunk_load__`"
__Feature to document__

https://github.com/webpack/webpack/pull/7913#issuecomment-414213442

__Author(s)__

Any

__Additional information__

No

[ ] I am willing to work on this issue and submit a pull request.

[2021-02-11 00:20] chenxsan commented on #4521
@snitin315 Hi, do you think you can find some time documenting this soon? I don't want to keep issues open for too long, if you don't have time let me know so I can take care of it.

[2021-02-11 00:22] snitin315 commented on #4521
Thanks for the ping. I will send the PR today.

[2021-02-12 13:37] #4521 closed

[2021-02-12 21:42] rifler opened #4583 "[webpack 5] remove optimization.occurrenceOrder"
__Feature to document__

remove https://webpack.js.org/configuration/optimization/#optimizationoccurrenceorder
it is not working:
[code]

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2021-02-13 06:50] chenxsan commented on #4583
@rifler Thanks for report, I've filed a pull request to remove it.

[2021-02-13 07:04] #4583 closed

[2021-02-13 14:04] #4575 closed

[2021-02-13 14:15] chenxsan commented on #4550
We don't have any specific pages for those typings. And I believe IDEs should be able to give users the hint, hence no need to document it.

[2021-02-13 14:15] #4550 closed

[2021-02-13 14:20] #3583 closed

[2021-02-13 14:21] #3619 closed

[2021-02-13 14:23] chenxsan commented on #3040
closed via https://github.com/webpack/webpack.js.org/pull/4518

[2021-02-13 14:23] #3040 closed

[2021-02-13 14:25] chenxsan commented on #2523
Closed as it's no longer valid.

[2021-02-13 14:25] #2523 closed

[2021-02-13 14:27] chenxsan commented on #2105
Closed as we should have button to print the whole section as pdf.

[2021-02-13 14:27] #2105 closed

[2021-02-13 14:28] chenxsan commented on #2075
Closed as we have updated the `contributing.md`.

[2021-02-13 14:28] #2075 closed

[2021-02-13 14:32] chenxsan commented on #3015
I believe it's already fixed.

[2021-02-13 14:32] #3015 closed

[2021-02-13 14:35] chenxsan commented on #3001
Closed by https://github.com/webpack/webpack.js.org/pull/4585.

[2021-02-13 14:35] #3001 closed

[2021-02-14 22:30] webpack-bot opened #4587 "Document webpack change: MultiCompiler parallelism and dependencies"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12671

---

**What kind of change does this PR introduce?**
feature, bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no a butfix.
dependencies is now handled in watch mode, which changes behavior a bit

[2021-02-15 01:39] snitin315 commented on #4587
On it.

[2021-02-15 09:22] #4587 closed

[2021-02-15 11:35] wt0m opened #4599 "ES6 module default export ignored and does not appear in bundle"
# Bug report
Hello webpack team, first of all I would like to thank you for making this awesome project.
I am trying to import an ES6 module dynamically in the browser. The problem is that I can't export a function from my module, webpack does not insert the export instruction into the bundle.
I understand that ES6 module exports are an experimental feature in webpack and I don't know if exports c

[2021-02-15 13:24] alexander-akait commented on #1910
I think we can close it, resolved

[2021-02-15 13:24] #1910 closed

[2021-02-15 14:12] alexander-akait commented on #4599
@chenxsan We need fix docs https://webpack.js.org/configuration/output/#outputmodule, we set `libraryTarget: 'module'` only when you have the `output.library` option, also if you don't have the `libraryTarget`, internal we modify the `library.type` option https://github.com/webpack/webpack/blob/master/lib/config/defaults.js#L670

[2021-02-16 09:19] samal-rasmussen commented on #4441
Can't rely on linking to a page to show off your work when the contributor list is dynamic.

As a user of the docs I would welcome the removal. They are just visual noise to me. I do sympathize with the contributors, but even so the contributions are logged in git and you can already link to the [github contributors list](https://github.com/webpack/webpack.js.org/graphs/contributors) if you need t

[2021-02-16 10:23] alexander-akait opened #4606 "remove source map warning"
__Feature to document__

https://webpack.js.org/configuration/devtool/#devtool:~:text=There%20are%20some%20issues%20with%20Source%20Maps%20in%20Chrome

__Author(s)__

Any

__Additional information__

No need anymore, problem = issues

[ ] I am willing to work on this issue and submit a pull request.

[2021-02-16 10:26] anshumanv commented on #4606
wip

[2021-02-17 04:15] ttloves2 opened #4607 "Yes"
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2021-02-17 04:27] #4607 closed

[2021-02-17 09:31] MadhuvanthG commented on #995
I'm too late, but might help someone landing here. I think, the page has just been modified a bit over time. This I believe, is the page you're looking for.
https://webpack.js.org/guides/typescript/#basic-setup

[2021-02-18 00:09] #4606 closed

[2021-02-18 13:28] #4599 closed

[2021-02-18 18:11] jpierson commented on #2974
Agreed @IronSean. I just ran into an issue getting a library working with webpack-dev-server and ran into the `injectClient` following the thread for https://github.com/webpack/webpack-dev-server/issues/2484. As it turns it, it seems to have fixed the problem I was running into by setting this to `false` but I have no idea why really. Better documentation here would most likely help.

[2021-02-19 01:11] haight6716 commented on #2457
Just ran into this problem.  Prefetch works, preload does not.

[2021-02-20 00:48] #4414 closed

[2021-02-20 19:09] matyasf opened #4630 "Loader interface documentation fails to mention what the parameters in the loader interface do."
__Feature to document__

https://github.com/webpack/webpack.js.org/blob/master/src/content/api/loaders.md

__Author(s)__

@TheLarkInn | @jhnns | @tbroadley

__Additional information__

https://github.com/webpack/webpack.js.org/blob/master/src/content/api/loaders.md fails to mention what the parameters in the loader interface do. From the article it becomes quickly clear that the loader interface l

[2021-02-22 10:13] jayankmayukh commented on #4283
Facing same issue. As of now we are using examples to understand the api, a proper documentation of API is very important.

[2021-02-23 14:34] chenxsan commented on #4630
There're listed here https://webpack.js.org/api/loaders/#thiscallback

[2021-02-23 14:55] matyasf commented on #4630
Isn't that the signature for the function object that is returned by `async()`? From the site:

https://webpack.js.org/api/loaders/#thisasync

and the example from the doc:

[code]

Also as I see these interfaces need 3 parameters at most (`content`, `map`, `meta`), not 4.

[2021-02-24 04:26] chenxsan commented on #4630
Loaders are chained, the first parameter means whether to throw the error in current loader, pass `null` means there's no error, and the next loader will receive all other third data, i.e., `content`, `map`, `meta`. But yes, I agree it's not explicitly documented, users have to infer it from `this.callback`.

[2021-02-24 04:29] chenxsan commented on #4630
I've filed a pull request here https://github.com/webpack/webpack.js.org/pull/4648/files, do you think it will solve the problem here?

[2021-02-24 11:10] matyasf commented on #4630
looks good, I've added a comment

[2021-02-24 13:20] #4630 closed

[2021-02-24 21:25] johnjesse opened #4656 "Optimization moduleIds documentation is wrong"
# Bug report

**What is the current behavior?**
The docs say the default `optimization.moduleIds` setting is `false`
https://webpack.js.org/configuration/optimization/#optimizationmoduleids

But GitHub seems to say something different https://github.com/webpack/webpack/blob/4c2ee7a4ddb8db2362ca83b6c4190523387ba7ee/lib/config/defaults.js#L894

This took me two days to track down - we used to use th

[2021-02-25 11:31] chenxsan commented on #4656
Yes, the content is stale, I'll update it soon.

[2021-02-25 11:42] #4656 closed

[2021-02-25 12:36] chenxsan commented on #3726
It's difficult to categorize plugins by what they do. Only a small group of plugins can be categorized like `Js Minify` alike, most others would fall into `Others`.

How about categorize them by where they're being developed?

For instance:

1. `Community`–plugins developed by community, we only have `html-webpack-plugin` at the moment
2. `Webpack Contrib`–plugins developed under `webpack-contrib`

[2021-02-25 17:43] alexander-akait opened #4658 "Remove usage of `clean-webpack-plugin` in favor `output.clean`"
__Feature to document__

Now we can use https://webpack.js.org/configuration/output/#outputclean

https://webpack.js.org/guides/output-management/

__Author(s)__

Any

__Additional information__

Maybe we have `clean-webpack-plugin` plugin in other places, need check

[ ] I am willing to work on this issue and submit a pull request.

[2021-02-26 00:05] snitin315 commented on #4658
On it.

[2021-02-26 04:00] lili21 commented on #4432
I guess it doesn't work well with `babel-plugin-lodash`， any plan to support this?

[2021-02-26 19:07] rifler opened #4663 "Document webpack.ids.DeterministicChunkIdsPlugin and webpack.ids.DeterministicModuleIdsPlugin"
__Feature to document__
[Doc says](https://webpack.js.org/configuration/optimization/#optimizationmoduleids):
[code]

But I can't find any description of this plugins

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2021-03-01 11:00] chenxsan commented on #4658
@snitin315 Do you need help?

[2021-03-01 11:49] snitin315 commented on #4658
@chenxsan thanks for proposing, I have the bandwidth to work on it today. Sorry for the delay 😄.

[2021-03-01 20:06] alaminfrtgf opened #4672 "dfgwerfwqerr"
gjdgjhfhgffghsdfhddfdh

[2021-03-01 20:06] alaminfrtgf commented on #4672
fdshnfghnfhnjnhhnnjdfh

[2021-03-01 20:07] alaminfrtgf commented on #4672
Online TV Channel Online TV Channel Online TV Channel Online TV Channel Online TV Channel Online TV Channel Online TV Channel Online TV Channel Online TV Channel Online TV Channel Online TV Channel Online TV Channel v

[2021-03-01 21:16] turistua commented on #4121
why it's closed?

[2021-03-01 23:27] #4672 closed

[2021-03-02 14:04] #4658 closed

[2021-03-04 12:30] krutoo opened #4685 "How to set order of processing orders?"
Hi, in my project i use webpack with this config:

[code]

I need these entries to be collected in the order in which they are presented in the array

I thought the option `parallelism: 1` would help, and set it to each entry, but its not working.

I run my last entry in node js immediately after emit and in this app i trying to read files from first entry (client) but this is not emitted

[2021-03-04 16:19] alexander-akait opened #4687 "improve description of the `output.library` option and guide for libraries"
__Feature to document__

https://webpack.js.org/configuration/output/#outputlibrary
https://webpack.js.org/guides/author-libraries/

__Author(s)__

Any

__Additional information__

output.library support object notation https://github.com/webpack/webpack/blob/master/schemas/WebpackOptions.json#L1474, we it is very poorly described

`output.library.export` should be preferred over `output.libraryEx

[2021-03-04 16:21] alexander-akait commented on #4109
Fixed

[2021-03-04 16:21] #4109 closed

[2021-03-05 11:51] #4685 closed

[2021-03-06 13:54] chenxsan commented on #4687
I guess you were talking about `output.libraryTarget` instead of `output.LibraryType`? `output.LibraryType` is not exposed as far as I see.

[2021-03-08 11:36] chenxsan commented on #4687
Related pull request https://github.com/webpack/webpack/pull/10448

[2021-03-09 19:19] webpack-bot opened #4703 "Document webpack change: refactor startup logic to better integrate with libraries"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12836

---

* get rid of startupNoDefault and many custom logic regarding this in jsonp chunk loading
* add onChunksLoaded runtime method to cover that for all chunk loading types
* add `__webpack_runtime_id__` to access the current runtime
* allow to u

[2021-03-09 21:50] webpack-bot opened #4704 "Document webpack change: improve hmr error handling abilities"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12845

---

* pass module and moduleId with self error handler
* add error handlers for dependency accept handlers
* pass moduleId and dependencyId with dependency accept error handler
* add output.strictModuleErrorHandling to opt-in into strict module

[2021-03-10 15:28] jeffin143 commented on #4704
Will handle it

[2021-03-11 13:01] webpack-bot opened #4709 "Document webpack change: fix memory leak in asset generator"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12870

---

fixes #12771

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no, but a deprecation

**What needs to be documented once your changes are merge

[2021-03-11 13:49] anshumanv commented on #4709
wip

[2021-03-11 15:41] sokra commented on #4709
Forget about that. This has been reverted.

[2021-03-11 15:42] #4709 closed

[2021-03-15 13:41] chenxsan opened #4722 "Error loading content."
Just merged a pull request into the `master` branch, and here's the page after deployment finished on github pages:

![image](https://user-images.githubusercontent.com/1091472/111161085-b2d89a00-85d5-11eb-9a34-de9dc691cc85.png)

It might be caused by a cached version of `index.bundle.js` requesting stale js which is no longer available on the server.

Here's the right one:

![image](https://user-i

[2021-03-15 13:42] chenxsan commented on #4722
After about 3 or more minutes, the page is finally updated.

[2021-03-15 15:14] webpack-bot opened #4724 "Document webpack change: DefinePlugin takes care of module invalidation when values have changed"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12896

---

The options of the DefinePlugin no longer have to be covered by build dependencies

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**Wha

[2021-03-15 16:46] anshumanv commented on #4724
wip

[2021-03-19 13:03] rishabh3112 opened #4741 "webpack-cli: new documentation for init"
__Feature to document__

As https://github.com/webpack/webpack-cli/pull/2429 is now merged, We need to update documentation of the webpack-cli's init command.

__Author(s)__
@rishabh3112

__Additional information__
Will be working on its documentation.

- [x] I am willing to work on this issue and submit a pull request.

[2021-03-19 13:04] rishabh3112 commented on #4741
WIP locally, will send PR soon.

[2021-03-19 21:57] vyobukhov opened #4743 "Wrong documentation for WatchIgnorePlugin"
__WatchIgnorePlugin__

WatchIgnorePlugin has wrong documentation:
[code]

But it actually expects an `options` object with an array property `paths` in it as stated here:
https://github.com/webpack/webpack/blob/master/lib/WatchIgnorePlugin.js#L97

P.S. type definitions are also incorrect

[2021-03-20 01:51] #4687 closed

[2021-03-20 09:40] chenxsan commented on #4743
The type definition doesn't follow the convention of typescript but a homemade one https://webpack.js.org/contribute/writers-guide/#configuration-defaults-and-types, I agree it's confusing.

[2021-03-20 11:54] #4741 closed

[2021-03-21 11:29] #4743 closed

[2021-03-21 14:03] richard-lopes-ifood opened #4750 "Add ts-node.files = true in the instructions to run webpack.config.ts"
I have the following `webpack.config.ts` file:

[code]

`process.env.NODE_ENV` is a string, so I'm extending its defintion to have more precise one:

[code]

But the `environment.d.ts` file is not being considered when I run  `webpack --config webpack.config.ts`. The following error appears on console:

[code]

What should I do?

[2021-03-21 14:33] richard-lopes-ifood commented on #4750
I've found out ts-node was causing the problem... adding ts-node.files = true to tsconfig.json does the job.

[code]

Probably something changed on the latest version of `ts-node`.

[2021-03-21 16:25] asingh04 commented on #116
I have the same doubt as @adajoy has. I am also curious, what happens with the value returned by the pitch function of the loader? Is it used somewhere?

[2021-03-22 00:17] #4750 closed

[2021-03-22 00:18] chenxsan commented on #4750
I'm closing it as this is not webpack documentation related.

[2021-03-22 13:26] #4493 closed

[2021-03-23 05:09] qinsc18 opened #4756 "webpack"
**Feature to document**

**Author(s)**

**Additional information**

[ ] I am willing to work on this issue and submit a pull request.

[2021-03-23 11:02] #4756 closed

[2021-03-24 12:57] #4722 closed

[2021-03-26 03:38] Yee1014 commented on #3843
Plz update [documentation](https://github.com/webpack/webpack.js.org/blob/be9746779f809a910c989cb66a8f3b9e59364bc3/src/content/api/compilation-object.md)
It's so baffled ~

[2021-03-26 10:59] chenxsan commented on #4703
@jeffin143 Any chance you can help document it soon? Otherwise I'll take care of it.

[2021-03-26 11:24] chenxsan commented on #4724
@anshumanv Any progress?

[2021-03-29 05:43] anshumanv commented on #4724
Missed this, will PR today

[2021-03-29 11:25] p3im4n opened #4792 "Module not found: Error: Can't resolve 'path'"
hi
Im going to make a ftp client bundle for my web
I test basic-ftp and ftp from nmp
then I got many error while compiling such as:

ERROR in ./node_modules/basic-ftp/dist/Client.js 5:15-30
Module not found: Error: Can't resolve 'path' in '/var/www/disn.ir/html/node_modules/basic-ftp/dist'

BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default.
This is no longe

[2021-03-29 11:27] alexander-akait commented on #4792
Please read error message and use this, you can't use Node.js module in browser, you need polyfill or disable this module

[2021-03-29 11:27] #4792 closed

[2021-03-29 13:35] p3im4n commented on #4792
this is not true, there is many example frontend web site based on node modules
but I read not all of them cant be bundled for using on frontend

if I am wrong give me a reference about that
best regards

[2021-03-30 17:21] glen-84 opened #4805 "Incorrect default value for `resolve.extensions`"
Refer to [this](https://github.com/webpack/webpack.js.org/issues/4805#issuecomment-812486496) comment.

---

## Feature request

Allow `"..."` to be used in `resolve.extensions` to extend the default values.

**What is the expected behavior?**

[code]

**What is motivation or use case for adding/changing the behavior?**

Extend the defaults without having to redefine them.

**How should this be im

[2021-04-01 15:49] loynoir opened #4799 "Advise for official document page"
# Background
Install with latest webpack, keep up to latest official document, ran into weird bug.
Dig a little into that bug, seems it is because of a documented 3rd party loader outside of webpack-contrib, is not really webpack5-able.

# Expected behavior
Any 3rd party loaders outside of community [webpack-contrib](https://github.com/webpack-contrib), should
1. Within official document page, wit

[2021-04-01 15:58] alexander-akait commented on #4799
I think we need remove `extract-loader` from our docs, this loader is broken...

[2021-04-01 16:01] loynoir commented on #4799
@alexander-akait `babel-loader` is too essential. I dont think babel-loader would be a problem.  😆

[2021-04-01 16:14] webpack-bot opened #4800 "Document webpack change: memory usage improvements, add GC support for memory cache, persistent cache only mode"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/12990

---

* adds workaround for a v8 memory leak problem in ICs when code becomes optimized
* add GC to the memory cache and make it configurable
  * memory GC happens by default when persistent cache is enabled and in development mode
  * otherwise m

[2021-04-01 16:14] sokra commented on #4800
Please wait a few days before documenting that. Not sure if it will stay that way.

[2021-04-02 12:02] glen-84 commented on #4805
Ya, this is a problem in Vuetify that I reported [here](https://github.com/vuetifyjs/vue-cli-plugins/pull/247#issuecomment-810130711). I'll create a separate issue for it soon.

[2021-04-03 12:17] howdyAnkit commented on #3843
Can anyone tell me how to fix this Deprecation Warning?
@Yee1014 @mitchell-frost @jeffin143
Thanks in Advance.

[2021-04-03 17:08] herrvigg opened #4806 "Option output.clean ignored and violating options schema"
# Bug report

**What is the current behavior?**

- `output.clean` option is ignored.
- property output.clean is not allowed according to PHPStorm. "Validates options against [webpack options schema](https://github.com/webpack/webpack/blob/master/schemas/WebpackOptions.json)". In reality if I build the bundles the option is just ignored without any error, so there's something weird. If I enter a wr

[2021-04-03 17:09] alexander-akait commented on #4806
@chenxsan I think we need improve it and write that we only delete the files generated by the webpack, developer can use `copy-webpack-plugin` if they want to use external files and they will be removed

[2021-04-03 17:09] herrvigg commented on #4806
But this should still clean the output directory (default: `dist`) when building with webpack?

[2021-04-03 17:11] herrvigg commented on #4806
I don't understand what you mean with copy-webpack-plugin. I just want to clean the dist directory as done with `CleanWebpackPlugin` with minimal options. I thought `clean: true` would do the job, it doesn't.

Not working as described here:
https://webpack.js.org/guides/output-management/#cleaning-up-the-dist-folder

[2021-04-03 17:11] alexander-akait commented on #4806
No, files from not webpack will be in place, you can store the necessary files there

[2021-04-03 17:12] alexander-akait commented on #4806
What is not working?

[2021-04-03 17:14] herrvigg commented on #4806
Not following what you mean with "files from not webpack". From the description of the option:

It seems clean does not clean anything at all. What other files than the `.js` files in `dist` is it supposed to clean?

[2021-04-03 17:15] alexander-akait commented on #4806
Please stop say loud words :facepalm:

Any from webpack

[2021-04-03 17:16] alexander-akait commented on #4806
What is the problem? Please describe steps

[2021-04-03 17:18] alexander-akait commented on #4806
Can contain any sensitive information and removing this file is not safe. You should avoid copy files without `copy-webpack-plugin`, using `copy-webpack-plugin` allows to compress/minify/changed/etc actions, it has more advantages and `clean` will work in this case

[2021-04-03 17:19] herrvigg commented on #4806
I'm just building very basic stuff with npm, it produces some `.js` files in `dist`. Those files are generated with webpack via npm.
output.clean does not clean the `dist` folder.
Why would i have to deal with copy-webpack-plugin? It's not relevant at all except for the dummy example maybe.

[2021-04-03 17:19] alexander-akait commented on #4806
output.clean does not clean the dist folder.

Please provide steps, I tested it locally right now and it works

[2021-04-03 17:20] herrvigg commented on #4806
OK thank you for nothing. I'm losing patience. I switch back to CleanWebpackPlugin.

[2021-04-03 17:25] alexander-akait commented on #4806
@herrvigg What is the problem provide steps? I don't know your environment so maybe problem in other places. CleanWebpackPlugin will be deprecated and most likely may stop working in the future.

[2021-04-03 17:28] alexander-akait commented on #4806
First run:
![Screenshot from 2021-04-03 20-27-33](https://user-images.githubusercontent.com/4567934/113486384-18c08f00-94bb-11eb-8855-8032fdcff4c0.png)
Second run:
![Screenshot from 2021-04-03 20-27-41](https://user-images.githubusercontent.com/4567934/113486391-1d854300-94bb-11eb-96ac-86a59f3894d4.png)

Previously `js` file was removed as you can see

[2021-04-03 17:31] herrvigg commented on #4806
This is the repo: https://github.com/qtranslate/qtranslate-xt/tree/feature/webpack
In fact i was trying to get rid of CleanWebpackPlugin, by using `output.clean: true`.
What i do is simply "npm run build" to generate the .js files in `dist` but the output.clean leaves all the files as they were, while CleanWebpackPlugin would delete them before build so they are generated again.
My environment is

[2021-04-03 17:34] herrvigg commented on #4806
In my case the target files in dist keep the same name among different runs.

[2021-04-03 17:40] alexander-akait commented on #4806
`output.clean` keeps previously webpack assets, why you need remove them, they will be rewritten on the next write, what is use case to remove them?

[2021-04-03 17:43] alexander-akait commented on #4806
We avoid unnecessary `fs` calls, no need to delete them and write again, just rewrite them

[2021-04-03 17:45] herrvigg commented on #4806
Oh...  f this is really the expected behavior perhaps it's the description that is quite ambiguous.

By "cleaning a folder", i think most of developers would expect it to be emptied.

Maybe that's overkill but I want to be sure the generated files are fresh. If I use output.clean I expect the previous files to be deleted and generated again.

[2021-04-03 17:46] herrvigg commented on #4806
So `output.clean` is actually a bit too smart ;)

[2021-04-03 17:47] alexander-akait commented on #4806
You don't need to worry about this, they are always `fresh` :smile:

so I moved the problem here, we need improve docs

[2021-04-03 17:50] herrvigg commented on #4806
All right, but just a curiosity, if you change your webpack configuration (e.g. entries), how would output.clean be aware of what is generated by webpack or not? How does it differentiate for example the dummy file?

[2021-04-03 17:57] herrvigg commented on #4806
In fact it works as you described after understanding the expected behavior.
If I comment an entry, that output target is deleted with output.clean.
So I guess it's based on file information from the previous builds or with some kind of filter (e.g. .js files).

[2021-04-03 18:03] herrvigg commented on #4806
For the conclusion, I removed CleanWebpackPlugin, nice :)
An updated description in the documentation may certainly help other developers to understand this behavior.
Thank you for your help and your time!

[2021-04-05 12:34] meglio opened #4810 "Can we follow the Contribution Guide with using pnpm?"
Following the Contribution Guide with using pnpm fails with lots of errors like he following; is this expected?

<img width="531" alt="image" src="https://user-images.githubusercontent.com/282177/113574154-b2727280-965a-11eb-905f-e248d7734977.png">

[2021-04-05 12:54] chenxsan commented on #4810
We use yarn specific feature like 'resolutions' so I don't expect pnpm to work out of the box.

[2021-04-05 22:39] vivek1729 opened #4813 "Improve examples for compiler hooks"
**Compiler Hooks**

The compiler hooks api [doc](https://webpack.js.org/api/compiler-hooks/) has a section that points to an example usage
![image](https://user-images.githubusercontent.com/1658576/113634361-766feb00-9623-11eb-97f4-bbcab95787a9.png)

I noticed that the repo uses the deprecated `compiler.plugin` apis in its [example](https://github.com/pksjce/webpack-internal-examples/blob/master/c

[2021-04-06 11:22] #4704 closed

[2021-04-06 12:45] #4810 closed

[2021-04-06 16:13] webpack-bot opened #4818 "Document webpack change: feat: add colors flag to infrastructureLogging"
*A pull request by @KENNYSOFT was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13051

---

Fixes #12899

Since it's my first try of contribution to webpack, even if I looked carefully for impacted default values etc, there can exists some missed parts. Please review carefully for me to fix things. Thanks!

**What kind of chang

[2021-04-06 16:23] snitin315 commented on #4818
I will document it.

[2021-04-07 07:05] danielo515 opened #4824 "Search doesnt respect the V4 prefix"
It is not possible to search docs for V4. You go to V4 version of the docs, search for anything and it redirects you to the v5 docs, it is very frustrating.
Please, provide a way to search on the v4 docs, thanks.

[2021-04-07 13:03] chenxsan commented on #4813
No, I don't think so.

---

I think we can remove the outdated tip.

[2021-04-07 13:15] chenxsan commented on #4799
Generally we would avoid including documentations for third-party loaders or plugins that are not from `webpack` or `webpack-contrib`, readme from their own repositories could serve more up-to-date documentation.

[2021-04-08 07:15] YikaJ opened #4837 "__webpack_require__(null)"
webpack@5.31.0 still get this problem

![image](https://user-images.githubusercontent.com/8725110/113966327-7b21e280-9861-11eb-8e64-e316565b33a1.png)

`concatenateModules: false ` can fix it。

@Knagis @sokra  Could you reopen this issue?

_Originally posted by @YikaJ in https://github.com/webpack/webpack/issues/11856#issuecomment-815426944_

[2021-04-08 10:46] scott-ln opened #4832 "Resolve defaults are not documented"
The [documentation for Resolve](https://webpack.js.org/configuration/resolve/) begins:

On the Module Resolution page, the only instance of "default" is:

The word "defaults" links back to Resolve.

Please fix this circular reference issue by adding details of the defaults. They were present in [the old documentation](https://web.archive.org/web/20160604152028/https://webpack.github.io/docs/config

[2021-04-08 12:02] #4799 closed

[2021-04-08 22:25] vivek1729 commented on #4813
Thanks for the reply @chenxsan . I can remove the outdated tip. As an alternative, I'd also be happy to scaffold a tiny repo with an example for compiler hooks. I can link to that example instead. Please let me know if that's acceptable. Happy to submit a PR for either.

[2021-04-08 22:57] chenxsan commented on #4813
Thanks for your offer but we want to avoid linking to external repository because it's a maintenance burden. Users can always find real world examples from webpack plugins' repository if they want.

[2021-04-09 11:10] chenxsan commented on #4824
I think we need another `apiKey` from algolia https://github.com/webpack/webpack.js.org/blob/master/src/components/Navigation/Navigation.jsx#L115. Not sure know who owns the algolia account for webpack documentation. cc @webpack/documentation-team

[2021-04-09 15:15] alexander-akait commented on #4837
@chenxsan We need doc what plugins from `webpack.optimize` should be used only when `mode: 'none'`

[2021-04-09 16:13] chenxsan commented on #4837
Roger that. I'll see where to mention it.

[2021-04-10 04:07] chenxsan commented on #4806
Unfortunately I'm not able to reproduce the issue on macOS. Here's the repository I've set up https://github.com/chenxsan/webpack-js-org-issue-4806.

1. Clone it
2. Run `yarn` to install
3. Run `npx webpack` to build

As you can see, the `dist/dummy` file will be removed.

Am I misunderstanding the issue?

[2021-04-10 04:52] #4703 closed

[2021-04-10 05:29] #4196 closed

[2021-04-10 11:15] herrvigg commented on #4806
Thanks for testing!
Strangely I can't reproduce this with your project, in that case it removes also the dummy file indeed. How strange!
I was fine with the given explanation but now I see a difference in the behaviors of these two projects. I'll try to investigate to see if I we can find a better explanation.

[2021-04-10 12:29] chenxsan commented on #4805
`'...'` does work as expected in my test, here's an example https://codesandbox.io/s/webpack-forked-13d1z?file=/webpack.config.js.

Notice that we should inspect `resolve.byDependency` instead of `resolve.extensions` for the default value, the latter defaults to `[]`, i.e., that default value listed in documentation for [`resolve.extensions`](https://webpack.js.org/configuration/resolve/#resolveex

[2021-04-10 13:04] #4800 closed

[2021-04-10 17:48] glen-84 commented on #4805
@chenxsan,

Yes, it does work. I thought that it wasn't working because `.mjs` was not being included, but it was the documentation that was incorrect (hence this issue).

[2021-04-11 05:28] #4837 closed

[2021-04-11 06:42] #4805 closed

[2021-04-12 07:40] YikaJ commented on #4837
Thanks a lot.

[2021-04-12 13:00] webpack-bot opened #4849 "Document webpack change: add experimental support for build time execution of modules in the module graph"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13102

---

* add support for a pseudo `.webpack[type]` extension allows to set module type when no other type is set from module.rules

allows to execute a part of the module graph at build time
e. g. to generate code or other assets

loaders have acce

[2021-04-12 13:45] howdyAnkit commented on #3843
people getting those Error might need to take a Look into the link below there are few alternatives if you'd like to consider.

https://github.com/NekR/offline-plugin/issues/491

[2021-04-12 14:15] chenxsan commented on #4724
@anshumanv Any progress?

[2021-04-12 14:15] chenxsan commented on #4818
@snitin315 Any progress?

[2021-04-12 14:18] snitin315 commented on #4818
Thanks for the ping , I will send PR in near future.

[2021-04-13 23:49] vivek1729 commented on #4813
Thanks @chenxsan for the quick clarification. Have submitted a PR for the minor update.

[2021-04-14 00:48] chenxsan commented on #4813
Closed via https://github.com/webpack/webpack.js.org/pull/4866

[2021-04-14 00:48] #4813 closed

[2021-04-14 04:49] #4818 closed

[2021-04-14 16:23] webpack-bot opened #4873 "Document webpack change: allow to specify `publicPath` for each entrypoint"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13137

---

related to https://github.com/webpack-contrib/mini-css-extract-plugin/pull/737

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What ne

[2021-04-14 16:25] anshumanv commented on #4873
wip

[2021-04-14 18:08] webpack-bot opened #4875 "Document webpack change: fix passing publicPath to `this.importModule`"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13142

---

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* Second argument to `this.i

[2021-04-15 00:12] chenxsan commented on #4875
Related to https://github.com/webpack/webpack.js.org/issues/4849

[2021-04-15 00:16] chenxsan commented on #4873
Thank you for your interest in help, I'm assigning this issue to you now. However it would be great if you can finish it in maybe one week? I just want to make sure new issues are closed as soon as possible. If you can't make it, let me know and I'll revoke the assignment so someone else can take it over.

[2021-04-15 00:19] chenxsan commented on #4849
Thank you for your interest in help, I'm assigning this issue to you now. However it would be great if you can finish it in maybe one week? I just want to make sure new issues are closed as soon as possible. If you can't make it, let me know and I'll revoke the assignment so someone else can take it over.

[2021-04-16 11:33] skjnldsv opened #4880 "devtoolModuleFilenameTemplate `info.loaders` is undefined"
# Bug report

**What is the current behavior?**

The example given on the docs https://webpack.js.org/configuration/output/#outputdevtoolmodulefilenametemplate suggest using `webpack:///${info.resourcePath}?${info.loaders}`. But logging `info` shows that lots of the mentionned keys are not available

____
**If the current behavior is a bug, please provide the steps to reproduce.**

Have a webpack

[2021-04-16 11:34] alexander-akait commented on #4880
We need update out docs

[2021-04-16 11:44] #4724 closed

[2021-04-17 14:54] #4873 closed

[2021-04-18 11:25] usersavchenko opened #4886 "There is no Russian version of this site"
Is there any opportunity to translate manually English documentation to a different language ?
It gonna be cool to have such one. I would be able to add it.

@znarf  @jspears @eventualbuddha @kswedberg @Vinnl

[2021-04-18 14:44] chenxsan commented on #4886
Currently we have only a Chinese version translated by a group of volunteers from China https://github.com/docschina/webpack.js.org, and the website is hosted on their own server and domain https://webpack.docschina.org/. As far as I can see, we don't have enough resource to maintain translations in this repository. I think you can fork it and translate as you wish. When the site is ready, let us

[2021-04-19 05:23] snitin315 opened #4892 "Switch themes in mobile view as well"
**Feature to document**
Currently, no way in UI to switch between light and dark themes on mobile.

**Author(s)**
Any

**Additional information**

[2021-04-19 09:26] wlnirvana opened #4893 "index.html in getting started tutorial is not regenerated as stated"
The [getting started](https://webpack.js.org/guides/getting-started/) tutorial nicely points out that ideally `index.html` should not be in `dist/` folder, and suggests readers will be guided to programmatically generate this file later on.

https://github.com/webpack/webpack.js.org/blob/d49899f7ade166ccbd320633e8b7dcd23a39e2af/src/content/guides/getting-started.md#L147

Unfortunately, there are n

[2021-04-20 11:43] MartinDawson opened #4898 "Workers not bundling imported files for node environments"
# Bug report

**What is the current behavior?**

Webpack outputs the workers correctly but is not bundling the included relative imports in those web workers.

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack.config.js:
[code]
app.js

[code]

testWorker.js
[code]

Hello.js

[code]

Output:

![image](https://user-images.githubusercontent.com/15030491/115264696-7

[2021-04-20 11:43] alexander-akait commented on #4898
@MartinDawson Yep, let's add docs about it

[2021-04-21 06:37] webpack-bot opened #4903 "Document webpack change: reduce memory usage when using the filesystem cache"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13184

---

**What kind of change does this PR introduce?**
memory usage improvements

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* new opti

[2021-04-21 06:47] snitin315 commented on #4903
I will document it 👍

[2021-04-22 08:25] DYW972 commented on #4893
Hello,

I don't understand your question. Can you give more details?

I just started the `Getting Started Guide` and from now I can automatically generate the `index.html` file in the dist folder.

Maybe I did not understand your question well or maybe I did not understand the guide well.

Best regards

[2021-04-23 00:35] wlnirvana commented on #4893
@DYW972 I'm confused as well. Are you talking about [this page](https://webpack.js.org/guides/getting-started) as well? The current version explicitly stated that\

It mentions migrating to an automatic way, but does not really implement that. Did I miss anything?

[2021-04-23 00:41] chenxsan commented on #4893
It's in another guide here https://webpack.js.org/guides/output-management/#setting-up-htmlwebpackplugin, I think you are right, it's sort of confusing. Would you like to send a pull request to add a link?

[2021-04-23 05:03] chenxsan commented on #4886
I'm closing it at the moment, feel free to file a new issue once the site is ready.

[2021-04-23 05:03] #4886 closed

[2021-04-23 05:04] usersavchenko commented on #4886
Okay

[2021-04-23 05:22] chenxsan commented on #4892
See https://github.com/webpack/webpack.js.org/pull/4137#issuecomment-808094536. Anyway, if you have an idea, file a pull request and let's see how it works.

[2021-04-23 08:09] DYW972 commented on #4893
@wlnirvana Ok now I understand, Thanks to @chenxsan . Sorry my English is bad. You are right but in the second sentence you can read this:

And like @chenxsan said after the **Getting Started** guide, comes **Asset Management** and **Output Management** (where you will find the automatization of the index.html)

I'm agree with @chenxsan It can be confusing. Adding a link to the **Output Management

[2021-04-24 08:41] chenxsan commented on #4444
I'm closing this as this is webpack related.

[2021-04-24 08:41] #4444 closed

[2021-04-25 10:57] #4893 closed

[2021-04-27 00:41] #4849 closed

[2021-04-27 00:41] #4875 closed

[2021-04-28 00:27] chenxsan commented on #4903
@snitin315 It's been a while now, can you document it soon? Otherwise I'll take care of this.

[2021-04-28 02:06] snitin315 commented on #4903
@chenxsan go ahead 👍

[2021-04-28 19:00] webpack-bot opened #4920 "Document webpack change: performance improvements"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13242

---

**What kind of change does this PR introduce?**
performance

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* add `cache.profile` (`

[2021-04-28 20:20] anshumanv commented on #4920
will do

[2021-04-29 00:00] Slapbox opened #4924 "[Docs] output.globalObject indicates default value of 'window' - but that doesn't seem to be the default value"
# Bug report

**What is the current behavior?**
Our build fails to load on `iOS` with no `globalObject` key defined in our config, but when we define `globalObject: 'window'` it runs correctly.

Our config is otherwise like this:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Not sure how to answer this.

**What is the expected behavior?**
Explicitly defining

[2021-04-29 12:05] #4903 closed

[2021-04-29 12:34] alexander-akait commented on #4924
Need to fix docs, default value (https://github.com/webpack/webpack/blob/master/lib/config/defaults.js#L616) depend on `tp`

[2021-04-29 18:19] Slapbox commented on #4924
Thanks for your reply @alexander-akait. I see that the default is `'self'`, but that it's not quite that simple, so it's not clear to me what the docs should say, but if you can clarify I'd be happy to submit a PR.

I found these additional details related to what you mentioned but they didn't clarify it enough for me to know what the docs should say for `output.globalObject`.

[2021-04-29 18:27] alexander-akait commented on #4924
Each environment have own properties, for example `Node.js` is environment and in new version supports `globalThis`, so if you `browserslist` contain Node.js version which supported `globalThis` we will use `globalThis`, same for `global` (i.e. only Node.js), otherwise we will use salfe

[2021-04-30 14:44] tmkasun commented on #4283
Yes same here, there is very little documentation for `ModuleFederationPlugin` itself and its configuration.

[2021-05-02 10:43] khushal87 opened #4936 "Change the existing code to Typescript"
**Feature to document**
The repository currently uses JS in the codebase and I believe that if we move it to Typescript the code will be much more maintainable in the future and unlock new possibilities.

**Author(s)**
Any

**Additional information**
Adapting to Typescript will unlock strict type checking and makes the code more readable.

- [x]  I am willing to work on this issue and submit a pul

[2021-05-02 10:45] khushal87 commented on #4936
I want feedback of the community if I can proceed on it.

[2021-05-02 11:08] chenxsan commented on #4936
Generally I think it's a good idea. But I would love to collect more inputs from other maintainers. cc @webpack/documentation-team

[2021-05-02 11:51] khushal87 commented on #4936
@chenxsan Thanks, looking for the same.

[2021-05-02 12:40] arpitBhalla commented on #4936
@khushal87 Can we both work on this?, we can divide the work

[2021-05-02 12:41] khushal87 commented on #4936
Sure, let's wait for approval first. @arpitBhalla

[2021-05-05 13:01] chenxsan commented on #4920
Any progress?

[2021-05-05 13:19] anshumanv commented on #4920
forgot - here https://github.com/webpack/webpack.js.org/pull/4942

[2021-05-05 13:37] bdwain opened #4943 "MainTemplate plugin hooks stopped working in webpack 5 even though a compat layer is supposed to exist"
# Bug report

**What is the current behavior?**
The `mainTemplate` hooks that I used in a plugin in webpack 4 seem to no longer get called on the webpack runtime code in webpack 5.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

From what I can tell, the callback does get called still, but source is always empty, so my plugin doesn't actually do anything anym

[2021-05-05 13:48] #4388 closed

[2021-05-05 14:39] bdwain commented on #4943
@alexander-akait but aren't the old plugin hooks supposed to still work? I'm not sure this is just missing docs. According to the migration guide, the old one should still have worked.

[2021-05-05 15:33] bdwain commented on #4943
Also, I could look into making the docs PR though I'm unfamiliar with the hooks that would be required here

[2021-05-05 16:31] alexander-akait commented on #4943
@bdwain some changes are really breaking changes and don't work with old API, anyway if you provide code of plugin I can help with migration

[2021-05-05 16:33] bdwain commented on #4943
@alexander-akait i get that but the docs currently say this change was explicltly not supposed to break. but i guess if it was breaking then the docs just need updating.

the code of the plugin is in the original comment of this issue. it's pretty straightforward, i just dont know which hooks to use

[2021-05-05 16:35] bdwain commented on #4943
I'm trying to modify this code in the webpack runtime

[code]

[2021-05-05 16:40] alexander-akait commented on #4943
https://github.com/webpack/webpack/blob/master/lib/RuntimePlugin.js#L124

[2021-05-05 17:03] bdwain commented on #4943
Thanks. Would you mind clarifying a bit how to migrate this old plugin to use this new hook? The old one just got the source and was able to call `String.replace` on it. This new hook has a different signature. I see the one you linked to is calling `addRuntimeModule` and generating the portion of the relevant portion template, but I'd like to modify that code, not generate new code. If i was to g

[2021-05-05 17:07] alexander-akait commented on #4943
in this case maybe better replace code in bundled files using `compilation.hooks.processAssets`, example https://github.com/webpack-contrib/terser-webpack-plugin/blob/master/src/index.js#L651

[2021-05-06 05:04] #4920 closed

[2021-05-06 08:43] bdwain commented on #4943
thanks! this worked!

[code]

I will try to make a pr to document what I learned. Thanks again I appreciate the help.

[2021-05-06 14:05] vnues commented on #3471
must be use regex

[2021-05-07 15:18] DavidHenri008 opened #4951 "Migration documentation splitChunks wrong configuration"
# Bug report

**What is the current behavior?**
In your [migration guide form v4 to v5](https://webpack.js.org/migrate/5/) it is said:

However, this configuration generates an error saying the ```default``` and ```defaultVendors``` are not valid options under '''splitChunks'''.

**If the current behavior is a bug, please provide the steps to reproduce.**

Simply use the following configuration an

[2021-05-08 00:42] #4951 closed

[2021-05-08 17:03] khushal87 commented on #4936
Can I start on it? @chenxsan

[2021-05-09 00:43] chenxsan commented on #4936
Thanks for your patience, however there's no response from other members so far. I'll let you know when it's decided.

[2021-05-09 21:36] hetanthakkar1 commented on #4892
@chenxsan Can you assign it to me!

[2021-05-09 21:38] hetanthakkar1 commented on #4892
@chenxsan Can we implement this design, i.e. I will shift down the search bar button in next row and place the theme button like this https://elastic.github.io/eui/#/

![image](https://user-images.githubusercontent.com/38756320/117587689-c3704100-b13c-11eb-8354-1343abf46a6b.png)

[2021-05-10 09:27] webpack-bot opened #4960 "Document webpack change: Integrate Trusted Types in webpack"
*A pull request by @koto was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9856

---

*Edited*: Updated the description to match the newest rebase logic.

Note: This is a rebase of the PR #9426  for webpack 5. Recent changes introduce the compatibility with importScripts and the Worker loading code.

## Trusted Types
[Trusted T

[2021-05-10 10:13] chenxsan commented on #4960
I'll document it.

[2021-05-10 10:18] chenxsan commented on #4892
@hetanthakkar1 I'm not sure if it's a good choice, you may have a try.

[2021-05-10 10:57] koto commented on #4960
Thanks! Feel free to take in https://github.com/webpack/webpack.js.org/pull/4961 that I've created in the meantime.

[2021-05-10 12:12] #4960 closed

[2021-05-12 12:23] manasb-uoe commented on #2122
This example is so helpful, it would be great if it was part of the webpack docs :)

[2021-05-12 16:24] rdsedmundo opened #4972 "mode documentation options is outdated"
[Mode documentation](https://webpack.js.org/configuration/mode/) is outdated, I assume it wasn't updated for webpack v5.

I copied the production mode options and got:
[code]

[2021-05-13 01:37] snitin315 commented on #4972
You don't need to copy the whole configuration from https://webpack.js.org/configuration/mode/#mode-production,

You need the one only with the `+` sign to enable `mode` i.e,

[code]

[2021-05-13 05:28] rdsedmundo commented on #4972
I know, it was for debugging an issue.

[2021-05-13 08:40] snitin315 commented on #4972
Yep we should remove v4 config references. I will update 👍

[2021-05-18 15:43] tetchel commented on #4283
for me, I got lost trying to figure out how to use the OverridablesPlugin (https://webpack.js.org/concepts/module-federation/#building-blocks)
only to find out it was removed in https://github.com/webpack/webpack/pull/10960

[2021-05-18 16:00] tetchel commented on #4283
I think this is also supposed to be covered under https://github.com/webpack/webpack.js.org/issues/3757

[2021-05-19 14:17] webpack-bot opened #4996 "Document webpack change: support data urls as input in `new URL`"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13406

---

**What kind of change does this PR introduce?**
bugfix, feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `new URL("data:..

[2021-05-24 16:33] todortotev commented on #4936
count me in too

[2021-05-25 11:22] haakemon opened #5020 "Module Federation breaks in IE11 because its sometimes using incorrect host for loading scripts"
# Bug report

**What is the current behavior?**
When loading modules from a host with Module Federation in IE11, sometimes it tries to load from incorrect host.

I have investigated a bit, and I think I have found the source of the issue. It seems to be caused by IE11 not supporting `document.currentScript`, so it uses a fallback to figure out where to load the sources from (https://github.com/web

[2021-05-25 11:58] SeanKilleen opened #5015 "Suggestion: Revise "imposter syndrome" words"
(I'll submit a PR for this because I think it's important but understand others don't necessarily have time to prioritize this.)

I saw a conversation online where several folks had agreed that the webpack documentation had made them feel a little bit badly. It's actually quite common that the language we use can unintentionally discourage beginners and newcomers to the ecosystem.

Words like "sim

[2021-05-25 12:34] SeanKilleen commented on #5015
As I've just noticed, this is in line with the current [Writer's guide](https://webpack.js.org/contribute/writers-guide/) as well, so I will proceed.

[2021-05-26 05:30] #5015 closed

[2021-05-29 06:04] #4996 closed

[2021-05-31 00:38] #4972 closed

[2021-06-02 14:02] #5020 closed

[2021-06-09 17:15] russaa opened #5059 "Outdated documention for `NormalModuleReplacementPlugin` when using function replacement option (webpack5)"
the documentation for [NormalModuleReplacementPlugin](https://github.com/webpack/webpack.js.org/blob/2419dffba1adc6a03d49066e8acb16e3c32bb2ba/src/content/plugins/normal-module-replacement-plugin.md#advanced-example) is outdated with regard to the `Advanced Example` for `webpack5`:

The example in the documentation instructs to replace `resource.request` with the modified request, but in `webpack5`

[2021-06-10 12:28] Akazm opened #5067 "WebpackModuleFederation is verbose and documented poorly"
I'm currently working on several features demanding abilities like Module Federation should provide. I do need to use the dynamic module federation features specifically. I've encountered several barriers I haven't been able to overcome for several days now, so I decided to fill in a 'complain', hinting at some issues I discovered with provided examples.

Since I don't know how Module Federation w

[2021-06-10 12:29] alexander-akait commented on #5067
/cc @ScriptedAlchemy Maybe you can use here too :smile:

[2021-06-12 04:18] chenxsan commented on #5059
I believe you're talking about the `afterResolve` case while the example shows `beforeResolve` case:

[code]

[2021-06-12 04:18] #5059 closed

[2021-06-12 04:25] chenxsan commented on #4138
I'm closing this for two reasons:

1. Internet Explorer 11 desktop application will go out of support and be retired on June 15, 2022 as per https://techcommunity.microsoft.com/t5/windows-it-pro-blog/internet-explorer-11-desktop-app-retirement-faq/ba-p/2366549
2. We have 0.03% users in the last 30 days using IE

Anyway if anyone want to support it, feel free to file a pull request.

[2021-06-12 04:25] #4138 closed

[2021-06-12 05:58] ScriptedAlchemy commented on #5067
I can refine the docs a little. However I'm not sure I can reduce the verbosity.

I wrote a 150 page book on MF and that didn't even cover it all.

Definitely can address some of the glaring errors you outlined here though

[2021-06-12 15:45] alexander-akait commented on #5067
@ScriptedAlchemy Yep, I understand this, maybe just popular problems and solutions

[2021-06-12 20:16] ScriptedAlchemy commented on #5067
@alexander-akait happy to

Will start working on it the following week, traveling at the moment

[2021-06-15 11:57] alexander-akait opened #5087 "improve description `DefinePlugin`"
**Feature to document**

https://webpack.js.org/plugins/define-plugin/

**Author(s)**

Any

**Additional information**

It is not fully true. Here problems https://github.com/webpack/webpack/discussions/13571?converting=1

Thanks

[ ] I am willing to work on this issue and submit a pull request.

[2021-06-16 20:13] russaa commented on #5059
yes, of course, you are correct.

Ideally the description should explain, that the plugin is used during 2 phases and so on.

However, failing that, the advanced example should instruct to modify the result in a way that would work for both phases, e.g. changing it to something like
[code]

Or, alternatively, it should explicitly state that users should look into the source code of the plugin:
oth

[2021-06-17 04:46] #5087 closed

[2021-06-18 09:08] ucanuupnocannobb commented on #1521
hello

[2021-06-23 04:28] scinos opened #5103 "Document `resolve.conditionNames`"
**Feature to document**

Support for Custom Conditions (https://webpack.js.org/guides/package-exports/#conditions-custom)

**Author(s)**

?

**Additional information**

[Custom Conditions](https://webpack.js.org/guides/package-exports/#conditions-custom) says

but the [Resolve documentation](https://webpack.js.org/configuration/resolve/#resolve) doesn't mention `conditionNames`

[ ] I am willing t

[2021-06-23 09:23] cs09g opened #5105 "Keep pathname when selecting language dropdown list"
**Feature to document**
It's better to replace hostname only when selecting a language on the dropdown list(ENGLISH, 中文, 한국어).

When you search for something on google and enter the document site then change the language. it moves to the main page of the language. Actually, the pathname is the same and the difference is the hostname.

* [x] I am willing to work on this issue and submit a pull requ

[2021-06-23 11:00] chenxsan commented on #5105
Makes sense. Feel free to send a pull request.

[2021-06-23 11:22] #5103 closed

[2021-06-23 20:00] cs09g opened #5109 "Check lint on dev start"
![image](https://user-images.githubusercontent.com/7428017/123160309-fb430600-d4a8-11eb-836d-33b43c5eec94.png)

There are many lint errors on the current master branch. The reason It's possible is lint checking is not strict here. If no one runs lint before commit, lint would be the thing no one use.

It may be better to strict lint on dev-server start.

i.e, `"start": "npm run clean-dist && npm r

[2021-06-23 23:39] chenxsan commented on #5109
Which file? If you mean `printable.md`, it's generated automatically, there's no need to lint it. We have lint-staged to run `lint-js` on .js, .jsx, .md to make sure there is no lint issues when you're committing, so I think it wont be a problem. Besides, running lint at dev stage would introduce another overhead to the already long-running dev command.

[2021-06-23 23:50] cs09g commented on #5109
Oh, I see. It's in `printable.md` Then why is it not in .eslintignore?

[2021-06-24 00:06] chenxsan commented on #5109
It won't be generated in dev environment. Only when you run 'yarn build' will it be generated.

[2021-06-24 01:38] #5109 closed

[2021-06-26 01:24] #5105 closed

[2021-06-28 08:55] webpack-bot opened #5120 "Document webpack change: improvements to ESM support, `module` library, `import` chunk loading, `module` externals"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13622

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* [x] `output.library.type:

[2021-06-28 15:35] webpack-bot opened #5122 "Document webpack change: store cache after large changes"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13649

---

detect larger changes automatically and use shorter timeout

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no

**What needs to be documented

[2021-06-30 00:40] #5122 closed

[2021-06-30 14:13] #5120 closed

[2021-07-02 07:01] webpack-bot opened #5140 "Document webpack change: add cache compression"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13672

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `cache.compres

[2021-07-02 07:12] snitin315 commented on #5140
I will add it.

[2021-07-04 01:41] #4101 closed

[2021-07-04 02:24] chenxsan commented on #4368
Generally it's not possible with the current tech stacks, we can only count on github to add the support for single page application. See https://github.com/isaacs/github/issues/408

[2021-07-05 11:43] webpack-bot opened #5148 "Document webpack change: allow to disable runtime chunk per entry via `runtime: false`"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13706

---

and also via `ModuleFederationPlugin`.`runtime`

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your

[2021-07-07 00:15] chenxsan commented on #5148
Note, only `ModuleFederationPlugins` is documented in a separate page at the moment. We did mention `ContainerPlugin ` https://webpack.js.org/concepts/module-federation/#containerplugin-low-level, but it's poorly documented.

[2021-07-07 00:36] chenxsan commented on #5140
Do you need help?

[2021-07-07 00:38] snitin315 commented on #5140
I will send PR today.

[2021-07-07 11:20] #5148 closed

[2021-07-07 12:01] #5140 closed

[2021-07-08 10:15] chenxsan commented on #2539
Closed via https://github.com/webpack/webpack.js.org/pull/3714.

[2021-07-08 10:15] #2539 closed

[2021-07-08 10:15] #3734 closed

[2021-07-08 15:31] SevenOutman opened #5174 "`splitChunks.cacheGroups.defaultVendors` not extending default behavior"
# Bug report

I was trying to split my app code and all `node_modules` packages into two separate bundles and I wanted to name the dependencies bundle `vendors.js`.

Here's my configuration:

[code]

**What is the current behavior?**

The output app bundle contains only runtime scaffold and vendors bundle contains both dependencies and all my app
 code.

**If the current behavior is a bug, please

[2021-07-12 04:54] chenxsan commented on #4936
I'm closing this now. There's no interest from other maintainers so far, besides, I think JavaScript works quite good for this project as most of the code are markdown files, and we do have `prop-types`, e2e tests etc. to ensure the code not to break. Introducing TypeScript might improve the code quality but it would make the bar to contribute higher.

Thank you again for your interest to contribu

[2021-07-12 04:54] #4936 closed

[2021-07-12 04:55] chenxsan commented on #4178
We've introduced some examples running on stackblitz, see https://github.com/webpack/webpack.js.org/tree/master/examples. I think this can be closed now.

[2021-07-12 04:55] #4178 closed

[2021-07-12 05:07] chenxsan commented on #3538
Closing this as I don't think it's a good idea to hide sidebar navigation.

[2021-07-12 05:07] #3538 closed

[2021-07-12 05:16] #1949 closed

[2021-07-12 05:17] chenxsan commented on #1980
Closing it as the original pull request was closed.

[2021-07-12 05:17] #1980 closed

[2021-07-12 05:17] #2490 closed

[2021-07-12 09:43] yellow1912 opened #5173 "[v5 migration] Cache group "default" conflicts with existing chunk."
# Bug report

**What is the current behavior?**

I'm not exactly sure if this is a bug, so please let me know if I should move this somewhere else. I'm in the process of moving webpack from v4 to v5, and I run into the following error:

In my webpack config file, I use the below config:

[code]

I want to make sure everything is put into a single file. I know it's not optimized but the size of the

[2021-07-12 10:51] SevenOutman commented on #5174
I see. But why should it not be extending default behavior? It's not so straightforward from my point of view. You always need to search for the complete default config when you only need to overwrite one attribute in it.

[2021-07-12 11:03] alexander-akait commented on #5174
Because it was implemented, if we extend other developers ask why we extend, and we decided do not extend, like it happens in JS, when you change property of object, in webpack we have `...` syntax for merging/extending, but here blocker https://github.com/webpack/webpack/pull/13726/ for objects

[2021-07-12 11:59] SevenOutman commented on #5174
Thanks for your explanation! Keeping an eye on the PR now.

[2021-07-12 12:01] alexander-akait commented on #5174
Let's keep open here, we need improve our docs

[2021-07-15 13:57] #4892 closed

[2021-07-17 01:13] chenxsan commented on #5173
Unfortunately I'm not able to reproduce with the configuration you provided:

![CleanShot 2021-07-17 at 09 11 40@2x](https://user-images.githubusercontent.com/1091472/126021005-5d2a5043-1653-4f36-a77b-c618f379184b.png)

Could you share more? It would be much better if you can provide a reproducible repository.

[2021-07-18 00:48] chenxsan commented on #4102
Closed by https://github.com/webpack/webpack.js.org/pull/3870.

[2021-07-18 00:48] #4102 closed

[2021-07-18 00:49] #3479 closed

[2021-07-18 03:34] #4824 closed

[2021-07-18 03:58] chenxsan commented on #4824
FYI, It's live on v4.webpack.js.org now.

[2021-07-18 04:18] chenxsan commented on #3338
This seems to be a bug in Github pages, here's the result of bootstrap site which is hosted on github pages as well:

![CleanShot 2021-07-18 at 12 16 59@2x](https://user-images.githubusercontent.com/1091472/126055503-d0e2595b-ffd7-4d18-ab65-fcca0ed82e25.png)

It's redirected to http version first.

[2021-07-18 17:41] Luccasoli opened #5192 "[Docs.] Fix the correct code sequence in the splitchunksplugin guide"
**Feature to document**

In this documentation page: https://webpack.js.org/guides/code-splitting/#splitchunksplugin
I believe that should be a paragraph showing the change you should undo to keep doing the content explained in that topic

I noticed this because in this page: https://webpack.js.org/guides/code-splitting/#dynamic-imports
It expect that your code still is that code made in the last

[2021-07-19 00:34] chenxsan commented on #5192
Thank you for raise this issue, but the current version seems right to me.

At the end of [`Entry Points`](https://webpack.js.org/guides/code-splitting/#entry-points), we mentioned some pitfalls, and:

And there're two ways to remove that duplication.

I.e.,

1. Entry dependencies
2. SplitChunksPlugin

Which means both are based on the configuration of `Entry Points` section:

[code]
Hence there's

[2021-07-19 01:22] Luccasoli commented on #5192
I understand, but since I did the two approaches, one after the other, I thought I could have this warning to refactor the previous code, but as these are two different ways to change the initial code, it makes sense to leave it as is

Thanks for the response! :D

[2021-07-19 01:22] #5192 closed

[2021-07-20 00:57] chenxsan commented on #2208
Closing as it's not valid anymore.

[2021-07-20 00:57] #2208 closed

[2021-07-20 13:04] webpack-bot opened #5203 "Document webpack change: update webpack-sources for performance problem in hashing"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13828

---

add `stats.reasonsSpace` and `stats.groupReasonsByOrigin` to control large set of reasons
`detailed` preset limits all spaces to 1000 by default

fixes #13825

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for y

[2021-07-20 13:18] snitin315 commented on #5203
I will document it 👍🏻

[2021-07-22 10:06] webpack-bot opened #5213 "Document webpack change: Allow HMR status handlers to return a Promise"
*A pull request by @rockwalrus was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13576

---

This change allows handlers registered using `addStatusHandler` to return a `Promise`. The HMR system will wait until the promise settles before continuing. This allows asynchronous handling of state changes.

In our case, we use this t

[2021-07-22 10:39] snitin315 commented on #5213
On it.

[2021-07-23 00:07] #5213 closed

[2021-07-23 01:03] snitin315 opened #5223 "Move `infrastructureLogging` to it's own page"
Sometimes I think moving `infrastructureLogging` on own page with example will be a great idea because logging is main for many developers.

_Originally posted by @alexander-akait in https://github.com/webpack/webpack.js.org/issues/5216#issuecomment-884893314_

[2021-07-23 04:44] #5203 closed

[2021-07-31 11:04] scott-ln opened #5248 "Documentation for Module configuration needs many more examples"
[The documentation for `Module`](https://webpack.js.org/configuration/module/) is really hard to understand because it's a complex topic but almost no examples are provided. For example, the [Condition](https://webpack.js.org/configuration/module/#condition) section talks about:

An example is then given, but it doesn't include any of those. The example also doesn't have any indication of which li

[2021-07-31 11:20] Sombian opened #5249 "Webpack only emits file in development mode"
# Bug report

**What is the current behavior?**

Webpack only emits file in development mode.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

Webpack emits file regardless of current mode.

**Other relevant information:**
webpack version: 5.47.1
Node.js version: node-v16.6.0-x64
Operating System: Windows 10 Pro
Additional t

[2021-07-31 11:20] alexander-akait commented on #5249
Cc @chenxsan i think we should update all examples with close

[2021-07-31 16:56] Sombian commented on #5249
tried but still the same. I got working workaround though

[code]

[2021-08-01 10:12] chenxsan commented on #5249
Per https://webpack.js.org/blog/2020-10-10-webpack-5-release/#compiler-idle-and-close:

So in this specific issue, there seems no need to close compilers.

But there's indeed one example needs an update with the `close` method.

[2021-08-01 10:15] chenxsan commented on #5249
@Sombian Maybe you could create a reproducible repository so we can investigate?

[2021-08-01 14:32] Sombian commented on #5249
https://github.com/Any-Material/nozomi-material

[2021-08-03 09:19] scott-ln commented on #5067
This could probably be merged with #4283.

[2021-08-04 06:33] ScriptedAlchemy commented on #5067
@daodaoker https://module-federation.myshopify.com/products/practical-module-federation

[2021-08-05 06:28] summer-wu opened #5262 "css-loader documentation has a mistake: local value should use :local"
![image](https://user-images.githubusercontent.com/2476434/128301569-3703e9df-6148-4546-91af-a20864e76ae1.png)
Should be `:local`

[2021-08-05 11:25] chenxsan commented on #5262
Not really a mistake in my opinion. But it might be more suitable to use a normal "local" instead of one wrapped in `<code></code>`.

E.g.,

Anyway, You can file an issue over https://github.com/webpack-contrib/css-loader to see if they're willing to update. Since we're reading source from its readme, there's nothing can be done in this repository.

[2021-08-05 11:25] #5262 closed

[2021-08-06 08:10] webpack-bot opened #5274 "Document webpack change: add `experiments.buildHttp`"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/13925

---

* allows to build remote resources from the `http(s):` protocol
* During development:
  * creates and updates a lockfile `<name>.webpack.lock`
    * This file is expected to be committed to version control
  * persists remote resource conten

[2021-08-09 11:58] #5274 closed

[2021-08-09 17:01] aamir-mns opened #5283 "Question about cache option"
**Feature to document**
cache https://github.com/webpack/webpack.js.org/blob/master/src/content/configuration/cache.mdx

**Author(s)**

**Additional information**
Sorry not sure if this is a good place to ask the question. I am using the cache option with `type: 'filesystem',` but is there a way to exclude a folder in node_modules (regex or namespace e.g. @my-componay/folders)?
Something like
[cod

[2021-08-10 09:14] alexander-akait commented on #5283
No way, it is impossible, otherwise cache will be broken, if something will be changed and your build depend on it, please use https://webpack.js.org/configuration/cache/#cachebuilddependencies, also you can use https://webpack.js.org/configuration/cache/#cachemanagedpaths and remove `node_modules` if you need to do file snapshots (i.e. timestamp/hashing of content), feel free to feedback

[2021-08-10 09:14] #5283 closed

[2021-08-15 15:27] MateWW opened #5299 "NormalModuleReplacementPlugin module replacement function not working as on example in documentation"
# Bug report

**What is the current behavior?**

The example of a functional module replacer provided in documentation is no longer working.
https://webpack.js.org/plugins/normal-module-replacement-plugin/
Based on [source code](https://github.com/webpack/webpack/blob/c181294865dca01b28e6e316636fef5f2aad4eb6/lib/NormalModuleReplacementPlugin.js) I found out there are 2 changes required to replace

[2021-08-17 12:35] penguintree opened #5308 "[Module Federation] collision between modules of differents remotes."
# Bug report

**What is the current behavior?**
A host consumes two different remotes.
Both remotes have the same file structure, i.e. both exposes `./src/main.js` under different names.

remote package 1 :
[code]
remote package 2 :
[code]
host :
[code]

In the host app, when using both federated modules, the first one overrides the second.
[code]

**If the current behavior is a bug, please provid

[2021-08-17 15:21] pgonzaleznetwork opened #5300 "Documentation for cli serve command options is missing"
# Bug report

**What is the current behavior?**

The webpack docs for the cli `serve` command options are missing. Here's the link to the main page

https://webpack.js.org/configuration/dev-server/#usage-via-cli

Which reads

_A list of CLI options for serve is available here_

When you click on "here", it redirects to this page https://github.com/webpack/webpack-cli/blob/master/SERVE-OPTIONS.md

[2021-08-17 15:23] alexander-akait commented on #5300
@cheng-github in future we will always add `v` flag to options, so we should just change link

[2021-08-17 15:27] anshumanv commented on #5300
Thanks for the report, yep it contains the wrong link. Fix is here - webpack/webpack.js.org#5301

[2021-08-17 16:10] #5300 closed

[2021-08-19 09:02] wolf-wolf opened #5307 "description in guides should update"
In chapter Production, webpack.dev.js file.

[code]

property 'contentBase' should be replaced by 'static'

[2021-08-19 11:43] alexander-akait commented on #5308
@chenxsan @snitin315 Let's add this problem to https://webpack.js.org/concepts/module-federation/#troubleshooting

[2021-08-19 11:54] penguintree commented on #5308
Yes the error is the symptom. The function `doSometingWithPackage2` do exists in `remote-pacakge-2` and should be available.

[2021-08-19 12:00] alexander-akait commented on #5308
Change name in `package.json` for `remote-package-1` and `remote-package-2` and all will be work fine

[2021-08-19 12:56] penguintree commented on #5308
Thanks a lot.
I would have thought that the [name provided in ModuleFederationPlugin](https://github.com/penguintree/webpack-module-federation-module-cache-issue/blob/7ea88c88d44d9890aeb59c3374e8d576b0b43b83/remote-package-1/webpack.config.js#L6) would be sufficient to make to completely independant packages. It looks like both must be unique, the name in the plugin _and_ in package.json.

[2021-08-19 12:56] #5308 closed

[2021-08-19 12:57] alexander-akait commented on #5308
In theory you can create shared remotes between different builds, it is very exotic, but it is possible

[2021-08-19 13:34] penguintree commented on #5308
I ran in this issue while exploring how I could handle different remote packages version in a rather large federated application. I didn't found a lot of information about remote versioning apart from [a video from Jack Herrington](https://www.youtube.com/watch?v=ZFNxTy3fOO0) based on unpkg. Is there any official guidelines or documentation you are aware of about this ?

[2021-08-19 13:39] alexander-akait commented on #5308
I think better to open another issue about this and ask directly questions, so we will improve this, module federation is real big theme, so there are a lot of complex information

[2021-08-20 10:49] amcmillion3 opened #5315 "Asset Management Guide Bug"
I am learning webpack right now. I have been working through the guides in the official docs. I worked through the getting started guide and am halfway through the asset management guide. I am having trouble loading fonts using the guides directions. I have done the whole tutorial 3 times not following the guide to the letter and being extremely careful about everything. All three times I have got

[2021-08-21 01:10] chenxsan commented on #5307
Closed via https://github.com/webpack/webpack.js.org/pull/5317.

[2021-08-21 01:10] #5307 closed

[2021-08-21 17:30] KurtGokhan opened #5344 "Cannot set multiple static content directories with v4"
- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

In v3, it was possible to pass an array to `contentBase` option to serve static content from multiple directories.

[code]

In v4, the expected equivalent is this

[code]

But this outputs an error: `options.static.directory should be a non-empty string`

### Please paste the results of `webpack-cli info` and `webpack-cli

[2021-08-22 04:25] chenxsan commented on #5315
Could you push your code to github so we can check what's going on?

[2021-08-23 12:39] alexander-akait commented on #5344
@snitin315 Let's improve our docs

[2021-08-23 12:45] snitin315 commented on #5344
I will update 👍, and I think we should add this in migration guide as well.

[2021-08-23 13:32] #5344 closed

[2021-08-23 14:17] DafnierWolf opened #5348 "Exaple"
**Feature to document**

**Author(s)**

**Additional information**

[ ] I am willing to work on this issue and submit a pull request.

[2021-08-23 14:18] #5348 closed

[2021-08-23 15:44] nikhilnayyar002 opened #5349 "update Hot Module Replacement Plugin guide"
**Feature to document**

**rewrite/update notes regarding enablement of HMR feature in webpack-dev-server projects.**

Incorrect/confusing information source:
https://webpack.js.org/guides/hot-module-replacement/#enabling-hmr
https://webpack.js.org/configuration/dev-server/#devserverhot

Comments:
https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/481#issuecomment-903857926
https://gith

[2021-08-24 01:41] DafnierWolf opened #5357 "pip install pip"
**Feature to document**

**Author(s)**

**Additional information**

[ ] I am willing to work on this issue and submit a pull request.

[2021-08-24 01:44] #5357 closed

[2021-08-26 19:51] AprilArcus opened #5371 "incorrect default for idleTimeoutForInitialStore"
Docs [incorrectly claim](https://github.com/webpack/webpack.js.org/blob/4db15f6f03f5ff286192bc41da319b0171baea4e/src/content/configuration/cache.mdx#L196) the default value for idleTimeoutForInitialStore to be 0. The [true default](https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L320) is 5000, changed in https://github.com/webpack/webpack/pull/13649.

[2021-08-29 16:58] kobiburnley opened #5378 "Add `nestedModules` stats option to docs"
**Feature to document**

Stats option `nestedModules`

**Additional information**

Relevant PR (not to be merged) - https://github.com/webpack/webpack.js.org/pull/5377/files

Option usage example - https://github.com/webpack/webpack/blob/c181294865dca01b28e6e316636fef5f2aad4eb6/test/statsCases/side-effects-simple-unused/webpack.config.js#L7

[2021-08-31 13:26] #5378 closed

[2021-09-02 15:24] webpack-bot opened #5399 "Document webpack change: add importModule to loader context by default"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14117

---

always enable experiments.executeModule and remove it

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
already existing

**Does this PR introduce a breaking change?**
no

**What needs to be do

[2021-09-03 12:20] scott-ln opened #5404 "Docs for module context options mention deprecation but not alternative"
**Feature to document**

Whatever the replacement for [module context options](https://webpack.js.org/configuration/module/#module-contexts) will be

**Additional information**

The documentation for module context options says "Avoid using these options as they are deprecated and will soon be removed." It's hard to know what to do after reading this as no further explanation is provided - will th

[2021-09-04 01:39] #5371 closed

[2021-09-04 12:14] #5399 closed

[2021-09-07 12:24] DiamondeX2 opened #5419 "The page "Getting started" is not working right now"
Please, check it:
https://webpack.js.org/guides/getting-started/

[2021-09-07 12:47] snitin315 commented on #5419
works for me, please check again!

[2021-09-07 12:49] alexander-akait commented on #5419
Yes, fixed, something wrong with servers

[2021-09-07 12:49] #5419 closed

[2021-09-07 13:14] DiamondeX2 commented on #5419
Now it works, yes. Thanks

[2021-09-08 15:55] congxiaobai opened #5426 "a question about Module Formats"
Use webpakck5 ,I find that webpakck5 could parse  both ESM and Commonjs without  finger out the moudle type explicitly.
I really curious about the what happened under the hood .  Can you tell me please?

[2021-09-08 15:55] alexander-akait commented on #5426
Maybe we can describe simple examples what happens from source code to bundle

[2021-09-09 03:42] congxiaobai commented on #5426
I will appreciate it。

[2021-09-11 04:19] #4441 closed

[2021-09-11 16:23] JamieSlome opened #5445 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-11 16:29] alexander-akait commented on #5445
What is package affected? You can DM https://twitter.com/alexander_akait or send a mail to sheo13666q @ gmail.com

[2021-09-14 07:56] trusktr commented on #4376
I just updated to Webpack 5 from Webpack 4 and I hit this problem.

In Webpack 4, `libraryTarget: 'var'` with `library: ''` (empty) was a convenient way to specify for Webpack not to do anything with the exports. From the docs:

Now in Webpack 5 this feature is removed, and there's no clear way to do this that I can see in the docs.

Example use case: an entry point exports stuff, but we do not wa

[2021-09-14 08:01] trusktr commented on #4376
The non-ideal workaround to this (as far as I currently know) is to create a dummy variable that you won't use. F.e.:

[code]

but seeing this in the output is odd.

[2021-09-14 10:24] chenxsan commented on #5299
In your `src/index.js`, you're using `./moduleToBeReplaced` while in the `webpack.config.js` webpack is testing against `/moduleToBeReplaced\.js/`. `/moduleToBeReplaced\.js/.test('./moduleToBeReplaced')` would be `false`. Thus the old module is not replaced with the new one.

So either import the code with `import {sharedFunction} from './moduleToBeReplaced.js';` or update the regular expression i

[2021-09-14 10:33] chenxsan commented on #5299
@MateWW I've filed a pull request https://github.com/webpack/webpack.js.org/pull/5450 adding a note, let me know if it helps.

[2021-09-14 12:03] webpack-bot opened #5451 "Document webpack change: add options to warn on using Node.js features"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14212

---

**What kind of change does this PR introduce?**

fixes #14210 #14229

**Did you add tests for your changes?**

yes

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

new experi

[2021-09-14 21:21] maicoqb commented on #3479
Thansk @anikethsaha

[2021-09-15 00:55] #5451 closed

[2021-09-15 08:16] peterkmurphy commented on #5067
The problem I am having with Webpack Module Federation is that while there are lots of neat examples around the web, it is *not* a substitute for adequate documentation. For example, take this example from here:

https://github.com/paloitsingapore/webpack-module-federation/blob/main/subA/webpack.config.js

Yes, the project works, but when I try to adapt this code to my project:

[code]

I am at a

[2021-09-15 13:33] #5299 closed

[2021-09-15 23:44] peterkmurphy commented on #5067
After a good night's sleep, I thought I'd add this.

Like many programmers, I trust webpack to do its thing. I'm from React world, with create-react-app to set up the essentials. I *don't want* to touch the webpack configuration. It works. I don't want to break it.

But microfrontends are starting to be a *thing*, and so people are looking around, and Webpack Module Federation is one of those tech

[2021-09-16 02:01] ScriptedAlchemy commented on #5067
https://github.com/sokra/slides/blob/master/content/ModuleFederationWebpack5.md

[2021-09-16 02:09] ScriptedAlchemy commented on #5067
I've got tons of content about MFP. PR process for webpack docs is a little bit tedious and don't really have time to deal with it.

That said. Some basics like what does each key does on the api could be helpful.

I kind of expected developers to know what filename does tho, but I get the point about cracking open a config for the first time. If you don't know basic options of webpack then it's a

[2021-09-16 04:17] peterkmurphy commented on #5067
Thank you for getting back to me, @ScriptedAlchemy, and thanks for providing the slides. I guessed `filename` is the name of a file, and I furthermore guessed the endpoint will occur at `${host:domain}/${filename}`. But I am *guessing*. When I take the code above and put it in another project that I made, I am not getting the endpoint happening.

I set my `filename` to `remoteEntry.js`, and point

[2021-09-16 18:07] alexander-akait opened #5464 "Should `checkResource` have been made required? If so, https://webpack.js.org/plugins/ignore-plugin/ needs updated as well."
Should `checkResource` have been made required? If so, https://webpack.js.org/plugins/ignore-plugin/ needs updated as well.

_Originally posted by @KyleAMathews in https://github.com/webpack/webpack/issues/14211#issuecomment-921122866_

[2021-09-16 18:36] KyleAMathews commented on #5464
we can close this

[2021-09-16 18:41] #5464 closed

[2021-09-17 05:58] ScriptedAlchemy commented on #5067
It's actually 4 plugins under the hood, webpack is mostly just a bunch of plugins.

Options are not required. Technically none are since the api activates different parts of the plugin (sub plugins) depending on what options you add.

Set publicPath to auto. Look in your build output file and see where the remote entry is ending up.

Have you looked at module-federation-examples? Thats the "offici

[2021-09-17 13:04] antoinetissier opened #5476 "With module federation, submodules of shared modules are not actually shared if they are imported individually"
# Bug report

**What is the current behavior?**
Importing a submodule of a shared module yields a different instance of the submodule in each `ModuleFederationPlugin`, instead of a single shared instance.

**If the current behavior is a bug, please provide the steps to reproduce.**

I created a repository to showcase the issue: [module-federation-with-shared-submodules](https://github.com/antoinet

[2021-09-17 13:05] peterkmurphy commented on #5067
Thank you for getting back to me. My point is that I don't (well, *didn't*) need everything. Documenting an API should not take 200 pages. *Perhaps* it could take 20 or more pages; I'll concede that. But it shouldn't take 200 pages.

I once wrote a learning guide for CSS that covered quite a lot - paragraph styling, page layout, and even stuff like media queries and font loading; it came to just o

[2021-09-17 13:34] Akazm commented on #5067
He's got a point: Maintaining open source can become tiresome and he does not owe anyone of us anything. It's an issue with Open Source in general that people start to raise their expectations.

And I think that is an issue with webpack in general. It's powerful, useful, but full of people with specialized niche knowledge, which they themselves seem to consider to be common knowledge. Webpack conf

[2021-09-17 14:41] peterkmurphy commented on #5067
Of course he doesn't owe us anything, @Akazm. But I'm trying to hint pretty strongly that he actually has some control over whether Module Federation is *used* or *not*, one way of getting stuff into the *used* column is actually providing **useful** documentation, and here's a way forward that suggest themselves. There's enough documentation on Webpack itself, which is used hundreds of thousands

[2021-09-17 14:49] Akazm commented on #5067
I basically agree with you on this, that's why I did submit this issue in the first place :).

But eventually, it's up to him or any contributor to acknowledge this issue or to leave it untouched. I've given up on trying to use Module Federation a while ago and I'm totally fine with that without expecting anything.

It isn't.

[2021-09-18 01:20] ScriptedAlchemy commented on #5067
I’ll opening a pr, will reference this thread - could use some guidance one what’s helpful or missing. During the review.

yeah 77 contributors to the MF examples but very few work on webpack itself unfortunately.

200 page book, fair point. But what the api keys are vs leveraging the mechanism is very different. That said an extra paragraph would probably save users a lot of time and head scratch

[2021-09-18 09:09] Akazm commented on #5067
Could you add a link here in case GitHub won't notify us?

Don't worry about that, it's not your fault, it's my own laziness.

[2021-09-20 00:32] peterkmurphy commented on #5067
@ScriptedAlchemy: I am very pleased that you are opening a PR. I would also be willing to help with guidance and wording.

One bit of advice I'd add is maybe add a one or two line summary of what Webpack Module Federation does to the [official docs](https://webpack.js.org/concepts/module-federation/), before you start with the Motivation. Something like:

As for *using* Webpack Module Federation,

[2021-09-20 11:46] antoinetissier commented on #5476
It's working !
When you add the documentation, would you mind adding a link to it in this issue ?

In any case, thanks a lot 👍

[2021-09-20 15:47] alexander-akait opened #5477 "npx doesn't work with `webpack`"
**Feature to document**

We need to change `npx webpack build` to `npx webpack-cli build` (for other commands too).

Places - https://webpack.js.org/api/cli/ + all package where we use `npx`.

Why? When you run `npx webpack build`, npm install `webpack` in temporary directory, inside `webpack` we ask to install `webpack-cli` and if developer ask `yes`, we run `npm i -D webpack-cli`, but `webpack-c

[2021-09-20 15:53] anshumanv commented on #5477
Fix here - #5478

[2021-09-20 19:16] chenxsan commented on #5477
1. When we use 'npx webpack' in our document, we're actually meaning 'node_modules/.bin/webpack'. The former is used only because it's shorter than latter, not because it covers both cases when webpack is either installed or not. If it's causing problems now, we can use the latter explicitly so users would know that they should install the packages first.
2. Generally i don't think it's a good ide

[2021-09-21 07:11] alexander-akait commented on #5477
@chenxsan Okay, sounds reasonable, let's add note about that developer should install `webpack-cli` to use `webpack` as command and do not rely on `npx` behaviour

[2021-09-21 07:35] anshumanv commented on #5477
What would be the apt place for the note? I'll modify the PR to revert to the original command and add a note instead.

[2021-09-21 09:54] chenxsan commented on #5477
@anshumanv How about the cli page https://webpack.js.org/api/cli/? I think it could be the most relevant page.

[2021-09-21 09:57] anshumanv commented on #5477
Yeah CLI page sounds good, let me add the note there :+1:

[2021-09-23 09:21] maheshjag commented on #4121
@jandreola Were you able to find a solution at all?

[2021-09-24 06:43] webpack-bot opened #5491 "Document webpack change: allow to configure all hash functions used"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14306

---

fix default hash function for HttpUriPlugin to sha512

add xxhash64 hash function

use xxhash64 as future default

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
no

**Does this PR introduce

[2021-09-24 09:36] snitin315 commented on #5491
I will document it.

[2021-09-24 16:42] webpack-bot opened #5492 "Document webpack change: add `experiments.cacheUnaffected`"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14319

---

add MemCache for memory caching per module which is invalidated when module or any referenced modules changes

add `cache.cacheUnaffected` (type: memory) resp `cache.memoryCacheUnaffected` (type: filesystem)

**What kind of change does this

[2021-09-25 14:30] #5491 closed

[2021-09-26 10:44] #5492 closed

[2021-10-04 13:00] #5477 closed

[2021-10-05 14:43] bhallstein opened #5532 "devServer.index treated as invalid option in webpack config"
# Bug report

**What is the current behavior?**

With dev server, when trying to proxy root ('/'), the docs say ([link](https://webpack.js.org/configuration/dev-server/#devserverproxy)):

_Note that requests to root won't be proxied by default. To enable root proxying, the devServer.index option should be specified as a falsy value:_

[code]

(I'm unclear why in this example the sample code has in

[2021-10-05 14:54] alexander-akait commented on #5532
You don't need this option anymore, remove it

[2021-10-05 15:07] snitin315 commented on #5532
Yep, I will update the docs here.

[2021-10-05 15:11] bhallstein commented on #5532
Ah, thanks @alexander-akait and @snitin315. Without the `index: false` I just needed this to proxy everything including root:

[code]

[2021-10-05 15:17] alexander-akait commented on #5532
Let's keep open, we should update our docs

[2021-10-05 20:32] alexander-akait opened #5538 "> There is no such placeholder"
<img width="1027" alt="截屏2021-06-28 下午11 09 37" src="https://user-images.githubusercontent.com/11417330/123660740-7ff5a180-d866-11eb-8f85-cfa29146355d.png">

Putting [ext] in Output related configuration items in the document can easily mislead developers. As of 2021-06, people are still misled by this document, which is enough to show that the document needs to be revised.

_Originally posted by

[2021-10-05 20:33] alexander-akait commented on #5538
We should improve docs and say you can't use it for `output.filename`

[2021-10-06 01:36] #5538 closed

[2021-10-12 11:55] ShaileshKumar007 opened #5562 "Create template for Bug Report"
I think it'll be good if we have a template for Bug Report so that it'll be easy for everyone to contribute to this project.

[2021-10-14 06:20] mennya opened #5572 "moduleExtensions is depracated missing in doc"
moduleExtensions is depracated but there is no infro in doc now, but it was before, see commit:

https://github.com/webpack/webpack.js.org/commit/b67859ce748d11aac988eabccd9c873741ea4b19

[2021-10-14 10:26] K-Thompson opened #5573 "Guides - webpack-dev-server autoReload does not work without changes"
**Feature to document**

[Guide: Using webpack-dev-server](https://webpack.js.org/guides/development/#using-webpack-dev-server)

**Author(s)**

**Additional information**

For liveReload to work, `hot` must be set to `false`.

Or other options must be configured and possibly one more module installed.

You can see the Stackoverflow answer [here which has details](https://stackoverflow.com/question

[2021-10-15 08:38] #5572 closed

[2021-10-16 07:35] mennya commented on #5572
Yes but where can i find info about moduleExtensions deprecation?

[2021-10-18 06:38] mennya opened #5583 "Change the documentation on new compilation hook"
Could you pls fix the documentation https://github.com/webpack/webpack/issues/12795#issuecomment-803283485

[2021-10-18 08:05] mennya commented on #5572
@snitin315 should it also be here? https://webpack.js.org/blog/2020-10-10-webpack-5-release/ and here https://github.com/webpack/changelog-v5  ?

[2021-10-18 09:43] snitin315 commented on #5572
Added in https://github.com/webpack/webpack.js.org/pull/5584

[2021-10-19 07:49] webpack-bot opened #5590 "Document webpack change: improve buildHttp"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14510

---

allow multiple configurations to write to the same lockfile
add allowedUris for allowlisting
add schema validation

**What kind of change does this PR introduce?**
feature (experiment)

**Did you add tests for your changes?**
no

**Does this

[2021-10-19 12:47] webpack-bot opened #5593 "Document webpack change: add splitChunks.minSizeReduction"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14516

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `splitChunks.minSizeReduc

[2021-10-19 13:33] #5590 closed

[2021-10-25 08:39] m-nathani opened #5617 "Gettings 404 on https://v4.webpack.js.org/guides/web-workers/#root"
# Bug report

**What is the current behavior?**
worker docs not found in the webpack link for v4.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
go to the url and see page not found error :  https://v4.webpack.js.org/guides/web-workers/#root
or search for worker and open the first link on results.

**What is the expected behavior?**
should show the documentat

[2021-10-25 16:18] webpack-bot opened #5618 "Document webpack change: feat: add lazyCompilationBackend options"
*A pull request by @cgatian was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14236

---

Support customizing `lazyCompilationBackend` port and allow HTTPS

Fixes #14053, #14205

**What kind of change does this PR introduce?**
Feature.
Adds a new property to allow passing options to the `lazyCompilationBackend`. This allows the

[2021-10-27 00:16] #5617 closed, assigned to nobody

[2021-10-28 13:13] #5618 closed, assigned to chenxsan

[2021-11-01 02:08] hnakamur opened #5645 "Links for plugins at v4 leftside menu are wrong for ProfilingPlugin and plugins after that"
# Bug report
## What is the current behavior?

The link of ProfilingPlugin at the left side menu in the v4 plugins page https://v4.webpack.js.org/plugins/
is https://v4.webpack.js.org/plugins/printable/
The link of ProgressPlugin is https://v4.webpack.js.org/plugins/profiling-plugin/
The link of ProvidePlugin is https://v4.webpack.js.org/plugins/progress-plugin/
And so on.

## What is the expected

[2021-11-03 10:35] webpack-bot opened #5654 "Document webpack change: split chunks `chunks` filter also affects fallbackCacheGroup"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14615

---

**What kind of change does this PR introduce?**
bugfix, feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
add `splitChunks.fa

[2021-11-03 15:30] webpack-bot opened #5655 "Document webpack change: add client types"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14597

---

**What kind of change does this PR introduce?**

feature

client types

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

nothing

**What needs to be documented once your changes are merged?**

this

[2021-11-05 08:26] akgupta0777 opened #5663 "Webpack css-loader docs is uncomfortable to read"
Go to this link https://webpack.js.org/loaders/css-loader/#options
I am viewing it on a 15.6 inch laptop screen fairly big but still the options table is very uncomfortable to read as the description is totally stripped out (See below image for reference)

![image](https://user-images.githubusercontent.com/51379307/140480338-a8600158-03f3-42f3-9edb-1940a1dd3405.png)

For reading any of the options

[2021-11-05 09:18] snitin315 commented on #5663
The docs for loaders and plugins are fetched from their README.md in GitHub - https://github.com/webpack-contrib/css-loader

It would be nice if we can improve this behavior here.

[2021-11-05 13:29] webpack-bot opened #5664 "Document webpack change: allow to disable some deprecations"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14653

---

fixes #14580

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
add `experime

[2021-11-05 14:51] webpack-bot opened #5665 "Document webpack change: Allow ignoring errors and warnings from import-exports"
*A pull request by @markjm was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14404

---

Also fixes #14367

**What kind of change does this PR introduce?**

performance

**Did you add tests for your changes?**

not yet

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged

[2021-11-06 11:55] #5445 closed

[2021-11-07 00:29] chenxsan commented on #5645
I believe it's fixed now, let me know if if I was wrong.

[2021-11-07 00:29] #5645 closed

[2021-11-07 00:31] chenxsan commented on #5663
Sort of difficult to improve for such a case, we can always have some wider tables no matter how wide the page is. But feel free to send a PR if you have a good idea.

[2021-11-07 00:31] #5663 closed

[2021-11-07 04:24] akgupta0777 commented on #5663
@chenxsan we can shift the description column in place of default column.
As default column content is short even it is stripped out the reader can see it comfortably in my opinion.

If you like this idea I can send a PR for this.🙂

[2021-11-07 04:26] akgupta0777 commented on #5663
Description is kinda more important than the default values of options. Let me know what you think about this.

[2021-11-07 09:06] chenxsan commented on #5663
As @snitin315 said, the readme is fetched from https://github.com/webpack-contrib/css-loader/blob/master/README.md, if you want to make a change, file an issue over that repository to see how maintainers over there think.

[2021-11-08 05:03] #5655 closed

[2021-11-08 05:12] #5664 closed

[2021-11-08 05:23] #5654 closed

[2021-11-09 19:29] webpack-bot opened #5677 "Document webpack change: add `chunkLoading: false` support"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14692

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `chunkLoading: false` dis

[2021-11-10 16:06] webpack-bot opened #5679 "Document webpack change: add `asyncChunks: boolean` option to disable creation of async chunks"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14701

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `output.asyncChunks: bool

[2021-11-10 16:18] anshumanv commented on #5679
wip

[2021-11-14 09:38] #5593 closed

[2021-11-20 08:13] kievsash commented on #5664
![image](https://user-images.githubusercontent.com/15340874/142719466-089908c9-d970-449d-a144-7de83435c359.png)
Trying to use it with latest webpack 5.64.1 and got an error

[2021-11-21 21:00] stefanprobst commented on #4106
for directories, I am seeing empty objects in `compiler.contextTimestamps` - is that expected?

is there also anything like `addedFiles`?

[2021-11-22 11:03] vankop opened #5714 "improve Worker docs"
@vankop hm, you are right, handling all `stringify` methods maybe be difficult, and even unsafe in edge cases, maybe we can docs it as limitation, I don't see any big reasons to use `toString()`, also ts update their types and now it works fine with `new URL()`

_Originally posted by @alexander-akait in https://github.com/webpack/webpack/issues/13043#issuecomment-975402064_

[2021-11-25 13:19] malopgrics commented on #4106
I done a `console.log` of each keys in `compiler` that contains the string `file` or `File`, and it output this :
[code]

[2021-11-26 01:31] #5665 closed

[2021-11-26 15:20] #5677 closed

[2021-11-29 11:50] projektorius96 opened #5735 "Webpack v4 to Webpack v5 – loaders via CLI deprecation note"
**Feature to document**

Hereby I am making a docs issue per recommendation basis by @alexander-akait

URL to the [short discussion issued by me](https://github.com/webpack/webpack/discussions/14856) about how it would be nice if CLI configs for Loaders deprecation would be emphasized in documentation for Webpack v5 as well ✅

Thank you.

[2021-11-29 20:45] webpack-bot opened #5743 "Document webpack change: set hashDigestLength=16 for futureDefaults"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14860

---

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

updated existing

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

`experime

[2021-12-06 13:52] webpack-bot opened #5756 "Document webpack change: improve runtime template"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14784

---

**What kind of change does this PR introduce?**

refactoring, feature

- add optional chaining support check ( needed to fix #12960 )
- add template string support check ( was in `TODO` before )
- use template string in asset generator ( co

[2021-12-06 16:08] mauriciabad opened #5758 "Add TypeScript documentation in "Writing a Plugin""
**Feature to document**

I'm having a lot of trouble creating a plugin that uses TypeScript, because I can't find any place where someone explains how to do it.

So, I request an official documentation about how to set up TypeScript when [writing a plugin](https://webpack.js.org/contribute/writing-a-plugin/). There's already a [documentation for using TypeScript](https://webpack.js.org/guides/type

[2021-12-06 16:23] mauriciabad opened #5759 "Add documentation about writing tests in "Writing a Plugin""
**Feature to document**

I recently created [a plugin](https://github.com/mauriciabad/next-gen-images-webpack-plugin), but I can't manage to add tests to it. And it's a very important thing to have.

I'd like to request an official documentation that explains how to set up the tests when [writing a plugin](https://webpack.js.org/contribute/writing-a-plugin/), accompanied by some examples. My prefe

[2021-12-06 16:27] alexander-akait commented on #5759
Like you test other tools, run compilation and compare output based on what your plugin do

[2021-12-09 13:23] thw0rted opened #5768 "Docs for `mimeTypes` option show wrong syntax"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [X] Wrong
- [ ] Not Sure?

### Please Explain in Detail...

The [docs page for DevServer](https://webpack.js.org/configuration/dev-server/#devserverdevmiddleware) shows an example of passing `mimeTypes` to the dev middleware, but the syntax is backwards.  I'm not sure why, but the dev middleware wants `mimeTypes: { "extension": "mime/

[2021-12-09 14:11] #5768 closed, assigned to nobody

[2021-12-14 03:24] gujiwuqing opened #5786 "Documentation error"
# Bug report
![image](https://user-images.githubusercontent.com/44566835/145927476-2d7e5e05-f183-4325-8b5a-7792c613ea52.png)
这个插件的文档已经更新 现在应该是const { CleanWebpackPlugin } = require('clean-webpack-plugin');
希望有空麻烦更新一下

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:**
w

[2021-12-14 09:57] #5756 closed

[2021-12-15 02:12] #5743 closed

[2021-12-17 17:40] millefalcon commented on #3310
I was trying out webpack for the first time today, and I came across this issue. Though I added the meta tag and checked the source was getting updated, it didn't work out until I hit Hard Reload / Empty Cache. Thanks @ryanlelek

[2021-12-17 22:43] webpack-bot opened #5799 "Document webpack change: Initial work towards native css support"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14894

---

**What kind of change does this PR introduce?**
experiment

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `experiments.css: true

[2021-12-22 07:35] gujiwuqing commented on #5786
I'm really sorry that I can't see what I saw on webpack's official website. It should be removed

[2021-12-22 07:35] #5786 closed

[2021-12-23 18:16] mattgodbolt commented on #4314
In my experience while that gets the worklet to be recognised, if you actually try to import a script, webpack uses `importScripts` which isn't valid in a worklet context, leading to:

[code]

in worklets that try any kind of importing.

[2021-12-25 01:15] #5799 closed

[2021-12-29 09:40] thheller opened #5820 "Mistake on Package exports documentation page"
On https://webpack.js.org/guides/package-exports/ an example is listed for `package/other-prefix/deep/file.js` supposed to resolve to `.../package/yet-another/deep/file/deep/file.js` using the ` "./other-prefix/*": "./yet-another/*/*.js"`.

This appears to be incorrect (at least `enhanced-resolve` fails to resolve this example) or there is some abiguity here that should be cleared up. I don't know

[2022-01-10 23:33] webpack-bot opened #5855 "Document webpack change: Enhancement: Improve CJS → ESM support"
*A pull request by @JakobJingleheimer was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/14998

---

In order for Node.js to detect named exports in CJS, they must be statically available. However, without this change, webpack does not produce exports that way—webpack will respect source code that is originally written in such a

[2022-01-10 23:51] JakobJingleheimer commented on #5855
I'll look into this later this week

[2022-01-14 18:57] Brian-Bartels opened #5879 "[Documentation] Poll option doesn't describe default value"
The [documentation here](https://webpack.js.org/configuration/watch/#watchoptionspoll) does not explain what the default polling interval is. so it is difficult to understand how to tweak these numbers to better improve local build perf.

Happy to make a PR if someone can explain the default configuration.

[2022-01-17 17:03] djskinner commented on #143
For any future travelers, this StackOverflow answer offers some explanation of why this entry appears: https://stackoverflow.com/a/45068039/120497

[2022-01-19 13:31] webpack-bot opened #5891 "Document webpack change: Add 'outputPath' configuration option for resource asset modules"
*A pull request by @Knagis was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15015

---

This introduces `outputPath` configuration option for resource asset modules. This provides compatibility with [file-loader option](https://v4.webpack.js.org/loaders/file-loader/#outputpath) - making sure that existing users of file-loader

[2022-01-19 13:49] snitin315 commented on #5891
I will document it.

[2022-01-20 10:15] #3990 closed

[2022-01-22 04:57] #5855 closed

[2022-01-22 14:55] dibosh opened #5906 "Documentation regarding Entry Description Object > library is wrong"
Not really sure how can I contribute to the documentation, tried finding it in the site, but didn't find anything. Hence creating this issue.

Today, I spent some time debugging what is going wrong, by even downgrading the webpack version, just because of a wrong documentation, that is provided.

According to [this](https://webpack.js.org/concepts/entry-points/#entrydescription-object), the follow

[2022-01-22 15:02] dibosh commented on #5906
My bad, I have mistakenly made `library` my entry name 😖

[2022-01-22 15:02] #5906 closed

[2022-01-25 10:11] #5891 closed

[2022-01-29 06:46] #5735 closed

[2022-01-31 10:06] projektorius96 opened #5917 "output.target vs. output.chunkFormat – why not documented properly ?"
**TL;DR** We should know what **target**s / **format**s we are dealing with at first glance , not somewhere in the middle of story of nowhere . Please adjust the documentation of webpack , making more digestible bite for "Getting started", webpack considered daunting exactly due to this. I am telling you this as junior-to-mid developer . This is an honest review the contribution of webpack should

[2022-01-31 11:37] webpack-bot opened #5918 "Document webpack change: add __webpack_module__ and __webpack_module_id__ to the api"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15282

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* `__webpack_module__ ` equ

[2022-01-31 11:40] snitin315 commented on #5918
I will add it.

[2022-01-31 12:55] sokra commented on #5918
Update: It was changed from `__webpack_module_id__` to `__webpack_module__.id`

[2022-02-01 15:19] dilyanpalauzov opened #5927 "Wrong documentation for output.externals type"
https://webpack.js.org/configuration/externals/#externals says:
[code]
The array can contain both functions, strings, and RegExps, as described at https://webpack.js.org/configuration/externals/#combining-syntaxes .

The above type definition of `externals` shall be updated to state, that external accepts an array, and that array can have string, function, Regexp, or object.

[2022-02-01 15:28] snitin315 commented on #5927
I will update

[2022-02-01 15:51] dilyanpalauzov opened #5928 "Documentation contains no example for externals: string"
https://webpack.js.org/configuration/externals/#string is supposed to document type `string` of externals, but it does not.  It provides examples for type object.

There shall be an example, stating that
[code]
and
[code]
do both the same.

[2022-02-01 16:00] alexander-akait commented on #5928
@dilyanpalauzov Please report documentation problems here

[2022-02-02 00:28] #5927 closed

[2022-02-03 00:17] #5918 closed

[2022-02-03 10:58] webpack-bot opened #5941 "Document webpack change: fix resource name when filename is data uri"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15293

---

**What kind of change does this PR introduce?**

fixes #13835

- infer extension from mime type
- set path like replacement to empty string

**Did you add tests for your changes?**

yes

**Does this PR introduce a breaking change?**

no

**

[2022-02-03 12:26] snitin315 commented on #5941
I will document it.

[2022-02-05 06:59] rschristian opened #5945 "Headings have huge content areas, covering up interactive areas above them"
**This is not a feature request.**

**Steps to Reproduce**

Edit: This seems to not be reproducible on Chrome/Chromium. Not sure what others, but is reproducible on Firefox.

1) Navigate to https://webpack.js.org/plugins/terser-webpack-plugin/#options
2) Scroll to the bottom of the options table
3) Try to scroll the options table horizontally
4) Notice you cannot do it, because the next heading co

[2022-02-05 07:15] chenxsan commented on #5945
Unfortunately this is a workaround for the fixed navbar, otherwise when we click the header or access the header anchor, the header would be hidden under the fixed navbar.

[2022-02-05 07:20] rschristian commented on #5945
Ah, gotcha! Yep, that makes sense. However, portions of the site are unusable at the moment (usually with horizontal scrolls, so tables like this, code snippets, etc), so if there's no cross-browser solution, a different navbar setup might be needed?

React's documentation also having poor UX doesn't really help things here.

[2022-02-06 11:51] chenxsan commented on #5945
I can confirm React doc has the same problem under firefox:

<img width="876" alt="CleanShot 2022-02-06 at 19 44 52@2x" src="https://user-images.githubusercontent.com/1091472/152679304-f0a7ce05-e24c-4267-9e60-ae68781aed5d.png">

You can try to select the text from right to left, firefox won't let you do it while other browsers like Edge has no problem.

There're two options here:

1. use [`scroll-

[2022-02-07 12:43] chenxsan commented on #5945
@rschristian Hi, can you check https://webpack-js-org-git-fork-chenxsan-bugfix-fix-467aee-webpack-docs.vercel.app/plugins/terser-webpack-plugin/#test? I've filed a pull request to workaround the problem. Will merge it once I clean up the code.

[2022-02-10 11:49] #5945 closed

[2022-02-12 17:02] jdthorpe opened #5964 "ChunkID collisions when using Federated Module Plugin"

[2022-02-14 12:26] webpack-bot opened #5966 "Document webpack change: fix ExportsInfo"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15367

---

- should mark every export `canMangleProvide=false` if there are unknown exports
- add `__webpack_exports_info__.<name>.canMangle` to api
- add test case

**What kind of change does this PR introduce?**

bugfix
fixes #15214

**Did you add t

[2022-02-16 01:47] #5941 closed

[2022-02-23 19:09] SystemParadox opened #5986 "Document how managedPaths differs from immutablePaths"
**Feature to document**

snapshot.managedPaths: https://webpack.js.org/configuration/other-options/#managedpaths.

https://github.com/webpack/webpack/pull/14509

**Author(s)**

@sokra

**Additional information**

It is not at all clear from the current documentation how managedPaths differs from immutablePaths. The documention for managedPaths just says:

What does "otherwise" mean? Is there somet

[2022-02-24 08:33] tcvduc opened #5987 ".js extension file still need loaders"
- I'm a newbie to Webpack and I meets the problem as description below:

1. On [Loaders](https://webpack.js.org/concepts/#loaders ) section, it said Webpack understands Javascript file
<img width="401" alt="1" src="https://user-images.githubusercontent.com/44729657/155484992-b0103e36-92bc-4a5b-a580-3fb9bd85687d.png">
2. But when I run `npx webpack` to bundle Javascript file, it still need loaders

[2022-02-24 10:21] chenxsan commented on #5987
The problem is you're using JSX syntax in the .js file. JSX is not a standard JavaScript syntax.

[2022-02-26 05:01] tcvduc commented on #5987
Thank you, I got it.

[2022-02-26 05:01] #5987 closed

[2022-02-28 08:42] webpack-bot opened #5994 "Document webpack change: support using proxy sockets within HttpUrlPlugin"
*A pull request by @aleen42 was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15354

---

**What kind of change does this PR introduce?**

To support using proxy sockets according to the `http_proxy` enrivonment within `HttpUrlPlugin`.

**Did you add tests for your changes?**

No

**Does this PR introduce a breaking change?**

[2022-02-28 15:32] aleen42 commented on #5994
Please see !5956

[2022-03-02 10:17] #5994 closed

[2022-03-03 02:19] mhnaeem opened #6002 "[Bug] The vote page for v5 is blank"
**Issue**

The voting page on the Webpack website is blank for the current version of documentation. Link: https://webpack.js.org/vote/

**Additional information**

Should this page possibly be removed entirely? I noticed that the page for v4 wasn't updated frequently either.

- [X] I am new to Webpack docs but I am willing to work on this issue and submit a pull request if there is a decision mad

[2022-03-03 08:07] webpack-bot opened #6003 "Document webpack change: import.meta.webpackContext"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15446

---

**What kind of change does this PR introduce?**

feature
closes #15372

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`import.met

[2022-03-03 10:21] vankop commented on #6003
also
[code]

[2022-03-03 13:53] webpack-bot opened #6004 "Document webpack change: add parserOptions.importMetaContext option"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15463

---

**What kind of change does this PR introduce?**
bugfix, add missing javascript parser option

**Did you add tests for your changes?**
updated existing

**Does this PR introduce a breaking change?**
no

**What needs to be documented once you

[2022-03-04 13:16] chenxsan commented on #6002
Yeah, it's broken now, see https://github.com/webpack/webpack.js.org/pull/5900. The app was built in webpack v4, maybe some compatibility problems between webpack 5 and webpack 4. Besides, the vote app isn't updated for quite a long time. So maybe we should just redirect the vote page to v4? Anyway if you want to fix it, PR is welcome.

[2022-03-04 13:50] mhnaeem commented on #6002
@chenxsan Do you think perhaps we should just remove the entire page? If the voting app is not maintained or updated it might not provide any utility to redirect or have it there anyway.

[2022-03-05 05:56] chenxsan commented on #6002
Sorry I can't make the decision myself here.

[2022-03-05 13:55] chenxsan commented on #6002
Closed via https://github.com/webpack/webpack.js.org/pull/6017

[2022-03-05 13:55] #6002 closed

[2022-03-06 12:01] pauldraper commented on #5986
I would love to understand the same.

You might be able to glean something from https://github.com/webpack/changelog-v5/blob/master/guides/persistent-caching.md#performance-optimizations

[2022-03-06 14:17] noahehall opened #6018 "optimization type definitions should match string options specified in webpak 5 docs"
# Bug report

**What is the current behavior?**
type def for OptimizationOptions doesnt match webpack 5 docs

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
- `chunkIds?: 'natural' | 'named' | 'size' | 'total-size' | false,`
- `moduleIds?: 'natural' | 'named' | 'hashed' | 'size' | 'total-size' | false,`
- [should both include `deter

[2022-03-06 14:24] alexander-akait commented on #6018
We should fix docs

[2022-03-06 15:57] noahehall commented on #6018
@alexander-akait hmm you know perhaps this should be in the flow-typed repository

I checked the [typescript def here](https://github.com/webpack/webpack/blob/5a26b7c4a923c42022ca97fe9cbf46907a20d6d8/declarations/WebpackOptions.d.ts#L1619)

and **deterministic** is listed

[2022-03-06 16:00] alexander-akait commented on #6018
Can you provide package.json?

[2022-03-06 16:04] noahehall commented on #6018
@alexander-akait [created a ticket here](https://github.com/flow-typed/flow-typed/issues/4279)

[2022-03-06 16:04] #6018 closed

[2022-03-08 09:12] Marvin1003 commented on #2684
Is there any workaround to get this working in webpack 4?

[2022-03-11 07:48] ersachin3112 commented on #6004
I will work on it.

[2022-03-11 12:11] vankop opened #6030 "Add a disclaimer in the documentation for third-party loaders and plugins"
**Feature to document**
The official webpack documentation has guides to use third party loaders and plugins, for example:

The ts-loader guide https://webpack.js.org/guides/typescript/
All the loaders from webpack-contrib https://webpack.js.org/loaders/
Without a proper disclaimer, a read of the documentation can think those plugins are maintained by webpack when this is not the case.

Third part

[2022-03-12 03:10] #6003 closed

[2022-03-12 03:44] #6004 closed

[2022-03-21 00:38] #6030 closed

[2022-03-22 10:56] #4924 closed

[2022-03-23 15:20] LongLiveCHIEF opened #6056 "Expand on usage of shareKey and shareScope"
**Feature to document**

ModuleFederation - object hints

**Author(s)**

**Additional information**

The current documetation for Module Federation object sharing hints is basically a listing of the options, but a few of the options, specifically `shareKey` and `shareScope` don't have any real information about _how_ webpack utilizes these values, and that leaves us wondering how they match up. We

[2022-03-24 11:02] lionel-bijaoui opened #6057 "Lazy load folder index"
- [x] Check the current issues to ensure you aren't creating a duplicate.
- [x] Consider making small typo fixes and such directly as pull requests.
- [x] For the voting application, go to https://github.com/webpack-contrib/voting-app.
- [x] For the document of Chinese translation（中文版文档), go to https://github.com/docschina/webpack.js.org.
- [x] For loader/plugin docs, consider opening an issue in

[2022-03-26 02:06] chenxsan commented on #6057
It's better asking on StackOverflow. Anyway, you can check the tree shaking section here https://webpack.js.org/guides/tree-shaking/#root.

[2022-03-26 02:06] #6057 closed

[2022-03-28 09:26] JJPell opened #6064 "Update migration v4 to v5 guide to include env variable changes"
This isn't mentioned in the migration guide but it would be useful to know that when migrating from v4 to v5 you need to change the format of the environment variables passed to your config from the following:

[code]
To this format:
[code]

Otherwise you get the following error:
[code]

[2022-03-29 21:29] bgirard opened #6070 "Module Federation Docs output.uniqueName Clarification"
# Bug report

**What is the current behavior?**
Section in question is here: https://webpack.js.org/concepts/module-federation/#collision-between-modules-from-different-remotes

This section is unclear and buried into troubleshooting. It's unclear just how important this section might be.

This section is confusing to me. Perhaps I don't understand all the uses cases of Module Federation but to me

[2022-04-04 09:27] webpack-bot opened #6077 "Document webpack change: Allow banner to be placed as a footer"
*A pull request by @DavidTanner was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15617

---

**What kind of change does this PR introduce?**

There is a plugin we are using for version 4 that does the same thing as BannerPlugin, but it could place the text at the bottom of the file instead of the top.  This allows the BannerPl

[2022-04-08 07:49] webpack-bot opened #6087 "Document webpack change: Disable compile time evaluation of import.meta.url"
*A pull request by @pavelsavara was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15246

---

## Problem
Current webpack 5 evaluates `import.meta.url` to `file://some/path/to/source` of the build machine.

Fixes https://github.com/webpack/webpack/issues/14445

## Proposed changes
add new parser setting `importMeta` - enable/dis

[2022-04-08 08:09] vankop opened #6088 "Improve cache docs"
**Feature to document**
Explain how to setup filesystem cache in popular CIs

**Author(s)**

**Additional information**
gitlab ci / github actions / others?

[x] I am willing to work on this issue and submit a pull request.

[2022-04-11 10:39] #6088 closed

[2022-04-12 10:18] vankop opened #6095 "more asset generator options description"
**Feature to document**
there is asset `generator.outputPath` that affects **only output path**
there is asset `generator. publicPath` that provides way to create publicPath for assets
related issues https://github.com/webpack/webpack/issues/15656 https://github.com/webpack/webpack/issues/15693

**Author(s)**

**Additional information**

[ ] I am willing to work on this issue and submit a pull req

[2022-04-13 10:03] yadunandanbhat commented on #6064
i would like to work on this, but I might need some help!

[2022-04-16 00:46] #6077 closed

[2022-04-24 00:39] #6087 closed

[2022-04-25 01:35] deerawan opened #6106 "Doc: Add a section for webpack.config.ts"
**Feature to document**

In the Typescript guide https://webpack.js.org/guides/typescript/, there's no mention of how to use `webpack.config.ts` instead of `webpack.config.js`. Some devs love to always use TS files as much as possible.

**Additional information**

Below are some references that provide a clue on how to set up `webpack.config.ts`
- https://learntypescript.dev/12/l4-webpack#adding-w

[2022-04-25 01:40] #3998 closed

[2022-04-28 12:50] chenxsan commented on #6095
I think they are already documented here https://webpack.js.org/configuration/module/#rulegeneratorpublicpath?

[2022-04-30 11:51] #6095 closed

[2022-05-08 19:56] 5amrun commented on #5274
Please update the readme file which doesn't work since it's required to be a regular expression similar to: https://github.com/webpack/webpack/blob/main/examples/build-http/webpack.config.js

The link has also changed: https://github.com/webpack/webpack/tree/main/examples/build-http

[2022-05-10 10:49] webpack-bot opened #6139 "Document webpack change: add parser options for dynamic import"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/15494

---

**What kind of change does this PR introduce?**
feature
- add dynamicImportMode for ContextModule
- add dynamicImportPrefetch for prefetch order
- add dynamicImportPreload for preload order
closes #5029
closes #11012

**Did you add tests fo

[2022-05-11 06:55] lonix1 opened #6142 "Add docs' versions in URLs"
### Problem

Linking to the "latest" version of docs may fail after a while, because the version has changed, and possibly that link may not even exist anymore. *So it's best practice to link to a specific version.*

So for example, it's better to link to `https://webpack.js.org/v5/concepts/#entry` than to `https://webpack.js.org/concepts/#entry` or ``https://webpack.js.org/latest/concepts/#entry`

[2022-05-19 02:36] cspotcode opened #6154 "ts-node docs tweaks"
**Feature to document**

I noticed that the recommendations for using `ts-node` to load `webpack.config.ts` can be simplified:
https://webpack.js.org/configuration/configuration-languages/

First, `TS_NODE_PROJECT` environment variable is supported natively by ts-node; no need to install tsconfig-paths

Second, the recommended configuration should be updated to recommend using `moduleTypes` instea

[2022-05-19 02:39] cspotcode commented on #6154
I suppose one other thing worth clarifying, this is technically incorrect, though it may not be worth changing:

We do fully support native ESM module syntax.  But since webpack can't install a `node --loader` at runtime, the pragmatic hoice is to run as CJS instead.

[2022-05-19 02:40] snitin315 commented on #6154
Can you share the link where on https://webpack.js.org we have to make updates?

[2022-05-19 02:53] cspotcode commented on #6154
Yes, apologies I forgot to include a link.  Here it is:

https://webpack.js.org/configuration/configuration-languages/

[2022-05-26 19:55] spamator12 opened #6183 "How to set up webpack5 + express + ejs ?"
Ejs render loaders seems to require that you pass in your inline variables in the config file, rather than in your Express routes, which doesn't make much sense to me. I have difficulties configuring Webpack 5 to properly use EJS template files. My app structure looks like:

_webpack: 5.38.1
express": 4.17.1
ejs-render-loader: 1.0.0*_

index.js (main node.js setup file)
|
- PAGES
|     |
|     - p

[2022-06-01 10:28] vankop opened #6187 "document compiler.hooks.shutdown"
**Feature to document**
there is hook `compiler.hooks.shutdown` that is called when compiler is closing https://github.com/webpack/webpack/blob/main/lib/Compiler.js#L1218

**Author(s)**

**Additional information**

[ ] I am willing to work on this issue and submit a pull request.

[2022-06-02 02:34] tcstory commented on #4082
I develop an vue3 ssr project. in order to implement the node hot module replacement, i NEED to use the  build in require function, because the webpack will cache the module and break the hmr.

finally, i found a solution. that is you can set optimization.minimize to `false`.

but i think webpack should use build in require function when the tarege is set to node

[2022-06-03 10:02] #6139 closed

[2022-06-04 07:32] rehanmohiuddin commented on #6106
I will do it please assign it to me

[2022-06-04 07:38] snitin315 commented on #6106
Feel free to send a PR

[2022-06-09 15:59] vankop opened #6205 "`snapshot.managedPaths` and `snapshot.immutablePaths`"
**Feature to document**

https://webpack.js.org/configuration/other-options/#immutablepaths
https://webpack.js.org/configuration/other-options/#managedpaths

Could be a regexp with **required** capture group, which is path itself, e.g. defaults one https://github.com/webpack/webpack/blob/main/lib/config/defaults.js#L384

**Author(s)**

**Additional information**

[ ] I am willing to work on this i

[2022-06-09 16:02] SystemParadox commented on #6205
Please make sure this documentation includes *why* a capture group is needed because it seems unnecessary and confusing.

[2022-06-09 16:19] SystemParadox commented on #6205
But what does that even mean?

My best guess is that the capture group is meant to be the cache key for the folder but you can also have the regex match only certain files to be included as "managed" within it. But I'm just guessing because this isn't explained anywhere.

[2022-06-09 16:31] vankop commented on #6205
they described in docs.. both paths should point to directories. e.g. `managesPaths` `/node_modules[\\/]/`

[2022-06-09 16:33] SystemParadox commented on #6205
Sorry, that still doesn't explain what the capture group is actually for. And that example doesn't have a capture group either!

[2022-06-18 12:38] chenxsan commented on #6205
I don't know the logic much here, but I think you can read the source code here https://github.com/webpack/webpack/blob/b8748cfe149d21a71dbde0c4fa34d0646fe68cf8/lib/FileSystemInfo.js#L1997. Without the capture group, the code won't include the directories from what I can tell.

[2022-06-18 13:19] chenxsan commented on #6205
I just checked the source code https://github.com/webpack/webpack/blob/2a58ce7883b42e1ebcfde617ec4a27c7feb035e6/lib/FileSystemInfo.js#L1997, capture group is required to work.

So I think the confusing part is why not just use a normal regexp to match paths in that source code?

[2022-06-18 21:21] SystemParadox commented on #6205
Yes indeed, the capture group seems completely unnecessary.

- If is not needed it should be removed as it's just confusing
- If it is needed then the docs need to explain why and give an example of when you would use it - an example that couldn't just be covered with a normal regex match

[2022-06-19 23:54] #6187 closed

[2022-06-21 12:41] chenxsan commented on #6205
@SystemParadox I've tried to [file a patch](https://github.com/webpack/webpack/pull/15969) so we don't need the capture group.

But unfortunately this seems to be a breaking change. Maybe they can fix it in webpack v6 :)

[2022-06-23 15:43] SystemParadox commented on #6205
Since #15969 has been closed "because it is required", can be please get this documented as to why it is required and what it does.

[2022-07-01 10:18] webpack-bot opened #6254 "Document webpack change: enhanced-resolve@5.10.0"
*A pull request by @vankop was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/16001

---

**What kind of change does this PR introduce?**

update deps

**Did you add tests for your changes?**

there are tests in enhanced-resolve

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes a

[2022-07-01 10:28] snitin315 commented on #6254
I'll document this.

[2022-07-02 06:53] chenxsan commented on #6205
I've merged that pull request but will keep this issue open since it's valid concern in my opinion.

[2022-07-03 01:43] chenxsan commented on #6064
It's more like a breaking change between webpack-cli v3 and v4 as per https://github.com/webpack/webpack.js.org/pull/4051. Not in webpack itself.

[2022-07-03 01:43] #6064 closed

[2022-07-03 06:54] chenxsan commented on #5404
Can't find those deprecated texts now.

[2022-07-03 06:54] #5404 closed

[2022-07-03 06:56] chenxsan commented on #6183
Hope you have figured it out. I'm closing it as it might be better asked on stackoverflow.

[2022-07-03 06:56] #6183 closed

[2022-07-06 03:45] #5966 closed

[2022-07-16 02:42] #6254 closed

[2022-07-18 21:19] AmalJossy opened #6286 "configuration.stats has an unknown property 'maxModules'"
**Feature to document**

In the [Debugging Optimization Bailouts](https://webpack.js.org/plugins/module-concatenation-plugin/#debugging-optimization-bailouts) doc, the snippet provided is
[code]

However, `maxModules` is not a valid parameter anymore, webpack will fail with the following message if the parameter is present in config.
`Invalid configuration object. Webpack has been initialized usin

[2022-07-19 12:13] Littlehalo commented on #2122
Could you give me some code and diagrams to help me understand，i will be very appreciate it

[2022-07-22 13:38] #6286 closed

[2022-07-25 04:56] olyop commented on #6154
I ran into this problem today as well and noticed the docs we're outdated.

You can specify a loader by using the `NODE_OPTIONS` environment variable:
[code]

This also allows `TS_NODE_PROJECT` to be passed in as well to config `ts-node`.
In the current version of Node (18) this throws a warning but it can be hidden by passing the cli arguments: `--no-warnings --experimental-specifier-resolution=n

[2022-08-08 02:10] tanhauhau commented on #1938
i believe this is now added ? https://webpack.js.org/configuration/optimization/

[2022-08-08 04:49] chenxsan commented on #1938
Seems so, thanks for heads-up

[2022-08-08 04:49] #1938 closed

[2022-08-08 11:07] #4148 closed

[2022-08-08 11:07] #5928 closed

[2022-08-08 18:01] Lisheri opened #6322 "Module Federation in production"
I now encounter a problem: in the case of two applications referencing each other, if the publicPath is not set to the corresponding absolute path, the specific module under the corresponding sub-application will not be obtained, but if it is set to the absolute path, it will be in the address The server (cdn) address is exposed on the bar. If set to auto, the refresh will initiate a request from

[2022-08-08 18:09] Lisheri commented on #6322
<img width="1000" alt="image" src="https://user-images.githubusercontent.com/49238808/183484346-7be11211-dea7-418a-91e0-983e7c6ea789.png">
<img width="606" alt="image" src="https://user-images.githubusercontent.com/49238808/183484539-3f3e9073-8bf8-4aad-922a-ba7e4ab75566.png">
<img width="585" alt="image" src="https://user-images.githubusercontent.com/49238808/183484581-c5bfd6d5-04d2-48d3-96db-54d3

[2022-08-09 03:12] Lisheri commented on #6322
ok, I resolved it by dyn publicPath!

[2022-08-09 09:36] gtempesta commented on #5173
I had a very similar error message. I think it was caused by two modules in the same directory being dynamically imported in different parts of the code. One of the two imports didn't have a `webpackChunkName` magic comment, so the solution was to add the name in the import that didn't have it.

[code]

[2022-08-09 11:30] chenxsan commented on #6322
Glad you fixed it.

[2022-08-09 11:30] #6322 closed

[2022-08-11 00:42] elimisteve commented on #3310
For posterity: I ran into this error because I visited a Webpack-built site from a 3-year-old version of Chromium (v73 from 2019), where Webpack included an underscore in a Number, which only recently became valid.

"Solved" this by upgrading my browser.

[2022-08-16 11:57] yvele opened #6336 "Explain what is `output.chunkLoadingGlobal`"
**Feature to document**

[`output.chunkLoadingGlobal`](https://webpack.js.org/configuration/output/#outputchunkloadingglobal)

**Author(s)**

**Additional information**

Previously on Webpack 4 we had a well documented `output.jsonpFunction` output configuration option: https://v4.webpack.js.org/configuration/output/#outputjsonpfunction

Looks like peoples says that Webpack 4 `output.jsonpFunction

[2022-08-16 12:57] #5583 closed

[2022-08-16 15:27] yvele commented on #6336
Hum I see... it's also about [`output. uniqueName`](https://webpack.js.org/configuration/output/#outputuniquename)

[2022-08-18 10:34] nkalinov commented on #5476
Is that still the recommended way? It doesn't seem to work for me. On the contrary, it completely breaks shared modules.
I'm applying this to all my package.json "dependencies". Is there an issue with this?

[code]

[2022-08-19 16:39] glennsimon commented on #5315
I see this is an old bug, but I was having the same problem with a truetype font.  The problem was in my style.css file, where I specified the url and the format of the font.  For the format, I used format('ttf'), but that is not correct.  I should have used format('truetype').  Once I made that change and rebuilt, it worked .  Here is the code:
[code]

[2022-08-22 19:13] adriancuadrado opened #6351 "Feature request: Add a default option to set dark/light mode based on User System Settings"
Example from [MDN](https://developer.mozilla.org/en-US/):

![image](https://user-images.githubusercontent.com/29214635/186000400-4d74d040-745b-41f0-aba1-bdcbc95382d8.png)

[2022-08-25 13:03] #3225 closed

[2022-08-26 15:59] caseyjhol opened #6356 "Proposal: Update writer's guide for "Configuration defaults and types" to support listing different defaults for production/development"
The current writer's guide suggests writing defaults as follows:

However, many options have 3 possible defaults depending on whether `mode` is set to none, production, or development.

Proposal: use a "defaults" table instead.

## optimization.moduleIds

`boolean: false` `string: 'natural' | 'named' | 'deterministic' | 'size'`

| Mode          | Default         |
| ------------- | ---------------

[2022-08-27 05:01] ScriptedAlchemy commented on #5476
Someone feel free to open pr. I have no capacity but can suggest edits if someone will get the PR started

[2022-09-07 14:46] alexander-akait opened #6380 "@cattermo Sorry for delay, please use `/(node_modules\/(?!(@azure\/msal-browser)\/)).*/` or just `/(node_modules\/(?!(@azure\/msal-browser)\/))/`"
Let's improve our docs
---
@cattermo Sorry for delay, please use `/(node_modules\/(?!(@azure\/msal-browser)\/)).*/` or just `/(node_modules\/(?!(@azure\/msal-browser)\/))/`

You can look at the default value - `/^(.+?[\\/]node_modules)[\\/]/` (for npm), here you should have a directory (not true/false), i.e. using group (`()`) on the part of path. Also I recommend to use `[//\]`, because I think y

[2022-09-08 16:30] vankop opened #6384 "improve logger docs"
**Feature to document**

see https://github.com/webpack/webpack/issues/12492#issuecomment-1210644980

**Author(s)**

**Additional information**

[ ] I am willing to work on this issue and submit a pull request.

[2022-09-12 21:39] adriancuadrado opened #6394 "Add "resolveLoader" to Webpack's configuration reference"
In [this article](https://webpack.js.org/contribute/writing-a-loader/#setup) `resolveLoader` is mentioned, but in webpack's [configuration reference](https://webpack.js.org/configuration/) I couldn't find anything about it. I'd like to know what other properties are available in the `resolveLoader` object apart from `modules` and what the default values are.

[2022-09-12 21:57] adriancuadrado commented on #6394
My bad, the configuration is documented [here](https://webpack.js.org/configuration/resolve/#resolveloader) already. Still, I think it should be mentioned in the [configuration reference](https://webpack.js.org/configuration/).

[2022-09-12 22:50] adriancuadrado opened #6395 "Mention somewhere in the documentation that you can also use a JSON configuration file: "webpack.config.json""
It's not mentioned anywhere. I think [this](https://webpack.js.org/configuration/configuration-languages/) is the most appropriate place to do so.

[2022-09-14 15:25] Akhilbisht798 commented on #6395
can we also use ```webpack.config.json``` to config our webpack or is it just ```webpack.config.js```?

[2022-09-14 15:52] adriancuadrado commented on #6395
You can currently configure webpack using the json format. That's why I am asking to have that feature documented. Otherwise this would be a feature request and feature requests should go in the webpack's repository (not this one, this one is for the website. The other one with the source code of webpack).

[2022-09-14 23:52] chenxsan commented on #6395
I don't think we're going to document every possible configuration format webpack supports. There's https://webpack.js.org/configuration/configuration-languages/ page where you can see:

So basically you can check `node-interpret` package for the exhausted list.

[2022-09-14 23:52] #6395 closed

[2022-09-19 16:27] adriancuadrado opened #6408 "Explain what would happen if type is not json"
In [Rule.parser.parse](https://webpack.js.org/configuration/module/#ruleparserparse), it says what would happen if you set `Rule.type` to `json`. What if `Rule.type` wasn't `json`? If this is only meant to be used when the type is `json`, wouldn't it make sense to assume the type is `json` by default? As described, this feature seems to only work with type `json` anyways. If you can specify anythi

[2022-09-21 13:36] #6384 closed

[2022-09-24 12:06] adriancuadrado opened #6418 "Specify that `optimization.splitChunks.chunks: "all"` only extracts common dependencies when they are big enough"
https://webpack.js.org/guides/code-splitting/#splitchunksplugin

The documentation is misleading because it doesn't mention that the common dependencies are extracted to another chunk only if it is big enough.

[2022-10-09 00:42] #5714 closed

[2022-10-26 00:57] pomSense commented on #3310
Confirmed and working. For those use `html-webpack-plugin`, here is the template example:

[code]

[2022-11-04 01:49] mukeshgurpude opened #6480 "Unreadable `<code>` nested inside `link` in a `tip`"
Page: https://webpack.js.org/concepts/plugins/
Theme: dark

![image](https://user-images.githubusercontent.com/55982424/199867577-9d791d9a-bbb8-4524-9f30-1b58af536311.png)

First link in the above image(webpack-source) is unreadable in dark mode. Somehow the styles have messed up the visibility of the element.

[2022-11-04 02:43] snitin315 commented on #6480
@chenxsan Could this be because of https://github.com/webpack/webpack.js.org/pull/6438? Maybe we need to improve Tip styles for the dark theme too.

[2022-11-04 05:01] chenxsan commented on #6480
Filed a pull request here https://github.com/webpack/webpack.js.org/pull/6481, let me know what you think.

[2022-11-04 10:22] #6480 closed

[2022-11-04 19:41] SaulSilver opened #6485 "Replace `whitelist` to be more inclusive in documentation"
To add onto Webpack's inclusivity, [NIST's publication](https://www.nist.gov/news-events/news/2021/04/nists-inclusive-language-guidance-aims-clarity-standards-publications) mentions it's better to

I have noticed there are some "Whitelists" words in the documentation that could be renamed to "Allowed lists". Also, the main branch name is `master` instead of `main`.

[2022-11-07 12:37] #6485 closed

[2022-11-15 01:30] Bubbleinpit commented on #5173
From https://webpack.js.org/migrate/5/ :

So I think you should replace your `name: "split"` with `idHint: "split"`, also for the `name: "runtime"`

[2022-11-16 11:41] Ajax-ua opened #6510 "How to import script from externals in another external script?"
I have to use externals for some lazy loaded chunks of my app (it's a requirement of the environment in which the app is being developed). Script loading is made manually on specific user actions. Externals type is script and there is no problems to use it independently in different parts of the app.

**webpack.config**
[code]

**main.bundle.js**
[code]

But if the script from externals is importe

[2022-11-19 01:22] snitin315 commented on #6154
Makes sense, currently we have this information mentioned here https://webpack.js.org/api/cli/#troubleshooting

[2022-11-21 17:28] sanjeev-reddy commented on #4121
I'm still facing same issue with this plugin. Any solution to it?

[2022-11-21 21:21] Christian24 commented on #5476
@ScriptedAlchemy & @alexander-akait I just opened a PR https://github.com/webpack/webpack.js.org/pull/6519, since this took me a long time to figure out.

Feel free to leave feedback.

[2022-11-22 12:37] chenxsan commented on #6394
You can use the search function to look up those configurations.
<img width="588" alt="" src="https://user-images.githubusercontent.com/1091472/203315844-ff5e157f-7f57-4254-bd88-187a171a66b6.png">

[2022-11-22 12:37] #6394 closed

[2022-11-22 12:44] #6351 closed

[2022-11-24 00:29] #4130 closed