[2018-08-21 08:30] webpack-bot opened #2457 "webpackPreload not working at all"
**What is the current behavior?**
I am experiencing issues while using `webpackPreload`.
No script with `rel="preload"` is added to the `<head>`.

**Steps to reproduce**
[code]
[code]
[code]
[code]
I am using `webpack@4.16.5`.

**What is the expected behavior?**
I expect the `<link rel="preload" as="script" href="utilities.js">` to be added.

**Other relevant information:**
webpack version:  4.16.

[2018-08-21 09:25] EugeneHlushko commented on #2457
Hi @mwanago , you will work on this?

[2018-08-21 16:11] ffocsi opened #2458 "Cannot split and have defined entry points"
I can't figure out how to split my code such that my defined entry points are created, and all the other code is in chunks and automatically loaded.

Given this config:
`{
    entry: {
        entry1: "./src/entry1",
        entry2: "./src/entry2"
    },
    output: {
        libraryTarget: "umd",
        filename: "js/[name].js",
        publicPath: "/dist/",
        path: path.resolve(__dirname,

[2018-08-21 16:28] ffocsi commented on #2458
I am currently doing this in my projects:
[code]

What I wish to avoid is a huge vendor.js file (even when minified)

[2018-08-22 08:08] strongSoda commented on #1824
Hey is this still active? I would like to contribute too @TheLarkInn

[2018-08-22 08:09] strongSoda commented on #1824
Hey there, I would like to contribute too @TheLarkInn.

[2018-08-22 17:16] #2424 closed

[2018-08-23 00:13] satazor opened #2461 "Document this.hot in the loader API"
**Feature to document**

`this.hot` in the loader context, see: https://github.com/webpack/webpack/pull/6228

**Author(s)**

@sokra

**Additional information**

[2018-08-23 09:39] montogeek commented on #2461
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-08-23 09:39] montogeek commented on #2461
@webpack-bot move to webpack/webpack.js.org

[2018-08-23 09:40] montogeek commented on #2461
How is that issue related to `this.hot`?

[2018-08-23 13:34] #1968 closed

[2018-08-23 13:34] montogeek commented on #1968
All done!

[2018-08-23 14:43] webpack-bot opened #2463 "Module.rule.sideEffects not properly supported"
# Bug report
module.rule.sideEffects does not support an array of paths
[The documentation](https://webpack.js.org/configuration/module/#rule-sideeffects) says `sideEffects` should be `false | an array of paths`

**What is the current behavior?**
When using a rule like
[code]
Webpack outputs:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
Add `sideEffects: fals

[2018-08-24 03:06] FadySamirSadek commented on #2312
@montogeek Parcel currently supports source maps only in dev mode and in JS only not CSS. How can I mention this in the comparison and is it considered a Yes or a No in the debugging support section ?

[2018-08-24 06:37] FadySamirSadek commented on #2312
Another thing what do Mangle path names and Replacement for browser mean?

[2018-08-24 09:21] webpack-bot opened #2468 "Document webpack change: use JavascriptModulesPluginHooks.shouldRender correctly"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7943

---

**What kind of change does this PR introduce?**
refactor

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
When custom mod

[2018-08-24 11:32] AO17 commented on #1854
[Here](https://github.com/webpack/webpack.js.org/releases/tag/v3.11.0) you can find a `zip` to download the guides. [StackOverFlow}(https://stackoverflow.com/a/52003486/8439926)

[2018-08-25 03:13] satazor commented on #2461
Oops, I linked to the wrong issue. Here's the correct one: https://github.com/webpack/webpack/pull/6228

[2018-08-25 10:15] montogeek commented on #2461
I see, feel free to send a PR

[2018-08-26 17:12] #2154 closed

[2018-08-26 17:13] budmc29 commented on #2178
Any updates on this?

I can take at stab at trying to fix this, if it's still an issue.

[2018-08-28 07:32] EugeneHlushko commented on #2463
Closed via #2467

[2018-08-28 07:32] #2463 closed

[2018-08-28 07:33] EugeneHlushko commented on #2178
i think its not, did you try `rebuild` branch?

[2018-08-28 07:55] EugeneHlushko commented on #2332
Fixed via #2341

[2018-08-28 07:55] #2332 closed

[2018-08-28 07:55] EugeneHlushko commented on #2323
Closed via #2346

[2018-08-28 07:55] #2323 closed

[2018-08-28 07:56] EugeneHlushko commented on #2305
Closed via #2364

[2018-08-28 07:56] #2305 closed

[2018-08-29 10:57] buoyantair commented on #1985
I'll be happy to take this :)

[2018-08-29 11:18] montogeek commented on #1985
@buoyantair Be my guess

[2018-08-29 15:08] stavalfi commented on #2296
Does it mean that Module Identifiers are no longer part of webpack?

[2018-08-30 14:48] jonagh commented on #1956
I think the documentation could still be improved.

1) The documentation (https://webpack.js.org/plugins/split-chunks-plugin/#splitchunks-cachegroups-test) shows a code example defining `splitChunks.test` (which I dont believe exists?) instead of `splitChunks.cacheGroups[yourGroup].test`.

2) The example code only illustrates that you can specify a function, it doesn't show any example functionali

[2018-09-03 14:18] budmc29 commented on #2178
@EugeneHlushko Looks like this issue is fixed in the `rebuild` branch.

[2018-09-03 14:19] montogeek commented on #2178
@budmc29 It is.

[2018-09-03 14:19] #2178 closed

[2018-09-03 16:51] webpack-bot opened #2483 "Document webpack change: emit error when splitChunks.name and entrypoint match"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7955

---

**What kind of change does this PR introduce?**
remove deprecated features

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
* Passin

[2018-09-03 16:52] sokra commented on #2468
Need to be part of the migration guide

[2018-09-03 17:13] webpack-bot opened #2484 "Document webpack change: add moduleType option to cacheGroup to select by module type"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7954

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
new option `type` in `cacheG

[2018-09-04 20:19] webpack-bot opened #2487 "Document webpack change: rename index/index2 to pre/postOrderIndex"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7986

---

**What kind of change does this PR introduce?**
refactor

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
no (but it deprecate something)

**What needs to be documented once your changes a

[2018-09-05 20:35] ronenbar opened #2490 "webpackMode: "lazy-once" not supported by Webpack 4.17.2"
The documentation at https://webpack.js.org/api/module-methods/#import- mentions a "lazy-once" mode option but when specifying it such as in:

import( /*webpackChunkName: "moduleB-chunk"*/ /* webpackMode: "lazy-once" */'./moduleB');

webpack reports:

WARNING in ./src/moduleA.js 5:0-88
`webpackMode` expected 'lazy', 'eager' or 'weak', but received: lazy-once.

Isn't "lazy-once" supported?

Webpack

[2018-09-05 21:35] montogeek commented on #2490
@webpack-bot move to webpack/webpack.js.org

[2018-09-05 21:36] montogeek commented on #2490
Let me check

[2018-09-06 12:31] webpack-bot opened #2492 "Document webpack change: refactor chunk id plugins"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7995

---

* fixed sorting of assets in stats
* NamedChunkIdsPlugin can now generate ids from requests
* fixed a bug with 0 and compareSelect

**What kind of change does this PR introduce?**
refactoring

**Did you add tests for your changes?**
existing

[2018-09-06 19:14] franjohn21 opened #2494 "Code snippet in documentation for `writing a plugin` unclear"
**Feature to document**
How to write a plugin. [Page on webpack.js.org](https://webpack.js.org/contribute/writing-a-plugin/)

**Author(s)**
@iamakulov @jeremenichelli via https://github.com/webpack/webpack.js.org/pull/2202

**Additional information**
[In the first code snippet](https://github.com/webpack/webpack.js.org/blame/b437543316dc832a780b4530ad282a202833a887/src/content/contribute/writing-a

[2018-09-06 20:40] EugeneHlushko commented on #2443
@mwanago hi man, are you still on this?

[2018-09-06 20:54] montogeek commented on #2494
Please send a PR

[2018-09-06 22:04] franjohn21 commented on #2494
Pr created https://github.com/webpack/webpack.js.org/pull/2496

[2018-09-07 02:25] prateekbh opened #2497 "There is no details about hooks"
**Feature to document**

What does these hooks do and what are their sequence.

https://webpack.js.org/api/compilation-hooks/

**Author(s)**
@byzyk  @madhavarshney

**Additional information**
Also please details about what is a `SyncHook` `AsyncHook` and `SyncBailHook`

[2018-09-07 07:03] webpack-bot opened #2499 "Document webpack change: Refactor/compilation sets"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8003

---

* Make Stats output more stable by sorting
* make usedIds in records an array
* Make Compilation.modules and .chunks Sets
* add some deprecation methods to these Sets so most Array functions still work with deprecation message.

**What kind o

[2018-09-07 17:01] #970 closed

[2018-09-08 02:05] chrisdothtml opened #2502 "Webpack pushes zero-config, but CLI docs are difficult to find"
I've noticed a few times now, when I'm on the webpack site, and want to go look at info for the cli, it takes me quite a lot of clicking around to figure out it's within the API page.

I think, if zero-config is important enough to be mentioned on the homepage, then cli usage should be the primary user path through the website. It's understandable that most of the documentation on the site is for

[2018-09-10 14:29] webpack-bot opened #2503 "Document webpack change: Move HMR hotBoostrap hook"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7816

---

⚠️ Disable whitespace diff for better review experience!

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

yes

**What needs to be do

[2018-09-10 23:00] #2494 closed

[2018-09-12 12:57] webpack-bot opened #2510 "Document webpack change: Refactor compilation"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8017

---

* remove `origin`, `dependencies ` and `originLoc` from WebpackError, only `module` is relevant
* remove Semaphore and replace it with AsyncQueue
* add AsyncQueue as Tapable object
* remove Compilation.waitForBuildingFinished
* Merge Compilat

[2018-09-15 19:45] webpack-bot opened #2519 "Document webpack change: Add sourcemap support for .mjs output files"
*A pull request by @philipwalton was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/7947

---

Fixes: https://github.com/webpack/webpack/issues/7927.

**Did you add tests for your changes?**

I didn't see any tests for the existing behavior in [`test/SourceMapDevToolModuleOptionsPlugin.unittest.js`](https://github.com/webpack/we

[2018-09-15 20:57] montogeek commented on #2519
Duplicate of #2493

[2018-09-15 20:58] #2519 closed

[2018-09-16 10:23] webpack-bot opened #2520 "Document webpack change: Switch from uglifyjs-webpack-plugin to terser-webpack-plugin"
*A pull request by @edmorley was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8036

---

Some history:
* [uglifyjs-webpack-plugin](https://github.com/webpack-contrib/uglifyjs-webpack-plugin) < v1.0 used the minifier [uglify-js](https://github.com/mishoo/UglifyJS2)
* however `uglify-js` does not support ES6, which resulted in a

[2018-09-16 22:13] edmorley opened #2523 "Unable to run `yarn lint` for this repo on Node 10"
Hi!

Before opening PR #2522, I was hoping to check my changes locally using `yarn lint`.
However trying to install the dependencies under Node 10 failed:

[code]

The latest version of [upath](https://github.com/anodynos/upath) supports Node 10, and is in the semver range of the dependency on it in this repo, so I guess `yarn.lock` just needs refreshing?

Fwiw, we've had great results using https

[2018-09-18 02:38] #2172 closed

[2018-09-19 06:35] webpack-bot opened #2528 "Document webpack change: add moduleIds deterministic for simpler long term caching"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8044

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`opimization.moduleIds: "det

[2018-09-24 05:54] webpack-bot opened #2539 "`module.unsafeCache` is undocumented"
**Do you want to request a *feature* or report a *bug*?**
Report a bug, or maybe I'm using it wrong, at the least it's unexpected behavior and the documentation is missing.

**What is the current behavior?**
A module was cached when it should not have been cached.

**If the current behavior is a bug, please provide the steps to reproduce.**
I have a plugin that hooks into `create-module` of `Norma

[2018-09-24 18:12] nerdkid93 commented on #1994
Is there someone on the webpack team who can give a good explanation of what the `type` property does?I can make a PR but the only thing I'd feel comfortable doing is basically copying the text from the `RuleSetRule` schema.

[2018-09-24 18:20] montogeek commented on #1994
@nerdkid93 That works, it is better than nothing :)

[2018-09-25 06:02] EugeneHlushko commented on #2528
Ah there was also added `deterministic option`

[2018-09-25 11:03] ebuildy commented on #1521
``changeOrigin`` is a very important option, as you can see in http-proxy code source, it's change the host header, could be necessary according the targeted server configuration.

[code]

[2018-09-25 12:32] EugeneHlushko commented on #2528
After #2543 is in `master`, i need to update `next` with latest master changes and file a PR to introduce the `deterministic` option on `next`

[2018-09-25 14:14] nerdkid93 commented on #1994
@montogeek any chance I could get a review from you for #2541?

[2018-09-25 15:13] jakub-g opened #2545 "No docs on NamedChunksPlugin"
**Feature to document**

`NamedChunksPlugin`
https://github.com/webpack/webpack/pull/4553

**Author(s)**

@timse

**Additional information**

Didn't find any info on https://webpack.js.org/plugins/

It is recommended for long term caching (https://github.com/webpack/webpack/issues/1315#issuecomment-386267369) but it's not documented on the webpack website what the plugin does exactly and how (ther

[2018-09-25 15:17] StefanSchoof opened #2546 "html file getting started in the dist folder"
I read the [Getting Started](https://webpack.js.org/guides/getting-started/) and I struggle in the [Creating a Bundle](https://webpack.js.org/guides/getting-started/#creating-a-bundle). The text says the Code should go into `/src` and `/dist` is the output. But if I understand correct, the listing below says I should put the index.html into the `/dist` folder. These information contradict each oth

[2018-09-25 15:18] jakub-g opened #2547 "Add docs on NamedModulesPlugin"
**Feature to document**

`NamedModulesPlugin`
https://github.com/webpack/webpack/commit/a04ffb928365b19feb75087c63f13cadfc08e1eb#diff-862a0e7be4288fe0a2ea29aca127b8b1

**Author(s)**

@sokra

**Additional information**

Didn't find any info on https://webpack.js.org/plugins/

- What problems does it solve?
- Is it recommended? Deprecated?

[2018-09-26 20:47] danburzo opened #2549 ""Writing a loader": document why loaders can't be simple functions"
**Feature to document**

A note to clarify why loaders can't be simple functions, as per https://github.com/webpack/webpack/issues/119, https://github.com/webpack/webpack/issues/698 will save would-be loader authors a lot of grief.

I've spent some time digging through the docs for an explanation of why something that, at first impression, should work — the ability to specify a loader as a functio

[2018-09-26 20:56] webpack-bot opened #2550 "More going on with `mode: "development"` then in the docs!"
# Bug report

**What is the current behavior?**
These two configuration produce very different results, including wildly different bundle sizes, that are not documented properly or misleading in the [documentation](https://webpack.js.org/concepts/mode/#mode-development). I believe `mode: "development"` is also setting some optimization config parameters that prevent minification, but it's not docu

[2018-09-26 21:06] montogeek commented on #2546
Please send a PR.

[2018-09-26 21:14] mrichmond commented on #2550
After much digging. I am "pretty sure" I have it figured out. The mode [documentation](https://webpack.js.org/concepts/mode) is flat out misleading/incorrect. Here is what I discovered...

The following three configs all produce the same bundle:

[code]

[code]

[code]

The "production" mode [documentation](https://webpack.js.org/concepts/mode/#mode-production) is also misleading/incorrect. The fo

[2018-09-27 06:27] EugeneHlushko commented on #2528
this is still to be done, confusion is that we didnt have moduleIds docs at all and this issue is solely about its `deterministic` option that will be available in webpack 5. i will file a pr to next

[2018-09-27 09:41] #1994 closed

[2018-09-27 11:16] EugeneHlushko commented on #2528
finally closed via #2552

[2018-09-27 11:16] #2528 closed

[2018-09-28 08:14] littlee commented on #1521
I also think `changeOrigin` should be documented, the "documentation" link in webpack-dev-server's github repo is https://webpack.js.org/configuration/dev-server/#devserver, which jump to webpack documentation.
![image](https://user-images.githubusercontent.com/7534668/46196319-4b60fe00-c339-11e8-97c5-e99bbd821ae4.png)

But I can't find anything about "changeOrigin" there.
![image](https://user-im

[2018-09-29 10:31] webpack-bot opened #2562 "Document webpack change: Add "amd-require" libraryTarget, resulting in a require() wrapper"
*A pull request by @eemeli was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8093

---

This is a partial fix for #8079.

**What kind of change does this PR introduce?**

This PR adds `"amd-require"` as a new library target. The target is otherwise the same as `"amd"`, except that it uses `require()` as a wrapper instead of `de

[2018-10-01 09:32] EugeneHlushko commented on #2549
@sokra can you pls advice ?

[2018-10-01 09:33] edmorley commented on #2520
This can be closed since it was fixed by #2522.

[2018-10-03 14:23] webpack-bot opened #2567 "Documentation site - UglifyjsWebpackPlugin section after header not loading properly"
# Bug report
Hi, webpack team, thanks for your sharing your knowledge with the community.

**What is the current behavior?**
The Uglify Plugin Section not loading properly.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Go to the tab [guide/production/#minification](https://webpack.js.org/guides/production/#minification)
2. Open the [UglifyJsPlugin link](https://w

[2018-10-03 15:06] clenondavis commented on #2567
@evilebottnawi If i can help just tell me.

[2018-10-03 15:33] evilebottnawi commented on #2567
@clenondavis any help welcome, feel free to investigate and send a PR

[2018-10-03 17:07] montogeek commented on #2567
Can't reproduce on Windows, Firefox 62

[2018-10-03 17:46] EugeneHlushko commented on #2567
I think this could be caching issue related to re-deployment, cant reproduce.

[2018-10-03 20:09] clenondavis commented on #2567
@EugeneHlushko if you mean browser caché, i already run and hard reload in chrome developer mode. Is this you mean?

[2018-10-05 16:06] EugeneHlushko commented on #2567
Thanks for double checking @clenondavis
This is not a problem with the docs though. We are fetching readme files for a lot of webpack contrib repositories and render them in the docs.

If you look at the readme file: https://raw.githubusercontent.com/webpack-contrib/uglifyjs-webpack-plugin/master/README.md

You can see that code:
[code]

We dont remove content from readme's that we fetch iirc mayb

[2018-10-06 00:07] Yiidiir commented on #1521
Seems like `changeOrigin` is sent to `option.changeOrigin` of [http-proxy-middleware](https://github.com/chimurai/http-proxy-middleware), which is deprecated based on their [README.md](https://github.com/chimurai/http-proxy-middleware/blob/master/README.md)
[DEPRECATED!](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAmAAAAAtCAYAAAAJMtdLAAAPJElEQVR4nO2d728UdR7H/WPmyTRhVsjaZGtoI42SciWuIj2tkYQIoYFKXQ

[2018-10-08 12:39] atlanteh commented on #1961
I found a solution on [SO](https://stackoverflow.com/a/50694222/1861047):
You can use web archive: https://web.archive.org/web/20180216190554/https://webpack.js.org/concepts/

[2018-10-08 17:02] tanvip commented on #2065
Did anyone find solution for this?

[2018-10-09 08:38] #2562 closed

[2018-10-09 09:34] ryadiv commented on #2490
Same here

[2018-10-09 10:21] EugeneHlushko commented on #2490
Looking at code it should be possible to use "lazy-once". Pinged @sokra to have a quick look at this

[2018-10-09 10:43] sokra commented on #2490
It only makes sense when using an `import()` with expression:

[code]

The different between lazy and lazy-once is that lazy-once loads all possible modules at once, that doesn't make sense when only one module is possible. Use `lazy` instead.

[2018-10-09 10:44] sokra commented on #2490
See also the note in the documentation

[2018-10-09 12:03] EugeneHlushko opened #2573 "Config loader is shown in webpack docs"
Config loader was deprecated some time ago: https://webpack.js.org/loaders/config-loader/#extending-configuration-files

Lets stop showing it to users? CC @montogeek

[2018-10-09 12:04] EugeneHlushko commented on #2567
Closing this for now, as it is not a direct issue of the docs but rather text content of the corresponding repository readme.md file

We can reopen it if we decide to implement pattern match readme cleanup

[2018-10-09 12:04] #2567 closed

[2018-10-09 13:46] montogeek commented on #2573
Yes, it would be good to a link to its deprecation note/commit/PR or something

[2018-10-11 18:31] EugeneHlushko commented on #2096
I think this can be closed via #2098
Please ping here if there is still an issue in the docs regarding `chunkhash` -> `contenthash`

[2018-10-11 18:31] #2096 closed

[2018-10-12 10:07] soletan opened #2579 "Useless information on Loader API's this.rootContext"
**Feature to document**

[Docs on Loader API](https://webpack.js.org/api/loaders/#this-rootcontext) explain `this.rootContext` like this:

That's just some background information on _why_ this API property is exposed. It lacks describing _what_ this property is good for (though it might be guessable for some people). Maybe it would help checking out [information on this.options](https://webpack.js

[2018-10-12 12:16] #1956 closed

[2018-10-15 09:48] webpack-bot opened #2598 "Documented "_entry_return_" default-value for libraryExport doesn't work with "umd" libraryTarget"
# Bug report

**What is the current behavior?**
When building a package with,

[code]

I get a correct package; that is, something like this:

[code]

I can, of course, change `libraryExport` to `"default"`, and things work as expected:

[code]

[code]

Now, if an upstream configuration changes the default value of this, I may wish to reset it to default. According to [the docs](https://webpack.js

[2018-10-17 08:02] webpack-bot opened #2600 "Document webpack change: Remove IgnorePlugin compat-layer and fix various TODOs"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8181

---

- Remove `Compilation#performance`
- Remove `ContextDependency#prepend`
- Remove `IgnorePlugin` compatibility layer
- Update `EnvironmentPlugin` `TODO` comment

**What kind of change does this PR introduce?**

refactoring

**Did you add t

[2018-10-17 08:04] webpack-bot opened #2601 "Document webpack change: Remove moduleIds=total-size and deprecate moduleIds=hashed"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8178

---

Deprecate `moduleIds=hashed` in favor of `moduleIds=deterministic`.
Also remove `moduleIds=total-size`.

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

yes

**Does this PR introduce a br

[2018-10-18 02:53] lvzhenbang commented on #2502
Zero-config isn't that important to some veterans, but it can reduce the learning gradient for beginners. That's a problem, hope more people give their own opinions.

[2018-10-18 08:15] #2598 closed

[2018-10-19 09:03] webpack-bot opened #2605 "Document webpack change: add persistent caching prototype"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8162

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
The `cache` options can now

[2018-10-23 17:51] evilebottnawi opened #2610 "misleading documentation about `open` in `webpack-dev-server`"
**Feature to document**

Add note about `open` option on difference `os` for `webpack-dev-server`.

Ref: https://github.com/webpack/webpack-dev-server/issues/1337

**Author(s)**

not matter

**Additional information**

Note about it is difference names on difference os https://github.com/sindresorhus/opn#app

[2018-10-24 08:43] sokra opened #2611 "splitChunks.cacheGroups[x].filename"
**Feature to document**
The `filename` option is missing.

It allows to override the filename when and only when it's an initial chunk. The filename for async chunks can't be set. This will lead to an error.

All placeholders available in `output.filename` are also available here.

Option can also be set globally in `splitChunks.filename`, but this isn't recommended and will very likely lead to an

[2018-10-24 08:46] EugeneHlushko commented on #2610
Hi @evilebottnawi ,

Seems like i can add it in my PR here: https://github.com/webpack/webpack.js.org/pull/2609/files#diff-374c60b205ba6f81398769b7fd453e01R623

Basically we wanna add: "The app name is platform dependent. Don't hard code it in reusable modules. For example, Chrome is google chrome on macOS, google-chrome on Linux and chrome on Windows." note right?

[2018-10-24 08:47] EugeneHlushko commented on #2611
sounds clear to me, picking it up

[2018-10-24 09:22] evilebottnawi commented on #2610
Yes

[2018-10-24 09:32] EugeneHlushko commented on #2610
ok ty for confirming 👍

[2018-10-24 12:57] EugeneHlushko commented on #2611
Its added, pls review @sokra

[2018-10-24 14:00] #2611 closed

[2018-10-25 15:59] JasonKleban opened #2616 "src/content/configuration/stats.md"
**Feature to document**

stats configuration - how to extend string-named with specific overrides

**Author(s)**

@SpaceK33z | @sallar | @jungomi | @ldrick | @jasonblanchard | @byzyk | @renjithvk | @Raiondesu | @EugeneHlushko

**Additional information**

My current stats configuration is `stats: 'minimal'` but I want to suppress a certain error without making any other changes.  How can we inherit

[2018-10-25 16:08] JasonKleban commented on #2616
(Until then, FYI we can find the prebuilt configs in /lib/Stats.js)

[2018-10-25 17:19] #2610 closed

[2018-10-26 07:08] EugeneHlushko commented on #2616
Hi @JasonKleban

Indeed there is no good way to extend, but i've added the steps to the configuration guide of the stats.

Hope this gets merged as i also find it useful 👍

See #2618

[2018-11-04 22:24] webpack-bot opened #2632 "Documentation in printable format (CSS media queries)"
## Feature request

Please add appropriate CSS media queries to allow for printing the documentation.
And please add a web page containing the whole documentation as one single large HTML file, including a TOC.

**What is the expected behavior?**

The documentation is supposed to be printable; without navigation, comment and other chrome.

**What is motivation or use case for adding/changing the b

[2018-11-05 08:03] webpack-bot opened #2634 "Document webpack change: refactor(TemplatedPathPlugin): split placeholder context (`chunk|module`)"
*A pull request by @michael-ciniawsky was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8109

---

Needed for #6446

**What kind of change does this PR introduce?**

- [x] Refactor

**Did you add tests for your changes?**

Existing tests (Could need additional tests for `module` context, better done in #6446)

**Does this PR in

[2018-11-05 09:44] dylmye commented on #1965
Getting the same issue here - adding a query string fixes it too. Can anyone else repro? Chrome/FFX in the UK

[2018-11-05 09:51] EugeneHlushko commented on #2632
Hi @SetTrend

Currently we don't have this feature or anyone working on it, because mostly developers have their laptops with them all the time, so offline version of the docs was enough so far.

I can suggest as a workaround to clone this repo and run `yarn install && yarn run start`

Also it is easy to get latest up do date version once every one-two month by pulling `master` branch and just in

[2018-11-05 11:56] dylmye commented on #1965
@EugeneHlushko seems all good here now - perhaps it's just a cdn delay after the branch is updated. Sorry to bump an old thread!

[2018-11-05 11:58] SetTrend commented on #2632
The issue is: I'm a consultant, travelling around a lot in a trains to reach my customers. Here in Europe (particularly Germany) that's mainly without any radio reception. So offline media is crucial for contractors, I believe.

[2018-11-07 22:18] lmj0011 commented on #1961
out of the 3 workarounds to this madness.

@ApolloTang solution is the "just works" solution. https://github.com/webpack/webpack.js.org/issues/1961#issuecomment-378963332

Web archive has issue loading some pages https://github.com/webpack/webpack.js.org/issues/1961#issuecomment-427816934

https://webpack.js.org/v3/ is forever down https://github.com/webpack/webpack.js.org/issues/1961#issuecomment

[2018-11-08 04:23] Sm00g15 opened #2637 "Links on homepage are broken"
# Bug report

**What is the current behavior?**
Links that aren't responding to clicks on the homepage only at: https://webpack.js.org/

**If the current behavior is a bug, please provide the steps to reproduce.**
1) navigate to https://webpack.js.org/
2) attempt to click links in the navbar

**What is the expected behavior?**
One would expect the links to be clickable and then take me to another

[2018-11-11 13:38] byzyk commented on #2637
Hi @Sm00g15! Thanks for submitting the issue.

Would you mind share your OS and browser versions here?

[2018-11-14 14:38] EugeneHlushko opened #2644 "`splitChunks` cache group enforce option is not documented"
Need to add it

[2018-11-14 14:39] EugeneHlushko commented on #2644
https://github.com/webpack/webpack/blob/master/lib/optimize/SplitChunksPlugin.js#L532-L561

[2018-11-14 22:04] maraisr opened #2646 "Feature for pressing / to start the search akin to how it works in vim/GitHub."
What more to add?

<img width="378" alt="screen shot 2018-11-15 at 8 03 38 am" src="https://user-images.githubusercontent.com/599459/48515648-01ae8180-e8ad-11e8-85e8-672712b5132b.png">

[2018-11-15 13:34] montogeek commented on #2646
PR is welcome!

[2018-11-16 13:38] webpack-bot opened #2647 "Document webpack change: Type 'apply' method of plugins"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8358

---

**What kind of change does this PR introduce?**

types

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

- Removed option `outpu

[2018-11-17 12:45] #2616 closed

[2018-11-19 08:16] webpack-bot opened #2655 "Document webpack change: Refactor getInitFragments"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8388

---

Refactor getInitFragments to a property in templateContext and apply method

Having only a single method in DependencyTemplate makes it easier to override

**What kind of change does this PR introduce?**
refactor

**Did you add tests for your

[2018-11-19 09:02] EugeneHlushko commented on #2647
It is in Next branch, we might still want to mention this in migration guide?

[2018-11-19 09:02] #2647 closed

[2018-11-19 09:18] webpack-bot opened #2656 "Document webpack change: Cherry-pick terser to webpack 4"
*A pull request by @vkrol was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8392

---

This PR https://github.com/webpack/webpack/pull/8036 was cherry-picked.
Motivation: https://github.com/webpack/webpack/issues/8350#issuecomment-438648424
Issue: https://github.com/webpack/webpack/issues/8350

**What kind of change does this P

[2018-11-19 10:07] EugeneHlushko commented on #2655
This is not in Docs, guess we keep this for migration guide

[2018-11-19 10:13] vkrol commented on #2656
I will do it today.

[2018-11-22 07:03] lazarljubenovic opened #2662 "Comments are sometimes above and sometimes below what they describe"
For example, https://webpack.js.org/configuration/#options and https://webpack.js.org/plugins/module-concatenation-plugin/#debugging-optimization-bailouts.

![image](https://user-images.githubusercontent.com/7661457/48886476-637e6680-ee2c-11e8-8d60-9fe18fd8897d.png)

![image](https://user-images.githubusercontent.com/7661457/48886482-6bd6a180-ee2c-11e8-8e38-6bbef158483a.png)

Furthermore, sometime

[2018-11-28 04:12] lili21 opened #2668 "root options of externals doesn't work as expected"
# Bug report

**What is the current behavior?**

setting `root` of external just return `undefined`

[code]

the output

[code]

**What is the expected behavior?**

It works as expected with this config

[code]

the output

[code]

According the document

**Other relevant information:**
webpack version:  4.26.1
Node.js version:  8.11.1
Operating System: Mac OS
Additional tools:

[2018-11-28 09:08] sokra commented on #2668
This seem to be a documentation issue:

An object with `{ root, amd, commonjs, ... }` is only allowed for `libraryTarget: "umd"`. It's not allowed for other library targets.

[2018-11-28 11:05] #2668 closed

[2018-11-29 14:50] webpack-bot opened #2676 "Document webpack change: Remove concord support"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8436

---

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

yes

**What needs to be documented once your changes are merged?**

`resolve.concord

[2018-11-29 23:15] PlayMa256 opened #2677 "Incorrect available placeholders for hotUpdateChunkFilename"
On https://webpack.js.org/configuration/output/#output-hotupdatechunkfilename, it stats that on the name it allows the `[id]` placeholder, which got removed somewhere down the line and it throws an error if one tries to use it.

As you can see here it is not even implemented anymore.

https://github.com/webpack/webpack/blob/e3e8a68dabc102d7f67fd4c5584baf293b21cddf/lib/web/JsonpMainTemplatePlugin.j

[2018-11-29 23:20] #2677 closed

[2018-11-30 11:01] gforcada opened #2678 "Webpack 2 documentation?"
First of all, thanks a lot for the amazing documentation for webpack, it rocks!! :rocket:

Due to some plugins that we use that are still not ported to webpack 4, we are stuck with a webpack 2 configuration.

On other projects, we are happily and productively using webpack 4 :+1: but then, when trying to backport some features on the webpack 2 configuration, they either don't work, you have to use

[2018-12-01 10:25] webpack-bot opened #2679 "Document webpack change: Refactoring to move runtime into RuntimeModules"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8438

---

Also:

* Only include runtime pieces that are needed for the application
* Allow to lazy-load and hot-load runtime modules
* Refactor HMR to allow other modules types
* fix a few bugs
* removed ExtendedAPIPlugin and merge logic into APIPlugin

[2018-12-02 14:31] EugeneHlushko commented on #2678
Hi @gforcada, the same as for v3 docs there is no current web address to view them. The only good way to do it is cloning this repo and checking out some old revision or commit when webpack was at v2 locally, after that, check package.json commands list and find start command.

My best guess is that it should be runnable by:

[code]

That potentially will let you browse `localhost:3000`. There is

[2018-12-02 14:31] #2678 closed

[2018-12-03 10:47] jakub-g opened #2684 "Document why tree shaking is not performed on async chunks"
**Feature to document**

Tree shaking aka dead code elimination

**Details**

According to [this comment](https://github.com/webpack/webpack/issues/7500#issuecomment-395344031), tree shaking is not supported for async chunks, but there's no mention of this in the [tree shaking guide](https://webpack.js.org/guides/tree-shaking/).

**Additional information**

I've read [this comment](https://github.

[2018-12-03 11:42] webpack-bot opened #2685 "Document webpack change: enforce doesn't affect minSize for maxSize"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8451

---

enforce now works as documented
emit warning for minSize > maxSize configuration
performance improvements
bugfix when multiple cacheGroups have the same name

fixes #8407

**What kind of change does this PR introduce?**
bugfix

**Did you add

[2018-12-03 12:06] sokra commented on #2684
One can't say this in general.

Here are two cases were tree-shaking may not work as expected from user perspective, but there are reasons why it works this way:

#### `import()`

`import("./a")` disables tree-shaking for (and only for) exports of module `./a`. Why? Because the returned promise resolves to the namespace object for module a from which all exports can be accessed. webpack doesn't kn

[2018-12-03 12:34] jakub-g commented on #2684
Makes sense, thanks for explanations! 👍

[2018-12-05 10:41] bew opened #2691 "Rule.use as a function is not documented"
`Rule.use` configuration is documented when used with a list of `UseEntry`, but not when used with a function.

I'll probably open a PR with something :smiley:

[2018-12-05 12:57] EugeneHlushko commented on #2691
Please go ahead with pr

[2018-12-05 13:29] ivandevp opened #2692 "style-loader page bug"
When reading the docs about `style-loader` there's a heading missing text.

<img width="949" alt="screen shot 2018-12-05 at 7 25 15 am" src="https://user-images.githubusercontent.com/9284690/49516538-79921b00-f85f-11e8-8330-be84451ee056.png">

[2018-12-05 17:39] evenstensberg opened #2695 "Add Documentation for migrating to webpack-cli v.4"
**Feature to document**

Webpack-CLI v.4

**Author(s)**

Even Stensberg, N/A

**Additional information**

We are releasing a new version of webpack-cli soon, which will mean that some sections of the docs would need to be updated. I'd like to point this out to the documentation team so that you are ready for the change.

At first, the only thing that is needed is to add a `how to migrate` post at

[2018-12-05 17:40] evenstensberg commented on #2695
We are releasing an alpha in the end of the year, beta maybe in mid-January and v.4 in february/march

[2018-12-06 11:34] webpack-bot opened #2696 "Document webpack change: Deprecate AggressiveSplittingPlugin"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8461

---

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

`AggressiveSplitt

[2018-12-06 23:32] webpack-bot opened #2698 "Doc Request: Strategies for structuring configuration"
**Request:** Expand [the configuration section](https://webpack.js.org/concepts/configuration/) of the docs to include a few concrete examples/approaches/strategies/practical tips for _how_ to structure a complex webpack configuration well.

**Related issue (old):** #870

---

The configuration section lists a few good starting tips and also says:

For less complex configurations I feel this is do

[2018-12-07 10:19] EugeneHlushko commented on #2695
webpack 5 specific docs are now living in `next` branch, the things you want people to migrate should go to migration guide of webpack 5. i really wouldn't wanna see different migration guides for webpack and its cli, thats one tool, having cli in separate repository shouldn't add complexity for users imo.

@sokra thoughts?

[2018-12-07 10:40] EugeneHlushko commented on #2696
Despite #2701, we still need this to be mentioned in migration guide for v5

[2018-12-07 11:22] sokra commented on #2695
I think different migration guides for core and cli made sense, since you can migrate individually. Made even recommend to migrate one at a time.

[2018-12-07 13:44] EugeneHlushko commented on #2695
how much content do you think that would be in cli migration @evenstensberg ?

[2018-12-07 13:56] EugeneHlushko commented on #2695
My main concern is that user dont usually care about implementation details, and finding two+ migration guides to up v4 to v5 of webpack might trigger some negative tweets and comments (again)

[2018-12-07 13:57] EugeneHlushko commented on #2695
if CLI update come out with breaking changes before webpack v5, that would have no negative impact imo. So that users would migrate to new CLI and later that year to webpack v5 when it comes out

[2018-12-07 14:07] evenstensberg commented on #2695
@EugeneHlushko one page perhaps, not that much

[2018-12-08 08:56] webpack-bot opened #2705 "Document webpack change: improve ids for Long Term Caching"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8477

---

add deterministic chunk ids and make it default
StatsTestCases no longer need to explicitly use natural ids as the defaults are deterministic now too
add concept of id name hints for chunks
add `idHint` option to splitChunks to provide a hint

[2018-12-08 11:23] webpack-bot opened #2706 "Document webpack change: Do not polyfill node bindings by default"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8460

---

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

yes

**Does this PR introduce a breaking change?**

yes

**What needs to be documented once your changes are merged?**

1. `node` has f

[2018-12-09 05:57] ZebraFlesh opened #2711 "Cannot use multiple configurations with promises"
# Bug report

**What is the current behavior?**

Wepback does not receive a configuration object when exporting an array that contains a promise.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Start with a valid Webpack config.
1. Change the config to export a single promise: `module.exports = { ... };` becomes `module.exports = new Promise(resolve => resolve({ .

[2018-12-09 16:35] TheLarkInn commented on #2647
Yes absolutely.

[2018-12-09 16:38] TheLarkInn commented on #2605
@sokra can you mention the defaults (unless this is these already?).

[2018-12-09 17:06] debs-obrien commented on #2637
I have just tested all links on MacOS and chrome and all seems to be working, perhaps it was a slow connection as the links in the top navbar do take a few seconds to load so on a slow connection perhaps it just didn't fully load at that moment. @Sm00g15 please check it again and if it is still not working can you tell us the exact link that isn't working. Thanks :)

[2018-12-09 18:33] evenstensberg opened #2712 "Documentation Request: Elaborate more on PrefetchPlugin"
**Feature to document**

PrefetchPlugin

**Author(s)**

@pksjce

**Additional information**

I think we should flesh out more information from the `prefetch` plugin, why it is important and how to use it. This will be better for understanding webpack and how to improve performance. For instance, add links to google developers with information about prefetch, why it is important and how it might re

[2018-12-09 21:13] evenstensberg commented on #2695
I'm suggesting this:

[code]

[2018-12-10 00:30] Sm00g15 commented on #2637
hey @byzyk , sorry I didn't get back to you sooner! It's MacOS and Chrome. Here's a screen recording.
[Screen Recording 2018-12-10 at 1.28.08 PM.zip](https://github.com/webpack/webpack.js.org/files/2661182/Screen.Recording.2018-12-10.at.1.28.08.PM.zip)

[2018-12-10 07:12] byzyk commented on #2637
@Sm00g15 thanks for getting back to me. It's indeed really weird.

Could you please try to test it in the incognito mode without any extensions enabled? Or just for the sake of the experiment try another browser (say Safari or Firefox). Also, it would help if you could share console output if there is any.

Looking forward to hearing back from you.

[2018-12-10 07:44] montogeek commented on #2605
@TheLarkInn It seems they are already documented

[2018-12-10 08:12] EugeneHlushko commented on #2705
We will need to also add this information to migration guide

[2018-12-10 08:21] evenstensberg commented on #2712
I think that one is perfect. Inline it with our on examples and elaborate what that article is saying in a way that makes sense for webpack and I think it should be good enough 👍

[2018-12-10 08:52] Sm00g15 commented on #2637
@byzyk I've tested it in Safari and it works just fine there. However, I tested in Chrome again and Chrome Incognito-Mode and it's still not working. Here's the console output:
![screen shot 2018-12-10 at 9 50 55 pm](https://user-images.githubusercontent.com/14209806/49720914-d2314000-fcc5-11e8-8154-24f4cdcc8ddb.jpg)

[2018-12-10 08:57] byzyk commented on #2637
Form the video you shared it seems like some sort of overlay that prevents you from navigating. What version of Chrome are you using at the moment and have you tried to update it to the latest one?

[2018-12-10 08:59] Sm00g15 commented on #2637
Yeah seems like it, strange.

[code]

[2018-12-10 14:43] EugeneHlushko commented on #2637
Hi @Sm00g15
I think it is fixed in #2715

To reproduce your issue i had to resize my browser window to under 500px height. TY for reporting 👍

[2018-12-10 14:52] webpack-bot opened #2716 "Document webpack change: Refactor webpack main"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8482

---

- Removes `Compiler#dependencies` in favor of `MultiCompiler#setDependencies`
- Renames `lib/webpack.js` into `lib/index.js`
- Moves `webpack` function into `lib/webpack.js`
- Refactors `webpack` to better handle multi-options

**What kin

[2018-12-10 14:56] EugeneHlushko commented on #2605
The issues that are still open and have PRs merged are here for migration guide, we can also close them and when writing migration guide, filter issues by milestone `webpack 5`

[2018-12-10 15:05] EugeneHlushko commented on #2716
This is for migration guide i guess, we don't have it mentioned in the docs directly

[2018-12-10 15:09] ooflorent commented on #2716
Please also note that `webpack.NodeEnvironmentPlugin` has been moved to `webpack.node.NodeEnvironmentPlugin`

[2018-12-10 15:41] #2637 closed

[2018-12-10 15:41] montogeek commented on #2637
Deploy takes ~30 mins, please check again

[2018-12-10 18:05] Sm00g15 commented on #2637
@EugeneHlushko @montogeek yup, this worked. Well done guys

[2018-12-10 19:08] debs-obrien commented on #2637
yeahhh. thanks for reporting @Sm00g15, glad we got it sorted.

[2018-12-11 06:46] EugeneHlushko commented on #2716
Nice, this can be added to next already

[2018-12-11 08:32] #1849 closed

[2018-12-11 10:03] EugeneHlushko commented on #2706
Changes applied, now we will need to mention this in migration guide.

[2018-12-13 05:08] SetTrend commented on #2632
@EugeneHlushko:

I now forked the project and implemented the changes for printing the documentation.

I'm working on a Windows machine, so I cannot build the project. Would you mind checking if everything is working properly?

The feature branch I created for my changes is called "[printable-doc](https://github.com/SetTrend/webpack.js.org/tree/printable-doc)".

Here's what I did:

1. New SASS rul

[2018-12-13 09:35] evilebottnawi opened #2720 "Better documentation IgnorePlugin"
**Feature to document**

IgnorePlugin supports `functions`

**Author(s)**

Don't know

**Additional information**

Based on https://github.com/webpack/webpack/issues/7794

[2018-12-13 09:43] iliakan commented on #2720
@evilebottnawi thanks, that's actually not a documentation, but a feature change request. I'd send a PR if the change looks good.

[2018-12-13 09:46] evilebottnawi commented on #2720
@iliakan oh, yes, i am wrong, ssory, very tired

[2018-12-13 09:46] #2720 closed

[2018-12-13 09:47] iliakan commented on #2720
@evilebottnawi I made an issue, thanks. Btw did you get an email from me (Ilya Kantor)?

[2018-12-13 09:55] evilebottnawi commented on #2720
@iliakan Yes, I see, there are a lot of letters and I sometimes get lost in them, better ping me something in github

[2018-12-16 13:37] #2231 closed

[2018-12-16 13:42] #2685 closed

[2018-12-16 17:44] webpack-bot opened #2723 "Document webpack change: Add maxAsyncSize and maxInitialSize for SplitChunks"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8484

---

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

yes

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

Adds `maxAsyncSize`

[2018-12-16 17:53] ooflorent commented on #2723
Note: now settings `maxSize=X` is equivalent to settings `maxAsyncSize` and `maxInitialSize` to `X`.

[2018-12-16 21:04] nwoltman opened #2724 "Document optimization.chunkIds"
**Feature to document**

[`optimization.chunkIds`](https://github.com/webpack/webpack/blob/d5e26f728adb63a1fca080ef728fd627952a921d/schemas/WebpackOptions.json#L406-L409) was introduced in webpack/webpack#7686 and released in [webpack@4.16.0](https://github.com/webpack/webpack/releases/tag/v4.16.0).

**Author(s)**

@sokra

**Additional information**

`optimization.moduleIds` is already documented,

[2018-12-18 08:52] EugeneHlushko commented on #2724
Hi @nwoltman
Thank you for reporting, PR is up and it should be live soon.

[2018-12-19 10:00] webpack-bot opened #2728 "Document webpack change: add plugin system for Stats presets, defaults, creation and printing"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8520

---

**What kind of change does this PR introduce?**
Refactoring

**Did you add tests for your changes?**
Existing tests

**Does this PR introduce a breaking change?**
Yes, errors in stats changed

**What needs to be documented once your changes a

[2018-12-20 07:36] #2724 closed

[2018-12-21 11:50] webpack-bot opened #2732 "Document webpack change: Change signature of externals function to an object"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8533

---

to be more extensible in future

#8527

**What kind of change does this PR introduce?**
refactor

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
yes, externals function signature changed

**What need

[2018-12-21 13:49] akopchinskiy commented on #1735
What if I need `module: 'es6'` ?

[2018-12-21 13:54] akopchinskiy opened #2733 "Configuration Languages: TS_NODE_PROJECT not working"
Original docs: https://webpack.js.org/configuration/configuration-languages/#typescript

All dependencies is installed in accordance with the documentation.
But when I use this:
[code]
I receive this error:
"TS_NODE_PROJECT" unrecognized command

[2018-12-21 14:38] philostler commented on #2070
Had anyone discovered a workaround for this issue? I've just bumped into the same problem.

[2018-12-23 09:45] webpack-bot opened #2734 "Document webpack change: improvements to stats"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8543

---

* add options to schema
* add `chunkRelations` option (off by default)
* fix a printed undefined

**What kind of change does this PR introduce?**
bugfix, feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breakin

[2018-12-25 23:01] methodbox opened #2738 "Webpack Documenation Error - "Cleaning up the dist folder""
OS: Windows 10
Node: 8.10.0
npm: 6.5.0
Webpack: 4.28.1
clean-webpack-plugin: 1.0.0

There is an error in the documentation which will lead to ```clean-webpack-plugin``` not executing the intended behavior.

The documentation is found here: https://webpack.js.org/guides/output-management/#cleaning-up-the-dist-folder

[code]

Using just ```dist``` will  not actually clean the dist folder. Modifying

[2018-12-26 15:16] montogeek commented on #2738
Send a PR with its correction please.

[2018-12-27 14:54] methodbox commented on #2738
I'd definitely like to contribute in some way, but I'm not actually sure how to do that for documentation. Can you clarify and I'd be happy to learn and submit the PR?

[2018-12-28 15:01] webpack-bot opened #2741 "Document webpack change: Expose the serialization API"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8570

---

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

no

**Does this PR introduce a breaking change?**

no

**What needs to be documented once your changes are merged?**

`webpack.util.seriali

[2018-12-29 02:14] unional opened #2744 "CSP further reading is missing"
https://github.com/webpack/webpack.js.org/blob/master/src/content/guides/csp.md

[2018-12-29 02:16] #2744 closed

[2018-12-29 02:16] unional commented on #2744
Nevermind. It's there in the doc.

[2018-12-29 11:35] #2520 closed

[2018-12-31 08:31] EugeneHlushko commented on #2741
This is not in the docs, we should use this for migration guide mention

[2018-12-31 08:32] ooflorent commented on #2741
So we should stop opening PR for the public API? What’s the correct place?

[2018-12-31 08:34] EugeneHlushko commented on #2738
Hi @methodbox
You would need to fork the repo and then fork from master into a branch e.g. `issues/2738`, after that modify the file with the discussed above contents, commit your change and submit a pull request. If you want i can add such PR and mention you as collaborator to save some time on delivery if you are busy or still not sure how to do it and need time to learn :)

[2018-12-31 08:51] #2691 closed

[2018-12-31 09:29] webpack-bot opened #2745 "Document webpack change: fix stats assetsByChunkName"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8577

---

It's now always an array

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes, compared to the last alpha
it reverts a breaking change and is n

[2018-12-31 13:47] webpack-bot opened #2746 "Document webpack change: Refactor provided exports"
*A pull request by @ooflorent was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8576

---

**What kind of change does this PR introduce?**

refactoring

**Did you add tests for your changes?**

yes

**Does this PR introduce a breaking change?**

yes

**What needs to be documented once your changes are merged?**

`module.buildMe

[2018-12-31 20:40] methodbox commented on #2738
@EugeneHlushko

That would be awesome as a head start, but let me give it a shot first.

Thanks!

[2019-01-02 11:32] #2734 closed

[2019-01-08 14:08] webpack-bot opened #2752 "Document webpack change: Enable node.global by default"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8602

---

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
* node.global is now true by

[2019-01-08 17:16] #2752 closed

[2019-01-09 14:19] webpack-bot opened #2755 "Document webpack change: Performance fixes for next branch, watchpack update"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8601

---

updated watchpack. It now passes more info to webpack i. e. for missing files/directories.

**What kind of change does this PR introduce?**
refactoring, deps

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a

[2019-01-11 13:20] SeanPercy commented on #2733
@akopchinskiy I faced a similar issue. The following worked for me:
- run `npm i cross-env`
- change the script to `"build": "cross-env TS_NODE_PROJECT=\"tsconfig-for-webpack-config.json\" webpack"`

[2019-01-14 10:14] EugeneHlushko commented on #2733
@akopchinskiy can you confirm that adding `cross-env` like Sean suggests solves your issue?

[2019-01-14 12:11] akopchinskiy commented on #2733
@EugeneHlushko yes it's working.
But there is another problem with it: `webpack.config.json` uses global environments and when I use `cross-env TS_NODE_PROJECT=...` one of my webpack configs conmpiled incorrectly, because I have different `tsconfig.json`'s as well.

[2019-01-14 12:11] #2733 closed

[2019-01-14 12:45] SeanPercy commented on #2733
@EugeneHlushko I guess you mean something like setting the mode to production / development, right?

This is my folder structure:
[code]

And here is an excerpt of my package.json

[code]

[2019-01-15 10:06] raulferras opened #2763 "SplitChunks.name: Specify that setting a specific name merges all chunks in one file"
**Feature to document**
Based on @sokra comment [here](https://github.com/webpack/webpack/issues/8582#issuecomment-451235164), setting `splitChunks.name` to a string will merge all chunks into a single one.
This is not documented here: https://github.com/webpack/webpack/issues/8582#issuecomment-451235164

**Author(s)**
?

**Additional information**
The docs document properly other "edge" cases as:

[2019-01-15 10:10] EugeneHlushko commented on #2763
For sure, want to file a PR @raulferras ?

[2019-01-15 15:01] Ignasimg opened #2765 "Errr"
- [ ] Check the current issues to ensure you aren't creating a duplicate.
- [ ] Consider making small typo fixes and such directly as pull requests.
- [ ] For the voting application, go to https://github.com/webpack-contrib/voting-app.
- [ ] For loader/plugin docs, consider opening an issue in the corresponding repository.
- [ ] No existing issue? Go ahead and open a new one.
- __Remove these inst

[2019-01-15 15:01] #2765 closed

[2019-01-16 05:11] varunarora commented on #1961
Honestly, I respect the efforts the maintainers put in, but it is really sad that one can't easily view the docs online for an old version. I don't know how an open source project can be maintained with an online docs site with only the current live version showing.

I am on Webpack 2 and can't find a reasonable way to see its documentation. There doesn't seem to be a tag old enough. There doesn't

[2019-01-16 05:31] varunarora commented on #1961
Just as a help to anyone else looking for the version I was hunting for (2.2.1), I just tracked the tree through the commits to the day webpack/webpack made a release for that version. The webpack.js.org tree at the end of that day was: https://github.com/webpack/webpack.js.org/tree/7514621056b3c0b126dc17b0dd9bfaa4a783810c

Maintainers, kindly consider just tagging the this repo around the version

[2019-01-16 12:37] EugeneHlushko commented on #1961
Hi @varunarora
Is it working for you when you checkout to it and install/run docs? I can tag that commit as `v2.0.0` for future use

[2019-01-19 12:14] webpack-bot opened #2774 "Document webpack change: Performance for caching"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8651

---

* log a warning when serialization fails
* make reading from file safer and handle unexpected end of file
* update webpack-sources for faster buffer() call
* + see below

**What kind of change does this PR introduce?**
performance, bugfix

**

[2019-01-20 08:50] EugeneHlushko commented on #2723
Closed via #2756

[2019-01-20 08:50] #2723 closed

[2019-01-22 08:47] EugeneHlushko commented on #1961
You can now use tag `v2.2.1`, https://github.com/webpack/webpack.js.org/releases

[2019-01-22 13:12] #2215 closed

[2019-01-27 19:06] stoplion commented on #1854
`mode` is not v4. `splitChunks` isn't either.

[2019-01-29 21:19] ljharb opened #2787 "Fix footgun advice re polyfills"
See https://webpack.js.org/guides/shimming/#loading-polyfills

This is very bad advice. Even modern browsers potentially need every polyfill to repair their broken implementations; the best practice is to unconditionally and synchronously load all needed polyfills.

Specifically, it's exceedingly hard to safely asynchronously load polyfills, because to be safe, polyfills must run before *all other

[2019-01-29 21:47] ljharb commented on #2787
#2788

[2019-01-31 11:23] bendtherules commented on #1854
Decided to host it for my own help (tag v3.11.0). Please checkout https://webpack-v3.jsx.app

[2019-01-31 13:08] #2787 closed

[2019-02-02 09:51] webpack-bot opened #2792 "Document webpack change: refactoring of used and provided exports"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8690

---

New `ExportsInfo` object in `ModuleGraph` tracks all info regarding exports.

**What kind of change does this PR introduce?**
refactoring

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
y

[2019-02-03 19:46] SetTrend opened #2794 "Add "npm install --save-dev webpack" to WebPack installation explanation"
The webpack documentation files [`/src/content/guides/installation.md
`](https://github.com/webpack/webpack.js.org/blob/master/src/content/guides/installation.md) and [`/src/content/guides/getting-started.md`](https://github.com/webpack/webpack.js.org/blob/master/src/content/guides/getting-started.md) both claim that it's sufficient to install `webpack-cli`. But that isn't true.

When I install `w

[2019-02-07 02:36] superburrito commented on #2794
Hmm not sure this is an issue, where did you get that impression?

[2019-02-07 11:48] SetTrend commented on #2794
The reason is subtle, yet present.

This is the headline for using WebPack v4<sup>++</sup>:

`If you're using webpack v4 or later, you'll need to install the CLI.`

To me, that sentence implies:
[code]

I suggest to add the word "also" to that sentence to make clear that _additional_ (not _alternative_) effort must be taken:

`If you're using webpack v4 or later, you'll **also** need to install th

[2019-02-08 06:33] EugeneHlushko commented on #2794
Sounds right, want to file a PR @SetTrend ?

[2019-02-10 04:35] bhavya9107 commented on #2774
@sokra where can I get started

[2019-02-11 15:34] #2763 closed

[2019-02-12 12:37] evilebottnawi opened #2804 "Improve documentation for loader order"
**Feature to document**

Old docs https://github.com/webpack/docs/wiki/loaders#loader-order

In new docs we don't have information about `!!` and `-!`

**Author(s)**

No matter

**Additional information**

No

[2019-02-12 13:43] jimjenkins5 commented on #2545
I would like to second this issue. This really needs to be documented, especially since it is enabled by default with `mode: 'development'`. What exactly am I enabling?

https://webpack.js.org/concepts/mode/

[2019-02-13 05:52] EugeneHlushko commented on #2792
Closed via #2793

[2019-02-13 05:52] #2792 closed

[2019-02-13 12:22] EugeneHlushko commented on #2545
@sokra can you please shed some light so we can kick off a PR ? I dont really have time this week to go through the sources sorry :( Maybe someone else has time to dig into and file a PR please shout.

[2019-02-14 07:42] superburrito commented on #2804
Hmm I can look into this

cc @EugeneHlushko

[2019-02-14 09:06] EugeneHlushko commented on #2804
Go ahead @superburrito

[2019-02-14 09:06] EugeneHlushko commented on #2804
Open a WIP PR with a mention of this issue so its trackable

[2019-02-14 12:37] Munter opened #2808 "https://webpack.js.org/vote JS failure"
https://webpack.js.org/vote has a javascript error that blocks the page from being rendered, causing the default `Your browser is not supported` message from the raw HTML to appear.

![image](https://user-images.githubusercontent.com/331790/52787270-95831b80-305d-11e9-84f1-449a998588b4.png)

If I load any other page and navigate to `/vote` through the JS-router the page shows up just fine

[2019-02-15 10:56] evilebottnawi opened #2812 "Problem with https://webpack.js.org/assets/icon-square-big.svg"
A lot of plugins and loaders use this logo in README. We need return image on this url (asap).

Example: https://github.com/webpack-contrib/css-loader

/cc @montogeek

[2019-02-15 10:57] montogeek commented on #2812
@evilebottnawi Will fix ASAP. Is that logo in the default template?

[2019-02-15 11:00] evilebottnawi commented on #2812
@montogeek yep

[2019-02-15 11:00] evilebottnawi commented on #2812
Link https://raw.githubusercontent.com/webpack-contrib/webpack-defaults/master/templates/README.md

[2019-02-15 11:09] #2812 closed

[2019-02-15 11:09] montogeek commented on #2812
@evilebottnawi Deploying, will be in READMEs around the world in ~4 minutes.

[2019-02-15 11:17] montogeek commented on #2812
Working now: https://webpack.js.org/assets/icon-square-big.svg

[2019-02-15 11:17] montogeek commented on #2812
But CSSLoader Readme is still broken, maybe a cache from GitHub?

[2019-02-15 11:29] evilebottnawi commented on #2812
@montogeek yep, cache, should be refreshed every 2 hours

[2019-02-16 13:33] sudipt1999 commented on #1801
@TheLarkInn may I work on this ! kindly provide me pointers to begin with !

[2019-02-19 03:36] Aladingding opened #2815 "https://webpack.js.org/api/ style confusing"
The style is confusing when I expanded the two menus in https://webpack.js.org/api/

this bug screenshot
https://files.gitter.im/webpack/webpack/dev/LJX7/thumb/menu.saveimg.savepath20190219111622.jpg

[2019-02-19 11:01] montogeek commented on #2815
@Aladingding Could you please tell us which menu looks weird? I can't see it in the screenshot.

[2019-02-19 11:23] superburrito commented on #2804
@evilebottnawi This info can be found [here](https://webpack.js.org/configuration/module#ruleenforce), but I've tried to make that info more discoverable in [the above PR](https://github.com/webpack/webpack.js.org/pull/2811)

[2019-02-19 13:54] astik commented on #169
Trying to learn about how webpack internally works, i found on https://github.com/fanjunzhi/lifecycle-webpack-plugin this diagram : https://img.alicdn.com/tps/TB1GVGFNXXXXXaTapXXXXXXXXXX-4436-4244.jpg.
It would be great to have an updated version into documentation (and also in english =P).
A separate "Lifecycle" page would be great in order to fully understand what is happening, especially for pl

[2019-02-19 15:17] #2804 closed

[2019-02-22 01:37] Aladingding commented on #2815
@montogeek  if i expend Compiler Hooks menu && Command Line Interface && Introduction the footer's style will be confusing of this page,with 1920*1080 windows 10

[2019-02-22 16:15] EugeneHlushko commented on #2815
Oh I see so the footer is not pushed down when two are open

[2019-02-22 16:17] EugeneHlushko commented on #2815
When there is not enough content*

[2019-02-25 08:09] #2815 closed

[2019-02-27 21:22] #2808 closed

[2019-03-05 00:58] SetTrend commented on #2794
After reading I don't think the issue you've been referring to is related to this issue.

I noticed that [`/src/content/guides/installation.md`](https://github.com/webpack/webpack.js.org/blob/master/src/content/guides/installation.md) has already been updated accordingly.

I'd like to suggest to also amend [`/src/content/guides/getting-started.md`](https://github.com/webpack/webpack.js.org/blob/ma

[2019-03-05 11:05] #2794 closed

[2019-03-08 08:38] stephan-v opened #2853 "HMR write manifest to disk"
**Feature to document**

How to write the webpack manifest to disk while using HMR.

**Author(s)**

N/A

**Additional information**

According to the documentation it is possible to write the manifest to disk while using hot module replacement. It does not explain anything about how to do this though.

Please update the documentation to show how this can be done.

https://webpack.js.org/concepts/h

[2019-03-08 11:38] webpack-bot opened #2854 "The Webpack homepage doesn't handle all page widths properly"
# Bug report

**What is the current behavior?**

The "It's" in "It's That Simple" gets partially clipped by the left side of the page if the page width is between 768 and 1050 px.

**If the current behavior is a bug, please provide the steps to reproduce.**

1.) Visit the homepage
2.) Adjust the width of the page to something between 768 and 1050 pixels.

**What is the expected behavior?**

To be

[2019-03-08 11:38] montogeek commented on #2853
Feel free to send a PR

[2019-03-08 13:04] stephan-v commented on #2853
I would If i would actually know how to properly implement this. Apparently someone knows perfectly well how to implement this but did not specify the details.

So far I could not find any documented options on how to do this easily.

[2019-03-11 00:01] Ajacmac commented on #2854
Sorry for originally posting this issue in the main webpack repo.

That said, is there an even better place for this to go?

Thanks.

[2019-03-11 05:55] pranshuchittora opened #2858 "Sidebar not scrolls internally"
### Description
The sidebar not scrolls internally until you scroll the entire page and reach the bottom of the page. Check [this video ](https://drive.google.com/file/d/12MjCuLE5DCxG9uEVetXvZWSWVputpo4m/view?usp=sharing)

### Solution
Make the sidebar scrollable to easily navigate without going to the bottom of the page.

[2019-03-12 08:32] EugeneHlushko commented on #2853
Yup needs a look, cannot advice from the top of my head.

[2019-03-12 09:36] #2858 closed

[2019-03-12 12:28] pranshuchittora opened #2861 "lint script not working"
### Introduction
Running `npm run lint` throws error :point_down:
[code]

[2019-03-12 13:47] montogeek commented on #2861
Install proselint using pyp, it is a Python library

[2019-03-12 13:59] pranshuchittora opened #2862 "Unexpected behaviour of markdowns when contributors is null"
### Introduction
Visit this [page](https://webpack.js.org/contribute/writers-guide) and expand the `Writer's Guide` section in the sidebar. You might see something like this :point_down:
![Screenshot from 2019-03-12 19-19-27](https://user-images.githubusercontent.com/32242596/54205711-e0793d00-44fc-11e9-9e2c-4ed9b1fecce4.png)

There's an unexpected `sort :2`.

### Cause
This is because for this do

[2019-03-12 14:13] pranshuchittora commented on #2861
Works :tada:

[2019-03-12 14:13] #2861 closed

[2019-03-12 15:44] evilebottnawi opened #2864 "Add plugin example/boilerplate and some useful notes"
**Feature to document**

Section - https://webpack.js.org/concepts/plugins

Reasons:
- No information for plugin developers.
- Avoid invalid usage some hooks.
- Other useful stuff.

## Main problem why this issue was created (and first note about invalid usage):
A lot of plugins use `emit` hook for emitting assets, but it is invalid.
Why:
1. `emit` hook is last so you need setup right order (examp

[2019-03-14 02:55] superburrito commented on #2854
This is the best place! Will have a look

[2019-03-14 08:15] webpack-bot opened #2869 "Documentation: devserver --open flag docs incorrect Chrome name for macOS"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
Check at documentation: https://webpack.js.org/configuration/dev-server/#devserveropen

**What is the expected behavior?**

**Please mention other relevant information such as the browser version, Node.js version, webpack ver

[2019-03-14 08:54] EugeneHlushko commented on #2869
hi @sookoll
You are saying, on macOS you need to use `open: "google chrome"` instead of `open: "Chrome"`. Is that right?

[2019-03-14 09:20] sookoll commented on #2869
Yes. Look here (below, options -> app).

[2019-03-14 11:35] #2862 closed

[2019-03-15 02:55] a1p4ca commented on #2457
Is this issue in progress?

[2019-03-15 08:45] webpack-bot opened #2876 "Document webpack change: Allow options.amd to disable AMDPlugin/RequireJsStuffPlugin"
*A pull request by @timneutkens was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8890

---

As discussed with @sokra:

Introduces a new value `false` for `options.amd` that disables AMD support completely.

This would mainly be useful in for example ncc, Next.js etc where it’s either fully commonjs/esmodules (ncc) or fully esm

[2019-03-16 07:20] pranshuchittora opened #2878 "Infra: Build Failing (master)"
Build on master failing.

[code]

[2019-03-16 20:25] EugeneHlushko commented on #2878
Please provide OS and node versions. Please try using `yarn` v > 1.1 as we do have `yarn.lock`

[2019-03-16 20:43] EugeneHlushko commented on #2457
Closing this issue, PR: webpack/webpack/pull/7444 had "fixed" the behaviour mentioned in caveat when prefetch/preload did not work for entry chunk.

And, `entryPrefetchFunction` wasn't merged, it was changed so there is nothing to document here.

[2019-03-16 20:43] #2457 closed

[2019-03-17 08:46] abhinavsagar opened #2881 "Not able to install it on windows"
I am on windows 10 64 bit. When i am doing `npm install` i am getting this

`> ttf2woff2@2.0.3 install C:\Users\Win 10\Desktop\github\webpack.js.org\node_modules\ttf2woff2

gyp ERR! configure error
gyp ERR! stack Error: Command failed: C:\Users\Win 10\AppData\Local\Programs\Python\Python36\python.EXE -c import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack   File "<string>", line 1
g

[2019-03-17 09:44] EugeneHlushko commented on #2881
Hi @abhinavsagar
Thanks for reporting, i don't have windows machine at this moment. Will appreciate any help from the community

[2019-03-17 18:56] montogeek commented on #2881
Could you please try with yarn?

[2019-03-18 19:34] #2876 closed

[2019-03-19 19:20] EugeneHlushko commented on #2869
I could not confirm what the issue claims. Just double checked on two macbooks. It is Google Chrome by default. I've shaped up the section a bit for easier understanding.

CC @sookoll @montogeek

[2019-03-19 19:29] #2869 closed

[2019-03-20 19:57] pranshuchittora commented on #2878
`yarn build` works :tada:

[2019-03-20 19:57] #2878 closed

[2019-03-22 17:24] pranshuchittora opened #2893 "UI/UX: Dark Mode"
Hello Devs,
In the world of developers, there are two types of devs, one on the light side & the rest on the dark side(not that dark side #StarWars :smile: ). Nowadays, many users prefer dark mode, due to this trend many popular products introduced dark mode (Twitter).

As Webpack's website contains docs, there are a lot of users(devs) who would love to read the docs in Dark mode.

Let's discuss :

[2019-03-22 17:58] justinpombrio opened #2899 "The order of `resolve.extensions` matters, but should not"
# Bug report

**What is the current behavior?**

The order of `resolve.extensions` matters. Specifically, this line of configuration:

    resolve : {extensions: ['.js', '.jsx', '.ts', '.tsx'] }

leads to `.ts` files not being compiled, even if there is a `rule` for Typescript. On the other hand, this line:

    resolve : {extensions: ['.ts', '.tsx', '.js', '.jsx'] }

works, and leads to `.ts` fil

[2019-03-23 14:14] FlutterAddict opened #2895 "Typo"
https://webpack.js.org/api/node/#webpack

[code]

[2019-03-25 04:19] mycoin opened #2896 "how to get webpack 3 documentation ? thanks"
em...

No documents, no support..

[2019-03-25 15:14] EugeneHlushko commented on #2893
While documentation is so far from being up-to-date with features, i find this unnecessary. Maybe others feel different tho. But my call is, invest time and effort into catching up in terms of feature parity vs fancy stuff.

[2019-03-25 15:29] EugeneHlushko commented on #2895
Links weren't working from inside the code, need to be in a comment

[2019-03-25 15:36] EugeneHlushko commented on #2896
Please see #1961, closing as duplicate

[2019-03-25 15:36] #2896 closed

[2019-03-25 17:07] pranshuchittora commented on #2893
Ya, makes sense.
Let's take this with least priority.

[2019-03-25 18:22] #2895 closed

[2019-03-26 12:29] EugeneHlushko commented on #2899
@justinpombrio wanna send PR or should i?

[2019-03-28 02:47] zilong-thu opened #2903 "Document mistake with TerserWebpackPlugin"
**Feature to document**

The title might be wrong in this page: https://webpack.js.org/plugins/terser-webpack-plugin

**Author(s)**

**Additional information**

![image](https://user-images.githubusercontent.com/5078580/55126030-c53a3e80-5146-11e9-8b4f-78ebca7fe9af.png)

[2019-03-28 06:51] #2416 closed

[2019-03-28 08:01] montogeek commented on #2903
I have a different version:
![image](https://user-images.githubusercontent.com/1002461/55140287-024b0480-5138-11e9-9b2f-444385483c54.png)

Maybe GitHub cache?

[2019-03-28 08:29] EugeneHlushko commented on #2903
Cannot reproduce too

[2019-03-28 11:26] zilong-thu commented on #2903
@montogeek  not quite sure.

@EugeneHlushko , I will try to dig deeper next time I run into this problem.

Thanks guys~~

[2019-03-28 11:26] #2903 closed

[2019-03-28 18:38] #2854 closed

[2019-03-28 23:04] luispuig opened #2907 "Dynamic Module Import with its own chunk dependencies"
I am trying to use `Module Dynamic Import` to create a bundle with an npm package using this is an excellent tutorial: https://webpack.js.org/guides/code-splitting/

But the `npm package` that I want to load dynamically **has its own chunk dependencies**:

![image](https://user-images.githubusercontent.com/24297787/55197905-53004300-51b4-11e9-93f6-b0372ca1e76f.png)

I can see that Webpack created

[2019-03-29 08:29] montogeek commented on #2907
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2019-03-29 08:29] #2907 closed

[2019-03-29 08:45] luispuig commented on #2907
I agree. Thanks and sorry.

[2019-03-31 20:09] EslamHiko opened #2912 "build failed : You may need an appropriate loader to handle this file type."
Hello i have problem running the project locally
i was following this guide : https://github.com/webpack/webpack.js.org/blob/master/.github/CONTRIBUTING.md

OS : Win 10
NPM : 5.6.0
Yarn : 1.15.2
Node.js : v9.4.0

[code]
i tried npm build the same thing happens too
 so what can i do to fix it ? what am i missing ?

[2019-04-01 02:45] justinpombrio commented on #2899
I finally did. https://github.com/webpack/webpack.js.org/pull/2913

[2019-04-01 06:57] EugeneHlushko commented on #2912
Team members don't have Windows to debug this IIRC from last similar issue, you may need to dig into it

[2019-04-01 07:58] montogeek commented on #2912
I have Windows, will test

[2019-04-02 03:33] thatguypark opened #2916 "Importing Default using "import" statement not working"
Having a hard time understanding the documentation regarding `import` declarations.  The documentation on the website [https://webpack.js.org/api/module-methods/](module methods) makes mention to use imports, referring to MDN's spec, which matches the es6 [http://2ality.com/2014/09/es6-modules-final.html](es6 spec on imports).

In my export file I have...

`export default class_builder(.....)`

Wh

[2019-04-02 06:29] montogeek commented on #2916
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2019-04-02 06:29] #2916 closed

[2019-04-02 08:05] mycoin commented on #1961
For Mainland China developers: https://webpack-3.gz.bcebos.com/

[2019-04-02 14:27] #2899 closed

[2019-04-02 15:15] lukasgeiter opened #2918 "Strange module objects structure source example"
I noticed that in the structure example for [*Stats Data* > *Module Objects*](https://webpack.js.org/api/stats#module-objects) the `source` property has a strange value:

![image](https://user-images.githubusercontent.com/5907946/55413689-20ff3000-556a-11e9-833c-6ac9584bb4eb.png)

I've stumbled upon this while fixing not escaped backslashes (#2917) but didn't really what the intended value was sup

[2019-04-03 02:09] thatguypark commented on #2916
Figured it out today, seems that it was Chrome Inspector was interpreting my import statement as a Module.  After using the good old `console.dir(MyClass)` I got the expected object, so it was Chrome that was misleading me.   It seems that the object was missing the method that was throwing the initial error.

So happy to close this.

[2019-04-03 07:18] Erowlin commented on #1961
Thank you!
Top left, the badge indicates "v4.29.6". Have you checkout the proper tag?
![image](https://user-images.githubusercontent.com/1775878/55460137-7894ae80-55f1-11e9-8085-07e975180ef3.png)

[2019-04-03 09:22] bendtherules commented on #1961
Thanks for bringing it to notice.

Actually, the source code has the unversioned badge from shields.io (like https://img.shields.io/npm/v/webpack.svg), which picks up the latest npm version.

It is probably supposed to do exactly that, show the latest webpack npm package version and NOT show the npm package version which the documentation is for.

Maybe, they could have used the tagged version (li

[2019-04-03 23:01] SetTrend opened #2919 "Expand documentation of SplitChunksPlugin and replace CommonsChunkPlugin references in documentation"
**Feature to document**

The current guide on the `SplitChunksPlugin` appears brief. The `SplitChunksPlugin` is only described [here](https://webpack.js.org/plugins/split-chunks-plugin/). Almost all other pages in the documentation still describe usage of the `CommonsChunkPlugin`.

May I suggest to groom the documentation in regard to the `SplitChunksPlugin`?

**Author(s)**
- sokra
- jeremenichell

[2019-04-04 06:50] montogeek commented on #2919
Feel free to send a PR

[2019-04-04 12:36] EugeneHlushko commented on #2919
ALso @TheLarkInn said he has a good idea of how to structure the new split chunks guide, Sean you there?

[2019-04-04 18:50] SetTrend commented on #2919
I won't be of help here, I'm afraid. I'm still learning how to use this plug-in myself 😢

[2019-04-05 08:52] EugeneHlushko commented on #2918
Definitely needs a look, thanks for spotting

[2019-04-05 12:48] mnieber opened #2920 "Webpack should not use the word 'execute' (right?)"
I'm reading the `config` documentation on `entry` and it mentions"

I hope this does not come across as nitpicking, but I find this confusing because afaict webpack only bundles, and in that case there should be no mention of the word "execute". It seems better to just use the word bundle here, as in: The point (or points) in the code from which Webpack starts bundling.

[2019-04-05 14:20] EugeneHlushko commented on #2919
Its good that we kicked off this conversation, lets get more feedback now

[2019-04-05 14:21] EugeneHlushko commented on #2920
Yes makes sense, want to file a PR @mnieber ?

[2019-04-05 15:07] mnieber commented on #2920
@EugeneHlushko yes, I will give it a shot (I'm not a webpack expert, but this seems easy enough to fix)

[2019-04-06 07:02] EugeneHlushko commented on #2920
Thank you, shout if it doesn’t work out well

[2019-04-06 18:51] jorydotcom opened #2921 "Elect / Nominate representative(s) to the OpenJS Foundation CPC"
## Context
As part of the new [OpenJS Foundation's bylaws](https://github.com/openjs-foundation/bootstrap/blob/master/artifacts/OpenJS-Foundation-Initial-Merged-Bylaws.pdf), the Cross Project Council (CPC) has been [chartered](https://github.com/openjs-foundation/bootstrap/tree/master/proposals/stage-2/CPC_CHARTER) to serve as the primary governing body for programs and regular support of Foundati

[2019-04-07 11:33] montogeek commented on #2921
cc @TheLarkInn @sokra

[2019-04-07 21:14] Loonride opened #2922 "new Dev Server option: http2"
**Feature to document**

New Dev Server `http2` option: https://github.com/webpack/webpack-dev-server/pull/1721

**Author(s)**

Myself. Mainly reviewed by @evilebottnawi

**Additional information**

N/A

[2019-04-08 08:30] EugeneHlushko commented on #2921
Was under impression we are already on `open governance` model

[2019-04-08 13:20] jorydotcom commented on #2921
@EugeneHlushko to clarify, this *does not* affect the way the project is governed now. This is about how the webpack community decides to participate in the OpenJS Foundation along with the other projects. The Foundation will be embarking on a lot of programs and projects that will benefit projects like webpack, and we want to make sure those things are run by and for the projects :smile:

[2019-04-08 14:15] EugeneHlushko commented on #2921
Ah, sounds intense and exciting 👍 ty for clarification @jorydotcom

[2019-04-08 18:49] webpack-bot opened #2924 "Document webpack change: Convert finishModules hook to be an AsyncSeries"
*A pull request by @mattsjones was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8990

---

I am working on a new webpack plugin that requires access to the full module graph after the first pass. The plugin may trigger rebuilds, which could result in more modules being added to the graph — this work needs to occur before the `

[2019-04-09 08:01] #2924 closed

[2019-04-09 19:56] givanse opened #2926 "Where do I find docs on how to upgrade a plugin to the new API on `.hooks`?"
**Feature to document**

Tapable new API `.hooks`

**Additional information**

All Internet search results only show answers for:

As a plugin ~author~ heir, where do I find docs on the upgrade process?

[2019-04-09 20:30] givanse commented on #2926
Looks like the `hooks` first appeared with this PR https://github.com/webpack/tapable/pull/37/files, which is massive and difficult to extract the relevant bits of info.

[2019-04-10 07:49] EugeneHlushko commented on #2926
Hi @givanse
I had a great reference for you, but it is somewhere in webpack/webpack repo pull requests, still trying to find. We were migrating some of the tests onto hooks and you could see how we did that from those PRs.

[2019-04-10 11:05] EugeneHlushko commented on #2926
Can you also link to code where you use tapable

[2019-04-10 14:10] mycoin commented on #1854
For Mainland Chinese developers [https://webpack-3.cdn.bcebos.com/](https://webpack-3.cdn.bcebos.com/)

[2019-04-10 14:48] webpack-bot opened #2927 "https://webpack.js.org/ pages not loading CSS / images (404 errors)"
# Bug report

**What is the current behavior?**
Styles and images are missing on the webpack documentation pages at https://webpack.js.org/, console shows numerous 404 errors for image / css requests, across multiple pages.

**If the current behavior is a bug, please provide the steps to reproduce.**
Visit https://webpack.js.org/ on Chrome, Firefox or Safari (probably any browser, really)

**What

[2019-04-10 14:48] webpack-bot opened #2928 "https://webpack.js.org/ pages not loading CSS / images (404 errors)"
# Bug report

**What is the current behavior?**
Styles and images are missing on the webpack documentation pages at https://webpack.js.org/, console shows numerous 404 errors for image / css requests, across multiple pages.

**If the current behavior is a bug, please provide the steps to reproduce.**
Visit https://webpack.js.org/ on Chrome, Firefox or Safari (probably any browser, really)

**What

[2019-04-10 14:49] evilebottnawi commented on #2928
Something wrong with github api today, we can close duplicate

[2019-04-10 15:56] EugeneHlushko commented on #2927
Could be you hit old assets after release, still can reproduce @DustinGaudet ?

[2019-04-10 16:45] DustinGaudet commented on #2927
@EugeneHlushko seems to have resolved on all my browsers!

[2019-04-10 19:29] EugeneHlushko commented on #2928
I will close this as another has a start for dialog

[2019-04-10 19:29] #2928 closed

[2019-04-10 19:29] EugeneHlushko commented on #2927
Amazing! Cheers

[2019-04-10 19:29] #2927 closed

[2019-04-10 21:16] givanse commented on #2926
Unfortunately the code is not publicly available and I can't share it.

[2019-04-11 08:19] EugeneHlushko commented on #2926
Okay, this can help i hope:
https://github.com/webpack/webpack/pull/6166/files
https://github.com/webpack/webpack/pull/6164/files
https://github.com/webpack/webpack/pull/6136/files
https://github.com/webpack/webpack/pull/6148/files

[2019-04-11 09:20] EugeneHlushko commented on #2922
Closing via #2923

[2019-04-11 09:20] #2922 closed

[2019-04-11 18:06] dmohns opened #2932 "docs(dev-server): New mimeTypes option"
**Feature to document**

New option `mimeTypes` for dev server: https://github.com/webpack/webpack-dev-server/pull/1714

**Author(s)**

Myself. Reviewers: @evilebottnawi @hiroppy

**Additional information**

None

[2019-04-11 20:20] wonnage opened #2934 "Cache documention is wrong"
**Feature to document**

`cache` option in webpack config has incorrect documentation. It states that cache is automatically enabled if the compiler is in watch mode.

It turns out turning on watch mode doesn't automatically turn on the cache option. It looks like this is actually only the case if `mode` is set to `development`: https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefa

[2019-04-11 20:21] wonnage commented on #2934
I'm not sure if this is a documentation fix (tell users to use development mode or set it manually), or a code fix (actually default cache to true if watching).

[2019-04-12 01:03] spencerkordecki opened #2935 "Webpack Public Path 404 from Google"
I was searching for docs on `publicPath` through Google and the first result that is returned is a 404. It looks like Google is thinking the URL is `/guides/public-path/index.html` when it's actually just `/guides/public-path/`

404 URL: https://webpack.js.org/guides/public-path/index.html
Google URL: https://www.google.com/search?client=firefox-b-1-d&q=webpack+publicpath

Let me know if I can pro

[2019-04-12 07:40] rockmandash opened #2938 "Can't access https://webpack.js.org/guides/typescript/index.html"
Can't access https://webpack.js.org/guides/typescript/index.html

[2019-04-12 08:11] svlapin commented on #2912
This doesn't seem to be Win-only, happened to me on Ubuntu, worked this arount by downgrading Webpack locally as suggested in https://github.com/webpack/webpack/issues/8656
[code]

[2019-04-12 08:53] montogeek commented on #2938
How did you reach that URL?
https://webpack.js.org/guides/typescript/ works

[2019-04-12 08:54] montogeek commented on #2935
@EugeneHlushko Uhmm, any idea?

[2019-04-12 08:56] rockmandash commented on #2938
![image](https://user-images.githubusercontent.com/7580792/56025009-de94da80-5d43-11e9-856d-35c9bf6e2103.png)

[2019-04-12 09:34] yujigali opened #2939 "Do you consider Ant-Design?"
Emmm.... Ant-Design is a very pretty component library, and I think webpack.js.org is not so prerry. Do you consider Ant-Design?

[2019-04-12 09:55] EslamHiko commented on #2912
@salvpin yea I tried that and it had some other problems I just could finally make it work.

if anyone still having this problem,

- delete node_modules
- downgrade to webpack@4.28.4
- make sure you have python 2
- make sure you have windows build tools

it works now without any issues.

[2019-04-12 10:14] montogeek commented on #2938
Related to https://github.com/webpack/webpack.js.org/issues/2935

[2019-04-13 12:02] spencerkordecki commented on #2935
@montogeek I checked again today and I can't see that link through Google any more. Perhaps Google was crawling the wrong items at some point? That link still 404s, but I can only access it directly and not through Google like I was able to at the time of the issue.

[2019-04-13 18:05] EugeneHlushko commented on #2935
Interesting, maybe this is one of google "features" where it also tries to get `index.html` file in the url...  I dont see internal links to .html files. Will have a second look later when i've time

[2019-04-13 18:32] EugeneHlushko commented on #2934
Hi @wonnage
Yes this makes sense to correct in docs, very nice finding. Want to file PR or should i take care of that?

[2019-04-15 11:45] #2932 closed

[2019-04-16 03:05] justingrant commented on #2223
I ended up here from a google search for: _Webpack flow diagram_.   Even for regular users trying to configure webpack (not only plugin developers), having a flow diagram would be very helpful to get a big picture view of how webpack works.  This is needed because it's really unclear to beginners (and maybe to non-beginners too!) how webpack, babel, loaders, plugins, code in config files, etc. rel

[2019-04-16 08:58] EugeneHlushko commented on #2934
Picked it up, ty again

[2019-04-16 11:22] #2934 closed

[2019-04-16 17:01] Seasonley opened #2946 "should remove this link https://webpack.js.org/api/resolvers#sort-3"
**Feature to document**

**Author(s)**

**Additional information**

[2019-04-18 08:41] anshumanv commented on #2935
This seems fixed now.

[2019-04-18 08:45] anshumanv commented on #2920
@mnieber let me know if you're finding difficulty so I'll pick this up! 😄

[2019-04-18 09:12] anshumanv commented on #2939
Using another component library will greatly bloat the pages, I think improving our own SASS would be a better and quicker option to reach any desired UI.

[2019-04-18 09:41] EugeneHlushko commented on #2935
Closing as i cannot reproduce either

[2019-04-18 09:41] #2935 closed

[2019-04-18 09:48] EugeneHlushko commented on #2946
Thanks for reporting

[2019-04-18 10:11] #2946 closed

[2019-04-19 10:31] pranshuchittora opened #2951 "ui(homepage): Fix file name text alignment"
In PR #2947, the heading was made to align in the centre which no doubt looks good. Unfortunately now the entire page is centre aligned.

_Desktop_

![Screenshot from 2019-04-19 15-55-52](https://user-images.githubusercontent.com/32242596/56420545-fe844b00-62bb-11e9-9b6c-0304b2b19e28.png)

_Mobile_

![Screenshot from 2019-04-19 15-56-11](https://user-images.githubusercontent.com/32242596/56420546-

[2019-04-19 12:54] EugeneHlushko commented on #2951
how did you connect `.splash h2` rule to the filenames? @pranshuchittora

[2019-04-19 16:42] anshumanv commented on #2938
Seems fixed now. 👍

[2019-04-19 16:42] anshumanv opened #2954 "Deploy previews on each PR"
Can we setup deploy previews on each PR to quickly review the changes?

Netlify can do this pretty quickly, all we need to do it add the repo on it and it will provide a preview link on each PR.

@EugeneHlushko @montogeek

[2019-04-19 16:59] pranshuchittora commented on #2954
@anshumanv IMO integrating Netlify is not required.
Because you can achieve something similar to this in VSCode. [Read this](https://code.visualstudio.com/blogs/2018/09/10/introducing-github-pullrequests)

[2019-04-19 17:03] EugeneHlushko commented on #2954
Just added an integration with netlify, lets see if it works for new PRs outside of my own. For myself looks like its building my own pr now: https://github.com/webpack/webpack.js.org/pull/2955

[2019-04-19 17:06] #2938 closed

[2019-04-19 17:12] anshumanv commented on #2954
Because you can achieve something similar to this in VSCode. Read this

Too complex in comparison to visiting a link.

Build seems to be failing now, looking at the logs! @EugeneHlushko

[2019-04-19 17:30] anshumanv commented on #2954
@EugeneHlushko what's the build command you're using? I just deployed my fork and seems to work instantly - https://webpack-docs.netlify.com/
![image](https://user-images.githubusercontent.com/21009455/56435640-d403b380-62f6-11e9-93b7-8f5fa525dde2.png)

[2019-04-19 17:35] EugeneHlushko commented on #2954
It works: https://github.com/webpack/webpack.js.org/pull/2953
Had to fine tune it, ty for suggesting, feel free to close

[2019-04-19 17:36] anshumanv commented on #2954
Awesome! <3

[2019-04-19 17:36] #2954 closed

[2019-04-19 18:26] anshumanv commented on #1525
Netlify done ✨
https://github.com/webpack/webpack.js.org/issues/2954

[2019-04-19 18:27] EugeneHlushko commented on #1525
It is not about previews, it is about hosting in general

[2019-04-19 20:12] 2alin opened #2958 "Unclickable anchors under gitter button container"
Because of the way the gitter button container is positioned and built (spanning vertically over the whole viewport), it's making all the content under it inaccessible, including unclickable anchors bellow that region.
![Screenshot_20190419_144136_marked](https://user-images.githubusercontent.com/4089035/56442207-78fd9c80-62b5-11e9-9cca-799302d71413.png)

[2019-04-20 13:07] anshumanv commented on #2738
This seems fixed now. ✨

[2019-04-20 13:10] anshumanv commented on #2711
On it.

[2019-04-20 13:34] anshumanv commented on #2573
Up for grabs?

[2019-04-20 13:52] anshumanv commented on #2378
Sounds good to me too, @EugeneHlushko @montogeek thoughts?

[2019-04-22 12:02] EugeneHlushko commented on #2912
We use `yarn` in webpack.js.org, the linked issue talks about npm hoisting. Can you reproduce this while using `yarn`?

[2019-04-22 12:30] EugeneHlushko commented on #2912
if you try branch `issues/2912` and use `yarn install && yarn run start`, it should work

[2019-04-22 12:47] EslamHiko commented on #2912
@EugeneHlushko I tried Yarn & it had the same issue, downgrading webpack & reinstalling windows build tools & python 2 only worked for me using both Yarn & NPM.
Thank you for the branch `issues/2912`.
I'll try it.

[2019-04-22 13:26] EslamHiko commented on #2912
It came up with that error
[code]

the full output :
[code]
the same thing happnes with npm too.

[2019-04-22 13:31] EslamHiko commented on #2881
@abhinavsagar
Please try to install python 2 & make sure its path is in the environment paths.
You have already python 3.
Rename python 2 executable from `python.exe` to `python2.exe`.
And try again.

[2019-04-22 16:14] EugeneHlushko commented on #2912
You need to do `yarn run fetch` prior to doing your first `yarn run start`

[2019-04-22 16:14] EugeneHlushko commented on #2912
It will fetch you some files, supporters, etc.

[2019-04-22 16:31] EslamHiko commented on #2912
@EugeneHlushko Thank you it works now without any issues 😄

[2019-04-22 17:05] #2573 closed

[2019-04-22 17:33] jorydotcom commented on #2921
Hi webpack team (cc @TheLarkInn & @sokra)! Any updates to share here? As an FYI, if you don't think this is something webpack wants to commit to doing as an Impact project, we can always change status to At Large or Growth which do not have the same expectations for participation. LMK what you're thinking, if you want to chat sometime.

[2019-04-22 19:18] #2912 closed

[2019-04-22 19:23] TheLarkInn commented on #2921
Hey there! We'll meet about this and determine (up to 2) representatives. Where should we send our official response to @jorydotcom?

[2019-04-23 11:49] VanDoornP opened #2966 "Documentation on disabling (pre)loaders inline"
**Feature to document**
Documentation on disabling (pre)loaders inline
* adding ! to a request will disable configured preLoaders
```require("!raw!./script.coffee")```

* adding !! to a request will disable all loaders specified in the configuration
```require("!!raw!./script.coffee")```

* adding -! to a request will disable configured preLoaders and loaders but not the postLoaders
```require("-!

[2019-04-23 13:53] jorydotcom commented on #2921
Thank you @TheLarkInn! You can either let me know on this thread or post your reps to https://github.com/openjs-foundation/bootstrap/issues/152

[2019-04-24 04:37] #2951 closed

[2019-04-24 08:44] #2958 closed

[2019-04-24 08:47] #2711 closed

[2019-04-25 02:58] chenqingspring commented on #1854
This is official tagged doc for v3.11.0: https://github.com/webpack/webpack.js.org/tree/v3.11.0/src/content/configuration

[2019-04-26 10:38] hiroppy opened #2974 "Add documentation of sockPort, injectClient, and injectHot"
**Feature to document**

Add new options's descriptions of webpack-dev-server.

`sockPort`, `injectClient`, and `injectHot`

**Author(s)**

/cc @evilebottnawi

**Additional information**

related: https://github.com/webpack/webpack-dev-server/pull/1821

[2019-04-26 14:07] maciej-gurban commented on #2069
For people stumbling here from Google, it looks that `webpack-dev-server` is back in the game and is currently being actively developed again. The `webpack-serve` project has been archived.

[2019-04-28 09:50] gaggle opened #2977 "Website doesn't work at all - Just shows blank white page"
FYI I see a completely blank white page when visiting https://webpack.js.org

The console shows the following output:
[code]

Using Safari Version 12.0.2 (14606.3.4)

[2019-04-28 11:05] montogeek commented on #2977
@EugeneHlushko ;)

[2019-04-29 15:58] EugeneHlushko commented on #2977
Hi @gaggle

Thanks for reporting, will look into it

[2019-04-29 16:35] EugeneHlushko commented on #2977
This is fixed in ref PR, will close the issue soon-ish

Preview here: https://deploy-preview-2979--webpackjsorg-netlify.netlify.com/

[2019-04-29 18:27] #2977 closed

[2019-04-29 19:22] pranshuchittora opened #2980 "[Feat]: Drop-down to select docs for different version"
**Description**
As webpack 5 is about to launch in the near future, docs are going to be majorly upgraded. But, there are still people around who want to access the webpack v4 docs.

**Solution**
-  Addition of a drop-down in the Nav.
- Or Route separation.
     - `webpack.js.org/v4/*` for webpack v4 docs.
     - `webpack.js.org/v5/*` for webpack v5 docs.

_(I prefer dropdown)_

Something just lik

[2019-04-30 06:44] montogeek commented on #2980
Thanks for the reminder, this is already being discussed, we need to setup the infrastructure for it.

[2019-05-01 14:34] jorydotcom opened #2982 "Community Invitation to the OpenJS Collaborator Summit + Info"
*Hi all! In an effort to make sure we're fully getting the word out to OpenJS Foundation project communities about the collaborator summit, I'm posting the following message on main or admin repos:*

This year, the Node Collaborator summit is opening up to include and welcome all former JS Foundation projects. The Collaborator summit is a space where projects and working groups within projects hav

[2019-05-01 15:48] EugeneHlushko commented on #2069
Under which search query @maciej-gurban ?

[2019-05-01 15:49] EugeneHlushko commented on #2069
webpack-dev-server's readme and on webpack.js.org doesn't have deprecation notices anymore. Should we just close this? CC @montogeek

[2019-05-01 15:49] EugeneHlushko commented on #2974
@hiroppy wanna file a PR or should we pick it up?

[2019-05-01 15:53] EugeneHlushko commented on #2378
Yeah i guess `Awesome isn't it? Lets dive in!`

Has to be `Let's` though. Will up a PR

[2019-05-03 06:21] reeversedev opened #2989 "[UX]: Mobile Sidebar padding should be reduced"
I've been exploring the mobile side of sidebar and the look of the first element in the sidebar including the title and close button. There is some unnecessary space from top which can reduced.

Current Look:
![Screenshot 2019-05-03 at 11 43 20 AM](https://user-images.githubusercontent.com/21155917/57122170-8fb5f000-6d99-11e9-9f7c-9c683d7d811b.png)

Improved Look:
![Screenshot 2019-05-03 at 11 50

[2019-05-03 07:00] EugeneHlushko commented on #2989
Improved version looks nice, file a pr please @reeversedev

[2019-05-03 12:45] ematipico opened #2991 "Document request: futureEmitAssets"
**Feature to document**
`output.futureEmitAssets`

**Author(s)**
@sokra

**Additional information**
https://github.com/webpack/webpack/releases/tag/v4.29.0

This is a new feature that helps a lot the performance of the incremental builds. It should be documented.

I looked for closed issues but couldn't find anything

[2019-05-03 15:42] EugeneHlushko commented on #2989
Closing via #2989

[2019-05-03 15:42] #2989 closed

[2019-05-03 15:57] Crisfole commented on #995
This content is no longer present on the Webpack.js website. Is it out of date, or just accidentally dropped?

[2019-05-03 16:54] dmitriid commented on #995
@Crisfole It's quite possible that the current setup instructions (including those on TS site) are enough. Can't verify this, unfortunately, as I no longer have a TypeScript setup

[2019-05-04 00:23] kevjin opened #2992 "Installation page is broken, 404 Not Found"
### Problem
When I navigate to the webpack installation page:
https://webpack.js.org/guides/installation/index.html
the installation page appears for a quick second, and then **404 Not Found** appears

This link is the top result on Google when I search "webpack installation"
![webpack broken](https://user-images.githubusercontent.com/15851351/57171264-efc78900-6dcf-11e9-8034-63c12858896f.png)

![

[2019-05-04 00:29] kevjin commented on #2992
It seems like the link:
https://webpack.js.org/guides/installation/#root
works for showing the installation page. But when I am searching up "webpack installation" on google, the top result that pops up is:
https://webpack.js.org/guides/installation/index.html _(which is broken)_
I think instead of having the page show as 404 Not Found, there should be a redirect to the first link

[2019-05-04 06:18] reeversedev opened #2993 "Unnecessary negative margin for 'Write your Code' and 'Bundle It' section should be removed"
While I was inspecting the website on tablet mode. The whole website looks so smooth and easy to navigate but one part on tablet mode looked a little it different and out of consistency.

I am attaching both the pictures with before and after removing the margin.

Before:
![Screenshot 2019-05-04 at 11 44 52 AM](https://user-images.githubusercontent.com/21155917/57174843-8775b780-6e62-11e9-9db9-07f

[2019-05-04 06:25] reeversedev commented on #2993
@EugeneHlushko What do you think?

[2019-05-04 06:36] EugeneHlushko commented on #2992
This seems like a random google issue time to time related to how github pages let google access index.html directly.
Right now it looks like this:
<img width="822" alt="Screen Shot 2019-05-04 at 9 34 07 AM" src="https://user-images.githubusercontent.com/10549495/57175048-044b6600-6e50-11e9-8c1b-9c87589a4c32.png">

[2019-05-04 06:38] EugeneHlushko commented on #2993
This is a design choice that was made previously, doesn't look like an issue to me

[2019-05-04 08:23] reeversedev commented on #2993
I agree that this must be a design choice but don't you think removing the margin makes it look better?

[2019-05-04 14:31] EugeneHlushko commented on #2991
Will do, thanks for reporting. Wonder why bot didnt pick it up from here: https://github.com/webpack/webpack/pull/8642

[2019-05-05 07:28] #2378 closed

[2019-05-05 10:18] EugeneHlushko commented on #2992
@kevjin can you still reproduce?

[2019-05-05 10:19] EugeneHlushko commented on #2980
Closing as duplicate, as soon as we have a go with netlify this will be tracked in separate issue

[2019-05-05 10:19] #2980 closed

[2019-05-05 10:23] EugeneHlushko commented on #2974
Picking this up:
Lets track progress on checkboxes:
- [] `sockPort`:
- [] `injectClient`:
- [] `injectHot`:

[2019-05-05 19:23] jakub-g opened #2997 "`resolve.extensions` docs say that `*` is needed to resolve imports with extensions"
https://webpack.js.org/configuration/resolve/#resolveextensions says:

This change landed in https://github.com/webpack/webpack.js.org/commit/c5a12dfeb5da53f839c30649473c7d9aa301e70b around webpack 2

However AFAICT, it is no longer needed - I don't have `'*'` nor `''` in my webpack config and the imports with explicit extensions like `.js` work fine. So I'm wondering if this piece of documentatio

[2019-05-06 07:14] EugeneHlushko commented on #2997
No i don't think thats necessary anymore, want to fix it @jakub-g or should i?

[2019-05-06 19:09] jakub-g commented on #2997
Ok opened https://github.com/webpack/webpack.js.org/pull/2998

[2019-05-07 07:04] #2966 closed

[2019-05-07 07:07] montogeek commented on #2992
We need to know *for real* why this is happening

[2019-05-07 07:08] #2991 closed

[2019-05-07 07:10] montogeek commented on #2993
Yes, that negative (I think it is called) space looks better

[2019-05-07 07:50] #2997 closed

[2019-05-07 08:10] EugeneHlushko commented on #2992
I think its github pages allowing crawlers to access files directly

[2019-05-07 08:21] EugeneHlushko commented on #2992
Can be one of the pages linked to index.html at some point and google kept that in memory.... maybe making a sitemap will help

[2019-05-07 08:21] EugeneHlushko commented on #2992
We could also add canonical to page without index.html, should work

[2019-05-07 08:33] reeversedev commented on #2993
@montogeek So you like the Before part or the After part?

[2019-05-07 10:01] montogeek commented on #2993
Yes

[2019-05-08 16:04] #2992 closed

[2019-05-09 06:49] webpack-bot opened #3001 "[Documentation] add guide to automatically retrying chunk loading"
I've seen the advice to override `__webpack_chunk_load__` to implement our own retry behavior, but how do I ensure that I override that function for all chunks?  I assume that if I put my override in my entry module it will only apply to modules in the entry chunk, not modules in other chunks (which may themselves async load additional chunks).

---

This issue was moved from webpack/webpack#9102

[2019-05-09 07:52] webpack-bot opened #3002 "Document webpack change: Preset option for errors & warnings only"
*A pull request by @vincentrodriguez was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8919

---

I've noticed that I often need just see warnings and errors since during rapid development I don't really need to see the modules stats. So I tend to write the same code every time and it would be nice to be able to just provide an

[2019-05-09 14:13] #3002 closed

[2019-05-09 16:38] jedwards1211 commented on #3001
also, I'm confused how that function actually gets used because I couldn't grep it anywhere in my output bundles, even though I definitely have dynamic `import()` statements.

[2019-05-09 16:59] furkle opened #3005 "Writer's guide link in PR template is broken"
The URL in the template to the writer's guide leads to what appears to be a broken redirect (/writers-guide/). The redirect appears as if it *should* occur within https://github.com/webpack/webpack.js.org/blob/3854b237a212d2b5d175651d418d1847ce7069c0/webpack.ssg.js. The actual link, /contribute/writers-guide/, still works correctly.

[2019-05-09 17:32] hiroppy commented on #2974
I missed the message. I'm sorry. Thank you for adding these to the document.

[2019-05-10 14:16] EugeneHlushko commented on #3005
Want to file a PR to fix it @furkle or should we pick up?

[2019-05-10 20:50] furkle commented on #3005
I bundled this fix in (somewhat inadvertently) with another change in #3007. It should maybe receive a rebase given that there's a couple junk commits in there.

[2019-05-10 21:13] webpack-bot opened #3012 "Document webpack change: allow to access the function generating the script src"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/8462

---

fixes #8259

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`__webpack_get_s

[2019-05-11 00:27] furkle commented on #3005
The referenced pull has been accepted. Closing the issue, feel free to reopen if needed.

[2019-05-11 00:27] #3005 closed

[2019-05-11 18:47] rmccullagh commented on #1961
This the problem with the javascript community. Nobody cares about backwards compatibility, and documentation is deleted.

[2019-05-12 12:16] nveenjain opened #3015 "Page scroll remains fixed when navigating"
**Feature to document**
When navigating, if I've scrolled to the bottom of one page and navigate to another page, then the new page loads with scroll fixed at the bottom, One has to scroll up to start reading from starting of the page.
To reproduce, scroll down to the bottom in any page, and then click on any link to load another page.

**Author(s)**
N/A

**Additional information**
window.scrollTo

[2019-05-12 17:41] pranshuchittora opened #3017 "[build]: build failing"
**Introduction**
`npm run build` is exiting with status 2.

![Screenshot from 2019-05-12 23-08-37](https://user-images.githubusercontent.com/32242596/57585843-26597e00-750b-11e9-8e18-508f93ec7965.png)

**Expected Output**
It should build successfully.

[2019-05-12 18:39] pranshuchittora opened #3020 "feat[sidebar]: vote option is missing in mobile site"
**Description**

`VOTE` option is missing in the sidebar in mobile website

![Screenshot from 2019-05-13 00-07-55](https://user-images.githubusercontent.com/32242596/57586418-3a08e280-7513-11e9-8477-ee4c2f6e4979.png)

[2019-05-13 07:11] EugeneHlushko commented on #3017
We use yarn in this repository

[2019-05-13 07:11] #3017 closed

[2019-05-13 07:35] #3020 closed

[2019-05-13 07:38] montogeek commented on #3017
What is triggering that error exactly?

[2019-05-13 07:48] EugeneHlushko commented on #1400
FOIT is now in progress, the google fonts part will soon land in support on Google's side so we dont need to resort to hosting a copy of the current version of the font on our side.

[2019-05-13 08:22] EugeneHlushko commented on #3017
i think we dont need to keep this discussion or this ends up in package-lock.json which leads to headache when you need to update deps and have both yarn and npm locks

[2019-05-13 08:23] EugeneHlushko commented on #3017
The error is related to a known issue that sokra was fixing in 4.30.1 4.30.2 4.30.3 where npm hoisted wrong dep IIRC

[2019-05-13 08:24] EugeneHlushko commented on #3017
https://github.com/webpack/webpack/issues/8656

[2019-05-13 11:45] pranshuchittora commented on #3017
Thanks @EugeneHlushko executing scripts with`yarn` is working successfully. But why it's behaving weirdly with`npm`.

IMO the workflow with both the package manager should be consistent.

Thanks you.

[2019-05-13 13:28] montogeek commented on #3017
His 2 previous comments answer the why.

[2019-05-13 16:24] pranshuchittora commented on #2993
IMO the current design shouldn't be changed until & unless content overflow or misbehaves in any resolution.

[2019-05-13 18:41] webpack-bot opened #3024 "Document webpack change: add `minRemainingSize` option for splitChunks"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9123

---

avoid zero sized modules as they lead to problems
add `minRemainingSize` option for splitChunks to ensure leftover chunks from splitting have a minimum size
defaults to `minSize` of cache group
defaults to global option when not specified
glo

[2019-05-13 20:29] webpack-bot opened #3025 "Document webpack change: improve merging of resolve and parsing options"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9126

---

improve merging of resolve and parsing options
by rules and via loader API

Objects are deeply merged
Arrays overwrite by default, but can reference old value with "..."

fixes #8968

**What kind of change does this PR introduce?**
feature, m

[2019-05-14 06:27] #2993 closed

[2019-05-14 13:46] evilebottnawi opened #3028 "improve documentation about source map for libraries"
**Feature to document**

I think we need provide example how configure webpack to generate source map for libraries on this page https://webpack.js.org/guides/author-libraries/

**Author(s)**

No matter

**Additional information**

Ref: https://github.com/webpack/webpack/issues/8352#issue-378520725

[2019-05-14 17:43] pranshuchittora opened #3032 "feat(sidebar): drop-down for each section in SideBar (Mobile Devices)"
**Problem**
As of now all the sections, as well as their subsections, are listed linearly in the sidebar (mobile devices). Which makes it harder to navigate.

![Screenshot from 2019-05-14 23-15-04](https://user-images.githubusercontent.com/32242596/57719831-35bd0080-769e-11e9-89f1-655e8cc8cd00.png)

**Solution**
Addition of dropdown for each section.

Something like this :arrow_down:

![Screenshot

[2019-05-14 18:08] pranshuchittora opened #3034 "fix(URL): invalid writers-guide URL."
Invalid URL of `writer's guide` in [Contributing](https://github.com/webpack/webpack.js.org#contributing)

![Screenshot from 2019-05-14 23-38-00](https://user-images.githubusercontent.com/32242596/57721244-576bb700-76a1-11e9-9cdc-22586b8a4dac.png)

[2019-05-14 18:28] montogeek commented on #3032
That is too much for a mobile site in a sidebar.

Adding some margin left should be enough.

[2019-05-14 20:43] pranshuchittora opened #3038 "🐞[firefox]: background issue in Firefox Dark theme"
**Browser** : Mozilla Firefox

**Behaviour**
Background colour does not exist, hence content is unreadable.

![Screenshot from 2019-05-15 01-56-19](https://user-images.githubusercontent.com/32242596/57730868-0961ae00-76b7-11e9-932e-2518cb4a8362.png)

[2019-05-15 03:56] anshumanv opened #3040 "Integrate Prettier"
* Introduce prettier as a code formatter.
* Integrate with husky to format code pre-commit

Sending a PR with an initial iteration, please use this thread to discuss the config and anything related.

Since we already have eslint, integrating with it.

[2019-05-15 06:50] #3034 closed

[2019-05-15 07:34] EugeneHlushko commented on #1400
Most of the items closed, whats left is svgs. To inline them we can convert them to react components

[2019-05-15 14:38] hakobpogh commented on #2733
Hi there. I have a `.ts` config in two different projects one is with the following versions:
[code]
and the other is with the following versions:
[code]
But for the first one I don't need to add `TS_NODE_PROJECT=\"tsconfig-for-webpack-config.json\"` but for the second one, it's required. I think that it's better to make it work without this additional stuff.

[2019-05-15 23:17] alecklandgraf commented on #2070
I would like to see this too. My use case is when the `chunkFilename` becomes very long, longer than 128 characters, I cannot upload the sourcemaps to our error reporting service.
I'm working to lift that constraint, but something like this would be great.

[code]

[2019-05-16 02:55] ArthurYidi commented on #2070
@philostler @alecklandgraf https://webpack.js.org/plugins/source-map-dev-tool-plugin/ can be a great workaround

[2019-05-16 16:44] pranshuchittora opened #3046 "[seach]: clear search button is too close to search button"
**Description**
The button for clearing search bar is too close to the search button, which leads to false clicks in Mobile devices.

![Screenshot from 2019-05-16 22-07-15](https://user-images.githubusercontent.com/32242596/57871717-99266a00-7827-11e9-9bf1-76a4c8d05997.png)

**Motivation**
Today I encountered a problem in my personal project and wanted to take some reference from the webpack docs.

[2019-05-16 18:36] pranshuchittora commented on #2300
I think it's done.
https://webpack.js.org/api/plugins/#tapable

[2019-05-16 18:41] pranshuchittora commented on #2450
Resolved
https://webpack.js.org/api/compilation-hooks/#optimizedependenciesbasic

Pls close the Issue.

[2019-05-16 21:40] alecklandgraf commented on #2070
@ArthurYidi I was missing `config.output.sourceMapFilename`, I can just update this.

[code]

[2019-05-18 14:56] pranshuchittora opened #3052 "🐞[search]: Search result overflows."
**Description**
Algolia search results overflow from the page in mobile devices.

![Screenshot_2019-05-16-15-19-12](https://user-images.githubusercontent.com/32242596/57971359-9a33d480-79aa-11e9-931c-ee8c2d70090a.png)

**How to reproduce**
1. Go to https://webpack.js.org/ in a mobile device or simulate one.
2. In the search field type `module.iden`.
3. You can see the search results overflowing fr

[2019-05-18 20:00] pranshuchittora opened #3053 "👨‍🔧[node-version]: Newer node version not supported in next branch"
**Description**
I am using node version `10.12.0` while working on the `next` branch, I am not able to install node_modules.

![Screenshot from 2019-05-19 01-21-54](https://user-images.githubusercontent.com/32242596/57974412-3a9eee80-79d5-11e9-8d46-cbbcbca63052.png)

**How I worked out with this**

![Screenshot from 2019-05-19 01-27-37](https://user-images.githubusercontent.com/32242596/57974415-5

[2019-05-22 14:49] webpack-bot opened #3057 "Document webpack change: disable node stuff in node targets"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9172

---

**What kind of change does this PR introduce?**
defaults change

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
`node.__filename`, `

[2019-05-23 07:30] ishpartko commented on #3002
Hi add,

got error

`WebpackOptionsValidationError: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration.stats should be one of these:
   object { all?, assets?, assetsSort?, builtAt?, cached?, cachedAssets?, children?, chunkGroups?, chunkModules?, chunkOrigins?, chunks?, chunksSort?, colors?, context?, depth?,

[2019-05-23 07:38] ishpartko opened #3058 "stats: "errors-warnings" got error"
Hi all,

regards to https://github.com/webpack/webpack.js.org/pull/3003

got error

[code]

when pass `stats: "errors-warnings"` in my config

`"webpack": "^4.32.2",`

[2019-05-23 07:42] ishpartko commented on #3058
I'm also using gulp and "webpack-stream": "^5.2.1" to build it, maybe it would be helpful

[2019-05-23 07:50] ishpartko commented on #3058
Yes, it was trouble with webpack-stream

`yarn upgrage webpack-stream` helped

[2019-05-23 07:50] #3058 closed

[2019-05-24 08:40] EugeneHlushko commented on #2974
done, closing

[2019-05-24 08:40] #2974 closed

[2019-05-24 12:12] evilebottnawi opened #3062 "Sponsor button"
No issue template. Done like in webpack repo.

Need add file https://github.com/webpack/webpack/blob/master/.github/FUNDING.yml

[2019-05-24 12:38] EugeneHlushko opened #3063 "Enforce trailing slash in internal linking"
After looking at GA i've found an issue with our page views, server side links were different to many front-end links via react router navigations.

<img width="484" alt="Screen Shot 2019-05-24 at 3 37 26 PM" src="https://user-images.githubusercontent.com/10549495/58328074-dac3a000-7e39-11e9-8611-44f4834d48a3.png">

Sometimes on dev we didnt have proper item open in sidebar or anchor links were'nt

[2019-05-24 14:32] #3062 closed

[2019-05-24 14:46] evilebottnawi commented on #3062
@montogeek need enable button in settings repo

[2019-05-24 15:01] montogeek commented on #3062
Done

[2019-05-26 06:17] ewolfe commented on #2545
This should help out a little bit https://github.com/webpack/webpack.js.org/blob/master/src/content/configuration/optimization.md#optimizationnamedmodules

[2019-05-27 06:18] webpack-bot opened #3072 "DllReferencePlugin option name has extension"
# Bug report

**What is the current behavior?**

Can not get correct output (not `string`):

![スクリーンショット 2019-05-24 11 18 53](https://user-images.githubusercontent.com/4067007/58298244-c2da2500-7e15-11e9-9a47-50f08c9e96ff.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

When `DllReferencePlugin` option name has extension, get output code like above image.
[code]

[2019-05-28 22:29] anusm14 opened #3076 "webpack prefetch with react Router"
- [ ] Check the current issues to ensure you aren't creating a duplicate.
- [ ] Consider making small typo fixes and such directly as pull requests.
- [ ] For the voting application, go to https://github.com/webpack-contrib/voting-app.
- [ ] For loader/plugin docs, consider opening an issue in the corresponding repository.
- [ ] No existing issue? Go ahead and open a new one.
- __Remove these inst

[2019-05-28 22:32] anusm14 commented on #3076
Want to add a prefetch for a component in React Router, but currently its component is and Dynamic Import. Added webpackprefetch= true does not work. Hence want to know what would be the best way to add webpackprefetch= true to React router.

**Current code** -
 const Schedules = (props: any) => (
    <DynamicRouteImport load={ () => import(/* webpackChunkName: "SchedulesPage" */ /*"./schedules/Sc

[2019-05-28 22:33] hiroppy commented on #3076
Please ask questions on StackOverflow or the webpack Gitter.

https://stackoverflow.com/questions/ask?tags=webpack
https://gitter.im/webpack/webpack

[2019-05-28 22:52] montogeek commented on #3076
I encourage you to ask your question on StackOverflow instead. We try to use the issue tracker for bug reports and feature requests, as well as some discussions, but this appears to be a very localized question.

I’m closing for these reasons.

[2019-05-28 22:52] #3076 closed

[2019-05-31 19:33] #3032 closed

[2019-06-02 02:58] hiteshsubnani0128 commented on #3046
Please this issue to me.

[2019-06-02 07:55] pranshuchittora commented on #3046
@hiteshsubnani0128 I am happy that you want to work on this issue, unfortunately there's already a PR #3047 against this issue.

Contrary, there are a lot of issue which you can work upon.

Thank you.

[2019-06-03 16:14] #3072 closed

[2019-06-04 01:30] Loonride opened #3094 "ProgressPlugin Documentation: Many options missing"
**Feature to document**

ProgressPlugin: https://webpack.js.org/plugins/progress-plugin

Source: https://github.com/webpack/webpack/blob/master/lib/ProgressPlugin.js
Options Schema: https://github.com/webpack/webpack/blob/master/schemas/plugins/ProgressPlugin.json

**Author(s)**

**Additional information**

The documentation includes the case where a `handler` function is passed in, but does not d

[2019-06-04 01:45] Loonride opened #3095 "Dev Server Documentation: sockHost option"
**Feature to document**

`sockHost`: https://github.com/webpack/webpack-dev-server/pull/1858

**Author(s)**

Myself, reviewed by @evilebottnawi @hiroppy

**Additional information**

`sockHost` is only used by the client of the Dev Server. It is the host that the client connects to. This makes it possible for the server to exist on a different host than the client, allowing the client to know where

[2019-06-04 15:28] webpack-bot opened #3097 "Document webpack change: add experiments.mjs config option"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9226

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
* New `experiments` config

[2019-06-06 04:41] Loonride opened #3100 "Dev Server Documentation: serverMode option"
**Feature to document**

`serverMode`: https://github.com/webpack/webpack-dev-server/pull/1937

**Author(s)**

Myself, @evilebottnawi @hiroppy

**Additional information**

N/A

[2019-06-06 07:50] EugeneHlushko commented on #3095
Via #3101

[2019-06-06 07:50] #3095 closed

[2019-06-06 08:59] EugeneHlushko commented on #3094
Hmm looks like we've missed, that. Picking it up

[2019-06-06 17:14] #2632 closed

[2019-06-06 17:47] kbgar24 commented on #1987
Is there any way to to access/config this --build-delimiter options from webpack.config.js file? I would like the output to be a variable available there, so just using --build-delimiter from the CLI isn't ideal.

[2019-06-09 16:54] EugeneHlushko opened #3107 "Need to filter sitemap from unwanted entries"
Right now the sitemap generation is bringing up two unwanted entries. Need to remove them from the sitemap:
<img width="503" alt="Screen Shot 2019-06-09 at 7 51 48 PM" src="https://user-images.githubusercontent.com/10549495/59161842-43747300-8af0-11e9-9223-a43a00e042b2.png">

[2019-06-09 18:32] #3107 closed

[2019-06-10 14:09] montogeek commented on #3040
PR: #3109

[2019-06-10 14:10] #3038 closed

[2019-06-10 14:11] montogeek commented on #2881
Closed because of inactivity.

[2019-06-10 14:11] #2881 closed

[2019-06-10 14:11] montogeek commented on #2170
This is not longer used.

[2019-06-10 14:11] #2170 closed

[2019-06-10 14:12] montogeek commented on #1699
@EugeneHlushko Something we can do

[2019-06-10 14:14] montogeek commented on #469
Rebuild branch was merged some time ago, @pastelsky Are you still interested in adding these diagrams?

[2019-06-10 14:14] montogeek commented on #1882
@kswedberg Still interested? Cheers!

[2019-06-10 14:15] montogeek commented on #1782
@cyrilchapon Still interested?

[2019-06-10 14:27] kswedberg commented on #1882
@montogeek  Oh wow. Totally fell off my radar. This week is crazy for me, but I'll set myself a reminder to look at it next week. Cool?

[2019-06-10 14:29] montogeek commented on #1882
@kswedberg Whenever you can, thanks!

[2019-06-11 13:20] EugeneHlushko commented on #1782
This aint valid anymore, CCP is deprecated

[2019-06-11 13:21] #1782 closed

[2019-06-11 13:23] EugeneHlushko commented on #1699
Hmm right, all bullets seem to make sense. Wanna pick up or should i? @montogeek

[2019-06-11 13:24] montogeek commented on #1699
@EugeneHlushko You :)

[2019-06-11 13:29] stereokai commented on #1699
I completely forgot about this, excuse me :O

[2019-06-11 15:59] webpack-bot opened #3110 "Document webpack change: refactor filesystem interfaces"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9251

---

add Compiler.intermediateFileSystem
avoid using `path` and `fs` module when possible
move `join`, `mkdirp` and `dirname` into utils
join and dirname is optional in FileSystem interface
remove mkdirp from Filesystem interface

**What kind of c

[2019-06-11 19:55] webpack-bot opened #3111 "Document webpack change: fix minRemainingSize when multiple chunks are affected"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9254

---

issue: https://github.com/webpack/webpack/issues/8537#issuecomment-499818693

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs

[2019-06-12 03:07] aladdin-add opened #3112 "link to writer's guide is broken"
![image](https://user-images.githubusercontent.com/13050025/59320792-2adba700-8d02-11e9-938e-0b126b583f2d.png)

[2019-06-12 06:58] #3111 closed

[2019-06-12 08:08] webpack-bot opened #3113 "Document webpack change: disable splitChunks.minRemainingSize for multiple selected chunks"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9257

---

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
`minRemainingSize` is only a

[2019-06-12 13:11] webpack-bot opened #3114 "Document webpack change: Add warnings for non-default imports from json modules"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9259

---

fixes #9246

**What kind of change does this PR introduce?**
spec alignment

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
Only th

[2019-06-12 21:54] ryandrew14 opened #3116 "Document SplitChunksPlugin function parameters"
**Feature to document**

SplitChunksPlugin -- function parameters in functions for `splitChunks.name` and `splitChunks.cacheGroups.{cacheGroup}.test`

#6341 -- introduction of SplitChunksPlugin

**Author(s)**
@sokra

**Additional information**
These two functions take in parameters `chunks` and `module`, of which there does not seem to be documentation yet on what fields these parameters have. It

[2019-06-13 13:55] DominicTobias commented on #1703
I wish this was the case, I'm using 4.26.0 and it's still nothing when I do `['style.less', './src/index.js']`. I need the CSS file to have the same name and I export other CSS files in entry too.

Thinking I may have to give the CSS entry different name and rename with a plugin.

[2019-06-14 10:09] webpack-bot opened #3119 "Document webpack change: add more types and fix/remove TODOs"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9277

---

**What kind of change does this PR introduce?**
refactoring

**Did you add tests for your changes?**
existing test

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
* IgnorePlugi

[2019-06-14 10:23] EugeneHlushko commented on #3116
Awww i didnt see your PR @ryandrew14

[2019-06-14 13:48] ryandrew14 commented on #3116
@EugeneHlushko Your PR provides the example @montogeek was asking for, but mine provides more information that has proven to be helpful in the actual documentation area. Can we merge both of them?

BTW, thanks for the research, and for a really solid example.

[2019-06-14 14:02] montogeek commented on #3116
Merge both :)

[2019-06-14 17:09] EugeneHlushko commented on #3116
Yes i dont see why not, but i left a comment in your PR. Also i am adding `test` example today

[2019-06-14 18:19] EugeneHlushko commented on #3116
I've had a look at test function example and there isnt much i can add, you can check different properties of module, and chunks but thats about it. i am adding return types to the functions to make it even more obvious

[2019-06-14 18:25] EugeneHlushko commented on #3112
Almost fixed, ty for reporting @aladdin-add

[2019-06-14 18:59] #3112 closed

[2019-06-14 23:47] #3094 closed

[2019-06-15 15:03] #3116 closed

[2019-06-15 15:20] #3063 closed

[2019-06-16 17:05] EugeneHlushko commented on #2300
There was just this small comment, see #3125

[2019-06-17 12:33] aprilandjan opened #3127 "Sidebar - Incorrect active navigation links in sidebar"
It seems the sidebar in guide page might have incorrect navigation link generated and incorrect active link when page initially opened.

For example, I opened <https://webpack.js.org/guides/development/#using-watch-mode> directly, and get the following:

![image](https://user-images.githubusercontent.com/7011247/59604460-d770bb00-913e-11e9-8ff3-88ddb081613d.png)

Seems that every sidebar menus are

[2019-06-18 07:00] pranshuchittora commented on #3127
@aparajita thanks for reporting this issue.
I am able to reproduce this issue.
-> I opened the above link in the incognito, and able to experience the error.
-> The issue might be with the service worker and caching. (Not 100% sure)

[2019-06-18 18:04] EugeneHlushko commented on #3127
Yup found similar issue earlier, this is SSR pass. Will fix it, think i broke it when released `printable`

[2019-06-18 20:13] EugeneHlushko commented on #3127
@aprilandjan please check the preview in linked PR, i cannot reproduce anymore

[2019-06-18 22:06] webpack-bot opened #3132 "Document webpack change: allow filename as function at more places"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9304

---

fixes #9296

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`splitChunks.fil

[2019-06-19 02:41] aprilandjan commented on #3127
@EugeneHlushko Yes the preview link is all good, thanks!

[2019-06-19 06:06] #3127 closed

[2019-06-19 07:39] kasjerJanusz commented on #2362
Anything changed in the matter?

[2019-06-20 09:20] ematipico opened #3133 "splitChunks.automaticNameMaxLength to be documented"
__Feature to document__
`splitChunks.automaticNameMaxLength` as per https://github.com/webpack/webpack/releases/tag/v4.35.0

__Author(s)__
@sokra @ryandrew14

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2019-06-20 13:53] ryandrew14 commented on #3133
I'm actually the author of this feature (here)[https://github.com/webpack/webpack/pull/9285]. I will submit a PR documenting it. Thanks for the issue!

[2019-06-20 16:50] EugeneHlushko commented on #3133
Thank you @ryandrew14
Looking forward to the pr

[2019-06-20 17:16] EugeneHlushko commented on #3119
This is blocked tho until we update `next` cc @montogeek

[2019-06-22 19:58] Iyashi opened #3138 "Docs(configuration): Performance>Items link to Node>Items in Sidebar/SidebarItem"
Hello brave webpack community,

There are falsy links to configuration items in the Sidebar in the current configuration docs for webpack 4.35.0 under https://webpack.js.org/configuration/

The all the "Performance" SidebarItem's actual link to the "Node" doc items.

As an example:
`Performance > Hints` in Sidebar links to https://webpack.js.org/configuration/node/#nodeconsole whereas it should li

[2019-06-22 20:15] EugeneHlushko commented on #3138
Hi @Iyashi
I think i know what that is, will try to fix

[2019-06-22 20:17] Iyashi commented on #3138
Nice reaction time! :p

I just noticed, its vice-versa aswell (Node links to Performance, Performance links to Node
AND it only happens on some URLs. If I'm at `Watch and WatchOptions` (https://webpack.js.org/configuration/watch/) both, Performance and Node links are just fine.

[2019-06-23 07:31] #3133 closed

[2019-06-23 07:33] EugeneHlushko commented on #3138
I've found the culprit already, will file a PR soon. Looks like the `printable` page implementation broke it a week ago :(

[2019-06-24 18:04] #3046 closed

[2019-06-24 18:06] EugeneHlushko commented on #2450
👍

[2019-06-24 18:06] #2450 closed

[2019-06-24 18:55] #3114 closed

[2019-06-24 19:11] #3138 closed

[2019-06-27 11:03] elyobo opened #3148 "Improve documentation of Compilation and Compiler"
__Feature to document__

Compilation and Compiler API.

The [Plugin API documentation](https://webpack.js.org/api/plugins/) is very good when it comes to the availability of hooks, but provides very little documentation of the Compilation and Compiler objects which are so heavily used in them - and the docs [even say](https://webpack.js.org/contribute/writing-a-plugin/#compiler-and-compilation) th

[2019-06-27 11:17] EugeneHlushko commented on #3148
I think most of the questions can be answered by using node's inspect. Although it would be great to add this into the docs.

[2019-06-27 11:36] jeremenichelli commented on #2921
@jorydotcom is it safe to close this issue now?

_PS: Thanks a lot for reaching out to the team about this ❤️_

[2019-06-27 11:40] crazyx13th commented on #2070
at the moment I use https://www.npmjs.com/package/chunk-rename-webpack-plugin as a workaround.
but if `config.output.filename` can be a function, `config.output.chunkFilename` should be handled equal.

thx!

grettings
crazyx13th

[2019-06-27 12:44] jeremenichelli commented on #3053
I'll take a look at this if nobody grabbed it @EugeneHlushko

[2019-06-27 14:59] montogeek commented on #3053
Why does it need to work on the latest LTS? That `upath` dependency is a transitive dependency, updating it (if that is even possible) could break something else.

[2019-06-28 00:27] elyobo commented on #3148
Yes, reading the code or inspecting the behaviour at runtime are certainly options to figure out what's going on, but are a significantly higher barrier than reading documentation :)

[2019-06-28 15:34] EugeneHlushko commented on #3053
@pranshuchittora `next` was updated with master few days ago, please re-try

[2019-06-28 15:35] EugeneHlushko commented on #3053
I am working on `next` and `master` on both macOS and Windows 10 (Yooohooo!) with node 10:
[code]

[2019-06-30 18:37] #3132 closed

[2019-07-01 22:21] marr commented on #2919
I found this content useful when trying to understand the `splitChunks` configuration/purpose:
https://github.com/webpack/webpack/blob/master/examples/many-pages/README.md

[2019-07-02 22:18] silvenon opened #3161 "Remove printable pages from search entries"
It seems that just about every search entry is duplicated with a regular page and a printable page. Aside from the confusion that duplicates alone bring, it can also be very confusing to click on a printable page because the print dialog keeps relentlessly popping up and the reader might not have any idea what's happening.

Removing printable pages from search entries would significantly improve v

[2019-07-03 08:11] EugeneHlushko commented on #3161
Hi @silvenon thats totally on me.
We did not include them into the sitemap but forgot about nofollow on the links and will also add `<meta name="robots" content="noindex,nofollow">`

[2019-07-03 08:12] EugeneHlushko commented on #3161
Scratch that it already has a nofollow on the links

[2019-07-05 06:08] bard opened #3168 "Potential error in proxy doc"
https://webpack.js.org/configuration/dev-server/ says:

[code]

That doesn't work for me. The following does:

[code]

[2019-07-05 07:53] webpack-bot opened #3170 "Document webpack change: update enhanced-resolve"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9366

---

**What kind of change does this PR introduce?**
deps upgrade

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
resolve.enf

[2019-07-05 20:22] Loonride opened #3171 "Dev Server Documentation: CLI --config option"
__Feature to document__

Documentation is missing for `--config` CLI option usage in [devServer docs](https://webpack.js.org/configuration/dev-server):

`webpack-dev-server [--config webpack.config.js]`

__Author(s)__

/cc @evilebottnawi @hiroppy

__Additional information__

 [x] I am willing to work on this issue and submit a pull request.

[2019-07-05 23:27] #3161 closed

[2019-07-05 23:32] montogeek commented on #3168
Please send a PR.

[2019-07-06 12:05] #1699 closed

[2019-07-06 12:46] EugeneHlushko commented on #3171
Looking forward to PR @Loonride

[2019-07-06 12:49] evilebottnawi commented on #3171
I think better avoid this documentation due we drop our CLI in favor webpack-cli in next release(s)

[2019-07-06 12:55] EugeneHlushko commented on #3171
wow, amazing that you'd note this before PR is up! @Loonride did you catch that?

[2019-07-06 13:16] bard commented on #3168
I would have gladly sent a PR — in fact, I would have sent one right away if certain that this is a bug and not my misunderstanding — but getting assigned work on a project that I didn't opt into joining or othewise made myself available to is, well... unusual.

[2019-07-06 14:43] Loonride commented on #3171
@EugeneHlushko I did not start working on PR yet if that's what your asking.

@evilebottnawi Good point. Will we just be updating the current dev server docs to use `webpack-cli serve` instead of `webpack-dev-server` on CLI, or will we be moving dev server CLI docs somewhere else?

[2019-07-06 14:51] montogeek commented on #3168
Sorry

[2019-07-06 15:08] evilebottnawi commented on #3171
@Loonride i think we update documentation and for CLI and for webpack-dev-server for better DX

[2019-07-07 12:20] EugeneHlushko commented on #3171
this is not worked on, there fore noone is assigned. @evilebottnawi can you mention this issue in related PR when there is one so we know when docs need update

[2019-07-07 12:25] EugeneHlushko commented on #3119
Closing via #3149

[2019-07-07 12:25] #3119 closed

[2019-07-07 12:26] EugeneHlushko commented on #3168
related pr is merged

[2019-07-07 12:26] #3168 closed

[2019-07-07 12:34] EugeneHlushko commented on #3053
closing as next is now up to date with master

[2019-07-07 12:34] #3053 closed

[2019-07-07 14:55] evilebottnawi commented on #3171
@EugeneHlushko yep :+1:

[2019-07-07 16:48] kswedberg opened #3176 "Incomplete sentence in src/content/api/compilation-hooks.md"
On line 421 of src/content/api/compilation-hooks.md, a sentence is incomplete (for `SyncHook`). Currently it reads, "This is triggered only if "

[2019-07-08 14:50] webpack-bot opened #3178 "Document webpack change: add alias to false (ignore) and alias to array"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9380

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
`resolve.alias` now supports

[2019-07-08 15:30] juliankrieger commented on #2610
I didn't find it in the docs, but maybe providing a table of names for varying operating systems would be helpful? I couldn't find the correct Paramter name for "Firefox Developer Edition" for example

[2019-07-09 16:07] #3170 closed

[2019-07-09 16:36] EugeneHlushko commented on #3113
via #3174

[2019-07-09 16:36] #3113 closed

[2019-07-09 17:40] EugeneHlushko commented on #2921
closing due to resolution

[2019-07-09 17:40] #2921 closed

[2019-07-09 20:27] unixfreak0037 opened #3182 "Bug in Getting Started Guide (easy workaround)"
# Bug report

**What is the current behavior?**
The Getting Started guide fails at the end of the Creating a Bundle section.

**If the current behavior is a bug, please provide the steps to reproduce.**
Follow the guide as is.

**What is the expected behavior?**
At the end of that section, the browser should display Hello webpack, but instead you get a syntax error in the middle of the minified ja

[2019-07-09 22:44] unixfreak0037 commented on #3182
https://webpack.js.org/guides/getting-started/

[2019-07-10 08:15] EugeneHlushko commented on #3182
Hi @unixfreak0037
I will look into this tonight, ty for reporting

[2019-07-10 18:26] EugeneHlushko commented on #3182
Just tested it, could not reproduce. Versions used:
[code]

[2019-07-10 18:27] EugeneHlushko commented on #3182
Maybe this is related to Node.js version? I am at `v10.16.0`

[2019-07-10 18:40] EugeneHlushko commented on #3176
Yup needs a fix, ty for reporting!

[2019-07-10 19:30] unixfreak0037 commented on #3182
Yes, you are correct. I just tested that myself using version 10.16.0 and it worked, switched to version 12.5.0 and got the syntax error.

[2019-07-10 21:42] petvas opened #3186 "documentation for jsonpFunction"
## Feature request

**What is the expected behavior?**
Mention `jsonpFunction` in the docs https://webpack.js.org/concepts/output/

**What is motivation or use case for adding/changing the behavior?**
These days webpack is one of the most popular build tool, lots of websites are working with 3rd party companies for marketing / motioning etc... It is possible there are multiple webpack bundle is ru

[2019-07-11 13:47] EugeneHlushko commented on #3182
Right, if that is a default (did you use brew?), we might want to drop a warning about LTS versions

[2019-07-11 13:56] unixfreak0037 commented on #3182
Yep. Brew on the mac and apt on ubuntu.

[2019-07-11 13:58] EugeneHlushko commented on #3186
Thanks for raising this @petvas

I guess we can mention this on the concepts section, needs a thought on also expanding the explanation and adding an example here: https://webpack.js.org/configuration/output/#outputjsonpfunction

Or even creating a guide in guides section.

[2019-07-11 13:59] EugeneHlushko commented on #3186
@montogeek what do you think? Concepts + guide would be my vote, but needs more investigation and putting up an example case.

[2019-07-11 15:05] petvas commented on #3186
I think guide would be nice too, I read all of it and I had no idea running multiple webpack bundle can cause an issue when chunks are involved. (and error messages are not helping when this issue come up)

[2019-07-11 18:54] #3176 closed

[2019-07-11 18:56] kswedberg commented on #3176
Fantastic! Thanks

[2019-07-11 19:43] EugeneHlushko commented on #3182
Thank you, that cleard it up

[2019-07-12 10:55] mahaina commented on #2070
also need function chunkFilename to give conditional chunkFilename

[2019-07-12 11:00] mahaina commented on #2070
I used this plugin but got an `bootstrap:811 Uncaught ChunkLoadError: Loading chunk [mymodulename] failed.` error

I'm using webpack 4. Is that the problem?
thx!

[2019-07-12 14:57] EugeneHlushko commented on #3186
I cannot find a contextually fitting place for the thing, but i was able to improve the output.jsonpFunction doc itself.

[2019-07-12 21:02] #3186 closed

[2019-07-13 21:19] ogonkov opened #3191 "[Writing a Loader / Common Code] Example needed"
__Feature to document__

Writing loader [common code](https://webpack.js.org/contribute/writing-a-loader/#common-code). PR not available, commit 06fe82dbcb764273d8dfb8080ab529aeace78845

__Author(s)__

@bebraw

__Additional information__

It's would be nice to add some examples of creating a runtime file.

It's not clear for me how it supposed to looks like.

[ ] I am willing to work on this issue

[2019-07-13 21:22] ogonkov commented on #3191
I'm guessing that it should be like resolving loader result with imports like:

[code]

[2019-07-14 15:26] #3182 closed

[2019-07-15 10:46] evilebottnawi opened #3193 "invalid documentation for HMR"
__Feature to document__

https://webpack.js.org/guides/hot-module-replacement/

__Author(s)__

any

__Additional information__

webpack-dev-server automatically insert `HotModuleReplacementPlugin` plugin when you enable `hot: true`, so need fix docs, thanks

[ ] I am willing to work on this issue and submit a pull request.

[2019-07-15 14:30] EugeneHlushko commented on #3193
Thanks for reporting man! @evilebottnawi

[2019-07-15 14:33] webpack-bot opened #3195 "Document webpack change: remove experimental from module type name"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9415

---

since there is the `experiments` config now

**What kind of change does this PR introduce?**
rename

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once

[2019-07-16 06:31] #3193 closed

[2019-07-17 11:32] webpack-bot opened #3197 "Document webpack change: improve merging of resolve and parsing options"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9422

---

by rules and via loader API

Arrays overwrite by default, but can reference old value with "..."

partial backport of https://github.com/webpack/webpack/pull/9126

**What kind of change does this PR introduce?**
feature

**Did you add tests f

[2019-07-17 15:19] EugeneHlushko commented on #3191
Would be nice if someone who did work on creating a loader would file a PR or contribute on the discussion

[2019-07-17 15:47] EugeneHlushko commented on #3197
Wow this is very useful, we had also missed one feature in docs. Wonder if it was merged before the doc Issue on PR merge feature was introduced.

[2019-07-18 05:43] ogonkov commented on #3191
After some experiments, it seems I was right, loader authors should generate `require()` calls in case they need something to use in loader to work. We pack will handle this as usual an bundle it.

Need some confirmation that "Common code" about my thoughts above.

[2019-07-19 14:03] EugeneHlushko commented on #2982
Event was already held, closing

[2019-07-19 14:03] #2982 closed

[2019-07-22 09:23] crazyx13th commented on #2070
I using webpack 4 too, mhh...

[2019-07-22 12:07] vaxul commented on #2070
@mahaina, @crazyx13th
For Webpack 4 I would recommend https://www.npmjs.com/package/enhanced-webpack-chunk-rename-plugin as workaround.

[2019-07-23 08:58] webpack-bot opened #3205 "Document webpack change: add logging API"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9436

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
* [x] Plugins should prefer

[2019-07-23 12:22] EugeneHlushko commented on #3205
This is amazing! will add asap

[2019-07-23 16:41] EugeneHlushko commented on #3197
from #3199:
Although to completely close the issue we need to figure our where to add the documentation on the getResolve resolver method. Currently its not on webpack.js.org and not on https://github.com/webpack/enhanced-resolve

[2019-07-23 19:36] EugeneHlushko commented on #3205
Still a piece to document left, picking up asap

[2019-07-24 13:03] evilebottnawi opened #3209 "improve documentation about `[contenthash]`"
__Feature to document__

https://webpack.js.org/configuration/output/

__Author(s)__

any

__Additional information__

Table doesn't contain infromation about `contenthash`.
[code]

[ ] I am willing to work on this issue and submit a pull request.

[2019-07-24 17:14] alexsegura commented on #1268
I've been using [floatdrop/require-from-string](https://github.com/floatdrop/require-from-string) for this 🤷‍♂️

[2019-07-26 06:27] #3052 closed

[2019-07-26 13:01] webpack-bot opened #3215 "Document webpack change: add more timestamp logging to some core parts"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9476

---

**What kind of change does this PR introduce?**
logging

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**What needs to be documented once your changes are merged?**
Enable `stats.loggingDebug:

[2019-07-26 14:12] webpack-bot opened #3216 "Document webpack change: improve chunk graph generation performance"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9478

---

picked from master branch

diff from master PR:
* improved logging output
* disable old available modules optimization by default

**What kind of change does this PR introduce?**
performance

**Did you add tests for your changes?**
existing t

[2019-07-26 15:02] AaronBeaudoin opened #3217 "`require.context` Docs Showing Incorrect Default for `useSubdirectories`"
According to the docs, the default for the `useSubdirectories` parameter to the `require.context` function parsed out by Webpack is `false`, but in my project it seems to default to `true`. I'm using Webpack 4.15.1.

If this is intended it would helpful to at least either note the change and at which version it occurred in the docs, or provide some way to access the docs for previous versions. Bot

[2019-07-27 13:47] webpack-bot opened #3219 "Document webpack change: Escape path variables in replaced values for TemplatedPathPlugin"
*A pull request by @ijjk was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9454

---

After implementing bracket based dynamic routing (`[val]`) in Next.js we noticed that HMR for dynamic routes that used `webpack` path variables were broken due to extra replacing.

For example, if a user does `pages/blog/[name]/comments.js`, i

[2019-07-31 20:14] EugeneHlushko commented on #3217
Cannot seem to find the related source code, @sokra can you help here?
https://webpack.js.org/api/module-methods/#requirecontext

[2019-08-01 14:45] webpack-bot opened #3222 "Document webpack change: Improve infrastructure logging"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9506

---

* Colors
* ProgressPlugin uses infrastructureLogger
* improved formatting of logging output (aligned)
* tests

**What kind of change does this PR introduce?**
logging, feature, bugfix

**Did you add tests for your changes?**
yes

**Does this

[2019-08-02 12:01] alexander-akait opened #3225 "[proposal] move awesome-webpack to this repo"
__Feature to document__

Move https://github.com/webpack-contrib/awesome-webpack repo inside this repo and create page on site for this. Maybe will be great keep file in markdown format for developers which love read information from github.

__Author(s)__

any

__Additional information__

It is allow to us keep information about community loaders/plugins/etc in one place.

[ ] I am willing to wor

[2019-08-02 13:58] montogeek commented on #3225
Sounds good to me, What about its owner/owners?

[2019-08-02 14:29] evilebottnawi commented on #3225
@montogeek Can you clarify about owners? If you about contributors, i think working through PRs is normal workflow

[2019-08-02 15:38] AaronBeaudoin commented on #3217
Sorry I should clarify... the place in the docs I'm referring to is actually this one:
https://webpack.js.org/guides/dependency-management/#requirecontext

I'm talking about the code block right under the text "The syntax is as follows:". It appears that the signature shown does not match the description on the API page.

I would change the code block from this:
[code]
To this so it matches the AP

[2019-08-02 16:26] montogeek commented on #3225
I mean the owners of that repo

[2019-08-02 16:26] evilebottnawi commented on #3225
@montogeek oh, no problems with this

[2019-08-04 03:53] thomasjm opened #3230 "Feature request: compute [contenthash] after minification instead of before"
The documentation says that

However, the `[contenthash]` does **not** actually match the hash of the file, i.e. the result you would get if you ran `md5sum` or `sha256sum` on the file.

This [StackOverflow answer](https://stackoverflow.com/questions/50224845/why-is-the-contenthash-different-in-webpack) explains why: the `[contenthash]` is computed before minification.

I think it would make more

[2019-08-04 07:21] montogeek commented on #3230
This is more a feature request to how webpack works than its documentation. cc @sokra

[2019-08-04 08:21] thomasjm commented on #3230
Oh whoops, I meant for this to go on the main webpack repo. Let me close and move it over there...

[2019-08-04 08:21] #3230 closed

[2019-08-05 14:08] EugeneHlushko commented on #3217
Sure it looks better since also shows the mode

[2019-08-06 11:42] EugeneHlushko commented on #3222
Will be done after #3205

[2019-08-06 12:23] evilebottnawi commented on #3225
/cc @montogeek I can send a PR, can you touch me where i should start?

[2019-08-06 13:42] #3209 closed

[2019-08-06 13:46] montogeek commented on #3225
What would be the route and its navigation inside the site? That is the starting point.
I think that having a dedicated link in the subnavigation (next to Migrate, Loaders, etc) would be fine.
![image](https://user-images.githubusercontent.com/1002461/62544977-14b11980-b861-11e9-8e6d-ae1596a3d439.png)

But in the other hand, this page will be so abstract regarding content, it has links to a lot of

[2019-08-06 13:58] evilebottnawi commented on #3225
@montogeek

How we name page?

I will remove duplicate content

[2019-08-06 14:38] montogeek commented on #3225
Resources I guess.

[2019-08-06 14:43] evilebottnawi commented on #3225
:+1: Where i can starts? I want to deprecate this repo as soon as possible to move all docs issue in one repo

[2019-08-06 17:54] montogeek commented on #3225
By creating a folder and an index.md file in `src/content/resources/index.md`

[2019-08-08 11:43] webpack-bot opened #3235 "Document webpack change: Refactor migrate on schema utils"
*A pull request by @evilebottnawi was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9548

---

**What kind of change does this PR introduce?**

refactor

**Did you add tests for your changes?**

existing tests

**Does this PR introduce a breaking change?**

Yes

- some plugins doesn't validate absolute paths, now it is validate

[2019-08-08 16:00] #3219 closed

[2019-08-08 17:59] #3216 closed

[2019-08-09 21:39] Loonride opened #3239 "Dev Server documentation: transportMode option"
__Feature to document__

transportMode option: https://github.com/webpack/webpack-dev-server/pull/2116

__Author(s)__

Myself

/cc @evilebottnawi @hiroppy

__Additional information__

This option allows the user to specify which socket transport mode to use for communication between the dev server and client. It is still an experimental option. Usage:

string:
[code]
[code]

object, with `server`

[2019-08-09 21:43] Loonride commented on #3100
Closing as this option was removed in favor of `transportMode`: https://github.com/webpack/webpack.js.org/issues/3239

[2019-08-09 21:43] #3100 closed

[2019-08-11 14:12] #3205 closed

[2019-08-11 14:13] #3222 closed

[2019-08-12 10:53] webpack-bot opened #3244 "Documentation lacking regarding non starting point of entry files."
# Bug report

**What is the current behavior?**

Documentation fails to explain how to handle files that are not the starting point of entry as they are not to be included in the entry field in the configuration.

**If the current behavior is a bug, please provide the steps to reproduce.**

1) goto: https://webpack.js.org/concepts/entry-points/#separate-app-and-vendor-entries
2) Read.

**What is t

[2019-08-12 15:12] webpack-bot opened #3246 "Document webpack change: replace logging in persistent caching with infrastructure logger"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9563

---

**What kind of change does this PR introduce?**
refactoring

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
* remove cache.loglevel

[2019-08-12 23:01] Loonride opened #3247 "Dev Server documentation: options.stdin no longer CLI only"
__Feature to document__

`devServer.stdin` will be a boolean API option (it was previously CLI-only) in the next major Dev Server version: https://github.com/webpack/webpack-dev-server/pull/2186

__Author(s)__

Myself, /cc @evilebottnawi @hiroppy

__Additional information__

Note that this will change the URL for this option, as it will no longer be CLI only: https://webpack.js.org/configuration/d

[2019-08-13 17:42] webpack-bot opened #3250 "Document webpack change: add build dependencies"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9567

---

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
* `cache.managedPaths` is a

[2019-08-15 22:29] dmwyatt opened #3253 ""main" package.json entry mysteriously shows up in guides"
I'm too unfamiliar with webpack to know for sure that this is a docs error, but...maybe?

The [Development guide](https://webpack.js.org/guides/development/) continues on from the [Output Management](https://webpack.js.org/guides/output-management) guide.

The package.json in this guide has the entry `"main": "webpack.config.js",`, but I can't find anywhere in the preceding guides where that line

[2019-08-17 13:36] EugeneHlushko commented on #3253
Hi @dmwyatt

It was unsynced indeed, although we dont diff-highlight the packages they weren't really correct, i've fixed it in #3258

Thank you for reporting!

[2019-08-18 13:06] #3253 closed

[2019-08-22 16:13] webpack-bot opened #3267 "Document webpack change: add `__webpack_exports_info__` API to allow export introspection"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9620

---

improve usage/provide information for nested exports

improve tests for deep exports

**What kind of change does this PR introduce?**
feature

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
no

**Wh

[2019-08-24 09:36] aryzing commented on #2733
@hakobpogh how, then, can you use different TypeScript configs for webpack and for your code?

[2019-08-25 11:39] aryzing commented on #1956
Not entirely convinced that this was solved. As @thw0rted mentioned, the knowledge required to effectively configure `splitChunks` extends beyond knowing function signatures, and into Webpack's OO model for representing modules, dependencies, and other code encapsulation and organization abstractions.

There are several resources online ([vid](https://www.youtube.com/watch?v=0iKZEkJgkOw), [slides]

[2019-08-25 14:32] dhuang612 commented on #3217
Hi,
I would like to take this on

[2019-08-25 14:51] EugeneHlushko commented on #3217
I think @AaronBeaudoin already has a resolution to this in his previous comment, would you mind filing a PR @AaronBeaudoin ?

[2019-08-25 21:49] dhuang612 commented on #3028
Hello, is this open to work on?

[2019-08-30 01:59] dhuang612 commented on #3217
got it thanks for the update

[2019-09-03 06:02] EugeneHlushko commented on #3246
Closing via #3261

[2019-09-03 06:02] #3246 closed

[2019-09-04 11:59] webpack-bot opened #3273 "Document webpack change: refactor Parser to allow variable tagging, add Deep Scope Analysis (inner graph) for unused exports"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9642

---

use variable tagging in harmony plugin (instead of magic renaming)
Parser no longer calls hooks.expression for x in `x = ...`, hooks.pattern is called instead
remove rootName argument from hooks.expressionMemberChain and hooks.callMemberChain

[2019-09-05 11:24] EugeneHlushko commented on #3217
@dhuang612 looks like @aaronang doesn't have time to do it, still want to grab this?

[2019-09-05 11:26] EugeneHlushko commented on #3028
@dhuang612 yes please!

[2019-09-06 17:27] dhuang612 commented on #3217
yeah I can take it over

[2019-09-06 18:28] mbrowne opened #3277 "Clarify SplitChunksPlugin defaults in docs"
__Feature to document__

SplitChunksPlugin defaults

__Author(s)__

??

__Additional information__

It would be good to clarify whether the default settings for SplitChunksPlugin are optimized for HTTP/1 or HTTP/2. I'm guessing the defaults have HTTP/1 in mind, since HTTP/2 should be able to easily handle more than the default of 5 parallel requests. If someone can confirm, then I'd be happy to op

[2019-09-09 13:01] webpack-bot opened #3278 "Document webpack change: change assetEmitted hook to include more info"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9677

---

**What kind of change does this PR introduce?**
change

**Did you add tests for your changes?**
yes

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
The `assetEmitted` hook has

[2019-09-10 10:12] kosarko commented on #1861
Just a comment on the [production guide](https://github.com/webpack/webpack.js.org/blob/0d029f30dcf0b038f46544db1076f51f4ae61b17/src/content/guides/production.md)

But https://github.com/webpack/webpack/issues/2537#issuecomment-369129702 is closed with:

[2019-09-12 17:56] webpack-bot opened #3280 "Document webpack change: add emit/updateAsset to Compilation"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9687

---

add asset info with
* immutable for long term cache-able asset
* size for the asset size in bytes
* development for devtools
* hotModuleReplacement for HMR assets

show asset info in stats

fixes #9038

**What kind of change does this PR intr

[2019-09-13 14:09] #3280 closed

[2019-09-13 19:23] EugeneHlushko commented on #3247
Hi @Loonride are you still planning to do this one?

[2019-09-13 19:25] waxter013 opened #3287 "[Bug] Incorrect url and title in side navigation of guide"
I found the bug on this page: https://webpack.js.org/guides/asset-management/.
It looks like the bug occurs for the "Output Management" section and below.

The incorrect "title" and "href" attribute values are set for the sections of the side navigation. The values for the links and their containing list elements are set as the ones for the proceeding section.

For example, the list and anchor ele

[2019-09-13 19:33] waxter013 commented on #3287
![image](https://user-images.githubusercontent.com/7544238/64889556-3c02bf80-d633-11e9-8d95-4b2a83f645ca.png)

Here's a screenshot. Hovering over "Preparation" shows the title and href values for "Using source maps".

[2019-09-14 06:34] superburrito commented on #3287
I'll be happy to look into this @EugeneHlushko

[2019-09-14 12:32] EugeneHlushko commented on #3287
hi @waxter013 thanks for reporting, this was caught once before so i know what is the problem.

@superburrito i have already fixed this last time but seems the key prop was the real culprit, server side render has right links and then during hydration an index based key create confusion for react, i have linked the react issue the last time we fixed it.

[2019-09-15 01:52] Loonride commented on #3247
Yes, but there is no rush because it will only be released in next major version of `webpack-dev-server`.

[2019-09-16 09:54] EugeneHlushko commented on #3247
Right! ty

[2019-09-16 14:09] dhuang612 commented on #3217
Hey Eugene,

Sure it was already merged.
PR #3276

[2019-09-20 11:24] EugeneHlushko commented on #3217
Thank you!
Closing via #3276

[2019-09-20 11:24] #3217 closed

[2019-09-30 01:22] kswedberg commented on #1882
Pretty sure I and others have already taken care of the inconsistencies I noted above (e.g. in PR #3165) except for one I just noticed. Just created a PR for that one: https://github.com/webpack/webpack.js.org/pull/3303

Feel free to close this issue whenever you want. Also, I'm happy to proofread/edit anything at all if there's a need.

[2019-09-30 11:45] EugeneHlushko commented on #1882
Thanks, closing in this case

[2019-09-30 11:45] #1882 closed

[2019-09-30 14:42] bseib opened #3304 "Document the output directory for devServer.writeToDisk"
Regarding the `webpack-dev-server` documentation for `devServer.writeToDisk`, the docs would be improved (especially for newcomers) if we were told where to find the files that get written to disk.

I think I figured out that the files go to `./dist`. However I'm not sure if that is true for everyone, or if that's just for my own setup. The docs should tell the reader exactly what to expect. I'll

[2019-10-02 21:51] clehene commented on #2223
lol I did the same. Most diagrams are `manyfileshere -> *magic* -> bundle.js`

[2019-10-06 16:52] #3304 closed

[2019-10-07 04:49] yushih opened #3308 "The TOC of guides documentation page contains wrong links"
# Bug report

**What is the current behavior?**
On the left side of this page, https://webpack.js.org/guides/public-path/ is a TOC, but every entry links to the page corresponding to the previous entry. Also, the wrong TOC entry is expanded.

**If the current behavior is a bug, please provide the steps to reproduce.**

Go to  https://webpack.js.org/guides/public-path/

**What is the expected behav

[2019-10-07 16:39] srishtiBajpai commented on #3287
is this issue resolved?

[2019-10-08 03:37] yushih commented on #3308
Thank you @evilebottnawi for informing me. Thank you @sokra for transferring the issue. Apologies for raising it in the wrong place.

[2019-10-08 12:48] montogeek commented on #3308
Seems related to https://github.com/webpack/webpack.js.org/issues/3287#issuecomment-539100251

[2019-10-09 02:20] ngodi opened #3310 "Uncaught SyntaxError: Invalid or unexpected token , after applying the setup guide on "https://webpack.js.org/guides/getting-started""
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2019-10-09 02:22] ngodi commented on #3310
Had a fix by adding the meta tag in the html
<!doctype html>
<html>
  <head>
    <title>Getting Started</title>
++    <meta charset="utf-8" >
  </head>
  <body>
    <script  src="main.js"></script>
  </body>
</html>

[2019-10-10 06:07] EugeneHlushko commented on #3310
Hi @ngodi can you mention after which step and, which token was the issue? The html in the guide looks correct

[2019-10-10 06:09] EugeneHlushko commented on #3308
Yes, @yushih can you try to reproduce on the preview build of #3287 here?
https://deploy-preview-3288--webpackjsorg-netlify.netlify.com/

[2019-10-10 12:28] webpack-bot opened #3312 "Document webpack change: Reduce runtime as much as possible"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9784

---

This PR allows to run webpack without runtime in some cases.

* remove items from runtime when unneeded
* add requireScope RuntimeGlobal
* Deprecate MainTemplate, ChunkTemplate, ModuleTemplate
  * move some hooks to CompatRuntimeModule
  * mo

[2019-10-10 22:09] webpack-bot opened #3313 "Document webpack change: Feat improve ecma version option"
*A pull request by @evilebottnawi was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9796

---

**What kind of change does this PR introduce?**

feature

Improvements:
- Allow set `5`-`11` values for `output.ecmaVersion` (better DX, many other tools, like eslint, use the same logic)
- Allow set `2009`-`2020` values for `output.e

[2019-10-11 13:50] p4pramod opened #3315 "V4.6 Documentation"
How do I can find documentation for the old version of webpack?

[2019-10-12 16:45] #3287 closed

[2019-10-15 09:19] webpack-bot opened #3319 "Document webpack change: Do not show stack trace of errors in stats by default"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9820

---

Add new `stats.errorStack` option to display it anyway.

**What kind of change does this PR introduce?**
bugfix

**Did you add tests for your changes?**
no

**Does this PR introduce a breaking change?**
no

**What needs to be documented once

[2019-10-17 18:30] IronSean commented on #2974
I still have no idea what these do though, even with the documentation

[2019-10-18 21:33] ShootPassSlam opened #3321 "Basic Plugin Architecture plugin name not camelized"
__Feature to document__

In [writing-a-plugin](https://github.com/webpack/webpack.js.org/blob/master/src/content/contribute/writing-a-plugin.md) under "Basic Plugin Architecture", the plugin name 'Hello World Plugin', is not camelized. The Plugin documentation states:

Should this plugin name be changed to 'HelloWorldPlugin'?

__Additional information__

Suggested change: Change the plugin name in

[2019-10-18 21:44] adrian5 opened #3322 "Links in sidebar don't match text (are off by one row)"
If you go into the documentation on loaders, e.g. [style-loader](https://webpack.js.org/loaders/style-loader/), all navigation links from _raw-loader_ downwards don't match their label. I think they're misaligned by one row.

[2019-10-19 04:48] montogeek commented on #3322
@EugeneHlushko Seems like the same problem :D

[2019-10-21 07:01] webpack-bot opened #3324 "Document webpack change: refactor: `devtool` option"
*A pull request by @evilebottnawi was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9689

---

**What kind of change does this PR introduce?**

refactor

features:
- better validation
- avoid misleading when value has invalid order like `source-eval-map-cheap`
- I saw hundreds of configuration with the wrong value :smile: I fin

[2019-10-21 12:35] webpack-bot opened #3325 "Document webpack change: remove all options for cache.store expect "pack""
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9866

---

these are incomplete and may be readded later

**What kind of change does this PR introduce?**
removal

**Did you add tests for your changes?**
existing tests

**Does this PR introduce a breaking change?**
yes

**What needs to be documented o

[2019-10-21 13:36] webpack-bot opened #3326 "Document webpack change: increase minimum node.js version to 10"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9868

---

**What kind of change does this PR introduce?**
deps

**Did you add tests for your changes?**
CI

**Does this PR introduce a breaking change?**
yes

**What needs to be documented once your changes are merged?**
min node.js version is 10.16.3

[2019-10-22 20:58] trogne opened #3330 "p option not doing what is said in the docs"
If we read current docs, and `webpack --help` (version 4.41.2), we see this :

"-p   shortcut for --optimize-minimize --define process.env.NODE_ENV="production"  "

This is false.

Running `webpack --optimize-minimize --define process.env.NODE_ENV="production"` have no effect.

In fact, `webpack -p` is equivalent to running `webpack --mode production`.  Now my code is minimized.

Seems that in rec

[2019-10-23 10:19] EugeneHlushko commented on #3330
Hi @trogne
Thanks for reporting, are you willing to correct this in the docs or should we try to resource this change?

[2019-10-24 11:07] trogne commented on #3330
I prefer you try.  Thanks !     And I'm not 100% sure I'm right.

[2019-10-24 12:43] EugeneHlushko commented on #3330
Okay, we will pick this up

[2019-10-25 19:51] montogeek opened #3333 "Writer's guide - Types notation"
Some time ago a writes guide was created that specifies how to add types notations to our documentation, but later some users found it confusing, an alternative is to use TypeScript notation which has better standardization process and it is more known by the community.

Another alternative is to use TypeScript documentation from webpack source code directly (it would be a fun AST ride, maybe).

[2019-10-25 19:51] montogeek commented on #3333
Related: https://github.com/webpack/webpack.js.org/pull/3323

[2019-10-30 08:39] Munter opened #3338 "webpack.js.org redirects through non-encrypted connection"
When visiting a page on `https://webpack.js.org` in a subdirectory while omitting the trailing slash for the directory, an HTTP redirect chain happens that redirects the traffic through an unencrypted connection:

[code]

The redirect from the URL with no trailing slash redirects to the same URL with a trailing slash, **but on HTTP instead of HTTPS**. From there another redirect sends the browser

[2019-10-30 08:57] Munter commented on #3338
I just tested the same situation with a Github pages repository and I can't recreate the problem. Is it something with the combination of cloudflare and gh-pages?

[2019-10-30 22:34] brandonkal opened #3644 "resolveSync not defined in loader context"
# Bug report

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

Loaders should be able to call `this.resolveSync()` for a synchronous module resolution as documented.

See issue webpack/webpack#1634 that was closed without resolution for context.

If this API has been removed and the webpack team doe

[2019-11-04 20:30] webpack-bot opened #3341 "Document webpack change: Many small performance improvements"
*A pull request by @sokra was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9928

---

* add logging to FileSystemInfo to print out which file caused snapshot invalidation
* use LazySet in ResolverCachePlugin
* do not emit immutable files when this file already exists on disk
* do not emit files if the same file with the same c

[2019-11-06 10:02] jakub-g commented on #3191
@ogonkov where should `loader-runtime` to have webpack pick it up correctly? (assuming it's not a separate npm module, but something I want to have in the same repository as the loader?)

[2019-11-07 09:21] godcrampy commented on #3322
I tried to recreate the problem, and here's what I found. If you visit the page using a link, like by clicking the above link or actually pasting the URL in the browser you'll find the links are one off. On the other hand if you navigate to the page by visiting the loaders main [page](https://webpack.js.org/loaders/), and then clicking in the style-loader link in the sidebar, the links are fine.

[2019-11-07 19:33] ogonkov commented on #3191
@jakub-g just place it like regular dependency in loader output

[2019-11-19 12:11] jeffin143 commented on #3024
@EugeneHlushko if done , should we close it :) so that we could find which issue to work on. There are lots of issue which are done but aren't closed :)

[2019-11-19 12:25] EugeneHlushko opened #3366 "v4.webpack.js.org"
Known issues:

- search results link to the wrong domain
- edit page links to wrong branch

[2019-11-19 12:29] #2705 closed

[2019-11-19 12:29] #2716 closed

[2019-11-19 14:11] #3024 closed

[2019-11-19 14:12] montogeek commented on #3024
@jeffin143 Feel free to ping us so we can close them.

[2019-11-19 14:43] jeffin143 commented on #2732
Ping @montogeek , Thanks for closing many of the PR :) 🚀

[2019-11-19 14:47] #2732 closed

[2019-11-19 19:40] #3326 closed

[2019-11-19 19:43] #3341 closed

[2019-11-19 19:46] EugeneHlushko commented on #3315
Hi @p4pramod , there is no dedicated domain just yet like for v4, but you can clone the repository and checkout to an older version of the docs. There is v3 branch and v3 tag.

v4 docs are fixed at v4.webpack.js.org

[2019-11-19 19:47] EugeneHlushko commented on #3333
If this doesnt get traction, i suggest adding a small outline to the types in the docs somewhere or as i suggested earlier, a tooltip when hover types

[2019-11-23 08:56] ogonkov opened #3369 "[Writing a Loader / Writing a Plugin] Combining loaders result"
__Feature to document__

Document a writing of loader/plugin tandem for generating combined assets (eg sprites)

__Author(s)__

__Additional information__

@sokra write some nice tips on how it could be achieved

https://github.com/webpack/webpack/issues/9802#issuecomment-554943606

https://github.com/webpack/webpack/issues/9802#issuecomment-555397248

- [x] I am willing to work on this issue and

[2019-11-26 21:10] webpack-bot opened #3372 "Document webpack change: Asset modules enhancement"
*A pull request by @smelukov was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/9979

---

**What kind of change does this PR introduce?**

Feature

It works but there is some stuff to do:
- [x] fix tests
- [x] add more tests
- [x] add generator option validation by a scheme

**Did you add tests for your changes?**

Yes

**Does

[2019-11-27 05:45] smelukov commented on #3372
This one is in progress

[2019-11-29 11:20] fengxinming opened #3374 "webpack Dev Server Invalid Options"
incorrect:
[code]

[code]

correct:
[code]

[2019-11-30 11:20] EugeneHlushko commented on #3374
Reading the error, `'debug'` option does exist in schema error description, but doesn't pass the validation right?

[2019-12-01 04:48] fengxinming commented on #3374
@EugeneHlushko it appeared when I used `create-react-app`, you may try it.

[2019-12-01 11:02] webpack-bot opened #3376 "Document webpack change: Support custom parser for json modules"
*A pull request by @smelukov was merged and maintainers requested a documentation change.*

See pull request: https://github.com/webpack/webpack/pull/10054

---

**What kind of change does this PR introduce?**

feature

**Did you add tests for your changes?**

yep

**Does this PR introduce a breaking change?**

nope

**What needs to be documented once your changes are merged?**

about `Rule.parser

[2019-12-01 12:14] #3376 closed

[2019-12-01 14:19] jeffin143 commented on #3195
@montogeek , Let's close this , Since it is done :)

[2019-12-01 15:15] jeffin143 commented on #3057
@montogeek
In this file - https://github.com/webpack/webpack.js.org/blob/master/src/content/configuration/node.md

I guess it explicitly mentioned that node.__filename, node.__dirname and node.global defaults to false in node.js targets

[code]

[code]

The only blocker I see in closing this issue is the following

[code]

I guess we need to correct the JavaScript snippet to change **mock** to **f

[2019-12-01 15:33] #3195 closed

[2019-12-01 16:13] #3372 closed

[2019-12-01 18:51] jeffin143 commented on #2300
@EugeneHlushko , this is done I guess :)

[2019-12-02 10:00] VincentCharpentier opened #3392 "Is module.id still a number"
# Bug report
I read here that a module ID should be a number:
https://webpack.js.org/api/module-methods/#requireresolve

**What is the current behavior?**
When I use module id in output.filename like so: `[id].js`
I get `<filename>.js` (same as if I was using `[name].js`)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I would expec

[2019-12-02 10:33] #3191 closed

[2019-12-02 10:42] milottit commented on #2579
I agree. Somebody new in webpack, not knowing webpack 3, cannot guess what means this.rootContext. An explanation is required.

[2019-12-02 13:14] #2300 closed

[2019-12-02 13:14] isitgeorge opened #3388 "Stats.preset is an unknown property @4.41.2"
**Describe the bug**

According to the docs at https://webpack.js.org/configuration/stats/#extending-stats-behaviours I'm able to specify a preset stat and then extend/overwrite with other options. However the latest normal release @4.41.2 suggests this is an unexpected property.

[code]

**What is the current behavior?**

[code]

**To Reproduce**
Steps to reproduce the behavior:
Execute `webpack`

[2019-12-02 15:44] jeffin143 commented on #3239
@montogeek , This is done and dusted, Let's close this :)

[2019-12-02 15:46] jeffin143 commented on #2738
@montogeek , Done with this too :rocket:

[2019-12-02 15:48] jeffin143 commented on #2656
Issue is resolved @montogeek

[2019-12-02 15:50] jeffin143 commented on #2490
@montogeek Since the query was answered and also the information is explicitly mentioned in docs, I guess we should go ahead and close this to just keep the count of issues in check :)

[2019-12-02 15:53] #2656 closed

[2019-12-02 15:53] #2738 closed

[2019-12-02 15:54] #3239 closed

[2019-12-02 15:55] isitgeorge commented on #3388
@evilebottnawi appreciate your reply! That's what I'm using currently, but how would I extend the stats behaviours as the [documentation suggests](https://webpack.js.org/configuration/stats/#extending-stats-behaviours)?

[code]

For example if I'd like to enable errorDetails on top of the minimal preset stats? Thanks!

[2019-12-02 15:57] jeffin143 commented on #2289
This seems done :) @montogeek

[2019-12-02 16:02] #2289 closed

[2019-12-02 16:15] jeffin143 commented on #2082
Solved via https://github.com/webpack/webpack.js.org/pull/2102, @montogeek Let's close this

Probably last for the day :)

[2019-12-02 17:15] #2082 closed

[2019-12-05 07:48] fengxinming commented on #3374
@EugeneHlushko https://github.com/fengxinming/reappear-webpack-config-bug
Please check it

[2019-12-05 13:01] jeffin143 commented on #2117
@montogeek , solved in 2574 let's close this :)

[2019-12-05 13:01] jeffin143 commented on #2105
@montogeek @EugeneHlushko don't we have that feature now ?

[2019-12-05 16:40] jeffin143 commented on #3324
@evilebottnawi

devtool                        | build   | rebuild | production | quality
------------------------------ | ------- | ------- | ---------- | -----------------------------
(none)                         | fastest | fastest | yes        | bundled code
eval                           | fastest | fastest | no         | generated code
cheap-eval-source-map          | fast    | faster  | n

[2019-12-05 16:45] jeffin143 commented on #3308
This is not reproducible anymore, Let's go ahead and close it

Can you confirm it once @yushih ?

[2019-12-05 19:14] jeffin143 commented on #3097
@montogeek : done and dusted :)

[2019-12-05 19:20] #3097 closed

[2019-12-05 19:36] jeffin143 commented on #2244
![IMG_20191206_010530](https://user-images.githubusercontent.com/21286134/70267462-845df380-17c4-11ea-94b1-904ab413bb03.jpg)

It has reached 99 :)

Loved it , let's close this
May be we could hit 100 some day :-p

[2019-12-05 21:52] #2244 closed

[2019-12-06 05:09] rishabh3112 commented on #3333
@EugeneHlushko Typescript notations are less confusing and should be used in my opinion.

Major part of the code in the webpack source code in written in javascript with commented types, thus extracting the types from there wouldn't be a nice idea.

[2019-12-06 05:13] rishabh3112 commented on #3388
Duplicate issue at https://github.com/webpack/webpack-cli/issues/1128.

[2019-12-06 11:05] madilraza opened #3394 "ARYMALIK"
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2019-12-06 12:10] grtan commented on #2122
@sokra

I tried, but it turned out not to be this way.

[2019-12-06 12:13] grtan commented on #2122
@sokra

I tried, but it turned out not to be this way. When i set reuseExistingChunk to **true**, still produces **three** files

[2019-12-06 12:31] isitgeorge commented on #3388
Solved in duplicate issue https://github.com/webpack/webpack-cli/issues/1128

[2019-12-06 12:31] #3388 closed

[2019-12-08 08:45] #3394 closed

[2019-12-08 09:01] EugeneHlushko commented on #3374
@hiroppy can you please have a look, i dont see why this is happening

[2019-12-08 09:28] #3325 closed

[2019-12-09 17:07] #2117 closed

[2019-12-12 09:10] #3273 closed

[2019-12-13 16:32] rishabh3112 commented on #3374
@fengxinming this is working for me. Here is a minimal example for this https://github.com/rishabh3112/issues/tree/master/webpackdocs%233374

![image](https://user-images.githubusercontent.com/15812317/70815683-f1d8d800-1df3-11ea-84d6-43cc74db507d.png)

[2019-12-13 18:31] #2601 closed

[2019-12-13 19:07] #3215 closed

[2019-12-13 20:01] #3312 closed

[2019-12-14 02:32] fengxinming commented on #3374
@rishabh3112 I see but I met this problem from `create-react-app` after ejecting webpack config, I feel like `webpack-dev-server`@latest has fixed this issues.

[2019-12-14 07:20] rishabh3112 commented on #3374
@fengxinming  As you have now ejected the config, try updating the `webpack-dev-server`. It should solve the issue.

[2019-12-15 19:46] MattGoldwater opened #3410 "Plugin name typo?"
__Feature to document__

Webpack 5 migration guide https://github.com/webpack/webpack.js.org/pull/3361

__Author(s)__

@EugeneHlushko @montogeek

__Additional information__

From the guide: "If you are using Yarn's PnP and the pnp-resolver-plugin, we have good news: it is supported by default now. You have to remove it from the configuration."

I can't find the pnp-resolver-plugin. Do you mean to

[2019-12-16 08:00] EugeneHlushko commented on #3410
Yes when i look at it i think you are right :) Please file a pr

[2019-12-16 10:28] harryi3t commented on #1854
@bendtherules https://webpack-v3.jsx.app is not working anymore :(

[2019-12-17 03:37] bendtherules commented on #1854
@harryi3t please use webpack-v3.netlify.com in the meantime.
I changed the registrar recently, probably missed something there. Will fix it soon

[2019-12-17 08:48] #3410 closed

[2019-12-17 17:00] jeffin143 commented on #3319
Time to close some Issues :)

ping @montogeek , We can close this

[2019-12-17 17:01] jeffin143 commented on #3278
Done and dusted :)

@montogeek

[2019-12-17 17:02] jeffin143 commented on #3235
Let's close this :) @montogeek

[2019-12-17 17:06] jeffin143 commented on #2600
@montogeek , Ig this is done

[2019-12-17 17:07] jeffin143 commented on #3313
@montogeek , This issue is resolved

[2019-12-17 17:31] #3313 closed

[2019-12-17 17:31] #2600 closed

[2019-12-17 17:31] #3235 closed

[2019-12-17 17:31] #3278 closed

[2019-12-17 17:31] #3319 closed

[2019-12-17 17:32] #3392 closed

[2019-12-18 22:03] jeffin143 commented on #2192
@montogeek , let's close this :)

[2019-12-18 22:05] jeffin143 commented on #3235
@montogeek sorry for the blunder , can we re open this
Since this is not completed

[2019-12-18 22:08] jeffin143 commented on #2437
@montogeek , this is completed

[2019-12-19 08:26] #3330 closed

[2019-12-22 13:08] #2745 closed

[2019-12-22 13:09] #2696 closed

[2019-12-22 13:10] #2605 closed

[2019-12-22 13:12] #3315 closed

[2019-12-22 13:13] #3308 closed

[2019-12-22 14:17] madilraza opened #3415 "react js API connectivity"
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2019-12-22 14:31] madilraza opened #3416 "react Plugin for web"
__Feature to document__

__Author(s)__

__Additional information__

[ ] I am willing to work on this issue and submit a pull request.

[2019-12-22 18:02] anshumanv commented on #3415
Can you please elaborate on the issue? Thanks!

[2019-12-22 18:02] anshumanv commented on #3416
Possibly duplicate of https://github.com/webpack/webpack.js.org/issues/3415

[2019-12-23 10:23] #2192 closed

[2019-12-24 08:29] EugeneHlushko commented on #3374
Closing for now

[2019-12-25 11:43] rifler opened #3420 "Mismatch information in optimization chapter"
__Feature to document__

https://webpack.js.org/configuration/optimization/#optimizationmoduleids
Doc says that there can be value "deterministic", but webpack@4.41.4 says
[code]

Also doc says `To override the default behaviour set optimization.moduleIds to false and use the webpack.ids.DeterministicModuleIdsPlugin`, but
[code]

__Author(s)__

__Additional information__

to verify webpack version

[2019-12-27 04:57] #3374 closed

[2019-12-27 19:04] EmpireJones opened #3426 "webpackMode: "eager" magic comment can generate extra chunks"
From the documentation of the webpackMode "eager" on https://webpack.js.org/api/module-methods/#magic-comments, it states:

From what I can tell, this doesn't really describe the full behavior. If I use it in combination with the webpackChunkName magic comment, I'm able to eagerly load via a new chunk / separate network request (which is useful for me, as it results in it getting added to the list

[2019-12-30 08:08] niravasher commented on #3366
[code]
Adding this part of code to src/components/Link/link.jsx file solves the first part of the issue. Now search results link to the right position on all pages.

Clicking on creating a bundle
![Screenshot from 2019-12-30 13-10-55](https://user-images.githubusercontent.com/32176296/71573219-bbe06700-2b08-11ea-9898-719861a7a087.png)

Position on webpack.js.org
![Screenshot from 2019-12-30 13-19-

[2020-01-01 10:46] niravasher opened #3438 "Error can't commit, failing lint tasks"
I cannot commit my code, it constantly fails lint tests.
Here is my console
![Screenshot from 2020-01-01 16-08-58](https://user-images.githubusercontent.com/32176296/71640509-7d39e080-2cb1-11ea-835c-f77a8920ae1a.png)
![Screenshot from 2020-01-01 16-09-24](https://user-images.githubusercontent.com/32176296/71640512-86c34880-2cb1-11ea-91cb-bcb90bb4b69d.png)

To solve this I ran the command `npm inst