[2017-06-27 07:15] bebraw commented on #925
Technically you can pack/unpack from/to object structures as long as you get something webpack understands (currently just JS module) out of the chain. You can also emit files from loaders easily (**file-loader**).

[2017-06-27 08:13] vvo commented on #16
(if anyone starts this, please put a comment as I might do it "at some point")

[2017-06-27 16:07] walfly commented on #491
@skipjack Yes both is really what I'm looking for. I've been able to figure most of it out from inspecting the object, but for properties like `module.reasons` I'd really like a clear explanation I can refer too.

[2017-06-27 21:23] skipjack commented on #491
@walfly no problem.. I think we can use that as a general outline and hopefully get some help from the @webpack/core-team to fill in the blanks. I'll try to ping some people so we can get the ball rolling on this.

[2017-06-27 22:46] TheLarkInn commented on #491
Yes reasons is built and collected into each module as the graph is being traversed.  Reasons provides a chain of information that shows why the current module is inside the bundle etc

[2017-06-28 13:12] tobmaster commented on #1340
At least it should stand out in a more appropriate way. And maybe reminding people to consider those

[2017-06-28 13:20] TheLarkInn commented on #1340
I suggested that @tobmaster submit this issue so everyone could see if this was a good idea. It would drastically increase the scope at the same time so in hindsight it becomes a lot for our teams to manage. We should throw around ideas but not feel pressured to implement.

[2017-06-28 13:25] bebraw commented on #1340
I would rather leave the problem to portals like [Stack Overflow Careers](https://stackoverflow.com/jobs?sort=i&q=webpack). Managing job offers is quite far from webpack's purpose as a project. I would rather look into other ways to highlight companies that support the project. This would add overhead for the companies as well (one more place where to manage their job ads).

[2017-06-28 22:02] jeremenichelli commented on #938
Has someone taken this? I think is a pretty simple guide to add and I already did that in some projects in my current job so it won't be hard for me.

[2017-06-28 22:03] skipjack commented on #938
No one's claimed it, please feel free to pick it up!

[2017-06-28 22:05] jeremenichelli commented on #938
Good, I'm going to get into this next week probably.

[2017-06-29 23:52] #1333 closed

[2017-06-30 00:01] skipjack commented on #1258
Ok so an update:

- [ ] Introduction
- [ ] Installation
- [ ] Getting Started
- [ ] Asset Management
- [ ] Output Management (@TheDutchCoder)
- [ ] Development
- [ ] Hot Module Replacement
- [ ] Production
- [ ] Tree Shaking
- [ ] Code Splitting
- [ ] Lazy Loading
- [ ] Caching (@jakearchibald?)
- [ ] Authoring Libraries
- [ ] Environment Variables (_hmmm_)
- [ ] Shimming
- [ ] Typescript
- [ ] De

[2017-06-30 00:07] skipjack commented on #1258
@TheDutchCoder @jakearchibald as mentioned in #1338 please feel free to do another pass over the _Code Splitting_ and _Lazy Loading_ changes now that it's merged.

@jakearchibald are you still interested in tackling the caching guide (which should hopefully resolve #652 and synchronize it with the others)?

@TheDutchCoder as mentioned in #1338, I'll begin reviewing your PRs as soon as I can.

If e

[2017-07-01 03:22] skipjack commented on #1340
@TheLarkInn sure I think we're ok with leaving this open for a bit longer to throw around some ideas but I think even if we did decide to implement, we should finish getting the core content, and a few other things, straightened out first.

@tobmaster I'm not sure what you mean here... what should stand out in a more appropriate way? And consider what? (it looks like the end of that comment may ha

[2017-07-01 04:28] skipjack commented on #1300
@joshmosh any updates on this? Happy to help push this forward...

[2017-07-01 04:33] skipjack commented on #1288
The `code-splitting-libraries` guide was removed in #1338 and replaced with a simpler `code-splitting` guide that doesn't use these examples. If there's a similar erroneous example in the [caching guide](https://webpack.js.org/guides/caching/) or [commons-chunk-plugin](https://webpack.js.org/plugins/commons-chunk-plugin/), please re-open or add a comment on #652.

[2017-07-01 04:33] #1288 closed

[2017-07-01 04:43] skipjack commented on #169
Related: #469 -- Maybe someone can take a stab at recreating that chart in mermaid? Also based on @bebraw's comment in #487 I think we need to make sure that image is still accurate for webpack 3.

[2017-07-01 15:38] joshmosh commented on #1300
@skipjack I'm sorry for letting this sit for a little. I just moved and have been spending a lot of my time unpacking and organizing. I should be able to make some progress this week.

[2017-07-01 16:03] sokra commented on #141
You can set the `compiler.inputFileSystem` in the `Compiler`'s `enviroment` hook.

This should be an object with these methods:

[code]

[2017-07-01 16:06] sokra commented on #480
The Stats object interface has only these methods:

[code]

The `compilation` property is private.

webpack either returns a `Stats` or a `MultiStats` which both fulfill this interface.

[2017-07-01 16:07] skipjack commented on #1300
No worries... sounds good, thanks.

[2017-07-01 16:13] skipjack commented on #480
Ok and those are all documented [here](https://webpack.js.org/api/node/#stats-object). I'll just add a note about the `MultiStats` which I guess is returned when using the `MultiCompiler`. @donaldpipowitch so it seems the answer to your issue is really just that `compilation` is not meant to be accessed.

[2017-07-01 16:42] skipjack commented on #141
@sokra so I do see the `environment` event listed in the [compiler events table](https://webpack.js.org/api/plugins/compiler/#event-hooks) but it says no params are passed to the callback -- is that wrong and it's set like so?

[code]

or differently? Also it seems maybe we should recommend people use or at least take a look at the `***InputFileSystem` files in `enhanced-resolve`?

[2017-07-01 16:48] sokra commented on #491
We could create a doc page similar to the "Configuration" page, with commented and linked json data.

[2017-07-01 16:49] sokra commented on #141
I recommend using `memory-fs` for you own in memory filesystem.

[2017-07-01 18:28] skipjack commented on #141
Ok will do -- is that usage example I showed correct or incorrect though?

[2017-07-01 18:31] skipjack commented on #141
Related: webpack/webpack#1562

[2017-07-01 18:39] skipjack commented on #141
Hmmm I found what looks like a good example here: christianalfoni/webpack-bin#106

[2017-07-02 05:16] donaldpipowitch commented on #480
Good to know, thank you all.

[2017-07-02 13:29] #132 closed

[2017-07-02 13:36] #141 closed

[2017-07-02 13:38] #480 closed

[2017-07-02 17:56] dhilt opened #1360 "Dev - Tooltip Issue in Backers Section"
Something's not ok with Angular in the Backers section...

![_zero](https://user-images.githubusercontent.com/4365660/27772326-84c05190-5f68-11e7-8744-2dc604b5abd6.png)

[2017-07-02 18:04] d3viant0ne commented on #1360
Check the sponsors section, I'm betting it has to do with multiple users. Note the `Google Angular` in the sponsor section vs. `Angular` in the backers section.

[2017-07-02 19:12] skipjack commented on #1360
Weird it seems all their `donation` amounts are coming in `null` from OpenCollective when we pull the JSON... this may be an issue with their account or on OpenCollective's end.

![image](https://user-images.githubusercontent.com/8988697/27772868-ca25e22a-5f38-11e7-9f38-e5c776588ad4.png)

[2017-07-02 19:15] skipjack commented on #1360
If anyone else wants to debug, the code can be found [here](https://github.com/webpack/webpack.js.org/tree/master/components/support). You'll have to stand up the site locally though as the OpenCollective JSON is pulled into that directory dynamically.

As mentioned above, I don't think this issue is on our side -- although `null` values should cause the backer to be sorted to the bottom of the li

[2017-07-03 07:27] tobmaster commented on #1340
@skipjack sorry I wrote that on a mobile.
I just meant that those regular supporters should be a bit more visible.
So that developers may "consider" those companies when applying for a job, cause they invest into the ecosystem.

I understand that it might be too complex and out of focus of the project.
It started just as an idea on twitter :)

[2017-07-03 09:28] d3viant0ne commented on #44
@skipjack - I have completely forgotten about this. I still have the draft docs buried on my ssd somewhere but I see your point about moving this to a different section of the documentation.

No argument from me on that point.

[2017-07-03 12:17] skipjack commented on #1340
No problem... yes I will add making them more visible to our list of general TODOs (which I'll be opening a "meta" issue for soon).

Yeah I get it, no worries. The problem is mainly that in practice this site is tougher to maintain than it might seem, although it is gettting better. And, besides all the content work we still have left, we still have some other tools that need integrating and some

[2017-07-03 12:17] #1340 closed

[2017-07-03 17:49] kevinphelps commented on #480
Is the `stats` array on `MultiStats` supposed to be private also? https://github.com/webpack/webpack/blob/f18989c712894bba13ebfb6dfb3f50fc44b0d12a/lib/MultiCompiler.js#L191

[2017-07-03 18:23] skipjack commented on #480
@kevinphelps good question, @sokra? It seems maybe the private methods should be prefixed by an `_` to prevent confusion?

[2017-07-03 19:50] donaldpipowitch commented on #480
A `_` prefix would be awesome.

[2017-07-03 22:13] skipjack commented on #44
Ah great, well if you want to PR what you have we can sort out how it's organized in #438. Or if you'd rather wait on it for now or just move it to a blog post I suggest we close for now and re-open down the road if anything.

Happy to help facilitate whatever direction you choose. I'm just trying to move some of these older issues forward.

[2017-07-03 22:17] skipjack commented on #1070
Is there a way to do a dry run or to fail out of the build process without antwar edits? It seems we could just `throw` some errors within the markdown utility or YAML file?

[2017-07-04 03:36] skipjack commented on #169
Just in case anyone comes across this -- @hulkish has expressed interest in tackling this one... I believe he'll be sharing some thoughts soon.

[2017-07-04 07:11] probablyup opened #1365 "Consider renaming the "support" page"
Generally when visiting a website, "support" as a single word is where an end-user would go to find help information. The naming is a little confusing and I think people might overlook it for its purpose: to explain and drive income for the project.

Some alternate title ideas:

- Support Webpack (basically just adding a subject so it's more obvious what the page is about)
- Contribute (my favored

[2017-07-04 07:53] d3viant0ne commented on #44
Honestly, Docker anything is usually very purpose built. Even if I threw up a guide, I few it would only lead to a bunch of questions related to trying to turn a generic example into something that works in a particular CI / CD chain or local development workflow.

If the question comes up a lot in the future, I can resurrect a doc on the subject but most of what I see used now is Docker for suppo

[2017-07-04 07:53] #44 closed

[2017-07-04 15:57] hulkish commented on #169
@skipjack yes, I'm currently putting together a small script that will produce this in a way that's easily updatable.

[2017-07-04 17:08] rafde opened #1366 "Code-splitting guide missing commonly sought after answers."
I was looking for the vendor common chunk example to reference and noticed that a lot of useful information was removed in https://github.com/webpack/webpack.js.org/commit/15f815589e863c7f7cd8d0c771cb83cb2e9ceec6#diff-97b9e4722b09b5046bf7756c344112cdL19
I can't find any examples or reference to where it was moved.
Can that commit be reverted, as it offers nothing that people are actually looking f

[2017-07-04 17:35] rafde commented on #1366
atleast reference https://webpack.js.org/plugins/commons-chunk-plugin/#passing-the-minchunks-property-a-function in a prominent title that leads to that example.

[2017-07-04 23:41] futagoza opened #1367 "Comparison is hard to read"
I was tring to read the [comparison page](https://webpack.js.org/comparison/), but the table displaying the comparison is forced to a percentage of the page, while theres open room on the left and right sides.

I check the [source file](https://github.com/webpack/webpack.js.org/blob/master/content/comparison.md) for the page and it seem's the size of the table here is also limited, but only becaus

[2017-07-05 21:44] lukebaker opened #1375 "Production site is not loading CSS"
When loading https://webpack.js.org/, the CSS is not loading. I see a 404 error for this URL in my console: https://webpack.js.org/18fead44e3fe2780a2db.css

[2017-07-06 00:32] lukebaker commented on #1375
Appears to be fixed now.

[2017-07-06 00:32] #1375 closed

[2017-07-06 03:38] rouzbeh84 commented on #1366
@rafde I've gone ahead and noted that this is a commonly used feature of code splitting and reference the [Explicit vendor chunk](/plugins/commons-chunk-plugin/#explicit-vendor-chunk) explaining how to do this.

@skipjack I noticed a next steps section mentioning lazy-loading and caching. should there be a more robust optimization guide if there isn't one?

[2017-07-06 05:52] NicBright opened #1378 "Plugins - Document WatchIgnorePlugin"
The WatchIgnorePlugin is not documented. Is it deprecated?

[2017-07-06 06:12] skipjack commented on #1378
@sokra @webpack/documentation-team any thoughts? It looks like it hasn't been updated in months but it's a pretty simple plugin so I'd say try it out. There is something in the old documentation [here](https://github.com/webpack/docs/wiki/list-of-plugins#watchignoreplugin).

[2017-07-06 06:15] skipjack commented on #1367
I agree -- we really need 2 layouts: one with the sidebar and one without. This can be used for multiple other pages as well that don't fit into any specific section (rendering the sidebar useless). I'm about to make a meta issue that will detail a high-level plan to address this and a variety of other things.

[2017-07-06 07:00] webpack-bot opened #1379 "Config - output.libraryExport option"
**Do you want to request a *feature* or report a *bug*?**

*feature*

**What is the current behavior?**

There are not enough details in the documentation
[**output.libraryExport**](https://webpack.js.org/configuration/output/#output-libraryexport)

And the section about these options is missing here.
[**webpack options**](https://webpack.js.org/configuration/#options)

**What is the expected beha

[2017-07-06 07:29] skipjack opened #1380 "General - Current Longterm Plan"
### Infrastructure

We either need to finish #980 -- which still needs some work, possibly on the [antwar][1] level -- or port the site to a more stable build tool like [phenomic][2] or [gatsby][3]. Porting the site would also offer a few things, like full HMR, that #980 doesn't address but will require some serious thought. Either way these are the infrastructure issues we need to solve:

- [ ] S

[2017-07-06 07:51] skipjack commented on #1366
I understand your frustration and I see that you were one of the authors of `code-splitting-libraries`. First off, I did credit all the previous authors in the new guide. Second of all, I had meant to ping those authors for review before merging #1338 but forgot -- so for that I apologize. Note that there was a 122-comment-long conversation on that PR prior to merging so you shouldn't think that w

[2017-07-06 07:51] #1366 closed

[2017-07-06 07:52] skipjack commented on #1365
I agree and I think "Contribute" is best as well. I added a TODO in #1380 and will address soon with some other content re-organization.

[2017-07-06 07:52] #1365 closed

[2017-07-06 07:53] skipjack commented on #1367
Noted this in #1380 -- will work on addressing this as soon as possible. It would be made a bit easier by a port but I have a rough idea on how we might achieve this sooner than that as well.

[2017-07-06 07:53] #1367 closed

[2017-07-06 07:55] skipjack commented on #1360
Let's track on opencollective/opencollective#364 for now as I believe there is some issue with that account on their end. If it does turn out to be something on ours I'm happy to re-open this and address it.

[2017-07-06 07:55] #1360 closed

[2017-07-06 07:59] skipjack commented on #877
Closing in favor of #1380 -- I think a port or major antwar update like #980 may address this.

[2017-07-06 07:59] #877 closed

[2017-07-06 08:00] skipjack commented on #720
Closing as I added this to the list of TODOs in #1380 -- will either be addressed by #980 or a port.

[2017-07-06 08:00] #720 closed

[2017-07-06 08:02] skipjack commented on #1070
Noted in #1380 -- let's track there.

[2017-07-06 08:02] #1070 closed

[2017-07-06 08:04] skipjack commented on #793
Noted in #1380 -- let's track there. There's already some easy things we can do in terms of the order our checks are run I think.

[2017-07-06 08:04] #793 closed

[2017-07-06 08:07] skipjack commented on #176
Noted in #1380 -- let's track there as this has been stagnant and will probably be more of a long term thing.

[2017-07-06 08:07] #176 closed

[2017-07-06 08:13] skipjack commented on #1085
Either a port or #980 should solve this -- let's track in #1380 though I did link back here so we can reference the screenshots and @rouzbeh84's idea. We can always re-open if it would be helpful once we start a fix.

[2017-07-06 08:13] #1085 closed

[2017-07-06 08:19] skipjack commented on #1258
@TheDutchCoder I may pick up the _Caching_ guide if we don't hear back from @jakearchibald soon as it's been a high priority with #652 and I think the updates would resolve @rafde's issues from #1366 (specifically highlighting of vendor splitting). I'll review your and @rouzbeh84's open PRs later today.

[2017-07-06 08:23] jakearchibald commented on #1258
Go for it, I'm bogged down with other stuff right now.

[2017-07-06 08:26] skipjack commented on #1380
Ok... I know some might be saying "woah" with all these issues closed but, as mentioned above I'd like the focus to be finishing the high-priority content issues and then pushing much of this forward. Also many of the issues I closed relate to similar build-process updates whether it be #980 or a port.

I did leave some of the more active threads open like #438 and #469 open... and once work has b

[2017-07-06 08:31] skipjack commented on #1258
Ok I will at least ping you for reviews if that's alright. Your comments on #1338 were very helpful.

[2017-07-06 08:33] jakearchibald commented on #1258
Sure, happy to review! Sorry I couldn't have contributed more.

[2017-07-06 14:51] kentcdodds commented on #1318
Unfortunately, my experience hadn't been what I expected. Upgrading to v3 increased my bundles by a few KB and adding the new plugin didn't change anything with the size. I expect that I've got something wrong, but I don't have time right now to figure out what or document the feature 😞

[2017-07-06 19:46] TheDutchCoder commented on #1258
Also: we should update our guides examples to use webpack 3, as it will be installed on an `npm install` in the [examples](https://github.com/TheDutchCoder/webpack-guides-code-examples/issues/16) (hope it's okay to link to that)

[2017-07-06 20:26] TheLarkInn commented on #1318
So from the users standpoint, not much will change for them.

I think there are two or three things to touch on.

* Turn it on with a plugin `new webpack.optimize.ModuleConcatenationPlugin()`, it is slower so use it in Production env's only.
* There are a few scenarios that webpack will "bail out" of these optimizations. They can be seen using the `--display-optimization-bailout` flag from CLI. Th

[2017-07-06 20:33] kentcdodds commented on #1318
Weird, I was under the impression that it would be both 🤔

[2017-07-06 20:39] TheLarkInn commented on #1318
In theory the overhead of fn calls would be stripped, you get a 1-10k win, but the real thing we want people to focus on is the real cost of all the functions which is the execution time.

I've just see a lot of people with radical expectations of cutting bundle size in half when really only 2% is module wrappers

[2017-07-06 20:40] TheLarkInn commented on #1318
And fwiw caps weren't focused at you Ken, just to emphasize that as a point I want explained in the clearest way possible lol. 😂

[2017-07-06 20:44] sokra commented on #1268
You can replace it with the following function:

[code]

[2017-07-06 22:21] montogeek commented on #1380
I could help with the site issues, I have fixed some errors from antwar in the past and also improved a few pages.

[2017-07-07 00:34] thescientist13 commented on #1380
Just saw @TheLarkInn 's tweet, and just wanted to drop a line to say I would love to help out!

[2017-07-07 00:41] probablyup commented on #1380
Gatsby I think would be a great choice for a different SSG. It addresses several of the items on your checklist simultaneously! https://github.com/gatsbyjs/gatsby/releases/tag/v1.0.1

[2017-07-07 01:11] shaodahong commented on #1380
Yes, there should be a more concise page, a more readable document and a smoother experience

[2017-07-07 01:24] tanyagray commented on #1380
Would be interested in helping with this. Haven't been a contributor before so not sure how the time demands would work out. My background is in teaching and in writing training materials for teaching programming in schools, so would offer a keen eye for how docs are interpreted by beginner devs.

[2017-07-07 01:26] ev1stensberg commented on #1380
For anyone interested in contributing with the CLI, I'm willing to help anyone out on the webpack-cli and how that works. Do you want a summary of plans here or on slack @skipjack ?

[2017-07-07 01:34] rafde commented on #1366
Bringing in the gitter discussions has no context. That's why I made this issue, so I am going to focus why I made this issue.

One of the things I noticed people complain about webpack is about documentation.

So when I saw the changes I thought to myself: There goes one of the most looked at [webpack question on stackoverflow](https://stackoverflow.com/questions/tagged/webpack?sort=votes&pageSiz

[2017-07-07 02:10] shaodahong opened #1384 "Plugins - Add HashedModuleIdsPlugin and NamedModulesPlugin"
[Plugins](https://webpack.js.org/plugins/) page I didn't see the introduction of `HashedModuleIdsPlugin` or `NamedModulesPlugin`. But [deterministic-hashes](https://webpack.js.org/guides/caching/#deterministic-hashes) is mentioned. Whether you need to create a new session or page

[2017-07-07 02:39] shaodahong opened #1385 "Guides - Add Image or Analyze Link to Code Splitting"
Code Splitting page example is already very good, but do we need a more intuitive view to help us understand?

We use [webpack-bundle-analyzer](https://github.com/th0r/webpack-bundle-analyzer) to help us more intuitively

Use it we can get such a view：
![wx20170707-103804](https://user-images.githubusercontent.com/14831261/27940934-66b57d92-6300-11e7-8c41-117d51649d08.png)

[2017-07-07 02:40] pspeter3 commented on #1380
Are you looking for individual contributions at all? I'd be interested in helping with TypeScript + Webpack.

[2017-07-07 02:46] TheLarkInn commented on #1380
@tanyagray I think you would bring considerable value for "Review, organize, and define clear goals for concepts section" if you'd be willing to tackle that with me. If so break that into a separate issue and tag me, and then we can audit together that entire content section.

[2017-07-07 02:54] tanyagray opened #1386 "Concepts - Review, Organize, Define Clear Goals"
The content of the Concepts section needs to be reviewed for the following:

- Overall goals and target audience of the concepts section
- Organisation and structure of key concept areas
- Content - anything missing?

[2017-07-07 03:22] futagoza commented on #1367
@skipjack thanks

[2017-07-07 03:43] sushant-j commented on #1380
Hi, came here after reading tweet by @TheLarkin.. I would like to contribute but not sure how much can I help as a beginner myself.
I can think of contributing to sections which might be difficult for someone starting out, as I sometimes felt.
Thanks :)

[2017-07-07 07:37] ChrisChinchilla commented on #1380
I can help with the docs, been looking for a decent open source project to put some time into.

I am a full time technical writer and blogger, and also give presentations to developers about better writing.

This is my site - gregariousmammal.com
And LinkedIn - www.linkedin.com/in/chrischinchilla

Current experience a little out of date, but the past few months I've been helping out with here, Pag

[2017-07-07 07:52] simon04 opened #1388 "Release - Document Version 3.1.0"
Document changes according to https://github.com/webpack/webpack/releases/tag/v3.1.0

- [x] Allow different library names for UMD
- [x] Support for passing a defined identifier as this in a IIFE
- [x] Use the new resolve performance option cacheWithContext: false by default when it's safe
- [x] Support array of functions as configuration
- [ ] add sortModules to Chunk which is required in extract-

[2017-07-07 08:11] simon04 commented on #1388
See https://github.com/webpack/webpack/pull/5225. We do not have an API doc for the `Chunk` class. The immediate effect of this is a bugfix. Nothing to be done for this item?

[2017-07-07 08:13] simon04 commented on #1388
The PR https://github.com/webpack/webpack/pull/5076 classifies this a bugfix. So we can skip a documentation update?

[2017-07-07 11:31] GemmaStiles commented on #1380
Hey, I saw the tweet from @TheLarkInn so thought I would drop in and say hello and put my hand up.

I haven't contributed to any open source projects before, but I do love well written docs and consider myself a very detail orientated person.

[2017-07-07 12:00] ematipico commented on #1380
I follow up by giving my greetings! I'd like to contribute as well, it's been years that I use webpack on production projects, also enterprise level; and I am specialized in it.

I'd like to spend some time to help to create and fix some documentation :)

Thanks!

[2017-07-07 12:39] FabioAntunes commented on #1380
Just saw @TheLarkInn tweet, I would love to help. Recently I had to teach PHP developers about all this new front end eco system

[2017-07-07 13:40] aendrew commented on #1380
Hi! I also noticed @TheLarkInn's tweet. I wrote [a book](https://www.amazon.co.uk/D3-js-4-x-Data-Visualization-Third-ebook/dp/B01MG90SSJ/ref=sr_1_1?ie=UTF8&qid=1499434680&sr=8-1&keywords=rininsland) that involved a fair bit of Webpack config and I'd love to give back by helping out however I can — happy to do writing, editing or any of the site-related stuff (I have experience with both Phenomic a

[2017-07-07 14:44] sbaidon commented on #1380
Hi! I also saw @TheLarkInn tweet. I have been wanting to contribute to open source and I think this is a great opportunity. I also consider myself a beginner so I don't know if I could be of much help. I am thinking I could help out with translations to spanish if that is in the plans.

Thanks!!

[2017-07-07 15:28] arecvlohe opened #1394 "Guides - Minimal Quick Setup Guides for All Frameworks"
In talking with @TheLarkInn the other night I proposed the idea of creating minimal quick setup guides for all frameworks. I mostly work with React so that is where I would start. The quick setup guides would consist of a folder structure, necessary npm modules, a minimal webpack configuration, and a recommended command in package.json. Below is an example of a quick setup guide for React.

# Quic

[2017-07-07 15:29] hulkish opened #1395 "pre-pwa: refactor naming convention for react components"
So, I've been talking to @TheLarkInn regarding converting webpack.js.org to be a PWA. So, this is the first of a few tasks I'm creating to lay out a plan towards that direction.

Measuring by the [current usage of react](https://github.com/webpack/webpack.js.org/tree/master/components); I'd like to refactor the naming convention of the components to use Pascal case.

For example, this is the curre

[2017-07-07 15:32] hulkish opened #1396 "pre-pwa: refactor structure of app-specific code to live in src dir"
Currently, all app & non-app code lives alongside each other in the base of the repo.

Id like this to change this so that all app code lives in a `src` dir.

For example: `components/` => `src/components`

[2017-07-07 15:38] hulkish opened #1397 "pwa: Add jest & create snapshot tests for existing components"
description TBD

[2017-07-07 15:41] hulkish opened #1398 "pwa: add workbox-webpack-plugin"
As described here: https://workboxjs.org/reference-docs/latest/module-workbox-webpack-plugin.html

[2017-07-07 16:22] geoffdavis92 commented on #1380
@TheLarkInn @skipjack I commented on twitter that I'd be interested in reviewing content. Though I would be better suited for site updates if those are in the pipeline.

[2017-07-07 17:27] TheLarkInn commented on #1394
I really like this idea and really opens the gates for lots of fw experts to chime in, could you imagine this as a subsection of /guides/

(Some info arch should be done to ensure that wherever we add this, that we do so in a place that's easy and accessible) cc @skipjack

[2017-07-07 18:47] kentcdodds commented on #1318
Yeah, I've been surprised by all the tweets I've seen of people saying that it's cut the size of their bundles by a significant amount (like 30% or whatever). So you can imagine my disappointment when I saw that my bundle size actually went _up_. That was unexpected. I anticipated a slight decrease in size (like say, 2%? :wink:). Still need to test runtime things out though...

[2017-07-07 19:21] CrispyCB commented on #1380
@TheLarkInn I was linked this tweet via the Write The Docs slack channel. I don't have discreet technical writing experience, but I've done user guides for everything from PCB manufacture to product testing, so I'd love to help if I'm able.

[2017-07-07 20:47] JessRudder commented on #1380
Saw the tweet from @TheLarkInn.  I've been looking for an open source project to get involved in more long term and this looks quite promising!  I'm a web developer happy to help write/review docs, work on site issues and/or anything else that would be considered useful.

[2017-07-07 20:53] dakebl commented on #1380
Hey all, I saw the tweet that @TheLarkInn posted and thought I'd say hello. I'd be happy to help out with the curation effort if you'd like? I have a fair amount of experience in technical documentation from my day job :D

[2017-07-07 21:08] mtrivera commented on #1380
Hello everyone, I saw the tweet from @TheLarkInn and I'm interested in this project. I contributed to a guide on using Joomla! for administrators.

[2017-07-07 22:59] suhasdeshpande commented on #1380
As everyone else, I am coming here thanks to @TheLarkInn tweet. I am interested in helping out anyway I can.

[2017-07-07 23:13] ev1stensberg commented on #1380
One thing we need is a PWA guide along with a `webpack-addons-pwa`. I've spoken a bit with @addyosmani and @TheLarkInn. What I can help you with are: How to create an `webpack-addon` and what the `PWA addon` should look like (programatically), and lastly what the PWA guide should look like.

We need help on webpack-cli, what I can help and guide you with is as follows (pick one that excites you! :

[2017-07-08 00:11] thescientist13 commented on #1380
@ev1stensberg
I would be up for working on a PWA guide.  Are you saying that the work there would overlap with contributions **webpack-cli** too?   ( I only ask because working on the CLI sounds pretty rad and so a 2-for-1 would be 🎆 )

[2017-07-08 01:25] JessRudder commented on #1380
@ev1stensberg I'd love to work on creating the PWA add-on (I'm assuming that's Progressive Web App, let me know if I've assumed wrong).  Would creating a guide be part of that or would someone else be working on the guide while I work on the add-on?

[2017-07-08 13:05] ematipico commented on #1380
@ev1stensberg I haven't used the webpack CLI so far but I would like to give you some help on that front. I like to deep dive inside the code and give my time as much as I can. I can also help with some documentation, just let me know how I can contribute :)

[2017-07-08 14:05] skipjack commented on #1380
Wow, thanks to @TheLarkInn for tweeting this out, and thanks to everyone who has volunteered! See the details below and please comment on what you're interested in. Here's what we have and the spots we need to fill...

### Review, organize, and define clear goals for Concepts (#1386)

Sean can speak more to this than I can but essentially these are an alternate starting point to _Guides_ to get a

[2017-07-08 14:41] ev1stensberg commented on #1380
@thescientist13 @JessRudder @ematipico

Could you all send me an email? Address is in my bio or package.json 👍

[2017-07-08 14:42] skipjack commented on #1380
@ChrisChinchilla @dakebl seeing as you both have technical writing experience, it would be great if you could grab a section but also help review PRs in general.

@pspeter3 sure we'd be happy to have you improve anything you have time for. If you wanted to submit a PR with improvements to the Typescript guide that would be great! Let's discuss in #1258.

@geoffdavis92 sure will keep that in mind -

[2017-07-08 14:46] leggsimon commented on #1380
👋 Hi, I'm Simon, I work at Financial Times. Here from Sean's tweet as well.

Not sure how much I'll be able to help with the docs but over the last month or so I went from zero knowledge of webpack to having to upgrade all of our stuff to v2. As someone who came in fresh maybe I could help with having a bit simpler descriptions of how things work/what properties do to make it more accessible to we

[2017-07-08 14:51] montogeek commented on #1380
@skipjack I am up to it, how we choose between both solutions?

[2017-07-08 15:04] probablyup commented on #1380
I'd definitely be up for rebuilding the existing site via Gatsby! Just let
me know when you'd want that effort to start and I'll start cookin'.
On Sat, Jul 8, 2017 at 10:51 AM Fernando Montoya <notifications@github.com>
wrote:

[2017-07-08 15:04] skipjack commented on #1380
@leggsimon sure is there a specific section you'd be interested in?

[2017-07-08 15:12] skipjack commented on #1380
@montogeek there's a few things we'll need out of whatever generator we pick. Seeing as gatsby's the most popular and stable, if it hits the points we need then we should probably go that direction. Here's what we need to ensure is doable:

- Markdown customizations (webpack-contrib/webpack-defaults#72)
- Get all page metadata in some data structure that we can use for creating navigations
- Optim

[2017-07-08 15:16] probablyup commented on #1380
React -> Preact is definitely no problem.

I'll have to look over the documentation a bit more re: metadata. It would
surprise me if that wasn't already built in.

The link for the markdown customization comment looks unrelated?
On Sat, Jul 8, 2017 at 11:12 AM Greg Venech <notifications@github.com>
wrote:

[2017-07-08 15:23] skipjack commented on #1395
@hulkish saw your slack message, but didn't get a chance to reply as I've been sick the last few days -- would you mind merging these four issues to one meta issue with a checklist with the four points? We can then link PRs within the checklist and mark things done as they are completed. Also, as mentioned on #1380, I would really like the issues to be mostly content-related.

Re the proposed nami

[2017-07-08 15:26] skipjack commented on #1395
Also we should make sure we stay in sync as we port the site -- I'm not sure if switching to gatsby or phenomic tackles or conflicts with certain parts of this.

[2017-07-08 15:32] hulkish commented on #1395
@slipjack i dont think switching to gatsy or phenomic will conflict with what i have in mind - since i am primarily focused on the react + webpack.config.js areas of the app.

Regarding the naming convention pwa dependency question.. It doesn't necessarily need to be so in order to convert to a PWA - but I figure it's a change made much easier before the actual conversion.

[2017-07-08 15:35] leggsimon commented on #1380
@skipjack Certainly one of the things that I had a lot of trouble with was module resolutions with bower_components & node_modules and defining how they're resolved. So maybe that?

[2017-07-08 15:49] Dean-Coakley commented on #1395
I'd like to PR this but I'm not so knowledgeable to be honest.

It should be very simple, right?

[2017-07-08 15:55] hulkish commented on #1395
@Dean-Coakley Yea, it's pretty straight forward.. just be sure to update the import paths with the changes as well. Ex:
[code]

[2017-07-08 15:59] mrmartineau commented on #1394
@arecvlohe, @TheLarkInn mentioned this thread on Gitter just now. I recently created a new repo with common recipes for different webpack configs. It is unfinished and needs improving but I think it might become an invaluable resource for webpack devs: https://github.com/mrmartineau/webpack-recipes

Would love to hear your thoughts.

[2017-07-08 16:13] TheLarkInn commented on #1394
Here is my two cents:

People's primary use cases are:
1. Use webpack with xyz lib/fw.
2. Learn how to use style, html, etc. other features integrations w/ those libs/fw's etc.

So I think there's a good opportunity to take the the content like @mrmartineau and provide it in a case by case, and supplimental to part-1 basis.

[2017-07-08 16:37] Dean-Coakley commented on #1395
@hulkish navigation-bar -> NavigationBar ?

[2017-07-08 16:38] hulkish commented on #1395
`NavigationBar`

[2017-07-08 17:13] Dean-Coakley commented on #1395
@hulkish Sorry for more questions but:
Would I be correct in saying:

`import Sidebar from '../Sidebar/Sidebar';` will import the `.jsx`
and `import '../Sidebar/Sidebar';` will import the `.scss` ?

Secondly, `Organization/projects.json` and `Support/support-additional.json` should not be renamed.

[2017-07-08 17:15] hulkish commented on #1395
yes for jsx(an assumed extension). No for scss (not an assumed extension)

[2017-07-08 17:52] montogeek commented on #1380
@probablyup Maybe this one: https://github.com/webpack-contrib/webpack-defaults/issues/73

[2017-07-08 17:57] mtrivera commented on #1258
I could work on the Typescript guide

[2017-07-08 19:14] arecvlohe commented on #1394
Yes, I had the same idea. How to create a general setup with React, then React w/React-Router, so on and so forth so long as webpack is integral to the general setup. Then we can have one-offs that work for any setup and whose configuration remains relatively the same, like for CSS modules for example.

[2017-07-08 19:19] arecvlohe commented on #1394
@mrmartineau It looks like we are on the same page. I am somewhat familiar with Elm and JS so I think I would be able to create a React, Elm, Choo, CycleJS, Elm setups relatively quickly. This is kind of nice too since people may want to try out these different frameworks but just want to get something up and going as a proof of concept and not be bogged down with configuration or spend time figur

[2017-07-08 19:23] arecvlohe commented on #1394
I think were I have had the most issues are with code splitting with React, RRv4, and HMR. I have seen a bunch of blogs but found I was running into some dead ends trying to get them all working together. Some setups I saw were crazy complicated, at least in my view, so I didn't want to use it without really understanding how it works. Another good example but one that is a bit more complicated is

[2017-07-08 20:17] Jorybraun commented on #1380
Ok, I've never contributed to any open source library before could anyone pick a good ticket for me to dedicate my Sunday towards.

[2017-07-08 20:26] TheLarkInn commented on #1380
@jorybraun et al: i'm going to try and spend 30 minutes today and make a list that might be great for "My first PR"

[2017-07-08 20:27] Jorybraun commented on #1380
@TheLarkInn : I was thinking about this : but its a big job https://github.com/webpack/webpack.js.org/issues/1397

[2017-07-08 20:30] TheLarkInn commented on #1380
That would be incredible. I'll tag you there and we can discuss breaking it down into measurable smaller pieces.

[2017-07-08 20:34] TheLarkInn commented on #1397
Hey @hulkish, @jorybraun is a first time contributor to FOSS and expressed some desire to tackle (a part of) this.

This is a really larger task but I think there's more than enough incremental issues we could break this down into?

Personally my jest experience is pretty limited so I'll yield to both of your expertise into determining the right way to separate the work out.

Thoughts? Discuss awa

[2017-07-08 20:36] hulkish commented on #1397
I think it could be convenient if @Jorybraun and i could share the same fork and pr for this. I'll setup the tooling and create the first few tests as a direction?

[2017-07-08 20:41] Jorybraun commented on #1397
Yes that sounds great!

I have spent the last month creating snapshot tests for Vue components at work, but there isn't a senior frontend dev currently to provide feedback. So I think this is a great opportunity for growth :).

[2017-07-08 20:57] hulkish commented on #1397
Ok cool. So, just as a heads up I really just have in mind to create very simple snapshot tests. Explained here https://facebook.github.io/jest/docs/snapshot-testing.html

[2017-07-08 21:06] Jorybraun commented on #1397
ok @hulkish sounds great!

So you'll be creating the fork, will we create a test directory or should we create folders and keep the tests with their relative components?

[2017-07-08 21:09] hulkish commented on #1397
Yep.

[2017-07-08 21:10] Jorybraun commented on #1397
I guess ill wait and see 💯

[2017-07-08 21:11] hulkish commented on #1397
It will be a couple hours, going to see if i can time it so that it comes after https://github.com/webpack/webpack.js.org/issues/1397

[2017-07-08 21:12] Jorybraun commented on #1397
Great, I will most likely be starting on it tonight or tomorrow, so no rush 👍

[2017-07-08 21:17] mrmartineau commented on #1394
@arecvlohe I had actually never thought about providing recipes for framework/library-based configs but I can see how it would be useful. I am keen to help and improve this resource in whatever way possible. Let me know how you'd like to proceed.

[2017-07-08 21:36] hulkish opened #1400 "Convert to PWA (checklist)"
- [ ] 1. [Refactor naming convention for react components](#refactor-naming-convention-for-react-components)
- [ ] 2. [Refactor structure of app specific code to live in src dir](#refactor-structure-of-app-specific-code-to-live-in-src-dir)
- [ ] 3. [Add Jest & create snapshot tests for react components](#add-jest-create-snapshot-tests-for-react-components)
- [ ] 4. [Add workbox-webpack-plugin for

[2017-07-08 21:37] hulkish commented on #1395
moving this to https://github.com/webpack/webpack.js.org/issues/1400

[2017-07-08 21:37] #1395 closed

[2017-07-08 21:37] hulkish commented on #1396
moving this to https://github.com/webpack/webpack.js.org/issues/1400

[2017-07-08 21:37] #1396 closed

[2017-07-08 21:37] hulkish commented on #1397
moving this to https://github.com/webpack/webpack.js.org/issues/1400

[2017-07-08 21:37] #1397 closed

[2017-07-08 21:37] hulkish commented on #1398
moving this to https://github.com/webpack/webpack.js.org/issues/1400

[2017-07-08 21:37] #1398 closed

[2017-07-08 22:21] skipjack commented on #1394
This is something that we've @bebraw and I have discussed with others a few times -- and previously some framework-specific discussion slipped into the current and previous guides. While I understand that it sounds like good idea, I feel pretty strongly about not including these, or at least not within this site, for the following reasons:

- This increases the scope of the docs significantly just

[2017-07-08 22:41] skipjack commented on #1380
@probablyup yep my bad -- the one @montogeek provided is correct (webpack-contrib/webpack-defaults#73) and I updated my comment.

@leggsimon sure is there a particular issue or section of the docs you were thinking about addressing in relation to module resolution? Maybe a review of [the configuration page](https://webpack.js.org/configuration/resolve/#resolve) would be a good start?

[2017-07-08 22:43] skipjack commented on #1258
@TheDutchCoder for sure... note that I did add a warning to the index page noting that the output may not always be exactly the same in #1364.

[2017-07-08 22:56] skipjack commented on #1258
@mtrivera that would be great, thanks for jumping over here. Please use the other guides we've finished so far as a baseline -- maybe you can extend off of one of the first ones and show how it needs to be tweaked to allow typescript?

Also, this gives me a good excuse to clearly define the goal for our guides (as discussed in #1380). Here goes, and I'll probably add these short statements to the

[2017-07-08 23:05] hulkish commented on #469
something like this could be a cool alternative to mermaid: https://www.jointjs.com/

[2017-07-09 01:10] Dean-Coakley commented on #1400
Hoping to have a PR ready for Components naming convention refactor within 24 hours. (Depending on how my testing goes)

Should WebP be used for image optimization? (Whenever that is to be done) How would that work when new images are added when a new sponsor is added, etc?
E.g Could that optimization be automated, or would we just force it to be done manually?

[2017-07-09 09:10] mrmartineau commented on #1394
@skipjack FWIW, I am going to continue creating updating my repo, so if that's the only place it exists, then so be it. In my opinion, blog posts aren't the right place for this kind of information because I find that they can't be relied upon and go stale quickly. With a repo, you can see when everything has been updated etc.

[2017-07-09 11:27] Jorybraun commented on #1400
@hulkish how is going?

[2017-07-09 12:08] skipjack commented on #1394
@mrmartineau yeah I actually like your repo idea too, definitely could work better than a blog post -- that's something we can link to within our guides as well. We may actually have some kind of follow along repo to go along with our guides at some point. Didn't mean to say blog posts were the only way, my main point is that it should be externalized for the reasons I listed above.

We already ha

[2017-07-09 18:16] hulkish commented on #1400
@Jorybraun Here you go:

- I've given you collaborator access to my fork: https://github.com/hulkish/webpack.js.org
- branch: `pwa-add-component-tests`
- I've added 1 test as an example, in `test/Dropdown.test.js`

[2017-07-10 00:01] Jorybraun commented on #1400
Perfect,

I will get started tonight.

[2017-07-10 13:03] TheDutchCoder commented on #1258
👍  Sounds great to me! Thanks!

[2017-07-10 14:58] arecvlohe commented on #1394
Yeah, I think I will work on a repo as well to show how to do basic setups with webpack. IMHO without having such basic examples in the webpack docs, I think using webpack will continue to be a frustrating experience for many users, especially those just starting out.

[2017-07-10 15:40] skipjack commented on #1394
@arecvlohe you think having them in the site vs. linked to really makes that big of a difference? For an example see the [bottom of the HMR guide](https://webpack.js.org/guides/hot-module-replacement/#other-code-and-frameworks). Another external example aside from the ones linked there is this react-specific [code splitting guide](https://reacttraining.com/react-router/web/guides/code-splitting) t

[2017-07-10 16:36] arecvlohe commented on #1394
@skipjack I don't think you are overreacting, I just think we are coming from two different perspectives. You, rightfully, want to focus on more on the greater goal. I am more focused on reducing the barrier of entry to getting started with webpack for new users. We can agree to disagree on how to achieve that and that's fine too.

And from my perspective, the guides that are referenced don't easi

[2017-07-10 16:53] TheDutchCoder commented on #1394
If I may chime in here :)

I'm currently working on rewriting some of the "beginners" guides and at the same time I'm working on a repo of examples that go with the guides as "starting points" and to help people learn how webpack works.

I think the proposal @arecvlohe made is very much in with this approach as well.

A lot of people will get familiar with webpack through a fw, like React, so in m

[2017-07-10 20:32] fokusferit commented on #1380
@ev1stensberg thanks to @TheLarkInn 's tweet and Lauri Apple's discussion I came across this. I'd be interested in the CLI topic from a long-term perspective. Also trying to get a second developer here from Zalando who is also interested.

Regarding short term, I'm seeing already some help-wanted tags but not sure if they are a good starting point or already bigger topics ? I've also found an inte

[2017-07-10 21:42] ev1stensberg commented on #1380
Hi @fokusferit , sweet! I don't have any participation in the short terms you mentioned, but I'm happy to help you with webpack-cli and getting you started there. As slightly mentioned @ematipico is also working with the CLI now.

If you're available, I can have a hangouts with you and Emanuel to walk you through the codebase?

If anyone else is interested in figuring out the internals of the CLI,

[2017-07-10 21:51] skipjack commented on #1394
@arecvlohe so did you struggle with the latest _Getting Started_ guide (after @TheDutchCoder and I revised it)? It seems like you're mainly referring to having variations of _Getting Started_ that guide. Currently there are no reference links to framework specific setups there but we could easily add a section that links to repos/articles that do.

@TheDutchCoder there's a big difference between "

[2017-07-10 21:51] marioacc commented on #1258
I can work in the Authoring Libraries section, I would be pleased to. 👍

[2017-07-10 21:51] sbaidon commented on #1258
I would like to help on the Hot Module Replacement Guide, if that is being simplified as well

[2017-07-10 22:00] skipjack commented on #1380
@fokusferit if you could help pick up some of the `help-wanted` tickets that would be awesome. It seems we already have a few volunteers over at #1258 but if there's one you'd really like to tackle feel free to comment.

[2017-07-10 22:02] skipjack commented on #1258
@marioacc _Authoring Libraries_ is all yours. That one's a great choice because it's somewhat decoupled from the rest.

[2017-07-10 22:03] skipjack commented on #1258
@sbaidon I gave you _Hot Module Replacement_ but you may want to wait until @TheDutchCoder finishes _Development_ as HMR is a logical follow up. I think you two can sync up re that.

[2017-07-10 22:15] skipjack commented on #1385
Hmmm I think we would be open to PR that mentions the webpack-bundle-analyzer or one of the other similar tools... are you suggesting adding an image to the guide?

[2017-07-10 22:17] skipjack commented on #1384
Would you be interested in submitting a PR to add documentation for these?

[2017-07-10 22:36] arecvlohe commented on #1394
@skipjack I think I would have struggled more had I not found a good resource to create a basic setup. As you mentioned, I remember there was a doc on getting setup with React and then a few months later it was gone. That was really helpful and at the time I thought it was strange that it was taken out. I then had to keep referencing http://www.pro-react.com/materials/appendixA/ just to get a proj

[2017-07-10 22:43] skipjack commented on #1394
We had a _Lazy Load - React_ which may be what you're referring to. I guess I'm ok with a _Common Frameworks_ section as long as it mainly provides variations on _Getting Started_ if people are up for maintaining it. I think the key with all these guides _is not to reiterate things in previous ones_ (i.e. state a goal, use a pre-requisite guide if necessary, and stick to that goal) and _not try to

[2017-07-10 22:55] TheDutchCoder commented on #1258
👍

Working on that as we speak, I should be able to open a PR for that sooner rather than later. It will still cover pretty much everything in the current guide, just rewritten and with some additions.

So if you want to start, you probably can be reading through the current `Development` guide to see what's covered.

[2017-07-10 22:58] sbaidon commented on #1258
Thanks @skipjack!

@TheDutchCoder, what works best for you to stay in touch?

[2017-07-10 22:59] TheDutchCoder commented on #1258
@sbaidon good question, so far I've been communicating through GitHub, but I assume there's a Slack channel we could join?

cc @skipjack ?

[2017-07-10 23:03] TheDutchCoder commented on #1394
@skipjack yeah it's a tough one.

One the one hand I'm all for giving starting points to people, on the other I see your concern re the asks for different frameworks.

The more I think about it, the more I lean towards not adding this in, because practically all topics are covered in the guides themselves (dev-server, config, npm scripts, index.html, etc). Maybe not in `Getting Started` alone, but

[2017-07-11 00:27] shaodahong commented on #1385
@skipjack Yes, this will be better to see the  Code Splitting

[2017-07-11 01:29] shaodahong commented on #1384
@skipjack PR in https://github.com/webpack/webpack.js.org/pull/1392

[2017-07-11 01:56] TheDutchCoder opened #1406 "Writersguide: error on install instructions"
Following the instructions in the [`writer's guide`](https://webpack.js.org/writers-guide/#running-the-site) results in an error when running `npm start` after `npm install`.

Reading through the errors I see that `scripts/fetch_package_files.js` errors out on the `let` declaration without using `strict mode`.

Changing that makes this part work, but then it fails on `antwar.config.js:230` where a

[2017-07-11 02:21] skipjack commented on #1406
Hmmm I think you may need a newer version of Node.

[2017-07-11 02:23] skipjack commented on #1406
I think 6 and ^ is where they started introducing those ES6 features.

cc @bebraw

[2017-07-11 03:11] TheDutchCoder commented on #1406
Ah that would make sense.

I'll give that a shot and see if it works. If so I'll open a PR to add it into the instructions ;)

[2017-07-11 05:25] TheLarkInn commented on #1386
I'll start with the goals:

I started writing the Concepts section modeled after some of the talks I had done at conferences prior to. It featured talking about key _concepts_ vs configuration properties that I felt people should be aware of.

*GOAL:* Give people a clear super-high level overview of how webpack works by teaching them the 4 main pieces that one might use in their configuration. Thi

[2017-07-11 09:20] fokusferit commented on #1380
@ev1stensberg I will just ping @LeoAref @frontendherodk (hope it works), so we are all interested and up for a Hangout to go through the codebase :) Do you need sth ? Mail ?

@skipjack will go through that, thanks!

[2017-07-11 12:54] TheDutchCoder commented on #1406
Yes that did the trick, thanks!

Will probably open a PR to add to the docs as well ;)

[2017-07-11 12:54] #1406 closed

[2017-07-11 13:16] skipjack commented on #1406
Yeah that's a good idea.

[2017-07-11 14:45] marioacc commented on #1258
@skipjack perfect! I would start working on it ASAP.

[2017-07-11 18:31] ev1stensberg commented on #1380
@fokusferit shoot me an email, and I'll mail you to arrange a date :)

[2017-07-12 01:07] shaodahong opened #1414 "Error: Config did not export an object"
node -v
`v6.11.0`

webpack -v
`3.2.0`

I fork this project, and today to upgrade the global webpack to 3.2.0, but when `webpack -v` output `Config did not export an object`. In other projects is good

[2017-07-12 01:43] tanyagray commented on #1386
@TheLarkInn would you say the Concepts section is targeted at people who possibly have not used a bundler before? If so I have some re-wording suggestions that I'll do PRs for.

[2017-07-12 01:55] TheLarkInn commented on #1386
Yes!! Not only no bundlers, but no understanding of a js module. I picture me circa 2 years ago never seeing module.exports and export default and how grunt just concatenates stuff together.

[2017-07-12 01:56] TheLarkInn commented on #1386
Are you wanting to do in one pass or document issues, then that way we can track it? Take step by step etc.

[2017-07-12 02:35] skipjack commented on #1414
You shouldn't be using the global version of webpack. See the [README](https://github.com/webpack/webpack.js.org/blob/master/README.md) in this repo -- all you need to run the project is `npm install && npm start`. Also -- just an FYI -- this project uses another build tool called antwar in combination with webpack so we don't use the webpack CLI directly to start the dev server or build process.

[2017-07-12 02:35] #1414 closed

[2017-07-12 03:33] LeoAref commented on #1380
@fokusferit @ev1stensberg I'm ready for it 👍

[2017-07-12 03:41] skipjack commented on #1380
@ChrisChinchilla @dakebl I know this thread has gotten a bit noisy but if either or you are still interested please don't hesitate to reach out to me either via gitter or by email.

[2017-07-12 03:46] skipjack commented on #1414
Also, if you were just confused about why we're on an earlier version of webpack, you can see #980 which attempts to fix that problem but is blocked by a few issues atm.

[2017-07-12 04:26] shaodahong commented on #1414
@skipjack I understand the problem, just think when the `webpack -v` such a prompt is very strange

[2017-07-12 06:41] ev1stensberg commented on #1380
Hangouts is next Tuesday 2 - 3 pm or 3 - 4 pm (Berlin-time), I'll post a link here a couple of hours before we start 🎆

[2017-07-12 07:30] MoOx commented on #1380
If you have any question about Phenomic, feel free to poke me. v1 alpha is still early (note: not in term of API stability because we learned from our 0.x ^^) but we would like to help you if possible as we think Phenomic is a perfect fit for webpack.js.org.

[2017-07-12 07:31] frontendherodk commented on #1380
@ev1stensberg Sounds good!

[2017-07-12 08:08] shaodahong commented on #1386
@TheLarkInn Webpack base on module, but if no understanding of module, should be suggust to study module, Is this mean?

[2017-07-12 08:28] tanyagray commented on #1386
Documenting issues is a good idea. Will do.

[2017-07-12 08:41] shaodahong commented on #1394
You can do the same：
# Your First Webpack Project
**Before you start, you should install [Node](https://github.com/nodejs/node)**
[code]
Now your project has a package.json file. It records the information of the project and the dependencies of our installation. Let's install the webpack:
[code]
Webpack and framework collaboration:
- [Webpack and React]()
- [Webpack and Angular]()
- [Webpack and V

[2017-07-12 08:55] tanyagray opened #1416 "Concepts - Introduction page should use less technical language"
The [introduction page](https://webpack.js.org/concepts/) uses language which is likely unfamiliar to someone new to modules and bundling. It also could do with some front-loading of important info in each section.

Some examples of technical language:

- "dependencies" should be initially referred to as "input files and libraries"
- "bundle" should be referred to as "output file"
- the concept of

[2017-07-12 09:31] tanyagray commented on #1379
My understanding of this option is something like "Determines the modules or modules which should be exported as the top level of the exported library." Haven't personally tried it with Array, only string.

eg. When producing `MyLibrary` which exports `MyModule`:
using `libraryExport: 'MyModule'` allows you to write `new MyLibrary()` and have it be equivalent to writing `new MyModule()`

Without t

[2017-07-12 09:43] mbraint commented on #1379
In my case i use this option for resolving this problem:
[**Require Webpack bundle — returns empty object?**](https://stackoverflow.com/questions/38289019/require-webpack-bundle-returns-empty-object/44870068#44870068)

[2017-07-12 12:55] skipjack commented on #1414
Yeah I was wondering that too when I read your comment. If that is still an issue I would create a ticket on the main repo... this one is specifically for docs not bugs.

[2017-07-12 14:10] joshmosh commented on #1300
@skipjack Time keeps getting away from me. I'm currently swamped with preparations for a work trip all next week. If this is something you would like to take ownership of, or hand off I think that's a great idea so I don't keep this sitting. If you're not in a hurry then I am planning on setting aside time after next week (week of July 24th) to get set up and offer some suggestions.

[2017-07-12 15:18] chrisbroome opened #1420 "Which Webpack version is the current documentation for?"
Webpack release [v2.7.0](https://github.com/webpack/webpack/releases/tag/v2.7.0) come out after release [v3.2.0](https://github.com/webpack/webpack/releases/tag/v3.2.0). Consequently the "release version" badge now shows `v2.7.0`.

You can see it here on the left-hand side: https://webpack.js.org/concepts/

So I have 2 questions:
1. Which version of the documentation is actually deployed to [webpa

[2017-07-12 18:50] skipjack commented on #1420
It intends to document the latest (v3.2.0). We need to fix the sidebar.

cc @simon04

We've discussed this (#176, #1017) but need to get some other things in order such as synchronizing releases in some manner with the main repo. Hopefully this will be a thing at some point.

[2017-07-12 18:56] chrisbroome commented on #1420
Awesome. Great to know! Thanks.

[2017-07-13 22:07] skipjack commented on #1300
@joshmosh if I haven't opened a PR by next week please feel free to tackle. I'm running short on time these days as well so any help we can get on this repo is much appreciated. If I do have a chance, I'll drop a comment here when I start so we don't overlap (and you should do the same if you start first).

[2017-07-13 22:24] skipjack commented on #1385
Hmmmm @TheDutchCoder what do you think?

Personally I actually like some other bundle analyzers more and I think maybe keeping it simple within the guide (i.e. not adding any extra images) would be better. However what I do think would be good is linking to some bundle analyzers so people can try them out themselves.

[2017-07-13 23:43] TheDutchCoder commented on #1385
@skipjack I agree. I understand that visuals help, but I feel like the guides will get too cluttered.

It also would be more logical to have images like these in the documentation. The guides are really a "how to" sort of thing.

I also agree that we could link to bundle analyzers, they're very useful.

[2017-07-14 00:40] shaodahong commented on #1385
I think the image helps to understand, so that we clearly see each file contains dependencies, and I also agree that we could link to bundle analyzers, they're very useful.

[2017-07-14 03:01] #1420 closed

[2017-07-14 12:21] #1384 closed

[2017-07-15 14:34] skipjack commented on #1379
@tanyagray @mbraint would either or both of you be interested in working on a PR to add more details to that section of the documentation. My recommendation would be to try to keep it simple but make sure the confusion is addressed.

[2017-07-15 14:37] skipjack commented on #1385
Yea once mermaid, or something similar, is in place (#469) a small graph to illustrate this should be an easy add.

[2017-07-15 14:37] skipjack commented on #1385
I'm going to submit a PR with links to analyzers shortly.

[2017-07-15 16:04] skipjack commented on #1258
@sbaidon just merged #1405 so you should be good to stem off that for _Hot Module Replacement_. By the way, I did rewrite that guide recently so it is in pretty good shape but doesn't go into too much detail or stem from _Development_.

@TheDutchCoder @sbaidon yes there is a slack channel that I think we can get you both invited to. However I'm not too familiar with slack and not sure if I have pe

[2017-07-15 16:06] TheDutchCoder commented on #1258
Gitter/Discord is fine too for me.
I'm already on the Vue.js gitter channel, si I hopped on the webpack one as well. 👍

[2017-07-15 16:10] #1385 closed

[2017-07-15 16:12] skipjack commented on #652
Going to try to tackle this now...

[2017-07-15 21:44] tanyagray commented on #1379
Sure, I could have a crack at it.

[2017-07-16 19:22] TheLarkInn commented on #1386
Awesome I just saw that! It's a a great audit. Do you want to tie it to this one?

[2017-07-17 15:15] sbaidon commented on #1258
Just opened up a PR with the rewrite for `HMR` #1439, tried to change as little as possible, I focused on making the examples consistent with the `Development` guide

[2017-07-18 02:40] sivkun opened #1443 "Guides - Issue in HMR Guide"
I according to the document [hot-module-replacement](https://webpack.js.org/guides/hot-module-replacement/#enabling-hmr).But,the output in chrome console is the name of updaded file,nothing else.

the output info
[code]
if so
[code]
then output
[code]

[2017-07-18 09:43] fokusferit commented on #1380
To everyone who is interested as we have some people also from Zalando interested in the topic:

- We organized the hangout regarding webpack CLI today from 3:30 - 4:30 pm (CEST, Central European Time), you can join us later [this link](https://hangouts.google.com/hangouts/_/zalando.de/webpack-cli) see you soon!

[2017-07-18 09:45] ev1stensberg commented on #1380
This is also a CLI meeting about future plans :)

[2017-07-18 14:53] skipjack commented on #1443
I'm a little confused about what the issue is but you should take a look at #1439 as the guide is currently being rewritten, and I would also make sure you are on the latest version of webpack. I believe in v1, the additional `require` is necessary, however in v2 and v3 I don't think it is (and I have tested this).

[2017-07-19 03:41] skipjack commented on #1443
@sivkun I tested this out again and was not able to reproduce your issue. Please check out TheDutchCoder/webpack-guides-code-examples#18 and provide an example repo to reproduce your issue. If you run the code there you should see the log every time a change is made in `src/library.js` without an additional `require` in the `module.hot` section of `src/index.js`.

I'm pretty sure what you're seein

[2017-07-19 03:41] #1443 closed

[2017-07-20 02:31] sivkun commented on #1443
@skipjack Ifind this if I add babel-loader in webpack.config.js ,the demo  [you provided](TheDutchCoder/webpack-guides-code-examples#18 )   cann't work well。
first
[code]
second ,add this in webpack.config.js
[code]
if so, you can reproduce the issue. I don't konw why.  thank you!

[2017-07-20 03:04] skipjack commented on #1443
Ah I see -- the issue is most likely that you need to tell `babel` not to resolve `modules` and instead let webpack resolve them (e.g. something like `['es2015', { modules: false }]` in your `.babelrc`).

However this isn't really a support channel so you'd probably be better off asking the question on StackOverflow or on webpack gitter channel. The main concern here is that the examples work by d

[2017-07-20 03:06] skipjack commented on #1443
Just to be clear, webpack 2 and 3 understand ES2015 module syntax so using babel to resolve modules can cause various issues like the one you're seeing.

[2017-07-20 04:12] sivkun commented on #1443
Ah I see，I will have a try .Thank you very much!

[2017-07-20 09:36] ChrisChinchilla commented on #1380
@skipjack @dakebl I completely missed notifications on this post, but still keen and happy to coordinate a meeting. I am in CEST.

[2017-07-20 21:55] skipjack commented on #1380
@ChrisChinchilla yeah are you on Gitter? @dakebl you? We could set up a little room there to discuss at first or just talk in the webpack/docs room.

[2017-07-20 21:57] skipjack commented on #1380
@MoOx will do, thanks for the offer! I think what I'll do is close this issue out once we finish finding content writers and open a separate issue specific to development work. I'll make sure to cc you.

[2017-07-21 02:02] skipjack commented on #1318
@TheLarkInn ok so `--display-optimization-bailout` is already documented in [cli doc](https://webpack.js.org/api/cli/#stats-options). I feel like points 1 and 3 can basically both be discussed in `ModuleConcatenationPlugin` page within `/plugins`:

And maybe mentioned in `/guides/production`? Maybe this issue should be closed and we should open a more targeted issue that just discusses documenting

[2017-07-21 02:25] skipjack commented on #126
Found the old docs for this:

https://github.com/webpack/docs/wiki/list-of-plugins#prefetchplugin

Submitting a PR for this and #1378 momentarily. I reworded the old docs a bit to fix some grammar but if anyone has ideas on how to elaborate please comment on the PR. All in all this plugin actually seems to be pretty straightforward (though maybe I'm missing something).

[2017-07-21 02:37] skipjack commented on #652
@jouni-kantola so I think I've pretty much covered everything in #1436. I didn't mention `webpack-chunk-hash` within the guide as it seems we can use `[chunkhash]` within `chunkFilename` without any extra plugins in webpack 3. Could you remind me why that plugin was/is necessary?

[2017-07-21 07:21] ChrisChinchilla commented on #1380
@skipjack @dakebl I am now…

[2017-07-21 16:27] jouni-kantola commented on #652
@skipjack: When I was testing the hashes were more consistent with the extra hashing plugins. However after a while I've seen this resulting in runtime errors. Better to leave the hashing only to webpack's substitutions.

[2017-07-24 03:26] #652 closed

[2017-07-24 13:02] #126 closed

[2017-07-24 13:02] #1378 closed

[2017-07-24 21:56] skipjack commented on #652
@jouni-kantola yeah I agree -- I think the simpler we can keep that guide the better. That's why I started from scratch with TheDutchCoder/webpack-guides-code-examples#17 and tried to only use the plugins that seemed necessary while testing. I think if any issues arise with the current guide we should first try to reproduce them in the examples repo, and then decide if it's a common enough issue t

[2017-07-24 22:48] skipjack commented on #1380
Ok I'm going to close this out this weekend and open a dev-specific issue/checklist in its place (as I mentioned above). If anyone is still interested in contributing but hasn't found a section or issue, please don't hesitate to ping me. What we be great is if we could find one or two people to lead the content work on the `/api` section.

[2017-07-24 23:02] skipjack commented on #1394
Ok I'm going to close as I think this is out of scope (at least currently) but please...

- feel free to submit prs adding links framework-specific examples and tutorials
- discuss, ask questions, or get involved with the guides work going in #1258

@mrmartineau @arecvlohe definitely keep us posted on the https://github.com/mrmartineau/webpack-recipes work you were discussing. Happy to link to any

[2017-07-24 23:02] #1394 closed

[2017-07-25 00:27] arecvlohe commented on #1394
I am working on some examples and I will definitely share them with you when they are a bit more complete!

[2017-07-25 22:21] skipjack commented on #491
Starting to dig into this now, expect a PR within the next day or two.

[2017-07-25 22:22] skipjack commented on #491
@TheLarkInn @sokra @webpack/documentation-team I will need help filling in some of the blanks (e.g. `?` above) but I figure that's easier to do on PR with an outline in place.

[2017-07-26 08:47] sokra commented on #491
Yep, I'll help you once a page exist.

[2017-07-27 11:15] webpack-bot opened #1458 "API - Document When a Plugin Should Call `doResolve()`"
**Do you want to request a *feature* or report a *bug*?**
Documentation request

**What is the current behavior?**

No documentation about how plugins are processed

**What is the expected behavior?**

Every webpack plugin follows the following structure:

[code]
Can anyone please explain when I should call `doResolve(...)` and when `callback(...)`. I've found this phrase in the webpack docs:

How

[2017-07-27 11:36] stephan-v commented on #1300
It still fathoms me how such a large project can have the absolute worst documentation that I have ever seen.

[2017-07-27 11:43] skipjack commented on #1300
@stephan-v very helpful, thanks. Care to elaborate on that comment or help contribute?

[2017-07-27 11:53] stephan-v commented on #1300
You need help? I just spend a minute staring at your huge list of sponsors and backers thinking "How in the fuck could your documentation be this bad with so many supporters". Looks like you get plenty of help.

Even something as basic of digging through your documentation to figure out in which order multiple loaders run, yields 0 results.

Even the first documentation was better, somehow you man

[2017-07-27 12:30] skipjack commented on #1300
First of all, please take a second and calm down. I deleted your comment and will delete any others you post with profanity if you don't relax a bit.

Look, it's unfortunate you feel that the "first documentation was better" and somehow we've all just managed to make it worse. The fact is, we've actually gotten a lot of feedback on this site, most of it positive, with small comments of what's miss

[2017-07-27 12:41] skipjack commented on #1458
There is a fair amount of documentation here on the plugin interface and another page about how to write a plugin:

https://webpack.js.org/api/plugins
https://webpack.js.org/development/how-to-write-a-plugin

However I don't see anything on `doResolve` which should probably be mentioned here:

https://webpack.js.org/api/plugins/resolver

or maybe on the _How to Write a Plugin_ page.

[2017-07-27 12:42] skipjack commented on #1458
@TheLarkInn can you take a look at this?

[2017-07-27 12:56] #1379 closed

[2017-07-27 14:15] TheLarkInn commented on #1300
@stephan-v if you need someone to talk to, please feel free to reach out to me on Twitter. If there is something we can be doing better I'd like to hear it from you there in a safe and private medium.

Second you have received your one and only warning. Any further misconduct across any webpack or webpack-contrib organization repos we will act on through banning or removal of participation with th

[2017-07-27 14:40] maximusk commented on #1458
@skipjack , yeah, thanks, I've seen those. They are pretty basic. There's nothing on `doResolve` and calling `callback()`. I've spent all day today debugging resolver and I think I now understand how the workflow goes for resolve plugins. I'm planning to write an article based on my findings so hearing anything from the core team is very welcomed.

[2017-07-28 03:16] skipjack commented on #298
Closing for inactivity (and because maybe it overlaps or could be combined with #1145)... @addyosmani please feel free to re-open if you're still interested in submitting a PR for this separate from #1145.

[2017-07-28 03:16] #298 closed

[2017-07-28 03:19] skipjack commented on #53
I may try to tackle this. I feel like a fairly simple page with links to things like [gulp-webpack](https://www.npmjs.com/package/gulp-webpack) and [grunt webpack](https://github.com/webpack-contrib/grunt-webpack) would do.

[2017-07-28 09:11] skipjack commented on #1388
@simon04 yep I agree on webpack/webpack#5076 (just looked over that pr) and the other. It seems that they're both just classified as bug fixes. However, I'll keep the missing `Chunk` class doc in mind. The __API__ section definitely needs the most help/attention/review of this whole site. Still working my way through the backlog but I'm hopeful start cleaning that up soon. I think we'll have some

[2017-07-28 09:11] #1388 closed

[2017-07-28 16:48] GelsonMR opened #1461 "Guides - Warnings/Errors in Hot Module Replacement"
Hello! I am new to Webpack, and I'm trying to learn it by the guide, as I advanced to HMR, I got some errors...

I've written the code showed in that chapter until the Stylesheets part (which I haven't read yet), and I got this console message while using `npm start`:

[code]

I'm not sure, but I think this error is about having multiple entries, so I guess it needs to have a output name for each

[2017-07-28 18:42] skipjack commented on #1461
@TheDutchCoder @sbaidon I think this may have been introduced in #1439. Can one of you take a look?

[2017-07-28 21:14] sbaidon commented on #1461
I have looked into the issue. I found that the warnings are removed once you specify a single entry point, `index.js` in this case.

[2017-07-29 16:00] #491 closed

[2017-07-29 23:51] maheshpec opened #1463 "Guides - Hot Module Replacement"
Hello,

While going through the [hot module replacement guide](https://webpack.js.org/guides/hot-module-replacement/#gotchas), I noticed a snippet line did not have + sign indicating that its a new statement.

**What is the current behavior?**
[HMR guide page's _Gotcha_ section](https://webpack.js.org/guides/hot-module-replacement/#gotchas) has a code snippet. This code snippet introduces a `let e

[2017-07-30 16:23] skipjack commented on #1463
@maheshpec I'm going to close and quote your comment in #1461 as that one mentions this error as well. That way we can keep the discussion in one place. I think we may be able to update your PR with one or two other fixes to resolve these issues for good 👍

[2017-07-30 16:23] #1463 closed

[2017-07-30 16:24] skipjack commented on #1461
To quote @maheshspec from #1463:

@maheshspec also opened this pr: #1464 (though I'm not sure it resolves everything mentioned here)

[2017-07-30 16:36] skipjack commented on #1461
Ah actually, after re-reading the error/warnings, I'm pretty sure they are all do to the same issue with the `element` variable.

1. `module.hot.accept` runs and fails.
2. Before the actual error is printed `Ignored an update...` warning is thrown.
3. Then the actual error is shown (printed by webpack's or webpack-dev-server's `log` module).
4. Then the final warning is thrown just mentioning the

[2017-07-31 11:25] webpack-bot opened #1467 "[name] and [filebase] templates don't work in output.filename"
**Do you want to request a *feature* or report a *bug*?**
I want to report a bug in version 3.4.1 of webpack.

**What is the current behavior?**

Using the [name] or [filebase] templates in the output.filename setting in webpack.config.js leads to the following error message:

[code]

According to the documentation here this should work: https://webpack.js.org/configuration/output/#output-filename

[2017-08-01 01:45] maheshpec opened #1470 "CLA IP Policy"
Hi,

**What happens now?**
The [CLA agreement](https://cla.js.foundation/webpack/webpack.js.org) doesn't seem to link to the IP Policy correctly. It shows
[code]

**What should happen?**
The CLA agreement should link to the correct IP policy. Googling shows this IP Policy -> [JS Foundation](https://js.foundation/wp-content/uploads/sites/33/2017/03/JS-Foundation-IP-Policy.pdf)

Could you guys pleas

[2017-08-01 02:43] #1461 closed

[2017-08-01 04:20] yozosann opened #1471 "[Caching] error: chunk-manifest.json:1 Uncaught SyntaxError: Unexpected token :"
my config
[code]
error :
chunk-manifest.json:1 Uncaught SyntaxError: Unexpected token :
common.03050d6….js:1 Uncaught ReferenceError: webpackJsonp is not defined
    at common.03050d6….js:1
(anonymous) @ common.03050d6….js:1
app.3d0fa36….js:1 Uncaught ReferenceError: webpackJsonp is not defined
    at app.3d0fa36….js:1

[2017-08-01 11:45] skipjack commented on #1471
The issues on this repository are not meant to be used for support questions. Please use Gitter or stack overflow.

[2017-08-01 11:45] #1471 closed

[2017-08-01 11:58] esbenp opened #1473 "Inform --optimize-minimize is not required for tree shaking"
There seems to be some confusion as to when tree shaking occurs (ie what configuration is necessary). Ref #1331 https://github.com/webpack/webpack/issues/4713#issuecomment-317601066

Correct me if I am wrong but it seems multiple separate parts of webpack is responsible for different parts of tree shaking? Anywho, following https://github.com/webpack/webpack/issues/4713#issuecomment-317601066 I th

[2017-08-01 21:54] skipjack commented on #1470
Thank you for reporting this. The CLA document actually isn't stored at this repo as far as I know. I think this issue maybe should be moved elsewhere.

@d3viant0ne do you typically manage this? Should I move this issue to a webpack-contrib repo like [this one](https://github.com/webpack-contrib/organization) or [this one](https://github.com/webpack-contrib/webpack-defaults)?

cc @webpack/core-tea

[2017-08-01 22:05] skipjack commented on #1473
Ok so as you touched on in webpack/webpack#4713, I believe tree shaking is basically enabled via a combination of:

- Using webpack's built-in support for ES6 module syntax
- Including the `UglifyJsPlugin` (either via `--optimize-minimize` or manually in a production configuration).

I'll take a look at your PR momentarily but that's one of the last guides left to rewrite, see #1258 -- [this comme

[2017-08-01 22:09] skipjack commented on #1473
Also, thanks to @TheDutchCoder, we now have [a home](https://github.com/TheDutchCoder/webpack-guides-code-examples) for small examples that back each guide. We can do the same for tree shaking so we have a single place to discuss and test things.

Note that we aren't linking to those yet from the guides themselves but probably will start doing so soon, once #1258 is finished and we have time to ma

[2017-08-01 23:56] #53 closed

[2017-08-02 04:32] esbenp commented on #1473
I think that is a good path for this. Thanks for taking your time to clarify the roadmap for the guides

[2017-08-02 13:33] emulbreh opened #1480 "output.libraryTarget is undocumented"
[Targets](https://webpack.js.org/concepts/targets/) mentions `output.libraryTarget` and links to [Output](https://webpack.js.org/concepts/output/), which doesn't contain any information about that property.

[2017-08-02 15:56] skipjack commented on #1480
Thanks for reporting this but I have good news for you! It is documented, just not on the __Concepts__ page. See [this section](https://webpack.js.org/configuration/output/#output-librarytarget) of the __Configuration__ `output` page.

[2017-08-02 15:56] #1480 closed

[2017-08-02 15:58] skipjack commented on #1480
We should do better at the separation between __Concepts__ and __Configuration__ (or other sections of the docs). I think this can be addressed in #1386 and each __Concepts__ page should probably end with some links to other sections of the documentation.

cc @tanyagray @TheLarkInn

[2017-08-02 22:47] d3viant0ne commented on #1470
The CLA & it's associated bot is a service provided & hosted by the JSFoundation.

[2017-08-03 10:21] #1473 closed

[2017-08-03 10:32] skipjack commented on #1470
Ok so then it looks like maybe I need to move this issue [here](https://github.com/JSFoundation/cla-assistant/issues) then? Will do so momentarily, but if there's a better place let me know.

[2017-08-03 10:36] skipjack commented on #1470
Moved to JSFoundation/cla-assistant#7

[2017-08-03 10:36] #1470 closed

[2017-08-04 09:44] sokra commented on #872
Most parser hooks only react to **free var**. i. e. for `call a.b.c`:

[code]

`call this.context.localize` won't work, because `this` is not free (and can't be).

You can try `call localize` which will trigger for not defined `localize` calls.

[2017-08-04 10:08] sokra commented on #1318
@kentcdodds It looks like it decreases bundle size...

In some cases it really decreases bundle size, but only in rar cases where it helps the minimizer to do it's job.

It decreases minimized bundle size, but it doesn't affect gzipped bundle size that much.

This doesn't affect the download cost, but it affects the runtime cost for parsing the js in the browser. But the real benefit is the reduce

[2017-08-04 10:13] webpack-bot opened #1484 "Confusing Parser Options"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Description is confusing

**If the current behavior is a bug, please provide the steps to reproduce.**
Go to https://webpack.js.org/configuration/module/#rule-parser,
see confusing description of enable/disable parser options

**What is the expected behavior?**
It would be great to clear up the doc

[2017-08-04 13:28] kentcdodds commented on #1318
Thanks for explaining that @sokra 👍 makes sense!

[2017-08-05 11:59] fabiooshiro commented on #107
I'm trying to build for electron.

# workaround
webpack.config.js
[code]
index.html
[code]

my_program.js
[code]

[2017-08-06 03:21] #1484 closed

[2017-08-06 04:05] #1467 closed

[2017-08-06 14:26] alex-r-bigelow opened #1493 "Compiler watch mode needs example(s)"
The documentation outlines ["two flavors of execution,"](https://webpack.js.org/api/plugins/compiler/#watching) but doesn't say anything about how to choose one mode or the other, or provide relevant examples of each.

[2017-08-07 13:28] #1300 closed

[2017-08-07 17:46] joshmosh commented on #1300
Woot woot! Thank you @skipjack! Looks good!

[2017-08-07 21:56] skipjack commented on #1493
Essentially, watch mode is used in development, when you want to keep rebuilding every time a change is made, and normal compilations are used for production. I think maybe mentioning that and linking to the development/production guides from there would resolve this issue.

I don't think we add full-on examples on that page as it's really more of a reference page than a guide.

[2017-08-08 08:00] jennings commented on #1493
@alex-r-bigelow Would [this change](https://github.com/webpack/webpack.js.org/pull/1495/files) clarify the documentation? I added links to the [Node API](https://webpack.js.org/api/node/#watching) and the [CLI watch options](https://webpack.js.org/api/cli/#watch-options) so the reader can see how watch mode is invoked.

[2017-08-08 10:04] sudarsangp opened #1496 "Guides - question on Output Filenames under Caching"
**Under Output Filenames section in Caching**

Following the docs, when I run the command (multiple times) `npm run build` there is no change in the filename.
`main.c396e62535527ae6a15a.js`

The docs state that:
 _If we run another build without making any changes, we'd expect that filename to stay the same. However, upon running it, we'll see that this is not the case. This is because webpack inc

[2017-08-08 20:04] skipjack commented on #1496
I think you may be correct, I saw some inconsistencies as well when testing different versions. I'd like to leave it as is for now, just in case because the extraction and extra plugins shouldn't hurt anything (and most of the extraction is best practice anyway).

I'm closing but if you wanted to add a small note/warning to that page just mentioning that output may differ depending on the version,

[2017-08-08 20:04] #1496 closed

[2017-08-08 20:08] skipjack commented on #1496
Just re-read that section of the guide -- I don't think you're doing anything wrong, I think it's that other changes that shouldn't change the hash still might (even on the latest version).

[2017-08-09 00:31] #1493 closed

[2017-08-09 12:58] TheDutchCoder commented on #1416
I think it would be great to reword this page so that it's more beginner friendly.

I can take a stab at it if you like!

[2017-08-09 16:45] #1318 closed

[2017-08-09 16:50] skipjack commented on #1268
@smably I know it's been a little while but does the above comment answer your question? Would you still be interested in submitting a PR?

[2017-08-10 02:30] skipjack commented on #1258
@TheDutchCoder I'm going to take a stab at #1331 and try to hit both _Production_ and _Tree Shaking_. You interested in _Shimming_ or _TypeScript_? _TypeScript_ shouldn't be too bad (basically just a modified version of _Getting Started_ should do) but _Shimming_ might be more complex.

@marioacc you still interested in _Authoring Libraries_? That's another one that shouldn't be too bad -- essenti

[2017-08-10 02:34] mtrivera commented on #1258
@skipjack I can work on the TypeScript one and make it based on _Getting Started_ as you suggested.

[2017-08-10 02:35] skipjack commented on #1331
@insin @jakearchibald I've seen a few other discussions recently that all came to the same conclusion as well. Essentially it's the combination of ES6 static `import` / `export` statements and the `UglifyJsPlugin` that enable tree shaking from my understanding. A warning was added recently in #1474 that starts to clarify this but I'll elaborate on this and address the other things mentioned above.

[2017-08-10 02:41] skipjack commented on #1258
@mtrivera awesome definitely feel free to ping us if you have any questions!

[2017-08-10 02:50] rouzbeh84 commented on #469
@hulkish jointjs looks pretty awesome! do you know if they have a less expensive a.k.a free plan for OSS? I only saw a trial

[2017-08-10 02:53] rouzbeh84 commented on #912
Any movement on this? I could probably rework the below into something less fun but clearer haha

![annotated walkthrough](https://pbs.twimg.com/media/C45Ki7YVcAAidnt.jpg:large)

[2017-08-10 02:57] skipjack commented on #1458
@maximusk sorry for the delay...

Frankly I'm actually not too well versed in plugins (though I am starting to work more with them). I pinged @TheLarkInn who should be able to help clarify things a bit better than I can.

[2017-08-10 02:59] TheLarkInn commented on #912
That might be a good place to start actually. And using even a single example would be awesome. I've even been pondering maybe a complex svg animation that shows the entire process. Just a lot of work involved heh.

[2017-08-10 03:01] skipjack commented on #912
@rouzbeh84 if you wanted to pick this up that would be great! Maybe stem from one of the simpler guides and just walk through the different bits of the output bundle?

@TheLarkInn maybe we could just start with a simple mermaid graph like the others created in #469 ?

[2017-08-10 03:02] TheLarkInn commented on #1458
There is a really neat graphic that @sokra sent me one time. The resolver plugins use a waterfall/sequential try catch pattern in which once a path not find via first plugin, it then passed the info it did it did not collect and then call doResolve to the next resolve hook that another plugin will listen to. Let me find the graphic.

[2017-08-10 03:04] skipjack commented on #469
@rouzbeh84 good question, I looked at this a while ago and was wondering the same thing. Also, I think there are some benefits to having a simpler text-based solution. I think it would be fairly easy to write a remark plugin (once we move to remark) that could use mermaid under the hood (e.g. `remark-mermaid`).

[2017-08-10 03:11] TheLarkInn commented on #1458
Yesssss I found it!!!!!!!!!
![screenshot_20170809-220849](https://user-images.githubusercontent.com/3408176/29152880-8a996b38-7d4f-11e7-913f-38fc90a2b4f5.png)

So this should help you understand the waterfall pattern. So you always start at A and then webpack resolver will search each resolution pattern, and it will cycle back to another point based on certain conditions (see the flow graph)

[2017-08-10 03:16] TheLarkInn commented on #1458
The labels that have dashed lines represent the resolve properties you can configure in webpack (and technically in enhanced-resolve itself if used outside of webpack).

[2017-08-10 09:06] 43081j opened #1505 "API - Resolver documentation confusing"
Regarding [this page](https://webpack.js.org/api/plugins/resolver/).

I noticed webpack allows plugins in the `resolve` config ([`resolve.plugins`](https://webpack.js.org/configuration/resolve/#resolve-plugins)). So I assumed these kind of plugins are defined as per the documentation found [here](https://webpack.js.org/api/plugins/resolver/).

However, this page gives absolutely no information at

[2017-08-10 11:38] 43081j commented on #1505
Another example is that the same page specifies `resolve` takes `(string, string)`. But in actual fact it seems to receive `(object, function)`.

Presumably the second parameter is a callback and the first is some sort of object representing what the docs think are in it?

[2017-08-10 12:45] TheDutchCoder commented on #1258
@mtrivera please do, I have no experience with TS, so I would make a poor candidate to tackle that topic ;)

@skipjack I'll take a look at *Shimming* and see if it's a topic I could cover. If not, I'll let you know and maybe someone else can help us out.

[2017-08-10 15:22] skipjack commented on #1258
@TheDutchCoder sounds good and if we don't hear back from @marioacc soon, feel free to take a look at _Authoring Libraries_ too. That one shouldn't be as tough as _Shimming_.

[2017-08-11 00:07] skipjack commented on #16
Closing thanks to @sokra with #1506 merged! 🎉  🎉

@vvo sorry I don't think he noticed this comment but please feel free to submit any follow up PRs if there's more content you think can be added or things that could be elaborated.

[2017-08-11 00:07] #16 closed

[2017-08-11 05:19] skipjack commented on #866
Closing for a few reasons...

- Inactive for a while now.
- Hasn't seen too much activity/popularity.
- Keep the focus on #1258 and review other top-level sections before jumping into more guides.
- Another instance of third-party docs before our core docs our fully ironed out.

With all that said...

- I'm marking this with a new `Reconsider` label, so in the event that someone wants to dig this

[2017-08-11 05:19] #866 closed

[2017-08-11 05:30] skipjack commented on #90
I may try to pick this up. Been working with node scripts more recently so I'd be interested to read through @TheLarkInn's article and flesh it out into a guide/article. I think it might actually fit in the __Development__ or __Contribute__ section better though.

That said, if anyone else finds this and wants to pick it up, just ping me and we can figure something out (i.e. I'm fine with passing

[2017-08-11 16:08] marioacc commented on #1258
@skipjack, I have been busy. But I still want to finish it, if there is no problem of course.
Thank you also for giving an example of how to do it, I was a little lost

[2017-08-11 18:05] skipjack commented on #1258
Sure no problem and yeah we'd still be thrilled if you wanted to tackle it. My main concern is to just keep this issue moving so we can close it out soon and move on to reviewing and cleaning up other sections of the site. So I don't mean to put any pressure on you but the sooner the better. Even if you just get a rough draft going and would like feedback, feel free to ping @TheDutchCoder and I fo

[2017-08-11 18:56] alex-r-bigelow commented on #1493
This is good, but it's still not super clear how to enable watch mode. Of course `webpack-dev-server --watch` works—and documentation about that exists everywhere—but it's not clear how to do that from inside Node. From this documentation, my initial guess would be to do something like:

[code]

... but that's probably wrong (if it's right, it's not documented). Or maybe I'm misunderstanding what

[2017-08-11 21:56] jennings commented on #1493
[This page has the Node API documentation](https://webpack.js.org/api/node/#watching) and does mention the `.watch()` method on a Compiler instance.

[code]

The audience for [the documentation page we're discussing](https://webpack.js.org/api/plugins/compiler/) seems to be those writing a webpack plugin. If I understand it correctly, plugin writers don't need to create a Compiler or invoke it; th

[2017-08-12 15:40] alex-r-bigelow commented on #1493
Ah, that makes sense... I *am* misunderstanding what Compiler is for in the first place. The use case that brought me to this page was trying to run two development servers on the same port, and I was trying to wrap my head around the fuzzy line between the Compiler and [webpack-dev-middleware](https://github.com/webpack/webpack-dev-middleware).

I eventually figured it out just by setting up an e

[2017-08-13 03:17] trautlein opened #1512 "Unexplained Code Change in Caching Guide"
On the [caching guide page](https://webpack.js.org/guides/caching/) there is a change in the code that isn't noted or explained. The example goes from using `[chunkhash]` to `[contenthash]` without an explanation. The diff's in the documentation also don't show that this code has changed. I'm not sure why the change in the code occurs so I thought I would report it here.

The change happens inside

[2017-08-13 06:45] bijanvakili opened #1513 "DllReferencePlugin doesn't explain string form for 'manifest' parameter"
The `manifest` parameter for `DllReferencePlugin` also supports the ability to pass a string (as an absolute path) rather than an object.   The logic is implementation [here](https://github.com/webpack/webpack/blob/master/lib/DllReferencePlugin.js#L27).

This has been supported since [this commit](https://github.com/webpack/webpack/commit/530fad43b418dbf78c484eda78b5b22fba086ee9).

The documentati

[2017-08-13 12:49] maximusk commented on #1458
@TheLarkInn , hey Sean, thanks for the diagram. I'll study it. I'm willing to contribute to webpack's sources through PR's. Do you any bug in resolver functionality that I can start with?

[2017-08-13 15:28] skipjack commented on #1512
This is a mistake. It should be chunkhash everywhere. I thought this was fixed recently but maybe not all instances. Would you like to submit a PR?

[2017-08-13 15:29] skipjack commented on #1513
Thanks for pointing this out. Would you be interested in submitting a PR to resolve this issue?

[2017-08-13 20:53] trautlein commented on #1512
Totally would have but it looks like you beat me to it! Thanks for maintaining this docs so well!

[2017-08-13 21:04] skipjack commented on #1512
No problem, yeah it was a quick fix..

[2017-08-13 21:04] #1512 closed

[2017-08-13 21:16] skipjack commented on #438
Ok I'm going to close as this has gotten a bit dated and re-open a new issue with all the key points from here.

[2017-08-13 21:16] #438 closed

[2017-08-13 21:26] skipjack opened #1519 "Dev - Information Architecture"
As we continue our work on #1258, #1386, and the others mentioned in #1380, we can, and have already, started talking about better ways to group, consolidate, and improve the flow of pages within this site. This should be started by simply sorting the pages within each section, but, once we've done that, we could likely group sections within the sidebar (as suggested by @pastelsky in #438) or add

[2017-08-13 21:28] skipjack commented on #1519
@montogeek if you could spare any time helping push #980 forward, that would be fantastic. All we really need to figure out at this point is the `section.all()` data that we use for the sidebars. I can help on this side of the fence, but with your antwar experience (and I'm sure @bebraw would help us along), I think we could finally get that done.

[2017-08-13 21:41] skipjack commented on #1519
@johnstew I think with #1258 we actually have gotten to a pretty good flow for the __Guides__ section (can still be improved with some simple grouping -- probably just a separation between __Basic__ and __Advanced__ as we dropped all the third-party content). However, if you have time, we would love your help with the sorting the other sections.

If you have ideas on __Concepts__ suggest them in #

[2017-08-13 22:12] #1513 closed

[2017-08-14 01:39] montogeek commented on #1519
@skipjack WIll take a look

[2017-08-14 02:47] blueshirts opened #1521 "webpack-dev-server changeOrigin option?"
It seems like changeOrigin is a valid option for the webpack-dev-server proxy settings though I don't see it documented anywhere.

https://webpack.js.org/configuration/dev-server/

Should this be documented?  I am unsure what it's exact purpose is.

[2017-08-14 07:44] slashhuang commented on #995
@skipjack  came across the same problem, hope @dmitriid's merge request solved this tree shaking issue for ts project using webpack

[2017-08-14 14:10] skipjack commented on #1521
So where/how did you find that `changeOrigin` is a valid option?

[2017-08-14 14:21] skipjack commented on #1521
`webpack-dev-server` passes the `proxy` options to the [`http-proxy-middleware`](https://github.com/chimurai/http-proxy-middleware) which is linked to and documented in the proxy section of the dev-server page:

https://webpack.js.org/configuration/dev-server#proxy

The `changeOrigin` option is documented in the other package in their README. If it's not documented well enough, I would open an iss

[2017-08-14 14:21] #1521 closed

[2017-08-14 14:37] blueshirts commented on #1521
I saw the changeOrigin option in one of the examples in the old webpack documentation.

https://webpack.github.io/docs/webpack-dev-server.html#proxying-local-virtual-hosts

[2017-08-14 14:41] blueshirts commented on #1521
I found that it was a valid option b/c my proxy would not work without it.  I initially did not see the link you mentioned, thanks for the insight.

[2017-08-14 14:44] skipjack commented on #1521
Ah ok... yeah like I said if you wanted to submit a PR here I'd be happy to review but imo there's plenty of docs on the `proxy` option already and the link to `http-proxy-middleware` is good. Like I said if anything, I think the link should be highlighted more so that it's as clear as possible that these options are actually handled by another package.

Thanks for highlighting this though and def

[2017-08-14 14:55] skipjack opened #1525 "Dev - General Updates and Fixes"
We either need to finish #980 -- which still needs some work, possibly on the [antwar][1] level -- or port the site to a more stable build tool like [phenomic][2] or [gatsby][3]. Porting the site would also offer a few things, like full HMR, that #980 doesn't address but will require some serious thought. Either way these are the infrastructure issues we need to solve:

- [ ] Resolve `<title>` iss

[2017-08-14 14:56] skipjack commented on #1380
Closing in favor of more targeted high-level issues (e.g. #1258, #1386, and #1525) now that we've started to get a bunch of help.

If anyone from this thread has not found an issue to tackle or section to dive into please don't hesitate to ping me on gitter and I will gladly help you with that. This site is finally under (just barely) one page of issues and we're going to try to keep it that way.

[2017-08-14 14:56] #1380 closed

[2017-08-14 16:21] webpack-bot opened #1526 "https://webpack.js.org/ sends wrong .css file."
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The css file for https://webpack.js.org/ is missing.

**If the current behavior is a bug, please provide the steps to reproduce.**

Open https://webpack.js.org/ in the browser. Also with a hard reload the css file can not be found.

![bildschirmfoto 2017-08-14 um 17 44 35](https://user-images.githubu

[2017-08-15 15:46] TheLarkInn commented on #1458
I think for enhanced-resolve the most actionable changes are perf ones. I'd encourage you to take a look at [enhanced-resolve](https://GitHub.com/webpack/enhanced-resolve) issues list and see whats there. By all means you can ping me whenever.

[2017-08-16 03:34] skipjack commented on #1526
Yeah this is the same thing that's happens every once in a while when a few deployments are triggered close together. From my understanding, there's not too much we can do about it at the moment with our `gh-pages` setup. I have a task in #1525 about porting the site to Netlify which @bebraw has said is much more flexible and could resolve the issue. I'll note this over there as well mentioning th

[2017-08-16 03:34] #1526 closed

[2017-08-16 03:38] skipjack commented on #1525
We need to think about the caching issue we've run into a few times during deployments. The site is currently hosted on GitHub via the `gh-pages` branch, and there's some caching layer on top of it that seems to have some issues. I'm thinking we just hold off until the Netlify port, then hammer on it and see what happens, however if someone has an idea for a short-term fix we're all ears.

[2017-08-16 09:02] maximusk commented on #1458
@TheLarkInn , ok, cool, I'll take a look. Do you respond to DM's on twitter? I tried to reach out to you on twitter with a tweet a while ago but got no response so I'm wondering if DM is an option.

[2017-08-16 12:37] jeremenichelli commented on #938
Everyone, I'm gonna give it a try and add it to the shimming section since I think _it belongs there_. I'll try to keep it small, if I fail we can always move it to its own section and add more content and references.

PR coming soon!

[2017-08-21 01:02] marioacc commented on #1258
Just opened a [PR 1532](https://github.com/webpack/webpack.js.org/pull/1532).
I focused to explain a little more as well to add enough content for the examples to be able to run.
Also added a warning for the actual bug in the  [issue 4824](https://github.com/webpack/webpack/issues/4824)

[2017-08-22 22:17] jeremenichelli opened #1536 "Dev - Eliminate FOIT"
Currently the site experiences FOIT _(Flash Of Invisible Text)_, which hits critically in speed index and critical rendering path.

I suggest using system fonts until font is ready and caching Google Fonts stylesheet on Web Storage for future visits. I wrote about this solution some time ago: https://jeremenichelli.github.io/2016/05/font-loading-strategy-static-generated-sites/

I would be glad to

[2017-08-23 01:10] skipjack commented on #1536
@jeremenichelli thanks for bringing this up. I thought we did have some fallbacks set up at least for certain elements but if you'd like to improve on this or fix any missing ones that would be fantastic.

[2017-08-24 06:13] #273 closed

[2017-08-24 09:48] baiyuming opened #1544 "update"

[2017-08-24 09:51] #1544 closed

[2017-08-24 18:50] jeremenichelli opened #1545 "Dev - Move icons to SVG images"
I was on a slow internet connection and discover the icons come from a font which adds **tofu**
boxes, delays content showing and makes FOIT worse.

We should definitely move to SVG, something that will also improve visuals on 1x pixel density screens.

I think that this, plus https://github.com/webpack/webpack.js.org/issues/1536 plus a better hosting server (something I've seen in the issues) wil

[2017-08-24 20:36] skipjack commented on #1545
Can you be a bit more specific about which icons aren't SVGs? Most of our [assets](https://github.com/webpack/webpack.js.org/tree/master/src/assets) already are as far as I can tell.

[2017-08-24 22:41] jeremenichelli commented on #1545
Sorry for not being as clear as I should 🙏  I catched icon fonts in the desktop header to be more specific, even when SVG files are used on the background, they are still fonts.

My suggestion is inlining them, a react component would work for sure.

[2017-08-25 02:05] #938 closed

[2017-08-25 02:11] skipjack commented on #1545
@jeremenichelli no problem, yes I understand now. I think we may want to use react components for easier customization which may take a little thought. I might add this, and #1536, into the one of the other dev checklists ( #1525 or #1400 ) as our goal right now is to continue keeping the focus on cleaning up the content of the site. That said, you should feel free to start digging into these thin

[2017-08-25 22:15] pierreneter opened #1548 "Dev - OpenCollective Image Lag"
![loading time](https://user-images.githubusercontent.com/12815768/29734226-30ee8536-8a1b-11e7-986e-593e91062876.PNG)

Location: Vietnam,
My speed:
![speedtest](http://beta.speedtest.net/result/6570012365.png)

Most of the time it takes to load the home page from the avatars of the backer.
Avatars are provided from `opencollective` and we can not manage the cache settings on the header.
Of course,

[2017-08-26 17:20] #1331 closed

[2017-08-26 17:31] skipjack commented on #1545
Moved to #1400.

@jeremenichelli seeing as both you and @pierreneter seem interested in helping to tackle dev improvements (specifically performance and pwa it seems) I'll be inviting you both as collaborators and also to our slack channel. Looking forward to working with you both!

[2017-08-26 17:31] #1545 closed

[2017-08-26 17:32] skipjack commented on #1536
Also moved to #1400. If you elaborate on exactly which fonts don't already have fallbacks I may pick this up. As you mentioned, it should be a fairly quick fix.

[2017-08-26 17:32] #1536 closed

[2017-08-26 17:49] skipjack commented on #912
From what I saw while inspecting a bundle in my work on the _Tree Shaking_ guide in #1508, it seems the comments within bundles have gotten much better since when I first started using webpack. These comments are stripped out when the `UglifyJSPlugin` is included obviously, but a non-minified bundle could actually be fairly intuitive to go through. Maybe the guide could just jump through the bundl

[2017-08-26 18:11] skipjack commented on #1548
@pierreneter I'll add a note about this in #1525, but I'm really not sure what we can do to resolve this seeing as were not serving the content. Being an open source project, there's only so much we can do in terms of hosting infrastructure and in this case we aren't even serving those images ourselves (as you pointed out). Also, the page is interactive/scrollable before those images load (in my e

[2017-08-26 18:11] #1548 closed

[2017-08-28 00:21] skipjack commented on #140
Ok just opened #1551 to clean up some of the grammar. I'm going to close as this has been inactive for a while now. I think the current documentation is decent but could likely be improved more if someone has the time. @mover96 @datapimp feel free to re-open or just directly submit a PR if either of you are inclined to elaborate on the current doc.

[2017-08-28 00:21] #140 closed

[2017-08-28 09:45] aloupfor opened #1553 "How the build files are made available in production environment ?"
From https://webpack.js.org/guides/installation/ and https://webpack.js.org/guides/production/,
I am not able to understand how the build files are made available in production environment since `webpack` is installed as a `devDependency` (https://webpack.js.org/guides/installation/#local-installation).
So in production `npm install` will be run with the `--production` flag. As a result, the `devD

[2017-08-28 13:28] pierreneter commented on #1553
You should understand that using a source code to build a dev mode or build a production, not using a production build to a production.

[2017-08-28 14:37] skipjack commented on #1553
@aloupfor this is a good question but it's more of general front end development than webpack-specific one.  To elaborate on @pierreneter's explanation a bit...

In general, the __Guides__ are walking through how to develop a site or application, _not a typical node package_. So, even though these projects are NPM based in order to manage dependencies, _they are not deployed to npm_ to be consumed

[2017-08-28 14:37] #1553 closed

[2017-08-28 18:02] aloupfor commented on #1553
So it was more a `npm` related question.
I had a hard time to figure out the difference between `production` and `production`.
I was able to understand the difference with your explanations

Thank you @pierreneter and @skipjack, I really learned something.

[2017-08-28 21:17] pierreneter commented on #1548
About this issue, I think I should focus on finishing #1400 and #1525 before coming back to it.
Thank you for making me part of the team.

`Deferring images` is a good way. We will touch upon it after completing the unfinished work that we are doing and discuss it further.

[2017-08-29 03:19] jeremenichelli opened #1554 "Dev - Should Support Files be Ignored?"
I just did a _clean clone_, run `npm install`, then `npm start` and these two files appeared as added:

- `src/components/Support/support-backers.json`
- `src/components/Support/support-sponsors.json`

Should they be added to `.gitignore`?

[2017-08-29 03:30] skipjack commented on #1554
They should be and it looks like they already are:

https://github.com/webpack/webpack.js.org/blob/master/.gitignore#L5-L7

However I'm seeing the same issue.

[2017-08-29 03:34] jeremenichelli commented on #1554
Yeap, they are. Super weird. Don't know if it's cached or an encoding discrepancy.

[2017-08-29 03:40] skipjack commented on #1554
Fixed in #1555 ... will merge as soon as the build passes.

[2017-08-29 03:40] skipjack commented on #1554
Just some git weirdness left over from the restructuring.

[2017-08-29 03:42] skipjack commented on #1554
I also simplified the `.gitignore` a bit. I think we may want to follow some paradigm for all our "generated" files. Maybe prefix them with an underscore or two so we can just ignore a simple pattern (e.g. `__backers.json` and in `.gitignore` => `__*`).

[2017-08-29 03:43] jeremenichelli commented on #1554
Yeah, I was about to suggest something like that, or `__fetched__` prefix, to be more obvious about them.

[2017-08-29 03:44] skipjack commented on #1554
Sounds good. Feel free to dig into that if you have time.

cc @pierreneter

[2017-08-29 04:06] #1554 closed

[2017-08-29 06:58] webpack-bot opened #1556 "Plugins - Source Map Documentation Conflicts"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
From https://webpack.js.org/configuration/devtool/

From https://webpack.js.org/plugins/source-map-dev-tool-plugin/

The docs explicitly say don't use these together, but they also say that one is a fine-grained control of the source maps added via devtool.

* ? If I don't use them together, h

[2017-08-29 10:41] JounQin commented on #995
What about working with `webpack.config.ts`?
It seems that it will throw an error about `import` syntax in `webpack.config.ts` if `module` is `es6` in `tsconfig.json`.

[2017-08-29 19:47] scottdj92 commented on #1258
I've also been asked a few questions regarding specific plugins, maybe having a section about how to actually implement the topics in "Build Performance" would be good.

[2017-08-30 07:18] jezmck opened #1559 "Dev - Code Block Alignment on Home Page"
![This image](https://pbs.twimg.com/media/DIZWCgCXgAErw6p.jpg)
demonstrates a minor alignment issue on the code blocks on the homepage, visible only when the blocks go over two columns.

[2017-08-30 07:44] pierreneter commented on #1559
Thank you for reporting this issue, fixing it is part of what I'm doing in PR: #980, we are actively working to finish as soon as possible and merge it.

[2017-09-03 19:00] kennrll18 opened #1568 "Image upload"
For production, webpack usually creates a folder(dist) with static files including photos and such.  My issue is when a user upload a photo on the website, how can webpack reload and rebuild so that it includes the photo in the dist folder?

[2017-09-03 20:09] skipjack commented on #1568
This is more of a support question and would be better suited to something like stack overflow.

In short, what you're trying to do isn't something we recommend using webpack for. Uploaded content would typically be handled by either a separate service from your core application (e.g. a ReSTful API) or some other node script on the web server. These images would typically be stored elsewhere, not

[2017-09-03 20:09] #1568 closed

[2017-09-03 21:44] skipjack commented on #1258
Ok it's just _Shimming_ left of the core guides. May pick it up if no one else beats me to it. Once that's complete I think we can close this out, I'll address those other remaining guides at the end of the list when I start working on #438.

[2017-09-03 21:55] skipjack commented on #1525
With @pierreneter's help we finally got #980 merged! This means our dependencies are at least up to date. I'm going to try to set up slack or hangouts session with those who are interested and who've worked on the site either on this issue, #1400, or other infrastructure related things. Will update once we have a date locked in. Ping me on gitter or slack if you're interested.

[2017-09-04 03:35] zzzgit opened #1569 "Guides - Migrating from v2 to v3"
![image](https://user-images.githubusercontent.com/1060733/30010772-dc76286e-9164-11e7-8784-40f6e618c439.png)

there is a section for migrating from v1 to v2, but how about from v2 to v3?

[2017-09-04 03:36] zzzgit commented on #1569
i want to update webpack in my project from 2 to 3,but i can not do this hastily without a instruction

[2017-09-05 08:59] codedmonkey commented on #126
Maybe it would be helpful to actually point to where these plugins can be found? Very useful to know about a plugin that is unfindable.

[2017-09-05 14:12] TheLarkInn commented on #126
Perfect is now used by default in webpack. So I'm not sure how relevant it is to use in ones config AFAIK

[2017-09-05 23:24] skipjack commented on #1569
@zzzgit currently we only have the document for migrating from v1 to v2. This is because there were a lot more breaking changes from v1 to v2 than from v2 to v3. In fact, I migrated a bunch of projects to v3 without having to _make any major configuration changes_.

I would recommend just reviewing [release notes](https://github.com/webpack/webpack/releases/tag/v3.0.0) for v3 and see if there's an

[2017-09-05 23:24] #1569 closed

[2017-09-06 07:56] skipjack commented on #1258
Started rewriting _Shimming_. Shooting to have a PR submitted by tomorrow.

[2017-09-06 16:24] marcofugaro opened #1577 "Docs - eval-cheap-module- vs. cheap-module-eval-"
In some parts it's `eval-cheap-module-source-map`,
https://webpack.js.org/api/cli/#shortcuts
https://webpack.js.org/guides/build-performance/#devtool

Instead in the Sourcemap documentation it's `cheap-module-eval-source-map`:

https://webpack.js.org/configuration/devtool/

Which one is correct? Searching for those in the webpack repo, it gives results for both of the words.

[2017-09-06 19:29] #1559 closed

[2017-09-06 19:32] skipjack commented on #1577
@marcofugaro thank you for highlighting this. I believe the `devtool` configuration docs are correct and it's `cheap-module-eval-source-map`. @sokra updated these recently, @sokra can you confirm? I'm happy to pick this up if no one else does.

[2017-09-06 20:06] sokra commented on #1577
You can use whatever you like most, as long `str.contains("eval") === true`.

https://github.com/webpack/webpack/blob/92d5c209437f9ef9293571e24cc8dcf10459d578/lib/WebpackOptionsApply.js#L201-L205

[2017-09-07 02:10] skipjack commented on #1577
Ah interesting... ok I'll update the other instances for consistency. @sokra `devtool` does seem like an option that might benefit from being fleshed out into an object some day. I think it's a bit more intuitive to understand something like:

[code]

and then document them each as separate options rather than full strings. One downside to this though is that it would make passing it via the CLI a

[2017-09-07 03:13] #1577 closed

[2017-09-07 08:01] marcofugaro commented on #1577
Good job @skipjack!

Are you sure the `-d` option sets the devtool to `cheap-module-source-map` and not `cheap-module-eval-source-map` like it was before? Was the documentation wrong before?

[2017-09-08 03:30] skipjack commented on #1577
@marcofugaro good catch, that was unintentional... I'll resolve shortly.

[2017-09-08 04:22] skipjack commented on #1556
@jtulk thanks for highlighting this discrepancy, I opened a pr (#1581) that I'll merge once the build passes. See @sokra's comments above and feel free to open a follow up PR if there's anything else you think can be improved on in that doc.

[2017-09-08 05:22] #1556 closed

[2017-09-09 18:07] skipjack commented on #912
Ok I'm going to close for a few reasons...

- It's been inactive for a while now.
- The output is actually a lot cleaner than it used to be and has pretty descriptive comments.
- The output changes frequently with new releases so the guide may become outdated fairly quick.
- Better to clean up and revise existing content before adding whole new articles.

With all that said, if someone disagrees w

[2017-09-09 18:07] #912 closed

[2017-09-09 18:10] skipjack commented on #912
Also marked with the `reconsider` label so once we're done with the reviews and infrastructure cleanup we could easily consider revisiting this.

[2017-09-10 23:16] skipjack commented on #872
@tschaub please refer to @sokra's comment above. I'm going to close as this has been inactive for a while now and I'm not sure how we can change the current documentation in the short term to improve this description. The good news is our cleanup of the _Guides_ section (#1258) is pretty much done and now I (and hopefully others) will start going through the _Concepts_ and _API_ sections next bett

[2017-09-10 23:16] #872 closed

[2017-09-12 00:55] #1258 closed

[2017-09-12 12:37] skipjack commented on #1258
We did it! Thanks to everyone who helped 🎉 . I'll take a look at the other non-core guides from the list as I start to work on #1519:

- Migrating Versions (_differs from normal guides_)
- Build Performance (_differs from normal guides_)
- Environment Variables (_consider dropping or moving elsewhere_)
- Development - Vagrant (_hmmm_)
- Dependency Management (_hmmm_)
- Public Path (_consider dropp

[2017-09-13 12:47] AhmedAbdulrahman opened #1593 "Translation - Arabic and Turkish"
Hi, I would like to contribute to webpack documentation for translation into the following languages?

- [ ] Arabic
- [ ] Turkish

What I have done so far:

1. Fork the repo
2. Clone it
3. Run the following commands:
- `npm install`
- `npm run build`
- `npm start `
- `npm run fetch`

4. Created new branch for translation in my fork.

Any other things?
Thanks!

Screen Capture
![screenshot-localhost

[2017-09-13 17:50] skipjack commented on #1593
Awesome, glad you're interested in tackling this! So we do have a potential long-term plan for making translation easier in #295. However this is likely still a ways off. Here's how we handle it now:

- Fork the repository (as you've already done)
- Translate the content
- Rebase on the existing `translation` branch we've created in the main repository

@lcxfs1991 @Lutece could you elaborate on th

[2017-09-13 18:04] Lutece commented on #1593
@AhmedAbdulrahman

Hi :) I'm korean who is translating the 'Webpack Docs' into Korean
I succeeded in connecting the domain temporarily by referring to the blog post by @lcxfs1991.
This is the URL of the post.

https://medium.com/@lcxfs1991/deploy-using-travis-ci-and-github-webhook-eba67b3ab6ac

@lcxfs1991 Thanks for writing this post :)

[2017-09-14 03:41] skipjack commented on #1593
cc @dear-lizhihua (I know you work on some translation stuff as well)

@Lutece @dear-lizhihua @lcxfs1991 are any of you in our slack channels yet? I think it might make sense for us to create an `#i18n` channel so we have a place to discuss things offline when necessary. @AhmedAbdulrahman I think we'd be happy to add you there as well. @TheLarkInn what do you think?

@AhmedAbdulrahman also you sho

[2017-09-14 15:46] Lutece commented on #1593
@skipjack Hello :)
I'm not joined in `Slack channel` of webpack yet, How can i do join in there?

[2017-09-14 16:46] skipjack commented on #1593
@Lutece we will add you, I just have to talk to someone with permissions first.

@AhmedAbdulrahman I'm going to close as I'm not sure what else we can add here. Feel free to keep discussing though and I'll work on getting you all invited to slack. Were there any other questions you had?

[2017-09-14 16:46] #1593 closed

[2017-09-15 05:35] dear-lizhihua commented on #1593
@AhmedAbdulrahman @skipjack
we use `translation` branch to update third-party loaders and plugins.
So you should merge `translation` branch to your `xxx` branch, you won't need `npm run fetch` to get `loaders/*.md` and `plugins/*.md`, because we do it at  `translation` branch.

![image](https://user-images.githubusercontent.com/15142680/30467899-7867bbd4-99ad-11e7-88e2-682b1ec95518.png)
![image](h

[2017-09-15 05:40] dear-lizhihua commented on #1593
like this:
[code]

[2017-09-15 05:45] dear-lizhihua commented on #1593
![image](https://user-images.githubusercontent.com/15142680/30468096-c6108e78-99ae-11e7-8c7e-5e2edf9ee752.png)

we split `src/scripts/fetch.sh`, like `copy`, `fetch` and `fetch-logo`:
`copy`: copy `./src/content/loaders/` to `./generated/loaders`
`fetch`: we `npm run fetch` at `translation` branch
`fetch-logo`: `node ./src/scripts/fetch_supporters.js` & `node ./src/scripts/fetch_starter_kits.js`

[2017-09-15 19:59] danny-andrews opened #1597 "Guides - HashedModuleIdsPlugin in Caching"
Turns out using `NamedModulesPlugin` leads to smaller bundle sizes after gzipping (crazy, right!?)

My calculations suggest a savings of 9%! https://docs.google.com/spreadsheets/d/19X7YZ9ULdB1INpTAL0IHAAoMrQ1Vit219IH1iisBfMo/edit?usp=sharing

This was brought to my attention [here](https://medium.com/@mikegreiling/shouldnt-we-prefer-to-use-hashedmoduleidsplugin-over-namedmodulesplugin-in-productio

[2017-09-16 00:09] skipjack commented on #1593
@dear-lizhihua can you send me your email address so we can invite you to our slack channel? Feel free to pm me on gitter if you don't want to share here.

[2017-09-16 02:36] dear-lizhihua commented on #1593
OK, my email is 275091674@qq.com.

[2017-09-16 14:25] skipjack commented on #1597
Woah, you make it sound like were recommending it everywhere!! It's only mentioned in one guide (besides that plugin's documentation):

![image](https://user-images.githubusercontent.com/8988697/30507401-3e9ef534-9a52-11e7-9dad-30409f524948.png)

This was intentional by the way as using the `HashedModuleIdsPlugin` is simpler and requires less overhead than including both the `NamedModulesPlugin` a

[2017-09-17 23:22] danny-andrews commented on #1597
@skipjack Thanks for the quick and detailed reply! My original issue title may have come off a bit blunt. Sorry about that. I usually try to make them as direct as possible and then explain more in the body of the issue.

I actually didn't know that `HashedModuleIdsPlugin` eliminated the need for `NamedModulesPlugin` and `NamedChunksPlugin`. That's pretty neat! However, you'd still have to know to

[2017-09-17 23:22] #1597 closed

[2017-09-18 12:12] sapegin opened #1600 "Dev - Issue with Remote Content Parsing"
[Here](https://webpack.js.org/plugins/uglifyjs-webpack-plugin/):

![image 2017-09-18 at 2 11 38 pm](https://user-images.githubusercontent.com/70067/30541358-5783aaf6-9c7b-11e7-87ef-006be22d5b02.png)

Not sure where it should be fixed: in their readme or in the site engine somewhere.

[2017-09-18 18:14] TheLarkInn commented on #1458
I do most of the time, if you can't reach me, feel free to ping on here. Also if you are still interested in working on this we could add you to our documentation team slack etc. Let me know!

[2017-09-19 06:48] mlcohen commented on #1458
Hi all --

I'm someone who has also been spelunking through a lot of Webpack's code. Specifically Webpack's `enhanced-resolve` library which, from what I understand, is the meat and potatoes behind webpack's resource resolving logic. I was motivated to dig into the library because I was having issues trying to get the `postcss-import-webpack-resolver` module to work that makes use of the `enhanced

[2017-09-19 06:51] maximusk commented on #1458
@mlcohen , great info! Thanks!

[2017-09-19 17:26] skipjack commented on #1597
No worries at all, I found the title more funny than offensive.

Didn't mean to shut down your issue btw, it's just that we've been making a lot of progress cleaning up and structuring the existing content so I want to keep going on that front. Obviously if documentation is missing it is what it is and it'll have to be dealt with, but for smaller optimizations I think it's worthwhile keeping thing

[2017-09-19 19:03] danny-andrews commented on #1597
Not at all. You comments made me realize the path I was suggesting would make setting up long-term caching *more* convoluted, not less. et. al:

I'll be tracking progress on this ticket: https://github.com/webpack/webpack/issues/4913#issuecomment-330103772.

Cheers!

[2017-09-19 22:01] skipjack commented on #1458
@mlcohen great write up, thanks! Is there any chance you'd be interested in submitting a PR to formalize some of those notes and resolve this issue?

[2017-09-19 23:00] mlcohen commented on #1458
@skipjack Yeah, I'd be happy to. I'll fit in time to work on it. It'd be helpful if @TheLarkInn and @sokra could go over what I wrote above just to make sure that it all makes sense 😊

[2017-09-20 00:05] skipjack commented on #1600
Thanks for reporting this @sapegin. This is one of those instances that would likely be fixed by switching to `remark` and simplifying/externalizing our parsing process. For the time being though I think it can be fixed by tweaking the README, I saw something similar recently. I'll look into it.

[2017-09-25 02:25] chagwood opened #1605 "Simple fix to resolve reloading issue"
If you follow your guide up to the section on webpack-dev-server, everything is great. But I came in after having already pieced my webpack.config.js file together. I could not for the life of my get the page to reload after updating a project asset. Webpack would re-compile but the page would not reload. After spending a while trying to figure it out, I discovered that if you are not requiring('p

[2017-09-25 16:18] skipjack commented on #1605
@chagwood I get what you're saying but I'm not sure how you're suggesting we update the guide...

The [hot module replacement guide](https://webpack.js.org/guides/hot-module-replacement/) already includes usage `output.path` in every example. Almost all, if not all, the other guides include it as well. Are you just suggesting that we highlight that it's usage more?

[2017-09-25 16:18] #1600 closed

[2017-09-25 16:58] chagwood commented on #1605
In the example it may include it, but I think it should be noted that if you're not using output.path, the automatic page reload won't occur.

webpack-dev-server would still recompile, but the changes would only be visible with a manual refresh of the page. I was only using output.filename with a relative path which worked fine with everything else I was doing with webpack. So on the surface it ap

[2017-09-25 16:58] #1605 closed

[2017-09-25 21:36] skipjack commented on #1605
Yeah I'd be fine with that and I'd suggest using our special warning syntax, e.g.

[code]

Feel free to PR that change if you have time.

[2017-09-26 06:34] webpack-bot opened #1607 "API - Document Adding Metadata via Loaders"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Loader chains are pretty much stateless, if a loader mutates content significantly but next loader needs some critical information (which is now tampered) to do it's thing, it'll have hard time.

**If the current behavior is a bug, please provide the steps to reproduce.**
NA

**What is the expected

[2017-09-26 20:30] geirsagberg commented on #995
@JounQin yeah you have to use node-style requires if you have `module` set to `es6` or `es2015`. No way around it as long as your `webpack.config.ts` is using the same `tsconfig.json` as your app code.

[2017-09-26 21:49] JounQin commented on #995
@geirsagberg I found a workaroud: move `tsconfig.json` into my `src` folder rather than cwd directly. That works for me😃.

[2017-09-27 20:00] TheLarkInn commented on #1458
I love what I see so far. This is really incredible work @mlcohen. Thank you for taking the time to document your experience learning so far. I think there maybe are a couple ways to split this up. I think I'm going to have some folks who have experience with webpack plugins, but not Resolver Plugins, leave some feedback and ask questions to clarify pieces that didn't make sense so that we can rea

[2017-09-27 21:01] mlcohen commented on #1458
@TheLarkInn Thanks for the feedback. Input from people who have experience with webpack's plugin architecture would be great.

I've actually been digging further into the `enhanced-resolve` library to get a more complete picture of what's going on. Specifically what each resolve plugin is really doing. Most of the plugins make sense. The only ones that were throwing me for a loop were those relate

[2017-09-28 13:18] TheDutchCoder commented on #1548
You could make a React component that takes and image source and then when scrolled into view (or some other boolean), lazy-loads the image and fades it in.

This would essentially defer the image fetch, because browsers normally identify `img` elements and give high priority to their sources, which could lead to a perceived slower connection.

Not loading images at all until they're needed might

[2017-10-03 17:00] TheLarkInn commented on #1458
That is _exactly_ what "concord" is. Important to note that the feature never fully was completed, (despite its plugins still being in enhanced-resolve).

[2017-10-03 23:14] aficiomaquinas opened #1616 "Web page throwing 502 Bad Gateway"
502 Bad Gateway
cloudflare-nginx
![screen shot 2017-10-03 at 6 13 37 pm](https://user-images.githubusercontent.com/304489/31153411-b3dd211e-a866-11e7-9dad-408e47abdff7.png)

[2017-10-04 00:32] #1616 closed

[2017-10-04 02:06] skipjack commented on #1458
@mlcohen once #1612 gets merged we should have a pretty stable base for the _API_ section of the site. If you're still interested in contributing, even if it's just to resolve this issue, I would be more than happy to discuss more.

@TheLarkInn you may want to take a look at #1612 as well. It tightens the content up a bit and allows a new `group` flag in the YAML frontmatter to group pages within

[2017-10-04 04:34] mlcohen commented on #1458
@skipjack Awesome. I was actually wondering where to put documentation that explains deep webpack internals like the `enhanced-resolve` library. In the current docs, the only section that seemed to make sense was under `/development`.

[2017-10-06 08:29] dmitriid commented on #995
For anyone still watching this issue, the config I provided no longer works. I have no idea what's broken and how to fix it, but you *will* end up with `error TS2307: Cannot find module 'react'`.

[2017-10-09 15:40] edmorley opened #1623 "Guides - Document NamedModulesPlugin in HMR"
Hi!

If I set up HMR by following the steps here:
https://webpack.js.org/plugins/hot-module-replacement-plugin/
https://webpack.js.org/guides/hot-module-replacement/

The resultant console output includes (seen both locally and in the guide example; [source](https://github.com/webpack/webpack/blob/v3.6.0/hot/log-apply-result.js#L36)):
[code]

Currently there doesn't appear to be any other document

[2017-10-09 21:33] skipjack commented on #1623
Yes I believe a new release of wds introduced that new hint recently. Would you be interested in submitting a PR to update the guide?

cc @TheDutchCoder

[2017-10-10 17:21] ohze opened #1627 "Guides - `Enabling Tree-shaking` Missing from TypeScript"
[Enabling Tree-shaking](https://github.com/webpack/webpack.js.org/blob/de7e5ffb2938a1edcc9a0e9fe3b370d7b97f7d6a/content/guides/webpack-and-typescript.md#enabling-tree-shaking) section not found ([in this tree](https://github.com/webpack/webpack.js.org/tree/99bf48d4a6)) after commit 99bf48d4a6

[2017-10-11 23:30] #1519 closed

[2017-10-12 05:10] VitaliySmolyakov opened #1633 "Style - Long line of code is not fully visible."
Hello.

If formatted line of code is long it not fit to paragraph and part of it is hidden. That happened with [entry type](https://webpack.js.org/configuration/entry-context/#entry) description.
![screenshot-2017-10-12 entry and context](https://user-images.githubusercontent.com/3756546/31480000-67ae369e-af45-11e7-8792-4145355bcbb3.png)

[2017-10-13 03:01] #1633 closed

[2017-10-13 03:07] skipjack commented on #1627
Thanks for bringing this up. I don't think that whole section needs needs to be added back but the example `tsconfig.json` should be use `es6` instead for the following options:

[code]

Would you be willing to submit a PR?

[2017-10-13 03:16] skipjack commented on #1627
And actually maybe just the second of those two things -- i.e. `"module": "es6"`. To enable tree-shaking you simply have to allow it to process `import` / `export` statements on its own (instead of having Babel or another transpiler handle them) and include the `UglifyJSPlugin`. The _Tree Shaking_ guide has more details but I think we should keep the _TypeScript_ guide as simple as possible.

[2017-10-13 19:10] dmitriid commented on #1627
Just checked, this is correct. You only need `module: es6`

[2017-10-13 19:13] skipjack commented on #1627
@dmitriid awesome, thank you. I will PR the change this weekend if no one beats me to it.

[2017-10-14 19:58] #1627 closed

[2017-10-16 06:04] webpack-bot opened #1645 "Config - Document Rule.issuer"
From you [docs](https://webpack.js.org/configuration/module/#rule-conditions):

So we have:
[code]

There is nothing for `issuer` in your reference. What properties belong to it? What is it for? What does `issuer` do?

---

This issue was moved from webpack/webpack#5829 by @sokra. Orginal issue was by @wzup.

[2017-10-16 06:06] webpack-bot opened #1646 "Config - Does resourceQuery belong to Rule.resource?"
[Rule.resourceQuery](https://webpack.js.org/configuration/module/#rule-resourcequery) :

And your example present only shortcut version.
[code]

Does `resourceQuery` belong to `Rule.resource`?
[code]

---

This issue was moved from webpack/webpack#5830 by @sokra. Orginal issue was by @wzup.

[2017-10-16 13:06] sokra commented on #1645
`resource`, `issuer`, `resourceQuery` and `compiler` can all have the same properties:

[code]

[2017-10-16 13:06] sokra commented on #1646
`resource` and `resourceQuery` are on the same level.

for `/path/to/file.js?123` => `resource: "/path/to/file.js", resourceQuery: "?123"`

[2017-10-17 03:55] skipjack commented on #1646
@sokra thanks for the clarification here and on #1645. I'll submit a pr soon to clarify these things.

[2017-10-17 03:56] skipjack commented on #90
I do think this makes more sense in the new _Contribute_ section. Will start working on a PR soon.

[2017-10-17 04:07] skipjack commented on #1458
@mlcohen #1612 is merged so if you wanted to start on a PR to resolve this issue that would be amazing.

Yeah the separation between our current sections should be a bit clearer now. For utilities like `enhanced-resolve` they could go into the _Contribute_ section I guess but it may make more sense to add another section like _Loaders_ and _Plugins_ where we dynamically pull the READMEs for utilit

[2017-10-17 12:15] #1623 closed

[2017-10-17 12:15] #1645 closed

[2017-10-17 12:15] #1646 closed

[2017-10-21 19:03] #1240 closed

[2017-10-24 02:16] #90 closed

[2017-10-24 02:23] skipjack commented on #1416
@TheDutchCoder you still interested in looking into this one? I saw you already had a related branch open... #1386 wouldn't be nearly as bad as #1258 if you have any time to get the ball rolling on it. The sections already fairly well organized, I think just a quick review and maybe some sorting should do the job.

@tanyagray are you still interested in working on the _Concepts_ section as well?

[2017-10-24 03:13] skipjack commented on #169
Ok dug into this a little bit since it seems to have gone inactive again...

I'm not sure when it was added but [this section](https://webpack.js.org/api/compiler/#event-hooks) seems to do exactly what you describe. The events are listed in order (as far as I can tell) with a description, callback parameters, and some details on how they relate to the other events. Maybe we can just flesh it out a

[2017-10-24 03:32] ugultopu commented on #552
@skipjack Nice warning. However, even the official [getting started guide](https://webpack.js.org/guides/getting-started) of webpack is mixing ES6 and CommonJS.

The getting started guide uses Lodash. I've checked out the source code of Lodash and as of version 4.17.4, it uses CommonJS exports.

However, the getting started guide is importing it using the ES6 module syntax. Personally, reading the

[2017-10-24 03:41] ugultopu opened #1670 "How are different module systems being used together?"
I couldn't find an explanation for this anywhere: Not in the docs, not on the web, anywhere.

For example, the official [getting started guide](https://webpack.js.org/guides/getting-started/) uses Lodash as an example library to import. The guide imports the library using the ES6 module syntax.

However, as of now, Lodash uses CommonJS module system to export stuff. I cannot understand how can web

[2017-10-24 16:41] jedwards1211 commented on #147
@SpaceK33z is there a way to only suppress warnings on a certain line?

I have server code that runs from webpack bundle in prod and straight from babel-node in dev, and I want to suppress the dynamic require warning only for this file:
[code]

[2017-10-25 12:49] TheDutchCoder commented on #1416
@skipjack Yeah sorry, life's a bit hectic right now with the little one coming, but I think I can make some time to finish this up.

I'll take a look at the other ones as well when I'm working on this one.

[2017-10-26 01:09] skipjack commented on #552
You're misinterpreting the warning. It's not referring to external libraries that your project consumes. It's referring to the local `/src` code within a project. As @wyuenho pointed out, webpack [advertises](https://webpack.js.org/concepts/modules/) the fact the it multiple [module syntaxes](https://webpack.js.org/api/module-methods/) are supported.

This makes it easy to still consume and utiliz

[2017-10-26 01:11] skipjack commented on #1670
Please see [my comment](https://github.com/webpack/webpack.js.org/issues/552#issuecomment-339519537) to your original question on #552.

The short answer is yes, webpack supports multiple syntaxes out of the box. See that comment for links to the pages that discuss which ones are supported.

[2017-10-26 01:11] #1670 closed

[2017-10-26 01:44] ugultopu commented on #552
@skipjack But how does webpack provide interoperability between different module systems? For example, what goes on behind the scenes when I import Lodash using ES6 module syntax? As we know, Lodash is a Node.js module written in CommonJS syntax. How does webpack provide interoperability between these two different module systems?

Is this documented anywhere? If yes, could you point me to the URL

[2017-10-26 01:51] skipjack commented on #552
Webpack essentially converts all these different syntaxes to a "webpack module definition" that provides interoperability and browser compatibility. For more details you'd have to read through the source code, though if you tweet @TheLarkInn he may be able to point you in the right direction.

[2017-10-26 02:37] TheDutchCoder commented on #1416
I created a PR for this, so if you can take a look and provide some feedback, then that would be awesome!

https://github.com/webpack/webpack.js.org/pull/1673

[2017-10-26 02:39] TheDutchCoder commented on #1386
Currently working on #1416 with PR #1673
Thanks for bringing this to our attention @tanyagray 👍

[2017-10-26 02:48] ugultopu commented on #552
Hi @TheLarkInn,

Sorry for interrupting but I can't wrap my mind around something. Let's say we are importing Lodash, which is an NPM package that uses CommonJS module syntax. We import Lodash using ES6 module syntax.

How does webpack handle the interoperability between these different module systems (CommonJS and ES6 modules)? What goes on behind the scenes?

Is there a section of the documentat

[2017-10-28 03:01] webpack-bot opened #1677 "Config - Clarify '-loader' Usage in resolveLoader"
**Do you want to request a *feature* or report a *bug*?**
It's a enhancement on document.

**What is the current behavior?**
Currently https://webpack.js.org/configuration/resolve/#resolveloader-moduleextensions has no preference on adding '-loader'.

**What is the expected behavior?**
Updating the https://webpack.js.org/configuration/resolve/#resolveloader-moduleextensions document to not recomme

[2017-10-29 03:33] #1268 closed

[2017-10-29 16:09] #1677 closed

[2017-10-30 17:23] f-w opened #1682 "Document webpack-hot-middleware"
In [HMR guides for Node.js API](https://webpack.js.org/guides/hot-module-replacement/#via-the-node-js-api), code example uses webpack-dev-server. But typically in such case there is a reason to use an existing Node.js web server other than webpack-dev-server, which is what webpack-dev-middleware is designed for. I think it makes more sense to document how to enable HMR in webpack-dev-middleware, f

[2017-11-01 04:02] #1416 closed

[2017-11-02 21:07] TheLarkInn commented on #552
Ah Sorry for not noticing these (catching up with email debt). The best way to see how the interop works is looking at the webpack runtime code. But it's hard for me to specifically describe the interop in words.

[2017-11-02 21:12] wyuenho commented on #552
Reading webpack’s code also pretty hard LOL

[2017-11-02 21:39] ugultopu commented on #552
@TheLarkInn Are there any particular files that you can recommend reading in the runtime's source code?

[2017-11-03 04:28] skipjack commented on #1682
I'd recommend adding this as a tip. We want to keep the guides fairly simple and I think fleshing out a whole section on this would convolute the guide a bit as `webpack-dev-server` works fine for most users (especially the more amateur users that these guides are directed toward).

How about something like this using our custom blockquote syntax for tips (i.e. `T>`):

[code]

[2017-11-03 04:33] skipjack commented on #169
Ok I'm going to close this out as it's become fairly inactive but I'll keep in mind the idea I mentioned about refactoring that table into a separate "Lifecycle" page as we continue to clean up the _API_ section. If someone has time and would like to flesh it out, please drop a comment here and feel free to submit a PR.

[2017-11-03 04:33] #169 closed

[2017-11-05 05:37] #1682 closed

[2017-11-06 22:51] TheLarkInn commented on #552
There are a few! However, it is a little broken up across multiple files. I think the best way is to create a bundle and read that generated code. Or see the "/examples" folder in webpack/webpack GitHub repo.

[2017-11-10 20:08] JoshuaKGoldberg opened #1695 "Plugins - IgnorePlugin Docs Are Sparse"
https://webpack.js.org/plugins/ignore-plugin/

There's only one example. Can we get more, such as for using global React+ReactDOM+ReactDOMServer?

[2017-11-10 21:38] skipjack commented on #1695
You're right that it isn't a very long page but the [plugin](https://github.com/webpack/webpack/blob/24ef6ea1b56b358caeb4b07476a909f4f86c2d8a/lib/IgnorePlugin.js) itself is under 100 lines including comments and usage is pretty straightforward, all parameters are documented, and a simple example is given so I'm not really sure this is an issue. That said, you'd be welcome to submit a PR to add ano

[2017-11-10 21:38] #1695 closed

[2017-11-10 21:43] skipjack commented on #1695
Btw, I'm not sure ignoring globals is a common use case for this plugin. It ignores module requests, e.g. `import` or `require`. I think [`externals`](https://webpack.js.org/configuration/externals) is more commonly used for what you're referring to.

[2017-11-11 09:32] fuchao2012 commented on #126
@TheLarkInn I can also find this "hints" on [Webpack Analyse tools](http://webpack.github.io/analyse/#hints) which is said:

## Long module build chains

Use prefetching to increase build performance. Prefetch a module from the middle of the chain.

[2017-11-12 20:48] #1607 closed

[2017-11-13 15:27] stereokai opened #1699 "API - Delineate and Elaborate on Dynamic Expressions"
I searched and searched but couldn't find any mention of this feature in the new website.

https://webpack.github.io/docs/context.html

It speaks of *dynamic imports*:
[code]

So I was wondering first of all - is that on purpose? ie. is this feature deprecated? If not, and if it really isn't in the docs, then I can start a PR for updating the docs with this useful information.

[2017-11-14 01:50] skipjack commented on #1699
So I searched "dynamic imports" and results do pop up for the _Code Splitting_ guide:

![image](https://user-images.githubusercontent.com/8988697/32755859-3807911e-c8a5-11e7-853f-79ea3d3032ae.png)

Which is one useful place to look. That guide also links to the [Module Methods](https://webpack.js.org/api/module-methods/#import-) which contains even more detail on dynamic imports.

To answer your q

[2017-11-14 10:36] stereokai commented on #1699
@skipjack Have you looked inside that "Dynamic Imports" page? It's talking about code-splitting. I.e., "dynamically importing a chunk", not expressions in the `require` or `import` calls.

This in and of itself points to a broader problem in the webpack world, that there are 2 features with the same name. One dynamic imports is means splitting the codebase and loading a chunk on-demand during runt

[2017-11-14 13:49] skipjack commented on #1699
Fair points.

You're right, I am familiar with that page but only skimmed it yesterday when answering to see if it contained a link to the [`import()` docs](https://webpack.js.org/api/module-methods/#import-).

Dynamic importing, not only in webpack but in the community as far as I've seen, commonly refers to three things actually:

- Loading a module and its dependencies at runtime (_Lazy Loading

[2017-11-15 11:27] LeBenLeBen opened #1703 "Guides - Entry Array when Authoring Libraries"
I used the [Authoring Libraries](https://webpack.js.org/guides/author-libraries/) guide to export a library today. I got stuck for quite a long time understanding why my library would export nothing and this was caused by my entry point looking like this:

[code]

The compiler didn’t throw any error but the resulting library was just an empty object. I was wondering if this would be worth mentioni

[2017-11-17 17:45] TheLarkInn opened #1706 "webpack v4 migration guide and feature additions"
Hey docs team and all of our beloved contributors!!!!

We are getting close to merge webpack/webpack#next (v4) into master soon and we have drafted a WIP change log and this means we can start laying the ground work and documentation for our migration guide and other changes!

Listed is the link to the changelog:

https://github.com/webpack/webpack/wiki/Changelog-WIP

I'd give you ownership to bre

[2017-11-18 00:00] rouzbeh84 commented on #1703
This may be oversimplifying it but would something like whats below work?

[code]

[2017-11-18 04:13] skipjack commented on #1703
We should mention it both in the guide and the configuration docs.

The problem with an array is that it's not clear what the default export should be. As @rouzbeh84 pointed out, an object might work along with the syntax specified here: webpack/webpack#221. It looks like [`libraryExport`](https://webpack.js.org/configuration/output/#output-libraryexport) may be an option as well.

That said, in y

[2017-11-18 04:19] skipjack commented on #1699
@stereokai are you still interested in submitting a PR?

[2017-11-19 11:01] stereokai commented on #1699
Yes, I took a few days off due to sickness. Definitely want to start working on it this week

[2017-11-19 18:43] skipjack commented on #1505
This seems pretty related to #1458 and @mlcohen's [description of resolvers](https://github.com/webpack/webpack.js.org/issues/1458#issuecomment-330445790) and the [enhanced-resolve](https://github.com/webpack/enhanced-resolve) package. @mlcohen I've dug into this a bit more the over the last day or two and here's what I think we should do:

- [ ] Submit a PR to the `enhanced-resolve` package's REA

[2017-11-21 16:41] idkjs opened #1712 "Asset Management Demo in Docs - Images not rendering"
I'm going through the Asset Management walkthrough and not getting the expected output. I get a broken image and no background as expected.

This is the rendered image output in firefox.
https://screenshots.firefox.com/0AavWn4o1Y2aCOvG/null

This is [webpack.config.js gist](https://gist.github.com/idkjs/7acb4548332d3ea191e506c5e2f03685)

 This is the directory

[code]

- Package.json [gist](https:

[2017-11-22 03:17] skipjack commented on #1712
The issue seems to be that you specified the `.jpeg` extension on `paris.jpeg` but in your config you only handle `.jpg`s (i.e. `/\.(png|svg|jpg|gif)$/` => `/\.(png|svg|jpeg|gif)$/` or `/\.(png|svg|jpe?g|gif)$/` or just update the extension on the file. Btw, this isn't really a support channel -- stack overflow or the webpack/webpack gitter channel is a better place for these types of questions.

[2017-11-22 03:17] #1712 closed

[2017-11-22 03:19] skipjack commented on #1712
The `.png` does look like it's being processed and emitted so if that's the one that's failing I'm not sure what's going on. We would need access to the full example to debug and reproduce.

[2017-11-22 09:04] idkjs commented on #1712
Figured this was a docs issue so posted here. Here is the repo which i think duplicates the docs example with 2 exceptions. The docs run build output says its using webpack 2.6.1 instead of the latest and my script ref in index.html is `./dist/bundle.js` instead of of `bundle.js`. Didnt work with bundle.js.

full test repo https://github.com/idkjs/webpack.org.js-docs-demo

[2017-11-24 05:29] skipjack commented on #1712
Try putting your `index.html` file within `/dist` as shown at the [end](https://webpack.js.org/guides/getting-started/#conclusion) of _Getting Started. Change the script `src` to `src="/bundle.js"` or `src="bundle.js"` as shown in _Getting Started_. If you use the absolute path, you should be using something like [http-server](https://www.npmjs.com/package/http-server) to serve the site instead of

[2017-11-24 08:40] idkjs commented on #1712
@skipjack thank you, sir. Somehow missed that change in [creating a bundle](https://webpack.js.org/guides/getting-started/#creating-a-bundle). I appreciate your seasoned eyes and patience. Thanks again.

[2017-11-25 16:34] skipjack commented on #1145
@johnnyreilly so actually it probably makes more sense to just here...

So as a quick walkthrough for the existing guides they basically all follow this structure:

- Use a simpler guide as a base so you don't have to re-document a bunch of setup.
- Include full `diff` blocks in each section so it's crystal clear what is changing.
- Finish up with a simple conclusion that re-iterates what's been d

[2017-11-26 14:44] johnnyreilly commented on #1145
Thanks for this @skipjack - I'll try and take a look at this soon. Pointers appreciated - I may well have questions along the way!

[2017-11-28 09:54] dantesolis commented on #1458
Hey guys, could I take this issue? Is it about writing documentation or?
Thanks.

[2017-11-28 15:48] brutalcrozt opened #1718 "Drop support development on node 6.x.x"
- [x] Check the current issues to ensure you aren't creating a duplicate.
- [x] Consider making small typo fixes and such directly as pull requests.
- [x] No existing issue? Go ahead and open a new one.

I use debian, and i try install dev dep when using 6.11.4, but it yell
[code]
Then i try use v7.10.1 , but it error so i try `npm rebuild node-sass --force` since i found it on error log (without

[2017-11-29 04:00] skipjack commented on #1718
None of the core maintainers use Debian as far as I know. We did have one person report an issue a while back either on Ubuntu or Debian but I'm not sure we ever reached a resolution. I don't think we'll be able to officially support it as most of us can't test on it...

That said, let me try to address the issues you're seeing:

These are known and due to the `worker-loader`s `README` which we pu

[2017-11-29 04:00] #1718 closed

[2017-11-29 04:06] skipjack commented on #1718
See webpack-contrib/worker-loader#112 for the fix to the `Prism does not support this language:  ts` build warnings.

[2017-11-29 18:54] brutalcrozt commented on #1718
Thanks for your work jack.

So do i-- since i use nvm, I just switch to v7.x.x .

Basically, it's not an answer but a note.
`Note that on debian derivative, use node >= 7.0.0 to avoid unnecessary problem.`
Did you find it's worth doing and acceptable?

[2017-11-29 19:02] skipjack commented on #1718
Yeah I think it's worth doing. I would add it as another blockquote under the two that are already at the bottom of the __Setup__ section:

![image](https://user-images.githubusercontent.com/8988697/33393427-2faf8f7a-d50d-11e7-9e2d-54e41fc6f493.png)

I would elaborate what you had to something like:

[2017-11-29 19:05] skipjack commented on #1458
@dantesolis thanks for volunteering. You should discuss with @mlcohen as I think they were planning on picking this up. If not, we'd be more than happy if you took a stab at it! @mlcohen wrote a summary of how things work above.

Yep, it would just consist of some updates on one of the pages in the __API__ section of the site.

[2017-11-29 19:22] brutalcrozt commented on #1718
Sorry, still questioning.

Why use "of node greater than `v7.0.0`" instead of ">= `v7.0.0`"?

[2017-11-29 19:23] skipjack commented on #1718
That way is fine too and yeah I guess it's a bit more clear what the semver range is.

[2017-11-29 20:10] jbasrai opened #1722 "Styles are broken?"
When I open the page, the styles are broken for me:

![screen shot 2017-11-29 at 12 09 09 pm](https://user-images.githubusercontent.com/5355316/33396699-393d366e-d4fe-11e7-95e2-21f7a1b442cf.png)

Looks like they can't be loaded? Anyone else seeing this?

[2017-11-29 21:18] #1722 closed

[2017-11-29 21:18] jbasrai commented on #1722
nvm

[2017-11-29 23:40] RinkAttendant6 commented on #1239
Is it possible to merge the two sites and have a version dropdown similar to https://getbootstrap.com/ (Bootstrap) or Zend Framework (https://framework.zend.com/manual/2.4/en/index.html)? If so then the old site can be changed to redirect to the new site.

I'm just getting started with Webpack and need to refer to the docs quite often... it's frustrating to land on the old site frequently as there

[2017-11-30 13:01] dantesolis commented on #1458
@skipjack what is the best way to get in touch  with @mlcohen, email or just via here? Thanks.

[2017-11-30 15:53] mlcohen commented on #1458
@dantesolis Hi! Apologies for the late response. Yes, if you'd like to take on writing docs for the enhanced-resolved library, please feel free. I unfortunately haven't had a chance to get around to doing it myself :(

[2017-12-01 07:04] dantesolis commented on #1458
@mlcohen thanks this would be my first contribution, where would be a good place to start? Thanks

[2017-12-01 19:49] hswolff opened #1723 "Missing .css asset on deployed page"
Howdy! Seems the website is missing a .css asset which is causing a broken page.

Currently looks like this:
![image](https://user-images.githubusercontent.com/322576/33500444-ce956aca-d6a6-11e7-82ee-676124c3c582.png)

Let me know how else I can help!

[2017-12-01 19:57] hhsnopek commented on #1723
The asset: `https://webpack.js.org/acd2001274306f1e8b40.css` is not resolving. The hash/filename is updated here: bf53cc0

Note: The missing file is present - [gh-pages/acd2001274306f1e8b40.css](https://github.com/webpack/webpack.js.org/blob/gh-pages/acd2001274306f1e8b40.css)

[2017-12-01 20:16] skipjack commented on #1723
Thanks for alerting us. We are aware of this issue but it's somewhat unavoidable in our current build/deployment process. See the following TODO in #1525:

It happens occasionally when updates are being deployed. Try the site again -- I just tried and it loaded fine (even after emptying the cache). Sorry I don't have a better answer but we're aware of the issue and are cleaning up the infrastructu

[2017-12-01 20:16] #1723 closed

[2017-12-01 20:20] hswolff commented on #1723
No worries, appreciate the followup.

FYI I just tried the site again, including clearing my cache, and still see the same issue.

Perhaps it needs a re-deploy to kick it back into a working state?

[2017-12-01 20:26] skipjack commented on #1723
Hmmm weird, I'll test this out more over the weekend. I'm definitely seeing all 200s in chrome's network tab. Can you try with another browser to make sure it's not a caching issue?

![image](https://user-images.githubusercontent.com/8988697/33501809-f139fbf4-d6ab-11e7-8acf-b2052ac83ec6.png)

[2017-12-01 20:29] hswolff commented on #1723
Just tried Firefox, same thing.

![image](https://user-images.githubusercontent.com/322576/33501938-4b272344-d6ac-11e7-9b73-e90e1d234c33.png)

Also co-workers see it at a different internet connection.

FYI this is out of NYC area.

[2017-12-01 20:44] hswolff commented on #1723
....and it appears to be working now. Thank you for your patience!

[2017-12-01 20:47] hhsnopek commented on #1723
@skipjack https://webpack-js-org.netlify.com/
All that needs to happen is pointing DNS at Netlify and giving access to users 😄

[2017-12-02 04:16] skipjack commented on #1239
This would be great, and is something we definitely want to do for future releases but would take a significant amount of work to accomplish for v1. Even if we had a system set up to archive content at the latest major and switch content using a dropdown, we'd still have to port all the old content to the same general structure of this site and then archive it. This may not be too bad but I'm not

[2017-12-02 04:20] skipjack commented on #1239
Btw we do have a TODO for archiving versions of content in #1525:

This would likely follow a similar flow to lodash where the last version of each major is archived and accessible via a dropdown. If someone wanted to propose an approach and submit a PR, we would definitely help facilitate. Otherwise, we'll try to get to it after some other infrastructure work is completed.

[2017-12-02 04:24] skipjack commented on #1458
@dantesolis see @mlcohen's [detailed comment](https://github.com/webpack/webpack.js.org/issues/1458#issuecomment-330445790) above and my [short comment]() on #1505. It's really the first and last points in that checklist that relate to this site (and I can help with the first). Those should give you some background and a good starting point. Feel free to ping me if you have any questions (either h

[2017-12-02 04:45] skipjack commented on #1723
Haha yea I think the main issue is that it takes some time for the new content to be distributed through GitHub's CDN or something.

Awesome, thanks for the email and for setting that up. I'll take a look at it more this weekend and discuss with the other maintainers. Someone had mentioned it previously as a more scalable alternative but I hadn't had time to dig into it.

[2017-12-05 04:28] skipjack commented on #1703
I found something related but still nothing that indicates support for arrays:

https://github.com/webpack/webpack/tree/master/examples/multi-part-library

My guess is that with entry arrays, webpack will correctly build a bundle containing all the code but none of that code will be exposed correctly. I'm not seeing any syntax for `library` or `libraryExport` that would allow exposing the individu

[2017-12-05 09:50] cpxPratik opened #1726 "Config - Clarify Externals Documentation"
In the documentation `externals` configuration option [here](https://webpack.js.org/configuration/externals/),  giving only example of `jquery` was confusing. For example, I thought to exclude 'vue-i18n'  package, i need to specify as `'vue-i18n': 'VueI18n'` while consumer app importing with `import VueI18n from 'vue-i18n'`. But actually  correct property-value pair turned out to be `'vue-i18n': '

[2017-12-06 01:38] skipjack commented on #1726
I see what you mean and I've run into this as well. I'm submitting a PR which, aside from some general formatting cleanup, elaborates on the __string__ documentation to make it clear that the property name is the externalized module and the value is what's used to retrieve the global variable.

[2017-12-06 04:18] #1703 closed

[2017-12-06 05:07] #1726 closed

[2017-12-06 05:21] skipjack commented on #1699
@stereokai any progress on this? Happy to help if I can...

[2017-12-06 05:58] #116 closed

[2017-12-06 05:58] #449 closed

[2017-12-06 09:48] stereokai commented on #1699
@skipjack Hey, thanks! I've been busy, but I will take care of it before the new year :)

[2017-12-08 14:17] youta1119 opened #1735 "Config - TypeScript Setup Failing in Configuration Languages"
Need Update how to write the webpack configuration with typescript. Current configuration is wrong.
ts-node dosenot  support the module syntax of other than commonjs module.
So, if module in compilerOptions in tsconfig.json is not commonjs, webpack getting error. like this.

[code]
https://webpack.js.org/configuration/configuration-languages/#typescript

[2017-12-08 14:33] skipjack commented on #1735
@youta1119 thanks for reporting this. If you know what the fix is please submit a PR.

cc @dmitriid

[2017-12-08 14:40] dmitriid commented on #1735
I haven't worked wit ts-node, but I wonder if it silently compiles TypeScript to JavaScript and then executes it in node.js.

Since node.js doesn't support `import ...` constructs, it's possible that you need to do the following:

In your `tsconfig.json` add/change the following:

- remove `module` setting, if it's there. Or change it to "CommonJS"
- add/change:

[code]

I can't check it right now

[2017-12-08 14:43] youta1119 commented on #1735
@skipjack I was send pull request at #1734

[2017-12-08 14:59] skipjack commented on #1735
@youta1119 great, I'll take a look at it tonight.

@dmitriid thanks for the quick response. If you have time to review that PR, I'd appreciate it.

[2017-12-08 21:31] TheLarkInn opened #1736 "Concepts - Document Language Extension"
This is a stub for another potential contributor to document some of their existing painpoints and lack of docs for understanding how to switch from a system like gulp without modules, etc => using modules, webpack, why, and how.

[2017-12-08 21:54] c-johnson commented on #1736
The specific thing I was unclear about was that Webpack is an _extension of the Javascript language itself_, IE, a "complier", and not simply a build tool that you can swap out for other build tools like Gulp, Grunt, Browserify, etc.

Specifically, the import extensions for CSS, images, and other static assets are not part of Javascript at all. They're extra features that Webpack adds that will br

[2017-12-08 22:42] skipjack commented on #1736
Yeah I think a paragraph on this in the __Concepts__ documentation, probably on the [index page](https://webpack.js.org/concepts/) would suffice.

Yep, at least from an `import` standpoint it is an extension for JavaScript. Webpack does force you to add a loader for anything besides `js` and `json` so I guess that's why most developers recognize that it's an extension but I think you're right that

[2017-12-09 01:06] TheLarkInn commented on #1736
These are great observations! @skipjack I think there's a great story here
for guides and concepts. Maybe we cover the hot points.

On Fri, Dec 8, 2017, 2:42 PM Greg Venech <notifications@github.com> wrote:

[2017-12-09 05:47] johnnyreilly commented on #1145
I'm working on this right now @skipjack - (WIP [here](https://github.com/johnnyreilly/webpack.js.org)).  I'll send a PR hopefully within the next week or so.  Feel free to mark this as in progress and assign me.

BTW Do you have an idea when you might publish the Medium post I wrote? https://medium.com/@johnny_reilly/148f43e142f9

[2017-12-09 19:35] skipjack commented on #1145
Fantastic, thanks again for your help on this.

Just sent you a collaborator invite, once you accept I'd be happy to assign you.

Not sure, I don't really manage the Medium content but I'll ping @TheLarkInn and ask him to take a look.

[2017-12-09 22:35] johnnyreilly commented on #1145
Cool - thanks!

[2017-12-11 03:00] #1736 closed

[2017-12-11 03:01] #1735 closed

[2017-12-11 15:56] Kielan commented on #147
@SpaceK33z please update documentation reference link

[2017-12-11 18:14] skipjack commented on #147
@Kielan here you go:

https://webpack.js.org/configuration/stats/

[2017-12-13 07:47] slurps-mad-rips opened #1741 "Guides - Inline vs Extracted CSS in Asset Management"
I'm fairly new to webpack (and frontend development in general). I had read in the Asset Management section of the guide that `css-loader` and `style-loader` are needed for using CSS, and was surprised to learn that they are then placed into the `bundle.js` file (or similar). I later asked @TheLarkInn during a twitch stream as to why this is the case. I was informed that webpack doesn't actually r

[2017-12-13 17:54] webpack-bot opened #1743 "Guides - Fix Erroneous Diff in Output Management"
**Do you want to request a *feature* or report a *bug*?**
problem in Documentation > Guides

**What is the current behavior?**
the ["Output Management" guide](https://webpack.js.org/guides/output-management/) is a continuation of the previous ["Asset Management" guide](https://webpack.js.org/guides/asset-management/) but the first modification of webpack.config.js is not showing the proper diff fo

[2017-12-13 18:01] skipjack commented on #1743
@JGJP thanks for reporting, could you submit a pull request to resolve this?

[2017-12-14 04:27] JGJP commented on #1743
No problem, will do.

[2017-12-14 19:26] TheLarkInn opened #1746 "Add guides on using webpack with x"
There is a great article that @maecapozzi has written found [here](https://code.likeagirl.io/how-to-set-up-d3-js-with-webpack-and-babel-7bd3f5e20df7) that covers how to use webpack with d3!

There are some small nits that I'd make that we can address when the PR comes in. This issue can be for:

* Adding the article!!!
  * I have talked with @maecapozzi who expressed the interest in adding this in

[2017-12-14 22:21] skipjack commented on #1746
Respectfully, I still strongly disagree with doing this as I've mentioned when it's come up before (e.g. #1394). There are still glaring holes in big parts of our documentation like the __API__ section and a lengthy checklist of dev todos that need to get done (see #1525).

On top of that, I really don't see the need for creating more guides to maintain that don't provide too much value. If you've

[2017-12-14 22:21] #1746 closed

[2017-12-14 23:00] #1743 closed

[2017-12-15 05:06] skipjack commented on #1741
There is a small note about at the end of that section:

![image](https://user-images.githubusercontent.com/8988697/34027400-728bf9ae-e12a-11e7-97b5-399179c2428d.png)

That links to the `ExtractTextPlugin` which has a good tutorial and notes that:

To answer your question though, it basically comes down to _development_ vs. _production_. Inlining the CSS on a per module basis works better with hot

[2017-12-15 18:35] brutalcrozt opened #1748 "SEO - HTML in Google Search Description"
quick look:
![webpack unwanted issue](https://user-images.githubusercontent.com/3001652/34055254-f869ec9e-e200-11e7-9628-63f3788c7b86.png)

i am on learning state, would be more than happy to know how to resolve this one.

[2017-12-15 18:38] pierreneter commented on #1748
Can I know what keyword you are using?

[2017-12-15 18:40] brutalcrozt commented on #1748
keyword: webpack.js.org , yeah i see it differ one with the other.

[2017-12-15 20:16] skipjack commented on #1748
I'm not sure how much we can do about this outside of actually changing the content on that page. The `meta` description tag looks correct:

![image](https://user-images.githubusercontent.com/8988697/34058970-f83f0ce6-e1aa-11e7-8096-6f2d764b9b13.png)

[2017-12-17 09:02] duncanawoods opened #1752 "Bug - Blurry SVG Text on Firefox 57.0.2 (64-bit) Win10"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

![image](https://user-images.githubusercontent.com/2480457/34077967-2a48b4b8-e308-11e7-9d1e-9d5d15dfa3c1.png)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

Legible text.

**If this is a feature request, what is motivation or use cas

[2017-12-17 15:31] ev1stensberg commented on #1145
@johnnyreilly Would you be interested in creating a `´webpack-addons pwa`? See https://github.com/webpack/webpack-cli/issues/101

[2017-12-17 17:38] johnnyreilly commented on #1145
@ev1stensberg I'm afraid I'm not sure I know what you mean. I've read the linked issue but that hasn't clued me up sufficiently. Could you elaborate please?

[2017-12-17 20:41] skipjack commented on #1748
I found a [decent article](https://www.firstscribe.com/google-change-title-description-search-results/) on the topic but I'm realizing why the hits are coming back that way:

![image](https://user-images.githubusercontent.com/8988697/34083512-eac9f602-e33f-11e7-9309-c3401098fa36.png)

It's the `webpack` and `.js` in `webpack.js.org` that it's trying to find hits on (you can see a bunch are bold).

[2017-12-17 20:41] #1748 closed

[2017-12-17 20:50] skipjack commented on #1752
I also tried zooming in and out to see if that was the cause but it still seemed crisp at all levels.

[2017-12-18 04:47] #1145 closed

[2017-12-18 07:07] duncanawoods commented on #1752
Extra info:
* opening just the svg file in Firefox shows the same text rendering problem
* 100% zoom - expanding window (stretching svg) does not improve it
* error in console - opencollective.com - Failed to load resource: the server responded with a status of 403()
* disabling uBlockorigin, ghostery does not change appearance
* Looks fine in Chrome
* Looks fine Inkscape
* Edge has some different

[2017-12-18 09:54] ev1stensberg commented on #1145
@johnnyreilly Sure! To make it short: what we'd like, is a scaffold for a PWA that would help people get started fast with PWA's and with best practises,

I can help you to get to know the scaffolding system if you're up for the task 👍

[2017-12-18 10:19] johnnyreilly commented on #1145
@ev1stensberg I'd be interested in learning more about what's involved. I can't say right now that I'll definitely have time for this but I'd certainly consider it if you have the time to take me through the scaffolding system.

[2017-12-18 12:58] ev1stensberg commented on #1145
@johnnyreilly Definitely! Would it be okay if we schedule this after christmas?

[2017-12-18 14:11] johnnyreilly commented on #1145
Fine with me!

[2017-12-18 16:45] pierreneter commented on #1752
@skipjack Confirmed for this issue is exist on Windows

[2017-12-18 17:09] pierreneter commented on #1752
- The more straightforward way is to convert this background to `png` format files with a maximum width of `1024px` and use `img srcset` if needed.
- Or we can re-export that `svg` file from the original file so that it retains the text and font and does not convert it to a path. (I do not know about this possible or not?!)

[2017-12-18 17:21] pierreneter commented on #1752
@skipjack I can't find the original file at https://github.com/webpack/media and https://github.com/skipjack/webpack-design to try to do the option 2.
But I vote for option 1.

[2017-12-19 03:50] #1741 closed

[2017-12-19 04:00] skipjack commented on #1752
@duncanawoods thanks for the additional details and @pierreneter thanks for digging into it and confirming.

Yeah I think there was a reason we used an SVG in the first place, probably for size and I think it typically renders a bit crisper as a vector but looking at the file again I see what @duncanawoods means re the filters.

Yeah I'm not sure I have it either. It was created by @pastelsky (pin

[2017-12-19 13:49] davidrios opened #1758 "Dev - Retain Page Order in Mobile Sidebar"
Hi,

The side menu items of the documentation pages (https://webpack.js.org/concepts/) have differing order between desktop and mobile:

Desktop:

- Concepts
- Entry Points
- Output
- Loaders
- Plugins
- Configuration
- Modules
- Module Resolution
- Dependency Graph
- Targets
- The Manifest
- Hot Module Replacement

Mobile:

- Concepts
- Configuration
- Dependency Graph
- Entry Points
- Hot Module

[2017-12-20 03:40] #1758 closed

[2017-12-22 22:52] skipjack commented on #1752
Weird tested it out on Firefox 57 on Windows 10 in BrowserStack and couldn't replicate:

![image](https://user-images.githubusercontent.com/8988697/34314298-245f7d98-e740-11e7-8288-d64a62b53b53.png)

@pierreneter in terms of those two options I think maybe I can just rebuild the SVG in sketch so we have a stable copy. Then we can be a little more careful when minimizing to prevent any oddities suc

[2017-12-23 06:07] skipjack commented on #1752
Ok rebuilt and cleaned things up a little while I was at it. The following zip contains the `.sketch` file as well as an exported `.svg`...

[visualization.zip](https://github.com/webpack/webpack.js.org/files/1583911/visualization.zip)

Can you both take a look and 🙏  test to see if it looks any better?

[2017-12-23 07:09] pierreneter commented on #1752
I think `BrowserStack` don't directly interact with the native device that is a reason why you can't reproduce it. New `svg` file in this zip work ok. But we need the font: `Quicksand-Medium, Quicksand` for this work.

[2017-12-23 07:28] pierreneter commented on #1752
And `Avenir-Heavy, Avenir`

[2017-12-23 07:29] pierreneter commented on #1752
Or simply use our current font on the web for this `svg` file

[2017-12-24 05:51] skipjack commented on #1752
Yep my bad, tried to match the the previous one but forgot that with text nodes we'd actually have to include the font. Will update and post a new zip momentarily.

[2017-12-24 06:06] skipjack commented on #1752
Here you go (fixed some casing issues as well):

[updated-viz.zip](https://github.com/webpack/webpack.js.org/files/1584642/updated-viz.zip)

Everything in there is now "Source Sans Pro" which should already be loaded by the site.

[2017-12-26 09:18] duncanawoods commented on #1752
We need an html file to host it in to give feedback. I used this:

[code]

Differences include size, margins, colour of boxes and it doesn't look like its picking up the font but does look the same as in Chrome!

![image](https://user-images.githubusercontent.com/2480457/34352993-951079ea-ea1d-11e7-9e07-831061afc798.png)

[2017-12-26 09:44] duncanawoods commented on #1752
btw something unrelated but when I return to the webpack homepage after being away for some duration... the spinning cube catches up with all the spins it has missed since the tab has not had focus i.e. it goes nuts for a while.

[2017-12-27 17:18] skipjack commented on #1752
Ok I'll make sure to double check it when testing #1762.

Haha yeah I'm aware of this minor bug with the cube. I wasn't sure how to fix that when I initially wrote the `Cube` component but maybe clearing the `timeout` on `blur` of the whole window and resetting it on focus would resolve that. Not a high priority in my opinion but I gladly welcome a pull request if you wanted to play around with it

[2017-12-27 19:13] #1752 closed

[2018-01-03 09:29] yangxiaolin commented on #1222
in webpack doc[here](https://webpack.js.org/guides/environment-variables/)
`Setting up your env variable without assignment, --env.production sets --env.production to true by default. There are also other syntaxes that you can use`

[2018-01-04 06:02] Lutece opened #1772 "Questions about translation"
In the `docs`, it was confirmed that the loader contents and plugin contents are created in the 'generated' folder through the script(init:generated & .antwar.config.js) . During this process, I found that the content(loaders and plugins content in generated folder) was deleted and re-created. I do not know how to proceed with the translation of `loader` and` plugin`.

[2018-01-04 06:48] lcxfs1991 commented on #1772
Please refer to this branch.
https://github.com/webpack/webpack.js.org/tree/translation

[2018-01-04 06:49] lcxfs1991 commented on #1772
webpack-china has solid practise on translating webpack docs.

[2018-01-05 03:05] Lutece commented on #1772
Thanks! @lcxfs1991 👍

[2018-01-05 03:05] #1772 closed

[2018-01-07 06:27] skipjack commented on #469
Working on porting to `remark` now (and a variety of other things) on the `rebuild` branch. And... looks like somebody beat us to the chase with a `remark-mermaid` [plugin](https://github.com/temando/remark-mermaid)! I'll install and test it out on that branch.

[2018-01-08 22:34] avesus commented on #1268
`this`?

[2018-01-08 22:36] avesus commented on #1268
[code]

[2018-01-11 01:30] xiewl opened #1780 "Website certificate expired"
<img width="532" alt="qq20180111-093015 2x" src="https://user-images.githubusercontent.com/15881722/34804158-148f759a-f6b2-11e7-9363-43828577c3b9.png">

[2018-01-11 01:39] skipjack commented on #1780
Wrong site, this is the main repo... please create an issue at the [chinese repo](https://github.com/webpack-china/webpack.js.org).

[2018-01-11 01:39] #1780 closed

[2018-01-11 07:42] cyrilchapon opened #1782 "Guides - Tweak Code Splitting to Extract Boilerplate"
Expanding on https://github.com/webpack/webpack.js.org/issues/1333

[This page](https://webpack.js.org/guides/caching/#extracting-boilerplate) states that

This is actually incorrect. It extracts "what we want" (ie. the webpack boilerplate, in this section called "extracting webpack boilerplate"), indeed by *"specifying a name not mentioned in the entry configuration"*, but only along with ***"cre

[2018-01-11 08:20] cyrilchapon commented on #1782
More found [here](https://webpack.js.org/plugins/commons-chunk-plugin/#combining-implicit-common-vendor-chunks-and-manifest-file), but the piece of information is parasited with the `node_modules` conditional stuff.

Copy-pasting that example would lead in a `manifest.js` free from **vendor** code, but not free from entry-common code like

index1.js
[code]

index2.js
[code]

`mylib.js` is thus ins

[2018-01-13 08:43] dear-lizhihua opened #1784 "src/content/branding.md"
品牌指南

[2018-01-13 08:44] #1784 closed

[2018-01-13 08:45] dear-lizhihua commented on #1784
oh, very sorry.

[2018-01-13 14:34] lcxfs1991 opened #1786 "The docs is too huge to load and maintain"
![image](https://user-images.githubusercontent.com/3348398/34907081-1ab0599a-f8b4-11e7-8352-9c6220f5da03.png)

![image](https://user-images.githubusercontent.com/3348398/34906933-b484390e-f8b1-11e7-93a6-309f94f2b040.png)

I think it is due to recent change. But it would be better to reduce bundle size. Otherwise, it is a pressure for developers with slow network to load the doc site.

[2018-01-13 14:47] ahmadawais opened #1787 "Issue Docs are Scroll-jacking"
The new site docs are kind of scroll-jacking and it's very hard to read.

Here's a GIF

![image](http://on.ahmda.ws/oojG/c)

Though, it's way worse than how it looks in there.

Peace! ✌️

[2018-01-14 02:38] lcxfs1991 commented on #1786
I also spot some unuseful code in some pages:

![image](https://user-images.githubusercontent.com/3348398/34912236-eb882b94-f916-11e7-8f5d-ae579449ded6.png)

![image](https://user-images.githubusercontent.com/3348398/34912238-f6101270-f916-11e7-85cd-6d8fe487e369.png)

[2018-01-14 02:42] lcxfs1991 commented on #1786
what's you guys opinions? @skipjack @TheLarkInn

[2018-01-14 05:43] skipjack commented on #1787
This is due to the `Sidebar` component's sticky behavior (which was highly requested) and we are aware of it though it is somewhat dependent on browser/os. We're going to switch to something simpler and more performannt like `position: sticky` or a package soon. Feel free to submit a PR to improve it if you don't want to wait, else it should be updated soon but there's a few other things at the to

[2018-01-14 05:43] #1787 closed

[2018-01-14 05:47] skipjack commented on #1786
I'm not able to replicate:

![image](https://user-images.githubusercontent.com/8988697/34913179-0b00d938-f8c4-11e7-941e-659a4ebd9d51.png)

What branch are you on and what page of the site are you on? The `rebuild` branch isn't complete so large build sizes are to be expected. In the screenshot I shared above one of the bundles is slightly too big but there's already mention of that in #1525 and wi

[2018-01-14 05:47] #1786 closed

[2018-01-14 05:52] skipjack commented on #1786
On the chinese site, I am able to replicate however:

![image](https://user-images.githubusercontent.com/8988697/34913215-e94799f2-f8c4-11e7-984c-d3f9ff18fc60.png)

Did someone alter the webpack or antwar config over on that repo? Maybe `react` and `react-dom` aren't being replaced by `preact` in production? We don't officially support the other forks so this issue might make sense over there... I

[2018-01-14 05:56] skipjack commented on #1782
Yes, I believe you're correct that that two instance of the plugin are required. Would you be willing to submit a PR to update the guide? If you could, make sure to change not only the code example but the lead-in and follow up discussion as well so it's clear what's going on.

[2018-01-14 06:19] reergymerej commented on #1706
I've got a [PR in core] that modifies a new feature (`sideEffects` in package.json) and I'd like to make the sister change in the docs.  Can anyone point me in the right direction?

[PR in core]: https://github.com/webpack/webpack/pull/6314

[2018-01-14 06:20] skipjack commented on #1706
Hmmm, maybe in the __API__ section somewhere? Also target your PR to the `next` branch.

[2018-01-14 06:22] reergymerej commented on #1706
Thanks, @skipjack.  I searched the `next` branch and didn't see anything.  I may be the first to add it.

[2018-01-19 08:32] cyrilchapon commented on #1782
Hey :)

Thanks about that answer and sorry for the delay.

I might have a chance to take time today :) I'll keep in touch

[2018-01-20 23:08] knittingcodemonkey opened #1795 "Guides - Create an upgrade path section"
Create an upgrade path section with clearly defined, individual pages:

- Upgrade from v1 to v2
- Upgrade from v2 to v3
- Upgrade from v3 to v4

Each page should include any script helpers, and examples particular to it's version of the upgrade.

[2018-01-20 23:24] knittingcodemonkey opened #1796 "Navigation - Create an easier path to find plugin and module specifics"
In the documentation, the naming convention on the side menu and the top menu conflict.

For instance, to get to the list of default plugins, you need to go to the Plugins link in the top sub-menu, however there are so many similarly named links and paths in these menus that it always takes me a while to find it. For instance:

- Concepts -> Concepts -> Plugins
- Concepts -> Configuration
- Concep

[2018-01-20 23:26] knittingcodemonkey opened #1797 "Devs - More complex examples added to upgrade path and configurations"
I would very much like to see more complex examples highlighting how each configuration could be used in the plugins and modules sections. The simple examples do cover a lot of what most people need, but as soon as there is an additional config required, that info becomes very difficult to find.

[2018-01-21 00:06] skipjack commented on #1797
Holy moly, you went on an issue binge!

This is kind of the point. Our _Guides_ section does a fair amount of hand-holding through the core features but then the idea is to point users to next steps and relevant reference-like docs for users to dig deeper. Webpack's API is far too broad and far-reaching for us to maintain highly detailed examples for every feature. We already have 20+ guides and t

[2018-01-21 00:06] #1797 closed

[2018-01-21 00:14] skipjack commented on #1796
I think you make some good points here. One way to start resolving this would be to change some of the `index.md` (and maybe other pages) `title`s so they don't overlap with section titles as much. Please feel free to submit a PR to start this.

Re the design of the sub menu I'm open to ideas. And re concepts structure, that kind of goes with my first point about retitling... but you could also ch

[2018-01-21 11:14] knittingcodemonkey commented on #1797
I did go on a bit of an issue binge. I can see your point with this item being too broad to be actionable. I feel that my specific concern could have been handled as part of the upgrade paths section requested in a different issue. Thank you for spending the time to explain.

[2018-01-23 12:28] PlayMa256 opened #1799 "Translation to pt-BR"
Hello,
I do want to contribute translating the docs into pt-BR, altough i've been looking into some open issues about internationalization and there are some discussions regarding tools to make it easier, but these discussions seems to still open.

So, i would like to know, since i could not find any folder reference to any localization, do i simply:
- fork
- translate
- open PR?

Thanks.

[2018-01-23 14:39] skipjack commented on #1799
Hey @PlayMa256, we'd love for you to add a portuguese translation. At some point, we may support translations in this repository but for now you would:

- Take a look at the translation branch and talk to @lcxfs1991 @Lutece @dear-lizhihua.
- Fork the repository and host it on a new domain (e.g. `webpack-portuguese.com`).
- Ping us once you're further along and we can add an option to our languages

[2018-01-23 14:39] #1799 closed

[2018-01-23 14:41] skipjack commented on #1799
I'd also recommend you take a look at all the previous translation/i18n discussions if you haven't already:

https://github.com/webpack/webpack.js.org/issues?utf8=%E2%9C%93&q=label%3AInternationalization+

You may find more info there on how to get started.

[2018-01-23 14:42] PlayMa256 commented on #1799
Thank you for the feedback.

[2018-01-23 14:45] skipjack commented on #1795
I like this idea as well however I want to lump it in with #1706 as I was already planning to do something similar. Will add your point as a comment. Also note that we excluded v2 - v3 intentionally as there weren't very many breaking changes (almost none for most users). However, we could add a small page that notes this and invites people to document the few breaking changes that did occur.

TLD

[2018-01-23 14:45] #1795 closed

[2018-01-23 14:46] skipjack commented on #1706
Create an upgrade path section with clearly defined, individual pages:

- Upgrade from v1 to v2
- Upgrade from v2 to v3
- Upgrade from v3 to v4

Each page should include any script helpers, and examples particular to it's version of the upgrade.

[2018-01-23 14:47] skipjack commented on #1706
I like the note from from #1795 but I think we should create a "Migrating" `group` under __Guides__ and title the articles simply `v1 - v2`, `v2 - v3`, etc.

[2018-01-24 00:01] TheLarkInn opened #1801 "Concepts - "Why webpack?" Section"
[Linked](https://www.reddit.com/r/javascript/comments/7qdksl/having_a_hard_time_understanding_webpack/dsoq9p3/) is one of the best explainers (and is trending on Reddit [or was]) on _why_ bundlers are what someone should use for High Performance web applications (and ergonomics). I'd like to see a "Why webpack". or "Why bundle". section somewhere as a top tier callout to visitors of the page.

Thi

[2018-01-24 00:35] gezeta-id commented on #1801
Just so that it is clear: As I said in the original reddit comment, feel free to copy all, parts, pieces, tiny bits or whatever you want from my comment. No attribution needed or anything. If it helps you, great 😄

[2018-01-24 00:36] TheLarkInn commented on #1801
Thank you kindly! @gezeta-id

I'd try and twist you to submit a PR for this but you've already done so much. This is a great contribution opportunity too for first timers also.

[2018-01-24 02:41] skipjack commented on #1801
So we actually did used to have a page called "Why Webpack?" but I think it was [renamed as "Comparison"](https://github.com/webpack/webpack.js.org/blob/b11f9009eecaf482865dd72f214f8235b16c582a/antwar.config.js#L57) (which makes sense for what the page contains). I think the best place for @gezeta-id's content would be the index page in __Concepts__. Nice work on that post @gezeta-id and I do thin

[2018-01-24 05:13] HippoDippo commented on #1796
Compounding this issue is that the top sub-menu (Concepts, Configuration, API, Guides, Loaders and Plugins) is the same color and size as pretty much all the other text, and it's on a light grey background, reducing it's contrast even further. For the longest time, I didn't even know the top sub-menu was there.

<img width="1197" alt="screen shot 2018-01-23 at 10 10 09 pm" src="https://user-images

[2018-01-24 14:11] TheDutchCoder commented on #1801
I, too, love this idea of explaining "why" one would need (or like to use) webpack.

When we redid the guides it was very much beginner focussed (I'm literally a newbie at webpack and helped rewriting them for people like me) and I think this ties into that nicely.

Having it front and center in the navigation is vital as well, as I think a lot of beginners could use the encouragement and explanat

[2018-01-25 19:14] TheLarkInn commented on #1706
Here is the first issue with a set of migration diffs. I think this is something we can run with?

https://github.com/webpack/webpack.js.org/issues/1706

[2018-01-26 01:21] probablyup opened #1802 "Document __webpack_nonce__"
There's a clever bit of functionality built into webpack for Content Security Policy purposes, enabled via `__webpack_nonce__`. It'd be great to formally document it and give examples for why it's useful.

https://github.com/webpack/webpack/blob/ab2270263e9af5b0dd83e454c20ab3aa1797424a/lib/APIPlugin.js#L26

https://stackoverflow.com/questions/42922784/what-s-the-purpose-of-the-html-nonce-attribute

[2018-01-26 06:30] ufukomer commented on #1471
@yozosann did you solve it?

[2018-01-26 09:04] kadishmal commented on #995
The link at the top is broken. The new link is https://webpack.js.org/guides/typescript/.

[2018-01-28 08:04] catamphetamine opened #1805 "API - "lazy-once" Option Unclear"
So why does it "only make sense in the case of a partially dynamic statement"?
Why does it make sense to fetch non-partially-dynamic statement every time it's `import()`ed?
Seems counter-productive.
If you fetched a module once why fetch it again.

[2018-01-28 08:21] catamphetamine opened #1806 "`import()` dynamic path"
On the `import()` docs page one example is provided: `import(./locale/${language}.json)`.
The doc says that it "will cause every .json file in the ./locale directory to be bundled into the new chunk".
And what about a more complex example, like `import(./pages/HomePage.${language}.json)`?

[2018-01-30 03:37] skipjack commented on #1806
Then every possible file that the template string could evaluate to would be included. In this case, it might be something like:

- `HomePage.en.json`
- `HomePage.fr.json`
- `HomePage.cn.json`

And so on. As per #1699 we should expand this discussion a bit. Please continue the discussion there.

[2018-01-30 03:37] #1806 closed

[2018-01-30 03:49] skipjack commented on #1805
Because if you only have one bundle, then there's nothing to roll up. A partially dynamic statement (the only kind of dynamic statement allowed) will potentially resolve to multiple files which -- by default -- are separated into separate bundles. "lazy-once" will roll these bundles into a single bundle which is only pulled once.

It doesn't, though I guess I get how someone reading this could com

[2018-01-30 09:06] catamphetamine commented on #1805
@skipjack thanks for detailed responses

Hmm, so if I'm guessing it right `lazy` still doesn't re-download bundles, and the only difference with `lazy-once` is that it downloads the whole bundle. I guess it's the not-so-descriptive naming then, because otherwise `lazy` === `lazy-multiple`. `lazy-once` should have been named something like `lazy-bulk`.

I would rewrite this part of the documentatio

[2018-01-30 21:43] richardcox13 opened #1810 "Guides - Wrong Path in Example"
https://webpack.js.org/guides/getting-started/#creating-a-bundle

Index.html diff: instructions lead to `bundle.js` in `dest` folder, but not given in index.html.

[2018-02-02 02:18] kingdaro opened #1812 "Config - Document `splitChunks` and `minimize`"
For https://github.com/webpack/webpack/pull/6416: include links to `config.optimize.splitChunks` and `config.optimize.minimize` when the relevant docs are merged.

[2018-02-02 05:45] andres-uris opened #1813 "Translation - Spanish Support"
Hello world!

I want to know if there a Spanish version of the documentation where I can contribute on it.

[2018-02-03 22:15] skipjack commented on #1805
Yeah `lazy-bulk` might be a better name for it, I'd recommend creating an issue on the main repo if you want to push that forward. You may even be able to sneak it in before the final v4 release.

Hahaha, yeah I'd drop the "naming of this one is not so good" part as that's kind of a bad look for us but I'm totally open to rephrasing this a bit to make it more clear. The rest of what you had wasn't

[2018-02-03 22:22] skipjack commented on #1810
Yes, this is intentional as the `index.html` was also moved inside the `/dist` directory. Please take another look at the diffs.

[2018-02-03 22:22] #1810 closed

[2018-02-03 22:29] skipjack commented on #1812
Can you submit a PR directed at the `next` branch to resolve this? BTW, the other v4 changes are tracked in #1706 so I may add this as a comment there. We won't merge `next` into `master` until v4 is actually released, otherwise we'd get a bunch of reports of missing features. But, if you submit the PR to `next`, these docs would be there as soon as it is merged. You could even link directly to th

[2018-02-03 22:35] skipjack commented on #1813
Hey @andres-uris. There isn't a spanish translation yet that I'm aware of. Until we figure out #295, all translations are managed on forks of this repo and hosted on separate domains. Please talk to @dear-lizhihua, @lcxfs1991, and @Lutece for more info as they maintain the Chinese and Korean versions iirc. They've built out a process for doing this using the `translation` branch.

Once you have a

[2018-02-03 22:35] #1813 closed

[2018-02-04 18:10] catamphetamine commented on #1805
Created an issue in the main repo for `lazy-bulk`.
Closing this one.

[2018-02-04 18:11] #1805 closed

[2018-02-05 07:25] TheLarkInn commented on #1706
@skipjack, I've been starting to make a bunch of videos that are going to hopefully be embeddable into our documentation. I'm not sure where I can start to organize them. Would it work best to dump into a standalone issue?

[2018-02-05 07:27] TheLarkInn opened #1821 "webpack 4 embeddable videos"
- [ ] Video Coverage for webpack 4
- [ ] Migration
  - [ ] Migrating Plugins to V4 Intro
- [ ] Defaults
  - [ ] Goodbye CommonsChunkPlugin()

[2018-02-05 17:29] TheLarkInn opened #1822 "Plugins - Document CommonsChunkPlugin() Defaults"
- [ ] Check the current issues to ensure you aren't creating a duplicate.
- [ ] Consider making small typo fixes and such directly as pull requests.
- [ ] For the voting application, go to https://github.com/webpack-contrib/voting-app.
- [ ] For loader/plugin docs, consider opening an issue in the corresponding repository.
- [ ] No existing issue? Go ahead and open a new one.
- __Remove these inst

[2018-02-06 04:11] s1iqbal opened #1823 "Landing - Link to Webpack 1 Docs"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Regarding <a>https://github.com/webpack/webpack/issues/6390</a>

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Google legacy webpack 1
2. End up on a page similar to https://webpack.github.io/docs/using-plugins
![image](https://user-images.githubusercontent.c