[2017-02-13 18:06] bebraw commented on #882
It should be fixed now.

[2017-02-13 18:06] #882 closed

[2017-02-13 18:26] skipjack commented on #562
Awesome, thanks @SpaceK33z.. I'll tackle this soon.

[2017-02-13 22:38] halt-hammerzeit opened #886 "[Caching] The mysterious `./src/vendor.js` file"
The caching section starts right away with the mysterious `./src/vendor.js` file yet there are no hints on what should be the contents of that file.
https://webpack.js.org/guides/caching/

[2017-02-13 22:50] halt-hammerzeit commented on #886
I'll post some unclear lines here too.

[code]

Shouldn't be the second "common chunk" be named "runtime" instead?
Since it no longer contains the "manifest" which is now in a separate variable.

[2017-02-13 22:54] halt-hammerzeit commented on #886
Ok, I found what the `./src/vendor.js` should look like:
https://github.com/okonet/webpack-long-term-cache-demo/blob/master/src/vendor.js

Still it's very obscure and purposefully unrealistic: obviously no one would create such a file in their project (exporting a dummy string).
I'm gonna ask the author about what `./src/vendor.js` is really meant to be.

[2017-02-13 22:55] halt-hammerzeit commented on #886
@okonet ping

[2017-02-13 22:59] skipjack commented on #246
[Another good roundup](https://css-tricks.com/responsive-data-table-roundup/) of different approaches that I found while reviewing #875. This problem is really tough and even with that whole list there's not one that jumps out to me as particularly elegant or user-friendly.

@NejcZdovc in the process of looking through #875 and #440 now.

[2017-02-14 04:52] #873 closed

[2017-02-14 06:50] bdougie commented on #178
FYI, I have been a bit busy with the day job and enlisted to @rolfea to help work on this. The basics of markdown is working with the remarkable library, but the overrides and special cases don't have replacements as of yet.

[2017-02-14 07:42] simon04 commented on #886
The `vendor.js` is covered in the concepts section of the docs: https://webpack.js.org/concepts/entry-points/#separate-app-and-vendor-entries

[2017-02-14 09:50] halt-hammerzeit commented on #886
Ok.
While it still explains nothing about the mysterious `vendor.js` file I'm no longer researching this topic as I find it extremely possible that by the time you roll up the next release of a website some minor 3rd party deep-level dependency is gonna have a "patch" update, therefore I decided not to use this feature right now.

[2017-02-14 09:50] #886 closed

[2017-02-14 10:25] simon04 commented on #886
I'm not appreciating your passive-aggressive way of writing. The documentation is an ongoing process. If you found an error, open an issue. If you want to have something changes, submit a PR.

Entry points are a key concept of webpack, which will not be spit out in detail on every page.

[2017-02-14 10:26] halt-hammerzeit commented on #886
I'm not appreciating your passive-aggressive way of writing.

[2017-02-14 22:59] dzello commented on #822
Fixed with [this commit](https://github.com/algolia/docsearch-configs/commit/1a7c97c7a5a4b9cd59ec5e4faef6bc8862075863) to the webpack DocSearch config. The `min_indexed_level` setting controls whether headers at various levels in the inferred hierarchy should be indexed as their own records and it was set one level too high to provide good results for API, CLI, etc.

[2017-02-15 17:05] TheLarkInn commented on #796
Great low hanging fruit for anyone interested!

[2017-02-15 17:05] TheLarkInn commented on #796
Thanks for reporting!

[2017-02-15 18:46] #246 closed

[2017-02-15 22:52] skipjack commented on #865
#875 removed the `white-space: nowrap` which fixes this issue.

[2017-02-15 22:52] #865 closed

[2017-02-16 00:31] TheLarkInn commented on #409
Wow that's impressive looking. How does this look from a mobile standpoint?

Also a fun tiny low hanging fruit feature we could open to the community is to make the little logos next to the influence could be tiny colored webpack logos. Overall it looks awesome.

[2017-02-16 00:32] TheLarkInn commented on #409
Okay other thoughts. As much as I like showing each of the participants I worry about page loads for all the images aka extra requests. Maybe we can show the top 5 influencers along with a "total count" of people who have voted for that feature.

[2017-02-16 02:27] skipjack commented on #409
Wanted to get some feedback first on the desktop version, I'll add a mobile comp soon.

Yea that could be cool, I did steal the shape for those icons from the logo.

Sounds good, figured we'd have to limit it a bit.

I'll come back with some updates soon and any other feedback/ideas in the meantime I'm all ears.

[2017-02-16 08:49] pksjce commented on #409
I think the concern from the beginning has been that the CTA area ie. the vote button is very tiny. I could not think of a way to rectify it at all :(

[2017-02-16 09:09] simon04 commented on #402
We got a CoffeeScript example via #778.

Reading the title "External Configurations", I would not expect to see an configuration example in an other JS language.

What is meant with the TODO "loader settings, e.g. `sassLoader`, `eslint` sections"?

cc: @bebraw

[2017-02-16 09:12] simon04 commented on #473
A different approach would be to incorporate https://github.com/knsv/mermaid and keep the source of the diagrams in a simple text file.
Can we write a loader for mermaid graphs which is executed when including those graphs in the markdown file?

[2017-02-16 09:15] tarang9211 commented on #402
@simon04 Should we change the title of that concept/page?

[2017-02-16 09:16] simon04 commented on #401
I'm struggling to associate the content of extended configuration definitions with "Passing a Configuration". What his "passed"? Alternative suggestion: "Configuration Types" (relating to Javascript types function, array, Promise).

See also my comment: https://github.com/webpack/webpack.js.org/pull/895#issuecomment-280034635

[2017-02-16 09:17] simon04 commented on #402
+1 from my side, but I'd like to hear other comments. Any suggestions for the title?

[2017-02-16 09:25] bebraw commented on #402
Yeah, feel free to change the title to match the content.

[2017-02-16 09:26] bebraw commented on #473
👍 for mermaid-loader. It would probably have to run before any markdown bits and return reference to the generated image.

[2017-02-16 09:38] tarang9211 commented on #402
**Configurations using Javascript Supersets** ?

[2017-02-16 09:44] bebraw commented on #402
**Configuration with JavaScript Alternatives** would work for me.

[2017-02-16 09:45] aight8 opened #899 "Undocumented Stats options"
usedExports
providedExports
maxModules
depth
entrypoints

Those are options can be set trough the CLI.
See: https://github.com/webpack/webpack/blob/master/bin/webpack.js#L234

[2017-02-16 09:46] tarang9211 commented on #402
Sweet, I'll submit a PR for this

[2017-02-16 09:52] tarang9211 commented on #402
Does the file name also need to change? @bebraw @simon04

[2017-02-16 09:59] tarang9211 commented on #402
PR is here #900

[2017-02-16 10:02] bebraw commented on #402
Yeah, the file name has to change too and we probably want a rewrite so the old link doesn't break. But Simon will give you some feedback I think. 👍

[2017-02-16 10:10] tarang9211 commented on #402
Ok, looking forward to it to get this fixed.

[2017-02-16 10:12] simon04 commented on #402
@bebraw, do you know that the TODO "loader settings, e.g. sassLoader, eslint sections" is about?

[2017-02-16 10:15] simon04 commented on #899
Good catch! Do you plan to do a PR for https://webpack.js.org/configuration/stats/?

[2017-02-16 10:16] bebraw commented on #402
@simon04 Those are likely obsolete by now and covered elsewhere. I would remove the TODO.

[2017-02-16 10:16] simon04 commented on #473
The [markdown-loader](https://github.com/peerigon/markdown-loader) does not call other loaders for including images?

[2017-02-16 10:21] simon04 commented on #822
@dzello, great! Thank you a lot for your investigation and fix.

[2017-02-16 10:21] #822 closed

[2017-02-16 10:23] bebraw commented on #473
It likely does, but that does not help as there's no markdown-loader in the current setup.

[2017-02-16 11:15] dmitriid opened #901 "[Code Splitting]: improve docs for "implicit chunks" vs "manifest""
This page: https://webpack.js.org/guides/code-splitting-libraries/ which (obviously :) ) references https://webpack.js.org/plugins/commons-chunk-plugin/

It's not obvious that if I want to have implicit chunks *and* a manifest file, I need to provide the CommonChunks plugin twice.

**First, incorrect, approach (based on docs):**

[code]

Only `manifest.js` will be created (note: this is not obviou

[2017-02-16 11:17] simon04 commented on #402
Fixed with #900.

[2017-02-16 11:17] #402 closed

[2017-02-16 11:20] dmitriid opened #902 "[CommonChunksPlugin] minChunks funciton docs should have a link to module description"
This page: https://webpack.js.org/plugins/commons-chunk-plugin/#passing-the-minchunks-property-a-function

This should mention that each module is a Webpack representation of a module and contains such and such properties (e.g. `context`). Or, possibly, a link to a page which details these properties.

[2017-02-16 11:22] simon04 commented on #473
Ah, the markdown processing is in [utilities/markdown.js](https://github.com/webpack/webpack.js.org/blob/master/utilities/markdown.js)? Could we call mermaid in the `renderer.image` function? The drawback brings in a somewhat unrelated process.

[2017-02-16 11:26] #416 closed

[2017-02-16 11:33] bebraw commented on #473
@simon04 You would need to intercept the block containing mermaid syntax and then process through mermaid, but that's the place. A better, but also more intensive solution, would be to rework Antwar content pipeline so that it's entirely webpack based. Then it would be all loaders. That's something for me to think about as it might not be entirely trivial.

[2017-02-16 11:48] simon04 commented on #655
@bebraw, when the PR https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/409 is merged, we can close this issue. :smile:

[2017-02-16 11:55] bebraw commented on #655
@simon04 Merged.

[2017-02-16 11:55] #655 closed

[2017-02-16 12:46] kbariotis commented on #866
I could get my hands on it. Usually, I am using it like this: https://github.com/kbariotis/gityeller/blob/master/server.js#L26. Would that be a good example?

[2017-02-16 16:04] bebraw commented on #401
Configuration types would be better, yeah. Better rename the page, add the `env` bits there and include multi-compiler mode (return an array) too. That covers it.

[2017-02-16 16:30] simon04 commented on #401
Documenting multi-compiler mode is covered in #898.

It's just that https://webpack.js.org/configuration/environment/#using-environment-variables does not fit into the new title. Maybe keep this section on a separate page titled "environment variables"? Or keep `--env` on both pages?

[2017-02-16 16:36] bebraw commented on #401
`Using --env` would fit the suggested page. `Using environment variables` could become a guide. It's out of place there.

[2017-02-16 17:36] simon04 commented on #401
Good idea. PR #898 is updated.

[2017-02-16 19:20] #401 closed

[2017-02-16 22:54] vvo opened #904 "source map comparison missing some (inline-source-map)"
In the sourcemap documentation, we are missing `inline-source-map` in the comparison table:

https://github.com/webpack/webpack.js.org/blob/332fa9f5ba8ba704cd100b1878437a8ed0694d13/content/configuration/devtool.md#devtool

![image](https://cloud.githubusercontent.com/assets/123822/23044969/78f10872-f457-11e6-9dc5-90fd25e14952.png)

While the `For development` paragraph speaks about `inline-source-

[2017-02-16 22:59] vvo commented on #16
State:
The stub link you gave is no more working.
The current guide on performance is full of TODOS.

It seems in the webpack community people are using a mix of:
- [happypack](https://github.com/amireh/happypack), loaders applied in a multi cpu way
- [DLL plugin](https://robertknight.github.io/posts/webpack-dll-plugins/), split your code into moving and non moving parts
- [babel-loader](https://g

[2017-02-16 23:07] simon04 commented on #904
Thanks for reporting. I'm closing this one since we already have #686 for missing devtool modes. Also related is #273.

[2017-02-16 23:07] #904 closed

[2017-02-16 23:07] simon04 commented on #686
Also related: #273

[2017-02-17 00:18] skipjack commented on #409
@pksjce

Yeah I see what you mean, and I was thinking we should definitely at least bump them up on mobile/smaller screens. Although maybe there is a better approach like using buttons or something too.

Those would be to a settings menu only available for admins. The options would include `archive`, `unarchive`, `lock`, `unlock`, and `edit`. I'll share a comp for those as well. I'm going to give

[2017-02-17 00:35] skipjack commented on #562
@SpaceK33z I was able to fix this but when using `svgo` as you suggested it throws off the module backgrounds:

![image](https://cloud.githubusercontent.com/assets/8988697/23047598/e2ee943e-f47e-11e6-8357-efe2ebcd3b56.png)

Without `svgo` it looks fine... any ideas?

[2017-02-17 02:02] skipjack commented on #562
Nvm, figured it out using [SVGOMG](https://jakearchibald.github.io/svgomg/). The **Collapse useless groups** option was causing issues.

[2017-02-17 05:55] lgh06 commented on #294
Any news? webpack2 is released officially... but the Chinese doc above seems outdated.

[2017-02-17 06:46] lcxfs1991 commented on #294
@lgh06 hi leo. though it is a bit behind English doc, but we are trying to catch up. I just released a version yesterday, however, it is not a right time to launch officially since we are still reviewing translation work.

We plan to release another next week till we finish reviewing `guides`.  If you are interested, please join us.

My wechatid: lcxfs1991.

updated doc link:  https://doc.webpack-

[2017-02-17 10:42] sokra commented on #409
Maybe we can rename the participants to sponsors and allow everyone with high vote in golden influence to be visible in this list.

[2017-02-17 16:13] kbariotis commented on #899
Ref: https://github.com/webpack/webpack/blob/master/lib/Stats.js#L51

@simon04 I will, unless @aight8 wants to take it. :)

[2017-02-17 17:31] alvaro9210 opened #910 "Loader not working with npm linked package"
How can I make the `angular-router-loader` work with an `npm link`ed dependency?

I have two projects `Project A`and `Project B`.
`Project B` is linked with `npm link` and it provides modules to `project A`.
The loader works fine when I lazy load on app.routing.ts of `Project A`:

[code]
This correctly produces the instruction to lazy load the Module from `Project B`:
[code]

But...
On MyAppsModul

[2017-02-17 17:48] simon04 commented on #910
Issues here are not meant for Q&A. For questions use https://gitter.im/webpack/webpack or https://stackoverflow.com/questions/tagged/webpack. Or also refer to the angular-router-loader project.

[2017-02-17 17:48] #910 closed

[2017-02-17 18:59] simon04 opened #911 "Table display: rows not aligned"
The rows are not aligned. Tested /w latest Firefox, Chrome.

![2017-02-17-195529_1440x900_scrot](https://cloud.githubusercontent.com/assets/782446/23079023/50ae2a58-f54b-11e6-8c90-17cdf0d37bca.png)

[2017-02-17 20:02] TheLarkInn opened #912 "Guides - Annotated Walkthrough of Output"
This idea popped into my head from [this tweet](https://twitter.com/levibostian/status/832676007194853377).

We should display a simple bundle which uses different types of Deps (AMD, CommonJS, Harmony), and then a top to bottom annotated walkthrough of what each part of the code is doing and why.

Would be a cool way for people to get the basic anatomy of the bundle, normal chunks, initial chunks

[2017-02-18 15:12] skipjack commented on #911
@NejcZdovc can you look into this?

[2017-02-19 12:09] Dajust commented on #911
Hi @skipjack, @NejcZdovc,

I'm currently looking into this issues and will love to send a PR if I'm allowed.

### Mobile First

![webpack js org-guides-comparison- iphone 5](https://cloud.githubusercontent.com/assets/8015514/23102177/a3ddadb6-f6a4-11e6-9462-2320d542bbb7.png)

**Issue**: On screen below 400px, the class `table-td-content` and `table-td-title` collides/overlaps.
Solution:  Since the

[2017-02-19 12:35] NejcZdovc commented on #911
@Dajust I am already working on some fixes, so let me finish it first and let's talk afterwords.

[2017-02-19 12:40] Dajust opened #914 "Proposal: Improve Navigation Sidebar UX by making it scroll-able."
I'm forced to scroll the main content to the bottom before I could see the rest content on the Navigation Sidebar content hidden at the bottom.

Can I help? :hand:

[2017-02-19 13:50] TheLarkInn commented on #914
Yes absolutely, we would love a PR for this. Do you already know the solution in mind?

[2017-02-19 14:16] skipjack commented on #914
This was fixed in #906, not sure if it was deployed yet though.

[2017-02-19 14:16] Dajust commented on #914
@TheLarkInn Sure! Just waiting for approval to go ahead.

[2017-02-19 14:19] skipjack commented on #914
Yea, it looks like the fix wasn't deployed yet... as soon as it is we should be able to close this. @Dajust feel free to test (just make sure your master branch is up to date).

[2017-02-19 15:12] Dajust commented on #914
Sure @skipjack! let me fork the repo, I'll test and let you know ASAP!

[2017-02-19 22:32] Dajust commented on #914
Nice job @skipjack, I've tested it. However, IMHO, I think the UX still lags. Below are few ways I feel we could improve on it.

Scroll action on Sidebar should not affect the Main Section. Vice versa.
When I scroll to the top or the bottom of the Sidebar, I don't want the Main Section scroll to kick in.
When I scroll to the bottom of the Sidebar, then try to scroll to the top of the Main Section,

[2017-02-20 07:31] sokra commented on #667
The token seem to be undefined.

[2017-02-20 07:32] sokra opened #918 "number in vote app to big for styling"
![image](https://cloud.githubusercontent.com/assets/1365881/23115739/20617d8e-f747-11e6-83fa-900dc55b5295.png)

[2017-02-20 07:42] bebraw commented on #667
Yeah, I guess having some check in the code against a missing token wouldn't hurt.

[2017-02-20 09:18] feexon opened #919 "can't load homepage"
https://webpack.js.org/ can't load homepage in china

[2017-02-20 09:46] viankakrisna commented on #151
@anvish where do you place your code?

[2017-02-20 10:46] sokra commented on #667
Normally `undefined` means logged out. Maybe it's `"undefined"`.

[2017-02-20 10:49] sokra commented on #918
maybe we can go with `112k` and `67k` if the number is higher than `1k`

[2017-02-20 19:28] Dajust commented on #918
I think that would make the voting not transparent enough, which I think is the main purpose of voting.

[2017-02-20 21:53] Dajust opened #924 "Proposal: Make Sidebar anchor links not reload/refresh page."
All Sidebar links pointing to anchors in the **current** page should only have URL fragments in their `href` attribute `<a href="#example">`.

 For example, when I'm in _https://webpack.js.org/concepts/loaders/_, clicking **Example**, under **Loaders**, on the Sidebar, should not reload the page because I'm already on the page. It should simply take me to **Example** section of the page

### Solut

[2017-02-20 22:28] benwiley4000 opened #925 "API - Use Real Examples in Loader Documentation"
The [loaders API page](https://github.com/webpack/webpack.js.org/blob/88e3f83a94cb7de804fc28657c144ab29b373910/content/api/loaders.md) is pretty good.

The code examples are nice. What would be even nicer is if the code examples weren't all so abstract. We know these features exist to be used in real loaders which are used out in the wild, so let's show some of those API usages using source (actua

[2017-02-20 23:42] skipjack commented on #924
I think there's an existing issue re this: #530. I think @bebraw was talking about doing this at the `antwar` level so you might want to talk to him. With that said though, what you propose seems like how it would be fixed.

[2017-02-20 23:50] Dajust commented on #924
@bebraw Can I PR this solution?

[2017-02-21 00:37] benwiley4000 commented on #925
Another nice thing to have a real-world code example for - async loading using `this.async()` (including what this looks like from the user perspective when it comes to requiring modules).

[2017-02-21 04:12] skipjack commented on #914
@Dajust thanks for testing.

I get what you're saying, but I don't think it's that clear cut... see my comments on using `flex` below.

This I do I understand, I think if we always apply the max height this won't be an issue. I might add this to that PR prior to merging.

I thought about this a lot while implementing the fixed sidebar. As you say if we `display: flex` and `height: 100vh` the entir

[2017-02-21 06:31] bebraw commented on #924
@Dajust Sure.

[2017-02-21 22:51] skipjack commented on #562
Resolved in #907... @SpaceK33z I merged to get this out of the way (the changes were fairly minor) and close this issue but feel free to review at your leisure and ping me or re-open if you see any issues.

[2017-02-21 22:51] #562 closed

[2017-02-22 02:50] skipjack commented on #919
Can you elaborate? Are you seeing errors in the console?

[2017-02-22 02:59] skipjack commented on #451
Closing this in favor of #924 which already has a PR open for it (#933) that I'll be reviewing shortly.

[2017-02-22 02:59] #451 closed

[2017-02-22 09:42] bebraw opened #935 "Port webpack wiki content to the site and close the wiki"
See https://github.com/webpack/webpack/wiki . There are some old, but potentially articles there. That information should be moved to the site and the wiki should be closed.

[2017-02-22 09:44] bebraw commented on #67
There's https://webpack.js.org/plugins/commons-chunk-plugin now. Time to close I think.

[2017-02-22 09:44] #67 closed

[2017-02-22 09:46] bebraw commented on #68
Looks like a related PR was merged. Time to close.

[2017-02-22 09:46] #68 closed

[2017-02-22 13:37] yurlovm opened #938 "Guides - Load Polyfills on Demand"
It would be great if there was an article in documentation which explained main strategies how to load polyfills for ES2016 only when browser not supported it and skip them for evergreen browsers.

[2017-02-22 13:39] TheLarkInn commented on #938
I think we can use some of the material @hzoo has written up for babel and babel-preset-env. This could be a nice article.

[2017-02-22 14:22] aight8 opened #940 "API - Clarify Plugins Structure and Flow"
The page especially missing:
1. Description of all class instance properties
2. A flow of the plugins - a) where you can hook and where it is in the flow b) when webpack do what internally. I found this chinese website which go the direction I mean: https://github.com/liangklfangl/webpack-compiler-and-compilation

3. This is difficult to understand:
[code]

4. Show ES6 class variant of the plugin

[2017-02-22 14:28] hzoo commented on #938
Yeah can check out the readme: https://github.com/babel/babel-preset-env#usebuiltins

http://www.2ality.com/2017/02/babel-preset-env.html just got published based on that too

[2017-02-22 15:56] skipjack commented on #914
Closing with merge of #906.

[2017-02-22 15:56] #914 closed

[2017-02-22 16:18] aight8 opened #942 "Better stats documentation"
The documentation of the **stats** configuration has following flaws:
- Stats shortcut must be documented which stats config their use internally
- Stats config can have dependency stats config, this must be documented better

---

It would be even better if the webpack website have a online visualiser for the output, so user can interactively check and uncheck different stats config props and see

[2017-02-22 21:50] aight8 opened #944 "Documentation for DllPlugin / DllReferencePlugin"
Webpack's DllPlugin / DllReferencePlugin are one of the most useful plugins inside.
Add documentation how to set it up correctly and about both plugins.

[2017-02-23 20:17] TheLarkInn opened #949 "Guides - Managing Built Files"
Based on feedback from [twitter](https://twitter.com/karljakoblind/status/834820883415961600):

Few brainstorming options but I think that we should essentially recommend heavily the use of html-webpack-plugin and why. (Explain the whole managing new build files that are hashed every time, ensuring they are output in correct order, etc)

[2017-02-23 22:45] d3viant0ne opened #951 "Plugins - Context Replacement Plugin"
Mentioned on Twitter by Adam Rackis, the ContextReplacment Plugin is as yet undocumented.

[2017-02-24 00:07] alihaddadkar opened #952 "No PostCSS Config found with build"
Hello.

I'm using webpack 2, But when i want use postcss-loader, I get an error:

What is the problem?

[2017-02-24 10:47] #952 closed

[2017-02-24 18:49] holi-java commented on #919
@skipjack,I'm sorry,I'm too late to reply to you.there is a error in my browser below:
Uncaught TypeError: undefined is not a function c28ec4ef07b397f623f2e6b04eb5b55c.js:2

[2017-02-24 20:22] #924 closed

[2017-02-25 17:34] skipjack commented on #919
@holi-java ok no problem... can you share which browser version and OS you are on so we can try to replicate? Also if you could share the full stack trace that would be helpful as well.

[2017-02-25 18:09] skipjack commented on #949
@TheLarkInn I agree completely, the `html-webpack-plugin` and things like `copy-webpack-plugin` both help in not having any manually managed files in your `/dist` or `/build` folder. Definitely makes managing and including auto-generated files easier, a simpler `.gitignore`, and I also think it's much easier to explain a project when you can just say:

When I first started using webpack I definite

[2017-02-25 18:18] skipjack commented on #796
Didn't even know about this feature, that's awesome! Found a [stackoverflow post](http://stackoverflow.com/questions/40539768/webpack-throw-error-on-missing-member-import) that has a good explanation, this might be a good start?

[2017-02-25 19:51] sokra commented on #796
Note that the stackoverflow answer is wrong. `strictModuleExceptionHandling` is about how exceptions are handled in modules. If true module is removed form cache when exception occurs while module loading. see the PR introducing it.

[2017-02-25 19:53] skipjack commented on #796
@sokra ah good to know.

[2017-02-25 19:59] skipjack commented on #438
I'm gonna start working on implementing @pastelsky's design (shown above) but I think we still need to discuss our routing structure a bit and agree on an approach for going forward. Here's what I would propose as a "spec" for how we structure `/content`...

Within the `/content` directory we have our top-level routes:

1. Top Level: **Concepts**, **Guides**, **Documentation**, etc.

There are als

[2017-02-26 13:00] bebraw commented on #438
It can map an arbitrary directory structure to a site, yeah, but we can likely refine it to get a nice solution going on.

---

A combination of manual/automatic link generation seems like a good way to me when it comes to layout. Especially second level links can be figured out based on the context.

[2017-02-26 13:03] #667 closed

[2017-02-26 16:47] #911 closed

[2017-02-27 00:40] aight8 commented on #796
This is confusing. From which cache? An example / why someone should enable or disable this - would make more sense.

[2017-02-27 08:21] sokra commented on #796
from `require.cache` (the module instance cache at runtime)

[code]

[code]

[code]

`strictModuleExceptionHandling = true` uses `try finally` in the runtime which makes it slow. The default behavior is the more performant one, assuming `require` is not used for exception twice.

[2017-02-27 15:48] holi-java commented on #919
My OS is ubuntu12.04,both firefox and chome browsers can't load homepage.the full stacktrace below:

a.value c28ec4ef07b397f623f2e6b04eb5b55c.js:2(anonymous function) c28ec4ef07b397f623f2e6b04eb5b55c.js:2a.value c28ec4ef07b397f623f2e6b04eb5b55c.js:2N c28ec4ef07b397f623f2e6b04eb5b55c.js:1(anonymous function) c28ec4ef07b397f623f2e6b04eb5b55c.js:1L c28ec4ef07b397f623f2e6b04eb5b55c.js:2A c28ec4ef07b39

[2017-02-27 15:49] holi-java commented on #919
My OS is ubuntu12.04,both firefox and chome browsers can't load homepage.the full stacktrace below:
[code]

[2017-02-27 15:50] holi-java commented on #919
My OS is ubuntu12.04,both firefox and chome browsers can't load homepage.the full stacktrace below:

a.value c28ec4ef07b397f623f2e6b04eb5b55c.js:2(anonymous function) c28ec4ef07b397f623f2e6b04eb5b55c.js:2a.value c28ec4ef07b397f623f2e6b04eb5b55c.js:2N c28ec4ef07b397f623f2e6b04eb5b55c.js:1(anonymous function) c28ec4ef07b397f623f2e6b04eb5b55c.js:1L c28ec4ef07b397f623f2e6b04eb5b55c.js:2A c28ec4ef07b39

[2017-02-27 22:35] simon04 commented on #262
All done.

[2017-02-27 22:35] #262 closed

[2017-02-28 03:51] bebraw commented on #919
That doesn't tell a lot. Could you examine the code to see where it fails?

Can anyone confirm this? More/better information is needed.

[2017-02-28 03:53] bebraw commented on #951
Duplicate of #43.

[2017-02-28 03:56] bebraw commented on #35
The old content has been ported to https://webpack.js.org/api/loaders/.

[2017-02-28 03:57] bebraw commented on #145
Let's close. There is not much we can do about this in the docs.

[2017-02-28 03:57] #145 closed

[2017-02-28 04:06] bebraw commented on #756
* Generated - Entire code gets modified (wrapped in eval)
* Transformed - Same except this time around it generates base64 encoded source map within the source. It's like generated++, more info.
* Original - Original source does not get touched, instead a comment is added (links to source map).

I have examples of the output [here](https://survivejs.com/webpack/building/source-maps/).

[2017-02-28 05:53] skipjack commented on #919
Yeah, @holi-java it would be great if you could pull the repo and 'npm start' it to try to get a better stack trace. I'm not sure any of us have an ubuntu environment to easily set up and test on.

[2017-02-28 09:22] zzzgit commented on #756
![image](https://cloud.githubusercontent.com/assets/1060733/23399166/44735c30-fdda-11e6-9edd-68b5556c862e.png)

Thanks.
If your saying are true,the code generated in `cheap-source-map` mode will be wrapped in eval too?

[2017-02-28 09:26] bebraw commented on #756
@zzzgit No, `cheap-source-map` won't be wrapped in eval as it emits a separate source map. The definitions are different based on whether they contain `eval` or not. The quality part of the table is confusing this way.

There are simply too many options and too little info to cover these adequately. To make it more complex, webpack provides two source map specific plugins where you have more contr

[2017-02-28 10:02] zzzgit commented on #756
Thanks for your sharing on survivejs,but it helps me not so many.
For example,in` cheap-source-map` and `cheap-module-source-map` mode,the sourcemap shot-snaps are almost the same,how could I understand what is the difference?
What you have described is that:

who can understand that?They both get a map like this :`{mappings":"AAAA}`.
I am very nervous now because that I have been seeking for info

[2017-02-28 10:19] bebraw commented on #756
@zzzgit Yeah, the problem is that information is very sparse on this topics. It's hard to find good material. The source is likely the truth in this case.

[2017-02-28 13:28] holi-java commented on #919
@bebraw I want give you more clearly stack errors,but I can't download the source map in browser,it's not found.
@skipjack  yes,I have do it,but I found I can't install it in ubuntu,because something depends on mac os.

[2017-02-28 18:32] ricksecretin opened #965 "source-map-loader as loader for tsx files should be ts-loader"
While following this tutorial: https://webpack.js.org/guides/webpack-and-typescript/ I noticed there is something wrong in the webpack.config.js file in the docs.

The loader for tsx files should be 'ts-loader', not 'source-map-loader'.

Regards,

Rick

[2017-03-01 05:16] lcxfs1991 opened #966 "add language selection menu"
webpack china doc is ready.  Shall we add a language selection menu on top navigation bar?

link: https://doc.webpack-china.org/

Best regards,

Lee

[2017-03-02 06:52] rouzbeh84 commented on #469
mermaid is pretty cool! got it started here [mermaidGraph](https://knsv.github.io/mermaid/live_editor/#/edit/Z3JhcGggUkwKICBzdWJncmFwaCBXRUJQQUNLCiAgICBBPmFib3V0LmpzIF0tLi0-RXthYm91dH0KICAgIEI-YWJvdXQuY3NzXS0uLT5FCiAgICBDPmhvbWUuanMgXS0uLT5Ge2hvbWV9CiAgICBEPmhvbWUuY3NzXS0uLT5GCiAgICBHPnJvdXRlcy5qc10KICAgIEUtLi0-RwogICAgRi0uLT5HCiAgICBIW2NsaWVudC5qc10KICAgIEctLSBlbnRyeSA8YnI-cG9pbnQgLS0-SCAKICBzdWJ

[2017-03-02 08:54] simon04 commented on #965
See https://github.com/webpack/webpack.js.org/pull/969#issuecomment-283576288 and https://github.com/webpack/webpack.js.org/pull/969#issuecomment-283579388.

[2017-03-02 08:54] #965 closed

[2017-03-02 12:13] zzzgit opened #970 "Concepts - Bundle vs Chunk"
There is no definite definitions for the concepts `bundle` and `chunk` in the documentation of both V1 and V2.
After a learning for several days, I found that they guys use `bundle` and` chunk` in the documentation alternately. As if there isn't a clear difference between `bundle` and `chunk`.
Am I right?
If not, the effort for documentation improvement is needed.
If it is, I have two suggests:

1

[2017-03-02 15:35] MartinMuzatko opened #971 "What is needed in Webpack 2 to create sourcemaps?"
It is very tough to find out what exactly is needed to generate sourcemaps.
While on a few spots, it is described that only `devtool: 'source-map'` is needed, there is no notion of the `source-map-loader`. The page for the source-map-loader doesn't disclose anything required either: https://webpack.js.org/loaders/source-map-loader/

The guide to source-maps only speaks about `devtool`, but not the

[2017-03-02 16:17] scottdj92 commented on #836
I'd add in a selling point for CTO's: using webpack decreases the amount of tooling you have to add into your projects. Fonts, images, and icon-fonts can be loaded using only webpack and plugins/loaders. Which makes it easier to grok and I don't have to rely on external tools.

We could market webpack as an all-in-one tooling chain + optimizer.

[2017-03-03 12:35] pastelsky commented on #469
Mermaid and other similar markdown based libraries seem cool, although I
don't like the default styling they come with.
The diagram ends up looking too technical, and that will not help webpack
which is already perceived such.

Also, graphs may only form a part of the diagrams we would be using, so
keeping the look consistent with other diagrams is a challenge.

On 2 Mar 2017 12:22 p.m., "rouzbeh8

[2017-03-03 15:17] TheLarkInn commented on #836
Excellent yes. I agree.

[2017-03-03 17:05] rouzbeh84 commented on #469
yea, sorry i didn't get a chance to style it up more. it does allow for pretty easy CSS styling though so it can be quite easily styled if you check out the bottom of the code in the link.

[2017-03-04 18:44] skipjack commented on #178
Just a note so I don't forget, I'm starting to play around with [markdown-to-react-components](https://github.com/christianalfoni/markdown-to-react-components) in the [react-banner](https://github.com/skipjack/react-banner) documentation and it allows reference links! The weird thing is it uses marked under the hood...

I have a feeling something else we did in our markdown utility file is the roo

[2017-03-06 18:42] alexjoverm opened #985 "Add link to tree-shaking page"
As discussed with @TheLarkInn (https://twitter.com/TheLarkInn/status/838799958451105792), I wanted to add the post about [Tree shaking with Webpack 2, TypeScript and Babel](https://alexjoverm.github.io/2017/03/06/Tree-shaking-with-Webpack-2-TypeScript-and-Babel/) to the tree-shaking docs

[2017-03-06 18:43] alexjoverm commented on #985
Creating a PR for it

[2017-03-06 19:04] #985 closed

[2017-03-06 21:42] simon04 commented on #687
The `extract-text-webpack-plugin` is out of beta.

[2017-03-06 21:42] #687 closed

[2017-03-06 22:09] andrixb opened #990 "following doc on hot module replacement does not show updates"
Hello everybody,

I've been smashing my head around for quite a while since I'm not able to see the HMR working properly. The console shows the HMR activities (such as listening, and file changing), but eventually updates are not displayed.

I'm using this config:
[code]
and I'm using this API in a test module:
[code]

Could you please help me to sort this out?
Thanks

[2017-03-07 08:16] simon04 opened #992 "Merge code-splitting-{import,require}"
Idea from #988. Possible title: "Code Splitting – async loading"

[2017-03-07 14:27] #901 closed

[2017-03-07 14:48] dmitriid commented on #836
Unfortunately, this sells a pipe dream. Webpack _potentially_ reduces the amount of tooling. When extract-text-webpack-plugin silently removes [all your code](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/118) or typescript loaders cannot work on the whole codebase etc., you become very wary of what is invoked through webpack.

As a bundler of javascript code webpack is gre

[2017-03-07 15:18] dmitriid opened #995 "Typescript + Tree shaking configuration"
Relevant page: https://webpack.js.org/guides/webpack-and-typescript/

If I understand this correctly, this setup will not trigger webpack's tree shaking algorithm, because the loader will produce a CommonJS-stye `require`, not static `import`s required by [tree shaking](https://webpack.js.org/guides/tree-shaking/).

If I'm correct, something like this should be used for tree shaking:

----

1. `np

[2017-03-07 18:39] juan-urtazun opened #996 "hmr-react.md index.js: Module build failed: SyntaxError, Unexpected token"
Hi, I'm start a example project based on hmr-react.md  guide, but on run npm start, i'm getting error:
/src/index.js: Unexpected token (11:4)
   9 | const render = (Component) => {
  10 |   ReactDOM.render(

     |     ^
  12 |       <Component/>
  13 |     </AppContainer>,
  14 |     document.getElementById('root')

I can't figure out what is happening.

Someone can help me?
Thanks

[2017-03-07 18:41] scottdj92 commented on #996
Are you having issues running your project, or this repo? This repo contains documentation for webpack.

[2017-03-07 20:57] juan-urtazun commented on #996
I've been experiencing those issues while following this guide to set up my own project.
My project has the same structure and files that propose this guide and nothing else.

[2017-03-07 22:03] scottdj92 commented on #996
Can you share your repo, so I can give it a look-see?

[2017-03-08 13:27] juan-urtazun commented on #996
Hi, thanks for your help.
The problem was a typo in .babelrc config.
If anyone wants to try or experiment,  this is the repo https://github.com/juan-urtazun/react-webpack-hmr/tree/master

[2017-03-08 14:27] scottdj92 commented on #996
@juan-urtazun, I cloned your repo and was able to run it.

Glad to hear that you fixed it :D

[2017-03-08 14:37] #996 closed

[2017-03-09 06:18] rouzbeh84 commented on #990
please see [pr1](https://github.com/andrixb/WebpackSassStarter/pull/1) on your project. looks like some routing/config issues as HMR is working on 8080 with the PR. parted commits out so you can easily test and go

[2017-03-09 14:00] TheLarkInn commented on #992
I even think Code Splitting - Async would be good too

[2017-03-09 15:04] justinbowes opened #1000 "Externals documentation is vague"
invalid.

[2017-03-09 15:12] #1000 closed

[2017-03-10 23:13] andrixb commented on #990
Hey thanks @rouzceh84 ! I appreciate it.
I've tried this change up but with `watchContentBase: true,` in place of `hot: true` it seems that whole page is refreshed at any code changing. The HMR should affect only the edited component, shouldn't it?

[2017-03-14 08:09] glenjamin opened #1014 "Ignore plugin is missing from docs"
Webpack v1 docs include a section about [IgnorePlugin](http://webpack.github.io/docs/list-of-plugins.html#ignoreplugin) - although it is a tad cryptic.

There's no equivalent entry in the webpack 2 docs.

It would be good to add this and provide an explanation of what the second argument does that's easier to understand if you aren't familiar with webpack internal terms (or link to an explanation

[2017-03-15 09:32] wuxiandiejia opened #1018 "[CommonsChunkPlugin] add some examples link"
Could add https://github.com/webpack/webpack/tree/master/examples/move-to-parent
and  https://github.com/webpack/webpack/tree/master/examples/extra-async-chunk
to the [CommonsChunkPlugin page](https://webpack.js.org/plugins/commons-chunk-plugin/).
Because I think the `children` and `async` option is not easy to understand without a example.

[2017-03-15 21:38] tnguyen14 commented on #147
Is there a way to do this from the CLI?

[2017-03-16 16:59] rouzbeh84 commented on #1018
Made some recent PR's to add other documentation to [plugins](https://webpack.js.org/plugins) myself due to this but thought [commons-chunk-plugin](https://webpack.js.org/plugins/commons-chunk-plugin/) was quite thorough.

It includes [async](https://webpack.js.org/plugins/commons-chunk-plugin/#extra-async-commons-chunk) and [move-to-parent](https://webpack.js.org/plugins/commons-chunk-plugin/#mov

[2017-03-17 01:08] wuxiandiejia commented on #1018
@rouzbeh84 I don't know what's the `children` mean,can you give a example?

[2017-03-17 12:42] S-Kaushik opened #1030 "404 links in contribute.md"
Hi,

The Writers Guide and Development Guide on [this page](https://github.com/webpack/webpack.js.org/blob/master/content/contribute.md) are 404 links.

[2017-03-17 22:08] skipjack commented on #1018
@wuxiandiejia `children` means child bundles/chunks created using [on demand code splitting](https://webpack.js.org/guides/code-splitting/#on-demand-code-splitting). Basically the `children` key tells the plugin to find common dependencies between the children and move them up to a parent bundle so they aren't duplicated.

[2017-03-17 22:23] skipjack commented on #971
@MartinMuzatko only `devtool: 'source-map'` is necessary. I'm not 100% sure what the loader and plugin do, definitely more clarification is needed on the plugin and loader pages.

[2017-03-17 23:49] wuxiandiejia commented on #1018
@skipjack Thank you.I didn't notice the code splitting in the section. Can you add the link of it to highlight it?

[2017-03-18 02:16] TheLarkInn opened #1033 "Add Left Partner Banner for ag-Grid"
* We need to have the attached asset added to the left gutter of the docs page (for desktop). We don't have any plans for mobile yet that provides as eloquent, and so for now we've agreed to not disrupt the delivery of content with the banner on mobile devices.
* The banner needs to link to https://www.ag-grid.com/?utm_source=webpack&utm_medium=banner&utm_campaign=sponsorship

![banner_ad_vertical

[2017-03-18 06:54] rouzbeh84 commented on #1030
ah snap, didn't realize this was assigned already. i'll close out #1034

[2017-03-18 07:03] rouzbeh84 commented on #1018
here you go [parents/children](https://webpack.js.org/plugins/commons-chunk-plugin/#move-common-modules-into-the-parent-chunk) and the [file itself](https://github.com/webpack/webpack/blob/master/lib/optimize/CommonsChunkPlugin.js) may help as would maybe the [code example](https://github.com/webpack/webpack/tree/master/examples/multiple-commons-chunks)

[2017-03-18 07:08] wuxiandiejia commented on #1018
@rouzbeh84 Thank you. I will see them.

[2017-03-18 13:35] skipjack commented on #990
@andrixb `watchContentBase` is used for something else. Say you have some files in your `/build` or `/dist` folder that aren't managed by webpack. With `watchContentBase: true`, if those files are changed then the dev server will refresh the page.

Basically, the two things needed to enable HMR are `hot: true` in the `devServer` config and a `new webpack.HotModuleReplacementPlugin()` in `plugins`.

[2017-03-18 13:35] #990 closed

[2017-03-18 13:40] skipjack commented on #1030
@rouzbeh84 no worries, I'll review your PR shortly. I'm happy to have one less thing to PR today!

[2017-03-18 14:38] skipjack commented on #1033
@TheLarkInn starting this now.. so from my understanding we basically want to create fixed ad space in the left gutter that's only displayed on screen sizes large enough to have gutter room. And for now we will just have one hard-coded ad (i.e. the image you displayed above).

I'm going to start it with those as the "reqs" in mind, please correct if I misunderstood anything.

[2017-03-18 16:19] skipjack commented on #1030
Closed by #1035.

[2017-03-18 16:19] #1030 closed

[2017-03-18 16:20] #1018 closed

[2017-03-18 22:18] skipjack commented on #301
@bebraw @webpack/documentation-team I'm going to close this for now and try to focus mainly on knocking out documentation tasks for the next month or so. Once we get further along with the actual content, I think we can then take more time to clean everything up. This issue has so many parts to it that I think we should instead create smaller more targeted issues and re-open it once more pieces ar

[2017-03-18 22:18] #301 closed

[2017-03-18 22:22] skipjack commented on #178
Closing this for same reason I just closed #301, if someone wants to pick it up sooner feel free to re-open. If not, @bdougie I'll ping you down the road if once we start a real effort on #301 if you're still interested in helping out (I have pretty high hopes for `MRTC` 😄 ).

[2017-03-18 22:22] #178 closed

[2017-03-19 12:44] aight8 opened #1039 "Documentation site improvements"
## Mark active submenu automatically

Regarding: all pages
Go for example to this page: https://webpack.js.org/api/plugins/compiler/

**Compiler** *<- active*
- Watching
- MultiCompiler
- Event Hooks
- Examples

It's confusing because the sub menus can never be active, they are anchors. This could assume a reader it's a separate page. In my opinion the subpages must 1) be a separate page 2) or mar

[2017-03-19 17:01] skipjack commented on #1039
@aight8 you make some good points here. I'm currently working on implementing the design shown in #438, I'll try to tackle some of these as I go as well.

[2017-03-20 15:19] #1033 closed

[2017-03-20 22:05] EECOLOR commented on #130
So time has moved forward about 2 years and still no answer.

Could you please provide a hint on how to report an error from a plugin?

[2017-03-21 05:38] bebraw commented on #130
@EECOLOR If you have access to `compilation`, you can do this:

[code]

[2017-03-21 05:39] bebraw commented on #130
Another way would be to throw an error. That would terminate the execution.

[2017-03-21 07:26] EECOLOR commented on #130
@bebraw Thank you! Exactly what I needed

[2017-03-21 11:17] Aladdin-ADD opened #1041 "npm run test => error"
after `npm install`, `npm run build`, `npm run test`, I  got some eslint errors:
![image](https://cloud.githubusercontent.com/assets/13050025/24145161/ea14ee2e-0e6a-11e7-9aa1-af71acb86038.png)

Did I forget something?

[2017-03-22 12:10] andrixb commented on #990
Thanks for the answer.
I was indeed using the `hot:true` the `style-loader`, and new webpack.HotModuleReplacementPlugin(), but I've never seen the HMR working (my issue even exists in [StackOverflow](https://stackoverflow.com/questions/42624778/webpack-hot-module-replacement-does-not-inject-the-updated-code)):

[code]

Anyway since you found this issue not appropriate for this section (and I recko

[2017-03-22 14:17] skipjack commented on #990
@andrixb added an answer to your question on SO, I believe you're just missing the `disable` option on the `ExtractTextPlugin`.

[2017-03-22 19:39] panozzaj commented on #273
Thanks for writing up your thoughts on the documentation for `devtool`, I had similar thoughts while reading through it. My question ([original](https://github.com/webpack/webpack/issues/4543)) was more along the lines of speed and understanding the notation of the table. Restated here:

*What is the current behavior?*

Currently the documentation for devtool configuration is unclear to me, at lea

[2017-03-24 00:12] veltman opened #1049 "Incorrect comparison guide info for "watch mode""
The [comparison guide](https://github.com/webpack/webpack.js.org/blob/master/content/guides/comparison.md) says that Rollup doesn't have a watch mode. It does (https://github.com/rollup/rollup-watch).

To mimic the style of the rest of the table (a link to the plugin if it's not built in), I assume that the entries for Browserify and Rollup should read as [watchify](https://github.com/substack/wat

[2017-03-24 04:35] Aladdin-ADD commented on #1049
seems that it is WIP.

[2017-03-24 14:36] #899 closed

[2017-03-24 17:57] veltman commented on #1049
I guess that's a question for @Rich-Harris, my impression is that it's relatively stable/widely used?

[2017-03-24 18:14] Rich-Harris commented on #1049
Yeah, it is — we should probably update the README on rollup-watch to reflect that. thanks for the prod

[2017-03-25 20:02] manishlamichhane commented on #445
Hello, I am facing the same issue. Upon npm install webpack@2.1.0-beta.27 --save-dev, I get the following error:

npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.1.1
npm WARN webpack-dev-server@2.4.2 requires a peer of webpack@^2.2.0 but none was installed.
npm WARN truffle-init-webpack@

[2017-03-27 11:34] #1049 closed

[2017-03-27 12:22] goldbuick opened #1055 "v2 Docs site broken"
https://webpack.js.org/

Uncaught TypeError: window.docsearch is not a function
    at t.value (3a41dcd84eb9ab0b12f213c1ec3341ab.js:2)
    at P (3a41dcd84eb9ab0b12f213c1ec3341ab.js:2)
    at C (3a41dcd84eb9ab0b12f213c1ec3341ab.js:2)
    at Object.I [as render] (3a41dcd84eb9ab0b12f213c1ec3341ab.js:2)
    at Object.i [as render] (3a41dcd84eb9ab0b12f213c1ec3341ab.js:1)
    at Object.<anonymous> (3a41

[2017-03-27 12:26] bebraw commented on #1055
Yeah, the problem is that `docsearch` object has changed. They emit `Object {__esModule: true, default: function}` instead of a function now.

Any ideas why @dzello?

I'll patch this for now. I expect this might have broken a lot of sites...

[2017-03-27 12:48] #1055 closed

[2017-03-27 21:53] dzello commented on #1055
@bebraw Yikes, I don't think that was intentional. Looking into it with the team and will report back.

[2017-03-27 22:32] dzello commented on #1055
A fix has been pushed, our apologies! /o\

[2017-03-28 12:35] drac commented on #68
**Correction**

For those who gets the error like below;

[code]

Try not to use `''` (empty string), use `'*'` instead.

example:
[code]

[2017-03-28 15:36] sokra commented on #68
@drac no, `*` has not effect other that accepting `module*` as filename... Instead omit the empty string as it's added by default.

[2017-03-29 08:00] simon04 opened #1062 "ag-grid.com banner on smaller screens"
The ag-grid.com banner (introduced #1038) looks rather weird an smaller screens, see screenshot:
![2017-03-29-095810_1255x1179_scrot](https://cloud.githubusercontent.com/assets/782446/24444407/883ff89a-1466-11e7-8585-bf33c8f82284.png)

[2017-03-29 20:20] drac commented on #68
@sokra you are absolutely right, I edited my comment according to yours.

[2017-03-29 20:50] dmitriid opened #1063 "Links to examples in menu tree show up as "Example example example""
A picture is worth a thousand words. Found here: https://webpack.js.org/plugins/commons-chunk-plugin/#examples

![](http://dmitriid.com/i/gm2tonbrgm4tinrv.png)

Perhaps something to look out for in #1039

[2017-03-29 21:23] skipjack commented on #1063
Ah that is bizarre, and it extends the list as you scroll. I'll look into this as soon as I can... assigning to myself but anyone would be welcome to pick it up before me.

[2017-03-30 18:36] TomHarker commented on #107
How are you supposed to know if a node module is browser compatible? And why should webpack care? I'm trying to build for NW.j

[2017-03-30 21:56] skipjack commented on #1063
#1064 fixed this issue, should be live soon.

[2017-03-30 21:56] #1063 closed

[2017-03-31 00:26] #1062 closed

[2017-04-01 07:09] bebraw commented on #836
There's a [support page](https://webpack.js.org/support/) now. Time to close this issue.

[2017-04-01 07:09] #836 closed

[2017-04-01 09:47] bebraw opened #1070 "Dev - Bail if YAML/Markdown Parsing Fails"
Otherwise pages might end up being skipped from the build.

[2017-04-02 18:32] skipjack commented on #1041
@Aladdin-ADD good point, I believe the issue is that we're using our same eslint configuration for the markdown javascript samples as we are for the actual code running the site. There's definitely value in this but if we want to continue this process it's probably worth defining some separate, more lax, rules for the javascript within `.md` files.

@webpack/documentation-team any thoughts? I forg

[2017-04-03 07:55] bebraw commented on #1041
Yeah, most likely we want separate linting setups per site/content to fix this.

[2017-04-04 05:25] dmitriid opened #1076 "Webpack (and docs site) should not accept plugins/loaders without proper docs"
Prompted by this tweet: https://twitter.com/kevsmith/status/849062446836985859

----

[dynamic-css-loader](https://webpack.js.org/loaders/dynamic-css-loader/)

----

[bundle-loader](https://webpack.js.org/loaders/bundle-loader/) and [transform-loader](https://webpack.js.org/loaders/transform-loader/)

Usage links to v1 loader usage docs _and_ doesn't explain what it is and what it does. (What's a

[2017-04-05 17:32] stockholmux opened #1079 ""Getting Started" does not get you started"
Webpack Version: 2.3.3
Node: 6.9.4

Running the instructions from `https://webpack.js.org/guides/get-started/` does not work. I get the following error:

[code]

I feel like there is some step or dependency missing in the getting started guide

[2017-04-05 17:51] stockholmux commented on #1079
Gah. OK.

The design here got me. The "+" is unclear that it's just a diff mark.
![screen shot 2017-04-05 at 1 47 39 pm](https://cloud.githubusercontent.com/assets/1152927/24719136/a5b837ac-1a06-11e7-8ace-515c3974e225.png)

After crossing this with another tutorial, I figured out what was going on. Close if you want, but the issue stands that when introducing unfamiliar syntax it's a fairly easy m

[2017-04-05 17:51] #1079 closed

[2017-04-06 18:15] bdwain opened #1083 "More Clarity In Docs Needed on Limitations of Dynamic Imports in Webpack 2"
[This page in the docs](https://webpack.js.org/guides/code-splitting-import/) only has a quick sentence about how import statements cannot be "fully" dynamic, but can be partly.

Ideally the docs would provide details on when and how variable names can be used in import statements.  For example, something like this doesn't work.

[code]

but this does (according to the docs at least)

[code]

it w

[2017-04-06 18:49] bdwain commented on #1083
also i'm happy to make the pr to the docs. i just need the questions answered before I can do it. Thanks!

[2017-04-06 21:40] simon04 commented on #1083
The relevant source code is: https://github.com/webpack/webpack/blob/master/lib/dependencies/ContextDependencyHelpers.js

In a PR, please replace `Math.random()` with a more practical code sample.

[2017-04-06 21:53] simon04 opened #1085 "Dev - Display Index Pages Correctly"
In the menu, the page https://webpack.js.org/concepts/ is shown as "Introduction" w/o listing its subsection such as https://webpack.js.org/concepts/#entry or https://webpack.js.org/concepts/#output.

Proposed changes:
* Introduction → proper page title (such as "Concepts" in the example)
* list subsections as for all non-index.md pages

Screenshot:

![2017-04-06-23-49-39-001](https://cloud.github

[2017-04-07 04:44] skipjack commented on #1085
@bebraw is there anyway to access the index page's data? I'm not even sure we're parsing out the anchors for index pages as of right now...

[2017-04-07 06:56] bebraw commented on #1085
@skipjack The current logic might skip indices, yeah. Most likely `processPage` should apply to those as well or we have to add `processIndex` (probably a better option).

[2017-04-07 18:57] ecarlisle commented on #273
@bebraw : I've been working with source maps quite a bit lately so I'd happy to try a documentation update on this.  I do UX design and think @panozzaj 's idea of comparison via data visualization could be a big plus. Sometimes this is as easy as a change in iconography (instead of + or minus). Other times it's reconsidering if something is better expressed as text or via a visualization.

I'd be

[2017-04-07 18:58] bebraw commented on #273
@ecarlisle Awesome to hear. Please PR. Easier to discuss there. 👍

[2017-04-07 19:19] ecarlisle commented on #971
I have a [PR](https://github.com/webpack-contrib/source-map-loader/pull/37) in review to better explain the `source-map-loader` plugin, but that's in on that project's Github Repo. I'd want to make sure that the content on the [2.0 Docs site](https://webpack.js.org/loaders/source-map-loader/#install) is consistent.

cc: @bebraw : I'd be happy to update docs on both `source-map-loader` as well as `

[2017-04-07 19:24] bebraw commented on #971
@ecarlisle Thanks. Just added a comment for you.

The documentation site picks up the loader/plugin readme files automatically. There's no automation apart from that, though.

If you are worried about duplicating content, it's better to keep the readme fairly simple and link to the official docs for more info.

[2017-04-07 19:35] ecarlisle commented on #971
@bebraw : Great! Sounds like the project repo is the place to make the readme change and the documentation site will assimilate that. If that's the case I've do worries about duplicated content.

[2017-04-08 06:33] MartinMuzatko commented on #971
Thank you so much for putting so much heart and love into the documentation :)

[2017-04-08 08:08] webpack-bot opened #1093 "More Clarity In Docs Needed on Limitations of Dynamic Imports in Webpack 2"
**Do you want to request a *feature* or report a *bug*?**

Request more documentation. I'm happy to make the PR to the docs, but I don't know what to write yet.

**What is the current behavior?**

[This page in the docs](https://webpack.js.org/guides/code-splitting-import/) only has a quick sentence about how import statements cannot be "fully" dynamic, but can be partly.

**What is the expected b

[2017-04-08 08:10] sokra commented on #1093
Sorry, it was just a test. Issue is already filed as #1083

[2017-04-08 08:10] #1093 closed

[2017-04-09 00:02] chikathreesix commented on #295
Hi @sokra, @bebraw and @lcxfs1991 ,

After getting lots of feedbacks, we have changed our direction and just launched this product as the beta.
https://gitlocalize.com/

Check out the video on the homepage to see how it works. GitLocalize pulls from markdown files your repo, parses them into trackable chunks and links original copies and translations automatically. Also, it provides a split view o

[2017-04-10 08:17] webpack-bot opened #1096 "Webpack.watch before the file write to webpack.watch callback will be triggered several times"
**Do you want to request a *feature* or report a *bug*?**
 *bug*

**What is the current behavior?**

Webpack.watch before the file write to webpack.watch callback will be triggered several times

**If the current behavior is a bug, please provide the steps to reproduce.**

main.js //Only one line of code，Files are not present
`import * as files from "./files.js"`

start_packing.js //Start packing

[2017-04-10 19:17] tarang9211 commented on #545
@sokra could you give more info on this? I'd be glad to help out here.

[2017-04-10 22:07] skipjack commented on #1085
Is `processIndex` supported by antwar? Just looking at the config I figured `processPage` was applied to everything:

![image](https://cloud.githubusercontent.com/assets/8988697/24884659/71873134-1e18-11e7-99e6-57c7ee4dc0cc.png)

[2017-04-10 22:16] skipjack commented on #438
Quick status for this one...

- Sidebar redesign is done (#1046).
- I'm working on some routing and `/content` structure tweaks but grouping within a section is likely blocked by antwarjs/antwar#124. We could do something similar to the `sort` in the markdown variables, but that seems like it would be a pain to maintain.

I'd like to get the structure and routing cleaned up and more in sync before

[2017-04-10 22:25] skipjack commented on #411
@rafaelrinaldi did you ever get anywhere with this? No pressure, just curious...

@sokra @jhnns @TheLarkInn is this still a priority or should we close this out? Maybe @TheLarkInn's idea of having it on a separate page ordered by donation amount would be fine.

I've been thinking about simplifying the landing page to just the top section with quick calls to action (e.g. just the banner, visualizat

[2017-04-10 23:19] skipjack commented on #409
@pksjce as for the admin menu, something like this:

![image](https://cloud.githubusercontent.com/assets/8988697/24886284/7ab5f44e-1e21-11e7-84a0-42e3ab136429.png)

@TheLarkInn working on a mobile version of the comp now. Should have something to share soon. Once I have that ready I think we should clean up some of the voting components, port them to another repo that can be maintained and managed

[2017-04-11 02:56] skipjack commented on #1039
Ok, some thoughts a you've listed a lot here...

Displaying the initially active submenu option would be easy but maintaining it on scroll would a bit more to maintain. If someone wants to take a stab at this and/or has a library or open source component that would help with this, I'd be happy to review a PR. However I think it's also probably ok to just keep it simple for now.

Not sure if this i

[2017-04-11 05:00] bebraw commented on #1039
The right way to do it would be to implement a little router on top of the site. The problem is that I'm extremely strapped for time at the moment (~7 hours per week) and there are higher priority issues to look into.

We haven't heard back from phenomic and the third guy that wanted to port the site. But if someone wants to take over the site development, I won't stand in the way.

[2017-04-11 05:44] NejcZdovc commented on #409
@skipjack this voting would still be part of webpack.org.js or could be used separately?

[2017-04-11 05:44] bebraw commented on #1085
No support yet. `processPage` doesn't get applied against the indices.

[2017-04-11 06:07] skipjack commented on #409
@NejcZdovc we'd still integrate it as a section of this site, but it would have it's own `/src` directory, issue management, config, etc. This would...

- Take some weight off of this repo both in terms of code and issues.
- Allow us to have separate maintainers.
- Give us flexibility on where and how we deploy it (either here or elsewhere).
- Give it space to breath, add new features to, fix issu

[2017-04-11 06:07] skipjack commented on #1085
Ah ok, would you like me to create a ticket over at antwar for this as well?

[2017-04-11 06:24] NejcZdovc commented on #409
@skipjack ok let's do it :smiley:

[2017-04-11 06:53] webpack-bot opened #1099 "Critical dependency warning on a require.resolve"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

–

**Please mention other relevant information such as the browser version, Node.js version, webpac

[2017-04-11 07:43] skipjack commented on #1099
This seems related to #1093. If I understand correctly, webpack can't `import(...)` or `require` a pure variable e.g. `import(varName)` because there's no way to determine what group of files are being referred to. However, something like:

[code]

gives webpack enough information to go bundle all css files from `./directory` and make them accessible as `require`-able modules when the variable is

[2017-04-11 08:03] bebraw commented on #1085
Sure, open tickets. Easier to keep track of things.

[2017-04-11 08:05] bebraw commented on #409
Maybe set up `webpack-contrib/voting-app` and then consume as a package? I can do the repo if you can agree on the name.

[2017-04-11 08:07] bebraw commented on #1099
My understanding is that `import('./directory/${varName}.css')` sets up a `require.context` internally. If you had `import(varName)`, how could you tell statically where to point in the file system?

[2017-04-11 08:30] dkfiresky commented on #1099
Can you please clarify why webpack thinks that `require.resolve` and `require` are the same?
As if I used the `require(varName)` instead of `require.resolve(varName)`?

[2017-04-11 08:34] NejcZdovc commented on #409
I would go a as a npm package, yes

[2017-04-11 12:18] skipjack commented on #409
I'm good with that name 👍.

[2017-04-11 12:22] bebraw commented on #409
Done. [Here](https://github.com/webpack-contrib/voting-app). You should have admin level rights to it.

[2017-04-11 13:20] maasha opened #1100 "Building for production guide error"
I am following the guide: https://webpack.js.org/guides/production-build/

The

[code]

Results in

[code]

[2017-04-11 16:18] skipjack commented on #409
@NejcZdovc @pksjce I'll ping you once the designs are done and we can working on porting it. @bebraw any ideas on integration? Should we just have one wrapper component that imports the styling and top-level component, and renders the component in an antwar `<Interactive>` tag?

[2017-04-11 16:19] NejcZdovc commented on #409
@skipjack ql, let me know when I can help

[2017-04-11 16:25] bebraw commented on #409
@skipjack Wrapper sounds like a good starting point, yeah.

[2017-04-14 12:58] #902 closed

[2017-04-14 13:50] simon04 commented on #1076
The plugin/loader docs are 1:1 copies of their READMEs.  The dynamic-css-loader README has been changed in the meantime. For other loaders please PR on their repositories.

[2017-04-14 13:50] #1076 closed

[2017-04-14 15:14] dmitriid commented on #1076
@simon04

You misundersrood the point/purpose of this issue. By including plugins and their documentation on webpack.js.org webpack says: "Hi, world. We officially endorse these plugins and we want you to use them"

- Why are these plugins there?
- Why are they even listed in webpack docs?
- _Shouldn't webpack enforce doc quality before blindly including every plugin in existence?_

Yes, I could d

[2017-04-14 15:15] dmitriid commented on #1076
Oh right. "Dynamic CSS loader readme changed in the meantime" by remaining as bad as it was before. Just so you know

[2017-04-14 15:40] simon04 commented on #1076
We only include projects from `webpack/`, `webpack-contrib/` and a few manually selected others (such as babel-loader).

I got your idea, but neither is the proposal of this ticket's summary realizable (in the scope of webpack.js.org) nor the universal statement "document everything" help to reach that goal.

We're all here to improve things (in the spare time), and going through, commenting, clos

[2017-04-14 16:35] jakearchibald opened #1106 "Hi I'm an idiot and I failed to find the "caching" section in the docs"
Feel free to "wontfix" this, but when I was looking for the docs I was looking for terms like "revisioning", "versioning", "hashing", "renaming" etc etc.

[2017-04-14 16:36] TheLarkInn commented on #1106
We should at the least see if theres a way to index those terms against the site search we have. Is that possible @bebraw ?

[2017-04-14 16:37] jakearchibald commented on #1106
FWIW, I also looked for it in "Building for production" as I thought "Ah yes this is a production-specific action".

[2017-04-14 16:38] bebraw commented on #1106
@dzello Any thoughts on this?

[2017-04-14 16:41] jakearchibald commented on #1106
It's totally possible that I'm the only person in the world that wouldn't think of this as "caching".

Within a build system, I figured "caching" might be to internal caching for incremental builds, or something like https://github.com/contra/gulp-cached.

[2017-04-14 17:16] dzello commented on #1106
_reaches into search toolbox, pulls out synonyms_

This sounds like a job for some [synonyms](https://www.algolia.com/doc/guides/relevance/synonyms/). The DocSearch config supports them directly as you can see [here with Mozilla](https://github.com/algolia/docsearch-configs/blob/eb120290d536908c075b16ef9c08bdb463ce0722/configs/mozilla.json#L136).

Anyone want to take a pass at what they all should

[2017-04-14 17:41] Munter commented on #1106
Content addressable file naming, hashing, revisionig, "revving", consistent file hashing, persistent caching.

People use so many names for this

[2017-04-14 18:19] dmitriid commented on #1076
This ticket is easily realised: do not accept things to `webpack/` and `webpack-contrib` unless they are properly documented. Where "properly documented" is:

- The goal of the plugin is clearly stated
- Installation steps are provided
- The usage is clearly described
- Options are documented
- There is at least one example

These four steps can be easily deduced at a glance. It took me less than

[2017-04-14 18:30] dmitriid commented on #902
Awesome!

[2017-04-14 18:35] dmitriid opened #1107 "Plugin/Loader doc pages should have clear, explicit links to their respective repos"
In addition to #1076 :

Loaders and plugins are not a part of webpack. And they are not always a part of webpack-contrib. Their documentation pages should have a link to the plugin's/loader's respective Github repo.

_UPDATED_

Explicit is better than implicit. Currently the only ways to get to the respective repos is:

Way 1:
- Hover over "Edit this page"
- Notice that it leads to the correct rep

[2017-04-14 19:07] TheLarkInn commented on #1106
Alright awesome looks like we have everything equipped to add this feature. I'll share with the masses.

[2017-04-14 21:30] simon04 commented on #1107
A link already exists: "Edit this page" links to the corresponding GitHub project, more specifically to its README.

[2017-04-14 21:34] dmitriid commented on #1107
Yes. It's a link to the editing page for the README page. I personally didn't even think on clicking it, because usually I ave no intention to edit a README.

I might want to go the project's Github page and file an issue, for example. Things must be made as explicit as possible.

(On a grumpy note: honestly, what is it with webpack team and clear unobstructed communication?)

[2017-04-15 01:11] skipjack commented on #1107
I can look into this one.

[2017-04-15 02:59] skipjack commented on #1100
Are you passing `--env=dev` and `--env=prod`? Can you log out the what's returned from `require('./config/' + env + './js')`? The guide is expecting this will resolve correctly will return a function in both cases.

That said, I think this guide needs some work and could probably be simplified a bit. For example, the `env` parameter is never used in `dev.js` or `prod.js`.

[2017-04-15 03:03] skipjack commented on #1100
@bebraw @simon04 do we have example/boilerplate repos backing any of these guides? Maybe something we should try out or encourage going forward. This way people would have something to go off when things break down and we could point them to a working example when something goes wrong.

However keeping the guide and repo in sync may be tough as well, so I'm not sure this is necessarily the perfect

[2017-04-15 05:50] skipjack commented on #1041
Tackling this now.

[2017-04-15 06:18] #992 closed

[2017-04-15 07:42] dmitriid commented on #1107
Awesome!

[2017-04-15 08:29] skipjack commented on #720
Created an issue over at antwarjs/antwar#127 for this with more details.

[2017-04-15 14:08] skipjack commented on #409
Finally got a mobile comp together:

![image](https://cloud.githubusercontent.com/assets/8988697/25064142/3d19c72e-21c2-11e7-8eeb-3e3512553aef.png)

It's not perfect but I think this is a good starting point. I'm working on porting things to the new repository now, I'll create an issue for the redesign there and move over any existing vote issues from this repository.

@pksjce @NejcZdovc I created

[2017-04-15 14:08] #409 closed

[2017-04-15 14:10] skipjack commented on #918
This issue was moved to webpack-contrib/voting-app#1

[2017-04-15 14:10] #918 closed

[2017-04-15 15:35] NejcZdovc commented on #409
@skipjack so we should start porting now or will you do some more things in this repo?

[2017-04-15 15:37] skipjack commented on #409
I have it almost ready, I'll push where I'm at in the next hour or so.

[2017-04-15 16:28] #1083 closed

[2017-04-15 16:51] maasha commented on #1100
Ah, sorry, I have wiped the code since I couldn't get it to work. But would `require('./config/' + env + './js')` not cause the same err?

[2017-04-15 16:58] skipjack commented on #1100
It shouldn't, I don't think if your repository is set up in the same way the guide instructs. Basically that should either resolve to whatever is exported from `./config/dev.js` or `./config/prod.js`. It looks like those weren't coming back at all, or weren't coming back with the right export. The error you saw was because whatever is returned by the `require(...)` wasn't a function, hence the `re

[2017-04-15 17:01] maasha commented on #1100
It vaguely makes sense :o). I think some boilerplate code would be awesome.

On Sat, Apr 15, 2017 at 6:58 PM, Greg Venech <notifications@github.com>
wrote:

[2017-04-15 17:03] skipjack commented on #1100
Yeah, I hear you. I'll leave this issue open as a stub for improving that guide either by simplifying it a bit or adding a boilerplate somewhere.

[2017-04-15 17:18] maasha commented on #1100
Cool, getting webpack to work with electron + react has given my headaches. Prowling the internet have left me with a feeling that the available docs, guides, and tutorials are causing lots of confusion (at least for me). Basically, one want to get started with webpack for development. That means starting with webpack-server-dev and not webpack on its own IMHO! Next you want to optimize for produc

[2017-04-15 18:32] bebraw commented on #1100
@skipjack No repos. Maintenance-wise it would be the best to generate the repos based on the tutorial code (or vice versa) but that's a harder problem. Otherwise you get a syncing issue (both need to be changed).

[2017-04-17 02:28] johnstew commented on #438
@skipjack yeah I can check out what I wrote up for guides and see how that compares to what's on there now. I'll focus on getting that done first then go from there for the other sections on the site. Sound good?

[2017-04-17 03:30] skipjack commented on #438
@johnstew sounds great, yea maybe you can share your ideas for how to group each section so we'll have a nice plan laid out by the time we have the groundwork in place to do it.

I should be submitting a PR sometime this week to sync up our routes and content more, however the in-section grouping is still blocked by antwarjs/antwar#124 unless we want to go with the `group` markdown variable.

[2017-04-17 03:31] skipjack commented on #438
@johnstew btw, what do you think of [levels I proposed above](https://github.com/webpack/webpack.js.org/issues/438#issuecomment-282508376)? Sound reasonable?

[2017-04-18 03:09] skipjack commented on #970
I have also grappled with this in the past and came to about the same conclusion. It might be tough to enforce one or the other now as there are so many instances of `chunk` and `bundle` across this site and elsewhere.

@TheLarkInn maybe a glossary section somewhere under `Documentation` would be useful at some point?

[2017-04-18 03:35] #1041 closed

[2017-04-18 12:24] #796 closed

[2017-04-18 13:58] dzello commented on #1106
The [webpack DocSearch config](https://github.com/algolia/docsearch-configs/commit/c7ccffee1f704069e5033cfcd2c0a7cbe316ec9a) has been updated and deployed. You can use any of those terms now and they'll return caching-related results.

Also, I noticed the Development part of the docs wasn't in the config yet. It's [added now](https://github.com/algolia/docsearch-configs/commit/dcd1b90c0d3403f9c5d0

[2017-04-18 22:02] skipjack commented on #1106
Just tested, it seems @dzello's changes have taken effect:

![image](https://cloud.githubusercontent.com/assets/8988697/25154988/ebdfc92a-2460-11e7-8fc0-66efe4491057.png)

Going to close, but feel free to re-open if I missed something.

[2017-04-18 22:02] #1106 closed

[2017-04-19 09:23] PaquitoSoft commented on #126
Is there already any documentation for AutomaticPrefetchPlugin?

[2017-04-19 10:52] simon04 opened #1126 "Sidebar: anchors with links"
Fetched content from `webpack-contrib` plugins/loaders does not show up nicely when a header contains a link, such as https://webpack.js.org/loaders/coffee-loader/#-literate-http-coffeescript-org-literate-

![2017-04-19-124925_1198x947_scrot](https://cloud.githubusercontent.com/assets/782446/25176569/d69a94a2-24fe-11e7-9539-fc5e7ced5a4a.png)

Related: https://github.com/webpack-contrib/bundle-load

[2017-04-19 10:53] simon04 commented on #1099
With https://github.com/webpack/webpack.js.org/pull/1110 merged, is there anything left to be done?

[2017-04-19 12:14] TomTasche opened #1131 "incomplete css-tutorial?"
the tutorial for bundling css with webpack (https://webpack.js.org/guides/code-splitting-css/) does not quite tell you all the steps necessary in my opinion. is it just me and i'm missing the point of the tutorial?

if the point of the tutorial is indeed to bundle css so that it is rendered on the website, i'd like to submit a PR which adds the missing steps (installing and using the style-loader-

[2017-04-19 12:20] skipjack commented on #1131
Could you expand on which parts are unclear or the steps you feel are missing?

I just re-read it, and it does look like some things could be elaborated, but it doesn't seem like any code is missing. Either way, we'd love for you to PR any improvements!

[2017-04-19 12:24] skipjack commented on #1126
@simon04 sure, I can pick this up though I'm a little unsure of what the best fix/behavior would be...

- It seems like it would be hacky to fix this at the component level, probably best in the markdown utility?
- Also, what should the resulting markup look like? Probably removing them instead of having some double-linking behavior (link within a link), right?

[2017-04-19 16:08] simon04 commented on #1126
Ideally the link text (anchor title) wouldn't contain any markdown syntax. Could this be achieved by editing [the `getAnchors` function](https://github.com/webpack/webpack.js.org/blob/e56f0af/utilities/markdown.js#L110-L117)? A trimming of backticks seems to already be in place.

[2017-04-19 20:32] yeskunall opened #1136 "Create a .github folder"
... and move `ISSUE_TEMPLATE.md` and `PULL_REQUEST_TEMPLATE.md` inside it.

I mean, all the cool kids are doing it? It also removes clutter in the root directory of the repo, so that's a plus! 👍

Seems fair, right? If so, LMK and I'll make a PR.

[2017-04-19 20:38] simon04 commented on #1136
2 files exchanged for 1 dir is a big improvement :wink:

https://github.com/webpack/webpack/tree/master/.github also has it, so go ahead :+1:

[2017-04-19 21:04] simon04 commented on #1131
@TomTasche Has the incompleteness been resolved with https://github.com/webpack/webpack.js.org/pull/1130? If so, let's close this issue.

[2017-04-20 06:27] skipjack commented on #1126
Yeah, I understand that part -- just wanted to make sure there wasn't an expectation that we would actually turn those into nested `<a>` tags. `getAnchors` should be the right place to do this... I'll get started on this and few of the other UI/UX issues as soon as I have a chance.

[2017-04-20 14:41] #1136 closed

[2017-04-21 07:09] TomTasche commented on #1131
#1130 did not add the information i was looking for, but it completed the information that is already available in the tutorial

what the tutorial is missing in my opinion is a mention of style-loader. the last paragraph uses extract-text-webpack-plugin which is fine, but before that it is necessary to use style-loader. otherwise css is merely bundled with javascript, but never applied to the webs

[2017-04-22 14:31] #1131 closed

[2017-04-22 18:52] addyosmani opened #1145 "Guides - Progressive Web Apps"
A consistent piece of feedback I hear from teams building PWAs is that Webpack configs are a major pain point. In particular, knowing what Webpack-specific performance best practices (and plugins) to follow are or what to use for patterns like [PRPL](https://developers.google.com/web/fundamentals/performance/prpl-pattern/).

Is there value in us having a dedicated page to this topic in the docs, e

[2017-04-23 04:01] #1014 closed

[2017-04-23 12:22] simon04 commented on #1126
With https://github.com/webpack-contrib/bundle-loader/pull/47 and similar PRs merged, there's a new similar problem:
![2017-04-23-14-20-35-001](https://cloud.githubusercontent.com/assets/782446/25313518/4521747a-2830-11e7-8efc-2f26a370239e.png)

[2017-04-24 13:06] michael-ciniawsky opened #1150 "Guides(migrating/#complex-options): remove ident"
The `ident` (Complex Options) is obsolete since `webpack >= v2.2.1` and gets automatically added internally by webpack

[2017-04-24 22:01] skipjack commented on #1126
Ok I guess we can reg ex that out as well.

[2017-04-24 23:05] #1107 closed

[2017-04-24 23:19] skipjack commented on #1150
@michael-ciniawsky were you planning to PR this? If not, I'd be happy to but can you give me a rough idea of your thoughts on how to correct this?

Maybe adding a tip (e.g. `T> ...`) or just blowing away everything about `ident` as anyone who is migrating now should be jumping to the latest version.

[2017-04-24 23:26] michael-ciniawsky commented on #1150
Go ahead if you have time 😛 I'm not sure what's best, imho remove it enterily from the docs :D

[2017-04-24 23:27] skipjack commented on #1150
Sounds good, I'll tackle it soon if no one beats me to it.

[2017-04-24 23:31] michael-ciniawsky commented on #1150
Thx

[2017-04-25 06:23] dmitriid commented on #1107
This looks super nice. Awesome!

[2017-04-25 21:30] #1100 closed

[2017-04-26 13:56] #1150 closed

[2017-04-27 03:08] skipjack commented on #1099
@dkfiresky based on the [old docs][1], it seems `require.resolve` does not behave exactly like `require` and instead returns the id for that module. However, after a quick search, I couldn't find anything in the new docs analogous to the page I just linked to. I'm not too familiar with `require.resolve` in webpack so we'd have to check with the rest of @webpack/documentation-team, but it seems may

[2017-04-27 06:56] dkfiresky commented on #1099
@skipjack thanks for clarification. I thought that `require.resolve` in webpack worked the same way as in nodejs.

[2017-04-27 08:34] rouzbeh84 commented on #1085
I'm not familiar with the antwar/build process of this so, while in no way a long term solution, how do you all feel about this interim hotfix?

---
# Concepts

*webpack* is a _module bundler_ for modern JavaScript applications. When webpack processes your application, it recursively builds a _dependency graph_ that includes every module your application needs, then packages all of those modules i

[2017-04-27 16:34] davydog187 opened #1161 "Basic descriptions for plugins/loaders"
I really love the documentation improvements that came with the new webpack 2 website. However, I find it frustrating that some of the promoted plugins/loaders on the webpack website do not have simple descriptions of their purpose.

For example, https://github.com/webpack-contrib/worker-loader states

What is a Worker Loader? Why might I want it?

There is a lot of implicit knowledge that we're e

[2017-04-27 18:58] skipjack commented on #1161
We pull most of the loader and plugin pages in dynamically, so it would be helpful if you could create issues at the repositories themselves (for the loaders/plugins that have vague descriptions).

I agree that some of them are not great, but unless it's a loader in `/content/loaders` (for which there are currently none) or a plugin in `/content/plugins` then these would have to be fixed at the or

[2017-04-27 19:36] ev1stensberg commented on #1145
I'd like very much to discuss somewhere how we want to layer the documentation for the CLI@skipjack. CC-ing @bebraw for input.

#### Agenda:

- Where to put documentation
- What should be included in respective locations ( for instance, PWA in webpack.js and regular documentation in the github repo)
- What sections to include in the documentation apart from this
- How to promote best practises for

[2017-04-27 23:10] addyosmani commented on #1145
I think there would be a lot of value in that. I'm less familiar with the information architecture for webpack.js.org, but I see general "here are Webpack patterns, plugins and best practices for building a PWA" being a (maybe) top-level guide on https://webpack.js.org/guides/? Under "Progressive Web Apps".

And then the Webpack CLI docs at https://webpack.js.org/api/cli/ (eventually?) being updat

[2017-04-28 17:07] #1126 closed

[2017-04-28 19:00] simon04 commented on #1161
Related: #1076

[2017-04-28 21:51] skipjack commented on #1145
Ok so as for this issue and the PWA content I think that definitely fits in the guides section (as you suggested @addyosmani). If you'd be interested in submitting a PR to start this guide off, that would be awesome.

@ev1stensberg re the cli the current `/content` set up is still a bit chaotic but I have a rough plan (laid out [here](https://github.com/webpack/webpack.js.org/issues/438#issuecomme

[2017-04-28 21:53] simon04 commented on #1161
I went through the `webpack-contrib` loaders, checked their READMEs for obvious mistakes or missing loader descriptions, and submitted a bunch of PRs: https://github.com/webpack-contrib/i18n-webpack-plugin/pull/47, https://github.com/webpack-contrib/worker-loader/pull/61, https://github.com/webpack-contrib/coffee-loader/pull/38, https://github.com/webpack-contrib/expose-loader/pull/45, https://git

[2017-04-28 22:12] skipjack commented on #1161
@simon04 is this good to close then or should we leave it open until the rest have been tackled? As you mentioned in the other issue, I think it's hard to tackle these things with this issue here. Creating issues/prs in those repositories is the way to get this knocked out imo. Plus, with the new "Jump to Repository" button, it should be easier to get over there 😉 😉 .

[2017-04-28 22:18] simon04 opened #1167 "Sponsor/backer icons ↔ links are off by one"
Clicking on the second icon (with dotted border in the screenshot; having id 1 in the URL), I reach the opencollective profile page corresponding to the first icon.

![](https://cloud.githubusercontent.com/assets/782446/25549214/ea91b444-2c70-11e7-927e-ed912dab8e8e.png)

[2017-04-28 22:19] skipjack commented on #1167
@simon04 can you test #1159 and see if this resolves that issue? (I bet it does)

[2017-04-28 22:33] simon04 commented on #1161
Let's keep this open till I (or somebody else) scans the plugin READMEs (once). Afterwards I'm happy to close this issue.

[2017-04-28 22:33] simon04 commented on #1167
Yes, this issue is fixed with #1159.

[2017-04-29 00:27] #411 closed

[2017-04-29 00:28] #1167 closed

[2017-04-29 00:31] skipjack commented on #411
Closed for now with #1159 in... if anyone wants to change how these are displayed feel free to use the newly fetched data to do so.

[2017-04-29 05:34] skipjack commented on #966
Closed by #1148 and will be touched up further by #1171

[2017-04-29 05:34] #966 closed

[2017-04-29 05:42] skipjack commented on #971
Multiple source-mapping updates have been merged now like #1133 #1166 and the [source-map-loader readme](https://github.com/webpack-contrib/source-map-loader/pull/37) which is dynamically pulled in. Feel free to re-open with specifics if I missed something.

[2017-04-29 05:42] #971 closed

[2017-04-29 05:53] skipjack commented on #805
@simon04 do you mean in each making sure each loaders readme has a clear description/introduction (as discussed in #1161)? Or do you mean summaries that can be parsed out and displayed somewhere like `/content/loaders/index.md`?

[2017-04-29 06:05] skipjack commented on #919
@holi-java tested on an ubuntu instance in firefox and the page loaded ok:

![image](https://cloud.githubusercontent.com/assets/8988697/25553408/36fc65cc-2c80-11e7-9bb1-8e9deb803cea.png)

even tested a few other pages and couldn't find any errors:

![image](https://cloud.githubusercontent.com/assets/8988697/25553402/1de84cb8-2c80-11e7-9df4-8e2567b4f639.png)

Unfortunately without being able to cle

[2017-04-29 06:05] #919 closed

[2017-04-29 06:28] skipjack commented on #841
I don't see any mention of `moduleTemplates` in `resolve` or `resolveLoader` currently. However it is still mentioned in `content/concepts/loaders.md`, which links to [here](https://webpack.js.org/concepts/loaders/#resolving-loaders) for the `moduleTemplates` documentation.

It seems we either need to add `moduleTemplates` to the `resolveLoader` docs in the configuration section. Or remove the men

[2017-04-29 06:38] skipjack commented on #772
@agoldis thanks for pointing out that issue, and I'm sorry for the delayed response. That section of the documentation has been moved around a bit as `import()` is now the recommended practice. See the [code-splitting-async guide](https://webpack.js.org/guides/code-splitting-async). If it's still an issue and you're still interested in pr-ing this, I would recommend adding a warning using our cust

[2017-04-29 06:50] skipjack commented on #649
@AlexanderTserkovniy @johnstew added a fix for this to #1172 based on this discussion, please let me know if it needs tweaking. I think simpler is better there, and pointing users to the main production guide is best.

[2017-04-29 06:56] skipjack commented on #273
Maybe, along with some of the other things discussed, we can link to bits of @simon04's example from webpack/webpack#4698? Would be great to get a solid solution in place for source-mapping docs as it seems there are a lot of open tickets here that relate to it in one way or another.

[2017-04-29 07:00] skipjack commented on #615
I might be able to tackle this one, were you thinking as a guide or more as a concept page? I see it's already mentioned briefly [here](https://webpack.js.org/guides/webpack-and-typescript/#importing-non-code-assets) but that's pretty much it.

[2017-04-29 07:02] skipjack commented on #294
@lcxfs1991 is this safe to close with the chinese site up and running as well as the new link in the banner? #295 is still open for a higher-level discussion about i18n in general.

[2017-04-29 07:04] skipjack commented on #298
Related discussion: #1145

[2017-04-29 07:11] skipjack commented on #196
That should be fixed now as the latest release is on 2.4.1. Re [that guide](https://webpack.js.org/guides/webpack-and-typescript/) are either of you interested in reviewing and/or updating it? I personally don't use typescript and I'm not sure if any of the other @webpack/documentation-team does either. Would be great to have someone who uses typescript with webpack on a daily basis review and edi

[2017-04-29 07:33] skipjack commented on #123
@wzup can you take a look at the [new documentation](https://webpack.js.org/plugins/commons-chunk-plugin/) for the `CommonsChunkPlugin`? It's more elaborate and contains a lot of detailed examples.

If there is we would definitely welcome a PR, I agree the descriptions are a bit hard to follow. I know this is a bit old but better to get a fix in late than never? Also, did @sokra's description help

[2017-04-29 07:39] skipjack commented on #86
So currently there is a [concepts page for hmr](https://webpack.js.org/concepts/hot-module-replacement) and a [hmr-react guide](https://webpack.js.org/guides/hmr-react/#components/sidebar/sidebar.jsx). It seems this issue is for creating a page documenting how to interact with hmr via node.

Maybe a short section on [this page](https://webpack.js.org/api/node/) or creating a separate one would mak

[2017-04-29 07:42] skipjack commented on #86
Also, @SpaceK33z a warning was [added](https://webpack.js.org/configuration/dev-server/#devserver-hot) to the devserver configuration page 🎉 . Definitely tripped me up in the past, so I'm happy that's there now.

[2017-04-29 07:52] skipjack commented on #94
Hmmm, I know this is old but kind similarly the `contributors` metadata? I think I could probably tackle this one, I know there's already a few sections manually following this paradigm (e.g. a `# Related Articles` section at the bottom).

[2017-04-29 07:56] AlexanderTserkovniy commented on #649
It looks good, but the PR, which I have proposed contains exact implementation. With example of implementation, we show clear way to avoid these issues on production, which could save someone's time.

[2017-04-29 08:08] skipjack commented on #649
Yeah, I understand but I think we're trying to push people towards managing separate configurations instead of flagging on `production.env.NODE_ENV` to hack it out. Also the example you had would remove any other __all plugins__ not just the `HotModuleReplacementPlugin`. I think that by putting the warning right at the top of the page, people will at least glance at the building for production pag

[2017-04-29 08:09] skipjack commented on #126
@PaquitoSoft not seeing anything on that plugin yet (here or via google)... do you have a link or were you just curious?

@webpack/documentation-team anyone familiar with this one want to take a stab at it? I'd be happy to review grammar etc...

[2017-04-29 08:14] skipjack commented on #53
There's actually already a [corresponding guides page](https://webpack.js.org/guides/task-test-runner/) with `[TODO]s` for each of those tools already in case anyone is interested in pr-ing them.

[2017-04-29 08:21] skipjack commented on #153
Ah! I think this was actually tackled recently by @oneforwonder -- see [this page](https://webpack.js.org/configuration/node). Maybe we should just add a small section to the [shimming guide](https://webpack.js.org/guides/shimming) that links there?

[2017-04-29 08:26] skipjack commented on #133
@simon04 recently added documentation for that plugin in #1133? I think this done, however if that doc is missing something feel free to re-open.

[2017-04-29 08:26] #133 closed

[2017-04-29 09:48] rouzbeh84 commented on #970
I think this is a good idea! I know it may sound easy to search for such terms but for those unfamiliar or new an easy index of all the keywords/domain specific words used around the web and this site itself could be useful to have if not just to link back to within posts on an automated path to hotlink the words during build process?

I went ahead and started one with a few words but didn't get t

[2017-04-29 11:34] PaquitoSoft commented on #126
@skipjack just curious. I've seen that plugin exported in webpack object and wanted to know what it's about.

[2017-04-29 14:06] skipjack commented on #294
@lcxfs1991 I'm going to close but feel free to re-open if I missed something.

[2017-04-29 14:06] #294 closed

[2017-04-29 16:06] agoldis commented on #772
@skipjack thank you for response. After re-reading my original issue, I found it a bit confusing 😄 .

So, in short, the problem is that module names in `require.ensure` callback are not replaced by their `id`s, when function name other than `require` is used.

See https://github.com/agoldis/webpack.js.org-772 for example.

I'll start to work on PR

[2017-04-29 16:17] skipjack commented on #772
No worries, sorry for the long delay. Yep, it took me couple reads as well but I think in the end I got it (thanks for the clarification though).

Fantastic, feel free to ping me once you submit!

[2017-04-29 16:43] michael-ciniawsky commented on #615
Many folks seem to have problems when it comes to including assets in their bundles correctly e.g most of them coming from task runners like Gulp || grunt, store their images etc in one separate `./assets` folder and complain about the difficult management of these assets. The list goes on when using ETWP and the paths are off etc etc. 😛 tbh I guess it will be difficult to document, but a few 101

[2017-04-29 16:50] athyuttamre commented on #196
I no longer use it on a day to day basis either. I'm certain there are many people who do use both products. If there's a broader platform to ask for contributors, we could find someone.

[2017-04-29 17:17] #649 closed

[2017-04-29 17:17] #800 closed

[2017-04-29 17:20] bebraw commented on #153
Yup. Good to close after that.

[2017-04-29 17:21] agoldis commented on #772
@skipjack here we go..

[2017-04-29 17:56] skipjack commented on #615
So how about an "Asset Management" guide that goes through loading images, either directly via js or css, and then also discusses aliasing for for those that want to stick with an `/assets` directory? For example, if you alias, then you can do things like `import Img from 'Assets/image.png'`. I find that approach really useful for some other things (not really for assets).

Don't assets like image

[2017-04-29 17:58] skipjack commented on #196
Ah, good idea. I'll ping our gitter and slack channels now.

[2017-04-29 18:09] #772 closed

[2017-04-29 20:07] michael-ciniawsky commented on #615
Many don't understand the Dependency Graph approach at all at the beginning :). They still think in terms of a file tree, I especially noticed that (subjective), when it comes to assets loading. They see the 101 React Tutorials and do it with the CSS but without *really* understanding why in terms of the underlying concept(s) 😛

## General
### File Tree
[code]
### Dependency Graph
[code]

**entry.

[2017-04-29 20:11] skipjack commented on #615
Ok yea I think I have enough to get started on a guide now... thanks for the details!

[2017-04-29 20:13] michael-ciniawsky commented on #615
There're endless ways to do it and you mentioend `resolve.alias` already, so please don't understand the examples above as the non plus ultra, but when it clicked on the concept, many don't seem to have bigger problems bringing `resolve` etc into the mix 😛 , so the above should just highlight the overall difference between to two common approaches generally

[2017-04-29 20:15] michael-ciniawsky commented on #615
Mentioning the relation between the Dependeny Graph and 'webpack walking the `import/require()` statements` also seemed to work well as a hint (from my experience) :D

[2017-04-29 20:17] skipjack commented on #615
Yeah, I follow you 👍 ... maybe some links to concept pages throughout wouldn't hurt either. I'll ping you for a review once I have something in the works, sounds good?

[2017-05-01 14:41] #153 closed

[2017-05-01 22:15] skipjack commented on #949
@TheLarkInn mind if I take a stab at this? I've used the html-webpack-plugin and html-webpack-template a fair amount at this point. I might need someone to help explain the manifest and give some examples but I could probably get something started.

[2017-05-01 22:16] TheLarkInn commented on #949
This would be great! Feel free and take it!

[2017-05-01 23:06] skipjack commented on #949
Ah cool, wasn't aware of that plugin.

[2017-05-01 23:36] aretecode opened #1179 "proselint not running"
<img width="321" alt="screen shot 2017-05-01 at 4 34 53 pm" src="https://cloud.githubusercontent.com/assets/4022631/25598820/25571ee4-2e8c-11e7-90c6-61a094547c1a.png">

I've tried installing it locally since it is not listed in the package dependencies, I've tried installing with python as per the proselint site, I've tried installing globally...

[code]

[2017-05-02 07:26] LordMalkev opened #1180 "You can't upload any file to http://webpack.github.io/analyse/"
Simply as that. No upload button or any type of submit.

Chrome  57.0.2987.133 (64-bit)
MacOS Sierra 10.12.3 (16D30)

[2017-05-02 12:35] skipjack commented on #1180
@LordMalkev thanks for pointing this out. However the analyze tool isn't managed from this repository (although at some point it may be hosted here). Please move this issue to [that repo](https://github.com/webpack/analyse).

[2017-05-02 12:35] #1180 closed

[2017-05-02 12:40] skipjack commented on #1179
@aretecode it does need to be installed with pip, not npm. Did you get errors after running those commands? It's a bit hard to tell what's going on without seeing the output... for me, after installing with pip (which is a bit weird in a npm-based project), everything worked fine.

[2017-05-02 23:12] aretecode commented on #1179
@skipjack got it working, needed a restart

[2017-05-03 01:02] #1179 closed

[2017-05-03 03:46] chrisVillanueva opened #1182 "Dev Server Build Failure: Module "support-sponsors.json""
I updated to current master.  When I ran "npm start" to build a local dev server, the documentation site did not load on port 3000.  It's a blank white page.  There is an error in console that states:

Uncaught Error: Cannot find module './support-sponsors.json'.
    at eval (support\-.*\.json$:8)
    at webpackContextResolve (support\-.*\.json$:8)
    at webpackContext (support\-.*\.json$:5)

[2017-05-03 04:44] skipjack commented on #1182
These files are auto-generated during the build, similar to some of the loader/plugin content. Run an `npm run fetch` to generate these files. I'll add this to our `start` script as well to avoid any confusion.

[2017-05-03 15:20] #1182 closed

[2017-05-03 17:34] Alex1990 opened #1187 "The markdown table is parsed unexpectedly in css-loader documentation page"
In the "Options" section of the [css-loader](https://webpack.js.org/loaders/css-loader/#options) documentation.

![image](https://cloud.githubusercontent.com/assets/3141679/25673218/26e8d57a-3069-11e7-8f2d-16ce788984a9.png)

[2017-05-03 20:49] skipjack commented on #1187
@NejcZdovc can you look into this?

[2017-05-04 03:17] chrisVillanueva commented on #1182
Thanks for the fix

[2017-05-04 07:32] NejcZdovc commented on #1187
@skipjack problem here is that we are not escaping `|` correctly, that's why new column is added.

This is a markdown from `css-loader` repo:
![image](https://cloud.githubusercontent.com/assets/9574457/25693974/71529356-30ac-11e7-83d2-ca2c81ae9162.png)

As you can see `{Boolean\|Object}` is in there.

[2017-05-04 10:27] Lutece opened #1189 "Korean Version"
Hello, I would like to translate this page in Korean.
I would like to ask if I can translate in Korean.

I created a repository that named webpack-korea.
I connected the repository to Travis and completed it for my local environment.

I'm waiting for your answer.

[2017-05-04 16:16] skipjack commented on #1189
Awesome! We already have a [chinese version](https://doc.webpack-china.org/) maintained by @lcxfs1991 and recently added a dropdown for languages in the main site. Once you get something solid going we could add a link in the languages dropdown:

![image](https://cloud.githubusercontent.com/assets/8988697/25713580/3083374c-30c3-11e7-9908-875ed3be890b.png)

Also, just so you are aware, we are consi

[2017-05-04 16:18] bebraw commented on #1189
It's alright.

[2017-05-04 16:23] skipjack commented on #1189
@Lutece can you share a link to your repo? If anyone creates issues over here re korean translation, I'll send them over to your repository. Also, you may want to get some ideas from @lcxfs1991 as their chinese repository is already pretty far along. He can discuss our `translation` branch a bit, which may be useful to you as well.

[2017-05-05 00:54] Lutece commented on #1189
this is korean repo link :) - https://github.com/webpack-korea/webpack.js.org

Should i use Locki when i translate webpack.org?

Could you please explain how to proceed with the translation?

[2017-05-05 01:24] lcxfs1991 commented on #1189
Hi Lutece, I am willing to help.

Locki is needed more work to be integrated into the main repo.

You can take a look at branch [translate](https://github.com/webpack/webpack.js.org/tree/translation). You can arrange friends to help translate first.  Any questions you can raise issue here or directly contact me via Twitter Message.

https://twitter.com/lcxfs1991

[2017-05-05 02:10] skipjack commented on #1189
Not yet, as @lcxfs1991 said, the Locki setup probably won't be for a bit. Just wanted you to be aware, and might be worth subscribing to the issue (#295).

What you proposed, as in maintaining a separate repo, would be fine for now. Past that, I would discuss with @lcxfs1991. I'll leave this issue open for a few more days in case you'd like to discuss more here. Also, I may add a translation secti

[2017-05-05 02:21] skipjack commented on #1187
Hmmm after looking at the markdown utility I don't see where the parsing fails. Are we manually parsing each table line somewhere?

[2017-05-05 20:14] skipjack commented on #944
Fixed with #1177  🎉

[2017-05-05 20:14] #944 closed

[2017-05-07 14:29] #615 closed

[2017-05-07 14:41] skipjack commented on #1189
Closing this, but I will add a translation/internationalization section to the readme with links to both repos. And, once the korean version is significantly built out, we'll add a link to wherever you decide to host it.

[2017-05-07 14:41] #1189 closed

[2017-05-07 14:52] skipjack commented on #1039
Closing for inactivity and scope...

However, some of the points here were addressed in #1046 and a few more will be in #1153. As to your other points, some of them are "won't fix" (like sidebar version) and some require either a significant port which we likely won't be tackling immediately. I may tackle porting this site to phenomic, which would address some of the things you mentioned (like mak

[2017-05-07 14:52] #1039 closed

[2017-05-07 17:22] johnstew commented on #438
@skipjack wow sorry for delay been really busy lately. I'm gonna take a stab at this though for the guides section. The levels above make sense to me. Tell me if I got it wrong below.

**SubNav**
- General
- Production
- React
- Angular
- Other

**Sidebar - General**
- Getting Started
- Installation
- Code Splitting
    - CSS
    - Libraries
    - Async
- Development
    - Vagrant
- Dependency Man

[2017-05-07 20:26] skipjack commented on #438
No worries, glad to have your help whenever.

As to what you've laid out... yea so the grouping we've talked about within the guides could either be at the second level (navigation submenu) or pushed to the sidebar. Currently we don't have support for grouping pages within the sidebar but I hope to get it to that place. It would likely look similar to what @pastelsky laid out:

![image](https://cl

[2017-05-07 20:39] #949 closed

[2017-05-07 20:58] skipjack commented on #970
@rouzbeh84 I really like this idea and I think adding it under `/content/glossary.md` is perfect as it doesn't really fit it any particular section. Aside from linking to it throughout other pages, I'm not sure where the main link would be (e.g. banner, sidebar, footer). I think maybe the footer would be best but maybe we should remove/move some of those other links. Our content is definitely star

[2017-05-07 21:09] skipjack commented on #94
@TheLarkInn I can work on this one this week. Let me know if I have the right idea here:

__article.md__

[code]

__browser__

Something like that work? Any ideas for a easier delimiting each link/title pair aside from the `|`? I'm not too well versed in front-matter so if there's an easier built-in trick to do this, pls let me know.

[2017-05-08 22:24] skipjack commented on #720
@bebraw seeing as antwarjs/antwar#127, can you test and close this once you release and bump the antwar version?

[2017-05-09 03:01] bebraw commented on #720
@skipjack This should be fixed when #980 goes in.

[2017-05-09 05:57] NejcZdovc commented on #1187
For table we have a custom handler and it starts here https://github.com/webpack/webpack.js.org/blob/master/utilities/markdown.js#L102. Thing is that this is parsed and handled by markdown util, we just add some wrappers around it.

[2017-05-09 11:21] ivancuric opened #1200 "Slow scrolling due to constant repaints"
On pages such as https://webpack.js.org/guides/migrating/, the scrolling is very slow, because `.sidebar` and `.gitter__button` keep repainting.

A quick fix is adding `will-change: transform` on them to promote them to their own layers, eg:

[code]

[2017-05-09 15:33] skipjack commented on #1200
@ivancuric would you be interested in pr-ing that change? I would just add the property to each the respective `-style.css` files (i.e. `gitter-style.css` and `sidebar-style.css`).

[2017-05-09 15:36] skipjack commented on #1187
Yea that's what I noticed when going through it as well. It doesn't seem like we're manually calling `.split(' | ')` or anything similar anywhere. I wonder if this was broken by something else were doing like the reference links.

[2017-05-09 15:42] NejcZdovc commented on #1187
maybe it's bug in markdown?

[2017-05-09 16:02] skipjack commented on #1187
I don't think so because is parsed correctly [in github](https://github.com/webpack-contrib/css-loader). Maybe in marked but I doubt it, seeing as the reference link issue is definitely caused by our customizations.

I really want to move to markdown-to-react-components but don't have the time yet to do the port (I think it'd take a decent amount of effort).

[2017-05-09 18:32] rouzbeh84 commented on #970
@skipjack it could be hot-linked throughout the docs and possibly the last item on the left list for easy access while going throughout?

Would it be possible to do add some sort of grepping to the build process that generates all used words on the section and put them in a dropdown style link in the left nav like how most sections are populated now?

[2017-05-09 22:13] skipjack commented on #970
Yeah, I was thinking about the bottom of the sidebar as well. That may be a good fit.

Anything's possible 😆 ... I'm a little confused as to what you mean by adding it to the sidebar. Maybe you can show me an example? I think what would be really cool is if we `grep`-ed them as you said and then highlighted them as key terms (maybe with a hover behavior showing the definition).

Let's keep it simp

[2017-05-09 22:30] rouzbeh84 commented on #970
Sorry if I was unclear about the sidebar. I think we're on the same page as I basically meant adding the collected glossary values of current page to a nested list at the bottom like the other sections have. Possibly with a border above to denote it's a type of constant navigation feature?

This would be really cool!

For sure! I know I'm not too familiar with the build process of this site so jus

[2017-05-10 03:16] skipjack commented on #970
Yeah, no worries... I think it would fit in somewhere in the markdown processing but let's just get the page up and loop back to this down the road once the `markdown.js` file has been reworked into something else or cleaned up significantly. It's already been causing a fair amount of issues like #1187, #178 and probably a few others we don't yet know about.

Let's just start by getting that page

[2017-05-10 03:53] #94 closed

[2017-05-10 04:14] #1200 closed

[2017-05-10 04:17] skipjack commented on #1200
@ivancuric just merged your suggested fix. If you have any ideas for more long term solutions please share... once we're done getting the bulk of our content-related issues done, we'll be spending some time on code cleanup and making a more stable groundwork.

[2017-05-10 07:13] Lutece commented on #1189
@lcxfs1991 @skipjack Thank you for answering me.
I started to translate to Korean, so when I finished translate, I'll inform you.

I'll be back to here soon!

[2017-05-10 11:09] michael-ciniawsky opened #1202 "Loaders: Add PostCSS Loader"
https://github.com/postcss/postcss-loader

[2017-05-10 12:50] skipjack commented on #1187
Not pretty, but I came up with a temp solution. I'll PR it tonight.

After digging into it a bit more I'm still unsure as to what we're doing that's breaking this and other stuff (like reference links). I tried commenting some bits out, but nothing seem to fix the odd behaviors. This could be something that just an issue in marked, the only way to find out would be to test a similar table using ma

[2017-05-10 12:52] skipjack commented on #1202
@michael-ciniawsky I can pick this up tonight... I'll cc you on the PR so you can take a look. You should be able to add any others fairly easily yourself going forward (it's a pretty easy change, and we can continue trying to simplify and improve our fetch process to make it even easier).

[2017-05-10 13:58] Alex1990 commented on #1187
Okay, I find it is a marked's bug https://github.com/chjj/marked/issues/595. And, I use the latest marked to test it.

[2017-05-10 14:17] Alex1990 commented on #1187
Should we use `<code>{Object&verbar;Boolean}</code>` which is parsed rightly by github and marked?

[2017-05-10 21:58] skipjack commented on #1187
@Alex1990 awesome thanks for digging into that. Unfortunately, reading into that issue doesn't give me much hope that it'll get fixed. I think we just need to switch our markdown parsing process.

The content for that page is actually from another repository. I think it'd be tough to enforce people not to use things that are supported by GFM. We probably need to make sure that when we do update ou

[2017-05-11 04:11] skipjack commented on #1161
@simon04 any update on this? I'd be happy to help review some of the plugins to push this forward. It looks like most or all of your loader prs have been merged.

[2017-05-11 04:17] skipjack commented on #995
@webpack/documentation-team can anyone familiar with typescript environments confirm this?

@dmitriid maybe we add a note or warning regarding typescript in the main tree-shaking guide, and change the example in the webpack and typescript guide if your proposed solution is confirmed?

[2017-05-11 04:21] skipjack commented on #1096
@sokra so maybe we can just add a warning in [this section](https://webpack.js.org/api/node/#watching) noting this behavior?

[2017-05-11 04:29] skipjack commented on #942
@aight8 can you elaborate a bit more, I'm a little unsure of what you mean in some cases. What part of the documentation needs updating the [stats configuration page](https://webpack.js.org/configuration/stats) or something regarding stats in the [node api section](https://webpack.js.org/api/node/)?

Yeah, I mean there is the [analyse tool](https://webpack.github.io/analyse/) and at some point I t

[2017-05-11 04:30] bebraw commented on #995
Yeah, if you lose ES6 module definitions, there's no way tree shaking can work. That's correct.

[2017-05-11 04:32] skipjack commented on #995
Ok great, @dmitriid would you be interested in pr-ing these changes?

[2017-05-11 04:38] skipjack commented on #938
If it's not a huge amount of content maybe a nice little section in the [shimming guide](https://webpack.js.org/guides/shimming) would do? If not, let's create a new guide and maybe create a "shimming and polyfilling" group within the __Guides__ section (grouping would be tackled separately in #438).

[2017-05-11 04:43] skipjack commented on #935
Just went through those and it seems most have already been moved, are deprecated, or don't contain much useful. The only ones I saw that may be of interest were the one on [localization](https://github.com/webpack/webpack/wiki/Recipe-Localization) and the [loader spec](https://github.com/webpack/webpack/wiki/Loader-Specification) though that one appears to be deprecated as well?

Did you have any

[2017-05-11 04:48] skipjack commented on #877
@bebraw is this something specific to this site, or more just related to how antwar's `<Interactive>` component behaves? If it's not specific to this site maybe we can close and push to this issue over to the antwarjs repo (unless you are saying this is already a "won't fix")?

[2017-05-11 04:50] bebraw commented on #935
Yeah, let's close this. I think we've reached more or less parity with the old content.

I suppose we should look into closing the old wiki at some point but there's no rush with that.

[2017-05-11 04:50] #935 closed

[2017-05-11 04:52] bebraw commented on #877
@skipjack It's a difficult one to fix but we can leave this open for now. I have a feeling treating Preact and its dependencies as **externals** at webpack configuration would solve most of this.

[2017-05-11 04:56] skipjack commented on #45
I can tackle adding a guide for this...

I'll start with a introduction mentioning @TheLarkInn's point that:

and not to just copy and paste and code. We should also probably state that none of these are officially supported by us.

From there I'll list the 5 starter kits mentioned at the top by @Awk34 and @mxstbr and then if anyone wants to pr more, great! @webpack/documentation-team if no one ha

[2017-05-11 04:59] bebraw commented on #45
@skipjack A good starting point would be to consume JSON from [tool-list](https://www.npmjs.com/package/tool-list) and then construct a table based on that. Sorting etc. can be added later. Remember to credit Andrew on the page.

[2017-05-11 05:29] dmitriid commented on #995
@skipjack

I'll try to do this today

[2017-05-11 16:51] #1202 closed

[2017-05-12 21:47] #1187 closed

[2017-05-13 12:42] lcxfs1991 commented on #1189
@Lutece  Good luck man. It'd better ask more friends to join you.

[2017-05-13 14:38] skipjack commented on #841
@bebraw do you know if `moduleTemplates` still exists? If so, I'd be happy to add it to the `resolveLoader` docs.

[2017-05-13 14:41] bebraw commented on #841
@skipjack There's no mention to it in webpack source at least.

[2017-05-13 14:44] skipjack commented on #652
@jouni-kantola are you still interested in pr-ing some updates or a new article? It seems this is somewhat covered in the [caching guide](https://webpack.js.org/guides/caching/) but could probably be improved.

[2017-05-13 15:56] #1096 closed

[2017-05-13 16:53] skipjack commented on #841
Ok, so maybe we just remove all mention of it in the documentation.

[2017-05-14 21:04] dwiyatci commented on #970
Nice to find this thread! 😃

@skipjack So they *are* actually the same, then? I've also been silently questioning this concept for the past 2 years and used to think that `bundle` is a collection of `chunks` ... 😅

[2017-05-14 22:28] skipjack commented on #970
@dwiyatci Yes I believe they are the same. I had initially thought that "chunks" were analogous with child bundles (similar to your thought that "a bundle is a collection of chunks") but I've also heard the term "entry chunk" used which kind of voids that thought. I'm not an expert though, I would leave the final say to someone from the @webpack/core-team.

[2017-05-15 07:25] anlexN opened #1216 "how to use pure nodejs to achieve Hot Module Replacement?"
hopefully, who can tell me how to use pure nodejs to achieve Hot Module Replacement?

[2017-05-15 15:29] skipjack commented on #1216
Even when [using the node api](https://webpack.js.org/api/node/#webpack-), you still pass a configuration object. So my guess is that you'd simply pass the internal `webpack.HotModuleReplacementPlugin()`. This is mentioned in the [devServer configuration](https://webpack.js.org/configuration/dev-server/#devserver-hot) docs but we still don't have a page for the plugin itself.

@webpack/contributor

[2017-05-15 16:07] skipjack commented on #805
We could also grab the little description at the top of every github repo:

![image](https://cloud.githubusercontent.com/assets/8988697/26067025/c6f949d6-3966-11e7-88d3-9cc670a5e1bb.png)

The advantage to this is that it's already separate within github so it's probably easier to grab than having to enforce a readme standard and parse it out of every readme.

[2017-05-15 17:57] Loilo opened #1218 "Minified angular-ui-bootstrap causes error"
I tried another minified source that threw an error. I'll probably try some more but but not put them all into the same issue since their errors may obviously be completely unrelated.

This time I tried minified *angular-ui-bootstrap* [from cdnjs](https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js). The saved Butternut is to be found [here](https://butternut

[2017-05-15 20:42] Loilo commented on #1218
Wow. I'm sorry. I totally posted this on the wrong project. Don't mind me.

[2017-05-15 20:42] #1218 closed

[2017-05-15 23:55] rouzbeh84 commented on #970
gonna watch this deep dive into [code splitting: under the hood](https://www.youtube.com/watch?v=0iKZEkJgkOw) by @TheLarkInn and after understanding will add to glossary.

In the meantime, according to [survivejs](https://survivejs.com/webpack/appendices/glossary/)

- **Bundle** is the result of bundling. Bundling involves processing the source material of the application into a final bundle that

[2017-05-16 00:29] skipjack commented on #970
@rouzbeh84 you should feel free to pr this page whenever. We can always do follow ups to add and clean up content, doesn't have to be perfect on the first pass.

[2017-05-16 00:34] skipjack commented on #925
Hmmm, that guide is already pretty detailed and looks like it has at least a simple example for each page. Maybe we could link to some well written loaders that take advantage of various api features for people to dig through the source as an example? I just worry about the guide getting too bloated...

Did you have any loaders in mind that you think are well written and would make good examples?

[2017-05-16 05:12] #841 closed

[2017-05-16 07:24] dwiyatci commented on #970
Ähmm.., sounds to me the @survivejs definition goes more to a direction of **bundle ≈ asset** 🙃

[2017-05-16 07:30] bebraw commented on #970
A bundle can consist of multiple assets especially if you inline some.

[2017-05-16 13:19] dmitriid commented on #995
As usual, life interfered :) And it only took me 5 days :)

[2017-05-16 14:14] skipjack commented on #487
I can pick this up... @bebraw maybe we can just start by adding this to the `development/index.md` guide? I can add a little lead in paragraph to give some context.

[2017-05-16 14:18] bebraw commented on #487
@skipjack Yup, that would be a start. The problem is that I don't know if it's entirely truthful image anymore. You would have to ask Tobias about that.

[2017-05-16 20:21] tkrotoff opened #1222 "Guide: Using environment variables"
The ["Using environment variables" guide](https://webpack.js.org/guides/environment-variables/) explains:

If you carefully read the [blog article](https://blog.flennik.com/the-fine-art-of-the-webpack-2-config-dc4d19d7f172) given in the guide, you discover that it should be:

[2017-05-16 22:10] rouzbeh84 commented on #970
started PR #1223 for this. definitely a help wanted one but should I create a new issue for it with `help-wanteed` label?

[2017-05-17 17:51] skipjack commented on #1222
The `--env` flag actually doesn't set environment variables, from my understanding. It's more of an internal webpack feature that allows accepting the `env` variable as a parameter to your configuration. Also, your example would have to be changed to reflect that:

**webpack.config.js**

[code]

@simon04's guide that you linked to provides a different approach via actual environment variables. It

[2017-05-17 17:51] #1222 closed

[2017-05-17 18:01] bebraw commented on #1222
`--env` is internal to webpack, correct. You can of course capture it and set it to Node env if you like etc. but passing env info to webpack configuration is its main purpose.

[2017-05-17 18:03] #1099 closed

[2017-05-18 05:45] skipjack commented on #970
@rouzbeh84 let's just leave the PR open for a bit to get feedback and possible additions. I think if we make sure it's visible people will inherently consider adding terms there... there may also be some other open issues that could be resolved using the new glossary.

I'm really trying to knock the issue count _down_ bit by bit, so I'm hesitant to open anything new right now as I'd like to keep t

[2017-05-18 14:15] #995 closed

[2017-05-18 21:17] rouzbeh84 commented on #970
@skipjack yep makes sense on both counts! Any idea why the builds failed? I don't think I saw any errors when submitting it unless I didn't wait long enough. Could it be that the file is new and on the root of `content` folder?

[2017-05-19 01:12] skipjack commented on #970
Nope, the first was a JSON error during the `fetch` that I haven't seen before and the others were just random link errors not related to your new page. However, I did notice that the links on the new page aren't being tested yet as no where else links to it yet. We should figure that out before merging.

[2017-05-19 01:43] jiyinyiyong commented on #86
I ran into this issue too https://github.com/thheller/shadow-cljs/issues/12#issuecomment-302519511

From my side I think a minimal HMR example(and without React) would help a lot. I just find it problematic to make it really work correctly, but don't know what happened in my case.

[2017-05-19 02:15] skipjack commented on #1216
Completely forgot about #86... closing in favor of that issue. @anlexN please follow that thread, I'll try to help to push it forward.

[2017-05-19 02:15] #1216 closed

[2017-05-19 02:18] skipjack commented on #86
I completely agree and after finally getting react-hot-loader to work, I realized some of the things in the current [HMR w/ React Guide]() aren't even necessary. I might take a stab at some of this though I'll probably need some help from others who have more experience with the NodeJS interface for it.

[2017-05-19 04:55] jiyinyiyong commented on #86
I made one https://github.com/mvc-works/minimal-webpack-hmr but it does NOT work yet... Anyone please help fix it...?

[2017-05-21 05:31] welll commented on #1014
@skipjack, does someone need to add thus link at index (`https://github.com/webpack/webpack.js.org/blob/master/content/plugins/index.md), right?

If yes, just create a new `ISSUE` and I could do that.

[2017-05-21 12:52] skipjack commented on #1014
@welll yea the index is missing a few links/descriptions I think. Feel free to open a a pr and request me as the reviewer. No need to open a new issue...

[2017-05-21 21:33] welll commented on #1014
@skipjack I couldn't add you as reviewer

https://github.com/webpack/webpack.js.org/pull/1232

[2017-05-22 22:00] skipjack commented on #552
Sorry for the delay on this, but I completely agree and recently ported [Module Methods][1] and [Module Variables][2] documentation from the old doc site in #1209. I think [Module Methods][1] would be a good place this warning, something like:

[code]

at the top of the page under the lead-in paragraph should resolve this. Maybe a small note or link to [Module Methods][1] (or both) from the module

[2017-05-22 22:24] skipjack commented on #102
@bebraw any idea what's involved in this? Maybe we need to add a notes about this in the [CLI profiling section](https://webpack.js.org/api/cli/#profiling) and on the [Module Variables](https://webpack.js.org/api/module-variables) page?

[2017-05-22 22:29] skipjack commented on #41
@Scarysize would you be interested in submitting a pr to add this guide? I can facilitate the process...

[2017-05-22 22:35] skipjack commented on #45
Hmmm, I see the value in that but then how would people add new ones? Would they have to submit a PR to the tool-list repository or tag their repository a certain way?

Sure thing.

[2017-05-22 22:41] skipjack commented on #80
This is somewhat covered at the [end of the output-management guide](https://webpack.js.org/guides/output-management/#the-manifest). Maybe just expanding on that is enough for now? If it turns into something longer then maybe we can consider moving it to it's own page under `/concepts`?

[2017-05-22 22:58] skipjack commented on #34
This could be somewhat similar to glossary page @rouzbeh84 is currently working in #1223...

I think this definitely key. One of the great things about react is the detailed error messages and links from the error message itself to the piece of documentation that relates to it. We could probably link to the index or other places in the docs from these error message.

@bishopZ if you're still inter

[2017-05-23 01:32] webpack-bot opened #1237 "latest public website build for webpack lost the css"
## Bug:

Production https://webpack.js.org/ site missing its CSS.

main injected CSS in the `<style>` element,
`https://webpack.js.org/b96d3eecd1add4af62f0.css` is 404 😢

**What is the current behavior?**
main CSS is 404

**If the current behavior is a bug, please provide the steps to reproduce.**
clear cache, load in Chrome or Safari, etc.

**What is the expected behavior?**
CSS should load

---

[2017-05-23 05:37] bebraw commented on #102
@skipjack Maybe the output has changed since the initial issue. Looks like the timings are more granular now and the page looks good. Let's close this.

[2017-05-23 05:37] #102 closed

[2017-05-23 05:38] bebraw commented on #45
@skipjack To add something to the list, you have to PR against [this file](https://github.com/ahfarmer/tool-list/blob/master/generator/starterProjectUrls.js). I don't see any other option as there are literally thousands of boilerplates out there. At least now it's curated.

[2017-05-23 05:41] bebraw commented on #80
A separate concept page on **manifest** would be ideal, yeah. I have something [here](https://survivejs.com/webpack/optimizing/separating-manifest/).

[2017-05-23 05:46] Scarysize commented on #41
@skipjack I will see if I can think of an concise guide. Though IMO the new documentation has improved tremendously, so it might not event be necessary anymore.

[2017-05-23 18:51] ahfarmer commented on #45
FYI I do plan on keeping `tool-list` up-to-date for the foreseeable future - and if I do ever fall behind on that, others can always fork it. I merge pull requests roughly every 1-2 weeks.

[2017-05-23 21:48] skipjack commented on #1237
I think this must have happened mid-deployment or something after I merged a few PRs yesterday afternoon. I tested this morning and just now using the "Empty Cache and Reload" option in chrome and wasn't able to replicate.

Feel free to re-open if this is still an issue.

[2017-05-23 21:48] #1237 closed

[2017-05-23 21:56] skipjack commented on #41
Happy to hear that you're finding the new documentation useful. I feel the same way in regards to this not being necessary but wanted to give you the option if you still felt strongly about it. I think if our core documentation is solid, migration guides like this shouldn't be needed. In general I think the focus should be core docs for now and, if people are still asking for third-party integrati

[2017-05-23 21:56] #41 closed

[2017-05-23 22:01] skipjack commented on #80
Ah ok, so how about we take the conceptual stuff and put it in a `/concepts/manifest.md` page and the implementation parts into the manifest section of `/guides/output-management.md` and link the two appropriately?

I'd be happy to tackle this if no one beats me to it.

[2017-05-23 22:05] skipjack commented on #45
@ahfarmer @bebraw ok great thanks for the clarification. I'm happy with moving forward with that approach then...

@bebraw feel free to start if you have any bandwidth, if not, I may tackle it as soon as I have a chance. Were you thinking of pulling the JSON in during the build or at runtime?

[2017-05-23 22:24] skipjack commented on #86
@jiyinyiyong your repository worked fine for me:

![image](https://cloud.githubusercontent.com/assets/8988697/26378989/e9866220-3fe4-11e7-8cf0-a640703de81f.png)

If it's not obvious, I kept changing `console.log(...)` statement from "lib 6" to "lib 5" to "lib 4" and it re-ran the module every time.

[2017-05-24 01:54] skipjack commented on #86
Started working on this, will be submitting a PR soon (likely tomorrow).

[2017-05-24 03:16] jm3 commented on #1237
Awesome, new site looks very cool 👍

[2017-05-24 03:29] jm3 opened #1239 "webpack.js.org vs. webpack.github.io (2 vs 1?)"
Apologies if this has been answered before, but I didn't see it in the open or closed issues — what's the difference between the two webpack home pages / sites, and why are there two?

I know there are two versions of webpack, 1 and 2, but https://webpack.js.org, which i assume is the "main" site, doesn't prominently mention versions, and https://webpack.github.io, the other site, prominently ment

[2017-05-24 05:14] bebraw commented on #45
@skipjack If the JSON is small enough, it might make sense to pull it during the build. The first version doesn't have to be particularly pretty.

[2017-05-24 05:15] bebraw commented on #80
Yup, exactly.

[2017-05-24 06:17] Scarysize commented on #41
Sounds good!

[2017-05-24 11:59] skipjack commented on #1239
This site is for documenting webpack 2 and any future versions (we may even have a major version dropdown at some point to toggle between the documentation for version 2 and above). The old docs do have a pretty clear warning on most pages:

![image](https://cloud.githubusercontent.com/assets/8988697/26401986/67d5c406-4056-11e7-84bb-82d0003c1d4a.png)

and these docs do state the current documented

[2017-05-24 11:59] #1239 closed

[2017-05-24 12:26] michael-ciniawsky opened #1240 "Contribute - Document Loader Dev Setup"
We should add a quick intro on how to actually setup and test a loader locally with webpack https://github.com/webpack/webpack/issues/4920

**loader.js**
[code]

**webpack.config.js** (compiler.js)
[code]

**loader.test.js** (Jest)
[code]

[2017-05-24 15:57] jm3 commented on #1239
One reason to consider changes is that Google ranks the old, `github.io` webpack site higher than the "new" webpack 2 `.js.org` site:

<img width="681" alt="old vs new" src="https://cloud.githubusercontent.com/assets/12213/26412854/f519ce36-405e-11e7-90ed-0c45a7cae126.png">

[2017-05-24 22:42] skipjack commented on #1240
Is this not already addressed in the `/development/how-to-write-a-loader.md`? If not, would you be interested in submitting a PR to add these points?

[2017-05-24 22:53] skipjack commented on #1239
Yeah I've noticed this as well. I figured that was caused more by the fact people had been using and linking to the old version for a longer time but you mean doing something like "Webpack 2 | Page Name" or even "Webpack | Page Name" would help?

[2017-05-25 08:22] michael-ciniawsky commented on #1240
It describes how to write the `loader.js` but not how to test and to locally 'require' a loader for testing, e.g

**webpack.config.js
[code]

Which can be a pitfall for loader authors

[code]

Yep i can see if I get something to work :D, will tak a while... 😛

[2017-05-25 17:18] TheLarkInn opened #1243 "Add webpackMode() api documentation for import()"
1. Check the existing issues to see if you can find something matching to your request.
2. If you didn't find a relevant issue, go ahead and open a new one. It's better to make small typo fixes and such directly as pull requests.

As of https://github.com/webpack/webpack/releases/tag/v2.6.0 there is a new "comment based" API called `webpackMode()`. We need to add this information to our documentat

[2017-05-25 17:48] skipjack commented on #1243
There's already a pr open for this -- #1231

[2017-05-25 20:43] TheLarkInn commented on #1243
Ahhh sorry I'll close as dupe!! Thank you

[2017-05-25 20:43] #1243 closed

[2017-05-26 12:56] zgreen opened #1247 "Disabling localStorage breaks the homepage"
When `localStorage` is disabled in the browser, I see the following error on https://webpack.js.org/:

[code]

And the homepage looks like this:
<img width="1326" alt="screen shot 2017-05-26 at 8 47 00 am" src="https://cloud.githubusercontent.com/assets/1700355/26495186/8bc1b21c-41f0-11e7-9005-805a4072e71f.png">

Users may choose to disable `localStorage` for security/privacy reasons (as I do). Ha

[2017-05-26 13:26] simon04 commented on #1247
A PR is very welcome :+1:

[2017-05-26 14:14] skipjack commented on #1247
I think this is caused by the `Notification` component which uses `localStorage` to track whether users have viewed the notification.

As @simon04 mentioned, a PR would be welcome... a quick check for `localStorage` there would probably resolve this.

[2017-05-26 14:26] skipjack commented on #1243
No worries, just merged the PR (#1231)!

[2017-05-26 14:30] zgreen commented on #1247
No problem; as noted, it's probably a very small fix. I'll put a PR together.

[2017-05-26 17:12] skipjack commented on #1247
Great, feel free to ping us if you have any questions re build process or anything else.

[2017-05-26 22:46] skipjack commented on #1247
Closed via #1249

[2017-05-26 22:46] #1247 closed

[2017-05-27 02:20] skipjack commented on #86
@jiyinyiyong ping! Did you ever resolve that issue? Also would it be ok if I linked to that repo as an example in the new page I'm adding in #1251?

[2017-05-27 02:29] skipjack commented on #45
@ahfarmer just starting this now.. should have a pr in the works by sometime tomorrow. Do you plan on adding a `description` to each starter kit object at some point? If you're looking to pull it dynamically, maybe that little sentence at the top of each git repo would do?

[2017-05-27 19:24] ahfarmer commented on #45
@skipjack good catch - the description field was supposed to be there all along but there was a bug that caused it not to show up. I have fixed it in `tool-list` 0.9.2.

[2017-05-27 20:06] #45 closed

[2017-05-27 20:45] skipjack commented on #1161
Going through the plugins now.

[2017-05-27 21:46] skipjack commented on #577
We also already have TODOs regarding this on the [other options config page](https://webpack.js.org/configuration/other-options/#recordspath). Maybe documenting those options can be tackled here as well.

[2017-05-27 23:30] skipjack commented on #805
Ah ok just re-read the initial comment and jumped through the links, so you're not even talking about having a parsed out description available here... it's more just making sure the readme of every loader has one? If so, is this closed with our work on #1161 and #1254? If there are there any left to tackle, I'd be glad to help. I do think the place I highlighted in the above comment would be a go

[2017-05-28 23:19] #80 closed

[2017-05-28 23:29] skipjack commented on #1085
@rouzbeh84 I do kind of like this idea for index pages however it doesn't really fix the issue of "Introduction" links not displaying their anchors in the sidebar. Although I guess if we did it this way then the anchor links would just be repetitious so maybe this is an alternative. It would change things a bit as all index pages would basically just contain a lead-in and then the rest of it would

[2017-05-28 23:45] skipjack commented on #872
Hmmm sorry for the delay on this... I'm not seeing the code you mentioned on [that page](https://webpack.js.org/api/plugins/#call-identifier-expr-expression-bailing) anymore. Is this still relevant or should we close it out?

[2017-05-28 23:46] skipjack commented on #872
Ah nevermind, it's [here](https://webpack.js.org/api/plugins/parser/#call-expr-expression-bailing) now.

[2017-05-28 23:50] skipjack commented on #43
Looks like this was addressed in #1127 and there's already a link to webpack/webpack#2783.

[2017-05-28 23:50] #43 closed

[2017-05-28 23:55] skipjack commented on #43
@mover96 it seems you have a good bit of experience and knowledge on that plugin, based off reading through that issue. If you had time to review and potentially do a follow up pr to #1127, that would be awesome.

[2017-05-28 23:59] skipjack commented on #88
@bebraw I don't see anything in the article you linked to that cover HMR for redux. If you can point me to right places I might be able to tackle this either as a follow up or part of #1251. I'm actually somewhat interested in this anyway as I've used redux in multiple projects but changing reducers has always required a full browser refresh.

[2017-05-29 00:04] skipjack commented on #90
@TheLarkInn should we just port [this article](https://medium.com/webpack/webpack-bits-learn-and-debug-webpack-with-chrome-dev-tools-da1c5b19554) you wrote to a guide?

[2017-05-29 00:10] bebraw commented on #88
Hi, the info went to [this article](https://survivejs.com/webpack/appendices/hmr-with-react/) as I split it up. You have to scroll down a bit.

[2017-05-29 00:22] #552 closed

[2017-05-29 00:29] skipjack commented on #545
@tarang9211 it seems to be an option for `libraryTarget`. A quick grep revealed that there's three pages containing a reference to it:

- `/configuration/index.md`
- `/configuration/output.md`
- `/guides/author-libraries`

Would you still be interested in submitting a pr to clean those up?

[2017-05-29 00:31] skipjack commented on #494
Looks like this was addressed in #534 🎉

[2017-05-29 00:31] #494 closed

[2017-05-29 00:35] skipjack commented on #35
Hmmm was this resolved between the [How to write a loader?](https://webpack.js.org/development/how-to-write-a-loader/) and [Loader API](https://webpack.js.org/api/loaders/) docs?

[2017-05-29 00:42] skipjack commented on #196
Ok so there's one pr open (#969) and some others have gone in recently regarding typescript. I think this is safe to close now but please re-open with details on what needs to be added/changed if I'm missing something.

[2017-05-29 00:42] #196 closed

[2017-05-29 00:46] skipjack commented on #569
Is the plan to remove some of these things the next major release? It seems `use` is what we want to stick with and the others were left in to prevent too many breaking changes being introduced at once?

[2017-05-29 03:13] TheLarkInn commented on #877
I'm definitely interested in converting docs into a PWA, so keep me looped in or tagged if this ends up in another issue.

[2017-05-29 07:43] bebraw commented on #35
Yeah, time to close. There are likely some individual topics missing but it's better to open separate issues for those. @DanielaValero, @TheLarkInn please review and set up issues.

[2017-05-29 07:43] #35 closed

[2017-05-29 15:33] #815 closed

[2017-05-29 15:33] #1161 closed

[2017-05-30 08:23] stevegibbings commented on #652
@jouni-kantola I found your Gist very helpful, thanks fore that. Can I ask why you added WebpackChunkHash to your set? Is HashedModuleIdsPlugin documented anywhere? I find adding a new chunk causes all chunk ids to change. Should I not use name in `chunkFilename: 'js/[name]-[chunkhash].js'`?

[2017-05-30 21:03] rafaeleyng commented on #134
I came here trying to understand what a chunk is, but no help. The link @pksjce posted is broken, also

[2017-05-30 21:07] rafaeleyng commented on #134
If it is the link to the "caching" documentation, that didn't help me to understand what a chunk is.

[2017-05-31 00:51] rafaeleyng commented on #970
I've checked the glossary and the question "bundle vs chunk" still remains for me.

**Example**:

Say I have well-known configuration that results in 3 output files (`app.js`, `vendor.js`, `app.css`). Say also that `app.js` contains an inlined image using the appropriate loader. So in my `dist`folder only these 3 files exist (2 `.js`, 1 `.css`).

**Questions:**
- How many assets I have here?
- How

[2017-05-31 10:25] johnnyreilly opened #1257 "Is source-map-loader necessary for the typescript example?"
In the webpack / typescript documentation [it says](https://github.com/webpack/webpack.js.org/blob/master/content/guides/webpack-and-typescript.md#enabling-source-maps) that the `source-map-loader` is necessary for sourcemaps to work.  I don't believe it is (I've been happily debugging TypeScript with sourcemaps and webpack for about 2 years now).  I was just curious if I was missing anything?  As

[2017-05-31 12:50] skipjack commented on #1257
Related #969

[2017-05-31 13:34] skipjack commented on #134
@rafaeleyng #970 is definitely the issue you want. I just re-opened.

[2017-05-31 13:36] rafaeleyng commented on #134
Ok, I asked some questions there too. Thanks!

[2017-05-31 13:53] rafaeleyng commented on #970
@skipjack Thanks a lot.

So, as I see:

- every `.js` file in the output is a bundle. So **bundles are `.js` files in the output directory**

- chunk, on the other hand, seems to be related to the code itself, not to files. So 1 bundle has 1..n chunks. But a chunk is only contained in one bundle, or is possible that a chunk spread across multiple bundles? If that is the case, it would make it even

[2017-05-31 16:02] TheDutchCoder opened #1258 "Guides - Review and Simplify"
I'm currently following the guides as I'm new to webpack and even though the start (setup and first example) is very clear, the guides quickly become vague and (worse) they don't seem to yield working results.

To give you a concrete example: Code Splitting - CSS:
The first example on this page will result in an error, as no input or output is specified. Nor does it contain any information on how

[2017-05-31 16:46] TheLarkInn commented on #1258
I wonder if we should be adding html-webpack-plugin as a easy bootstrap to getting people started, even if they don't understand right away. It will handle some of the nuances like putting async and main chunks in the right order on the html, etc.

[2017-05-31 17:04] TheDutchCoder commented on #1258
Yeah that might be a good idea. It would certainly help testing out the examples without the frustration of having to figure out how files should be called in a page.

Currently following all guides and proposing some changes (if that's alright) ,so they're consistent and basically build off of the first main example.

[2017-05-31 18:06] rafaeleyng commented on #116
@sokra's [explanation](https://github.com/webpack/webpack.js.org/issues/116#issuecomment-245259065) is interesting, but I still don't get the use case for this.

In the second part of the explanation (*When a loader return something in the pitch phase the process continues with the normal phase of the next loader*), questions:

1. if loader `c` "run phase" is not going to be executed, what is the

[2017-05-31 19:54] rafaeleyng commented on #1258
I will give my experience at this: some months ago, even already being a Webpack user for 1 year and having worked with RequireJS, I tried to setup code splitting with Webpack following the guides, and I was unable to get it working.

I'm planning to check it again the next few days, so I can give a more up-to-date feedback then.

[2017-05-31 20:13] rafaeleyng commented on #970
In [this article](https://medium.com/webpack/webpack-http-2-7083ec3f3ce6) by @sokra it says (highlights are mine):

So, we have "multiple chunks" (which I still don't know what are, at this moment, whether they are the files or just parts of the code inside the files).

But the second highlight is even more confusing, because it says that every chunk will be loaded by multiple script-tags, so I un

[2017-05-31 21:54] skipjack commented on #970
I'm pretty sure he means a script tag is needed to load each of the _multiple chunks_ he mentioned in the previous statement. I agree the wording is not perfect. I think your initial thought...

is correct. And the answer to:

is no. @TheLarkInn @sokra can you clarify.

Sure, let's see what the rest of the team says and then we can update the definitions and potentially some concept pages to refle

[2017-06-01 02:47] skipjack commented on #1258
Yes, these docs are still very much a work in progress. We're still catching up a bit with the backlog but we're slowly starting to clean the existing content up as well. I think many of them can be simplified, re-organized, and some should be significantly reduced in scope. For an example, see #1251 -- it includes more than just guides work but I'd be interested in your thoughts on the simpler HM

[2017-06-01 03:54] skipjack commented on #1257
Can you take a look at the changes in #969 and let me know if the guide is valid so we can push it forward?

[2017-06-01 04:17] webpack-bot opened #1263 "Guides - Error in Code Splitting Example"
**Do you want to request a *feature* or report a *bug*?**

Bug in documentation

**What is the current behavior?**

In this doc section: https://webpack.js.org/guides/code-splitting-async/#usage-with-babel
there is a sample config file with:
[code]
But using this config produces an error that 'modules' is not an option for this preset:

[code]

**If the current behavior is a bug, please provide th

[2017-06-01 04:27] bebraw commented on #970
A couple of quick points:

* I consider webpack output files (JavaScript) as bundles (that's what a bundler emits).
* Bundles contain chunks.
* Same chunks may be included in multiple bundles. Example: `CommonsChunkPlugin` default behavior. This is why it has those `async` and `children` flags so you can decide what to do with the common chunks across multiple bundles (whether to leave them to sep

[2017-06-01 04:48] johnnyreilly commented on #1257
The changes in #969 look valid to me - I don't think source-map-loader is required.

[2017-06-01 09:51] bebraw opened #1264 "Node shimming doesn't allow `empty` anymore"
1. https://webpack.js.org/configuration/node/
2. Using `"empty"` yields the following:

[code]

It's either core bug or documentation bug. This might have changed in webpack 2.

[2017-06-01 12:21] bebraw commented on #1264
Looks like `empty` is actually possible for some values. It's just the wording "each value is one of the following" that misled me a bit. Maybe it could be a little clearer.

[2017-06-01 15:16] TheLarkInn commented on #970
I'll try to paint this as clear as possible in the simplest explanation:

### A chunk is a bundle.
Yes a chunk is a bundle. `Chunk` the class is the encapsulation for parts of your dependency graph.

### There are three classifications of `Chunks`:
* Entry chunk - an entry chunk is an emitted file which contains the webpack runtime code. An example of that runtime code looks like this.

[code]

Th

[2017-06-02 23:33] #1257 closed

[2017-06-03 14:08] skipjack commented on #1258
@TheLarkInn I agree and even just moving the "Managing Built Files" guide up in the order of guides (maybe even to right after "Getting Started") would help significantly as well. I found @sokra's comment from the other day really helpful in understanding webpack and how it should be looked at:

webpack is a low level tool

I think webpack should be made as approachable and easy to get started wit

[2017-06-03 14:13] #86 closed

[2017-06-03 14:13] #88 closed

[2017-06-03 16:23] skipjack commented on #1263
@ksnyder I tried to test this on a project of mine and I wasn't able to replicate the error. Can you run `npm outdated` to make sure you're on the latest version of babel and the babel-loader? Also, not sure if this will affect anything but the `syntax-dynamic-import` plugin isn't needed anymore as the latest version of webpack supports `import()` out of the box.

[2017-06-03 16:30] skipjack commented on #942
Closing due to inactivity... please re-open with details on exactly what pages/sections need updating.

[2017-06-03 16:30] #942 closed

[2017-06-03 16:37] skipjack commented on #805
Closing due to inactivity... please re-open with answers to the questions above if this is still an issue. @simon04 I'd be glad to help with these if there are still any left that don't have good descriptions however I still think creating issues on the actual repos that lack the content makes more sense and will be easier to push forward (although maybe I'm still not understanding the actual issu

[2017-06-03 16:37] #805 closed

[2017-06-03 17:17] bebraw commented on #1263
The Babel plugin is most likely needed as dynamic import isn't in the specification yet and Babel has to be able to parse the syntax somehow.

[2017-06-03 17:20] skipjack commented on #1263
Idk I just used `import()` the other day in a project transpiled with babel and had no issues. I think with `modules: false` babel ignores it.

[2017-06-03 17:24] bebraw commented on #1263
Ah, ok. Great to know. 👍

[2017-06-03 17:29] skipjack commented on #1264
So maybe changing that lead-in like so:

[code]

[2017-06-03 17:46] bebraw commented on #1264
Works for me.

[2017-06-03 19:46] #545 closed

[2017-06-03 22:55] #1264 closed

[2017-06-03 23:15] skipjack commented on #577
Starting to work on this now. I found a good description of the base `recordsPath` option from @bebraw [here](https://survivejs.com/webpack/optimizing/separating-manifest/#using-records) but I still need more info on `recordsInputPath` and `recordsOutputPath`.

@nmaves have you read that [SurviveJS article](https://survivejs.com/webpack/optimizing/separating-manifest/) before? Or the [caching guid

[2017-06-04 02:28] rafaeleyng commented on #970
Thanks for the discussion guys, it did help to clarify the topic.

[2017-06-04 12:11] bebraw commented on #577
@skipjack `recordsPath` is equal to `recortsInputPath` and `recordsOutputPath` set to the same value. I think the design would be better if we had `records: { input, output }` but it is what it is right now. Essentially the two fields exist if you want to load records from a different source than which you are writing into.

[2017-06-05 04:27] smably opened #1268 "API - Clarify Upgrade Path for Deprecated Functionality"
Reading through the loader documentation, I noticed that `this.exec` is deprecated, but the docs don't mention why it was deprecated or whether there is a different API that should be used in its place. This would be helpful information for loader authors, especially since webpack-maintained loaders that rely on this functionality ([e.g.](https://github.com/webpack-contrib/extract-text-webpack-plu

[2017-06-05 14:04] skipjack commented on #1268
Sounds reasonable, thanks for pointing this out @smably. Once we figure out the answer to this would you be interested in submitting a pr to resolve this?

@webpack/documentation-team can someone point us to the replacement method or new workflow that replaced `this.exec`?

[2017-06-05 14:46] smably commented on #1268
Yes, I'd be happy to open a PR to fix this!

[2017-06-06 05:45] donaldpipowitch commented on #1257
I followed the guide, but run Babel after TypeScript  and it looks I can only get the source map for my code *after* TypeScript run.

E.g. I have a file like this (`foo.tsx`):

[code]

`'test'` is logged correctly to the console and it shows `foo.tsx:9` (correct name, wrong line). Clicking on `foo.tsx` shows this file:

[code]

(Here is the `console.log` on line 9.)

Any idea why?

[2017-06-06 06:29] johnnyreilly commented on #1257
Do you have these set correctly?

[2017-06-06 07:33] donaldpipowitch commented on #1257
Well you _can_ check out our setup, but it's quite big. We have a similar tool like `create-react-app` called [`ws` (linked to v2 branch)](https://github.com/Mercateo/ws/tree/v2). It also contains examples.

The webpack config for an single page app is created [here](https://github.com/Mercateo/ws/blob/v2/src/lib/webpack/spa.ts).

Already cloned ts-loader earlier today, because of the examples 😄 W

[2017-06-06 08:01] johnnyreilly commented on #1257
Great - thanks for reporting back. Be great to hear what the difference is (if you find it)

[2017-06-06 08:03] johnnyreilly commented on #1257
BTW you might find the fork-ts-checker-webpack-plugin / happypack examples useful if you'd like faster build times. I'm planning to blog about these but haven't got round to it yet

[2017-06-06 09:44] donaldpipowitch commented on #1257
Found the bug https://github.com/Va1/string-replace-loader/pull/28.

[2017-06-06 10:17] johnnyreilly commented on #1257
Great work!

[2017-06-06 12:21] #577 closed

[2017-06-06 12:23] skipjack commented on #970
@rafaeleyng so based on the discussion do you think the glossary descriptions (or any other piece of the docs) should be updated? If so, any ideas on how to alter those descriptions to clarify things? We'd definitely welcome a PR if you're interested in submitting one.

[2017-06-07 17:12] jkrems opened #1274 "Guides - Correct Example in Code Splitting"
Section of the website: https://webpack.js.org/guides/code-splitting-async/#dynamic-import-import-

I'm not sure if it's by design but the moment example, as written, is not supposed to work with the "real" dynamic import:

[code]

According to the spec, `import(specified)`...

And that namespace object will never be a callable function. So the example should read something like this to be spec-co

[2017-06-07 17:54] rouzbeh84 commented on #1085
@skipjack While I agree that it doesn't solve this issue I don't think it's bad that index pages would essentially become brief intros w/hotlinks to the section as a whole I guess? I do see that some Intro pages are wildly diff (i.e. `/guides` v `/api` v /`concepts` etc) possibly making a 'one size fits all' solution a bit more difficult...

Would the 'Introduction' page have to just nest the sect

[2017-06-07 18:02] skipjack commented on #1274
Ah good catch -- yes it is the `module` that is returned so `module.default` I think would have to be referenced first. I'm not sure how this works with other types of modules but definitely for ES6 this is how `import()` works. Would you be interested in submitting a pr to resolve this? (while it is slightly hacky, your `moment.default().format()` is correct)

[2017-06-07 19:02] jkrems commented on #1274
I can try it out but I don't really have a project with webpack set up right now (so I don't think I would get around to it today).

[2017-06-07 20:55] skipjack commented on #1274
No problem, I'll pr this correction shortly.

[2017-06-08 12:03] skipjack commented on #1085
Yeah "one size fits all" would probably be tough but maybe keeping an `index.md` and specifying one of a few "templates" would work. Something like this could be done in phenomic I think but not in our current setup.

We do have access to all the page data from anywhere we want so you wouldn't have to hardcode this, if that's what you're asking. I don't really think a dropdown is the way to go (al

[2017-06-08 12:37] rafaeleyng commented on #970
@skipjack I would like to submit the PR, but to be honest, I still don't fully understand the difference. I just didn't want to push the discussion further. Didn't want to be too picky, you know. I think the only way for me to understand to the level that I would like is to study deeply the code, but I don't see that happening anytime soon.

[2017-06-08 12:52] skipjack commented on #970
@rafaeleyng yea I totally understand, I think the discussion did help a bit but we definitely didn't reach a super-concise answer to this question. I'll discuss with the team a bit more and I might take a stab at improving the definitions myself.

[2017-06-10 14:08] iTob191 opened #1282 "Config - Clarify Aliasing Example"
https://webpack.js.org/configuration/resolve/#resolve-alias:

I'm not sure if I really got how the trailing `$` works, but if so, I think the explanation for `import Test2 from 'xyz/file.js'` is wrong. As I understand it, `'xyz/file.js'` is not an exact match for the alias `xyz$`, so webpack does not even consider this alias for resolving and therefore never even tries to find `/path/to/file.js/fi

[2017-06-10 15:46] skipjack commented on #36
It seems this is complete with the `/content/api/plugins` pages which include a tapable page. If there's anything left it probably tackled with more targeted issues/prs. One thing we do need to do is make this section more visible (i.e. the only way to get to it now is from the `/api/index.md` link but that can be addressed in #438, #1153 and #980.

[2017-06-10 15:46] #36 closed

[2017-06-10 15:49] skipjack commented on #16
@vvo good catch -- I updated the link in that comment. By any chance would you be interested in taking a stab at completing that guide?

[2017-06-10 15:50] skipjack commented on #37
Closing for the same reason mentioned in #36. Let's open more targeted issues/prs if there's still work left to do.

[2017-06-10 15:50] #37 closed

[2017-06-10 16:15] skipjack commented on #123
@wzup closing for inactivity but please see the new CommonsChunkPlugin page I linked to above and let us know if the problem persists.

[2017-06-10 16:15] #123 closed

[2017-06-10 16:22] skipjack commented on #314
@sokra I'm going to close this one as it's a bit dated -- and I think certain things were already tackled in separate prs (like merging output content into the config page). I just started an overarching review of guides with @TheDutchCoder in #1273 (see #1258 as well) and plan to do a heavy review of the other sections once we have much of the backlog complete. I'll definitely ping you and the re

[2017-06-10 16:22] #314 closed

[2017-06-10 18:16] skipjack commented on #106
Hmmm I wonder where this would fit in our new site seeing as we decided to leave out the browserify guide (see #41). Maybe somewhere in one of the two __Module API__ pages? Or actually maybe in some debugger guide (kind of like what's discussed in #90)? I haven't seen too much discussion around this so maybe the stack overflow question is enough though we could link to it somewhere in the docs.

[2017-06-10 21:17] skipjack commented on #128
It seems this is done between the [How to write a plugin doc](https://webpack.js.org/development/how-to-write-a-plugin/) and the [plugin api docs](https://webpack.js.org/api/plugins/). @IngwiePhoenix closing but definitely let us know if anything is missing from that documentation.

[2017-06-10 21:17] #128 closed

[2017-06-10 21:51] skipjack commented on #127
Please see #970... if that doesn't help please re-open with more details on what you don't understand about chunks or chunking so we can figure out how to resolve this issue.

[2017-06-10 21:51] #127 closed

[2017-06-12 04:20] skipjack commented on #480
@webpack/documentation-team any idea what's involved to get this documented? It seems the [stats configuration](https://webpack.js.org/configuration/stats/) page may need to updated and something would have to be added in the [API docs](https://webpack.js.org/api/)? This is a part of webpack I'm not too familiar with but I'd be happy to help push this forward however I can.

@donaldpipowitch where

[2017-06-12 04:21] skipjack commented on #480
There's also [this small section](https://webpack.js.org/api/plugins/compiler/#multicompiler) on the `MultiCompiler`.

[2017-06-12 04:43] skipjack commented on #295
@chikathreesix the tool looks awesome based on the video, thanks for keeping us posted! It seems we currently have two translated versions of these docs in the works and only one, the chinese version, in production. @lcxfs1991 @Lutece what do you think of switching over to a setup like this? Would this make things a bit easier for you?

Maintaining the translations in this repo would be a big shif

[2017-06-12 04:51] skipjack commented on #34
I'm going to close as there are now multiple places where actual error messages are mentioned in the parts of the documentation where they apply. Seeing that we have a search bar, I think they are easily discoverable and, if we started linking to bits of the docs in the error messages themselves, I think we'd be in a pretty good place. If people still feel strongly about this and have the time to

[2017-06-12 04:51] #34 closed

[2017-06-12 05:21] skipjack commented on #131
Let's close and merge this discussion with #652.

[2017-06-12 05:21] #131 closed

[2017-06-12 05:26] skipjack commented on #652
@jouni-kantola I think between @timse's [post](https://medium.com/webpack/predictable-long-term-caching-with-webpack-d3eee1d3fa31) and the [caching guide](https://webpack.js.org/guides/caching/) we can probably push this past the finish line. We should definitely link to @timse's post from that guide and make any other changes necessary to bring it up to date. Once that happens, I think this issue

[2017-06-12 05:32] skipjack commented on #132
See webpack/webpack#2113 where @TheLarkInn has already provided the details for the `auxiliaryComment` property with `output` configuration.

[2017-06-12 05:55] skipjack commented on #140
So the `ContextReplacementPlugin` is now documented [here][1]... @datapimp I know this conversation dates a back a bit but would you be interested in reviewing and updating that page based on this conversation? Maybe there's a few other related pages that can be updated as well? I, and I'm sure @TheLarkInn as well, would be glad to facilitate in any way we can.

[1]: https://webpack.js.org/plugins

[2017-06-12 08:01] jouni-kantola commented on #652
Hello! Sorry for not getting back to you guys in quite some time. The reason why I created this issue and went through the steps in the gist is to make developers aware that many things will affect long-term caching.

If @timse's post is the baseline for creating long-term cacheable assets, I think that should be the caching docs from now on. Added to that I think many steps could be elaborated a

[2017-06-12 08:12] jouni-kantola commented on #652
Regarding official webpack blogs posts that basically are written to be docs, I think they should be created in the docs repo directly. Redundant information is one of the reasons https://github.com/webpack/webpack/issues/1315 is what it is. Many sources of truth just adds to confusion (/cc @TheLarkInn & @sokra).

[2017-06-12 14:23] skipjack commented on #141
@sorka can you give a little more detail on `inputFileSystem` (e.g. how/where it's passed and used)? Seems like we could just add the docs to [this page](https://webpack.js.org/api/plugins/compiler/#components/sidebar/sidebar.jsx).

[2017-06-12 14:27] skipjack commented on #151
The `test` option is documented now on the [`SourceMapDevToolPlugin` page](https://webpack.js.org/plugins/source-map-dev-tool-plugin/). @bebraw do you think there's left to do for this one?

[2017-06-12 14:36] skipjack commented on #152
The current comparison lives [here](https://github.com/webpack/webpack.js.org/blob/master/content/guides/comparison.md) in case anyone was wondering. It doesn't seem that SystemJS is mentioned anywhere there so maybe adding a column would be good.

@TheLarkInn yeah it seems maybe this could go somewhere in concepts as it's a bit more general? Or maybe a section or two under the comparison table wo

[2017-06-12 14:45] skipjack commented on #154
I've definitely run into this too. For now I just use `const package = require('package')` in my webpack configs instead of `import` but it would be nice to have this just baked into node. I've tracked a few threads relating to that and it doesn't sound like that's coming in the short term unfortunately. Maybe just adding a small section to [this page](https://webpack.js.org/configuration/configur

[2017-06-12 14:55] skipjack commented on #176
This would definitely be cool but I think should only be done for major releases (at most maybe the most recent minors as well). This requires that the docs are fully up to date and I think something like what we were discussing at the end of #1017 could work. I think once the backlog is done we can re-open that pr and discuss this a bit more. IMHO synchronizing tagged releases with the tool itsel

[2017-06-12 17:50] bebraw commented on #151
Time to close.

[2017-06-12 17:50] #151 closed

[2017-06-13 01:53] jiyinyiyong commented on #86
@skipjack sorry I didn't read the notifications. Going though bad time for me. What was the problem? I thought it should "rerun"?

[2017-06-13 08:40] webpack-bot opened #1286 "Config - Clarify Dependencies in Configuration Languages"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
If your webpack.config.* is in a non-javascript language, webpack will very conveniently use an appropriate transpiler to run it, but only if you have all the required packages installed, as listed on the [js-interpret extensions map](https://github.com/js-cli/js-interpret). This would be fine, ex

[2017-06-13 08:43] webpack-bot opened #1287 "Tutorial link for webpack 2.x returns a 404"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

The "tutorial" link under "webpack 2.x" at https://webpack.github.io/ returns a 404. It looks for https://webpack.js.org/guides/get-started which doesn't exist.

**If the current behavior is a bug, please provide the steps to reproduce.**

1) Go to https://webpack.github.io/
2) Click "tutorial" under

[2017-06-13 08:48] simon04 commented on #1287
Regression of #1273. `antwar.config.js` needs to be adapted: https://github.com/webpack/webpack.js.org/blob/da33ad9a39991ac922f89cb1409feba7c23042fa/antwar.config.js#L42-L44

[2017-06-13 09:41] mojosoeun commented on #1189
@Lutece Hi, Lutece. I want to contribute korean translation project! Could I join the project?

[2017-06-13 12:40] webpack-bot opened #1288 "Guides - Inconsistent Bundle Sizes"
**Do you want to request a *feature* or report a *bug*?**
Report confusion from documentation

**What is the current behavior?**
I'm following the link https://webpack.js.org/guides/code-splitting-libraries/
The link says that both of below are same in achieving results:

**Block 1:**
[code]
and

**Block 2:**
[code]

However, the results are different.
The 2nd code is **further** decreasing the si

[2017-06-14 02:04] #1287 closed

[2017-06-14 02:49] skipjack commented on #273
@ecarlisle are you still interested in submitting a PR?

A PR from a fork would be great to start. However, if we see that you're contributing often, we may add you as a contributor so you can clone and push branches on the main repo. Re workflow, it's pretty straightforward, just use `npm start` to start the development server. You can look at the other scripts we have but that's all you should n

[2017-06-14 03:03] skipjack commented on #469
Related: #473

[2017-06-14 03:24] skipjack commented on #569
@webpack/documentation-team is there a consensus to my question above? I think if the answer is that `rules`, `use`, and `options` are what we want to stick with then we should:

- Make it clear that's what's recommended
- Note the support for old semantics with a warning for when they will be dropped
- Clean up usage throughout the site to reflect the recommended practice

@dmitriid if that is th

[2017-06-14 03:31] skipjack commented on #756
Let's move this conversation to #273. Also feel free to comment on #686 for any short-term fixes (I'll add a PR soon).

[2017-06-14 03:31] #756 closed

[2017-06-14 08:06] rouzbeh84 commented on #469
@skipjack very related. I think mermaid is a very cool to for this kind of stuff. FYI the link above for the image is still live [here](https://knsv.github.io/mermaid/live_editor/#/edit/Z3JhcGggUkwKICBzdWJncmFwaCBXRUJQQUNLCiAgICBBPmFib3V0LmpzIF0tLi0-RXthYm91dH0KICAgIEI-YWJvdXQuY3NzXS0uLT5FCiAgICBDPmhvbWUuanMgXS0uLT5Ge2hvbWV9CiAgICBEPmhvbWUuY3NzXS0uLT5GCiAgICBHPnJvdXRlcy5qc10KICAgIEUtLi0-RwogICAgRi

[2017-06-14 09:10] Lutece commented on #1189
@mojosoeun Sure! I sent you an email for the invitation and i made a slack channel for webpack-korea. if you want to talk to me any time, please join the slack channel

[2017-06-14 09:15] mojosoeun commented on #1189
@Lutece OO Thank you :)

[2017-06-14 17:15] skipjack commented on #469
@rouzbeh84 yeah and I'm definitely glad you started playing around with it -- this would be an awesome thing to push forward when we can.

Another related one: #487

[2017-06-14 17:18] skipjack commented on #86
@jiyinyiyong no worries. It does but that log message get's a bit lost, note the "loading lib 4" and "accepting lib" above it:

![image](https://user-images.githubusercontent.com/8988697/27145410-b6aee7d4-5103-11e7-8325-03179ae202ee.png)

See the updated [HMR guide](https://webpack.js.org/guides/hot-module-replacement/) -- I used your repo for inspiration.

[2017-06-14 17:31] skipjack commented on #652
@jouni-kantola no worries, and I'm glad we agree on how it should be updated. I've been cleaning up issues and trying to turn the remaining ones into actionable items that we can continue knocking off the list.

I agree although I do think the blog serves a slightly different purpose for more loose discussion and walkthroughs. However, we need to be better about first, _finishing the backlog_, and

[2017-06-14 17:44] jiyinyiyong commented on #86
Glad it helped.

I was confuse about this sentence:

Then I recalled that I was told on Twitter that for `import`/`export` it's different, ES modules does not need a `require()` while ES5 does, a little difference:

https://github.com/minimal-xyz/minimal-webpack-hmr/blob/master/src/index.js
https://github.com/minimal-xyz/minimal-webpack-esm-hmr/blob/master/src/index.js

so... that explaines "outda

[2017-06-14 20:26] pastelsky commented on #469
Mermaid with custom styling looks pretty good. If we can get a good color scheme to go with all of the diagrams, that would be great.

[2017-06-15 03:37] skipjack commented on #469
I was also thinking about @jaydenseric's point about the grungy look:

Seeing as it's just an SVG, we should be able to do this using a single "grungy" png for the background that's used in each element with a different color filter, but only loaded once. Although maybe I've overlooked something about how mermaid works.

[2017-06-15 03:50] skipjack commented on #86
I was actually referring to your npm packages -- maybe one was outdated (e.g. webpack or some child dep) that was causing you not to see it work. Because I didn't really have to make any changes to your repo to get it working.

Your point about the difference between `import` vs `require` with HMR is correct though, at least from my understanding. They mention the same thing in the react-hot-loade

[2017-06-15 04:02] jiyinyiyong commented on #86
Oh, someone fixed it for me. https://github.com/minimal-xyz/minimal-webpack-hmr/pull/1/files

[2017-06-15 04:28] skipjack commented on #1282
I believe you are correct `xyz$` should only match `import Test1 from 'xyz';` and not throw an error for the second one. However, I would leave the `path.resolve(...)` in as developers will have to include the full path through their whole file system, not just the path within their directory (i.e. `/Users/Me/Desktop/Project/Test/path/to/file.js` not just `/path/to/file.js`). @bebraw do you agree?

[2017-06-15 04:33] bebraw commented on #1282
@skipjack Yup, that's the way the match works.

[2017-06-15 04:36] skipjack commented on #1282
@iTob191 so if you'd be interested in submitting a pr with this change you mentioned:

[code]

That would be great.

[2017-06-16 09:03] Lutece commented on #295
@skipjack  I used translating solution 'transifex' last year, I thought that 'Locki' is good for maintenance. I am expected to finish translating at the beginning of July. Should I use 'Locki' when I finish translating

[2017-06-16 13:58] skipjack commented on #295
Transifex looks interesting but we need something that's free for open source I think.

Keep working on your repository for now. Once you've put up the site we can add a link to the korean version in our language dropdown. We'll keep this open and ping you if we decide to make the switch to the Locki. Like I said, we probably want to work through more of our backlog first and then possibly make th

[2017-06-16 14:35] chikathreesix commented on #295
@skipjack @Lutece Thank you so much for checking it out!

Let me clarify that Locki will be deprecated so please consider using [GitLocalize](https://gitlocalize.com). I believe [GitLocalize](https://gitlocalize.com) would fit your needs more.

Transifex previously provided the tool for free for OSS but not sure now and they don't support Markdown file AFAIK.

As @skipjack pointed out, currently G

[2017-06-16 14:45] skipjack commented on #295
Ah thanks for that clarification, that would make me feel a lot more comfortable switching over. Re "Locki" / "GitLocalize" terminology -- point taken. I'll update the title of this issue.

[2017-06-17 09:11] vijayst commented on #126
For me, the prefetch plugin does not seem to work. I have about 2000 modules. I pre-fetched about 40 modules. And the maximum length of the call chain in analyse tool (hints) is only 4. But there was no reduction in webpack build time. It is still around 140 seconds.

[2017-06-18 03:04] joshmosh opened #1300 "Index - Link to Concepts/Loader Docs"
I recently have made the move to Webpack from the Rails asset pipeline and found myself incredibly confused when getting familiar with the concepts. The first experience I had with Webpack was actually with Rails 5.1 via the Webpacker gem and fell in love. Since I enjoyed the experience so much I thought I would go ahead and try out setting up things on my own and found myself incredibly confused

[2017-06-18 03:12] skipjack commented on #1300
@joshmosh sure, would you like to submit a PR to add a link somewhere on the index page? Did you have any thoughts on where? Also, re the guides -- we're in the process of reviewing, editing, and cleaning them up now (see #1258). We'll keep this in mind as we go and, in fact, after the recent re-ordering of guides in #1273 the [third guide](https://webpack.js.org/guides/asset-management/) does tou

[2017-06-18 03:13] #1282 closed

[2017-06-18 03:19] skipjack commented on #1274
@jkrems hey so I actually tested this out before updating the documentation:

![image](https://user-images.githubusercontent.com/8988697/27257804-d790edb0-53b2-11e7-9e54-2a470dc2398b.png)

and in the console:

![image](https://user-images.githubusercontent.com/8988697/27257807-e5a34d26-53b2-11e7-8c93-1cc54c3e9d33.png)

The key here is that it depends on how the library or module is written and exp

[2017-06-18 03:19] #1274 closed

[2017-06-18 13:24] #1286 closed

[2017-06-19 05:31] ecarlisle commented on #273
I'm sorry, I fell off the planet for a bit.  I'm back now and happy to follow-up.  Should we re-open this issue or add new?  Thanks!

[2017-06-19 15:27] joshmosh commented on #1300
@skipjack Yeah! I have a few ideas of how this could be added to the homepage. I'll definitely keep all this movement in mind before starting. I'll familiarize myself with everything.

I'm looking forward to helping! Thanks!

[2017-06-19 16:08] stof opened #1306 "Dev - Link Usage in Headers"
The DllPlugin doc puts links inside a heading. this breaks the navigation on the left:
![webpack_dll_doc](https://user-images.githubusercontent.com/439401/27294558-3988adb0-551a-11e7-8008-ede8f70cf4a2.png)

[2017-06-19 22:31] skipjack commented on #273
@ecarlisle no worries. It's still open btw so let's just continue here. If you would be willing to dig into this that'd be great. I have #1303 open now that fixes some other minor issues with the `devtool` doc but you should see @sokra's comments there as they add some helpful explanation (as well as a few more options).

In doing that PR, I'm starting to think that maybe there's a slightly better

[2017-06-20 00:41] TheDutchCoder commented on #1258
So going through the new order and doing work on the guides, I need some feedback on what would be a good approach.

I think "Getting Started" is a great entry point (pun intended) and the follow up "Asset Management" makes a lot of sense as well.

But what should be next I find hard to judge as a new user. Maybe something that explains the `html-webpack-plugin` would be good, so people know how t

[2017-06-20 02:50] skipjack commented on #1258
__Output Management__ does describe the `html-webpack-plugin` which is why I put it after __Asset Management__. I don't think extending the __Asset Management__ guide any more is a good idea as it's already getting pretty long with #1305 (reviewing now). I also think __Code Splitting__ (and all it's variations) are more advanced than __Development__ or __Hot Module Replacement__. I think __Develop

[2017-06-20 03:08] #686 closed

[2017-06-20 03:10] skipjack commented on #1306
@stof thanks for reporting this. I thought we had something in place to deal with that but obviously something went wrong here.

[2017-06-20 07:44] simon04 opened #1318 "Release - Document Version 3.0.0"
Document changes according to https://github.com/webpack/webpack/releases/tag/v3.0.0

- [x] #1309
- [x] #1313
- [x] #1314
- [x] #1315
- [x] #1316
- [x] #1317
- [x] #1320
- [ ] Scope Hoisting (webpack/webpack#4873)
- [x] node_modules no longer mangle to ~ in stats, https://github.com/webpack/webpack/pull/4144 (if needed?)

[2017-06-20 09:59] halfzebra commented on #1318
There's also #4979 for `noParse`

[2017-06-20 10:48] simon04 commented on #1318
That's already covered via #1316.

[2017-06-20 11:48] skipjack commented on #1318
@simon04 awesome! Thank you for tackling this with the rapid fire PRs! Starting to review/merge them now...

[2017-06-20 12:29] TheDutchCoder commented on #1258
Alright sounds good, so we could move Development and HMR under "Basic" and then move Code Splitting and Lazy Loading under Advanced. Let me update the list to reflect that.

[2017-06-20 17:00] edmorley opened #1326 "Webpack vote pack styling broken due to CSS 404"
The vote page (https://webpack.js.org/vote/) is currently displaying unstyled since the CSS file referenced within 404s:
[code]

[2017-06-20 17:08] edmorley commented on #1326
Strangely the file does exist on the gh-pages branch:
https://github.com/webpack/webpack.js.org/blob/gh-pages/fa26aaea11cbddeb377b.css

I'm presuming varnish has cached the 404 having raced with the deploy or something:
[code]

[2017-06-20 18:23] skipjack commented on #1326
I'm seeing the page load fine even after an "Empty Cache and Hard Reload"... are you still seeing the issue or was it only for a moment?

[2017-06-20 18:32] edmorley commented on #1326
The page was consistently broken before, but now works.

Looks like there was another deploy in the meantime that changed the hash, and thus busted the cache, fixing the issue:
[code]

[2017-06-20 18:38] skipjack commented on #1326
Weird, yeah we've run into this once before when a lot of builds were triggered at once. I'm also seeing a lot of pending builds -- assumably because Travis imposes some sort of limiting on builds per day or something?

Is varnish the tool webpack uses for caching sites deployed via `gh-pages`? Your description of the issue makes perfect sense. Is there anything we can do besides spacing out merge

[2017-06-20 20:04] edmorley commented on #1326
Varnish is unrelated to webpack. The response headers referenced cloudflare & fastly (both CDNs) as well as Varnish (a caching reverse proxy, see [here](https://varnish-cache.org/)) - seems like there are multiple layers between webpack.js.org and the gh-pages backing the site.

As for Travis - I was seeing delays on jobs on other repos today too - looks like they had a bit of a backlog earlier:
h

[2017-06-20 21:26] #152 closed

[2017-06-20 21:34] skipjack commented on #1326
Related #845 #709 #1237

@edmorley no problem, thank you for the detailed report. Seeing as it's fixed now I'm going to close as we have some higher priority things to tackle. This definitely isn't the first time it's happened (see related issues above), but if it's just a caching issue I'm not really sure what we can do to resolve this. If somebody has ideas or a plan, please feel free to re-open

[2017-06-20 21:34] #1326 closed

[2017-06-20 21:51] skipjack commented on #1318
Down to two... was scope hoisting tackled by #1309 or is it more of an overarching concept/feature we need to document? I'm happy to help push this forward if there's anything I can do.

[2017-06-20 21:55] skipjack commented on #1318
Is the only change just to the CLI output? Judging from the PR it looks like it. If so, I'd say this doesn't really require any changes. If anything we can go through the docs once things have stabilized a bit and updated all webpack bash output examples to the latest version.

[2017-06-21 05:59] simon04 commented on #1318
#1309 addressed the CLI change only. The changes in https://github.com/webpack/webpack/pull/4873 seem to be larger than that, but I haven't investigated in detail yet. This example is relevant: https://github.com/webpack/webpack/tree/master/examples/scope-hoisting

I think so. It is considered a "breaking change" and thus listed in the release notes. I'm fine with not documenting this one.

[2017-06-21 09:17] bebraw commented on #1326
I think the only real solution would be to push the site to something more robust like Netlify. That would also improve build speeds but would require someone's time to set up.

[2017-06-22 08:47] Lutece commented on #1189
I have a few question about Webpack version.

Translation branch is still version 2.3.3 and my repository is watching translation branch. so my version is 2.3.3 too, how can I change version 2.3.3 to version 3.0.0?

Do I need to update to 3.0.0 after I finish 2.3.3 version?

[2017-06-22 16:29] skipjack commented on #1189
Hmmm so what do you mean by:

Do you mean the version number in the sidebar:

![image](https://user-images.githubusercontent.com/8988697/27444881-c27c2b74-5745-11e7-963d-e0a1a7e7be95.png)

That's dynamic now so if you update your fork it should basically always be on the latest version. One of you could also PR an update to the translation branch if it's behind. @lcxfs1991 @bebraw could probably g

[2017-06-23 08:27] webpack-bot opened #1330 "Plugins - Document `name` Option in i18n-plugin"
**Do you want to request a *feature* or report a *bug*?**
Documentation bug at https://github.com/webpack/webpack/tree/master/examples/i18n

**What is the current behavior?**
The example shows a 'name' key which is not in the webpack documentation (and I assume isn't actually a webpack configuration parameter).

**If the current behavior is a bug, please provide the steps to reproduce.**
N/A

**Wh

[2017-06-23 08:50] jakearchibald opened #1331 "Guides - Issues with Tree Shaking & Production"
I was trying to get tree shaking working. Here are a few notes about the [tree shaking](https://webpack.js.org/guides/tree-shaking/) and [production](https://webpack.js.org/guides/production/) guides:

The article explains what tree shaking is (really well), but it doesn't really cover how to achieve it.

`--optimize-minimize` will do it, but that also throws in uglify, which can make it difficult

[2017-06-23 08:54] jakearchibald commented on #1331
The production guide suggests:

[code]

…will perform tree-shaking, but that plugin appears to be deprecated, and doesn't appear to be handling tree-shaking.

[2017-06-23 11:08] insin commented on #1331
After playing about with this, it seems like Uglify is still responsible for actually removing the unused code - Webpack's role in tree shaking appears to be avoiding generating `__webpack_exports__[id] = whatever` statements for unused ES6 exports so Uglify doesn't count them as "used".

[2017-06-23 11:45] jakearchibald commented on #1331
Yeah, it seems to behave that way. Babili does the same.

I guess the docs led me to think the code removal was performed by webpack.

[2017-06-23 13:40] jakearchibald opened #1333 "Guides - Code splitting seems to miss a basic example"
When reading https://webpack.js.org/guides/code-splitting-libraries/ I was trying to figure out how to create a new file based on the common parts of two entry points.

I guess this is technically what the "vendor" example is doing, but as a first-time reader I didn't realise this, because this is in a page specific to "libraries", whereas I was wanting to avoid duplication in code *I'd* written.

[2017-06-23 14:32] prateekbh commented on #1333
A small comment here, this approach may end up hurting you in certain cases. e.g. if you use some node modules only in a very specific corner case of your application, this will bundle it in your common bundle and you will end up shipping more code than really necessary.

Specifying minChunks will just add the most commonly used node modules in this bundle.
[code]

[2017-06-23 14:39] jakearchibald commented on #1333
@prateekbh yeah, I was hoping to find a way to say "put stuff in vendor.js if it's from node_modules *and* it's already in `common`", but I couldn't find a way to do that.

[2017-06-23 15:05] sokra commented on #1333
This looks great. Would you like to convert this issue into a PR?

[2017-06-23 15:20] jakearchibald commented on #1333
Sure! @TheLarkInn said he had some nits, but I'm happy to start on a PR if the rough structure is ok.

My plan would be to replace "Code Splitting - Libraries" with something structured like above, and rename the article to something like "Code Splitting - JS".

[2017-06-23 15:56] TheLarkInn commented on #1333
Only part I would mention is that:

When you set `name` property to a string value that doesn't match an entry key, it will split the bootstrap code.

In addition many will see

[code]

This is the equivalent of:
[code]

I feel like these are important to clarify but not sure how to make it _flow_.

[2017-06-23 16:04] jakearchibald commented on #1333
I'll try and call out the difference between name & names, but I'm not really sure I understand the difference. For instance, I thought:

[code]

…would behave the same as…

[code]

…but the latter throws an error: ERROR in CommonsChunkPlugin: While running in normal mode it's not allowed to use a non-entry chunk (moment).

[2017-06-23 16:09] TheLarkInn commented on #1333
Then I'll have to verify this in the source (thankfully we have fully documented that plugin src for reasons like this, where what we currently have documented may vary).

Here is what our documentation for this plugin states for each property:

[code]

[2017-06-23 16:10] TheDutchCoder commented on #1333
@skipjack is actually in the process of rewriting this part of the guides. I'm sure he will take a look at this as you put in a lot of effort and we're trying to make the guides more accessible to everyone, specifically beginners.

Thanks for all the hard work!

[2017-06-23 16:28] skipjack commented on #1330
@sokra the linked example is actually in the main repository... so should this be moved back or is there some corresponding docs in this repo? Or do we need to add an entirely new page for this plugin?

[2017-06-23 16:32] skipjack commented on #1330
Also maybe starting to remove some of the `/examples` from the main repo would be a good idea. At least the ones that overlap with the documentation here. I think it really confuses things to have multiple sources of truth.

[2017-06-23 16:55] TheLarkInn commented on #1333
Thank you Jake, we'll make sure we tag you it PR already lands before discussed here.

[2017-06-23 18:25] hovissimo commented on #1330
Having the plugin example in the main repo is definitely confusing.

[2017-06-24 00:29] skipjack commented on #1318
@sokra, or anyone else familiar with this new feature (cc @webpack/documentation-team), could you outline how this changes things for the end user so we can get it documented? I read through [this example](https://github.com/webpack/webpack/tree/master/examples/scope-hoisting) and webpack/webpack#4873, but still don't understand exactly what's changed in terms of usage.

[2017-06-24 01:03] skipjack commented on #1333
@jakearchibald I'll ping you as soon as I have a PR up so we can discuss further. It would be great to have your help on this and other guides as well.

[2017-06-24 01:18] #1306 closed

[2017-06-24 03:45] #154 closed

[2017-06-24 04:14] skipjack commented on #106
I'm going to close for inactivity but if anyone feels strongly about it please re-open and suggest where this documentation might be added.

[2017-06-24 04:14] #106 closed

[2017-06-24 09:03] mika76 commented on #1333
I'm an unknown third party here but I was reading this and trying to understand it until @thelarkinn said the following...
"When you set name property to a string value that doesn't match an entry key, it will split the bootstrap code."

This seems like a pretty bad way of making an interface. Why not have an explicit parameter to tell whether you're splitting bootstrap or not? Currently it will j

[2017-06-24 12:13] skipjack commented on #141
This [section](https://webpack.js.org/api/loaders/#this-fs) seems to be the only one that mentions it so far. Related discussion here as well: webpack/webpack#1562.

It also seems to be somewhat related to the [webpack/enhanced-resolve](https://github.com/webpack/enhanced-resolve) repository and the `**InputFileSystem.js` modules offered there.

[2017-06-24 15:16] twhid commented on #1333
FWIW, I wrote this:
https://github.com/1stdibs/webpack-2-long-term-cache/

Covers some of the same ground.

[2017-06-24 15:34] skipjack commented on #1333
@twhid great thanks. The PR I'll open shortly actually removes most of the caching-related discussion from the code splitting docs and keeps it focused on the various approaches to split code. All the caching discussion should go in the [caching guide](https://webpack.js.org/guides/caching/) instead (which does need some updating, see #652). We're at the point with this site where we've covered mo

[2017-06-24 17:37] skipjack commented on #1263
@ksnyder closing as I'm unable to reproduce this error. If you're still running into this issue please re-open and provide a minimal repository to demonstrate the error.

[2017-06-24 17:37] #1263 closed

[2017-06-24 17:43] skipjack commented on #44
@d3viant0ne @SpaceK33z are either of you still interested in this? Imho this might make more sense as a blog post that we then link to from somewhere in the docs but I don't feel too strongly about it. In the end we may wind up with an __Integrations__ section (instead of just a single page) that contains things like this, _Typescript_, and other integrations. The main goal imo is to keep the core

[2017-06-24 21:41] skipjack commented on #298
@addyosmani hey did you ever make any progress on this? We're doing a big review, cleanup, and synchronization of our guides now so it wouldn't be a bad time. Also does this overlap with #1145?

[2017-06-24 21:48] skipjack commented on #925
Closing for inactivity... @benwiley4000 if you still have ideas of good loaders for reference when learning I would submit a PR to add a `related` section to the YAML front-matter of the Loaders API page.

There is another discussion at #449 if you're interested in discussing or contributing to the `pitch` docs.

[2017-06-24 21:48] #925 closed

[2017-06-24 22:05] skipjack commented on #487
@bebraw let's just hold off on this until #469 is in the works, especially since we need clarification on if this illustration still applies. I referenced this over there so it can always be re-opened when that is started or sooner if we can get an idea of whether it still applies or if it needs updating.

[2017-06-24 22:05] #487 closed

[2017-06-24 22:07] michael-ciniawsky commented on #569
https://github.com/webpack/webpack/pull/5066 `rules`, `use`, `options` is definitely the way to go as it seems :)

[2017-06-24 22:08] skipjack commented on #569
Ah very nice, thanks!

[2017-06-24 22:09] skipjack commented on #1330
Ah so it seems we do have [a page here](https://webpack.js.org/plugins/i18n-webpack-plugin). I'll take a stab at cleaning this up and documenting the missing key.

[2017-06-25 15:57] skipjack commented on #1330
Ah I didn't realize this plugin's documentation is actually pulled in dynamically from the plugin's repository. Moving the issue to webpack-contrib/i18n-webpack-plugin#54 and will try to help push it forward.

[2017-06-25 15:57] #1330 closed

[2017-06-25 15:59] skipjack commented on #940
@TheLarkInn can you take a look at this and tell us what you think? I think 2 - 6 are more clarification and tweaking the existing doc whereas 1 might be a new page or bigger update.

[2017-06-25 17:14] skipjack commented on #473
Using @rouzbeh84's example from #469 I [created the chart][1] from above using mermaid. I'm going to close this now as all we really have to do is push #469 forward at some point and then we can include this (also this discussion just ended up being about Mermaid and implementation anyhow). I'll link this issue there and I'm going to add a checklist in the main description for what we have and wha

[2017-06-25 17:14] #473 closed

[2017-06-25 17:22] skipjack commented on #473
For reference:

![image](https://user-images.githubusercontent.com/8988697/27518233-25393332-59a9-11e7-9048-8c3726bb1417.png)

The styling still needs some work but that's listed as one of the steps in #469.

[2017-06-25 19:08] kevinphelps commented on #480
The @types/webpack type definitions also need updating.

[2017-06-25 19:49] benwiley4000 commented on #925
Ok, sorry for not responding before.

One example is this notion of a loader passing multiple things, casually brought up in the [async loaders section](https://webpack.js.org/api/loaders/#async-loader). My eyes sort of started glazing over when I read that because there is absolutely no reference to any specific pair of loaders which would make use of this kind of hand-off. It sounds like maybe w

[2017-06-25 23:18] skipjack commented on #491
@walfly By schema do you mean type definitions for each property or a page documenting and giving examples all potential properties of the JSON? I guess both would probably make sense. I'd be happy to help push this forward but I think we need more clarification from @sokra before we can really get started (and yeah it would be great if there was already a doc on this somewhere, or at least a comm

[2017-06-26 21:54] skipjack commented on #16
@bebraw those links in @vvo's comment and the slideshare are a good start... do you have anything on SurviveJS already that deals with build performance? Maybe between that and the other information here we'd have a good start. #1337 removes the current stub as it's still all TODOs and makes our current review a bit easier but there's a few ideas there as well (if you view the history).

I'm not f

[2017-06-26 21:55] bebraw commented on #16
@skipjack I have [one chapter](https://survivejs.com/webpack/optimizing/performance/) on the topic.

[2017-06-26 21:56] skipjack commented on #116
Related: #449 -- not sure if these two should be merged or not.

[2017-06-26 22:00] skipjack commented on #16
Ok great, I added the `Help Wanted` tag... hopefully someone sees it and has time to pick this up!

[2017-06-26 22:11] #569 closed

[2017-06-26 22:54] skipjack commented on #925
Have you come across a good example we could link to? @bebraw do you know of any?

I'm glad you were able to figure out what you needed to and yes I know much of our documentation isn't perfectly structured or well-reviewed yet. We get a lot of open source contributions, which is 🎉 , but we're still in the process of building a solid group of reviewers and content writers that continually contribu

[2017-06-26 23:13] tobmaster opened #1340 "Sponsoring company list as incentive"
It would be nice to have a page where companies that regulary sponsor webpack can add job offerings.
So developers can easily spot companies that care and companies find enthusiastic developers.
Would definately be a site I would consider to check when I look for a good company.
@TheLarkInn

[2017-06-27 04:02] skipjack commented on #1340
Idk that increases the scope of this site pretty dramatically. I think making the companies that sponsor us as visible on as possible on the home page is one thing but supporting job offers is a whole other realm of additions. I would vote no but this decision would ultimately be up to @webpack/core-team.

[2017-06-27 05:20] benwiley4000 commented on #925
I'll think on it, and might contribute some if I come across any breakthroughs. For the moment I've decided a loader was too complicated to write/beyond the scope of the problem I needed to solve, but it's still on my radar for sure. Thank you for being patient with me! 😄